{{ 'alert-box.css' | asset_url | stylesheet_tag }}

{%- case type -%}
  {%- when 'success' -%}
    {%- assign icon_path = 'M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z' -%}
    {%- assign variant = 'success' -%}
  {%- when 'warning' -%}
    {%- assign icon_path = 'M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' -%}
    {%- assign variant = 'warning' -%}
  {%- when 'error' -%}
    {%- assign icon_path = 'M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z' -%}
    {%- assign variant = 'error' -%}
  {%- else -%}
    {%- assign icon_path = 'M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' -%}
    {%- assign variant = 'default' -%}
{%- endcase -%}

<div class="alert-box alert-box--{{ variant }}" role="alert">
  <div class="flex items-start">
    <svg
      class="alert-box__icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ icon_path }}" />
    </svg>
    <div class="alert-box__content">
      {% if title != blank %}
        <h3 class="alert-box__title">{{ title }}</h3>
      {% endif %}
      <div class="alert-box__message">
        {{ message }}
      </div>
    </div>
  </div>
</div>
