{{ 'fireworkx-article-card.css' | asset_url | stylesheet_tag }}

<article class="fwx-article-card">
  <a href="{{ article.url }}" class="fwx-article-content motion-reduce">
    <div class="fwx-article-card-info">
      {%- if show_date -%}
        <span class="fwx-published-date">
          {{- article.published_at | time_tag: format: 'date' -}}
        </span>
      {%- endif -%}
      <h2 class="fwx-article-card-title" id="Article-{{ article.id }}">
        {{ article.title | escape }}
      </h2>
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="fwx-article-card-excerpt rte-width">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    </div>
    {%- if show_image == true and article.image -%}
      <img
        src="{{ article.image.src | img_url: '' }}"
        alt="{{ article.image.src.alt | escape }}"
        width=""
        height=""
        loading="lazy"
        class="fwx-card-image"
      >
    {%- endif -%}
  </a>
</article>
