{{ 'fireworkx-article-card.css' | asset_url | stylesheet_tag }}

<article class="fwx-article-card">
  <a href="{{ article.url }}" class="fwx-article-content motion-reduce">
    {%- if show_image == true and article.image -%}
          <div class="fwx-image-container">
            <img
              src="{{ article.image.src | img_url: '' }}"
              alt="{{ article.image.src.alt | escape }}"
              width=""
              height=""
              loading="lazy"
              class="fwx-card-image"
            >
          </div>
    {%- endif -%}

    <div class="fwx-article-card-info">
        <h2 class="fwx-article-card-title" id="Article-{{ article.id }}">
          {{ article.title | escape }}
        </h2>
        {%- if show_author -%}
          <span class="caption-with-letter-spacing">{{ article.author -}}</span>
        {%- endif -%}
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="fwx-article-card-excerpt rte-width">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      {%- endif -%}
      {%- if show_date -%}
        <span class="fwx-published-date">
          {{- article.published_at | time_tag: format: 'date' -}}
        </span>
      {%- endif -%}
      <div class="fwx-article-card-footer">
        {%- if article.comments_count > 0 and blog.comments_enabled? -%}
          <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
        {%- endif -%}
      </div>
    </div>
  </a>
</article>
