<div class="breadcrumbs">

  <a href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a> <span class="divider">/</span>

  {% if template contains "product" %}
    {% if product.collections %}
      <a href="{{ routes.collections_url }}">{{ 'collections.listing.title' | t }}</a>
      {% if collection and collection.url %}
        <span class="divider">/</span>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {% elsif product.collections.size > 0 %}
        <span class="divider">/</span>
        <a href="{{ product.collections.first.url }}">{{ product.collections.first.title }}</a>
      {% endif %}
    {% else %}
      <a href="{{ routes.all_products_collection_url }}">{{ 'collections.collection.all_products' | t }}</a>
    {% endif %}
      <span class="divider">/</span> <span>{{ product.title }}</span>
  {% elsif template contains "list-collections" %}
    <span>
      {{ 'collections.listing.title' | t }}
    </span>
  {% elsif template contains "collection" %}
    {% if collection.handle == 'all' %}
      <span>{{ 'collections.collection.all_products' | t }}</span>
    {% else %}
      <a href="{{ routes.collections_url }}">{{ 'collections.listing.title' | t }}</a> <span class="divider">/</span> <span>{{ collection.title }}</span>
    {% endif %}
  {% elsif template contains "blog" %}
    {% if current_tags.size > 0 %}
      {% capture allTags %}{% for tag in current_tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
      <a href="{{ blog.url }}">{{ blog.title }}</a> <span class="divider">/</span> <span>{{ 'blogs.blog.tag_page_title' | t: tag: allTags }}</span>
    {% else %}
      <span>{{ blog.title }}</span>
    {% endif %}
  {% elsif template contains "page" %}
    <span>{{ page.title }}</span>
  {% elsif template contains "article" %}
    {{ blog.title | link_to: blog.url }} <span class="divider">/</span> <span>{{ article.title }}</span>
  {% elsif template contains "cart" %}
    <span>{{ 'cart.title' | t }}</span>
  {% elsif template contains "404" %}
    <span>{{ 'general.404.title' | t }}</span>
  {% elsif template contains "search" %}
    {% if search.performed %}
      <span>{{ 'general.search.title_after_search' | t }}</span>
    {% else %}
      <span>{{ 'general.search.title' | t }}</span>
    {% endif %}
  {% elsif template contains "customers" %}
    <a href="{{ routes.account_url }}">{{ 'customers.account.title' | t }}</a>

    {% unless template contains "account" %}
      <span class="divider">/</span>

      <span>
        {% if template contains 'activate' %}
          {{ 'customers.activate_account.title' | t }}
        {% elsif template contains 'addresses' %}
          {{ 'customers.addresses.title' | t }}
        {% elsif template contains 'login' %}
          {{ 'customers.login.title' | t }}
        {% elsif template contains 'order' %}
          {{ 'customers.order.title' | t: order_number: order.name }}
        {% elsif template contains 'register' %}
          {{ 'customers.register.title' | t }}
        {% elsif template contains 'reset' %}
          {{ 'customers.reset_password.title' | t }}
        {% endif %}
      </span>
    {% endunless %}
  {% endif %}
</div>