{% comment %}
  Renders button component.
  Accepts:
  - id: {String} button ID
  - variant: {String} button variant (primary | secondary).
  - size: {String} button size (sm | lg).
  - text: {String} button display text.
  - onClick: {Function} click function of button.
  - classes: {String} additional style classes.
  - disabled: {Boolean} is button disabled

  Usage:
  {% render '/buttons/button', variant: 'primary', size:'lg', text: 'Add to Cart', onClick: 'handleButtonClick()' %}
{% endcomment %}

{% assign variant = variant | default: 'primary' %}
{% assign size = size | default: 'sm' %}
{% assign extra_classes = classes | default: '' %}
{% assign text = text | default: 'Button' %}
{% assign btn_classes = 'inline-flex justify-center items-center gap-[10px] rounded-4xl disabled:bg-grey300 disabled:text-grey500' %}

{% if variant == 'secondary' %}
  {% assign btn_classes = btn_classes | append: ' bg-grey50 text-black hover:bg-btnGradient' %}
{% else %}
  {% assign btn_classes = btn_classes | append: ' bg-black text-white hover:bg-sky hover:text-white' %}
{% endif %}

{% if size == 'sm' %}
  {% assign btn_classes = btn_classes | append: ' h-[28px] py-[10px] px-large btn-xs' %}
{% else %}
  {% assign btn_classes = btn_classes | append: ' h-[54px] tabletUp:h-huge px-xl py-md btn-sm' %}
{% endif %}

<button
  id="{{ id }}"
  class="{{ btn_classes }} {{ extra_classes }}"
  type="button"
  {% comment %} onclick="{{ onClick }}" {% endcomment %}
  {% if disabled == true %}
    disabled
  {% endif %}
  type="{{ type }}"
  name="{{ name }}"
>
  <span>
    {{ text }}
  </span>
</button>
