<card-color-swatches class="card-product__color-swatches">
  {%- for option in product.options_with_values -%}
    {%- liquid
      assign picker_type = 'swatch'
      assign tooltip = settings.product_card_tooltip
      assign limit = settings.color_swatches_limit | plus: 0 | times: 1
    -%}
    <fieldset class="js product-form__input product-form__input--swatch">
      {%- unless tooltip -%}
        <legend class="form__label">
          {{ option.name }}
          :
          <span data-selected-swatch-value="{{ option.name }}">
            {{- option.selected_value -}}
          </span>
        </legend>
      {%- endunless -%}
      {% render 'product-variant-options',
        product: product,
        option: option,
        picker_type: picker_type,
        tooltip: tooltip,
        productCard: true,
        limit: limit
      %}
      {% if option.values.size > limit %}
        {% assign colors_left = option.values.size | minus: 5 %}
        <a href="{{ product.url }}">{{ 'products.product.more_variants' | t: count: colors_left | escape }}</a>
      {% endif %}
    </fieldset>
  {%- endfor -%}
  <script type="application/json">
    {{ product.variants | json }}
  </script>
</card-color-swatches>