{%- assign preview_image = product_card_product.featured_media.preview_image -%}
 
<div class="list-view-item">
  <div class="list-view-name-image">
    <div class="list-view-image">
      <a href="{{ card_product.url | default: '#' }}">
        <img
          srcset="{{ card_product.featured_media | img_url: '265x' }} 265w"
          src="{{ card_product.featured_media | img_url: '265x' }} 265w"
          alt="{{ card_product.featured_media.alt | escape }}"
          loading="lazy"
          class="motion-reduce"
          width="80"
          height="80"
        />
      </a>
    </div>
  
    <div class="list-view-name">
      <h3>
        <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
          {{ card_product.title | escape }}
        </a>
      </h3>
    </div>
  </div>

  <div class="list-view-purchase">
    
    <div style="position: relative; z-index: 1;">
      <spark-product-card mode-quick-buy parent-id="{{ card_product.id }}"></spark-product-card>
    </div>
    <div data-spark="b2c-only">
      {% assign hidePricesLoggedOut = true %}
      {%- if hidePricesLoggedOut == true -%}
        <div style="font-size: 14px; position: relative; z-index: 10">
          Please <a href="/account" style="color: #000; text-decoration: underline">sign in</a>  to see  pricing
        </div>
      {%- else -%}
        {% render 'price', product: card_product, price_class: '' %}
      {%- endif -%}
    </div>
    
    
  </div>
</div>  
