{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dialog-polyfill.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'counseling-modal-decorte.js' | asset_url }}" defer=""></script>

<my-dialog id="myDialog">
  <dialog class="tw-w-[600px] tw-max-w-[90%]">
    <div class="page">
      <div class="counseling-content">
        <div>
          <h4 class="md:tw-text-xl tw-mb-4 tw-tracking-wider">お客様の肌状態に関するカウンセリング</h4>
          <div class="tw-bg-gray-100 tw-mb-5 tw-p-5 tw-text-xs">
            <p class="md:tw-leading-8 tw-tracking-widest">
              商品をショッピングカートに入れる際は、下記の項目にご回答いただいております。</p>
          </div>
          <div class="tw-mb-5">
            <p class="tw-text-sm">現在、皮膚科にかかっている、または皮膚科に通院されるような肌トラブル（※）を起こしていますか？</p>
            <p class="tw-mb-4"><small>※肌トラブル：炎症・アトピー・赤味・はれ・かゆみ・刺激
                ・色抜け（白斑等）・黒ずみ等</small></p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q1_1" name="q1" value="1">
              <label for="q1_1" class="tw-inline-block">YES</label>
              <input class="tw-mr-1" type="radio" id="q1_2" name="q1" value="0">
              <label for="q1_2">NO</label>
            </div>
          </div>
          <div class="tw-mb-5">
            <p class="tw-text-sm">過去に化粧品で肌トラブルを起こしたことはありますか？</p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q2_1" name="q2" value="1">
              <label for="q2_1">YES</label>
              <input class="tw-mr-1" type="radio" id="q2_2" name="q2" value="0">
              <label for="q2_2">NO</label>
            </div>
          </div>
          <div class="tw-mb-5">
            <p class="tw-text-sm">自身の肌は、ゆらぎやすく、敏感・不安定ですか？</p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q3_1" name="q3" value="1">
              <label for="q3_1">YES</label>
              <input class="tw-mr-1" type="radio" id="q3_2" name="q3" value="0">
              <label for="q3_2">NO</label>
            </div>
          </div>
          <div class="tw-flex tw-justify-center tw-gap-2">
            <div
                class="close-button tw-basis-1/2 tw-bg-slate-800 tw-text-white tw-text-center tw-p-2 tw-cursor-pointer">
              閉じる
            </div>
            <div
                class="next-page-disable tw-basis-1/2 tw-text-white tw-text-center tw-p-2 tw-bg-gray-300"
            >次へ
            </div>
            <div
                class="next-page tw-basis-1/2 tw-bg-black tw-text-white tw-text-center tw-p-2 tw-cursor-pointer tw-hidden"
            >次へ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="counseling-content tw-p-2 md:tw-p-6">
        <div class="counseling-result">
          <h4 class="md:tw-text-xl tw-mb-4 tw-tracking-wider">お客様の肌状態に関するカウンセリング結果</h4>
          <p class="tw-text-sm tw-text-center tw-p-3 md:tw-p-6">購入前カウンセリングが完了しました。<br/>
            引き続き、お買い物をお楽しみください。</p>
          <div class="counseling-start-action">
            <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width button--primary"
            >
            <span>
                {{ 'products.product.add_to_cart' | t }}
            </span>
            </button>
          </div>
          <p class="tw-mt-6 tw-mb-3 tw-text-sm">ご購入前に、詳しいカウンセリングをご希望の場合</p>
          <div class="tw-gap-2 tw-text-center">
            <a href="https://www.cosmedecorte.com/counseling2/?utm_source=storelist&utm_medium=Sukiya&utm_campaign=counseling" target="_blank" class="tw-no-underline">
              <div
                  class="tw-w-full tw-bg-slate-800 tw-text-white tw-text-center tw-p-2 tw-cursor-pointer"
              >チャートカウンセリング
              </div>
            </a>
            <p class="tw-mt-2"><small>＜外部サイトへ遷移いたします＞</small></p>
          </div>
        </div>
        <div class="counseling-result">
          <h4 class="md:tw-text-xl tw-mb-4 tw-tracking-wider">お客様の肌状態に関するカウンセリング結果</h4>
          <p class="tw-text-sm tw-mb-6">ご購入にあたっては、商品ページにございます商品情報をご確認ください。</p>
          <div class="tw-bg-gray-100 tw-mb-5 tw-p-5 tw-text-xs">
            <p class="tw-p-4 md:tw-leading-8 tw-tracking-widest">
              あわせてご使用前には、念のため腕の内側など目立たないところに少量でお試しいただき、問題がないかご確認の上、ご使用ください。</p>
          </div>
          <div class="counseling-start-action">
            <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width button--primary"
            >
            <span>
                {{ 'products.product.add_to_cart' | t }}
            </span>
            </button>
          </div>
          <p class="tw-mt-6 tw-mb-3 tw-text-sm">今のあなたの肌状態にあわせておすすめのアイテムをご案内します。<br/>
            より詳しいカウンセリングを希望しますか？</p>
          <div class="tw-gap-2 tw-text-center">
            <a href="https://www.cosmedecorte.com/counseling2/?utm_source=storelist&utm_medium=Sukiya&utm_campaign=counseling" target="_blank" class="tw-no-underline">
              <div
                  class="tw-w-full tw-bg-slate-800 tw-text-white tw-text-center tw-p-2 tw-cursor-pointer tw-no-underline"
              >チャートカウンセリング
              </div>
            </a>
            <p class="tw-mt-2"><small>＜外部サイトへ遷移いたします＞</small></p>
          </div>
        </div>
        <div class="counseling-result">
          <h4 class="md:tw-text-xl tw-mb-4 tw-tracking-wider">お客様の肌状態に関するカウンセリング結果</h4>
          <p class="tw-text-sm tw-mb-6">申し訳ございません。販売できません。皮膚科専門医の受診をお勧めします。</p>
          <div class="close-button tw-full tw-bg-slate-800 tw-text-white tw-text-center tw-p-2 tw-cursor-pointer">
            OK
          </div>
        </div>
      </div>
    </div>
  </dialog>
</my-dialog>
