{% assign slug = product.metafields.my_fields.vendor_slug %}
{% if slug == 'cle-de-peau-beaute' %}
{% assign counseling_url = 'https://www.cledepeau-beaute.com/jp/skin-diagnosis/guest' %}
{% endif %}

{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dialog-polyfill.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'counseling-modal-shiseido.js' | asset_url }}" defer="defer"></script>
<style>
  .counseling-start-action #ProductSubmitButton-{{ section_id }}.gPreorderHidden {
    display: block !important;
    visibility: visible !important;
  }
</style>

<my-dialog id="myDialog">
  <dialog class="tw-w-[600px] tw-max-w-[90%]">
    <div class="page">
      <div class="counseling-content tw-p-2 md:tw-p-6">
        <div>
          <h4 class="md:tw-text-xl tw-mb-4 tw-tracking-wider">購入前カウンセリング</h4>
          <div class="tw-bg-gray-100 tw-mb-5 tw-p-5 tw-text-xs">
            <p class="md:tw-leading-8 tw-tracking-widest">お客さまの肌の状態をおうかがいします。<br/>
              こちらのサイトではお買い求めできない場合もありますので、あらかじめご了承ください。</p>
          </div>
          <div class="tw-mb-5 tw-pb-5 tw-border-b tw-border-gray-300">
            <h4 class="tw-text-lg tw-mb-4">質問1</h4>
            <p class="tw-mb-4">
              あなたは現在、皮ふ科にかかっている、または皮ふ科に通院するようなトラブル（炎症やアトピー傾向等）を起こしていますか？</p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q1_1" name="q1" value="1">
              <label for="q1_1" class="tw-inline-block">はい</label>
              <input class="tw-mr-1" type="radio" id="q1_2" name="q1" value="0">
              <label for="q1_2">いいえ</label>
            </div>
          </div>
          <div class="q1_1 tw-mb-5 tw-pb-5 tw-hidden">
            <h4 class="tw-text-lg tw-mb-4">質問1-1</h4>
            <p>あなたは化粧品の使用について、専門医に相談し、許可をもらっていますか？</p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q2_1" name="q2" value="1">
              <label for="q2_1">はい</label>
              <input class="tw-mr-1" type="radio" id="q2_2" name="q2" value="0">
              <label for="q2_2">いいえ</label>
            </div>
          </div>
          <div class="tw-flex tw-justify-center tw-gap-2">
            <div class="close-button tw-basis-1/2 tw-bg-slate-800 tw-text-white tw-text-center tw-p-2">閉じる</div>
            <div
                class="next-page-disable tw-basis-1/2 tw-text-white tw-text-center tw-p-2 tw-bg-gray-300"
            >次へ
            </div>
            <div
                class="next-page tw-basis-1/2 tw-bg-black tw-text-white tw-text-center tw-p-2 tw-cursor-pointer tw-hidden"
            >次へ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="counseling-content tw-p-2 md:tw-p-6">
        <div>
          <h4 class="tw-text-xl tw-mb-4 tw-tracking-wider">購入前カウンセリング</h4>
          <div class="tw-mb-5 tw-pb-5 tw-border-b tw-border-gray-300">
            <h4 class="tw-text-lg tw-mb-4">質問2</h4>
            <p>あなたの肌はもともと敏感・不安定なほうですか？</p>
            <div class="tw-flex tw-items-center">
              <input class="tw-mr-1" type="radio" id="q3_1" name="q3" value="1">
              <label for="q3_1">はい</label>
              <input class="tw-mr-1" type="radio" id="q3_2" name="q3" value="0">
              <label for="q3_2">いいえ</label>
            </div>
          </div>
        </div>
        <div class="tw-flex tw-justify-center tw-gap-2">
          <div class="close-button tw-basis-1/2 tw-bg-slate-800 tw-text-white tw-text-center tw-p-2">
            閉じる
          </div>
          <div
              class="next-page-disable tw-basis-1/2 tw-text-white tw-text-center tw-p-2 tw-bg-gray-300"
          >次へ
          </div>
          <div
              class="next-page tw-basis-1/2 tw-bg-black tw-text-white tw-text-center tw-p-2 tw-cursor-pointer"
          >次へ
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="counseling-content tw-p-2 md:tw-p-6">
        <div class="counseling-result">
          <p class="tw-text-center tw-p-5">購入前カウンセリングが完了しました。<br/>
            引き続き、お買い物をお楽しみください。</p>
          {% if counseling_url %}
            <div class="tw-text-sm tw-flex tw-justify-center tw-gap-2 tw-mb-5">
              <a
                  class="tw-full tw-bg-slate-800 tw-text-white tw-text-center tw-py-2 tw-px-5"
                  href="{{ counseling_url }}"
                  target="_blank"
              >トータルカウンセリングを希望する
              </a>
            </div>
          {% endif %}

          <div class="counseling-start-action">
            <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width button--primary"
            >
            <span>
                {{ 'products.product.add_to_cart' | t }}
            </span>
            </button>
          </div>
        </div>
        <div class="counseling-result">
          <div>
            <p class="tw-mb-4">申し訳ありませんが、<br/>
              本商品はお買い求めいただけません。</p>
            <div class="tw-bg-gray-100 tw-mb-5 tw-p-5 tw-text-xs">
              <p class="md:tw-leading-8 tw-tracking-widest">お肌にトラブルが現れている状態で化粧品をご使用になると、症状を悪化させる可能性がございます。
                まずは化粧品の使用について皮ふ科専門医にご相談ください。</p>
            </div>
            <div
                class="retry-counseling tw-full tw-bg-slate-800 tw-text-white tw-text-center tw-mb-5 tw-p-2"
            >もう一度チェックする
            </div>
          </div>
          <div class="close-button tw-full tw-bg-slate-800 tw-text-white tw-text-center tw-p-2">
            閉じる
          </div>
        </div>
        <div class="counseling-result">
          <div>
            <h4 class="tw-text-xl tw-mb-4 tw-tracking-wider">購入前カウンセリング</h4>
            <p class="tw-mb-4">下記の注意事項をご確認ください。</p>
            <div class="tw-bg-gray-100 tw-mb-5 tw-p-5 tw-text-xs">
              <p class="md:tw-leading-8 tw-tracking-widest">
                サンプルやお店でお試しいただいてからのご購入をおすすめします。<br/>
                過去に化粧品による肌トラブルの経験がある方は、皮ふ科専門医にご相談ください。</p>
            </div>
            {% if counseling_url %}
              <div class="tw-flex tw-justify-center tw-gap-2 tw-mb-5">
                <a
                    class="tw-text-sm tw-full tw-bg-slate-800 tw-text-white tw-text-center tw-py-2 tw-px-4"
                    href="{{ counseling_url }}"
                    target="_blank"
                >トータルカウンセリングを希望する
                </a>
              </div>
            {% endif %}
          </div>
          <div class="counseling-start-action">
            <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width button--primary"
            >
            <span>
                {{ 'products.product.add_to_cart' | t }}
            </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</my-dialog>
