{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}

<cart-notification data-recommened-products-url="{{ routes.product_recommendations_url }}.json">
  <div class="cart-notification-wrapper{% if desktop_menu_type != 'drawer' %} page-width{% endif %}">
    <div
      id="cart-notification"
      class="cart-notification focus-inset{% if color_scheme %} color-{{ color_scheme }} gradient{% endif %}"
      aria-modal="true"
      aria-label="{{ 'general.cart.item_added' | t }}"
      role="dialog"
      tabindex="-1"
    >
      <div class="cart-notification__header">
        <h2 class="cart-notification__heading caption-large text-body">
          {%- render 'icon-checkmark' -%}
          {{ 'general.cart.item_added' | t }}
        </h2>
        <button
          type="button"
          class="cart-notification__close modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a
          href="{{ routes.cart_url }}"
          id="cart-notification-button"
          class="button button--secondary button--full-width"
        >
          {{- 'general.cart.view_empty_cart' | t -}}
        </a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
          <button class="button button--primary button--full-width" name="checkout">
            {{ 'sections.cart.checkout' | t }}
          </button>
        </form>
        <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button>
      </div>
      <div class="cart-notification__recommended-products">
        <product-recommendations
          class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          data-url="{{ routes.product_recommendations_url }}?limit=1"
          data-section-id="{{ section.id }}"
          data-product-id="{{ product.id }}"
          style="padding: 0;"
        >
          {% if recommendations.performed and recommendations.products_count > 0 %}
            {% render 'dump' with recommendations.products %}
            <ul
              role="list"
              style="display: none;"
            >
              {% for recommendation in recommendations.products %}
                {% if recommendation.id != settings.returns_product %}
                  <li data-id="{{ recommendation.id }}">
                    <div class="cart-notification-product">
                      {%- if recommendation.featured_image -%}
                        <div class="cart-notification-product__image global-media-settings">
                          <img
                            src="{{ recommendation.featured_image | image_url: width: 140 }}"
                            alt="{{ recommendation.featured_image.alt | escape }}"
                            width="70"
                            height="{{ 70 | divided_by: recommendation.featured_image.aspect_ratio | ceil }}"
                            loading="lazy"
                          >
                        </div>
                      {%- endif -%}
                      <div>
                        {%- if settings.show_vendor -%}
                          <p class="caption-with-letter-spacing light">{{ recommendation.vendor }}</p>
                        {%- endif -%}
                        <h3 class="cart-notification-product__name h4">{{ recommendation.title | escape }}</h3>
                        <dl>
                          {%- for option in recommendation.options -%}
                            <div class="product-option">
                              <dt>{{ option.name }}:</dt>
                              <dd>{{ option.values.join | join: ', ' }}</dd>
                            </div>
                          {%- endfor -%}
                        </dl>
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </product-recommendations>
      </div>
    </div>
  </div>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
