<div class="cart-item" data-line-item="{{ forloop.index }}" data-id="{{ item.variant_id }}">
  <div class="cart-item__image">
    <img src="{{ item.image | img_url: '100x' }}" alt="{{ item.title }}">
  </div>

  <div class="cart-item__details">
    <div class="cart-item__header">
      <h4>{{ item.product.title }}</h4>
      <button class="cart-item__remove" data-remove-item="{{ item.key }}">&times;</button>
    </div>

    {% unless item.product.has_only_default_variant %}
      <p>{{ item.variant.title }}</p>
    {% endunless %}

    <div class="cart-item__quantity">
      <button class="cart-item__quantity-minus minus" data-update-item="{{ item.variant_id }}">-</button>
      <input
        readonly
        type="number"
        value="{{ item.quantity }}"
        min="1"
      >
      <button class="cart-item__quantity-plus plus" data-update-item="{{ item.variant_id }}">+</button>
    </div>

    <div class="cart-item__price">
      {{ item.line_price | money }}
    </div>
  </div>
</div>

<style>
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    padding: 20px 23px;
    border-bottom: 1px solid #eee;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(147, 71, 143, 0.2);
    border-radius: 8px;

    border: none;
    position: relative;
  }
  .cart-item__price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-top: 0;
  }

  .cart-item__image {
    min-width: 80px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }

  .cart-item__image img {
    width: 100%;
    height: auto;
  }

  .cart-item__details {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-item__header {
    display: flex;
    justify-content: space-between;

    h4 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      color: #000;
    }
  }

  .cart-item__remove {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 9px;
  }

  .cart-item__quantity {
    display: flex;
    margin: 4px 0;
    padding-left: 0 !important;
  }

  .cart-item__quantity button {
    cursor: pointer;
  }

  .cart-item__quantity button,
  .cart-item__quantity input {
    height: 20px;
    text-align: center;
    border: none;
    width: 30px;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number']:focus-visible {
    outline: none;
    outline-offset: none;
    box-shadow: none;
  }

  .cart-item__quantity input {
    margin: 0 5px;
  }
</style>
