{% if settings.collection_swatches %}
  {%- assign file_extension = 'png' -%}

  {% for option in product.options %}
    {%- assign downcased_option = option | downcase -%}

    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {%- assign option_index = forloop.index0 -%}
      {%- assign values = '' -%}

      <div class="collection_swatches">
        {% for variant in product.variants %}
          {%- assign value = variant.options[option_index] -%}

          {% unless values contains value %}
            {% assign values = values | join: ',' %}
            {% assign values = values | append: ',' | append: value %}
            {% assign values = values | split: ',' %}
		    {% if variant.image %}
            <a href="{{ variant.url }}" class="swatch" data-swatch-name="meta-{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}">
                <span {% if section.settings.products_per_row == 2 %}
                      data-image="{{ variant.featured_image | product_img_url: '600x' }}"
                    {% elsif section.settings.products_per_row == 3 %}
                      data-image="{{ variant.featured_image | product_img_url: '500x' }}"
                    {% else %}
                      data-image="{{ variant.featured_image | product_img_url: '400x' }}"
                    {% endif %}
                    style="background-image: url({{ variant.image | product_img_url: 'small' }}); background-color: {{ value | split: ' ' | last | handle }};">
              </span>
            </a>
        	{% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
