{%- liquid
  assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
  assign sizes = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if block.settings.image_mobile != blank
    assign desktop_class = 'desktop_image'
  endif
-%}
<div class="carousel-media">
  {% if block.settings.image != blank and block.settings.image_mobile != blank %}
    {{
      block.settings.image
      | image_url: width: 3840
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: desktop_class
    }}
    {{
      block.settings.image_mobile
      | image_url: width: 3840
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: 'mobile_image'
    }}
  {% elsif block.settings.image != blank %}
    {{
      block.settings.image
      | image_url: width: 500
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: desktop_class
    }}
  {% elsif article.featured_image %}
    {{
      article.featured_image
      | image_url: width: 500
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: desktop_class
    }}
  {% elsif product.featured_image %}
    {{
      product.featured_image
      | image_url: width: 500
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: desktop_class
    }}
  {% elsif collection.image %}
    {{
      collection.image
      | image_url: width: 500
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: desktop_class
    }}
  {% else %}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
{%- if block.settings.heading != blank -%}
  <h3 class="card__heading">
    {{ block.settings.heading }}
  </h3>
{% elsif collection.title %}
  <h3 class="card__heading">
    {{ collection.title }}
  </h3>
{% elsif product.title %}
  <h3 class="card__heading">
    {{ product.title }}
  </h3>
{% elsif article.title %}
  <h3 class="card__heading">
    {{ article.title }}
  </h3>
{%- endif -%}
{%- if block.settings.button_label != blank -%}
  <div
    class="{% if block.settings.button_style == 'link' %} link underlined-link {% else %} button button--{{ block.settings.button_style }} {% endif %}"
  >
    {{ block.settings.button_label }}
  </div>
{%- endif -%}
