{% comment %}
  Renders contact-us-button button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'contact-us-button.js' | asset_url }}" defer="defer"></script>
{{ 'contact-us-button.css' | asset_url | stylesheet_tag }}

<button is="link-button" class="header-link-button" data-url="{{ link }}">
  {{ text }}
  {% if image %}
    <img class="header-link-button__image" src="{{ image | image_url }}" alt="Кнопка">
  {% endif %}
</button>
