<modal-opener class="no-js-hidden" data-modal="#SwitcherModal-{{ section.id }}">
    <button class="link link--text header__icon" type="button" aria-haspopup="dialog">
      <svg xml:space="preserve" width="20" height="20" viewBox="0 0 466.34 466.34">
        <path d="M233.17 0C104.6 0 0 104.6 0 233.17c0 128.56 104.6 233.17 233.17 233.17 128.56 0 233.17-104.6 233.17-233.17S361.74 0 233.17 0zm-9.19 441.87c-22.32 0-46.4-41.38-59.04-107.81H283c-12.64 66.43-36.7 107.81-59.03 107.81zm-62.87-131.73c-2.73-19.99-4.43-41.78-4.88-65.01h135.51a563.41 563.41 0 0 1-4.87 65.01H161.11zM24.52 245.13h107.7a590.47 590.47 0 0 0 4.9 65.01H38.76a207.55 207.55 0 0 1-14.25-65.01zM223.98 24.46c21.99 0 45.7 40.14 58.49 104.88H165.5C178.29 64.6 202 24.46 223.98 24.46zm62.48 128.78a556.58 556.58 0 0 1 5.28 67.97H156.22c.47-24.37 2.3-47.17 5.27-67.96h124.97zm-154.23 67.97H24.53a207.74 207.74 0 0 1 15.32-67.96h97.66a585.46 585.46 0 0 0-5.28 67.96zm183.52 23.92H441.8a208 208 0 0 1-14.24 65.01H310.86a592.18 592.18 0 0 0 4.89-65.01zm0-23.92a590.8 590.8 0 0 0-5.3-67.96h116.03a207.6 207.6 0 0 1 15.33 67.96H315.75zm98.85-91.88H306.62c-7.9-42.07-20.73-78.84-38.2-102.22C330.95 37.8 384.06 76.2 414.6 129.33zm-238.53-97.3c-15.7 23.46-27.34 58.1-34.7 97.31H51.74a209.86 209.86 0 0 1 124.33-97.3zM49.96 334.07h90.9c7.3 40.4 19.13 76.2 35.21 100.26A210.08 210.08 0 0 1 49.96 334.06zm218.45 105.16c17.86-23.94 30.87-61.89 38.7-105.16h109.27a209.7 209.7 0 0 1-147.97 105.16z"/>
      </svg>
    </button>
</modal-opener>
<modal-dialog id="SwitcherModal-{{ section.id }}" class="switcher-popup-modal">
  <div
    role="dialog"
    aria-modal="true"
    class="switcher-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="popup-modal__toggle link link--text switcher-popup-modal__close"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="switcher-popup-modal__content-info ">
      {% if section.settings.ls_popup_title != blank %}
        <h1 class="h2">{{ section.settings.ls_popup_title }}</h1>
      {% endif %}
      {% if section.settings.ls_popup_text != blank %}
        <p>{{ section.settings.ls_popup_text }}</p>
      {% endif %}
      {% if localization.available_languages.size > 1 and section.settings.enable_country_selector %}  
        <localization-form class="no-js-hidden">
          {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}
      {% if localization.available_countries.size > 1 and section.settings.enable_language_selector %}
        <localization-form class="no-js-hidden">
          {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}
    </div>
  </div>
</modal-dialog>