{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
    - countryChoice: pass in the choice of currency symbol or country flag for currency/region selector
{%- endcomment -%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    <span class="localization-form__country-wrapper">
      {% if countryChoice == 'flag' %}
        {{ localization.country | image_url: width: 14 | image_tag }}
        <span class="localization-form__currency">
          {{- localization.country.currency.iso_code }}
          <span>
      {%- else -%}
        {{- localization.country.currency.iso_code }}
        {{ localization.country.currency.symbol }} | {{ localization.country.name -}}
        {% comment %}
          {{ localization.country.currency.symbol }} |
          <span class="localization-form__currency-symbol"> {{- localization.country.currency.iso_code }} <span>
        {% endcomment %}
      {% endif %}
    </span>

    {% render 'icon-caret' %}
  </button>
  <div class="disclosure__list-wrapper" hidden>
    <ul id="{{ localPosition }}List" role="list" class="disclosure__list list-unstyled">
      {%- for country in localization.available_countries -%}
        <li class="disclosure__item" tabindex="-1">
          <a
            class="link link--text disclosure__link caption-large focus-inset{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %}"
            href="#"
            {% if country.iso_code == localization.country.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ country.iso_code }}"
          >
            {% if countryChoice == 'flag' %}
              {{ country | image_url: width: 14 | image_tag }}
              <span class="localization-form__currency">
                {{ country.name }}
                <span>
            {%- else -%}
              {{ country.currency.symbol }} |
              <span class="localization-form__currency-symbol">
                {{ country.name }}
                <span>
            {% endif %}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
