{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    <span>
      {{- localization.country.name }} |
      {{ localization.country.currency.iso_code }}
      {{ localization.country.currency.symbol -}}
    </span>
    {% render 'icon-caret' %}
  </button>
  <div class="disclosure__list-wrapper" hidden>
    <div class="disclosure__list">
      <div class="country-filter__wrapper">
        <div class="field"></div>
        <div class="field">
          <input
            class="country-filter__input field__input"
            type="search"
            name="country_filter"
            id="country_filter_input"
            placeholder="{{ 'localization.search' | t }}"
          >
          <label class="field__label" for="country_filter_input">{{ 'localization.search' | t }}</label>
        </div>
      </div>
      <ul id="{{ localPosition }}List" role="list" class="list-unstyled popular-countries">
        {% assign popular_countries = localization.available_countries | where: 'popular?' %}
        {%- for country in popular_countries -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ country.iso_code }}"
            >
              <span>
                <span class="{% if country.iso_code != localization.country.iso_code %}hide{% endif %}">
                  {%- render 'icon-checkmark' -%}
                </span>
                {{- country.name }}
              </span>
              <span class="localization-form__currency">
                {{ country.currency.iso_code }}
                {{ country.currency.symbol -}}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <ul id="{{ localPosition }}List" role="list" class="list-unstyled">
        {%- for country in localization.available_countries -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ country.iso_code }}"
            >
              <span>
                <span class="{% if country.iso_code != localization.country.iso_code %}hide{% endif %}">
                  {%- render 'icon-checkmark' -%}
                </span>
                {{- country.name }}
              </span>
              <span class="localization-form__currency">
                {{ country.currency.iso_code }}
                {{ country.currency.symbol -}}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
