{% comment %}
  Renders product variant options

  Accepts:
  - availability: {String} Availability of product. Accepts ('in_stock', 'ordered', 'unavailable', 'soon')


  Usage:
  {% render 'delivery-option',
    availability: 'inStock',
  %}
{% endcomment %}

{% comment %}
  convert text to locale settings
{% endcomment %}

{%- liquid
  assign availability = availability | default: 'unavailable'

  assign icon_class = ''
  assign status = ''
  assign text = ''
  assign text_class = ''

  if availability == 'in_stock'
    assign icon_class = ' stroke-green fill-green'
    assign status = 'In Stock'
    assign text = 'Delivery in 2-3 days'
    assign text_class = 'text-green'

  elsif availability == 'ordered'
    assign icon_class = ' fill-green'
    assign status = 'Ordered'
    assign text = 'Delivery in 7-14 days'
    assign text_class = 'text-green'

  elsif availability == 'soon'
    assign icon_class = ' fill-grey500'
    assign status = 'Bald verfügbar'
    assign text = 'Artikel ist ca. ab dem dd.mm.YYYY verfügbar'
    assign text_class = 'text-grey500'
  else
    assign icon_class = 'stroke-red fill-red'
    assign status = 'Not available'
    assign text = 'This item is no longer available '
    assign text_class = ' text-red'
  endif
-%}

<div class="flex gap-mini items-center py-micro">
  <div class="{{ icon_class }} w-base h-base">
    {% case availability %}
      {% when 'in_stock' %}
        {% render 'icon-truck-fast', svgClass: {{icon_class}} %}
      {% when 'ordered' %}
        {% render 'icon-clock', svgClass: {{icon_class}} %}
      {% when 'soon' %}
        {% render 'icon-clock', svgClass: {{icon_class}} %}
      {% when 'unavailable' %}
        {% render 'icon-circle-exclamation', svgClass: {{icon_class}} %}
    {% endcase %}
  </div>

  <h6 class="{{text_class}} text-t-xs !m-[0]">
    {{ status }}
  </h6>

  <p class="text-body-xs">
    {{ text }}
  </p>
</div>
