{% assign easylockdownON = false %} {% assign easylockdownRedirectURL = '' %} {% assign easylockdownPage404Title = '' %} {% assign easylockdownPage404Message = '' %} {% assign easylockdownLocaleRootUrl = '' %} {% for locale in shop.published_locales %} {% if shop.locale == locale.iso_code %} {% unless locale.primary %}{% assign easylockdownLocaleRootUrl = locale.root_url %}{% endunless %}{% break %} {% endif %} {% endfor %}
{% assign easylockdownSuperPage = false %}{% assign proxyPageA = shop.url | append: '/a/' %}{% assign proxyPageApps = shop.url | append: '/apps/' %}{% assign proxyPageCommunity = shop.url | append: '/community/' %}{% assign proxyPageTools = shop.url | append: '/tools/' %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}
{% if canonical_url contains proxyPageA or canonical_url contains proxyPageApps or canonical_url contains proxyPageCommunity or canonical_url contains proxyPageTools %}{% assign easylockdownSuperPage = false %}{% endif %}
{% assign easylockdownNow = 'now' | date:'%s' | times: 1 %}{% assign easylockdownNowWeekDay = easylockdownNow | date:'%u' %}{% assign easylockdownNowMonthDay = easylockdownNow | date:'%d' %}{% assign easylockdownNowHM = easylockdownNow | date:'%H%M' | times: 1 %}{% if customer %}{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}{% endif %}
{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template contains "page" and page %}{% if page.id == 143770681622 %}{% assign easylockdownLockedContent = true %}{% endif %}{% endif %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}login{% endcapture %}
{% endunless %}
{% endif %}
{% endunless %}

{% if easylockdownON %}
  <meta name="robots" content="noindex,nofollow">
  <script type='text/javascript'>
    var redirectTo = '{{ easylockdownRedirectURL }}';
    var easylockdownLoopingProblem=!1;try{"localStorage"in window&&null!==window.localStorage&&("login"==redirectTo&&"/"==window.location.pathname?(localStorage.easylockdownHLLoopingS=parseInt(localStorage.easylockdownHLLoopingS||0)+1,localStorage.easylockdownHLLoopingS>=3&&(localStorage.easylockdownHLLoopingS=0,easylockdownLoopingProblem=!0)):localStorage.easylockdownHLLoopingS=0)}catch(o){}
    if( redirectTo && !(window.frameElement && window.frameElement.id && window.frameElement.id == 'theme-editor-iframe') && !easylockdownLoopingProblem ) {
      if( redirectTo == 'login' ) redirectTo = '{{ easylockdownLocaleRootUrl }}/account/login?checkout_url=' + window.location.href;
      window.location.href = redirectTo;
    }
  </script>
{% endif %}{% if easylockdownRender %}--elhResults--{% if easylockdownON %}1{% endif %}--elhResultItem--{{ easylockdownRedirectURL }}--elhResultItem--{{ easylockdownPage404Title }}--elhResultItem--{{ easylockdownPage404Message }}{% endif %}