{% comment %}
Embroidery control module for PDP 
{% endcomment %}

{% assign embroiderable = product.collections | where:'handle','embroiderable' | size %}  
{% assign embroidery = all_products['embroidery'] %}

{% assign location = customer.metafields.customer_fields.location.value %}



{% if location != blank %}
  {% assign emb_variants = embroidery.variants | where:'option1',location %}
{% else %}
  {% assign emb_variants = embroidery.variants %}
{% endif %}

{% if embroiderable == 1 %}
  {%- comment -%} if product in embroiderable collection, show embroidery ft. {%- endcomment -%}
  <div class="product__accordion accordion">
      <details open>
        <summary
          role="button"
          aria-expanded="false"
          aria-controls="product-embroidery-options-accordion"
        >
          <div class="summary__title">
            <svg
              class="icon icon-accordion color-foreground-text"
              aria-hidden="true"
              focusable="false"
              role="presentation"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.27 5.1l-3.3-3.3a1 1 0 00-.7-.3h-1.2a1 1 0 00-.74.32l-.04.04c-.7.7-1.86.7-2.56 0l-.05-.04a1 1 0 00-.73-.32H4.76a1 1 0 00-.72.3L.74 5.1a1 1 0 000 1.4L2.4 8.16a1 1 0 001.36.05v5.29a1 1 0 001 1h6.5a1 1 0 001-1V8.22a1 1 0 001.35-.06l1.66-1.65a1 1 0 000-1.42zM12.9 7.45L11.26 5.8v7.69h-6.5V5.8L3.11 7.46 1.45 5.8l3.3-3.3.01.01V2.5h1.19l.07.07a2.81 2.81 0 003.98 0l.06-.07h1.2l3.3 3.3-1.66 1.66z"
              ></path>
            </svg>
            <h2 class="h4 accordion__title">Embroidery</h2>
          </div>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-caret"
            viewBox="0 0 10 6"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
              fill="currentColor"
            ></path>
          </svg>
        </summary>
        <div
          class="accordion__content rte"
          id="product-embroidery-options-accordion"
        >
          
          <div id="embroidered-logo">
            <div class="em-logo-wrapper">
              {%- for emb_variant in emb_variants -%}
                  <div class="emb-image-parent" style="position: relative; display: inline-block; line-height: 0;">
                    <input id="{{ emb_variant.id }}" type="radio" name="embroidery" value="{{ emb_variant.id }}" class="emb-front-image-option embroidered-logo-option" {% if forloop.index0 == 0 %}
                      checked
                    {% endif %}>
                    <label class="emb-front-image-label" for="{{ emb_variant.id }}" style="background: url({{ emb_variant.image | img_url }});">{{ emb_variant.option1 }}: {{ emb_variant.price | money }} </label>
                    <input type="hidden" name="logo" value="{{emb_variant.option1}}" >
                  </div>
              {%- endfor -%}
              
            </div>
            <span id="logo-desc"></span>
          </div>
          
          
        </div>
      </details>
    </div>




<style>
  
  .emb-image-parent {
  position: relative;
    display: inline-block;
    line-height: 0;
    width: 100px;
    margin: 0 4px 4px 0px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #A0A0A0;
    cursor: pointer;
}

.emb-image-parent input:checked + label {
  box-shadow: 0 0 0 3px black;
  -webkit-box-shadow: 0 0 0 3px black;
  -moz-box-shadow: 0 0 0 3px black;
}
  
#show-embroidered-logo ~ label span{
  display: none;
}
  
#show-embroidered-logo:checked ~ label span{
  display: inline-block;
}

.embroidered-logo-option {
  position: absolute;
  z-index: -1000;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.emb-front-image-label{
    display: inline-block !important;
    line-height: normal;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    outline: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 94px;
}
        </style>
        
<script>

  $('input[name=embroidery]').change(function(){
    let emb_variant = $(this);
    let emb_logo = emb_variant.next('input');
    console.log(emb_variant)
    console.log(emb_logo)
    
    let master_emb = $('input[name="embroidery-variant"]');

    let master_variant = $('product-form form input[name=id]');
    
    master_emb.val(emb_variant.val())    

  });

</script>

{% endif %}