{% comment %}
  Accepts:
  - linked_products_label: {String} The label for the form element (optional)
  - input_type: {String} Options: 'image', 'color', 'pill'

  Usage:
  {% render 'expansion-linked-products', product: product, input_type: 'image', linked_products_label: 'Color' %}
{% endcomment %}

{% comment %}
  {{ block.settings.liquid_before }}
 {% endcomment %}
{%- if product.metafields.custom.linked_products != blank -%}
  <div id="exp-lp-515124" class="exp-lp-container">
    {% comment %}
      Convert to settings input when ready
      {% assign show_color_swatches = block.settings.show_color_swatches %}
      {% assign show_image_swatches = block.settings.show_image_swatches %}
      {% assign linked_products_label = block.settings.linked_products_label %}
     {% endcomment %}
    {% if linked_products_label and product.metafields.custom.linked_products %}
      {% if input_type == 'image' or input_type == 'color' %}
        <p id="exp-lp-422123" class="exp-lp-label">
          <span id="exp-lp-5236542">{{ linked_products_label }}: </span>
          <span id="exp-lp-2236542">{{ product.metafields.custom.linked_products_name | default: linked_product.title }}</span>
        </p>
      {% else %}
        <p id="exp-lp-422124" class="exp-lp-label">{{ linked_products_label }}</p>
      {% endif %}
    {% endif %}
    <ul id="exp-lp-422125" class="exp-lp-list exp-lp-type-{{ input_type }}">
      {%- for linked_product in product.metafields.custom.linked_products.value -%}
        {%- liquid
          if input_type == 'image' or input_type == 'color'
            assign linked_product_swatch_color = linked_product.metafields.custom.linked_products_swatch_color
          endif

          assign linked_product_title = linked_product.title
          if linked_product.metafields.custom.linked_products_name != blank
            assign linked_product_title = linked_product.metafields.custom.linked_products_name
          endif

          assign use_swatch = false
          if input_type == 'color' and linked_product_swatch_color != blank
            assign use_swatch = true
          elsif input_type == 'image'
            assign use_swatch = true
          endif
        -%}

        <li
          id="exp-lp-122125-{{ forloop.index }}"
          class="exp-lp-list-item exp-lp-type-{{ input_type }}"
          data-linked-product-handle="{{ linked_product.handle }}"
          data-linked-product-availabile="{{ linked_product.available }}"
        >
            <a
              class="exp-lp-link {% if linked_product.handle == product.handle %}exp-lp-active{% endif %}"
              id="exp-lp-122131-{{ forloop.index }}"
              href="{{ linked_product.url }}"
              {%- if linked_product.handle == product.handle -%}
                aria-label="You are currently viewing this product"
                disabled
              {% endif %}
            >
              {%- if use_swatch -%}
                <span 
                  id="exp-lp-122129-{{ forloop.index }}"class="exp-lp-swatch"
                  {% if input_type == 'color' %}
                    style="--swatch-background: {{ linked_product_swatch_color | default: 'transparent' }};"
                  {% elsif input_type == 'image'  %}  
                    style="--swatch-background: url({{ linked_product.featured_image | image_url: width: 200 }});"
                  {% endif %}
                >
                </span>
                <span id="exp-lp-122130-{{ forloop.index }}" class="exp-lp-swatch-text">{{ linked_product_title }}</span>
              {%- else -%}
                <span id="exp-lp-122135-{{ forloop.index }}">{{ linked_product_title }}</span>
              {%- endif -%}
            </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
{% comment %}
  {{ block.settings.liquid_after }}
{% endcomment %}

<style>
  .exp-lp-container[loading] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
  }

  .exp-lp-list {
    list-style: none; 
    padding: 0;
    margin: 0;
  }

  .exp-lp-list-item {
    display: inline;
  }

  .exp-lp-link {
    text-decoration: none;
  }

  .exp-lp-label {
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
    line-height: calc(1 + .5 / var(--font-body-scale));
    letter-spacing: .04rem;
  }

  .exp-lp-active {
    pointer-events: none;
  }

  /* Pill specific styles */
  .exp-lp-type-pill .exp-lp-link {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: 0.7rem 0.5rem 0.2rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .exp-lp-type-pill .exp-lp-active {
   background-color: rgb(var(--color-foreground));
   color: rgb(var(--color-background));
  }

  /* Color and image swatch styles */
  .exp-lp-type-color,
  .exp-lp-type-image {
    display: flex;
    flex-wrap: wrap;
  }

  .exp-lp-swatch {
    --swatch-input--size: 2.8rem;
    --swatch-input--border-radius: 50%;
    --swatch--size: var(--swatch-input--size, 4.4rem);
    --swatch--border-radius: var(--swatch-input--border-radius, 50%);
    display: block;
    width: var(--swatch--size);
    max-width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--swatch-background);
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    border: .1rem solid rgba(var(--color-foreground), .15);
    border-radius: var(--swatch--border-radius);
    margin: 0.7rem 1.2rem 0.2rem 0;
    outline-offset: 0.2rem;
  }

  .exp-lp-swatch:hover {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.4)}

  .exp-lp-swatch-text {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }

  .exp-lp-active .exp-lp-swatch {
    outline: 0.1rem solid rgb(var(--color-foreground));
  }
</style>