<noscript>
  <a
    href="{{ block.settings.video_url }}"
    class="collage-card__link"
  >
    <div
      class="media media--transparent ratio"
      {% if block.settings.cover_image != blank %}
        style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"
      {% else %}
        style="--ratio-percent: 100%"
      {% endif %}
    >
      {%- if block.settings.cover_image != blank -%}
        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px)
          {% if section.blocks.size == 1 -%}
            calc({{ settings.page_width }}px - 100px)
          {%- else -%}
            {{- settings.page_width | minus: 100 | times: 0.67 | round }}px
          {%- endif -%}
          , (min-width: 750px)
          {%- if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif -%}
          , calc(100vw - 30px)
        {%- endcapture -%}
        {{
          block.settings.cover_image
          | image_url: width: 3000
          | image_tag: sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
      {%- else -%}
        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
    </div>
  </a>
</noscript>
<modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
  <div class="deferred-media">
    <button
      class="deferred-media__poster full-unstyled-link"
      type="button"
      aria-label="{{ 'sections.video.load_video' | t: description: block.settings.description | escape }}"
      aria-haspopup="dialog"
      data-media-id="{{ block.settings.video_url.id }}"
    >
      <div
        class="media media--transparent ratio"
        {% if block.settings.cover_image != blank %}
          style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"
        {% else %}
          style="--ratio-percent: 100%"
        {% endif %}
      >
        <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>

        {%- if block.settings.cover_image != blank -%}
          {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px)
            {% if section.blocks.size == 1 -%}
              calc({{ settings.page_width }}px - 100px)
            {%- else -%}
              {{- settings.page_width | minus: 100 | times: 0.67 | round }}px
            {%- endif -%}
            , (min-width: 750px)
            {%- if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif -%}
            , calc(100vw - 30px)
          {%- endcapture -%}
          {{
            block.settings.cover_image
            | image_url: width: 3000
            | image_tag: sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
          }}
        {%- else -%}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </div>
    </button>
  </div>
</modal-opener>
<modal-dialog
  id="PopupModal-{{ block.id }}"
  class="modal-video media-modal color-{{ settings.color_schemes | first }}"
>
  <div
    class="modal-video__content"
    role="dialog"
    aria-label="{{ block.settings.description | escape }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ block.id }}"
      type="button"
      class="modal-video__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="modal-video__content-info">
      <deferred-media class="modal-video__video template-popup">
        <template>
          {%- if block.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ block.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ block.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        </template>
      </deferred-media>
    </div>
  </div>
</modal-dialog>
