{%- assign sort_by_name = results.sort_options | where: 'value', sort_by | map: 'name' | first -%}
<div class="facet-filters__field">
  <h2 class="facets__heading caption-large text-body">
    {{ 'products.facets.sort_by_label' | t }}
  </h2>
  <details
    id="Details-SortBy-{{ section.id }}"
    class="disclosure-has-popup facets__disclosure js-filter"
    data-index="sortby"
  >
    <summary
      class="facets__summary caption-large focus-offset"
      aria-label="{{ 'products.facets.sort_by_label' | t }} ({{ sort_by_name | escape }})"
    >
      <div>
        <span>
          {{ sort_by_name }}
        </span>
        {% render 'icon-caret' %}
      </div>
    </summary>
    <div
      id="Facet-SortBy-{{ section.id }}"
      class="parent-display facets__display"
    >
      <fieldset class="facets-wrap parent-wrap">
        <legend class="visually-hidden">{{ 'products.facets.sort_by_label' | t }}</legend>
        <ul
          class="facets__list list-unstyled"
          role="list"
        >
          {%- for option in results.sort_options -%}
            <li class="list-menu__item facets__item">
              <label
                for="SortBy-{{ option.name | escape }}"
                class="facet-radio"
              >
                <input
                  type="radio"
                  name="sort_by"
                  value="{{ option.value | escape }}"
                  id="SortBy-{{ option.name | escape }}"
                  {% if option.value == sort_by %}
                    checked
                  {% endif %}
                >

                <svg
                  width="1.6rem"
                  height="1.6rem"
                  viewBox="0 0 16 16"
                  aria-hidden="true"
                  focusable="false"
                >
                  <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                </svg>

                <svg
                  aria-hidden="true"
                  class="icon icon-checkmark"
                  width="1.1rem"
                  height="0.7rem"
                  viewBox="0 0 11 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                    stroke="currentColor"
                    stroke-width="1.75"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>

                <span aria-hidden="true">{{ option.name | escape }}</span>
                <span class="visually-hidden">{{ option.name | escape }}</span>
              </label>
            </li>
          {%- endfor -%}
        </ul>
      </fieldset>
    </div>
  </details>
</div>

<noscript>
  <button type="submit" class="facets__button-no-js button button--secondary">
    {{ 'products.facets.sort_button' | t }}
  </button>
</noscript>
