{%- liquid
  assign height = ''
  if block.settings.image != blank
    assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
  endif
  assign sizes = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}
<div class="carousel-media">
  {% if slide_image != blank and slide_image_mobile != blank %}
    {{
      slide_image
      | image_url: width: 3840
      | image_tag:
        height: height,
        sizes: sizes,
        widths: widths,
        fetchpriority: fetch_priority,
        class: 'desktop_image',
        alt: slide_image.alt
    }}
    {{
      slide_image_mobile
      | image_url: width: 3840
      | image_tag:
        height: height,
        sizes: sizes,
        widths: widths,
        fetchpriority: fetch_priority,
        class: 'mobile_image',
        alt: slide_image_mobile.alt
    }}
  {% elsif slide_image != blank %}
    {{
      slide_image
      | image_url: width: 3840
      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority, alt: slide_image.alt
    }}
  {% else %}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
{%- if slide_heading != blank -%}
  <h3 class="card__heading">
    {{ slide_heading }}
  </h3>
{%- endif -%}
{%- if block.settings.button_label != blank -%}
  <div
    class="{% if block.settings.button_style == 'link' %} link underlined-link {% else %} button button--{{ block.settings.button_style }} {% endif %}"
  >
    {{ block.settings.button_label }}
  </div>
{%- endif -%}
