{{ "section-contact-form.css" | asset_url | stylesheet_tag }}
{{ "fireworkx-product-form.css" | asset_url | stylesheet_tag }}

	<h2>Make an Enquiry</h2>
	
	<div class="fwx-enquiry-product-container">
		<div class="fwx-enquiry-product">
			{% if product.featured_media != blank %}
				<img src="{{ product.featured_media | img_url: '250x' }}" width="" height="" loading="lazy" />
			{% endif %} 
			{% if product.type == "Canopy" %}
				{% render 'fireworkx-product-title', 
					features: product.metafields.fwx.canopy_features, 
					year: product.metafields.fwx.year,
					size: product.metafields.fwx.size,
					model: product.metafields.fwx.model,
					class: 'fwx-title-card' %}
			{% else %}
				<h4 class="">{{ product.title }}</h4>
			{% endif %}
		</div>
		<form class="fwx-form" id="fwx-enquiry-form">
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">First Name</label>
					<input class="fwx-input" type="text" name="FirstName" value="" required/>
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">Surname</label>
					<input class="fwx-input" type="text" name="Surname" value="" required/>
				</div>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">Telephone Number</label>
					<input class="fwx-input" type="tel" name="TelephoneNumber" pattern="^[0-9-+\s()]*$" value="" required inputmode="numeric" />
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">Email Address</label>
					<input class="fwx-input" type="email" name="EmailAddress" value="" required/>
				</div>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">Province</label>
					<select class="fwx-input" name="Province" id="fwx-enquiry-province" required>
						<option value="" disabled selected></option>
						<option>Gauteng</option>
						<option>Western Cape</option>
						<option>Kwazulu-Natal</option>
						<option>Eastern Cape</option>
						<option>Free State</option>
						<option>Northern Cape</option>
						<option>Limpopo</option>
						<option>Mpumalanga</option>
						<option>North West</option>
					</select>
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">City</label>
					<input class="fwx-input" type="text" name="City" id="fwx-enquiry-city" value="" required />
				</div>
			</div>
			<div class="fwx-field fwx-contact-fields">
				<label class="fwx-label" for="additional-information">Additonal Information</label>
				<textarea rows="10"	class="fwx-input fwx-textarea" id="fwx-enquiry-messsage" name="Additional Information"></textarea>
			</div>
			<div class="fwx-field-group full-width">
				<div class="fwx-options-field">
					<p class="fwx-label">Request a Callback</p>
					<div class="fwx-radio-button">
						<input type="radio" name="Callback" value="yes" id="callback-yes" required /><label for="callback-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="Callback" value="no" id="callback-no" required /><label for="callback-no">No</label>
					</div>
				</div>
			</div>
			<div class="fwx-field-group full-width">
				<div class="fwx-options-field">
					<p class="fwx-label">Are you in possession of your bakkie yet?</p>
					<div class="fwx-radio-button">
						<input type="radio" name="Possession" id="possession-yes" value="yes" required /><label for="possession-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="Possession" id="possession-no" value="no" required /><label for="possession-no">No</label>
					</div>
				</div>
			</div>
			<div class="fwx-field-group full-width">
				<div class="fwx-options-field">
					<p class="fwx-label">Do you want to receive promotional material via email in the future ?</p>
					<div class="fwx-radio-button">
						<input type="radio" name="Promotions" id="promotions-yes" value="yes" required /><label for="promotions-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="Promotions" id="promotions-no" value="no" required /><label for="promotions-no">No</label>
					</div>
				</div>
			</div>
			<div class="hidden-fields">
				<input type="hidden" id="fwx-field-product-title" name="Title" value="{{ product.title }}" >
				<input type="hidden" id="fwx-field-product-handle" name="Handle" value="{{ product.handle }}" >
				<input type="hidden" id="fwx-field-product-vendor" name="Vendor" value="{{ product.vendor }}" >
				<input type="hidden" id="fwx-field-product-features" name="Features" value="{{ product.metafields.fwx.canopy_features }}" >
				<input type="hidden" id="fwx-field-product-year" name="Year" value="{{ product.metafields.fwx.year }}" >
				<input type="hidden" id="fwx-field-product-size" name="Size" value="{{ product.metafields.fwx.size }}" >
				<input type="hidden" id="fwx-field-product-model" name="Model" value="{{ product.metafields.fwx.model }}" >
				<input type="hidden" id="fwx-field-product-dms_make" name="Make" value="{{ product.metafields.fwx.dms_make }}" >
				<input type="hidden" id="fwx-field-product-dms_specification" name="Specification" value="{{ product.metafields.fwx.dms_specification }}" >
				<input type="hidden" id="fwx-field-product-dms_model" name="Model" value="{{ product.metafields.fwx.dms_model }}" >
				<input type="hidden" id="fwx-field-product-dms_model" name="Vehicle_UID" value="{{ product.metafields.product.Vehicle_UID }}" >
				<input type="hidden" id="Type" name="Type" value="ContactMeRequest" >
			</div>
			<button type="submit" class="button" id="fwx-enquiry-submit-button" disabled>Send Enquiry</button>
		</form>
		
		{% render 'fireworkx-error-message' %}
	</div>