{{ 'fireworkx-get-in-touch.css' | asset_url | stylesheet_tag }}

<div class="fwx-get-in-touch-snippet">
    <div class="fwx-get-in-touch">
        <h2> Get in touch </h2>
        <a href="tel:+210545900" class="button button--transparent">{% render 'icon-phone' %} 021 054 5900 (Cape)</a>
        <a href="tel:+27100545900" class="button button--transparent">{% render 'icon-phone' %}  010 054 5900 (Gauteng)</a>
    </div>
    <div class="fwx-find-us">
      <h2> Find us </h2>
      <div class="fwx-address-container">
        {% render 'icon-pin' %}
          <p>14 Hawkins Ave
          <br/>Epping
          <br/>Cape Town
          <br/>7475</p>
      </div>
      <a href="https://www.google.com/maps/place/Andy+Cab+Canopies/@-33.9352188,18.5302524,15z/data=!4m2!3m1!1s0x0:0xb44f4ee5ee7a6e01?sa=X&ved=2ahUKEwj7uaPKzabzAhVPXMAKHY23DKcQ_BJ6BAhhEAU" class="button button--transparent" target="_blank"> Open in Google Maps</a>
      <ul class="fwx-get-in-touch-social-icons">
        {%- if settings.social_facebook_link != blank -%}
          <li class="list-social__item">
            <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" target="_blank" >
              {%- render 'icon-facebook' -%}
              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li class="list-social__item">
            <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" target="_blank" >
              {%- render 'icon-instagram' -%}
              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
</div>