<div class="fwx-canopy-title {{ features }} {{ class }}">
    {% if features != blank %}
        <span class="fwx-canopy-features">{{ features }}</span>
    {% endif %}
    {% if size != 0 %}
        <span class="fwx-canopy-size fwx-product-title">{{ size }}</span>
    {% endif %}
    <div class="fwx-model-year-container">
        {% if model != blank %}
            <span class="fwx-canopy-model">{{ model }}</span>
        {% endif %}
        {% if year != blank %}
            <p class="fwx-canopy-year">{{ year }}</p>
        {% endif %}
    </div>
</div>