<div class="fwx-canopy-title {{ features }}">
    {% if features != blank %}
        <span class="fwx-canopy-features">{{ features }}</span>
    {% endif %}
    {% if model != blank %}
        <span class="fwx-canopy-model">{{ model }}</span>
    {% endif %}
    {% if size != 0 %}
        <span class="fwx-canopy-size">{{ size }}</span>
    {% endif %}
    {% if year != blank %}
        <span class="fwx-canopy-year">{{ year }}</span>
    {% endif %}
</div>