{%- if request.page_type == 'cart' -%}
{% raw %}
<script id="globoUpsellProductsTemplate" type="template/html">
  {% if box.type == 'pre_purchase' %}
      <div class="ga_offer_{{box.id}} ga_up_{{box.type}} ga-arrow-top ga-products-upsell-box ga-cartdraw_products-upsell-box" id="{{box.id}}" >
        <h2 class="ga-title">{{box.title.text}}</h2>
        <div class="ga-upsell-products">
          {% if box.subtitle and box.subtitle.text and box.subtitle.text != '' %}<div class="ga-subtitle">{{box.subtitle.text}}</div>{% endif %}
          <ul>
            {% for product in products %}
              {% assign first_available_variant = false %}
              {% for variant in product.variants %}
                {% if first_available_variant == false and variant.available %}{% assign first_available_variant = variant %}{% endif %}
              {% endfor %}
              {% if first_available_variant == false %}{% assign first_available_variant = product.variants[0] %}{% endif %}
              {% if first_available_variant.available and box.template.selected %}
              {% assign total_price = total_price | plus: first_available_variant.price %} 
              {% endif %}
              {% if product.images[0] %}
                {% assign featured_image = product.images[0] | img_url: '100x' %}
              {% else %}
                {% assign featured_image = no_image_url | img_url: '100x' %}
              {% endif %}
              <li class="ga-upsell-product{% unless box.template.selected %} ga-deactive{% endunless %}" data-product-id="{{product.id}}">
                <div class="product_main">
                  <a{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}" class="ga-products_image">
                    {% unless product.available %}
                    <span class="ga-label ga-label_sold">{{translation.sold_out}}</span>
                    {% endunless %}
                    <span>
                      <img class="ga-product_image_{{product.id}}" id="ga-product_image_{{product.id}}" src="{{featured_image}}" alt="{{product.title}}"/>
                    </span>
                  </a>
                  
                </div>
                <div class="ga-upsell-product-data">
                  <a class="ga-product_title"{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}">{% if product.id == cur_product_id %}<strong>{{translation.this_item}} </strong>{% endif %}{{product.title}}{% unless product.available %} - {{translation.sold_out}}{% endunless %}</a>
                  {% assign variants_size = product.variants | size %}
                  <div class="ga-product_variants-container{% unless box.template.elements contains 'variantSelector' %} ga-hide{% endunless %}">
                    <select {% unless product.available %}disabled{% endunless %} class="ga-product_variant_select {% if variants_size == 1 %}ga-hide{% endif %}">
                      {% for variant in product.variants %}
                        <option{% if first_available_variant.id == variant.id %} selected{% endif %}{% unless variant.available %} disabled{% endunless %} data-image="{% if variant.featured_image %}{{variant.featured_image.src | img_url: '100x'}}{% else %}{{featured_image}}{% endif %}" data-available="{{variant.available}}" data-compare_at_price="{{variant.compare_at_price}}" data-price="{{variant.price}}" value="{{variant.id}}">{{variant.title}}{% unless variant.available %} - {{translation.sold_out}}{% endunless %}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="ga-price-addtocart-show">
                    {% if box.template.elements contains 'price' %}
                    <span class="ga-product_price-container {% if box.template.elements contains 'addToCartBtn' %} ga-showaddToCartBtn {% endif %}">
                      <span class="ga-product_price money">{{first_available_variant.price | money}}</span>
                      {% if first_available_variant.compare_at_price > first_available_variant.price %}
                      <s class="ga-product_oldprice money">{{first_available_variant.compare_at_price | money}}</s>
                      {% endif %}
                    </span>
                    {% endif %}
                    {% if box.template.elements contains 'addToCartBtn' %}
                      <div class="ga-upsell-product_addtocart-wp {% if box.template.elements contains 'price' %} ga-showprice {% endif %}">
                        <button class="ga-upsell-product_addtocart" type="button" data-add="{{translation.add_to_cart}}" data-added="{{translation.added_to_cart}}">{{translation.add_to_cart}}</button>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    {% elsif box.type == 'thankyou' %}
      <div class="ga_offer_{{box.id}} ga_up_{{box.type}} ga-arrow-top ga-products-upsell-box ga-cartdraw_products-upsell-box" id="{{box.id}}" >
        <div class="ga-thankyou-headbox">
          <h2 class="ga-title">{{box.title.text}}</h2>
          {% if box.subtitle %}<div class="ga-subtitle">{{box.subtitle.text}}</div>{% endif %}
        </div>
        <div class="ga-upsell-products">
          <div class="ga-carousel_wrapper">
            <ul class="ga-carousel gowl-carousel" data-products-count="{{products.size}}">
              {% for product in products %}
              {% assign first_available_variant = false %}
              {% for variant in product.variants %}
                {% if first_available_variant == false and variant.available %}{% assign first_available_variant = variant %}{% endif %}
              {% endfor %}
              {% if first_available_variant == false %}{% assign first_available_variant = product.variants[0] %}{% endif %}
              {% if product.images[0] %}
                {% assign featured_image = product.images[0] | img_url: '350x' %}
              {% else %}
                {% assign featured_image = no_image_url | img_url: '350x' %}
              {% endif %}
              <li class="ga-product  ga-upsell-product" data-product-id="{{product.id}}">
                <a{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}">
                  {% if box.template.elements contains 'saleLabel' and first_available_variant.compare_at_price > first_available_variant.price %}
                  <span class="ga-label ga-label_sale">{{translation.sale}}</span>
                  {% endif %}
                  {% unless product.available %}
                  <span class="ga-label ga-label_sold">{{translation.sold_out}}</span>
                  {% endunless %}
                  <div class="ga-product_image ga-product_image_{{product.id}}" id="ga-product_image_{{product.id}}" style="background-image: url('{{featured_image}}')"></div>
                </a>
                <a class="ga-product_title"{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}">{{product.title}}</a>
                {% assign variants_size = product.variants | size %}
                <div class="ga-product_variants-container{% unless box.template.elements contains 'variantSelector' %} ga-hide{% endunless %}">
                  <select class="ga-product_variant_select {% if variants_size == 1 %}ga-hide{% endif %}">
                    {% for variant in product.variants %}
                      <option{% if first_available_variant.id == variant.id %} selected{% endif %}{% unless variant.available %} disabled{% endunless %} data-image="{% if variant.featured_image %}{{variant.featured_image.src | img_url: '350x'}}{% else %}{{featured_image}}{% endif %}" data-available="{{variant.available}}" data-compare_at_price="{{variant.compare_at_price}}" data-price="{{variant.price}}" value="{{variant.id}}">{{variant.title}}{% unless variant.available %} - {{translation.sold_out}}{% endunless %}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if box.template.elements contains 'price' %}
                <span class="ga-product_price-container">
                  <span class="ga-product_price money">{{first_available_variant.price | money}}</span>
                  {% if first_available_variant.compare_at_price > first_available_variant.price %}
                  <s class="ga-product_oldprice money">{{first_available_variant.compare_at_price | money}}</s>
                  {% endif %}
                </span>
                {% endif %}
                {% if box.template.elements contains 'addToCartBtn' %}
                <button class="ga-product_addtocart" type="button" data-add="{{translation.add_to_cart}}" data-added="{{translation.added_to_cart}}">{{translation.add_to_cart}}</button>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    {% elsif box.type == 'in_cart' %}
        <div class="ga_offer_{{box.id}} ga_up_{{box.type}} ga-arrow-top ga-products-upsell-box" id="{{box.id}}" >
          {% if box.title and box.title.text and box.title.text != '' %}<h2 class="ga-title">{{box.title.text}}</h2>{% endif %}
          {% if box.subtitle and box.subtitle.text and box.subtitle.text !='' %}<div class="ga-subtitle">{{box.subtitle.text}}</div>{% endif %}
          <div class="ga-upsell-products">
            <ul>
              {% for product in products %}
                {% assign first_available_variant = false %}
                {% for variant in product.variants %}
                  {% if first_available_variant == false and variant.available %}{% assign first_available_variant = variant %}{% endif %}
                {% endfor %}
                {% if first_available_variant == false %}{% assign first_available_variant = product.variants[0] %}{% endif %}
                {% if first_available_variant.available and box.template.selected %}
                {% assign total_price = total_price | plus: first_available_variant.price %}
                {% endif %}
                {% if product.images[0] %}
                  {% assign featured_image = product.images[0] | img_url: '100x' %}
                {% else %}
                  {% assign featured_image = no_image_url | img_url: '100x' %}
                {% endif %}
                <li class="ga-upsell-product{% unless box.template.selected %} ga-deactive{% endunless %}" data-product-id="{{product.id}}">
                  <div class="product_main">
                    <a{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}" class="ga-products_image">
                      {% if box.template.elements contains 'saleLabel' and first_available_variant.compare_at_price > first_available_variant.price %}
                      <span class="ga-label ga-label_sale">{{translation.sale}}</span>
                      {% endif %}
                      {% unless product.available %}
                      <span class="ga-label ga-label_sold">{{translation.sold_out}}</span>
                      {% endunless %}
                      <span>
                        <img class="ga-product_image_{{product.id}}" id="ga-product_image_{{product.id}}" src="{{featured_image}}" alt="{{product.title}}"/>
                      </span>
                    </a>
                    
                  </div>
                  <div class="ga-upsell-product-data">
                    <div class="ga_upsell_cart_baseinfo">
                      <a class="ga-product_title"{% if settings.new_tab %} target="_blank"{% endif %} href="/products/{{product.handle}}">{% if product.id == cur_product_id %}<strong>{{translation.this_item}} </strong>{% endif %}{{product.title}}{% unless product.available %} - {{translation.sold_out}}{% endunless %}</a>
                      {% assign variants_size = product.variants | size %}
                      <div class="ga-product_variants-container{% unless box.template.elements contains 'variantSelector' %} ga-hide{% endunless %} {% if variants_size == 1 %}ga-hide{% endif %}">
                        <select {% unless product.available %}disabled{% endunless %} class="ga-product_variant_select {% if variants_size == 1 %}ga-hide{% endif %}">
                          {% for variant in product.variants %}
                            <option{% if first_available_variant.id == variant.id %} selected{% endif %}{% unless variant.available %} disabled{% endunless %} data-image="{% if variant.featured_image %}{{variant.featured_image.src | img_url: '100x'}}{% else %}{{featured_image}}{% endif %}" data-available="{{variant.available}}" data-compare_at_price="{{variant.compare_at_price}}" data-price="{{variant.price}}" value="{{variant.id}}">{{variant.title}}{% unless variant.available %} - {{translation.sold_out}}{% endunless %}</option>
                          {% endfor %}
                        </select>
                      </div>
                      {% if box.template.elements contains 'price' %}
                      <span class="ga-product_price-container">
                        <span class="ga-product_price money">{{first_available_variant.price | money}}</span>
                        {% if first_available_variant.compare_at_price > first_available_variant.price %}
                        <s class="ga-product_oldprice money">{{first_available_variant.compare_at_price | money}}</s>
                        {% endif %}
                      </span>
                      {% endif %}
                    </div>
                    {% if box.template.elements contains 'addToCartBtn' %}
                      <div class="ga_upsell_cart_adtocart">
                        <button class="ga-upsell-product_addtocart" type="button" data-add="{% if translation.added_to_cart_short %}{{translation.add_to_cart_short}}{% else %}ADD{% endif %}" data-added="{% if translation.added_to_cart_short %}{{translation.added_to_cart_short}}{% else %}ADDED{% endif %}">{% if translation.add_to_cart_short %}{{translation.add_to_cart_short}}{% else %}ADD{% endif %}</button>
                      </div>
                    {% endif %}
                  </div>
                  {% if box.template.elements contains 'addToCartBtn' %}
                      <div class="ga_upsell_cart_adtocart">
                        <button class="ga-upsell-product_addtocart" type="button" data-add="{% if translation.added_to_cart_short %}{{translation.add_to_cart_short}}{% else %}ADD{% endif %}" data-added="{% if translation.added_to_cart_short %}{{translation.added_to_cart_short}}{% else %}ADDED{% endif %}">{% if translation.add_to_cart_short %}{{translation.add_to_cart_short}}{% else %}ADD{% endif %}</button>
                      </div>
                    {% endif %}
                </li>
                {% endfor %}
              </ul>
          </div>
        </div>
        <div style="clear:both;"></div>
  {% endif %}
</script>
{% endraw %}
{% endif %}