{% comment %}
  Accepts:
  Mandatory
  - semantic: {Boolean} defines whether user is re-setting the heading semantically
  - heading_element: {String} to define HTML heading element: h1, h2, h3, h4, h5, h6
  - heading_size: {String} to define the size of element: .h1, .h2, .h3, .h4, .h5, .h6
  - title: {String} to display the title or subtitle of the heading element
  - class: {String} if the heading should have a special class / classes

  Optional
  - id: {String}
  - style: {String}
  - attributes: {String}
  - animation: {Boolean}
  - animation_order: {String}

  Usage:
  {% render 'headings', heading: 'h2', title: 'About us', class: 'center' %}
{% endcomment %}
{% case heading_element %}
  {% when 'h1' %}
    <h1
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h1>
  {% when 'h2' %}
    <h2
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h2>
  {% when 'h3' %}
    <h3
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h3>
  {% when 'h4' %}
    <h4
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h4>
  {% when 'h5' %}
    <h5
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h5>
  {% when 'h6' %}
    <h6
      class="{{ heading_size }} {{ class }}"
      id="{{ id }}"
      {{ attributes }}
      {% if animation %}
        data-cascade style="--animation-order: {{ animation_order }}"
      {% endif %}
    >
      {{ title }}
    </h6>
{% endcase %}
