<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max tw-border-t tw-border-x-0 tw-border-b-0 tw-border-t-black tw-border-solid">
  {% for link in linklists['cpb-nav-menu'].links %}
    {% if link.links != empty %}
      <div class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50">
        <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current"
           href="{{ link.url }}">
          {{ link.title }}
          <i aria-hidden="true"
             class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
        </a>
        <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
          {% for child_link in link.links %}
            {% if child_link.links != empty %}
              <div class="tw-group/nest2 tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50">
                <a href="{{ child_link.url }}"
                   class="tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current"
                >
                  {{ child_link.title }}
                  <i aria-hidden="true"
                     class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
                </a>
                <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-white">
                  {% for grandchild_link in child_link.links %}
                    <a href="{{ grandchild_link.url }}" class="tw-no-underline tw-text-current">
                      <div
                          class="tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest">
                        {{ grandchild_link.title }}
                      </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <a
                  class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current"
                  href="{{ child_link.url }}">
                {{ child_link.title }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <a
          class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current"
          href="{{ link.url }}"
          {%- unless link.url contains 'https://online.sukiya.biz' -%}
          target="_blank"
          {%- endunless -%}
      >{{ link.title }}
        <i aria-hidden="true"
           class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
      </a>
    {% endif %}
  {% endfor %}
</div>
