{% comment %}
  Renders a megamenu for "Shop By Subject" collections.
{% endcomment %}

{%- liquid
  assign by_subject = section.settings.custom_subjects_title
  if by_subject == blank
    assign by_subject = 'sections.header.custom_menu.by_subject' | t
  endif
-%}

<li class="hoverable">
  <button
    id="dropdown-hover-subjects"
    type="button"
    class="header__menu-item list-menu__item link focus-inset"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="custom-menu-caret">
      {{ by_subject }}
      {% render 'icon-caret' %}
    </span>
  </button>
  <div class="custom-menu custom-menu-padding">
    <div class="custom-menu-container">
      <div class="custom-menu-left">
        <ul id="subjects-menu" class="custom-menu-column">
          <div class="custom-menu-item">
            <h3 class="custom-menu-title">{{ by_subject }}</h3>
          </div>
          <div class="custom-menu-list">
            {%- assign subject_count = 0 -%}
            {%- for collection in collections -%}
              {%- if collection.metafields.collection.is_nav == true
                and collection.metafields.collection.by_subject == true
              -%}
                {%- assign subject_count = subject_count | plus: 1 -%}
                <div class="custom-menu-item">
                  <a
                    href="{{ collection.url }}"
                    class="custom-menu-link{% if collection.current %} menu-drawer__menu-item--active{% endif %}"
                    {% if collection.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ collection.title | escape }}
                  </a>
                </div>
              {%- endif -%}
            {%- endfor -%}
            <a
              href="{{ section.settings.subjects_view_all_url | default: '/collections/subjects' }}"
              class="custom-menu-cta"
            >
              {{ section.settings.subjects_view_all_label | default: 'View All Subjects' }}
              <span class="custom-menu-cta-count">+</span>
            </a>
          </div>
        </ul>
      </div>
      <div class="custom-menu-right">
        <ul id="subjects-featured" class="collection-list grid grid--2-col" role="list">
          {%- assign featured_count = 0 -%}
          {%- for collection in collections -%}
            {%- if collection.metafields.collection.is_nav == true
              and collection.metafields.collection.is_featured == true
            -%}
              <li class="collection-list__item grid__item">
                {% render 'card-collection',
                  card_collection: collection,
                  media_aspect_ratio: section.settings.image_ratio
                %}
              </li>
              {%- assign featured_count = featured_count | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if featured_count == 0 -%}
            {%- assign shown = 0 -%}
            {%- for collection in collections -%}
              {%- if collection.metafields.collection.is_nav == true and collection.image -%}
                <li class="collection-list__item grid__item">
                  {% render 'card-collection',
                    card_collection: collection,
                    media_aspect_ratio: section.settings.image_ratio
                  %}
                </li>
                {%- assign shown = shown | plus: 1 -%}
                {%- if shown == 2 -%}{% break %}{%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</li>
