{% comment %}
  Renders a header search box.

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-searchbox', input_id: 'My-Id'%}
{% endcomment %}

{%- if settings.predictive_search_enabled -%}
  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
{%- else -%}
  <search-form class="search-modal__form">
{%- endif -%}
<form action="{{ routes.search_url }}" method="get" role="search" class="search">
  <div class="field">
    <input
      class="search__input field__input"
      id="{{ input_id }}"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.search' | t }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
    >
    <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
    <input type="hidden" name="options[prefix]" value="last">
    <button
      type="reset"
      class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
      aria-label="{{ 'general.search.reset' | t }}"
    >
      <span class="svg-wrapper">
        {{- 'icon-reset.svg' | inline_asset_content -}}
      </span>
    </button>
    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
      <span class="svg-wrapper">
        {{- 'icon-search.svg' | inline_asset_content -}}
      </span>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
      {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
    </div>

    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
  {%- endif -%}
</form>
{%- if settings.predictive_search_enabled -%}
  </predictive-search>
{%- else -%}
  </search-form>
{%- endif -%}
