{% assign saveForLaterType = 'individual_button' %}
{% assign display = 'none' %}
{% assign color = '#000000' %}
{% assign fontSize = 16 %}
{% assign fontWeight = 500 %}
{% assign saveForLaterPosition = 'individual_button_manual' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.save_for_later_type != null  %}
    {% assign saveForLaterType = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.save_for_later_type %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_position != null  %}
    {% assign saveForLaterPosition = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_position %}
{% endif %}
{% if saveForLaterType != 'global_button' and saveForLaterPosition == 'individual_button_manual' %}
    {% assign display = 'inline-flex' %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_text_color != null  %}
    {% assign color = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_text_color %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_font_size != null  %}
    {% assign fontSize = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_font_size %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_font_thickness != null  %}
    {% assign fontWeight = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.individual_button_font_thickness %}
{% endif %}
<a href="#" style="display: {{ display }}; color: {{ color }}; font-size: {{ fontSize }}px; font-weight: {{ fontWeight }}" class="addtoWishlist" data-hulkSaveForLater data-product-id="{{ productId }}" data-variant-id="{{ variantId }}" data-line="{{ loopIndex }}">
    Save for later
</a>
