{% assign saveForLaterType = 'individual_button' %}
{% assign display = 'none' %}
{% assign backgroundColor = '#5c6ac4' %}
{% assign border = 0 %}
{% assign borderColor = '#5c6ac4' %}
{% assign borderRadius = 0 %}
{% assign color = '#ffffff' %}
{% assign fontSize = 16 %}
{% assign fontWeight = 500 %}
{% assign verticalSpace =7 %}
{% assign horizontalSpace = 10 %}
{% assign saveAllForLaterPosition = 'global_button_manual' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.save_for_later_type != null  %}
    {% assign saveForLaterType = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.save_for_later_type %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_position != null  %}
    {% assign saveAllForLaterPosition = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_position %}
{% endif %}
{% if saveForLaterType != 'individual_button' and saveAllForLaterPosition == 'global_button_manual'  %}
    {% assign display = 'inline-flex' %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_bg_color != null  %}
    {% assign backgroundColor = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_bg_color %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_color != null  %}
    {% assign borderColor = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_color %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_width != null  %}
    {% assign border = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_width %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_radius != null  %}
    {% assign borderRadius = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_border_radius %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_text_color != null  %}
    {% assign color = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_text_color %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_font_size != null  %}
    {% assign fontSize = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_font_size %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_font_thickness != null  %}
    {% assign fontWeight = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_font_thickness %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_vertical_space != null  %}
    {% assign verticalSpace = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_vertical_space %}
{% endif %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_horizontal_space != null  %}
    {% assign horizontalSpace = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.global_button_horizontal_space %}
{% endif %}

<a href="#" style="display: {{ display }}; padding: {{ verticalSpace }}px {{ horizontalSpace }}px; font-size: {{ fontSize }}px; font-weight: {{ fontWeight }}; background-color: {{ backgroundColor }}; color: {{ color }}; border: {{ border }}px solid {{ borderColor }}; border-radius: {{ borderRadius }}px" class="addtoWishlist" data-hulkSaveForLaterallItems>
    Save all for later
</a>
