{% comment %}
  Renders icon with text block

  Accepts:
  - context: {Object} passes in the object we're dealing with block/section


  Usage:
  {% render 'icon-with-text',
    context: block
  %}
{% endcomment %}
{%- liquid
  assign heading1Empty = false
  assign heading2Empty = false
  assign heading3Empty = false
  assign textOnlyAllItems = true

  if context.settings.heading_1 == empty
    assign heading1Empty = true
  endif

  if context.settings.heading_2 == empty
    assign heading2Empty = true
  endif

  if context.settings.heading_3 == empty
    assign heading3Empty = true
  endif

  if heading1Empty == false and context.settings.icon_1 != 'none' or context.settings.image_1 != null
    assign textOnlyAllItems = false
  elsif heading2Empty == false and context.settings.icon_2 != 'none' or context.settings.image_2 != null
    assign textOnlyAllItems = false
  elsif heading3Empty == false and context.settings.icon_3 != 'none' or context.settings.image_3 != null
    assign textOnlyAllItems = false
  endif
-%}
<ul
  class="icon-with-text icon-with-text--{{ context.settings.layout }} list-unstyled{% if textOnlyAllItems %} icon-with-text--text-only{% endif %}"
  {{ context.settings.shopify_attributes }}
>
  {%- unless heading1Empty -%}
    <li class="icon-with-text__item">
      {%- if context.settings.image_1 == null -%}
        {%- render 'icon-accordion', icon: context.settings.icon_1 -%}
      {%- else -%}
        <img
          src="{{ context.settings.image_1 | image_url }}"
          {% if context.settings.image_1.alt != blank %}
            alt="{{ context.settings.image_1.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- context.settings.heading_1 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading2Empty -%}
    <li class="icon-with-text__item">
      {%- if context.settings.image_2 == null -%}
        {% render 'icon-accordion', icon: context.settings.icon_2 -%}
      {%- else -%}
        <img
          src="{{ context.settings.image_2 | image_url }}"
          {% if context.settings.image_2.alt != blank %}
            alt="{{ context.settings.image_2.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- context.settings.heading_2 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading3Empty -%}
    <li class="icon-with-text__item">
      {%- if context.settings.image_3 == null -%}
        {% render 'icon-accordion', icon: context.settings.icon_3 -%}
      {%- else -%}
        <img
          src="{{ context.settings.image_3 | image_url }}"
          {% if context.settings.image_3.alt != blank %}
            alt="{{ context.settings.image_3.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- context.settings.heading_3 -}}
      </span>
    </li>
  {%- endunless -%}
</ul>
