{% comment %}
  Renders icon with text block

  Accepts:
  - heading_1: {String} heading for the icon.
  - heading_2: {String} heading for the icon.
  - heading_3: {String} heading for the icon.
  - icon_1: {String} name of the icon to be used.
  - icon_2: {String} name of the icon to be used.
  - icon_3: {String} name of the icon to be used.
  - image_1: {Object} image uploaded by the merchant.
  - image_2: {Object} image uploaded by the merchant.
  - image_3: {Object} image uploaded by the merchant.
  - layout: {String} choose the layout, vertical or horizontal, of the block.
  - block_attributes


  Usage:
  {% render 'icon-with-text',
    heading_1: block.settings.heading_1,
    heading_2: block.settings.heading_2,
    heading_3: block.settings.heading_3,
    icon_1: block.settings.icon_1,
    icon_2: block.settings.icon_2,
    icon_3: block.settings.icon_3,
    image_1: block.settings.heading_1,
    image_2: block.settings.image_1,
    image_3: block.settings.image_1,
    layout: block.settings.layout,
    block_attributes: block.shopify_attributes
  %}
{% endcomment %}
{%- liquid
  assign heading1Empty = false
  assign heading2Empty = false
  assign heading3Empty = false
  assign textOnlyAllItems = true

  if heading_1 == empty
    assign heading1Empty = true
  endif

  if heading_2 == empty
    assign heading2Empty = true
  endif

  if heading_3 == empty
    assign heading3Empty = true
  endif

  if heading1Empty == false and icon_1 != 'none' or image_1 != null
    assign textOnlyAllItems = false
  elsif heading2Empty == false and icon_2 != 'none' or image_2 != null
    assign textOnlyAllItems = false
  elsif heading3Empty == false and icon_3 != 'none' or image_3 != null
    assign textOnlyAllItems = false
  endif
-%}
<ul
  class="icon-with-text icon-with-text--{{ layout }} list-unstyled{% if textOnlyAllItems %} icon-with-text--text-only{% endif %}"
  {{ block_attributes }}
>
  {%- unless heading1Empty -%}
    <li class="icon-with-text__item">
      {%- if image_1 == null -%}
        {%- render 'icon-accordion', icon: icon_1 -%}
      {%- else -%}
        <img
          src="{{ image_1 | image_url }}"
          {% if image_1.alt != blank %}
            alt="{{ image_1.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- heading_1 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading2Empty -%}
    <li class="icon-with-text__item">
      {%- if image_2 == null -%}
        {% render 'icon-accordion', icon: icon_2 -%}
      {%- else -%}
        <img
          src="{{ image_2 | image_url }}"
          {% if image_2.alt != blank %}
            alt="{{ image_2.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- heading_2 -}}
      </span>
    </li>
  {%- endunless -%}
  {%- unless heading3Empty -%}
    <li class="icon-with-text__item">
      {%- if image_3 == null -%}
        {% render 'icon-accordion', icon: icon_3 -%}
      {%- else -%}
        <img
          src="{{ image_3 | image_url }}"
          {% if image_3.alt != blank %}
            alt="{{ image_3.alt | escape }}"
          {% else %}
            role="presentation"
          {% endif %}
          height="auto"
          width="auto"
          loading="lazy"
        >
      {%- endif -%}
      <span class="h4">
        {{- heading_3 -}}
      </span>
    </li>
  {%- endunless -%}
</ul>
