<span
  class="junip-store-key"
  data-store-key="{{ shop.metafields.junip.store_key }}"
  data-onsite-enabled="{{ shop.metafields.junip.onsite_enabled }}"
  data-review-count-enabled="{{ shop.metafields.junip.review_count_enabled }}"
  data-star-color="{{ shop.metafields.junip.star_color }}"
  data-star-template-url="{{ shop.metafields.junip.star_template_url }}">
</span>
