{% assign enabled = shop.metafields.junip.onsite_enabled | default: false %}
{% assign starColor = shop.metafields.junip.star_color | default: "#FDB600" %}
{% assign showCount = shop.metafields.junip.review_count_enabled | default: false %}
{% assign rating = product.metafields.junip.rating_average | default: 0 | round: 2 %}
{% assign count = product.metafields.junip.rating_count | default: 0 | round: 2 %}

<span
  class="junip-product-summary"
  data-product-id="{{ product.id }}"
  data-product-rating-count="{{ product.metafields.junip.rating_count }}"
  data-product-rating-average="{{ product.metafields.junip.rating_average }}">
  {% if enabled %}
    {% if count > 0 %}
      <div class="junip-product-summary-stars-wrapper" style="--junipStarColor: {{ starColor }}; text-align: inherit;">
        <div class="junip-product-summary-star-ratings-container" aria-label="{{rating}} stars, {{count}} reviews" style="display: inline-flex; margin-left: -1px; align-items: center;">
          <div class="junip-stars-container" style="display: flex; align-items: center; position: relative;">
            <div class="junip-stars-outline" style="display: flex; align-items: center;">
              {% for i in (1..5) %}
                <div class="junip-product-summary-star junip-star-outline" style="height: 20px; width: 20px; padding: 2px; z-index: inherit;">
                  <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img" style="display: block; margin: auto; width: auto; height: auto;">
                    <title>Outline star</title>
                    <path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081zm1.51-2.8841081 3.357-1.658.892.452 2.327 1.178-.56-3.912.708-.707 1.29-1.29-3.234-.576-.446-.915-1.06-2.176-1.584 3.171-1.005.168-2.098.35 1.975 1.975-.141.99z" fill="var(--junipStarColor)"/>
                  </svg>
                </div>
              {% endfor %}
            </div>
            <div class="junip-stars-filled" style="width: {{rating | times: 20}}%; display: flex; align-items: center; position: absolute; top: 0; left: 0; overflow: hidden; height: 100%;">
              {% for i in (1..5) %}
                <div class="junip-product-summary-star junip-star-filled" style="height: 20px; width: 20px; padding: 2px; z-index: inherit; flex-shrink: 0;">
                  <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img" style="display: block; margin: auto; width: auto; height: auto;">
                    <title>Filled star</title>
                    <path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--junipStarColor)"/>
                  </svg>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if showCount %}
            <div class="junip-product-summary-review-count" style="color: inherit; margin-left: 3px;">
              ({{count}})
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</span>
