<nav class="header__inline-menu">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in menu.links -%}
        <li>
          {%- if link.links != blank -%}
            <details-disclosure>          
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary class="header__menu-item list-menu__item link focus-inset">
                  <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  {% render 'icon-caret' %}
                </summary>
                {%- if link.levels > 1 -%} 
                  <div class="mega-menu-content motion-reduce popup" tabindex="-1">
                    <ul class="page-width" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>                          
                          <a href="{{ childlink.url }}"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                          {%- if childlink.links != blank -%}                            
                            <ul role="list" tabindex="-1">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- else -%}
                  <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce popup" role="list" tabindex="-1">
                    {%- for childlink in link.links -%}
                      <li>              
                        <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                          {{ childlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>                
                {%- endif -%}
              </details>
            </details-disclosure>
          {%- else -%}
            <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
              <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
