{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}


{%- liquid
    assign id_number = "miniblog"
    assign blogs["Recipes"] = "recipes"
    assign card_limit = 3
    assign blogs["Recipes"].articles_count = 4
     
    -%}


{%- style -%}
  .section-{{ id_number }}-padding {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ id_number }}-padding {
      padding-top: 1px;
      padding-bottom:   1px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = 4
    assign posts_exceed_limit = true
    assign posts_displayed = 3

-%}
<div class="blog color-scheme-1 gradient no-heading">
  <div class="page-width-desktop isolate page-width-tablet section-{{ id_number }}-padding">
    {%- # unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      {% comment %}
        <h2
          id="SectionHeading-{{ id_number }}"
          class="blog__title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
      {% endcomment %}


          <a
            href="/blogs/recipes"
            class="link underlined-link large-up-hide"
          >
            View All
          </a>
      </div>
    {%- # endunless -%}

    <slider-component class="slider-mobile-gutter">
      <ul
        id="Slider-{{ id_number }}"
        class="blog__posts articles-wrapper contains-card contains-card--article contains-card--standard grid grid--peek grid--2-col-tablet grid--1-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}"
        role="list"
      >
        {%- if blogs["Recipes"] != blank and blogs["Recipes"].articles_count > 0 -%}
          {%- for article in blogs["Recipes"].articles limit: card_limit -%}
            <li
              id="Slide-{{ id_number }}-{{ forloop.index }}"
              class="blog__post grid__item article slider__slide slider__slide--full-width"
            >
              {% render 'article-card',
                blog: blogs["Recipes"],
                article: article,
                media_aspect_ratio: 1.66,
                show_image: true,
                show_date: false,
                show_author: false,
                show_excerpt: false
              %}
            </li>
          {%- endfor -%}
        {%- else -%}
          {% for i in (1..card_limit) -%}
            {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
            {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
            <li
              id="Slide-{{ id_number }}-{{ forloop.index }}"
              class="blog__post grid__item article slider__slide slider__slide--full-width"
            >
              <div class="article-card-wrapper card-wrapper">
                <div
                  class="
                    card article-card card--standard
                    card--media
                  "
                  style=" --ratio-percent: 100%;"
                >
                  <div
                    class="card__inner color-scheme-2 gradient ratio"
                    style="--ratio-percent: 80%;"
                  >
                    {%- # if section.settings.show_image == true -%}
                      <div class="article-card__image-wrapper card__media">
                        <div class="article-card__image media">
                          {{ placeholder_image | placeholder_svg_tag: 'blog-placeholder-svg' }}
                        </div>
                      </div>
                    {%- # endif -%}
                    <div class="card__content">
                      <div class="card__information">
                        <h3 class="card__heading h2">
                          {{ 'sections.featured_blog.onboarding_title' | t }}
                        </h3>
                        <p class="article-card__excerpt rte-width">
                          {{ 'sections.featured_blog.onboarding_content' | t }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__information">
                      <h3 class="card__heading h2">
                        {{ 'sections.featured_blog.onboarding_title' | t }}
                      </h3>
                      <p class="article-card__excerpt rte-width">
                        {{ 'sections.featured_blog.onboarding_content' | t }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>
      {%- if posts_exceed_limit -%}
        <div class="slider-buttons{% if card_limit < 3 %} medium-hide{% endif %}{% if card_limit < 2 %} small-hide{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ card_limit }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- # if section.settings.show_view_all and card_limit < blogs["Recipes"].articles_count -%}
      <div
        class="blog__view-all center small-hide medium-hide"
      >
        <a
          href="/blogs/recipes"
          id="ViewAll-{{ id_number }}"
          class="blog__button button"
          aria-labelledby="ViewAll-{{ id_number }} SectionHeading-{{ id_number }}"
        >
          View All
        </a>
      </div>
    {%- # endif -%}
  </div>
</div>

{% comment %}
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.featured-blog.settings.heading.default",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name"
    }
  ]
}
{% endschema %}
{% endcomment %}