{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - name
  - value
  - id
  - is_checked
  - is_disabled
  - label_class
  - class
  - text_value

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
<label for="{{ id }}" class="flex gap-small items-center break-all {{ label_class }}">
  <input
    type="checkbox"
    name="{{ name }}"
    value="{{ value}}"
    id="{{ id }}"
    {% if is_checked %}
      checked
    {% endif %}
    {% if is_disabled %}
      disabled
    {% endif %}
    class="hide_input {{ class }}"
  >

  <div class="relative">
    <div
      class="w-[14px] h-[14px] rounded bg-transparent border border-grey300 {% if is_checked%} rounded-full bg-lime{% endif %}"
    ></div>

    <svg
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-checkmark absolute top-0 {% if is_checked%} flex{% else %} hidden{% endif %}"
    >
      <g id="Frame 40">
      <rect width="14" height="14" rx="7" fill="#C6FF00"/>
      <path id="Vector 4" d="M3.5 6.5L6 10L11 3.5" stroke="#311B92" stroke-width="1.5"/>
      </g>
    </svg>
  </div>

  {{ text_value }}
</label>
