{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - name
  - value
  - id
  - is_checked
  - is_disabled
  - label

  Usage:
  {% render 'price', product: product %}
{% endcomment %}

<input
  type="checkbox"
  name="{{ name }}"
  value="{{ value}}"
  id="{{ id }}"
  {% if is_checked %}
    checked
  {% endif %}
  {% if is_disabled %}
    disabled
  {% endif %}
  class="size_selector hide_input {% if is_disabled %} disabled{% endif %}"
>

<label
  for="{{ id }}"
  class="flex py-md px-base leading-base min-w-xl max-w-[200px] justify-center items-center rounded-[4px] border border-grey100 text-body-xs text-black hover:border-black cursor-pointer truncate {{ label_class }}"
>
  {{ label }}
</label>
