<div class="nu-grid {% if portion %}nu-col-1-3 nu-3col-4-2-2{% else %}nu-col-1-2 nu-2col-4-2{% endif %}">
  <div class="nu-ff-body nu-fs-1 nu-fw-400 nu-fw-lg-300 nu-lh-150 nu-ls-p024 nu-pl-5px">
    {{ description | escape }}
  </div>
  <div class="nu-ff-body nu-fs-1 nu-fw-400 nu-fw-lg-300 nu-lh-150 nu-ls-p024 nu-ta-c">
    {{ hundred | escape }} {{ unit | escape }}
  </div>
  {% if portion %}
    <div class="nu-ff-body nu-fs-1 nu-fw-400 nu-fw-lg-300 nu-lh-150 nu-ls-p024 nu-pr-10px nu-ta-r">
      {{ portion | escape }} {{ unit | escape }}
    </div>
  {% endif %}
</div>