{% assign option_contents_list = product.metafields.custom_but_hidden.option_contents.value %}

{% assign option_content = option_contents_list | where: 'option_name', option.name | first %}

{% assign option_content_name = option.name | append: 'Modal' %}

{% if option_contents_list != blank and option_content != null and option_content.content != null %}
  <modal-opener class="product-popup-modal__opener" data-modal="#{{ option_content_name }}">
    <button class="product-popup-modal__button link" type="button" aria-haspopup="dialog">
      {{ option_content.button_text }}
    </button>
  </modal-opener>

  <modal-dialog id="{{option_content_name }}" class="product-popup-modal">
    <div role="dialog" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button
        id="ModalClose-{{option_content_name }}"
        class="product-popup-modal__toggle"
        aria-label="Close"
        type="button"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>

      <h2>
        {{ option_content.option_title | metafield_tag }}
      </h2>

      <div class="product-popup-modal__content-info">
        {{ option_content.content.value.content }}
      </div>
    </div>
  </modal-dialog>
{% endif %}
