{% if product.metafields.custom.price_chart != blank %}
    <div class="table-price-chart center">
        <table>
            <tbody>
                <tr>
                    <th>Retail Price</th>
                    <th>Partner Price</th>
                    {% for i in product.metafields.custom.price_chart.value %}
                        <th>{{ i.price_name }} {% if i.price_subtitle != blank %}<small class="chart-subtitle">{{ i.price_subtitle }}</small>{% endif %}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        <span class="price table--price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                    </td>
                    <td>
                        <span class="price partner--price">{{ product.price | money_without_trailing_zeros }}</span>
                        <span class="badge badge-chart badge-sale">save {{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}%</span>
                    </td>
                    {% for i in product.metafields.custom.price_chart.value %}
                        {% assign custom_price = i.price_value | times: 100.0 %}
                        <td>
                            <span class="price table--price">{{ custom_price | money_without_trailing_zeros }}</span>
                            <span class="badge badge-chart badge-sale">save {{ product.compare_at_price | minus: custom_price | times: 100 | divided_by: product.compare_at_price | round }}%</span>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}