{% if product.has_only_default_variant %}
    {% if product.metafields.custom.price_tiers != blank %}
        {% assign saved_base_price = product.compare_at_price | default: product.price %}
        <div class="table-price-chart center">
            <table>
                <tbody>
                    <tr>
                        {% if product.type == 'Wholesale' %}
                            <th>Retail Price</th>
                            <th>Partner Price</th>
                        {% else %}
                            <th>1</th>
                        {% endif %}

                        {% for i in product.metafields.custom.price_tiers.value %}
                            <th>{{ i.name }} {% if i.subtitle != blank %}<small class="chart-subtitle">{{ i.subtitle }}</small>{% endif %}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% if product.type == 'Wholesale' %}
                            <td class="align-tbl-top">
                                <span class="price table--price">{{ saved_base_price | money_without_trailing_zeros }}</span>
                            </td>
                            <td>
                                <span class="price partner--price">{{ product.price | money_without_trailing_zeros }}</span>
                                <span class="badge badge-chart badge-sale">save {{ saved_base_price | minus: product.price | times: 100 | divided_by: saved_base_price }}%</span>
                            </td>
                        {% else %}
                            <td class="align-tbl-top">
                                <span class="price table--price">{{ product.price | money_without_trailing_zeros }}</span>
                            </td>
                        {% endif %}
                        {% for i in product.metafields.custom.price_tiers.value %}
                            {% assign custom_price = i.value.value %}
                            <td>
                                <span class="price table--price">{{ custom_price | money_without_trailing_zeros }}</span>
                                <span class="badge badge-chart badge-sale">save {{ saved_base_price | minus: custom_price | times: 100 | divided_by: saved_base_price | round }}%</span>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
    {% if product.metafields.custom.price_tiers != blank or product.variants[0].metafields.custom.price_tiers.value != blank %}
        <div class="variant-price-table">
            <div class="table-price-chart center">
                <table>
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            {% if product.type == 'Wholesale' %}
                                <th>Retail Price</th>
                                <th>Partner Price</th>
                            {% else %}
                                <th>1</th>
                            {% endif %}
                            {% for i in product.variants[0].metafields.custom.price_tiers.value %}
                                <th>{{ i.name }} {% if i.subtitle != blank %}<small class="chart-subtitle">{{ i.subtitle }}</small>{% endif %}</th>
                            {% endfor %}
                        </tr>

                        {% for variant in product.variants %}
                            {% if variant.metafields.custom.price_tiers.value != blank %}
                                    {% assign saved_base_price = variant.compare_at_price | default: variant.price %}
                                    <tr>
                                        {% if product.type == 'Wholesale' %}
                                            <td>{{ variant.title }}</td>
                                            <td class="align-tbl-top">
                                                <span class="price table--price">{{ saved_base_price | money_without_trailing_zeros }}</span>
                                            </td>
                                            <td>
                                                <span class="price partner--price">{{ variant.price | money_without_trailing_zeros }}</span>
                                                <span class="badge badge-chart badge-sale">save {{ saved_base_price | minus: variant.price | times: 100 | divided_by: saved_base_price }}%</span>
                                            </td>
                                        {% else %}
                                            <td>{{ variant.title }}</td>
                                            <td>
                                                <span class="price table--price">{{ variant.price | money_without_trailing_zeros }}</span>
                                            </td>
                                        {% endif %}
                                        {% for i in variant.metafields.custom.price_tiers.value %}
                                            {% assign custom_price = i.value.value %}
                                            <td>
                                                <span class="price table--price">{{ custom_price | money_without_trailing_zeros }}</span>
                                                <span class="badge badge-chart badge-sale">save {{ saved_base_price | minus: custom_price | times: 100 | divided_by: saved_base_price | round }}%</span>
                                            </td>
                                        {% endfor %}
                                    </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endif %}
