{% comment %}
  @param {Product}
  @param {string} product_form_id
{% endcomment %}

{% liquid
  assign variant = product.metafields.custom.subscription_addon_product.value.variants.first
%}
<div>
  <input
    name="items[1][id]"
    type="hidden"
    value="{{ variant.id }}"
    form="{{ product_form_id }}"
  >
  <input
    name="items[1][quantity]"
    type="hidden"
    value="1"
    form="{{ product_form_id }}"
  >

  {% for spa in variant.selling_plan_allocations %}
    {% assign sp = spa.selling_plan %}
    <div>
      <label for="spa-{{ forloop.index0 }}">
        {{- sp.name }}
        {{ spa.price | money -}}
      </label>
      <input
        form="{{ product_form_id }}"
        id="spa-{{ forloop.index0 }}"
        type="radio"
        name="items[1][selling_plan]"
        value="{{ spa.selling_plan.id }}"
      >
    </div>
  {% endfor %}
</div>
