<!-- /snippets/product-groups.liquid -->
<div class="product-groups">

    {% comment %} ====== ASSIGN VARIABLES ====== {% endcomment %}
    {% assign tagCount = 0 %}

    {% capture current_product_title %}{{ product.title }}{% endcapture %}
    {% capture all_product_colors %}{{ section.settings.product_colors }}{% endcapture %}

    {% assign product_colors = all_product_colors | split: ',' %}
    {% assign title_parts = product.title | split: ' ' %}


    {% comment %} ====== GET CURRENT PRODUCT COLOR ====== {% endcomment %}
    {% for product_color in product_colors %}
        {% if title_parts[2] contains product_color %}
            {% capture current_product_color %}{{ title_parts[0] }} {{ title_parts[1] }} {{ title_parts[2] }}{% endcapture %}
        {% elsif title_parts[1] contains product_color %}
            {% capture current_product_color %}{{ title_parts[0] }} {{ title_parts[1] }}{% endcapture %}
        {% elsif title_parts[0] contains product_color %}
            {% capture current_product_color %}{{ title_parts[0] }}{% endcapture %}
        {% endif %}
    {% endfor %}


    {% comment %} ====== GET CURRENT GROUP ====== {% endcomment %}
    {% for tag in product.tags %}
        {% if tag contains "group-" %}
            {% capture current_group_tag %}{{ tag | strip }}{% endcapture %}
            {% capture current_prefix %}{{ current_group_tag | replace: 'group-', '' | handleize }}{% endcapture %}
        {% endif %}
    {% endfor %}


    {% comment %} ====== CHECK IF MORE THAN 1 PRODUCT IN GROUP ====== {% endcomment %}
    {% paginate collections.all.products by 1000 %}
        {% for product in collections.all.products %}
            {% if product.tags contains current_group_tag %}
                {% assign tagCount = tagCount | plus: 1 %}
            {% endif %}
        {% endfor %}
    {% endpaginate %}

    <!-- {{ current_group_tag }} // ie: "group-Vortex-Leggings"-->
    <!-- {{ current_prefix }} // ie: "Vortex Leggings"-->
    <!-- {{ tagCount }} // ie: "The number of products in this group"-->

    {% if tagCount > 1 %}
        <div class="product-groups__images">

            {% comment %} ====== CURRENT PRODUCT COLOR ====== {% endcomment %}
            <a href="#" data-toggle="toggle1" class="other-product-image current-product-image">
                <img loading="lazy" src="{{ product | img_url: '200x300', crop: 'center' }}"
                     alt="{{ current_product_color }}">
            </a>

            {% assign itemID = 2 %}

            {% comment %} ====== OTHER PRODUCT COLORS ====== {% endcomment %}
            {% paginate collections.all.products by 1000 %}
                {% for product in collections.all.products %}
                    {% if product.tags contains current_group_tag %}
                        {% unless current_product_title == product.title %}
                            <a href="{{ product.url }}" data-toggle="toggle{{ itemID }}" class="other-product-image">
                                <img loading="lazy" src="{{ product | img_url: '200x300', crop: 'center' }}"
                                     alt="{{ product.title }}">
                            </a>
                            {% assign itemID = itemID | plus: 1 %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endpaginate %}

            <div class="product-groups__titles">

                {% comment %} ====== CURRENT COLOR NAME ====== {% endcomment %}
                <div class="product-label default-product-label" data-toggle="toggle1">
                    {{ current_product_color }}
                </div>

                {% assign labelID = 2 %}

                {% comment %} ====== OTHER COLOR NAMES ====== {% endcomment %}
                {% paginate collections.all.products by 1000 %}
                    {% for product in collections.all.products %}
                        {% if product.tags contains current_group_tag %}
                            {% unless current_product_title == product.title %}
                                <div class="product-label" data-toggle="toggle{{ labelID }}">

                                    {% assign temp_title_parts = product.title | split: ' ' %}

                                    {% for product_color in product_colors %}
                                        {% if temp_title_parts[2] contains product_color %}
                                            {% capture temp_product_color %}{{ temp_title_parts[0] }} {{ temp_title_parts[1] }} {{ temp_title_parts[2] }}{% endcapture %}
                                        {% elsif temp_title_parts[1] contains product_color %}
                                            {% capture temp_product_color %}{{ temp_title_parts[0] }} {{ temp_title_parts[1] }}{% endcapture %}
                                        {% elsif temp_title_parts[0] contains product_color %}
                                            {% capture temp_product_color %}{{ temp_title_parts[0] }}{% endcapture %}
                                        {% endif %}
                                    {% endfor %}

                                    {{ temp_product_color }}

                                </div>
                                {% assign labelID = labelID | plus: 1 %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                {% endpaginate %}
            </div>

        </div>
    {% endif %}


</div>

