{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for optionValue in option.values -%}
  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ optionValue | escape }}"
      form="{{ product_form_id }}"
      {% if optionValue.selected %}
        checked
      {% endif %}
      {% unless optionValue.context.available %}
        class="disabled"
      {% endunless %}
      data-contextual-variant-id="{{ optionValue.context.variant.id }}"
      data-contextual-product-handle="{{ optionValue.context.product_handle }}"
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ optionValue -}}
      <!-- TODO LH do we need this anymore? -->
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
    
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ optionValue | escape }}"
      {% if optionValue.selected %}
        selected="selected"
      {% endif %}
      data-contextual-variant-id="{{ optionValue.context.variant.id }}"
      data-contextual-product-handle="{{ optionValue.context.product_handle }}"
    >
      {% if optionValue.context.available? -%}
        {{- optionValue -}}
      {%- else -%}
        {{- 'products.product.value_unavailable' | t: option_value: optionValue -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}    
