{% comment %}
  Renders a product related product.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-card' product:product %}
{% endcomment %}

{% assign image_src = product.featured_image %}
{% assign product_brand = product.brand | default: 'Victas' %}
{% assign product_title = product.title | default: '' %}

<div class="p-base w-[197px] desktopUp:w-[320px] border border-grey100 {{ class }}">
  <div class="w-[167px] h-[167px] desktopUp:w-[288px] desktopUp:h-[288px] mb-base">
    <div class="w-full h-full flex justify-center items-center">
      <img
        src="{{ image_src | image_url: width: 288 | default: "https://placehold.co/288" }}"
        class="w-full h-full"
        alt="{{ product.media.alt | escape }}"
        width=""
        height=""
        loading="lazy"
      >
    </div>
  </div>

  <div class="w-full flex flex-col gap-mini">
    <h3 class="text-body-xs text-grey500 leading-4">
      {{ product_brand }}
    </h3>

    <h1 class="text-body-xs leading-4 text-black">
      {{ product_title }}
    </h1>

    {% render 'price-b',
      class: 'items-center flex-wrap gap-mini',
      main_class: '!text-h-sm !leading-5 h-5 block',
      discount_class: '!text-grey300 h-5 block'
    %}
  </div>
</div>
