{% if product %}
  <a href="{{ product.url }}" class="tabbed-product-card-link">
    <div class="tabbed-product-card">
      <div class="tabbed-product-card__image-wrapper">
        {% if product.images.size > 1 %}
          <div class="tabbed-product-card__progress">
            <div class="tabbed-product-card__progress-bar"></div>
          </div>

          <div class="swiper tabbed-product-swiper" data-product-id="{{ product.id }}">
            <div class="swiper-wrapper">
              {% for image in product.images limit: 4 %}
                <div class="swiper-slide">
                  <img
                    class="tabbed-product-card__image"
                    src="{{ image | image_url: width: 500 }}"
                    alt="{{ product.title | escape }}"
                    loading="lazy"
                    width="500"
                    height="500"
                  >
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <img
            class="tabbed-product-card__image"
            src="{{ product.featured_image | image_url: width: 500 }}"
            alt="{{ product.title | escape }}"
            loading="lazy"
            width="500"
            height="500"
          >
        {% endif %}

        {% comment %} <span class="tabbed-product-card__badge">In-store</span> {% endcomment %}
      </div>

      <div class="tabbed-product-card__content">
        <h3 class="tabbed-product-card__title">{{ product.title }}</h3>
        <p class="tabbed-product-card__price">{{ product.price | money }}</p>
      </div>
    </div>
  </a>
{% endif %}
