{% comment %}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}

  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'template-collection.css' | asset_url | stylesheet_tag }}

  {% if section.settings.image_shape == 'blob' %}
    {{ 'checkout-btn.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- unless section.settings.quick_add == 'none' -%}
    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endunless -%}

  {%- if section.settings.quick_add == 'standard' -%}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if section.settings.quick_add == 'bulk' -%}
    <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{% endcomment %}

{% comment %}
  assign btn_text = 'products.product.add_to_cart' | t
  assign btn_text = 'products.product.sold_out' | t
{% endcomment %}

{{ 'checkout-btn.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign check_against_inventory = true
  assign product_variant = product.selected_or_first_available_variant

  if product_variant.inventory_management != 'shopify' or product_variant.inventory_policy == 'continue'
    assign check_against_inventory = false
  endif
  if product_variant.quantity_rule.min > product_variant.inventory_quantity and check_against_inventory
    assign quantity_rule_soldout = true
  endif

  assign is_sold_out = false

  assign btn_text = 'add to cart'
  assign add_btn_id = 'ProductSubmitButton-' | append: section_id

  if product_variant.available == false or quantity_rule_soldout
    assign is_sold_out = true
    assign btn_text = 'sold out '
  endif
-%}

<div
  class="py-base w-full "
>
  <product-form
    class="product-form"
    data-hide-errors="{{ gift_card_recipient_feature_active }}"
    data-section-id="{{ section.id }}"
  >
    <div class="product-form__error-message-wrapper mb-small flex items-center gap-mini" role="alert" hidden>
      <svg
        aria-hidden="true"
        focusable="false"
        class="icon icon-error w-4 h-4"
        viewBox="0 0 13 13"
      >
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
      </svg>
      <span class="product-form__error-message text-body-sm text-red"></span>
    </div>

    {%- form 'product',
      product,
      id: product_form_id,
      class: 'form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      <input
        type="hidden"
        name="id"
        value="{{ product_variant.id }}"
        {% if is_sold_out %}
          disabled
        {% endif %}
        class="product-variant-id"
      >

      <div class="flex flex-col gap-small">
        <div class="flex gap-small sticky bottom-0">
          {% liquid
            assign type = type | default: 'default'
            assign classes = ''
            assign btn_left = 'rounded-l-4xl cursor-pointer'
            assign btn_right = 'rounded-r-4xl cursor-pointer'

            assign classes = classes | append: ' !w-huge h-[48px] text-t-md py-[11.5px] text-center'
            assign btn_left = btn_left | append: ' py-small !pr-small !pl-base no-bg'
            assign btn_right = btn_right | append: ' py-small !pl-small !pr-base no-bg'
          %}
          {% comment %} assign cart_qty = cart | item_count_for_variant: product_variant.id {% endcomment %}

          {% comment %}
            <div
              class="flex flex-grow-0 product-form__input product-form__quantity"
              id="Quantity-Form-{{ section.id }}"
            >
              <quantity-input
                class="bg-grey50 rounded-4xl flex"
                data-url="{{ product.url }}"
                data-section="{{ section_id }}"
              >
                <button class="no-js-hidden quantity__button {{ btn_left }} hover:bg-grey100" name="minus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-minus', class: 'w-base h-base', svgClass: 'stroke-grey500 hover:stroke-black' %}
                </button>

                <input
                  class="quantity__input {{ classes }} !grow-0 bg-grey50 text-black"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  data-cart-quantity="{{ cart_qty }}"
                  data-min="{{ product_variant.quantity_rule.min }}"
                  min="{{ product_variant.quantity_rule.min }}"
                  {% if product_variant.quantity_rule.max != null %}
                    data-max="{{ product_variant.quantity_rule.max }}"
                    max="{{ product_variant.quantity_rule.max }}"
                  {% endif %}
                  aria-label="{{ 'products.product.quantity.input_label' | t: product: product_variant.title | escape }}"
                  data-index="{{ product_variant.id }}"

                  form="{{ product_form_id }}"
                  data-quantity-variant-id="{{ product_variant.id }}"

                  step="{{ product_variant.quantity_rule.increment }}"
                  value="{{ product_variant.quantity_rule.min }}"
                  form="{{ product_form_id }}"
                >

                <button class="no-js-hidden quantity__button {{ btn_right }} hover:bg-grey100 " name="plus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-plus', class: 'w-base h-base', svgClass: 'stroke-grey500 hover:stroke-black' %}
                </button>
              </quantity-input>
            </div>
          {% endcomment %}

          {% render 'button',
            id: add_btn_id,
            variant: 'primary',
            size: 'lg',
            text: btn_text,
            classes: '!px-0 flex-grow add_to_cart',
            type: 'submit',
            name: 'add',
            disabled: is_sold_out
          %}
        </div>

        {{ form | payment_button }}

        <ul class="flex pt-small gap-mini flex-grow-0 flex-wrap" role="list">
          {%- for type in shop.enabled_payment_types -%}
            <li class="">
              {{ type | payment_type_svg_tag: class: 'icon w-[30px] h-5 !fill-[#D8E3F3]' }}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endform -%}
  </product-form>
</div>
