{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay
  - values: {String} a string of specific values to render
  - loop_index {Number} a product card forloop index (optional)
  - tag_variant_filter: {String} Show only swatches for variants that have this tag (optional)

  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type,
    values: values,
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
  assign apply_variant_filter = false

  if tag_variant_filter != blank
    assign apply_variant_filter = true

    comment
      If none of the products have the tag filter, show all variants
    endcomment
    assign variant_filter_tag_found = false
    for value in option.values
      if value.variant.product.tags contains tag_variant_filter
        assign variant_filter_tag_found = true
      endif
    endfor

    if variant_filter_tag_found == false
      assign apply_variant_filter = false
    endif
  endif
-%}

{%- for value in option.values -%}
  {%- if values == blank or values contains value -%}
    {%- liquid
      assign swatch_focal_point = null
      if value.swatch.image
        assign image_url = value.swatch.image | image_url: width: 50
        assign swatch_value = 'url(' | append: image_url | append: ')'
        assign swatch_focal_point = value.swatch.image.presentation.focal_point
      elsif value.swatch.color
        assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
      else
        assign swatch_value = null
      endif

      assign option_disabled = true
      if value.available
        assign option_disabled = false
      endif

      assign option_is_color = false
      if option.name == 'Color'
        assign option_is_color = true
      endif

      assign downcased_value = value | downcase
      assign is_tall_size = false
      if downcased_value contains 'tall'
        assign is_tall_size = true
      endif

      assign product_name = value.variant.product.title | split: ' in'
    -%}

    {%- capture input_id -%}{{ section.id }}-{{ value.variant.id }}-{{ option.position }}-{{- forloop.index0 -}}{%- if loop_index != blank -%}-{{- loop_index -}}{%- endif -%}{%- endcapture -%}

    {%- capture input_name -%}
      {{- option.name -}}-{{- option.position -}}
    {%- endcapture -%}

    {%- capture input_dataset -%}
      data-product-url="{{ value.product_url }}"
      data-option-value-id="{{ value.id }}"
      data-product-name="{{ product_name[0] }}"
      {% if value.variant.featured_image %}
        data-product-image="{{ value.variant.featured_image | image_url: width: 720 }}"
      {% endif %}
      {% if value.variant.featured_image == blank and value.variant.product.featured_image %}
        data-product-image="{{ value.variant.product.featured_image | image_url: width: 720 }}"
      {% endif %}
      data-product-price="{{ value.variant.price | money }}"
      data-product-compare-at-price="{{ value.variant.compare_at_price | money }}"
    {%- endcapture -%}

    {%- capture label_unavailable -%}
      <span class="visually-hidden label-unavailable">
        {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
      </span>
    {%- endcapture -%}

    {% if option_is_color %}
      <link rel="prefetch" href="{{ value.product_url }}">
    {% endif %}

    {%- if picker_type == 'swatch' -%}
      {% if apply_variant_filter == false or value.variant.product.tags contains tag_variant_filter %}
        {%- capture help_text -%}
          <span class="visually-hidden">{{ value | escape }}</span>
          {{ label_unavailable }}
        {%- endcapture -%}

        {%
          render 'swatch-input',
          id: input_id,
          name: input_name,
          value: value | escape,
          swatch: value.swatch,
          product_form_id: product_form_id,
          checked: value.selected,
          visually_disabled: option_disabled,
          shape: block.settings.swatch_shape,
          help_text: help_text,
          additional_props: input_dataset
        %}
      {% endif %}
    {%- elsif picker_type == 'button' -%}
      {%- if option_is_color -%}
        <div class="product-form-color">
      {%- endif -%}
      <input
        type="radio"
        id="{{ input_id }}"
        name="{{ input_name | escape }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if value.selected %}
          checked
        {% endif %}
        class="hide {% if option_disabled %}disabled{% endif %}"
        {% if is_tall_size %}
          data-tall-size
        {% endif %}
        {{ input_dataset }}
      >
      {%- if option_is_color -%}
        <label for="{{ input_id }}">
          <img
            src="{{ value.variant.featured_image | image_url: width: 720, crop: 'center' }}"
            alt="{{ value.variant.title }}"
            title="{{ value.variant.title }}"
            width="60"
            height="73"
          >
        </label>
      {%- else -%}
        <label
          for="{{ input_id }}"
          {% if is_tall_size %}
            data-tall-size
            class="hide"
          {% endif %}
        >
          {{ value }}
          {{ label_unavailable }}
        </label>
      {%- endif -%}
      {%- if option_is_color -%}
        </div>
      {%- endif -%}
    {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
      <option
        id="{{ input_id }}"
        value="{{ value | escape }}"
        {% if value.selected %}
          selected="selected"
        {% endif %}
        {% if swatch_value and picker_type == 'swatch_dropdown' %}
          data-option-swatch-value="{{ swatch_value }}"
          {% if swatch_focal_point %}
            data-option-swatch-focal-point="{{ swatch_focal_point }}"
          {% endif %}
        {% endif %}
        {{ input_dataset }}
      >
        {% if option_disabled -%}
          {{- 'products.product.value_unavailable' | t: option_value: value -}}
        {%- else -%}
          {{- value -}}
        {%- endif %}
      </option>
    {%- endif -%}
  {% endif %}
{%- endfor -%}
