{% comment %}
  Renders a size chart modal.

  Accepts:
  - page_handle: {String} Handle for size chart page (default in site settings)

  Usage:
  {% render 'product-size-chart', page_handle: 'My-Handle'%}
{% endcomment %}

{%- if page_handle or settings.size_chart -%}
  <details-modal class="size-chart-modal modal">
    <details>
      <summary
        class="size-chart__toggle link focus-inset modal__toggle"
        aria-haspopup="dialog"
        aria-label="{{ settings.size_chart_label }}"
      >
        {{ settings.size_chart_label }}
      </summary>
      <div
        class="modal__content gradient"
        role="dialog"
        aria-modal="true"
        aria-label="{{ settings.size_chart_label }}"
      >
        <div class="modal-overlay"></div>
        <div
          class="size-chart-modal__content{% if page_handle == blank %} size-chart-modal__content--center{% endif %}{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} size-chart-modal__content-top{% else %} size-chart-modal__content-bottom{% endif %}"
          tabindex="-1"
        >
          <div class="size-chart-modal__content-container">
            <div class="page-width">
              {% if page_handle != blank %}
                {% assign page_ref = pages[page_handle] %}
                {{ page_ref.content }}
              {% else %}
                {{ pages[settings.size_chart].content }}
              {% endif %}
            </div>
          </div>

          <button
            type="button"
            class="size-chart-modal__close-button modal__close-button link link--text focus-inset"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            <svg class="icon icon-close" aria-hidden="true" focusable="false">
              <use href="#icon-close">
            </svg>
          </button>
        </div>
      </div>
    </details>
  </details-modal>
{%- endif -%}
