<div class="selector-container">
  <article class="max">
    {% if product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="buying-option" style="display:none">
          <h4 class="option-title">
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>
          <div class="segmented-control">
            {% for value in option.values %}
              <input
                type="radio"
                name="{{ option.name }}"
                value="{{ value }}"
                id="{{ value }}"
                {% if forloop.first %}
                  checked
                {% endif %}
              >
              <label for="{{ value }}"> {{ value }} </label>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for option in product.options_with_values %}
        <div class="buying-option">
          <h4 class="option-title">
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>
          <div class="segmented-control">
            {% for value in option.values %}
              <input
                type="radio"
                name="{{ option.name }}"
                value="{{ value }}"
                id="{{ value }}"
                {% if forloop.first %}
                  checked
                {% endif %}
              >
              <label for="{{ value }}"> {{ value }} </label>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>

  <article class="max">
    <div class="buy-this">
      <div class="summary">
        <div class="number-of-items">
          <div class="quantity">
            <button type="button" class="remove-quantity">−</button>
            <input type="number" value="1">
            <button type="button" class="add-quantity">+</button>
          </div>
        </div>
        <div class="subtotal-of-items">{{ product.first_available_variant.price | money }}</div>
      </div>
      <button class="pulse atc">Add to basket</button>
    </div>
  </article>
</div>
