{% comment %}
    Renders a product card placeholder

    Accepts:
    - show_vendor: {Boolean} Show the product vendor. Default: false (optional)

    Usage:
    {% render 'product-card-placeholder' %}
{% endcomment %}

<div class="card-wrapper">
  <div class="card
    card--{{ settings.card_style }}
    card--text
    {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
    {% if product_card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
    style="--ratio-percent: 100%;"
  >
    <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }}{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
      <div class="card__content">        
        <div class="card__information">
          <h3 class="card__heading">
            <a href="#" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
        </div>  
      </div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
          <a href="#" class="full-unstyled-link">
            {{ 'onboarding.product_title' | t }}
          </a>
        </h3>
        <div class="card-information">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
          {%- endif -%}
          {% render 'price' %}
        </div>
      </div>
    </div>
  </div>
</div>
