{% comment %}
  Renders product variant options

  Accepts:
   - product: {Object} product object.
  - option: {Object} current product_option object.
  - select_id: {String} id of the select element
  - select_name: {String} name of the select element
  - product_form_id: {String} Id of the product form to which the variant picker is associated.



  Usage:
  {% render 'product-shape-select',
    product: product,
    option: option,

  %}
{% endcomment %}

<div class=" relative">
  <select
    id="{{select_id }}"
    name="{{ select_name }}"
    form="{{ product_form_id }}"
    class="text-body-sm bg-transparent appearance-none relative w-full flex justify-between p-base border border-grey100 rounded-[4px]  {{ select_class }} z-10 focus-visible:no-outline focus-visible:outline-offset-0 focus-visible:shadow-none product-form__input"
  >
    {% for value in option.values %}
      <option
        value="{{ value | escape }}"
        {% if option.selected_value == value %}
          selected="selected"
        {% endif %}
        class="text-body-sm text-black"
        {% if swatch_value and picker_type == 'swatch_dropdown' %}
          data-option-swatch-value="{{ swatch_value }}"
          {% if swatch_focal_point %}
            data-option-swatch-focal-point="{{ swatch_focal_point }}"
          {% endif %}
        {% endif %}
      >
        {{ value }}
      </option>
    {% endfor %}
  </select>

  <span for="{{ select_id }}" class="z-0  absolute top-1/2 right-base -translate-y-1/2">
    {% render 'icon-chevron-down' %}
  </span>
</div>
