{% comment %}
  Renders product's price options (regular, sale)

  Accepts:
  -

  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'product-card-price', product: product %}
{% endcomment %}
{% comment %} {{ product.variant.option1 }} {% endcomment %}

{%- liquid
  assign target = product.selected_or_first_available_variant | default: product

  assign compare_at_price = target.compare_at_price

  assign price = target.price
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false

  if compare_at_price > price
    assign has_discount = true
    assign discount = compare_at_price | minus: price
    assign discount_percentage = discount | times: 100 | divided_by: compare_at_price | append: '%' | prepend: '-'
  endif

  assign money_price = price | money
  assign money_regular_price = compare_at_price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="flex gap-mini items-center">
  <div>
    <span class="visually-hidden visually-hidden--inline">
      {% if has_discount %}
        {{ 'products.product.price.sale_price' | t }}
      {% else %}
        {{ 'products.product.price.regular_price' | t }}
      {% endif %}
    </span>

    <span class="text-h-sm leading-5 text-black">
      {{ money_price }}
    </span>
  </div>

  {% if has_discount %}
    <div>
      <span class="visually-hidden visually-hidden--inline">
        {{ 'products.product.price.regular_price' | t }}
      </span>

      <span>
        <s class="text-h-sm text-grey300">
          {{ money_regular_price }}
        </s>
      </span>
    </div>
  {% endif %}

  {% if has_discount %}
    {% render 'pill', variant: 'discount', text: discount_percentage %}
  {% endif %}
</div>
