{% if product.metafields.custom %}
  {% if product.metafields.custom.size != blank and product.metafields.custom.size > 0 %}
    {% for field in product.metafields.custom %}
      {% assign field_name = field[0] | replace: '_', ' ' %}
      {% unless field_name == 'product type' %}
        <div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
          <p style="text-transform: capitalize; grid-column: span 5/span 5;">{{ field_name }}</p>
          <p style="grid-column: span 7/span 7;">{{ field[1] }}</p>
        </div>
        <hr style="margin: 0; background: #e4e4e4">
      {% endunless %}
    {% endfor %}
    {% if product.metafields.custom_but_hidden.weight.value %}
      <div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
        <p style="text-transform: capitalize; grid-column: span 5/span 5;">Weight</p>
        <p style="grid-column: span 7/span 7;">{{ product.metafields.custom_but_hidden.weight.value }}</p>
      </div>
      <hr style="margin: 0; background: #e4e4e4">
    {% endif %}
    <div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
      <p style="text-transform: capitalize; grid-column: span 5/span 5;">Product Type</p>
      <p style="grid-column: span 7/span 7;">
        <span>{{ product.metafields.custom.product_type }}</span>
        <span id="sku">{{ product.selected_or_first_available_variant.sku }}</span>
      </p>
    </div>
  {% endif %}
{% endif %}
