<!-- snippets/product-bullets.liquid -->
<ul class="product-bullets">
  <li>
    <span class="product-bullets__image">
      <img loading="lazy"  src="{{ 'bullet_1.png' | asset_img_url: '200x' }}" alt="{{ 'products.bullets.bullet_1' | t }}">
    </span>
    <span class="product-bullets__text">
      {{ 'products.bullets.bullet_1' | t }}
    </span>	
  </li>
  <li>
    <span class="product-bullets__image">
      <img loading="lazy"  src="{{ 'bullet_2.png' | asset_img_url: '200x' }}" alt="{{ 'products.bullets.bullet_2' | t }}">
    </span>
    <span class="product-bullets__text">
      {{ 'products.bullets.bullet_2' | t }}
    </span>	
  </li>
  <li>
    <span class="product-bullets__image">
      <img loading="lazy"  src="{{ 'bullet_3.png' | asset_img_url: '200x' }}" alt="{{ 'products.bullets.bullet_3' | t }}">
    </span>
    <span class="product-bullets__text">
      {{ 'products.bullets.bullet_3' | t }}
    </span>	
  </li>
</ul>
<style>
  ul.product-bullets {
    margin: 20px 0;
    padding: 0;
  }

  ul.product-bullets li {
    margin: 10px 0;
    list-style: none;
  }

  .product-bullets__image img {
    width: 30px;
    margin-right: 15px;
  }

  .product-bullets__text {
    font-weight: bold;
    position: relative;
    top: -5px;
  }
</style>