{% comment %}
  Renders product customization data

   Accepts:
  - include_number: {Boolean} show number selector when true

  Usage:
  {% render 'product-customization'%}
{% endcomment %}

{% liquid

%}

<div class="my-base flex w-full flex-col gap-base">
  <h2 class="text-body-sm">Select customization type</h2>

  <div class="relative">
    <select
      id="{{select_id }}"
      name="{{ select_name }}"
      form="{{ product_form_id }}"
      class="text-body-sm bg-transparent appearance-none relative w-full flex justify-between p-base border border-grey100 rounded-[4px]  {{ select_class }} z-10 focus-visible:no-outline focus-visible:outline-offset-0 focus-visible:shadow-none product-form__input"
    >
      {% for value in option.values %}
        <option
          value="{{ value | escape }}"
          {% if option.selected_value == value %}
            selected="selected"
          {% endif %}
          class="text-body-sm text-black"
          data-customization-type="{{ value | handleize }}"
        >
          {{ value }}
        </option>
      {% endfor %}
    </select>

    <span for="{{ select_id }}" class="z-0  absolute top-1/2 right-base -translate-y-1/2">
      {% render 'icon-chevron-down' %}
    </span>
  </div>

  <div id="JerseyNameField" class="field relative flex flex-col gap-small hidden">
    <label for="jersey_name" class="text-t-sm">
      {{ 'sections.product-detail.customization_name' | t }}
    </label>

    <input
      type="text"
      value=""
      name="properties[Jersey Name]"
      id="jersey_name"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="given-name"

      placeholder="{{ 'sections.product-detail.customization_name' | t }}"
      class="input"
      form="{{ product_form_id }}"
    >
  </div>

  <div
    id="JerseyNumberField"
    class="flex flex-col gap-small hidden"
  >
    <label for="jersey_name" class="text-t-sm">
      <span>
        {{ 'sections.product-detail.customization_number' | t }}
      </span>
      <span class="text-red"> * </span>
    </label>

    {% render 'qty-picker',
      id: 'jersey_number',
      form_id: product_form_id,
      name: 'properties[Jersey Number]',
      required: true
    %}
  </div>
</div>
