{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

{% assign variant_grouping_position = section.settings.variant_grouping_position | minus: 1 %}
{% assign variant_image_groupings = product.metafields.custom.variant_images_grouping_list.value %}
{% assign featured_media = product.selected_or_first_available_variant.featured_media %}
{% assign hide_image = false %}


<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    <div
      class="product-media-modal__content color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >

  {% if section.settings.group_variants_enable and product.has_only_default_variant != true and product.metafields.custom.disable_image_grouping.value != true %}   
  {% if section.settings.group_variants_source == "metafield" %}     
    {%- assign variant_grouping_name = nil -%}
    {% for grouping in variant_image_groupings %}
      {% assign file_group = grouping.file_grouping.value %}
      {% assign variant_group = grouping.variants.value %}
      {% for file in file_group %}
        {% if featured_media == file %}
          {% assign variant_grouping_name = grouping.name.value %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if variant_grouping_name != nil %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% else %}
    {%- assign variant_grouping_name = nil -%}
    {% if section.settings.group_variants_source == "filename" %}
      {%- assign extracted_parts = featured_media.src | split: section.settings.variant_grouping_delimiter -%}
    {% elsif section.settings.group_variants_source == "alttext" %}
      {%- assign extracted_parts = featured_media.alt | split: section.settings.variant_grouping_delimiter -%}
    {% endif %}
    {%- assign variant_grouping_name = extracted_parts[variant_grouping_position] -%}
    {%- assign selected_or_first_available_variant_grouping_name = variant_grouping_name -%}
  {% endif %}
{% endif %} 

      {%- liquid
        if product.selected_or_first_available_variant.featured_media != null
          assign media = product.selected_or_first_available_variant.featured_media
          render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image, hide_image: hide_image, variant_grouping_name: variant_grouping_name

        endif
      -%}

      {%- for media in product.media -%}
        {%- liquid
          if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
            assign variant_image = true
          else
            assign variant_image = false
          endif
        -%}

{% if section.settings.group_variants_enable and product.has_only_default_variant != true and product.metafields.custom.disable_image_grouping.value != true %} 
  {% if section.settings.group_variants_source == "metafield" %}       
    {%- assign variant_grouping_name = nil -%}
    {% assign hide_image = true %}
    {% for grouping in variant_image_groupings %}
      {% assign file_group = grouping.file_grouping.value %}
      {% assign variant_group = grouping.variants.value %}
      {% for file in file_group %}
        {% if media == file %}
          {% assign variant_grouping_name = grouping.name.value %}
          {% for variant_in_group in variant_group %}
            {% if variant_in_group.id == product.selected_or_first_available_variant.id %}
              {% assign hide_image = false %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if hide_image == false %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if hide_image == false %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% else %}
    {%- assign variant_grouping_name = nil -%}
    {% if section.settings.group_variants_source == "filename" %}
      {%- assign extracted_parts  = media.src | split: section.settings.variant_grouping_delimiter -%}
    {% elsif section.settings.group_variants_source == "alttext" %}
      {%- assign extracted_parts = media.alt | split: section.settings.variant_grouping_delimiter -%}
    {% endif %}
    {%- assign hide_image = true -%}
    {%- assign variant_grouping_name = extracted_parts[variant_grouping_position] -%}
    {% if selected_or_first_available_variant_grouping_name == variant_grouping_name %}
      {%- assign hide_image = false -%}
    {%- endif -%}
  {% endif %} 
{% endif %} 

        
        {%- liquid
          unless media.id == product.selected_or_first_available_variant.featured_media.id
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image, hide_image: hide_image, variant_grouping_name: variant_grouping_name

          endunless
        -%}
      {%- endfor -%}
    </div>
  </div>
</product-modal>
