{% comment %}
  Renders a product media carousel. Should be used with 'flowbite.min.js'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-image-carousel' %}
{% endcomment %}

<div>
  <div
    id="main-carousel"
    class="splide"
    aria-label="carousel with thumbnail"
  >
    <div class="relative">
      <div class="splide__arrows">
        <button class="bg-grey50 rounded-full cursor-pointer flex w-8 h-8 py-3 justify-center items-center absolute top-1/2 -translate-y-1/2 z-10 left-small splide__arrow splide__arrow--prev">
          {% comment %} {% render 'icon-chevron-right' %} {% endcomment %}
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="chevron">
            <path id="Vector 2" d="M11 2L5 8L11 14" stroke="#767676"/>
            </g>
          </svg>
        </button>

        <button class="bg-grey50 rounded-full cursor-pointer flex w-8 h-8 py-3 justify-center items-center absolute top-1/2 -translate-y-1/2 z-10 right-small splide__arrow splide__arrow--next">
          {% comment %} {% render 'icon-chevron-right' %} {% endcomment %}
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="chevron">
            <path id="Vector 2" d="M5 14L11 8L5 2" stroke="black"/>
            </g>
          </svg>
        </button>
      </div>

      <div class="splide__track border border-grey100">
        <ul class="splide__list">
          {% for media in product.media %}
            <li class="splide__slide">
              {% if media.media_type == 'image' %}
                <img
                  src="{{ media.src | image_url: width: 640 }}"
                  class="object-cover object-top"
                  alt="{{ media.alt | escape }}"
                  width=""
                  height=""
                  loading="lazy"
                >
              {% elsif media.media_type == 'video' %}
                {{
                  media
                  | video_tag:
                    image_size: '640x',
                    autoplay: true,
                    loop: true,
                    controls: true,
                    muted: true,
                    class: 'w-full h-full'
                }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <ul class="splide__pagination"></ul>
  </div>

  <ul
    id="thumbnails"
    class="thumbnails hidden lg:flex mt-base mx-auto mb-0 p-0"
    aria-label="thumbnails"
  >
    {% for media in product.media %}
      <li
        class="thumbnail w-mega h-mega overflow-hidden list-none my-0 mx-[3px] cursor-pointer border border-grey100"
        tabindex="{{ forloop.index0 }}"
      >
        {% if media.media_type == 'image' %}
          <img
            src="{{ media.src | image_url: width: 1600 }}"
            class="w-full h-full"
            alt="{{ media.alt | escape }}"
            width=""
            height=""
            loading="lazy"
            aria-label="Go to slide {{forloop.index}}"
          >
        {% elsif media.media_type == 'video' %}
          {{
            media
            | video_tag:
              image_size: '640x',
              autoplay: false,
              loop: false,
              controls: false,
              muted: true,
              class: 'w-full h-full'
          }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
