{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}

    {% comment %}
      Hides the variant selector for products with only a single option for a single variant
      Added 7/25/25 by Jacob Fisher
    {% endcomment %}
    {% if product.options_with_values.size == 1 and product.options_with_values[0].values.size == 1 %}
    data-hidden
    {% endif %}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif

        assign option_is_color = false
        assign option_is_size = false
        assign downcased_option_name = option.name | downcase

        if downcased_option_name == 'color'
          assign option_is_color = true
        endif

        if downcased_option_name == 'size'
          assign option_is_size = true
        endif

        assign has_tall_sizing = false
        for value in option.values
          assign downcased_value = value | downcase
          if downcased_value contains 'tall'
            assign has_tall_sizing = true
          endif
        endfor
      -%}

      {% comment %} Assign color categories array {% endcomment %}
      {%- capture color_categories -%}
        {%- for value in option.values -%}
          {%- for tag in value.variant.product.tags -%}
            {%- if tag contains 'color-category' -%}
              {{- tag -}},
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endcapture -%}

      {%- assign color_categories_array = color_categories | split: ',' | uniq -%}

      {% comment %} WIP sort color categories based on admin field {% endcomment %}
      {% comment %}
        {% if block.settings.color_category_order != blank %}
          {% assign color_category_order_array = block.settings.color_category_order | split: '\n' %}
          {% assign de_duped_sorted_categories = color_category_order_array | concat: color_categories_array | uniq %}

          {% render 'dump' with de_duped_sorted_categories %}
        {% endif %}
      {% endcomment %}

      {% comment %} Group colors by category {% endcomment %}
      {%- capture grouped_colors -%}
        {%- for color_category in color_categories_array -%}
          {%- for value in option.values -%}
            {%- assign tags = value.variant.product.tags | join: ' ' -%}
            {%- if tags contains color_category -%}
              {{- value -}},
            {%- endif -%}
          {%- endfor -%}
          {%- unless forloop.last -%}|{%- endunless -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- assign grouped_colors = grouped_colors | split: '|' -%}

      {%- capture ungrouped_colors = '' -%}
        {%- for value in option.values -%}
          {%- assign color_is_grouped = false -%}
          {%- for category in color_categories_array -%}
            {%- if grouped_colors[forloop.index0] contains value -%}
              {%- assign color_is_grouped = true -%}
            {% endif %}
          {%- endfor -%}
          {%- unless color_is_grouped -%}
            {{- value -}},
          {%- endunless -%}
        {%- endfor -%}
      {%- endcapture -%}
      {% assign ungrouped_colors_array = ungrouped_colors | split: ',' %}

      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          {%- if color_categories_array.size > 0 -%}
            {% comment %} Colors assigned to a group {% endcomment %}
            {%- for category in color_categories_array -%}
              {% assign category_name = category | split: ':' %}
              <div class="color-category">
                <div class="form__label">
                  {{ category_name[1] }}:
                  <span class="option-name-label" data-selected-value>
                    {%- if grouped_colors[forloop.index0] contains option.selected_value -%}
                      &nbsp;
                      {{- option.selected_value -}}
                    {%- endif -%}
                  </span>
                </div>
                <div class="product-form-colors">
                  {%
                    render 'product-variant-options',
                    product: product,
                    option: option,
                    block: block,
                    picker_type: picker_type,
                    values: grouped_colors[forloop.index0] | join: ' '
                  %}
                </div>
              </div>
            {%- endfor -%}

            {% comment %} Colors not assigned to a group {% endcomment %}
            {% if ungrouped_colors_array.size > 0 %}
              <div class="color-category">
                <div class="form__label">
                  {{ settings.default_color_category }}:
                  <span class="option-name-label" data-selected-value>
                    {%- if ungrouped_colors_array contains option.selected_value -%}
                      &nbsp;
                      {{- option.selected_value -}}
                    {%- endif -%}
                  </span>
                </div>
                <div class="product-form-colors">
                  {%
                    render 'product-variant-options',
                    product: product,
                    option: option,
                    block: block,
                    picker_type: picker_type,
                    values: ungrouped_colors_array | join: ' '
                  %}
                </div>
              </div>
            {% endif %}
          {%- else -%}
            <legend class="form__label">
              {{ option.name }}:
              {%- if color_categories.size == 0 -%}
                &nbsp;<span data-selected-value>{{- option.selected_value -}}</span>
              {% endif %}
            </legend>
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          {%- endif -%}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill {%- if option_is_color -%}product-form__input--color{%- endif -%}">
          <legend class="form__label {% if option_is_size %}form__label--flex{% endif %}">
            {{ option.name }}:
            {%- if color_categories.size == 0 -%}
              <span class="option-name-label" data-selected-value
                >&nbsp;
                {{- option.selected_value -}}
              </span>
            {%- endif -%}
            {% if option_is_size %}
              <button
                id="size-chart-toggle"
                class="size-chart__toggle link focus-inset modal__toggle"
                aria-haspopup="dialog"
                aria-label="{{ settings.size_chart_label }}"
                role="button"
              >
                {{- settings.size_chart_label -}}
              </button>
            {% endif %}
          </legend>
          {%- if option_is_color -%}
            {%- if color_categories_array.size > 0 -%}
              {%- for category in color_categories_array -%}
                {% assign category_name = category | split: ':' %}
                <div class="color-category">
                  <div class="form__label">
                    {{ category_name[1] }}:
                    {%- if grouped_colors[forloop.index0] contains option.selected_value -%}
                      <span class="option-name-label" data-selected-value
                        >&nbsp;
                        {{- option.selected_value -}}
                      </span>
                    {%- endif -%}
                  </div>
                  <div class="product-form-colors">
                    {%
                      render 'product-variant-options',
                      product: product,
                      option: option,
                      block: block,
                      picker_type: picker_type,
                      values: grouped_colors[forloop.index0] | join: ' '
                    %}
                  </div>
                </div>
              {%- endfor -%}
            {%- else -%}
              <div class="product-form-colors">
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type
                %}
              </div>
            {%- endif -%}
          {%- else -%}
            {%- if has_tall_sizing -%}
              <div class="tall-sizing-controls">
                <button class="" data-button-regular>Regular</button>
                <button class="inactive" data-button-tall>Tall</button>
              </div>
            {%- endif -%}

            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          {%- endif -%}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}:</label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                &nbsp;{% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
