{% comment %}
  Renders Quantity Picker Button
  Accepts:
  -type: {String} button type (default | checkout).
  -class: {String} .

  Usage:
  {% render 'qty-picker' %}
{% endcomment %}

{% assign type = type | default: 'default' %}

{% assign classes = '' %}
{% assign btnLeft = 'tw-rounded-l-4xl tw-cursor-pointer' %}
{% assign btnRight = 'tw-rounded-r-4xl tw-cursor-pointer' %}

{% if variant == 'checkout' %}
  {% assign classes = classes | append: '  !tw-w-[36px] tw-h-[28px] tw-text-body-xs tw-py-[6px] tw-px-[15px]' %}
  {% assign btnLeft = btnLeft | append: ' tw-py-small tw-px-[10px] tw-no-bg' %}
  {% assign btnRight = btnRight | append: ' tw-py-small tw-px-[10px] tw-no-bg' %}
{% else %}
  {% assign classes = classes | append: ' !tw-w-huge tw-h-[48px] tw-text-t-md tw-py-[11.5px] tw-px-[20px]' %}
  {% assign btnLeft = btnLeft | append: ' tw-py-small !tw-pr-small !tw-pl-base tw-no-bg' %}
  {% assign btnRight = btnRight | append: ' tw-py-small !tw-pl-small !tw-pr-base tw-no-bg' %}
{% endif %}

<div class="tw-flex tw-flex-grow-0">
  <quantity-input class="tw-bg-grey50 tw-rounded-4xl tw-flex">
    <button class="no-js-hidden {{ btnLeft }} hover:tw-bg-grey100" name="minus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-minus', class: 'tw-w-base tw-h-base', svgClass: 'tw-stroke-grey500 hover:tw-stroke-black' %}
    </button>

    <input
      class="quantity__input {{ classes }} !tw-grow-0"
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      min="1"
      value="1"
      form="{{ product_form_id }}"
    >

    <button class="no-js-hidden {{ btnRight }} hover:tw-bg-grey100 " name="plus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-plus', class: 'tw-w-base tw-h-base', svgClass: 'tw-stroke-grey500 hover:tw-stroke-black' %}
    </button>
  </quantity-input>
</div>
