{% comment %}
  Renders Quantity Picker Button
  Accepts:
  -type: {String} button type (default | checkout).
  -class: {String} .

  Usage:
  {% render 'qty-picker' %}
{% endcomment %}

{% assign type = type | default: 'default' %}

{% assign classes = '' %}
{% assign btnLeft = 'rounded-l-4xl cursor-pointer' %}
{% assign btnRight = 'rounded-r-4xl cursor-pointer' %}

{% if variant == 'checkout' %}
  {% assign classes = classes | append: '  !w-[36px] h-[28px] text-body-xs py-[6px] px-[15px]' %}
  {% assign btnLeft = btnLeft | append: ' py-small px-[10px] no-bg' %}
  {% assign btnRight = btnRight | append: ' py-small px-[10px] no-bg' %}
{% else %}
  {% assign classes = classes | append: ' !w-huge h-[48px] text-t-md py-[11.5px] px-[20px]' %}
  {% assign btnLeft = btnLeft | append: ' py-small !pr-small !pl-base no-bg' %}
  {% assign btnRight = btnRight | append: ' py-small !pl-small !pr-base no-bg' %}
{% endif %}

<div class="flex flex-grow-0">
  <quantity-input class="bg-grey50 rounded-4xl flex">
    <button class="no-js-hidden {{ btnLeft }} hover:bg-grey100" name="minus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-minus', class: 'w-base h-base', svgClass: 'stroke-grey500 hover:stroke-black' %}
    </button>

    <input
      class="quantity__input {{ classes }} !grow-0"
      type="number"
      name="quantity"
      id="Quantity-{{ section.id }}"
      min="1"
      value="1"
      form="{{ product_form_id }}"
    >

    <button class="no-js-hidden {{ btnRight }} hover:bg-grey100 " name="plus" type="button">
      <span class="visually-hidden">
        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
      </span>
      {% render 'icon-plus', class: 'w-base h-base', svgClass: 'stroke-grey500 hover:stroke-black' %}
    </button>
  </quantity-input>
</div>
