<style>
  .make-subscription {
    display: block;
    margin-bottom: 10px;
  }
  .hidden-element {
    display: none !important;
  }

  .product-form__input {
    max-width: unset;
  }

  .product-form__input > #tabheadings > label {
    background-color: rgba(0,0,0,0);
    border-radius: unset;
    padding: 1rem;
    border: none !important;
  }

  #once, #subs {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[name="subscription"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    position: static !important;
    height: unset !important;
    width: unset !important;
  }

  input[name="onetime"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    position: static !important;
    height: unset !important;
    width: unset !important;
  }

  #oncelabel {
    color: rgba(17,17,17,0.5);
    margin-bottom: 0;
  }

  #subslabel {
    color: rgba(0,0,0,1);
    margin-bottom: 0;
  }

  .product-form__input > #tabheadings > input:checked + label {
    opacity: 1;
    background-color: #fbf9f7;
  }
  label svg {
    height: 17px;
  }

  #quantity-subscription-body {
    background-color: #fbf9f7;
    width: 100%;
  }

  quantity-input {
    background-color: #ffffff;
  }
  .hidden-vis {
    visibility: hidden;
  }
  .product-form__input input[type='radio'] + label {
    border: none;
    border-radius: 0;
  }
  .product-form__input input[type='radio'] + label:hover {
    border: none;
    outline: none;
  }
  .product-form__input input[type='radio']:checked + label {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
  {% comment %} .product-form__input #subscription input[type="radio"] + label {
    border: 0.1rem solid rgba(var(--color-foreground),0.55);
    background-color: #888888;
    border-radius: 0.5rem;
  }
  .product-form__input #subscription input[type="radio"] + label p {
    color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label {
    background-color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label p {
    color: rgb(var(--color-foreground));
  } {% endcomment %}
  #subscription-btn-wrapper button {
    color: #000000;
    background-color: #ffcc00;
    border: none;
    box-shadow: none;
  }
  #subscription-btn-wrapper button:hover {
    background: #ffd940;
  }
  #sparabo-info {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  }
  #sparabo-close {
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-end;
  }
  #sparabo-close svg {
    width: 12px;
    height: 12px;
  }
  #quantity-wrapper input {
    background-color: #ffffff !important;
    color: #111111 !important;
  }
  #quantity-wrapper label {
    color: #111111 !important;
    text-decoration: none !important;
  }
</style>
{% if curr_variant.metafields.global.subscriptions.value.size > 0 %}
  <div class="product-form__input product-form__subscription w-100p" {{ block.shopify_attributes }}>
    <div class="flex row jc-fs ai-c" id="tabheadings">
      <input type="radio" value="once" name="mode" id="once" checked>
      <label for="once" class="checked" id="oncelabel">Einzelkauf</label>
      <input type="radio" value="subs" name="mode" id="subs">
      <label for="subs" id="subslabel" class="flex row ai-c">
        <span>
          Sparabo
        </span> 
        <span class="pos-rel t-2" id="info-container">
          {% render 'icon-info' %}
        </span>
      </label>
    </div>
    <div id="sparabo-info" class="hidden-element flex column ai-c pos-abs z-10000 px-5 py-5 w-350px" style="opacity: 1; transform: none">
      <button type="button" id="sparabo-close">
        {% render 'icon-close' %}
      </button>
      <svg viewBox="0 0 102 102" fill="none" aria-label="Savings Icon" class="w-100px h-100px">
        <path d="M90.826 57.537L57.584 90.78a9.272 9.272 0 01-13.121 0L4.636 51V4.636H51l39.826 39.827a9.273 9.273 0 010 13.074v0zM27.818 27.818h.046" stroke="#25282B" stroke-width="9.273" stroke-linecap="round" stroke-linejoin="round">
        </path>
      </svg>
      <h2>Spar-Abo</h2>
      <ol class="inside mb-5">
        <li>Produkte für regelmäßige Lieferung auswählen</li>
        <li>Häkchen setzen</li>
        <li>Lieferintervall auswähen</li>
        <li>Wie gewohnt bestellen... fertig!</li>
      </ol>
      <h3>Bequem, Flexibel, Risikofrei!</h3>
      <ul class="inside">
        <li>10-16% Rabatt (für diese und alle Folgebestellungen des Abos)</li>
        <li>Keine Mindestvertragslaufzeit</li>
        <li>Jederzeit kündbar</li>
      </ul>
    </div>
    <div id="quantity-subscription-body">
      <div id="quantity-wrapper" class="flex column">
        {%- for price in curr_variant.metafields.global.prices.value -%}
          {% liquid 
            assign currs = price.cost
            assign references = curr_variant.metafields.global.prices.value[0]
            assign refs = references.cost
            assign diffs = currs | minus: refs | abs
            assign savings = 100 | times: diffs | divided_by: refs | round
          %}
          <div class="flex row ai-c px-4 py-5" style="{% if forloop.index0 != 0 %}border-top: 2px solid white;{% endif %}">
            <input type="radio" name="onetime" id="once-{{ forloop.index0 }}" disabled {% if forloop.index0 == 0 %}checked{% endif %} class="mr-5">
            <label class="w-100p flexi row jc-fs ai-c mx-0i my-0i px-0i py-0i">
              <img src="{{ product.featured_image | img_url: '100x' }}" alt="{{ product.featured_image.alt | escape }}" width="50" height="50" loading="lazy" class="mr-4">
              <div class="flex row jc-spb ai-c w-100p">
                <span class="flex column jc-fs ai-fs fs-0">
                  <span class="fw-500">
                    {{ price.title }}
                  </span>
                  <span class="fw-300">
                    {{ price.subtitle }}
                  </span>
                </span>
                <span class="flex column jc-fe ai-fe">
                  {% if savings > 0 %}
                    <span style="background-color: #ffcc00; padding: 6px 13px; color: black; font-weight: 500; border-radius: 40px;" class="mb-3">{{ savings }}% gespart</span>
                  {% endif %}
                  <span class="fs-2 fw-700 ta-r">{% if price.perUnit %}<span class="fw-300 fs-0">je </span>{% endif %}{{ price.cost | money_without_currency }} €</span>
                </span>
              </div>
            </label>
          </div>
        {%- endfor-%}
      </div>
      <div class="subscription hidden-element flex column" id="subscription">
        {%- for sub in curr_variant.metafields.global.subscriptions.value -%}
          {% liquid 
            assign curr = sub.cost
            assign content = sub.content
            assign reference = curr_variant.metafields.global.prices.value | where: 'content', content | first
            assign ref = reference.cost | times: reference.number
            assign diff = curr | minus: ref | abs
            assign saving = 100 | times: diff | divided_by: ref | round
          %}
          <div class="flex row jc-fs ai-c w-100p px-4 py-5" style="{% if forloop.index0 != 0 %}border-top: 2px solid white;{% endif %}">
            <input type="radio" value="{{ forloop.index0 }}" name="subscription" id="sub-{{ forloop.index0 }}"{% if forloop.index0 == 0 %} checked{% endif %} class="mr-5">
            <label for="sub-{{ forloop.index0 }}" class="flexi row jc-spb ai-c w-100p my-0i mx-0i px-0i py-0i">
              <p class="flex column jc-c ai-fs fs-0">
                <span class="fw-500">
                  {{ sub.title }}
                </span>
                <span class="fw-300">
                  {{ sub.subtitle }}
                </span>
              </p>
              <span class="flex column jc-fe ai-fe">
                {% if saving %}
                  <span style="background-color: #ffcc00; padding: 6px 13px; color: black; font-weight: 500; border-radius: 40px;" class="mb-3">{{ saving }}% gespart</span>
                {% endif %}
                <span class="fs-2 fw-700 ta-r">{{ sub.cost | money_without_currency }} €</span>
              </span>
            </label>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="w-100p py-7 flex row ai-c" style="background-color: #ffffff;" id="quantity-input-wrapper">
      <quantity-input class="quantity mr-4" id="quantity-input">
        <button class="quantity__button no-js-hidden" name="minus" type="button">
          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
          {% render 'icon-minus' %}
        </button>
        <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
        <button class="quantity__button no-js-hidden" name="plus" type="button">
          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
          {% render 'icon-plus' %}
        </button>
      </quantity-input>
      <div class="flex column ai-fs jc-fs">
        <p class="my-0 fs-2 lh-100">
          <span id="total" class="fw-700 ls-m080">{{ curr_variant.price | money_without_currency }} €</span>
          <span id="totalcompare" class="fw-400 td-lt"></span>
          <span class="fs-12px fw-300">inkl. MwSt.</span>
        </p>
        <p class="my-0 fs-12px lh-100 fw-300">
          <span id="unitprice">
            {% liquid
              assign reference = curr_variant.metafields.global.prices.value[0].reference
              assign unit = curr_variant.metafields.global.prices.value[0].unit
              assign content = curr_variant.metafields.global.prices.value[0].content 
              assign cost = curr_variant.metafields.global.prices.value[0].cost 
            %}
            {{ reference | times: cost | divided_by: content | money_without_currency }} €/{{ reference }} {{ unit }}
          </span>
        </p>
      </div>
    </div>
    <div class="flex column ai-fs jc-fs py-7 hidden-element" id="subscription-price-wrapper">
      <p class="my-0 fs-2 lh-100">
        <span id="substotal" class="fw-700 ls-m080">{{ curr_variant.metafields.global.subscriptions.value[0].cost | money_without_currency }} €</span>
        <span id="substotalcompare" class="fw-400 td-lt">{{ curr_variant.price | money_without_currency }} €</span>
        <span class="fs-12px fw-300">inkl. MwSt.</span>
      </p>
      <p class="my-0 fs-12px lh-100 fw-300">
        <span id="subsunitprice">
          {% liquid
            assign reference = curr_variant.metafields.global.subscriptions.value[0].reference
            assign unit = curr_variant.metafields.global.subscriptions.value[0].unit
            assign content = curr_variant.metafields.global.subscriptions.value[0].content 
            assign cost = curr_variant.metafields.global.subscriptions.value[0].cost 
          %}
          {{ reference | times: cost | divided_by: content | money_without_currency }} €/{{ reference }} {{ unit }}
        </span>
      </p>
    </div>
  </div>
{% else %}
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <label class="form__label" for="Quantity-{{ section.id }}">
      {{ 'products.product.quantity.label' | t }}
    </label>

    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
  </div>
  {% endif %}
</div>
<div {{ block.shopify_attributes }} id="subscription-btn-wrapper" class="hidden-element">
  <div>
    <a href="https://abo.schlafdrink.de/cart/{{ curr_variant.metafields.global.subscriptions.value[0].vid | escape }}:1" class="make-subscription nodec" id="subscription-link">
      <button
        type="button"
        class="button button--full-width py-5 px-7 fw-700 ls-p080 fs-0 ff-body uppercase"
      >
        Abonnement abschließen
      </button>
    </a>
  </div>
</div>
<div class="mt-4 flex row jc-c ai-c green checkmark ff-body fs-0 lh-100 hidden-element" id="subscription-checkmark-wrapper">
  {% render 'icon-checkmark' %}
  <span>
    <b>
      Auf Lager –
    </b>
    in 1-3 Tagen bei Dir
  </span>
</div>
<script>
  function changeButtons() {
    if(document.getElementById("once").checked) {
      document.getElementById("subscription-btn-wrapper").classList.add("hidden-element")
      document.getElementById("buy-buttons").classList.remove("hidden-element")
      document.getElementById("quantity-wrapper").classList.remove("hidden-element")
      document.getElementById("quantity-input-wrapper").classList.remove("hidden-element")
      document.getElementById("subscription").classList.add("hidden-element")
      document.getElementById("oncelabel").classList.add("checked")
      document.getElementById("subslabel").classList.remove("checked")
      document.getElementById("subscription-price-wrapper").classList.add("hidden-element")
      document.getElementById("subscription-checkmark-wrapper").classList.add("hidden-element")
    }
    if(document.getElementById("subs").checked) {
      document.getElementById("subscription-btn-wrapper").classList.remove("hidden-element")
      document.getElementById("buy-buttons").classList.add("hidden-element")
      document.getElementById("quantity-wrapper").classList.add("hidden-element")
      document.getElementById("quantity-input-wrapper").classList.add("hidden-element")
      document.getElementById("subscription").classList.remove("hidden-element")
      document.getElementById("oncelabel").classList.remove("checked")
      document.getElementById("subslabel").classList.add("checked")
      document.getElementById("subscription-price-wrapper").classList.remove("hidden-element")
      document.getElementById("subscription-checkmark-wrapper").classList.remove("hidden-element")
    }
  }
  document.querySelector("quantity-input > input[type=number]").addEventListener("change", (e) => {
    const quantity = e.target.value
    const prices = {{ curr_variant.metafields.global.prices }}
    let unitPrice
    if(quantity == 1) {
      document.getElementById("once-0").checked = true
      document.getElementById("total").innerHTML = `${(prices[0].cost / 100).toFixed(2).replace(".",",")} €`
      document.getElementById("totalcompare").innerHTML = ""
      unitPrice = prices[0].reference * prices[0].cost / prices[0].content
      document.getElementById("unitprice").innerHTML = `${(unitPrice / 100).toFixed(2).replace(".",",")} €/${prices[0].reference} ${prices[0].unit}`
    } else if (quantity == 2) {
      document.getElementById("once-1").checked = true
      document.getElementById("total").innerHTML = `${(2 * prices[1].cost / 100).toFixed(2).replace(".",",")} €`
      document.getElementById("totalcompare").innerHTML = `${(2 * prices[0].cost / 100).toFixed(2).replace(".",",")} €`
      unitPrice = prices[1].reference * (2 * prices[1].cost) / prices[1].content
      document.getElementById("unitprice").innerHTML = `${(unitPrice / 100).toFixed(2).replace(".",",")} €/${prices[1].reference} ${prices[1].unit}`
    } else {
      document.getElementById("once-2").checked = true
      document.getElementById("total").innerHTML = `${(Number(quantity) * prices[2].cost / 100).toFixed(2).replace(".",",")} €`
      document.getElementById("totalcompare").innerHTML = `${(Number(quantity) * prices[0].cost / 100).toFixed(2).replace(".",",")} €`
      unitPrice = prices[2].reference * (3 * prices[2].cost) / prices[2].content
      document.getElementById("unitprice").innerHTML = `${(unitPrice / 100).toFixed(2).replace(".",",")} €/${prices[2].reference} ${prices[2].unit}`
    }
  })
  document.querySelectorAll("#subscription input[type=radio]").forEach((element) => {
    element.addEventListener("change", (e) => {
      if(e.target.checked) {
        const subscriptions = {{ curr_variant.metafields.global.subscriptions }}
        const prices = {{ curr_variant.metafields.global.prices }}
        const number = Number(e.target.id.replace("sub-",""))
        document.getElementById("substotal").innerHTML = `${(subscriptions[number].cost / 100).toFixed(2).replace(".", ",")} €`
        const compareIndex = prices.findIndex(obj => obj.content === subscriptions[number].content)
        const quantity = compareIndex + 1
        const compareGood = prices[compareIndex] || null
        document.getElementById("substotalcompare").innerHTML = compareGood
          ?  subscriptions[number].cost < (quantity * compareGood.cost)
            ? `${(quantity * compareGood.cost / 100).toFixed(2).replace(".", ",")} €` 
            : ""
          : ""
        const unitPrice = subscriptions[number].reference * subscriptions[number].cost / subscriptions[number].content
        document.getElementById("subsunitprice").innerHTML = `${(unitPrice / 100).toFixed(2).replace(".",",")} €/${prices[2].reference} ${prices[2].unit}`
      }
    })
  })
  document.getElementById("info-container").addEventListener("click", (e) => {
    document.getElementById("sparabo-info").classList.remove("hidden-element")
  })
  document.getElementById("sparabo-close").addEventListener("click", () => {
    document.getElementById("sparabo-info").classList.add("hidden-element")
  })
  function changeLink(e) {
    const subscriptions = {{ curr_variant.metafields.global.subscriptions.value | json }}
    const checkedValue = Number(e.target.value)
    const vid = subscriptions[checkedValue].vid
    const url = `https://abo.schlafdrink.de/cart/${vid}:1`
    document.getElementById("subscription-link").href = url
  }
  document.querySelectorAll("input[name='mode']").forEach(element => element.addEventListener("change",changeButtons))
  document.querySelectorAll("input[name='subscription']").forEach(element => element.addEventListener("change", changeLink))
</script>