<style>
  .make-subscription {
    display: block;
    margin-bottom: 10px;
  }
  .hidden-element {
    display: none !important;
  }
  .product-form__input > #tabheadings > label {
    background-color: #888888;
    color: rgb(var(--color-background));
    border-radius: unset;
    padding: 1rem;
  }
  .product-form__input > #tabheadings > .checked {
    background-color: rgb(var(--color-background)) !important;
    color: rgb(var(--color-foreground)) !important;
    border-bottom: none !important;
  }
  label svg {
    height: 17px;
  }
  .qs-flex {
    display: flex;
  }
  .qs-row {
    flex-direction: row;
  }
  .qs-jc-fs {
    justify-content: flex-start;
  }
  .qs-ai-c {
    align-items: center;
  }
  .qs-w-100p {
    width: 100%;
    max-width: unset;
  }
  .hidden-vis {
    visibility: hidden;
  }
  .product-form__input #subscription input[type="radio"] + label {
    border: 0.1rem solid rgba(var(--color-foreground),0.55);
    background-color: #888888;
    border-radius: 0.5rem;
  }
  .product-form__input #subscription input[type="radio"] + label p {
    color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label {
    background-color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label p {
    color: rgb(var(--color-foreground));
  }
</style>
{% liquid
  if product.has_only_default_variant
    assign curr_variant = product.variants[0]
  else
    assign curr_variant = product.first_available_variant
  endif
%}
{% if curr_variant.metafields.global.subscriptions.value.size > 0 %}
  <div class="product-form__input product-form__subscription qs-w-100p" {{ block.shopify_attributes }}>
    <div class="qs-flex qs-row qs-jc-fs qs-ai-c" id="tabheadings">
      <input type="radio" value="once" name="mode" id="once" checked><label for="once" class="checked" id="oncelabel">einmalige Lieferung <span>{% render 'icon-checkmark' %}</span></label>
      <input type="radio" value="subs" name="mode" id="subs"><label for="subs" id="subslabel">Abonnieren und sparen <span class="hidden-element">{% render 'icon-checkmark' %}</span></label>
    </div>
    <quantity-input class="quantity" id="quantity-input">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
          {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        min="1"
        value="1"
        form="product-form-{{ section.id }}"
      >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
    <div class="subscription hidden-element" id="subscription">
      {%- for sub in curr_variant.metafields.global.subscriptions.value -%}
        <input type="radio" value="{{ forloop.index0 }}" name="subscription" id="sub-{{ forloop.index0 }}"{% if forloop.index0 == 0 %} checked{% endif %}><label for="sub-{{ forloop.index0 }}"><div><p>alle {{ sub.period }} Tage</p><p>{{ sub.cost | money_without_currency }} €</p><p{%if forloop.index0 != 0 %} class="hidden-vis"{% endif %}>{% render 'icon-checkmark' %}</p></div></label>
      {%- endfor -%}
    </div>
  </div>
{% else %}
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <label class="form__label" for="Quantity-{{ section.id }}">
      {{ 'products.product.quantity.label' | t }}
    </label>

    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
  </div>
  {% endif %}
</div>
<div {{ block.shopify_attributes }} id="subscription-btn-wrapper" class="hidden-element">
  <div>
    <a href="https://abo.schlafdrink.de/cart/{{ curr_variant.metafields.global.subscriptions.value[0].vid | escape }}:1" class="make-subscription nodec" id="subscription-link">
      <button
        type="button"
        class="button button--full-width"
      >
        Abonnement abschließen
      </button>
    </a>
  </div>
</div>
<script>
  function changeButtons() {
    if(document.getElementById("once").checked) {
      document.getElementById("subscription-btn-wrapper").classList.add("hidden-element")
      document.getElementById("buy-buttons").classList.remove("hidden-element")
      document.getElementById("quantity-input").classList.remove("hidden-element")
      document.getElementById("subscription").classList.add("hidden-element")
      document.getElementById("oncelabel").classList.add("checked")
      document.getElementById("subslabel").classList.remove("checked")
      document.querySelector("#once + label > span").classList.remove("hidden-element")
      document.querySelector("#subs + label > span").classList.add("hidden-element")
    }
    if(document.getElementById("subs").checked) {
      document.getElementById("subscription-btn-wrapper").classList.remove("hidden-element")
      document.getElementById("buy-buttons").classList.add("hidden-element")
      document.getElementById("quantity-input").classList.add("hidden-element")
      document.getElementById("subscription").classList.remove("hidden-element")
      document.getElementById("oncelabel").classList.remove("checked")
      document.getElementById("subslabel").classList.add("checked")
      document.querySelector("#once + label > span").classList.add("hidden-element")
      document.querySelector("#subs + label > span").classList.remove("hidden-element")
    }
  }
  function changeLink(e) {
    const subscriptions = {{ curr_variant.metafields.global.subscriptions.value | json }}
    const checkedValue = Number(e.target.value)
    for(let i = 0; i < subscriptions.length; i++){
      const id = `#sub-${i}`
      if (i == checkedValue) {
        document.querySelector(`${id} + label > div > p:last-child`).classList.remove("hidden-vis")
      } else {
        document.querySelector(`${id} + label > div > p:last-child`).classList.add("hidden-vis")
      }
    }
    const vid = subscriptions[checkedValue].vid
    const url = `https://abo.schlafdrink.de/cart/${vid}:1`
    document.getElementById("subscription-link").href = url
  }
  document.querySelectorAll("input[name='mode']").forEach(element => element.addEventListener("change",changeButtons))
  document.querySelectorAll("input[name='subscription']").forEach(element => element.addEventListener("change", changeLink))
</script>