<style>
  #once ~ quantity-input {
    display: none;
  }
  #subs ~ .subscription {
    display: none;
  }
  #once:checked ~ quantity-input {
    display: flex;
  }
  #subs:checked ~ .subscription {
    display: block;
  }
  .make-subscription {
    display: block;
    margin-bottom: 10px;
  }
  .hidden-element {
    display: none !important;
  }
</style>
{% liquid
  if product.has_only_default_variant
    assign curr_variant = product.variants[0]
  else
    assign curr_variant = product.first_available_variant
  endif
%}
{% if curr_variant.metafields.global.subscriptions.value.size > 0 %}
  <div class="product-form__input product-form__subscription" {{ block.shopify_attributes }}>
  <input type="radio" value="once" name="mode" id="once" checked><label for="once">einmalige Lieferung</label>
  <input type="radio" value="subs" name="mode" id="subs"><label for="subs">Abonnieren und sparen</label>
  <quantity-input class="quantity">
    <button class="quantity__button no-js-hidden" name="minus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
      {% render 'icon-minus' %}
    </button>
    <input class="quantity__input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        min="1"
        value="1"
        form="product-form-{{ section.id }}"
      >
    <button class="quantity__button no-js-hidden" name="plus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
      {% render 'icon-plus' %}
    </button>
  </quantity-input>
  <div class="subscription">
    {%- for sub in curr_variant.metafields.global.subscriptions.value -%}
      <input type="radio" value="{{ forloop.index0 }}" name="subscription" id="sub-{{ forloop.index0 }}"{% if forloop.index0 == 0 %} checked{% endif %}><label for="sub-{{ forloop.index0 }}"><div><p>alle {{ sub.period }} Tage</p><p>{{ sub.cost | money_without_currency }} €</p></div></label>
    {%- endfor -%}
  </div>
</div>
  {% else %}
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <label class="form__label" for="Quantity-{{ section.id }}">
      {{ 'products.product.quantity.label' | t }}
    </label>

    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
  </div>
  {% endif %}
</div>
<div {{ block.shopify_attributes }} id="subscription-btn-wrapper" class="hidden-element">
  <div>
    <a href="https://abo.schlafdrink.de/cart/{{ curr_variant.metafields.global.subscriptions.value[0].vid | escape }}:1" class="make-subscription nodec" id="subscription-link">
      <button
        type="button"
        class="button button--full-width"
      >
        Abonnement abschließen
      </button>
    </a>
  </div>
</div>
<script>
  function changeButtons() {
    if(document.getElementById("once").checked) {
      document.getElementById("subscription-btn-wrapper").classList.add("hidden-element")
      document.getElementById("buy-buttons").classList.remove("hidden-element")
    }
    if(document.getElementById("subs").checked) {
      document.getElementById("subscription-btn-wrapper").classList.remove("hidden-element")
      document.getElementById("buy-buttons").classList.add("hidden-element")
    }
  }
  function changeLink(e) {
    const subscriptions = {{ curr_variant.metafields.global.subscriptions.value | json }}
    const checkedValue = Number(e.target.value)
    const vid = subscriptions[checkedValue].vid
    const url = `https://abo.schlafdrink.de/cart/${vid}:1`
    document.getElementById("subscription-link").href = url
  }
  document.querySelectorAll("input[name='mode']").forEach(element => element.addEventListener("change",changeButtons))
  document.querySelectorAll("input[name='subscription']").forEach(element => element.addEventListener("change", changeLink))
</script>