<style>
  .make-subscription {
    display: block;
    margin-bottom: 10px;
  }
  .hidden-element {
    display: none !important;
  }

  .product-form__input {
    max-width: unset;
  }

  .product-form__input > #tabheadings > label {
    background-color: rgba(0,0,0,0);
    border-radius: unset;
    padding: 1rem;
    border: none !important;
  }

  #once, #subs {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[name="subscription"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    position: static !important;
    height: unset !important;
    width: unset !important;
  }

  input[name="onetime"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    position: static !important;
    height: unset !important;
    width: unset !important;
  }

  #oncelabel {
    color: rgba(17,17,17,0.5);
    margin-bottom: 0;
  }

  #subslabel {
    color: rgba(0,0,0,1);
    margin-bottom: 0;
  }


  .product-form__input > #tabheadings > input:checked + label {
    opacity: 1;
    background-color: #fbf9f7;
  }
  label svg {
    height: 17px;
  }

  #quantity-subscription-body {
    background-color: #fbf9f7;
    width: 100%;
    padding: 5%;
  }

  quantity-input {
    background-color: #ffffff;
  }
  .hidden-vis {
    visibility: hidden;
  }
  .product-form__input input[type='radio'] + label {
    border: none;
    border-radius: 0;
  }
  .product-form__input input[type='radio'] + label:hover {
    border: none;
    outline: none;
  }
  .product-form__input input[type='radio']:checked + label {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
  {% comment %} .product-form__input #subscription input[type="radio"] + label {
    border: 0.1rem solid rgba(var(--color-foreground),0.55);
    background-color: #888888;
    border-radius: 0.5rem;
  }
  .product-form__input #subscription input[type="radio"] + label p {
    color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label {
    background-color: rgb(var(--color-background));
  }
  .product-form__input #subscription input[type="radio"]:checked + label p {
    color: rgb(var(--color-foreground));
  } {% endcomment %}
  #subscription-btn-wrapper button {
    color: #000000;
    background-color: #ffcc00;
    border: none;
    box-shadow: none;
  }
  #subscription-btn-wrapper button:hover {
    background: #ffd940;
  }
</style>
{% if curr_variant.metafields.global.subscriptions.value.size > 0 %}
  <div class="product-form__input product-form__subscription w-100p" {{ block.shopify_attributes }}>
    <div class="flex row jc-fs ai-c" id="tabheadings">
      <input type="radio" value="once" name="mode" id="once" checked><label for="once" class="checked" id="oncelabel">Einzelkauf</label>
      <input type="radio" value="subs" name="mode" id="subs"><label for="subs" id="subslabel">Sparabo</label>
    </div>
    <div id="quantity-subscription-body">
      <div id="quantity-wrapper" class="flex column">
        {%- for price in curr_variant.metafields.global.prices.value -%}
          <div class="flex row ai-c" style="{% if forloop.index0 != 0 %}border-top: 2px solid white;{% endif %}">
          <input type="radio" name="onetime" id="once-{{ forloop.index0 }}" {% if forloop.index0 == 0 %}checked{% endif %}>
          <label class="w-100p flexi row jc-fs ai-c">
            <img src="{{ product.featured_image | img_url: '100x' }}" alt="{{ product.featured_image.alt | escape }}" width="50" height="50" loading="lazy" class="mr-4">
            <div class="flex row jc-spb ai-c w-100p">
              <span class="flex column jc-fs ai-fs fs-0">
                <span class="fw-500">
                  {{ price.title }}
                </span>
                <span class="fw-300">
                  {{ price.subtitle }}
                </span>
              </span>
              <span class="flex column jc-fe ai-fe">
                {% if price.saving %}
                  <span style="background-color: #ffcc00; padding: 6px 13px; color: black; font-weight: 500; border-radius: 40px;" class="mb-3">{{ price.saving }} gespart</span>
                {% endif %}
                <span class="fs-2 fw-700 ta-r">{% if price.perUnit %}<span class="fw-300 fs-0">je </span>{% endif %}{{ price.cost | money_without_currency }} €</span>
              </span>
            </div>
          </label>
        </div>
        {%- endfor-%}
        <quantity-input class="quantity" id="quantity-input">
          <button class="quantity__button no-js-hidden" name="minus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
          </button>
          <input class="quantity__input"
            type="number"
            name="quantity"
            id="Quantity-{{ section.id }}"
            min="1"
            value="1"
            form="product-form-{{ section.id }}"
          >
          <button class="quantity__button no-js-hidden" name="plus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
            {% render 'icon-plus' %}
          </button>
        </quantity-input>
      </div>
    <div class="subscription hidden-element flex column" id="subscription">
      {%- for sub in curr_variant.metafields.global.subscriptions.value -%}
        <div class="flex row jc-fs ai-c w-100p" style="{% if forloop.index0 != 0 %}border-top: 2px solid white;{% endif %}">
          <input type="radio" value="{{ forloop.index0 }}" name="subscription" id="sub-{{ forloop.index0 }}"{% if forloop.index0 == 0 %} checked{% endif %}>
          <label for="sub-{{ forloop.index0 }}" class="flexi row jc-spb ai-fs w-100p">
            <p class="flex column jc-fs ai-fs fs-0">
              <span class="fw-500">
                {{ sub.title }}
              </span>
              <span class="fw-300">
                {{ sub.subtitle }}
              </span>
            </p>
            <span class="flex column jc-fe ai-fe">
              {% if sub.saving %}
                <span style="background-color: #ffcc00; padding: 6px 13px; color: black; font-weight: 500; border-radius: 40px;" class="mb-3">{{ sub.saving }} gespart</span>
              {% endif %}
              <span class="fs-2 fw-700 ta-r">{{ sub.cost | money_without_currency }} €</span>
            </span>
          </label>
        </div>
      {%- endfor -%}
    </div>
    </div>
  </div>
{% else %}
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <label class="form__label" for="Quantity-{{ section.id }}">
      {{ 'products.product.quantity.label' | t }}
    </label>

    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
  </div>
  {% endif %}
</div>
<div {{ block.shopify_attributes }} id="subscription-btn-wrapper" class="hidden-element">
  <div>
    <a href="https://abo.schlafdrink.de/cart/{{ curr_variant.metafields.global.subscriptions.value[0].vid | escape }}:1" class="make-subscription nodec" id="subscription-link">
      <button
        type="button"
        class="button button--full-width"
      >
        Abonnement abschließen
      </button>
    </a>
  </div>
</div>
<script>
  function changeButtons() {
    if(document.getElementById("once").checked) {
      document.getElementById("subscription-btn-wrapper").classList.add("hidden-element")
      document.getElementById("buy-buttons").classList.remove("hidden-element")
      document.getElementById("quantity-wrapper").classList.remove("hidden-element")
      document.getElementById("subscription").classList.add("hidden-element")
      document.getElementById("oncelabel").classList.add("checked")
      document.getElementById("subslabel").classList.remove("checked")
    }
    if(document.getElementById("subs").checked) {
      document.getElementById("subscription-btn-wrapper").classList.remove("hidden-element")
      document.getElementById("buy-buttons").classList.add("hidden-element")
      document.getElementById("quantity-wrapper").classList.add("hidden-element")
      document.getElementById("subscription").classList.remove("hidden-element")
      document.getElementById("oncelabel").classList.remove("checked")
      document.getElementById("subslabel").classList.add("checked")
    }
  }
  function changeLink(e) {
    const subscriptions = {{ curr_variant.metafields.global.subscriptions.value | json }}
    const checkedValue = Number(e.target.value)
    const vid = subscriptions[checkedValue].vid
    const url = `https://abo.schlafdrink.de/cart/${vid}:1`
    document.getElementById("subscription-link").href = url
  }
  document.querySelectorAll("input[name='mode']").forEach(element => element.addEventListener("change",changeButtons))
  document.querySelectorAll("input[name='subscription']").forEach(element => element.addEventListener("change", changeLink))
</script>