{% if product.variant.metafields.global.subscriptions.size > 0 %}
  <div class="product-form__input product-form__subscription" {{ block.shopify_attributes }}>
  <input type="radio" value="once" name="mode" id="once"><label for="once">einmalige Lieferung</label>
  <input type="radio" value="subs" name="mode" id="subs"><label for="subs">Abonnieren und sparen</label>
  <quantity-input class="quantity">
    <button class="quantity__button no-js-hidden" name="minus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
      {% render 'icon-minus' %}
    </button>
    <input class="quantity__input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        min="1"
        value="1"
        form="product-form-{{ section.id }}"
      >
    <button class="quantity__button no-js-hidden" name="plus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
      {% render 'icon-plus' %}
    </button>
  </quantity-input>
  <div class="subscription">
    {%- for sub in product.variant.metafields.global.subscriptions -%}
      <button>
        <div>
        </div>
      </button>
    {%- endfor -%}
  </div>
</div>
  {% else %}
  <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
    <label class="form__label" for="Quantity-{{ section.id }}">
      {{ 'products.product.quantity.label' | t }}
    </label>

    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="product-form-{{ section.id }}"
        >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>
  </div>
  {% endif %}
</div>