<style>
  .quiz-bg {
    background-image: url('{{ section.settings.quiz_bg | img_url: 'master'}}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .quiz {
    margin-bottom: 20px;
  }
  .quiz button {
    padding: 10px 25px;
    border-radius: 31px;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
    border: none;
  }
  .octane-ai-quiz-rendered {
    width: 100%;
    display: none;
  }
  .quiz h3 {
    margin: 0;
    color: var(--brand-refresh-dark);
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
  }
  .quiz-open {
    padding: 70px;
  }
  .quiz-close {
    display: none;
    padding: 70px;
  }
  @media(max-width: 1400px) {
    .quiz-bg {
      background-position: center;
    }
  }
  @media(max-width: 749px) {
    .quiz {
      margin-top: -50px !important;
    }
  }
  @media(max-width: 767px) {
    .quiz {
      text-align: center;
    }
    .quiz h3 {
      font-size: 36px;
    }
    .quiz-bg {
      background-position: left;
    }
  }
  @media(max-width: 500px) {
    .quiz h3 {
      font-size: 24px;
    }
  }
</style>

<div class="quiz flex flex-col">
  <div class="quiz-open quiz-bg">
    <h3>{{ section.settings.heading }}</h3>
    <button id="quiz-btn" class="bg-blue brand-white">{{ section.settings.btn_title}}</button>
  </div>
  <div class="quiz-close quiz-bg">
    <h3>{{ section.settings.heading_2 }}</h3>
    <button id="quiz-btn-close" class="bg-blue brand-white">{{ section.settings.btn_title_2}}</button>
  </div>
  <div class="octane-ai-quiz" data-quiz-id="evBeQ7ng7eofSV9o" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div>
</div>
<script src="https://app.octaneai.com/b7ljg36xhef3rewl/quiz.js" async defer></script>
<script>
  $('#quiz-btn').on('click', function() {
    $('.octane-ai-quiz-rendered').fadeIn();
    $('.quiz-open').hide();
    $('.quiz-close').show();
  })

  $('#quiz-btn-close').on('click', function() {
    $('.octane-ai-quiz-rendered').fadeOut();
    $('.quiz-close').hide();
    $('.quiz-open').show();
  })
</script>