{{ 'services.css' | asset_url | stylesheet_tag }}

{% assign domain = shop.domain | split: 'www.' %}

{% if domain[0] contains 'hndrd' %}
  {% assign brand_name = 'Hundred' %}
{% else %}
  {% assign brand_name = 'Studio' %}
{% endif %}

<section
  id="remix-modal"
  style="display: none;"
></section>

<section class="remix-container">
  <legend class="form__label">
    <span>Personalise</span>
  </legend>

  <label class="frame-option sheet" for="remix">
    <input type="radio" name="customisation" id="remix">
    <div class="frame-name" style="display: flex; justify-content: space-between; align-items: center;">
      <span id="remix-title">Racket Remix by {{ brand_name }} </span>
      <span style="color: var(--gray-50); font-size: 1.3rem;">
        {{- all_products.remix.price | money -}}
      </span>
    </div>
    <span class="frame-description" id="remix-description">
      Personalize this {{ product.title | escape }} with our optional premium offering, designed to showcase your unique
      style on the court.
    </span>
  </label>
</section>

<style>
  @font-face {
    font-family: 'notoemoji';
    src: url("{{ 'mono3.ttf' | asset_url }}") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Space Mono';
    src: url("{{ 'SpaceMono-Regular.ttf' | asset_url }}") format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  .emojiFont {
    font-family: 'notoemoji', 'Space Mono', 'Apple Color Emoji', sans-serif !important;
    /* letter-spacing: -1px; */
  }
</style>

<script defer="defer">
  document.addEventListener('DOMContentLoaded', () => {
    const remixLabel = document.querySelector('label[for="remix"]');
    const remixRoot = document.getElementById('remix-modal');

    if (remixLabel && remixRoot) {
      remixLabel.addEventListener('click', () => {
        if (window?.s3_remix_modal_controller?.openModal) {
          window.s3_remix_modal_controller.openModal();
        }
        if (window?.s3_remix_config?.modelPath) {
          remixRoot.style.display = 'block';

          // Check if script already loaded
          if (!document.querySelector('script[src*="vx-remix"]')) {
            const script = document.createElement('script');
            script.src = "{{ 'vx-remix.js' | asset_url }}";
            script.defer = true;
            script.type = 'module';
            document.body.appendChild(script);
          }
        }
      });

      // set the remix variant id on window
      window.s3_remix_service_variant_id = '{{ all_products.remix.variants.first.id  }}';
    }
  });
</script>
