{% comment %}
  Renders a remote vendor's policy details (shipping, returns)
  TODO: we need to fetch the admin policy urls from somewhere.
    - fetch from Storefront API client side and push it into the DOM?
    - update liquid to expose these fields?
  We likely also want an extra check that a product is remote before rendering this, to prevent this snippet from being rendered on non-remote products.
  TODO: add settings for customizing the text

  Usage:
  {% render 'remote-policies' %}
{% endcomment %}

{% assign shipping_policy_url = 'https://www.shopify.com' %}
{% assign returns_policy_url = 'https://www.shopify.com' %}

<div class="product__accordion accordion quick-add-hidden">
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary>
      <div class="summary__title">
        {% render 'icon-accordion', icon: 'truck' %}
        <h2 class="h4 accordion__title inline-richtext">Shipping & Returns</h2>
      </div>
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </summary>
    <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
      <p>
        <a href="{{ shipping_policy_url }}">Shipping Policy</a>
      </p>
      <p>
        <a href="{{ returns_policy_url }}">Returns Policy</a>
      </p>
    </div>
  </details>
</div>
