{% comment %}
  Renders a remote vendor's details (logo, name, ratings)
  TODO: we need to fetch these from somewhere.
    - fetch from Storefront API client side and push it into the DOM?
    - update liquid to expose these fields?
    - vendor is currently a string, we need to make it an object with name, logo_url, rating_count, rating_value
      - these things are available on the shop object, but we can't fetch them from another shop
  We likely also want an extra check that a product is remote before rendering this, to prevent this snippet from being rendered on non-remote products.
  TODO: add settings for customizing the text, image, etc

  Usage:
  {% render 'remote-vendor' %}
{% endcomment %}

{% assign logo_url = 'https://picsum.photos/200/300' %}
{% assign name = 'Remote Vendor' %}
{% assign rating_count = 100 %}
{% assign rating_value = 4.5 %}

<div class="remote-vendor">
  <div class="logo">
    <img src="{{ logo_url }}" alt="" width="40" height="40">
  </div>
  <div class="info">
    <p class="intro">Sold and shipped by</p>
    <div class="name_and_ratings">
      <p class="name">{{ name }} ·</p>
      <div class="ratings">
        <p class="rating-count">
          {{ rating_value }}
        </p>
        <span class="rating-icon-wrapper">
          {{- 'icon-star.svg' | inline_asset_content -}}
        </span>
        <p class="rating-value">({{ rating_count }})</p>
      </div>
    </div>
  </div>
</div>
