{% comment %}
  Renders share button.
  Accepts:
  - block_context: {Object} either passing the block/section.
  - id: {String} ID to pass to the share-button element if needed.
  - share_value: {String} url to share.

  Usage:
  {% render 'share-button-block',
    block_context: block,
    id: 'Featured-product',
    share_value: share_url
  %}
{% endcomment %}
<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block_context.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% render 'icon-share' %}
    {{ block_context.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block_context.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {% render 'icon-share' %}
      {{ block_context.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
        </span>
        <input
          type="text"
          class="field__input"
          id="url"
          value="{{ share_value }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
