{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} heading for the icon.
  - origin: {String} heading for the icon.
  - share_value: {String} heading for the icon.

  Usage:
  {% render 'share-button-block',
    block: block,
    origin: 'Template/Section name',
    share_value: share_url
  %}
{% endcomment %}
<share-button {% if origin contains 'Product' %}id="Share-{{ section.id }}" {% endif %}class="share-button{% if origin contains 'Main-Product' %} quick-add-hidden{% endif %}" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% render 'icon-share' %}
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {% render 'icon-share' %}
      {{ block.settings.share_label | escape }}
    </summary>
    <div id="{{ origin }}-share-{{ section.id }}" class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
        </span>
        <input
          type="text"
          class="field__input"
          id="url"
          value="{{ share_value }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
