{% if settings.cart_drawer_shipping_bar_enable %}
  {{ 'drawer-shipping-bar.css' | asset_url | stylesheet_tag }}
  <div
    id="drawer-free-shipping-bar"
    class="shipping-bar-container"
    data-shipping-rate="{{ settings.cart_drawer_shipping_bar_free_shipping_rate }}"
    data-achieve-free-shipping="{{ settings.cart_drawer_shipping_bar_achieve_shipping_title }}"
    data-section-title="{{ settings.cart_drawer_shipping_bar_title }}"
    data-currency="{{ cart.currency.symbol }}"
    data-money-format="{{ shop.money_format }}"
  >
    <div class="shipping-bar-title h5" id="shipping-bar-title"></div>

    <div class="shipping-bar-progress-wrapper" aria-hidden="true">
      <div class="shipping-bar-progress-background">
        <div class="shipping-bar-progress" id="shipping-bar-progress"></div>
      </div>
    </div>
  </div>
{% endif %}
