{{ 'shipping-estimator.css' | asset_url | stylesheet_tag }}
<script src="{{ 'shipping-estimator.js' | asset_url }}" defer="defer"></script>

<shipping-estimator class="shipping-estimator">
  <form action="{{ routes.cart_url }}" class="shipping-estimator__form fieldset">
    {%- assign country_label = 'shipping_estimator.country' | t -%}
    {%- assign province_label = 'shipping_estimator.province' | t -%}
    {%- assign zip_label = 'shipping_estimator.zip' | t -%}
    {%- assign estimate_button = 'shipping_estimator.estimate' | t -%}

    <country-selector
      class="contents"
      {% if customer and customer.default_address %}
        country="{{ customer.default_address.country | escape }}"
      {% endif %}
    >
      <div class="form-control" {{ block.shopify_attributes }}>
        <label for="shipping-country">{{ country_label }}</label>
        <select
          id="shipping-country"
          class="shipping-input button--secondary "
          name="address[country]"
        >
          {{ country_option_tags }}
        </select>
      </div>

      <div class="form-control" {{ block.shopify_attributes }}>
        <label for="shipping-province">{{ province_label }}</label>
        <select
          id="shipping-province"
          class="shipping-input button--secondary "
          name="address[province]"
        ></select>
      </div>
    </country-selector>

    <div class="form-control">
      <label for="shipping-zip">{{ zip_label }}</label>
      <input
        id="shipping-zip"
        class="shipping-input"
        type="{{ type | default: 'text' }}"
        name="address[zip]"
        placeholder=" "
        autocomplete="off"
      >
    </div>

    <div class="shipping-submit">
      <button type="submit" class="button button--secondary ">
        {{- estimate_button -}}
      </button>
    </div>
  </form>

  <span class="shipping-estimator__results" role="region" aria-live="polite" hidden><!-- Holder for results --></span>
</shipping-estimator>
