<a href="{{ product.url }}" class="product-card">
  <div class="product-card__image">
    {%- if product.featured_media -%}
      <img
        src="{{ product.featured_media | image_url: width: 300 }}"
        alt="{{ product.featured_media.alt | escape }}"
        width="300"
        height="{{ 300 | divided_by: product.featured_media.preview_image.aspect_ratio | ceil }}"
        loading="lazy"
      >
    {%- else -%}
      <img
        height="300"
        width="300"
        src="{{ 'placeholder.png' | asset_url }}"
        alt="{{ product.title | escape }}"
        loading="lazy"
      >
    {%- endif -%}
  </div>
  <div class="product-card__info">
    <h3 class="product-card__title">{{ product.title | escape }}</h3>
    <p class="product-card__price">
      {%- if product.price_varies -%}
        {{ 'products.product.price.from_price_html' | t: price: product.price_min | money }}
      {%- else -%}
        {{ product.price | money }}
      {%- endif -%}
    </p>
  </div>
</a>
