{% comment %}
  Renders cart drawer

  Usage:
  {% render 'size-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<div id="size-guide" class="drawer">
  <div id="SizeDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      <div class="drawer__header">
        <h2 class="drawer__heading">{{ shop.metaobjects.size_guide['default-size-guide'].size_guide_trigger_text }}</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <div class="size-guide-content" style="overflow-y: scroll">
        {% assign size_guide = shop.metaobjects.size_guide['default-size-guide'] %}
        {{ size_guide.size_guide_content | metafield_tag }}

        <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
          <thead style="display: table-header-group">
            <tr style="background-color: #f4f4f4;">
              <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                {{ shop.metaobjects.size_guide['default-size-guide'].table_header }} (cm)
              </th>
              <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                {{ shop.metaobjects.size_guide['default-size-guide'].size_heading }}
              </th>
            </tr>
          </thead>
          <tbody style="display: table-row-group">
            <tr>
              <td style="border: 1px solid #ddd; padding: 8px;">12.5 – 14.5 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">XXS</td>
            </tr>
            <tr style="background-color: #f9f9f9;">
              <td style="border: 1px solid #ddd; padding: 8px;">14.5 – 16 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">XS</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd; padding: 8px;">16 – 17 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">S</td>
            </tr>
            <tr style="background-color: #f9f9f9;">
              <td style="border: 1px solid #ddd; padding: 8px;">17 – 18 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">M</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd; padding: 8px;">18 – 19 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">L</td>
            </tr>
            <tr style="background-color: #f9f9f9;">
              <td style="border: 1px solid #ddd; padding: 8px;">19 – 20 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">XL</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd; padding: 8px;">20 – 22 cm</td>
              <td style="border: 1px solid #ddd; padding: 8px;">XXL</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
