{% comment %}
  Renders controls for a slideshow.

  Accepts:
  - additional_class: {String} (optional) additional class to attach to the controls element

  Usage:
    {% render 'slideshow-controls', additional_class: 'additional__class-example' %}

{% endcomment %}

<div class="slideshow__controls slider-buttons{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}{% if additional_class %} {{ additional_class | strip }}{% endif %}">
  <button
    type="button"
    class="slider-button slider-button--prev"
    name="previous"
    aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
    aria-controls="Slider-{{ section.id }}"
  >
    {% render 'icon-caret' %}
  </button>
  <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
    {%- if section.settings.slider_visual == 'counter' -%}
      <span class="slider-counter--current">1</span>
      <span aria-hidden="true"> / </span>
      <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
      <span class="slider-counter--total">{{ section.blocks.size }}</span>
    {%- else -%}
      <div class="slideshow__control-wrapper">
        {%- for block in section.blocks -%}
          <button
            class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
            aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {%- if section.settings.slider_visual == 'numbers' -%}
              {{ forloop.index -}}
            {%- else -%}
              <span class="dot"></span>
            {%- endif -%}
          </button>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
  <button
    type="button"
    class="slider-button slider-button--next"
    name="next"
    aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
    aria-controls="Slider-{{ section.id }}"
  >
    {% render 'icon-caret' %}
  </button>

  {%- if section.settings.auto_rotate -%}
    <button
      type="button"
      class="slideshow__autoplay slider-button{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
      aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
    >
      {%- render 'icon-pause' -%}
      {%- render 'icon-play' -%}
    </button>
  {%- endif -%}
</div>
