{% comment %}
  Renders a small teaser item.
  Accepts:
  - image: {Object} teaser image url
  - title: {String} Teaser title
  - class: { String} css classes
  -url : {String} url link
  -variant: {String} teaser variant (small|medium)

  Usage:
  {% render 'small-teaser',
    image: image,
    title: title,
  %}
{% endcomment %}

<div>
  <a href="{{ url }}" class="flex flex-col gap-base {{ class }}">
    <div class="w-[300px] aspect-square">
      {%- if image -%}
        {%- liquid
          assign sizes = '100vw'
          assign widths = '300'
          assign height = image.width | divided_by: image.aspect_ratio | round
        -%}
        {{
          image
          | image_url: width: 300
          | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: 'w-full h-full object-fill'
        }}
      {%- else -%}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg aspect-[1]' }}
      {%- endif -%}
    </div>

    <p class="text-t-md">{{ title }}</p>
  </a>
</div>
