{% comment %}
  Renders a small teaser item.
  Accepts:
  - image: {Object} teaser image url
  - title: {String} Teaser title
  - class: { String} css classes
  - url : {String} url link
  -variant: {String} teaser variant (small|medium)

  Usage:
  {% render 'small-teaser',
    image: image,
    title: title,
  %}
{% endcomment %}

{% liquid
  assign base_class = 'w-[300px] h-[300px] aspe'
  assign text_class = ''

  if variant == 'small'
    assign base_class = base_class | append: ' w-[300px] h-[300px] aspect-square'
    assign img_class = base_class | append: ' w-full h-full aspect-square object-cover'
    assign text_class = text_class | append: ' text-t-md'
  else
    assign base_class = base_class | append: ' w-[300px] h-[404px] aspect-[75_/_101] xl:w-[400px] xl:w-[540px] xl:aspect-[20_/_27] relative'
    assign img_class = base_class | append: ' aspect-[75_/_101] xl:aspect-[20_/_27] object-cover'
    assign text_class = text_class | append: ' absolute bottom-huge text-white text-h-md text-center w-full'
  endif
%}

<a href="{{ url }}" class="flex flex-col gap-base {{ base_class }} {{ class }}">
  <div class="w-[300px] aspect-square">
    {%- if image -%}
      {{ image | image_url: width: 1200 | image_tag: loading: 'lazy', class: img_class }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  <p class="{{text_class}}">{{ title }}</p>
</a>
