{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu hidden lg:block ">
  <ul class="list-menu list-menu--inline list-none p-0 m-0 inline-flex flex-wrap gap-8" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details
              id="Details-HeaderMenu-{{ forloop.index }}"
              class="mega-menu"
            >
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <a
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}

                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                  class="text-h-xs tracking-[0.36px] leading-[14.4px] uppercase font-sub text-black hover:text-sky hover:italic {%- if link.current %} text-sky italic header__active-menu-item {% endif %}"
                >
                  {{- link.title | escape -}}
                </a>
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content bg-white z-20 gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list flex gap-mega justify-center {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li class="flex flex-col gap-base min-w-[120px]">
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} text-sky hover:opacity-80{% endif %} text-t-xs text-black"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <div
                          class="list-unstyled max-h-[216px] flex flex-col flex-wrap gap-x-huge gap-small"
                          role="list"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              href="{{ grandchildlink.url }}"
                              class="mega-menu__link text-body-xs text-grey500 leading-4 hover:text-sky link{% if grandchildlink.current %} text-sky hover:opacity-80{% endif %}"
                              {% if grandchildlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ grandchildlink.title | escape }}
                            </a>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset text-h-xs tracking-[0.36px] leading-[14.4px] uppercase font-sub text-black hover:text-sky hover:italic"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
