{% comment %}
  Quick Order Product Row
  Accepts:
  - item: {Object} Variant or Product object
  - image: {Object} Product or Variant image (optional)
  Usage:
  {% render 'quick-order-product-row' %}
{% endcomment %}

{% comment %} assign filter_count = 3 | prepend: '(' | append: ')' {% endcomment %}
{% liquid
  assign selected_filters_count = 0

  for filter in collection.filters
    assign filter_name = filter.param_name | split: '.' | last | downcase

    if filter_name != 'price' and filter.active_values.size > 0
      assign selected_filters_count = selected_filters_count | plus: 1
    elsif filter_name == 'price'
      if filter.min_value.value != null or filter.max_value.value != null
        assign selected_filters_count = selected_filters_count | plus: 1
      endif
    endif
  endfor

  assign filter_label = 'filter'

  assign sort_by = collection.sort_by | default: collection.default_sort_by
  assign default_presentation = 'text'

  assign swatch_colors = settings.swatch_colors | newline_to_br | split: '<br />'
%}

<menu-drawer
  class="mobile-facets__wrapper lg:hidden"
  data-breakpoint="mobile"
>
  <details id="mobile_facet_smshrs" class="mobile-facets__disclosure disclosure-has-popup">
    <summary class="mobile-facets__open-wrapper focus-offset">
      <span class="mobile-facets__open inline-flex justify-center items-center gap-1 rounded-4xl disabled:bg-grey300 disabled:text-grey500 bg-grey50 text-black hover:bg-btnGradient h-[28px] py-[10px] px-large btn-xs icon icon-filter">
        {{ filter_label }}
        <span class="{% if selected_filters_count == 0 %}hidden{% endif %}"> ({{ selected_filters_count }}) </span>
      </span>
    </summary>

    <facet-filters-form>
      <form id="FacetFiltersFormMobile" class="mobile-facets pointer-events-none">
        <div class="mobile-facets__inner gradient px-base pt-[26px]">
          <div class="mobile-facets__header">
            <div class="mobile-facets__header-inner py-2.5 w-full flex justify-between items-end border-b border-b-grey100">
              <h2 class="mobile-facets__heading text-t-sm capitalize">
                {{ 'sections.product_grid.filter_title' | t }}
              </h2>

              <span
                id="mobile_facets_close"
                class="inline-flex justify-center items-center gap-[10px] rounded-4xl disabled:bg-grey300 disabled:text-grey500 bg-black text-white hover:bg-sky hover:text-white h-[28px] btn-xs px-large py-2.5 w-[85px] cursor-pointer"
                type="button"
                name=""
              >
                <span> {{ 'sections.product_grid.filter_close' | t }} </span>
              </span>
            </div>
          </div>

          <div
            id="FacetsWrapperMobile"
            class="mobile-facets__main border-b border-b-grey100 has-submenu gradient"
          >
            <div
              id="Details-Mobile-SortBy-{{ section_id }}"
              class="mobile-facets__details js-filter my-base"
              data-index="mobile-"
            >
              <div class="mobile-facets__summary">
                <div class="mobile-facets__sort relative w-full">
                  <span class="left-0 absolute top-1/2 -translate-y-1/2 text-body-xs">
                    <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                  </span>

                  <select
                    name="sort_by"
                    class="select__select truncate appearance-none bg-transparent border-0 pl-[100px] pr-5 text-body-xs w-full relative z-10 peer"
                    id="SortBy-mobile"
                    aria-describedby="a11y-refresh-page-message"
                  >
                    {%- for option in collection.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                        class="text-body-xs"
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>

                  <span class="absolute right-0 top-1/2 -translate-y-[42%] peer-focus:rotate-180">
                    {% render 'icon-chevron-down', class: 'w-4 h-4 icon-caret' %}
                  </span>
                </div>
              </div>
            </div>

            {%- for filter in collection.filters -%}
              {% liquid
                assign presentation = filter.presentation | default: default_presentation
                assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                assign filter_name = filter.param_name | split: '.' | last | downcase
                assign show_more_number = 9

                if filter_name == 'farbe'
                  assign show_more_number = 14
                endif
              %}

              {% if filter_name == 'price' %}
                {% liquid
                  assign max_price_cents = filter.range_max
                  assign min_price_cents = 0

                  if max_price_cents < 10000
                    assign rounded_max = 10000
                    assign price_ranges = min_price_cents | append: '-' | append: rounded_max
                  else
                    assign rounded_max = max_price_cents | times: 0.0001 | ceil | times: 10000
                    assign gap = rounded_max | divided_by: 5 | times: 0.0001 | ceil | times: 10000

                    assign price_ranges = ''

                    assign current_min = min_price_cents
                    assign current_max = gap

                    for i in (1..5)
                      assign current_max = current_min | plus: gap
                      if current_max > rounded_max
                        assign current_max = rounded_max
                      endif

                      assign range = current_min | append: '-' | append: current_max

                      if forloop.first
                        assign price_ranges = range
                      else
                        assign price_ranges = price_ranges | append: ',' | append: range
                      endif

                      assign current_min = current_max
                      if current_min >= rounded_max
                        break
                      endif
                    endfor
                  endif

                  assign price_groups = price_ranges | split: ','
                %}

                {% if price_groups.size > 0 %}
                  <details
                    id="Details-Mobile-{{ filter.param_name | escape }}-{{ section_id }}"
                    class="facets__disclosure-vertical js-filter border-t border-t-grey100 py-4"
                    data-index="{{ forloop.index }}"
                    {% if forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary
                      class="facets__summary caption-large focus-offset"
                      aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                    >
                      <div class="flex justify-between gap-small items-center py-mini">
                        <span class="facets__summary-label">
                          {{ filter.label }}
                          <span class="facets__selected{% if filter.active_values.size == 0 or filter_name == 'price' %} hidden{% endif %}">
                            ({{ filter.active_values.size }})</span
                          >
                        </span>
                        {%- if filter.operator == 'AND' -%}
                          <span class="facets__and-helptext">
                            {{ 'products.facets.filter_and_operator_subtitle' | t }}
                          </span>
                        {%- endif -%}

                        {% render 'icon-chevron-down', class: 'w-4 h-4 icon-caret' %}
                      </div>
                    </summary>

                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="parent-display mt-small facets__display-vertical"
                    >
                      <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                        <legend class="visually-hidden">{{ filter.label | escape }}</legend>

                        {% render 'price-filter',
                          price_groups: price_groups,
                          filter: filter,
                          id_prefix: 'Mobile-Filter-',
                          class: 'mobile-facets__checkbox'
                        %}
                      </fieldset>
                    </div>
                  </details>
                {% endif %}
              {% endif %}

              {% if filter_name != 'price' and filter.values.size > 0 %}
                <details
                  id="Details-Mobile-{{ filter.param_name | escape }}-{{ section_id }}"
                  class="facets__disclosure-vertical js-filter border-t border-t-grey100 py-4"
                  data-index="{{ forloop.index }}"
                  {% if forloop.index == 1 %}
                    open
                  {% endif %}
                >
                  <summary
                    class="facets__summary caption-large focus-offset"
                    aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                  >
                    <div class="flex justify-between gap-small items-center py-mini">
                      <span class="facets__summary-label">
                        {{ filter.label }}
                        <span class="facets__selected{% if filter.active_values.size == 0 or filter_name == 'price' %} hidden{% endif %}">
                          ({{ filter.active_values.size }})</span
                        >
                      </span>

                      {%- if filter.operator == 'AND' -%}
                        <span class="facets__and-helptext">
                          {{ 'products.facets.filter_and_operator_subtitle' | t }}
                        </span>
                      {%- endif -%}

                      {% render 'icon-chevron-down', class: 'w-4 h-4 icon-caret' %}
                    </div>
                  </summary>

                  {% case filter_name %}
                    {% when 'größe', 'size', 'schwammstärke' %}
                      <div
                        id="Facet-{{ forloop.index }}-{{ section_id }}"
                        class="parent-display mt-small facets__display-vertical"
                      >
                        <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                          <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          <ul
                            class="{{ visual_layout_class }} facets__list--vertical list-unstyled grid grid-cols-3 gap-mini"
                            role="list"
                          >
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}
                              {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                              {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                              <li class="list-menu__item facets__item {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                {% assign label = value.label | escape %}

                                {% render 'multi-size-select',
                                  name: value.param_name,
                                  value: value.value,
                                  id: input_id,
                                  is_checked: value.active,
                                  is_disabled: is_disabled,
                                  label: label,
                                  class: 'mobile-facets__checkbox'
                                %}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                        {%- if filter.values.size > show_more_number -%}
                          <show-more-button>
                            <button
                              class="button-show-more link underlined-link"
                              id="Show-More-{{ forloop.index }}-{{ section_id }}"
                              type="button"
                            >
                              <span class="label-show-more label-text"
                                ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                              </span>
                              <span class="label-show-less label-text hidden"
                                ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                              </span>
                            </button>
                          </show-more-button>
                        {%- endif %}
                      </div>
                    {% when 'farbe', 'color' %}
                      <div
                        id="Facet-{{ forloop.index }}-{{ section_id }}"
                        class="parent-display mt-small facets__display-vertical"
                      >
                        <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                          <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          <ul
                            class="{{ visual_layout_class }} facets__list--vertical list-unstyled flex flex-wrap gap-small"
                            role="list"
                          >
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}
                              {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                              <li class="list-menu__item facets__item  {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                <input
                                  type="checkbox"
                                  class="color-swatch hide_input {% if is_disabled %} disabled{% endif %} mobile-facets__checkbox"
                                  id="{{ input_id }}"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if is_disabled %}
                                    disabled
                                  {% endif %}
                                >
                                {%- liquid
                                  for color_data in swatch_colors
                                    assign color_data_arr = color_data | split: ':'
                                    assign rule_name = color_data_arr[0] | strip
                                    assign color_value = value.value | downcase
                                    if color_value == rule_name
                                      assign color_codes = color_data_arr[1] | strip | split: '#'
                                      assign color_number = 0 | plus: color_codes.size
                                      break
                                    endif
                                  endfor
                                -%}

                                <label
                                  data-{{ filter_name }}="{{value.value}}"
                                  style="
                                    {%- case color_number -%}
                                    {%- when 2 -%}
                                        background-color: #{{ color_codes[1] }}
                                    {%- when 3 -%}
                                        background: linear-gradient(135deg, #{{ color_codes[1] }} 50%, #{{ color_codes[2] }} 50%);
                                    {%- when 4 -%}
                                        background: linear-gradient(to right,#{{ color_codes[1] }} 33%,#{{ color_codes[2] }} 33%,#{{ color_codes[2] }} 66%, #{{ color_codes[3] }} 66%);
                                    {%- else -%}
                                        background-image:url({{ color_codes[0] | downcase | replace: ' ', '-' | file_img_url }})
                                    {%- endcase -%};
                                  "
                                  class="flex relative swatch-label round rounded-full w-8 h-8 bg-no-repeat bg-center bg-cover border border-grey100 {{ label_class }}"
                                  for="{{input_id}}"
                                >
                                  <span class="visually-hidden">
                                    {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
                                  </span>
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                        {%- if filter.values.size > show_more_number -%}
                          <show-more-button>
                            <button
                              class="button-show-more link underlined-link"
                              id="Show-More-{{ forloop.index }}-{{ section_id }}"
                              type="button"
                            >
                              <span class="label-show-more label-text"
                                ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                              </span>
                              <span class="label-show-less label-text hidden"
                                ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                              </span>
                            </button>
                          </show-more-button>
                        {%- endif %}
                      </div>

                    {% else %}
                      <div
                        id="Facet-{{ forloop.index }}-{{ section_id }}"
                        class="parent-display mt-small facets__display-vertical"
                      >
                        <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                          <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          <ul
                            class="{{ visual_layout_class }} facets__list--vertical list-unstyled"
                            role="list"
                          >
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}
                              {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                              {%- capture text_value -%}
                          <span class="facet-checkbox__text leading-[18px]" aria-hidden="true">
                            <span class="facet-checkbox__text-label text-body-xs text-black capitalize">{{- value.label | escape }} ({{- value.count -}})</span> 
                          </span>

                          <span class="visually-hidden">
                            {{- value.label | escape }} (
                            {%- if value.count == 1 -%}
                              {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                            {%- else -%}
                              {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                            {%- endif -%}
                            )
                          </span>
                        {%- endcapture -%}
                              <li class="list-menu__item facets__item py-mini {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                {% render 'multi-select',
                                  name: value.param_name,
                                  value: value.value,
                                  id: input_id,
                                  is_checked: value.active,
                                  is_disabled: is_disabled,
                                  label_class: label_class,
                                  text_value: text_value,
                                  class: 'mobile-facets__checkbox'
                                %}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </fieldset>
                        {%- if filter.values.size > show_more_number -%}
                          <show-more-button>
                            <button
                              class="button-show-more link underlined-link"
                              id="Show-More-{{ forloop.index }}-{{ section_id }}"
                              type="button"
                            >
                              <span class="label-show-more label-text"
                                ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                              </span>
                              <span class="label-show-less label-text hidden"
                                ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                              </span>
                            </button>
                          </show-more-button>
                        {%- endif %}
                      </div>
                  {% endcase %}
                </details>
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      </form>
    </facet-filters-form>
  </details>
</menu-drawer>
