{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}
<header-drawer class="lg:hidden ml-0">
  <details id="Details-menu-drawer-container" class="menu-drawer-container lg:relative">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset flex gap-large z-50"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        <div class="w-large h-large flex justify-center items-center lg:hidden menu-icon">
          {% render 'icon-menu' %}
        </div>
        <div class="w-8 h-8 flex justify-center items-center lg:hidden close-icon py-3 rounded-full bg-grey50 absolute right-base z-20">
          {%- render 'icon-close' -%}
        </div>
      </span>
    </summary>
    <div
      id="menu-drawer"
      class="menu-drawer motion-reduce pt-huge"
    >
      <div class="menu-drawer__inner-container pt-8 px-large pb-large h-full">
        <div class="menu-drawer__navigation-container relative h-full flex flex-col justify-between gap-large">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu flex flex-col gap-base" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        <span class="font-sub text-h-md uppercase"> {{ link.title | escape }} </span>
                        {% comment %} {% render 'icon-arrow' %} {% endcomment %}
                        {% comment %} {% render 'icon-caret', class: 'w-4 h-4' %} {% endcomment %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu flex flex-col h-full gap-base">
                          <button
                            class="menu-drawer__close-button link link--text focus-inset flex gap-mini items-start pb-base"
                            aria-expanded="true"
                          >
                            {% render 'icon-chevron-left' class="w-4 h-4" %}
                            {% comment %} {{ link.title | escape }} {% endcomment %}
                            <span class="text-t-xs inline-block"> Back </span>
                          </button>

                          {% if link.url != black %}
                            <a
                              href="{{link.url }}"
                              {% if link.current %}
                                aria-current="page"
                              {% endif %}
                              class="text-t-md block"
                            >
                              {{- link.title | escape -}}
                            </a>
                          {% else %}
                            <h3 class="text-t-md">
                              {{ link.title | escape }}
                            </h3>
                          {% endif %}

                          <ul class="menu-drawer__menu list-menu flex flex-col gap-large" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li class="flex flex-col gap-small">
                                <a
                                  id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                  href="{{ childlink.url }}"
                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset text-t-xs text-black{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                  {% if childlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ childlink.title | escape }}
                                </a>

                                {%- if childlink.links != blank -%}
                                  <ul
                                    class="menu-drawer__menu list-menu flex flex-col gap-3"
                                    role="list"
                                    tabindex="-1"
                                  >
                                    {%- for grandchildlink in childlink.links -%}
                                      <li class="text-body-xs text-grey500">
                                        <a
                                          id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                          href="{{ grandchildlink.url }}"
                                          class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                          {% if grandchildlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %} font-sub text-h-md uppercase"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form full-width' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
