<header class="sns-icons-header-01">
  <ul class="sns-icons-header-01-items" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_twitter_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-twitter-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_facebook_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-facebook-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {% comment %} {%- if settings.social_pinterest_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_pinterest_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-pinterest-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%} {% endcomment %}
    {%- if settings.social_instagram_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_instagram_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-instagram-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_tiktok_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-tiktok-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {% comment %} {%- if settings.social_tumblr_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_tumblr_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-tumblr-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%} {% endcomment %}
    {% comment %} {%- if settings.social_snapchat_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_snapchat_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-snapchat-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%} {% endcomment %}
    {%- if settings.social_youtube_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_youtube_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-youtube-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {% comment %} {%- if settings.social_vimeo_link != blank -%}
      <li class="sns-icons-header-01-item">
        <a href="{{ settings.social_vimeo_link }}" target="_blank" class="sns-icons-header-01-link">
          {%- render 'icon-vimeo-02' -%}
          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%} {% endcomment %}
  </ul>
</header>