{% if product and shop.customer_accounts_enabled %}
  {% assign ssw_review_enabled = 1 %}
  {% if shop.metafields.ssw['review_enabled'] %}
    {% assign ssw_review_enabled = shop.metafields.ssw['review_enabled'] | plus: 0 %}
  {% endif %}
  {% if ssw_review_enabled == 1 %}
    {% assign ssw_new_widget = 0 %}
    {% if socialshopwave-widget-recommends %}
      {% assign ssw_new_widget = socialshopwave-widget-recommends %}
    {% elsif new_widget == 1 %}
      {% assign ssw_new_widget = 1 %}
    {% endif %}
    {% assign ssw_widget_class = 'ssw-html-widget' %}
    {% if ssw_new_widget != 0 %}
      {% assign ssw_widget_class = ssw_widget_class | append: ' ssw-new-widget' %}
    {% endif %}
    {% assign ssw_widget_class = ssw_widget_class | append: ' ssw-review-widget-lazyload' %}
    {% assign ssw_widget_metafield_hash = '' %}
    {% if product.metafields.ssw_cache.review %}
    {% assign ssw_widget_metafield_hash = product.metafields.ssw_cache.review | strip | md5 %}
    {% endif %}
    <div id="ssw-widget-recommends-html" class="gw-container {{ ssw_widget_class }}" data-request-url="review/index" data-product_id="{{ product.id }}" data-metafield_key="review" data-new_widget="{{ ssw_new_widget }}" data-additional_params="new_widget" data-metafield_hash="{{ ssw_widget_metafield_hash }}"><div class="for_bot" style="display:none">{{ product.metafields.ssw_cache.review }}</div></div> {% endif %}
{% endif %}