{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="mt-base flex flex-col gap-base" role="list">
  {%- if settings.social_tiktok_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_tiktok_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-tiktok', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.tiktok' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_instagram_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_instagram_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-instagram', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.instagram' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_youtube_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_youtube_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-youtube', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.youtube' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_facebook_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_facebook_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-facebook', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.facebook' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_twitter_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_twitter_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-twitter', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.twitter' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_pinterest_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_pinterest_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-pinterest', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.pinterest' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_snapchat_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_snapchat_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-snapchat', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.snapchat' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_tumblr_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_tumblr_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-tumblr', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.tumblr' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_vimeo_link != blank -%}
    <li class="w-full">
      <a
        href="{{ settings.social_vimeo_link }}"
        class="flex gap-small items-center text-body-xs text-grey300 capitalize"
      >
        {%- render 'icon-vimeo', class: 'w-[14px] h-base' -%}
        <span class="text-body-xs text-grey300 capitalize">{{ 'general.social.links.vimeo' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
