{% comment %}my-accordion.jsの読み込み{% endcomment %}
<script src="{{ 'my-accordion.js' | asset_url }}" defer="defer"></script>

<!-- SP ナビメニュー -->
<div class="sp-only">
  <my-accordion>
    <ul class="tw-bg-gray-900 tw-text-white tw-my-10 tw-p-0">
      {% for link in linklists['cpb-nav-menu'].links %}
        <li class="tw-w-full">
          {% if link.links == empty %}
            <a href="{{ link.url }}"
               class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-bg-black tw-text-white tw-no-underline">
              <span>{{ link.title }}</span>
              <i class="mdi mdi-chevron-right"></i>
            </a>
          {% else %}
            <div
                class="accordion tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4 tw-bg-black tw-text-white">
              <span>{{ link.title }}</span>
              <i class="mdi mdi-chevron-right"></i>
            </div>

            <div class="panel tw-bg-gray-100 tw-text-black">
              {% for child_link in link.links %}
                {% if child_link.links == emplty %}
                  <a href="{{ child_link.url }}" class="tw-block tw-p-4 tw-bg-gray-100 tw-text-black tw-no-underline">
                    <span>{{ child_link.title }}</span>
                    <i class="mdi mdi-chevron-right"></i>
                  </a>
                {% else %}
                  <div
                      class="accordion tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4 tw-bg-gray-100 tw-text-black">
                    <span>{{ child_link.title }}</span>
                    <i class="mdi mdi-chevron-right"></i>
                  </div>

                  <div class="panel tw-bg-white tw-grid tw-grid-cols-2">
                    {% for grand_child_link in child_link.links %}
                      <a href="{{ grand_child_link.url }}" class="tw-block tw-p-4 tw-no-underline tw-text-current">
                        <span>{{ grand_child_link.title }}</span>
                        <i class="mdi mdi-chevron-right"></i>
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </my-accordion>
</div>
<!-- SP ナビメニュー end -->
