<div id="ssw-cart-modal"><div class="ssw-cart-body"><div class="ssw-h4"><i class="ssw-icon-cart"></i><span class="ssw-item-count">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</span> - <span class="ssw-total-price">{{ cart.total_price | money }}</span><button class="ssw-close ssw-pull-right" aria-hidden="true" type="button" title="{{ 'socialshopwave.close' | t }}">&times;</button></div><div class="ssw-line-items">{% for item in cart.items %}
        <div class="ssw-line-item ssw-item-{{item.id}}"><div class="ssw-row-fluid"><div class="ssw-span2">{% assign image_found = false %}
              {% assign image_index = 0 %}

              {% for image in item.product.images %}
                {% assign alt = image.alt | handle %}
                {% assign title = item.variant.title | handle %}

                {% if alt == title and image_found == false %}
                  {% assign image_found = true %}
                  {% assign image_index = forloop.index0 %}
                {% endif %}

              {% endfor %}

              <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.images[image_index].src | product_img_url: 'small' }}" alt="{{ item.product.title | escape }}"/></a></div><div class="ssw-span10"><div><a class="ssw-title" href="{{item.product.url}}" title="View {{item.product.title | escape }}">{{ item.product.title }}</a></div><div><div class="ssw-amounts"><span class="ssw-item-price">{{ item.price | money }}</span><span>x</span><span class="ssw-quantity">{{ item.quantity }}</span></div><div class="ssw-item-price ssw-line-price">{{ item.line_price | money }}</div></div></div></div></div> {% endfor %}</div><div class="ssw-text-center"><a href="/cart">{{ 'socialshopwave.view_cart' | t }}</a><button class="ssw-close ssw-pull-right" aria-hidden="true" type="button" title="{{ 'socialshopwave.close' | t }}">&times;</button></div></div></div>