<link rel="stylesheet" href="{{ 'styleguide.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'styleguide.css' | asset_url | stylesheet_tag }}</noscript>


<div class="styleguide-section">
  <p class="utility">Colors</p>
  <div class="line-separator"></div>
  <div class="styleguide-color utility" style="background-color:var(--color-ink); color:var(--color-white);"><p>Ink</p></div>
  <div class="styleguide-color utility" style="background-color:var(--color-subdued); color:var(--color-white);"><p>Subdued</p></div>
  <div class="styleguide-color utility" style="background-color:var(--color-grey); color:var(--color-ink);"><p>Grey</p></div>
  <div class="styleguide-color utility" style="background-color:var(--color-medium-grey); color:var(--color-ink);"><p>Medium Grey</p></div>
  <div class="styleguide-color utility" style="background-color:var(--color-light-grey); color:var(--color-ink);"><p>Light Grey</p></div>
  <div class="styleguide-color utility" style="background-color:var(--color-green); color:var(--color-ink);"><p>Green</p></div>
  {% if settings.custom_color1 != blank %}
    <div class="styleguide-color utility background_color--custom1 text_color--ink"><p>Custom 1</p></div>
  {% endif %}
  {% if settings.custom_color2 != blank %}
    <div class="styleguide-color utility background_color--custom2 text_color--ink"><p>Custom 2</p></div>
  {% endif %}

</div>
<div class="styleguide-section">
  <p class="utility">Typography</p>
  <div class="line-separator"></div>
  <div class="Rte">
    <h1 class="h1">Heading 1</h1>
    <h2 class="h2">Heading 2</h2>
    <h3 class="h3">Heading 3</h3>
    <h4 class="h4">Heading 4</h4>
    <h5 class="h5">Heading 5</h5>
    <h6 class="h6">
      Heading 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h6>
    <p>Paragraph - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Duis aute irure</a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="caption">Caption - Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p class="utility">Utility</p>
    <p class="utility-large">Utility large</p>
  </div>
</div>
<div class="styleguide-section">
  <p class="utility">Buttons</p>
  <div class="line-separator"></div>
  <div>
    <a href="#" class="button button--primary">Primary Button</a>
  </div>
  <div>
    <a href="#" class="button button--secondary">Secondary Button</a>
  </div>
  <div>
    <a href="#" class="button button--tertiary">Tertiary Button</a>
  </div>
</div>
<div class="styleguide-section">
  {% comment %}
  <p class="utility">Icons</p>
  <div class="line-separator"></div>
  <!-- SOCIAL MEDIA -->
  <div class="styleguide-section">
    <span class="Icon-Wrapper">{%- render 'icon' with 'facebook' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'fancy' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'instagram' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'pinterest' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'tumblr' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'twitter' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'vimeo' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'youtube' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'linkedin' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'snapchat' -%}</span>
  </div>
  <!-- UI -->
  <div class="styleguide-section">
    <span class="Icon-Wrapper">{%- render 'icon' with 'cart' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'search' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'account' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'play' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'rss' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'share' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'lock' -%}</span>
  </div>
  <div class="styleguide-section">
    <span class="Icon-Wrapper">{%- render 'icon' with 'close' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'plus' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'minus' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'select-arrow' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'arrow-bottom' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'nav' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'checkmark' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'sale' -%}</span>
  </div>
  <div class="styleguide-section">
    <span class="Icon-Wrapper">{%- render 'icon' with 'wall-1' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'wall-2' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'wall-3' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'wall-4' -%}</span>
  </div>
  <!-- MEDIA API (SHOPIFY ICONS) -->
  <div class="styleguide-section">
    <span class="Icon-Wrapper">{%- render 'icon' with 'media-model-badge' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'media-view-in-space' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'media-video-badge' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'media-arrow-left' -%}</span>
    <span class="Icon-Wrapper">{%- render 'icon' with 'media-arrow-right' -%}</span>
  </div>
  {% endcomment %}

  <p class="utility">Form</p>
  <div class="line-separator"></div>
  <div class="styleguide-section">
    <div class="Form__Group">
      <div class="Form__Item">
        <input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
        <label class="Form__FloatingLabel">{{ 'customer.login.email' | t }}</label>
      </div>
      <div class="Form__Item">
        <div class="Form__Select Select Select--primary">
          {%- render 'icon' with 'select-arrow' -%}
          <select name="address[country]" title="{{ 'customer.addresses.country' | t }}">{{ all_country_option_tags }}</select>
        </div>
      </div>
  </div>

</div>

<p class="utility">Typography</p>
