
        <style type="text/css" scoped>
            .comment-section-wrapper {
                padding: 1rem;
                max-width: 72.6rem;
                margin: 0 auto;
                display: block;
            }
            .comment-section-wrapper .form-status-list {
                padding: 0;
                margin: 2rem 0 4rem;
            }
            .comment-section-wrapper .form__message {
                align-items: center;
                display: flex;
                font-size: 1rem;
                line-height: 1;
                margin-top: 1rem;
            }
            .comment-section-wrapper form input {
                font-size: 1rem;
                flex-grow: 1;
                text-align: left;
                padding: 1rem 1.5rem;
                margin: var(--inputs-border-width);
                transition: box-shadow var(--duration-short) ease;
                width: 100%;
            }
            .comment-section-wrapper form label {
                font-size: 1rem;
                left: calc(var(--inputs-border-width) + 2rem);
                top: -2rem;
                margin-bottom: 0;
                pointer-events: none;
                position: absolute;
                transition: top var(--duration-short) ease,font-size var(--duration-short) ease;
                color: rgba(var(--color-foreground),.75);
                letter-spacing: .1rem;
                line-height: 1.5;
            }
            .comment-section-wrapper .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-
                margin-bottom: 2rem;
                padding: 0;
                list-style: none;
                grid-column-gap: 1rem;
            }
            .comment-section-wrapper .grid__item {
                width: 100%;
                max-width: unset;
            }
            .comment-section-wrapper textarea {
                padding: 1rem 1.5rem;
                display: flex;
                position: relative;
                width: 100%;
                font-size: 1rem;
                min-height: 10rem;
                resize: none;
                margin-top: 1rem;
            }
            .comment-section-wrapper .button, .comment-section-wrapper .button-label, .comment-section-wrapper .shopify-challenge__button, .comment-section-wrapper .btn {
                min-width: calc(12rem + var(--buttons-border-width) * 2);
                min-height: calc(4.5rem + var(--buttons-border-width) * 2);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 0;
                padding: 1rem 5rem;
                margin-top: 1rem;
                cursor: pointer;
                font: inherit;
                font-size: 1rem;
                text-transform: uppercase;
                text-decoration: none;
                transition: box-shadow var(--duration-short) ease;
                -webkit-appearance: none;
                appearance: none;
                line-height: calc(1 + .2 / var(--font-body-scale));
            }
            .comment-section-wrapper form input.btn {
                text-align: center;
            }
            .right {
              text-align: right;
            }
            .no-bullets {
                list-style-type: none;
                padding-left: 10px;
            }
            .caption-with-letter-spacing {
              font-size: 1rem;
              letter-spacing: .13rem;
              line-height: calc(1 + .2 / var(--font-body-scale));
              text-transform: uppercase;
            }
            .note.form-success{
                color: green;
            }
        </style>
        <div class="article-comment-section" style="margin: 0 auto;">
            <div class="large--four-fifths push--large--one-tenth">
            
                {% if section.settings.social_sharing_blog %}
                    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                {% endif %}
                {% if blog.comments_enabled? %}
                    {% assign number_of_comments = article.comments_count %}

                    <div class="comment-section-wrapper">
                    {% assign not_translated_text = 'translation missing:' %}
                    {% assign blogs_comments_with_count = 'blogs.comments.with_count' | t: count: number_of_comments %}
                    {% assign blogs_comments_with_count_prefix = blogs_comments_with_count | slice: 0,20 | downcase %}
                    {%- if blogs_comments_with_count_prefix == not_translated_text -%}
                        {% assign blogs_comments_with_count = number_of_comments | pluralize: "Comment", "Comments" %}
                    {%- endif -%}
                    {% assign blogs_comments_message = 'blogs.comments.message' | t %}
                    {% assign blogs_comments_message_prefix = blogs_comments_message | slice: 0,20 | downcase %}
                    {%- if blogs_comments_message_prefix == not_translated_text -%}
                        {% assign blogs_comments_message = 'Comment' %}
                    {%- endif -%}

                    {% assign blogs_comments_name = 'blogs.comments.name' | t %}
                    {% assign blogs_comments_name_prefix = blogs_comments_name | slice: 0,20 | downcase %}
                    {%- if blogs_comments_name_prefix == not_translated_text -%}
                        {% assign blogs_comments_name = 'Name' %}
                    {%- endif -%}

                    {% assign blogs_comments_email = 'blogs.comments.email' | t %}
                    {% assign blogs_comments_email_prefix = blogs_comments_email | slice: 0,20 | downcase %}
                    {%- if blogs_comments_email_prefix == not_translated_text -%}
                        {% assign blogs_comments_email = 'Email' %}
                    {%- endif -%}

                    {% assign blogs_comments_post = 'blogs.comments.post' | t %}
                    {% assign blogs_comments_post_prefix = blogs_comments_post | slice: 0,20 | downcase %}
                    {%- if blogs_comments_post_prefix == not_translated_text -%}
                        {% assign blogs_comments_post = 'Post' %}
                    {%- endif -%}

                    {% assign blogs_comments_title = 'blogs.comments.title' | t %}
                    {% assign blogs_comments_title_prefix = blogs_comments_title | slice: 0,20 | downcase %}
                    {%- if blogs_comments_title_prefix == not_translated_text -%}
                        {% assign blogs_comments_title = 'Add a comment' %}
                    {%- endif -%}

                    {% assign blogs_comments_success_moderated = 'blogs.comments.success_moderated' | t %}
                    {% assign blogs_comments_success_moderated_prefix = blogs_comments_success_moderated | slice: 0,20 | downcase %}
                    {%- if blogs_comments_success_moderated_prefix == not_translated_text -%}
                        {% assign blogs_comments_success_moderated = 'Success' %}
                    {%- endif -%}

                    {% assign blogs_comments_success = 'blogs.comments.success' | t %}
                    {% assign blogs_comments_success_prefix = blogs_comments_success | slice: 0,20 | downcase %}
                    {%- if blogs_comments_success_prefix == not_translated_text -%}
                        {% assign blogs_comments_success = 'Success' %}
                    {%- endif -%}

                    
                    {% if number_of_comments > 0 %}
                    <hr class="hr--large">
                    <h2 class="h3 text-center">{{ blogs_comments_with_count }}</h2>
                    <hr class="hr--small hr--clear">
                    {% endif %}
        
                    {% paginate article.comments by 5 %}
                    {% comment %}
                        #comments is required, it is used as an anchor link by Shopify.
                    {% endcomment %}
                    <div id="comments">
        
                        {% if comment and comment.created_at %}
                        <p class="note form-success">
                            {% if blog.moderated? %}
                            {{ blogs_comments_success_moderated }}
                            {% else %}
                            {{ blogs_comments_success }}
                            {% endif %}
                        </p>
                        {% endif %}
        
                        {% if number_of_comments > 0 %}
                        <ul class="no-bullets" id="Comments-{{ article.id }}">
                            {% comment %}
                            If a comment was just submitted with no blank field, show it.
                            {% endcomment %}
                            {% if comment and comment.created_at %}
                            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                                {% render 'tapita-real-comment', comment: comment %}
                            </li>
                            {% endif %}
        
                            {% comment %}
                            Showing the rest of the comments.
                            {% endcomment %}
                            {%- assign newComment = comment -%}
                            {% for comment in article.comments %}
                                {%- unless newComment.id == comment.id -%}
                                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                                        {% render 'tapita-real-comment', comment: comment %}
                                    </li>
                                {%- endunless -%}        
                            {% unless forloop.last %}
                                <li><hr class="hr--clear"></li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                      
                        {%- assign anchorId = "Comments-" | append: article.id | prepend: "#" -%}
                        
                        {% if paginate.pages > 1 %}
                            {% render 'tapita-comment-pagination', paginate: paginate, anchor: anchorId %}
                        {% endif %}
        
                        {% endif %}
        
                        <hr class="hr--large">
        
                        <h2 class="h3 text-center">{{ blogs_comments_title }}</h2>
                        <hr class="hr--small hr--clear">
        
                        <div class="form-vertical">
                        {% form 'new_comment', article %}
        
                            {{ form.errors | default_errors }}
        
                            <div class="grid grid--small">
                            <div class="grid__item large--one-half">
                                <label for="CommentAuthor" class="hidden-label">{{ blogs_comments_name }}</label>
                                <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" placeholder="{{ blogs_comments_name }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                            </div>
                            <div class="grid__item large--one-half">
                                <label for="CommentEmail" class="hidden-label">{{ blogs_comments_email }}</label>
                                <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" placeholder="{{ blogs_comments_email }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                            </div>
                            </div>
        
                            <label for="CommentBody" class="hidden-label">{{ blogs_comments_message }}</label>
                            <textarea class="input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody" placeholder="{{ blogs_comments_message }}">{{ form.body }}</textarea>
        
                            <div class="text-center">
                                <input type="submit" class="btn" value="{{ blogs_comments_post }}">
                            </div>
                        {% endform %}
                        </div>
                    </div>
                    {% endpaginate %}
                    </div>
                {% endif %}
            </div>
        </div>
        