{% comment %}
  Renders a large teaser item.
  Accepts:
  - image: {Object} teaser image url
  - headline: {String} Teaser headline
  - copy : {Richtext} Teaser copy
  - price: {Number} Teaser price
  - class: { String} css classes
  - url :{String} url to link to

  Usage:
  {% render 'teaser',
    image: image,
    headline: headline,
    copy: copy,
    cta_label: cta_label,
    url:url
  %}
{% endcomment %}

<div class="flex flex-col md:flex-row w-full aspect-[1_/_2] md:aspect-[2] {{ class }}">
  <div class="w-full basis-1/2">
    {%- if image -%}
      {%- liquid
        assign sizes = '100vw'
        assign widths = '375, 550, 750, 1100, 1500'
        assign fetch_priority = 'lazy'
      -%}
      {{
        image
        | image_url: width: 1500
        | image_tag:
          loading: 'lazy',
          height: height,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority,
          class: 'w-full h-full object-fill'
      }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
    {%- endif -%}
  </div>

  <div class="text-teal p-large md:p-huge bg-sky flex flex-col justify-between gap-huge basis-1/2">
    <div class="md:text-center  max-w-[384px] mx-auto">
      <h1 class="text-mb-lg md:text-h-lg ">
        {{ headline }}
      </h1>

      <p class="text-body-sm">
        {{ copy }}
      </p>
    </div>

    {%- if cta_label != blank -%}
      {% assign btn_label = cta_label | escape %}
      <a
        {% if url %}
          href="{{ url }}"
        {% else %}
          role="link" aria-disabled="true"
        {% endif %}

        class="
          inline-flex justify-center items-center gap-[10px]
          rounded-4xl disabled:bg-grey300 disabled:text-grey500
          bg-transparent border
          h-[48px] tabletUp:h-huge px-xl py-md btn-sm
          !border-white !text-white hover:bg-grey100 hover:bg-opacity-10 uppercase
        "
      >
        {{ btn_label }}
      </a>
    {%- endif -%}
  </div>
</div>
