{% comment %}
  Renders a large teaser item.
  Accepts:
  - image: {Object} teaser image url
  - headline: {String} Teaser headline
  - copy : {Richtext} Teaser copy
  - price: {Number} Teaser price
  - class: { String} css classes

  Usage:
  {% render 'teaser',
    image: image,
    headline: headline,
    copy: copy,
    price: price
  %}
{% endcomment %}

{% liquid
  assign money = price | money_without_trailing_zeros
%}

<div>
  <div class="flex flex-col md:flex-row w-full aspect-[131_/_200] md:aspect-[64/45] xl:aspect-[2] 5kUp:aspect-[35_/_27] {{ class }}">
    <div class="w-full basis-1/2">
      {%- if image -%}
        {%- liquid
          assign sizes = '100vw'
          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
          assign fetch_priority = 'auto'
        -%}
        {{
          image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            height: height,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority,
            class: 'w-full h-full object-fill'
        }}
      {%- else -%}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>

    <div class="text-teal p-large xl:p-huge bg-sky flex flex-col justify-between gap-huge basis-1/2">
      <h1 class="text-mb-lg md:text-h-lg max-w-[444px]">
        {{ headline }}
      </h1>

      <div class="w-full flex justify-between items-center">
        <div class="text-t-sm">
          {{ copy }}
        </div>

        <div class="w-[54px] h-[54px] md:w-mega md:h-mega rounded-full bg-teal text-sky flex items-center justify-center text-h-sm md:text-h-md truncate p-2.5">
          <span>
            {{ money }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
