{% comment %}
  Renders product title & price information

  Usage:
  {% render 'title-price'%}
{% endcomment %}

{% assign title = product.title | default: '' %}

<div>
  <div class="flex flex-col gap-small mb-[36px]">
    <h1 class="text-t-md text-black">
      {{ title | escape }}
    </h1>

    <div id="price-{{ section.id }}" role="status">
      {% render 'price-b' %}

      <span class="text-body-xs text-grey500 mt-mini"> (inkl. 19% USt. inkl. Versand) </span>
    </div>

    <div {{ block.shopify_attributes }}>
      {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
      {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        {{ form | payment_terms }}
      {%- endform -%}
    </div>
  </div>
</div>

{% comment %} <p>Discount: {{ discount_percentage | round: 2 }}%</p> {% endcomment %}
