{%style%}
.collection-cover {
  min-height: 500px;
	padding-top: 80px;
  padding-bottom: 80px;
  color: white!important;
}

@media (max-width: 750px) {
  .collection-cover {
    min-height: 200px;
  }
}

.collection-cover.beer {
background: rgb(255,178,100);
background: linear-gradient(90deg, rgba(255,178,100,1) 0%, rgba(214,123,30,1) 65%);
color: black!important;
}

.collection-cover.wine {
color: white!important;
background: rgb(237,99,95);
background: linear-gradient(90deg, rgba(237,99,95,1) 0%, rgba(139,85,84,1) 100%);
}

.collection-cover.cider{
color: white!important;
background: rgb(59,198,107);
background: linear-gradient(90deg, rgba(59,198,107,1) 0%, rgba(13,107,46,1) 100%);
}

.collection-cover.spirits {
color: white!important;
background: rgb(86,234,255);
background: linear-gradient(90deg, rgba(86,234,255,1) 0%, rgba(145,166,255,1) 100%);
}

.collection-cover.cocktails {
background: rgb(69,45,253);
background: linear-gradient(90deg, rgba(69,45,253,1) 0%, rgba(145,40,158,1) 65%);
color: white!important;
}

.collection-cover.cocktails h1 {
  color: white!important;
}

.collection-cover.glutenfree {
background: rgb(252,223,153);
background: linear-gradient(90deg, rgba(252,223,153,1) 0%, rgba(241,231,207,1) 65%);
color: black!important;
}

.collection-cover.vegan {
background: rgb(41,139,42);
background: linear-gradient(90deg, rgba(41,139,42,1) 0%, rgba(213,253,45,1) 100%);
color: white!important;
}



.collection-cover.vegan h1 {
  color: white!important;
}




.collection-cover.newaf {
color: white!important;
background: rgb(236,236,236);
background: linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 51%);
}

.collection-cover.mixedcases {
background: rgb(255,178,100);
background: linear-gradient(90deg, rgba(255,178,100,1) 0%, rgba(214,123,30,1) 65%);
color: black!important;
}



.vendor-cover {

  background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background-size: cover;
	min-height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
 
}

.vendor-cover .more-info {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.vendor-cover h1 {
  color: white!important;
}

.vendor-cover p {
  color: white!important;
}



.vendor-cover .vendor-logo {
 width: auto;
   height: 100px;
  border-radius: 50%;
  max-height: 100px;
}



.style-container {
   display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px!important;
   padding: 0px!important;
    flex-wrap: wrap;
    width: 100%;
    
  }
  
  .style-container li {
     display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
  justify-content: center;
     margin: 0px!important;
  }
  
    .brewery-container {
   display: flex;
    justify-content: space-between;
    list-style: none;
     margin: 0px!important;
   padding: 0px!important;
    flex-wrap: wrap;
    
    align-self: center;
    
  }
  
  .brewery-container li {
     display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
    background: #f5f5f5 ;
   width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    
  }
  
  .brewery-container li a {
    width: 120px;
    height: 120px;
    align-items: center;
  justify-content: center;
        align-self: center;
    display: flex;
  }
  
  .brewery-container li img {
    width: 100%;
    height: auto;
    
  }
  
  
  .style-container li a  {
   width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
  justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
  }
  



  
  .style-container h2 {
  
    text-transform: uppercase;
    letter-spacing: 2px;
   
    text-align: center;
    align-self: center;

    
  }
  
.style-lager {
  color: white!important;
 background: #FEC95A; 
}
  
  .style-stout {
    color: white;
    background: #311614;
  }
  
  .style-ipa {
    color: white!important;
   background: #F5A61A; 
  }
  
  .style-pale-ale {
    color: white!important;
   background: #FDBE44; 
  }
  
  .style-sour {
    color: white!important;
    background: #e09360;
  }

@media (max-width: 800px) {

      .style-container li a {
        width: 100px;
        height: 100px;
        
      }
    
    .brewery-container li  {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
      }
    
    .brewery-container li a  {
        width: 100px;
        height: 100px;
        
      }
    
    .style-container li h2 {
     font-size: 20px; 
    }

    
  }
.countdown {
margin-left: auto;
margin-right: auto;
width: 250px;
}

@media (max-width: 750px) { 
.countdown {
width: auto;
}
}

.countdown {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
text-transform: uppercase;
}

.countdown .hours, .min, .sec {
display: block;
font-style: italic;
color: white;
}
{%endstyle%}

{% if collection.metafields.collection.background != blank and collection.metafields.collection.title != blank %}
<div class="collection-cover {{ collection.metafields.collection.background }}">
<div class="page-width">
  <h1>
    <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
    {{ collection.metafields.collection.title }}
  </h1>
  <p>{{ collection.metafields.collection.description }}</p>
</div>
</div>

{% if collection.metafields.collection.vendor_promotion != blank %}
														
 <script type="text/javascript">
function countdown(dateEnd) {
  var timer, days, hours, minutes, seconds;
  var current = new Date();

  dateEnd = new Date(dateEnd);
  dateEnd = dateEnd.getTime();

  if ( isNaN(dateEnd) ) {
    return;
  }

  timer = setInterval(calculate, 1000);

  function calculate() {
    var dateStart = new Date();
    var dateStart = new Date(dateStart.getUTCFullYear(),
                             dateStart.getUTCMonth(),
                             dateStart.getUTCDate(),
                             dateStart.getUTCHours(),
                             dateStart.getUTCMinutes(),
                             dateStart.getUTCSeconds());
    var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000)

    if ( timeRemaining >= 0 ) {
      days    = parseInt(timeRemaining / 86400);
      timeRemaining   = (timeRemaining % 86400);
      hours   = parseInt(timeRemaining / 3600);
      timeRemaining   = (timeRemaining % 3600);
      minutes = parseInt(timeRemaining / 60);
      timeRemaining   = (timeRemaining % 60);
      seconds = parseInt(timeRemaining);

     
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      
    }else if ( timeRemaining < 0 ){
      document.getElementById("vendor-promotion").remove();
  
      
    } else {
      return;
    }
    
    
  
  }

  function display(hours, minutes, seconds) {}
}



countdown('{{ collection.metafields.collection.discount_end_date }}');
</script> 													
														
<div class="vendor-promotion align-middle" id="vendor-promotion"><h2>{{collection.metafields.collection.vendor_promotion}}</h2>
	<p>{% if collection.metafields.collection.discount_code != blank %} - use code: <span style="background-color: black; color: white; padding: 3px; border-radius: 3px;">{{collection.metafields.collection.discount_code}}</span>{%else%}no code needed{%endif%}</p>
	{%if collection.metafields.discount.timer == true%}
<div class="countdown mt-3">
  <div class="row justify-content-around">
  <div class="col-4">
    <span id="hours" class="h2"></span>
    <span class="hours">Hrs</span>
    </div>
    <div class="col-4">
      <span id="minutes" class="h2"></span>
      <span class="min">Min</span>
    </div>
    <div class="col-4">
      <span id="seconds" class="h2"></span>
      <span class="sec">Sec</span>
    </div>
  </div>

    
  
</div>
	{%endif%}
</div>
{%endif%}
{% if collection.metafields.collection.additional_buttons %}
<div class="page-width">
  {{ collection.metafields.collection.additional_buttons }}
</div>
{%endif%}

{% elsif collection.metafields.collection.vendor_cover_photo != blank or collection.metafields.collection.vendor_cover_colour != blank and collection.metafields.collection.title != blank %}
<div class="vendor-cover-container">
<div class="vendor-cover align-middle text-center"
     
     {% if collection.metafields.collection.vendor_cover_photo != blank %} style="background-image: url('{{ collection.metafields.collection.vendor_cover_photo | img_url: 'master' }}'); background-color: {{collection.metafields.collection.vendor_cover_colour}};" {%else%} style="background-color: {{collection.metafields.collection.vendor_cover_colour}};" {%endif%}>
<div class="page-width">
      <img src="{{ collection.metafields.collection.vendor_logo_photo | img_url: 'master' }}" class="vendor-logo">
  
       <h1>
    <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
    {{ collection.metafields.collection.title }}
  </h1>
 
  <p>{{ collection.metafields.collection.description }} {% if collection.metafields.collection.vendor_full_descriptipn != blank %}<a href="#about" class="more-info">Find out more..</a>{%endif%}</p>
</div>
</div>
</div>
{% if collection.metafields.collection.vendor_promotion != blank %}
 <script type="text/javascript">
function countdown(dateEnd) {
  var timer, days, hours, minutes, seconds;
  var current = new Date();

  dateEnd = new Date(dateEnd);
  dateEnd = dateEnd.getTime();

  if ( isNaN(dateEnd) ) {
    return;
  }

  timer = setInterval(calculate, 1000);

  function calculate() {
    var dateStart = new Date();
    var dateStart = new Date(dateStart.getUTCFullYear(),
                             dateStart.getUTCMonth(),
                             dateStart.getUTCDate(),
                             dateStart.getUTCHours(),
                             dateStart.getUTCMinutes(),
                             dateStart.getUTCSeconds());
    var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000)

    if ( timeRemaining >= 0 ) {
      days    = parseInt(timeRemaining / 86400);
      timeRemaining   = (timeRemaining % 86400);
      hours   = parseInt(timeRemaining / 3600);
      timeRemaining   = (timeRemaining % 3600);
      minutes = parseInt(timeRemaining / 60);
      timeRemaining   = (timeRemaining % 60);
      seconds = parseInt(timeRemaining);

     
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      
    }else if ( timeRemaining < 0 ){
      document.getElementById("vendor-promotion").remove();
  
      
    } else {
      return;
    }
    
    
  
  }

  function display(hours, minutes, seconds) {}
}



countdown('{{ collection.metafields.collection.discount_end_date }}');
</script> 
<div class="vendor-promotion align-middle" id="vendor-promotion"><h2>{{collection.metafields.collection.vendor_promotion}}</h2>
	<p>{% if collection.metafields.collection.discount_code != blank %} - use code: <span style="background-color: black; color: white; padding: 3px; border-radius: 3px;">{{collection.metafields.collection.discount_code}}</span>{%else%}no code needed{%endif%}</p>
	{%if collection.metafields.discount.timer == true%}
<div class="countdown mt-3">
  <div class="row justify-content-around">
  <div class="col-4">
    <span id="hours" class="h2"></span>
    <span class="hours">Hrs</span>
    </div>
    <div class="col-4">
      <span id="minutes" class="h2"></span>
      <span class="min">Min</span>
    </div>
    <div class="col-4">
      <span id="seconds" class="h2"></span>
      <span class="sec">Sec</span>
    </div>
  </div>

    
  
</div>
	{%endif%}
</div>
{%endif%}
{%else%}

<div class="collection-cover">
<div class="page-width">
<h1>
<span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
{{- collection.title | escape -}}
</h1>
<p>{{ collection.description }}</p>
</div>
</div>
{% if collection.metafields.collection.vendor_promotion != blank %}
 <script type="text/javascript">
function countdown(dateEnd) {
  var timer, days, hours, minutes, seconds;
  var current = new Date();

  dateEnd = new Date(dateEnd);
  dateEnd = dateEnd.getTime();

  if ( isNaN(dateEnd) ) {
    return;
  }

  timer = setInterval(calculate, 1000);

  function calculate() {
    var dateStart = new Date();
    var dateStart = new Date(dateStart.getUTCFullYear(),
                             dateStart.getUTCMonth(),
                             dateStart.getUTCDate(),
                             dateStart.getUTCHours(),
                             dateStart.getUTCMinutes(),
                             dateStart.getUTCSeconds());
    var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000)

    if ( timeRemaining >= 0 ) {
      days    = parseInt(timeRemaining / 86400);
      timeRemaining   = (timeRemaining % 86400);
      hours   = parseInt(timeRemaining / 3600);
      timeRemaining   = (timeRemaining % 3600);
      minutes = parseInt(timeRemaining / 60);
      timeRemaining   = (timeRemaining % 60);
      seconds = parseInt(timeRemaining);

     
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      
    }else if ( timeRemaining < 0 ){
      document.getElementById("vendor-promotion").remove();
  
      
    } else {
      return;
    }
    
    
  
  }

  function display(hours, minutes, seconds) {}
}



countdown('{{ collection.metafields.collection.discount_end_date }}');
</script> 
<div class="vendor-promotion align-middle" id="vendor-promotion"><h2>{{collection.metafields.collection.vendor_promotion}}</h2>
	<p>{% if collection.metafields.collection.discount_code != blank %} - use code: <span style="background-color: black; color: white; padding: 3px; border-radius: 3px;">{{collection.metafields.collection.discount_code}}</span>{%else%}no code needed{%endif%}</p>
	{%if collection.metafields.discount.timer == true%}
<div class="countdown mt-3">
   <div class="row justify-content-around">
  <div class="col-4">
    <span id="hours" class="h2"></span>
    <span class="hours">Hrs</span>
    </div>
    <div class="col-4">
      <span id="minutes" class="h2"></span>
      <span class="min">Min</span>
    </div>
    <div class="col-4">
      <span id="seconds" class="h2"></span>
      <span class="sec">Sec</span>
    </div>
  </div>

    
  
</div>
	{%endif%}
</div>
{%endif%}
{%endif%}