{% comment %}
  Renders the unit price of a variant
  Accepts:
  - variant: {Object} Variant Liquid object
  - remove_accessibility_label: {Boolean} Whether to remove accessibility attributes (optional, default: false)
  Usage:
  {% render 'unit-price', variant: variant %}
{% endcomment %}
{%- assign measurement = variant.unit_price_measurement -%}
<small class="unit-price caption{% if measurement == nil %} hidden{% endif %}">
  {% unless remove_accessibility_label %}
    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
  {% endunless %}
  <span class="price-item price-item--last">
    {%- assign price = variant.unit_price | money -%}
    {%- assign count = measurement.reference_value -%}
    {%- if measurement.measured_type == 'count' -%}
      {%- if count == 1 -%}
        {{- 'products.product.unit_price.per_item.single' | t: price: price -}}
      {%- else -%}
        {{- 'products.product.unit_price.per_item' | t: price: price, count: count -}}
      {%- endif -%}
    {%- else -%}
      {%- case measurement.reference_unit -%}
        {%- when 'ml',
          'cl',
          'l',
          'm3',
          'pt',
          'qt',
          'gal',
          'floz',
          'mg',
          'g',
          'kg',
          'oz',
          'lb',
          'mm',
          'cm',
          'm',
          'ft',
          'yd',
          'in',
          'm2',
          'ft2',
          'item'
        -%}
          {%- comment -%}theme-check-disable TranslationKeyExists{%- endcomment -%}
          {%- assign unit = 'products.product.unit_price.unit.' | append: measurement.reference_unit | t -%}
          {%- comment -%}theme-check-enable TranslationKeyExists{%- endcomment -%}
        {%- else -%}
          {%- assign unit = measurement.reference_unit -%}
      {%- endcase -%}
      <span aria-hidden="true">
        {%- if count == 1 -%}
          {{- 'products.product.unit_price.per_unit.single' | t: price: price, unit: unit -}}
        {%- else -%}
          {{- 'products.product.unit_price.per_unit' | t: price: price, count: count, unit: unit -}}
        {%- endif -%}
      </span>
      <span class="visually-hidden">
        {%- if count == 1 -%}
          {{- 'products.product.unit_price.per_unit_accessibility.single' | t: price: price, unit: unit -}}
        {%- else -%}
          {{- 'products.product.unit_price.per_unit_accessibility' | t: price: price, count: count, unit: unit -}}
        {%- endif -%}
      </span>
    {%- endif -%}
  </span>
</small>
