<div class="usp-block usp-1">
  <div class="usp-block__grid">
    <div class="usp-block__grid-half">
      <div class="usp-block__image">
        {% if section.settings.image %}
          <img
            height="100"
            width="100"
            src="{{ section.settings.image | img_url: 'medium' }}"
            alt="{{ section.settings.image.alt | escape }}"
          >
        {% endif %}
      </div>
      <div class="usp-block__content">
        <h2 class="usp-block__title">{{ section.settings.title }}</h2>
        <p class="usp-block__description">{{ section.settings.description }}</p>
      </div>
    </div>
    <div class="usp-block__grid-half">
      <div class="usp-block__content">
        <h2 class="usp-block__title">{{ section.settings.title_alt }}</h2>
        <p class="usp-block__description">{{ section.settings.description_alt }}</p>
      </div>
      <div class="usp-block__image-alt">
        {% if section.settings.image_alt %}
          <img
            height="100"
            width="100"
            src="{{ section.settings.image_alt | img_url: 'medium' }}"
            alt="{{ section.settings.image_alt.alt | escape }}"
          >
        {% endif %}
      </div>
    </div>
  </div>
</div>
