<div class="usp-block usp-2">
  <div class="usp-block__image">
    {% if section.settings.image %}
      <img
        height="800"
        width="800"
        {% if section.settings.image != blank %}
          src="{{ section.settings.image | img_url: 'medium' }}"
        {% else %}
          src="{{ 'no-image.webp' | asset_url }}"
        {% endif %}
        alt="{{ section.settings.image.alt | escape }}"
      >
    {% endif %}
  </div>
  <div class="usp-block__content">
    <h3 class="usp-block__title">{{ section.settings.title }}</h3>
    <p class="usp-block__description">{{ section.settings.description }}</p>
  </div>
</div>
