{%- unless product.has_only_default_variant -%}
                <variant-radios class="no-js-hidden" data-url="{{ product.url }}">
                      <fieldset class="js product-form__input">
                  {%- for variant in product.variants -%}
                        {% if variant.option1 == settings.variant_name1 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img1 | img_url: '50x' }}); background-color: {{ variant_color1 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name2 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img2 | img_url: '50x' }}); background-color: {{ variant_color2 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name3 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img3 | img_url: '50x' }}); background-color: {{ variant_color3 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name4 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img4 | img_url: '50x' }}); background-color: {{ variant_color4 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name5 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img5 | img_url: '50x' }}); background-color: {{ variant_color5 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name6 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img6 | img_url: '50x' }}); background-color: {{ variant_color6 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name7 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img7 | img_url: '50x' }}); background-color: {{ variant_color7 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name8 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img8 | img_url: '50x' }}); background-color: {{ variant_color8 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name9 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img9 | img_url: '50x' }}); background-color: {{ variant_color9 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name10 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img10 | img_url: '50x' }}); background-color: {{ variant_color10 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name11 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img11 | img_url: '50x' }}); background-color: {{ variant_color11 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name12 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img12 | img_url: '50x' }}); background-color: {{ variant_color12 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name13 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img13 | img_url: '50x' }}); background-color: {{ variant_color13 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name14 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img14 | img_url: '50x' }}); background-color: {{ variant_color14 }};">  
                        </label></a>
                        {% elsif variant.option1 == settings.variant_name15 %}
                        <a href="{{ variant.url }}"><label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="v-swatch" style="background-image: url({{ settings.variant_img15 | img_url: '50x' }}); background-color: {{ variant_color15 }};">  
                        </label></a>
                        {% else %}
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {% endif %}
                  {%- endfor -%}
                      </fieldset>
                </variant-radios>
            {%- endunless -%}