{%- unless product.has_only_default_variant -%}
  <variant-radios class="no-js-hidden" data-url="{{ product.url }}">
    <fieldset class="js product-form__input">
      {% assign addedColors = '' %}
      {%- for variant in product.variants -%}
        {% assign value_slug = variant.option1 | downcase | replace: ' ', '-' %}
        {% unless addedColors contains value_slug %}
          <a href="{{ variant.url }}" aria-label="{{value_slug}}" data-id="{{ variant.id }}"
            ><label
              for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
              class="v-swatch featured-coll"
              style="{% if shop.metaobjects.color_swatches[value_slug].image != blank %}background-image: url({{ shop.metaobjects.color_swatches[value_slug].image | img_url: '50x' }}); {% else %}background-color: {{ shop.metaobjects.color_swatches[value_slug].color }};{% endif %}"
            >
            </label
          ></a>
        {% endunless %}
        {% assign addedColors = addedColors | append: ' ' | append: value_slug %}
      {% endfor %}
    </fieldset>
  </variant-radios>

  <style>
    .product-form__input a {
      display: inline-flex;
      padding: 0 2px;
    }
    .product-form__input {
      flex: 0 0 100%;
      padding: 0;
      margin: 1rem auto 0;
      max-width: 37rem;
      min-width: fit-content;
      border: none;
    }
    label.v-swatch.featured-coll {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-align: center;
      transition: border var(--duration-short) ease;
      cursor: pointer;
      position: relative;
      display: inline-block !important;
      line-height: 1 !important;
      font-weight: 400;
      padding: 12px 12px !important;
      margin: 0 !important;
      font-style: normal;
      text-transform: none;
      border-radius: 100px !important;
      color: #000;
      background-color: transparent;
      height: 20px;
      width: 20px;
      border: 0 !important;
    }
    .card__heading a:after {
      height: 0;
    }
    @media (max-width: 560px) {
      label.v-swatch.featured-coll {
        padding: 8px !important;
        width: 4px;
        height: 4px;
      }
    }
  </style>
{%- endunless -%}
