{% assign label = label | append: '*' %}

<div class="tw-flex tw-flex-col tw-gap-small w-full">
  <label class="tw-text-t-sm tw-text-black" for="Option-{{ section.id }}-{{ forloop.index0 }}">
    {{ label }}
  </label>

  <div class=" tw-relative">
    <select
      id="{{ select_id }}"
      name="{{ select_name }}"
      class=" tw-bg-transparent tw-appearance-none tw-relative tw-w-full tw-flex tw-justify-between tw-p-base tw-border tw-border-grey100 tw-rounded-[4px]  {{ select_class }} tw-z-10 focus-visible:tw-no-outline focus-visible:tw-outline-offset-0 focus-visible:tw-shadow-none"
    >
      {% for option in select_options %}
        <option
          value="{{ option }}"
          {% if option == select_selected %}
            selected
          {% endif %}

          class="text-body-sm tw-text-black"
        >
          {{ option }}
        </option>
      {% endfor %}
    </select>

    <span for="{{ select_name }}" class="tw-z-0  tw-absolute tw-top-1/2 tw-right-base -tw-translate-y-1/2">
      {% render 'icon-chevron-down' %}
    </span>
  </div>
</div>
