{% assign label = label | append: '*' %}

<div class="flex flex-col gap-small w-full">
  <label class="text-t-sm text-black" for="Option-{{ section.id }}-{{ forloop.index0 }}">
    {{ label }}
  </label>

  <div class=" relative">
    <select
      id="{{ select_id }}"
      name="{{ select_name }}"
      class="text-body-sm bg-transparent appearance-none relative w-full flex justify-between p-base border border-grey100 rounded-[4px]  {{ select_class }} z-10 focus-visible:no-outline focus-visible:outline-offset-0 focus-visible:shadow-none"
    >
      {% for option in select_options %}
        <option
          value="{{ option }}"
          {% if option == select_selected %}
            selected
          {% endif %}

          class="text-body-sm text-black"
        >
          {{ option }}
        </option>
      {% endfor %}
    </select>

    <span for="{{ select_name }}" class="z-0  absolute top-1/2 right-base -translate-y-1/2">
      {% render 'icon-chevron-down' %}
    </span>
  </div>
</div>
