{%- unless product.has_only_default_variant -%}
  <variant-radios class="no-js-hidden" data-url="{{ product.url }}">
    <fieldset class="js product-form__input">
      {% assign done = '' %}
      {%- for variant in product.variants -%}
        {% assign str_arr = variant.option1 | append: '|' %}
        {% unless done contains str_arr %}
          {% if variant.option1 == settings.variant_name1 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name1}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img1 != blank %}background-image: url({{ settings.variant_img1 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color1 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name2 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name2}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img2 != blank %}background-image: url({{ settings.variant_img2 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color2 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name3 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name3}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img3 != blank %}background-image: url({{ settings.variant_img3 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color3 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name4 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name4}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img4 != blank %}background-image: url({{ settings.variant_img4 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color4 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name5 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name5}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img5 != blank %}background-image: url({{ settings.variant_img5 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color5 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name6 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name6}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img6 != blank %}background-image: url({{ settings.variant_img6 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color6 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name7 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name7}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img7 != blank %}background-image: url({{ settings.variant_img7 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color7 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name8 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name8}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img8 != blank %}background-image: url({{ settings.variant_img8 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color8 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name9 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name9}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img9 != blank %}background-image: url({{ settings.variant_img9 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color9 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name10 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name10}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img10 != blank %}background-image: url({{ settings.variant_img10 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color10 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name11 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name11}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img11 != blank %}background-image: url({{ settings.variant_img11 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color11 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name12 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name12}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img12 != blank %}background-image: url({{ settings.variant_img12 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color12 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name13 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name13}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img13 != blank %}background-image: url({{ settings.variant_img13 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color13 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name14 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name14}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img14 != blank %}background-image: url({{ settings.variant_img14 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color14 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name15 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name15}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img15 != blank %}background-image: url({{ settings.variant_img15 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color15 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name16 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name16}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img16 != blank %}background-image: url({{ settings.variant_img16 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color16 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name17 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name17}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img17 != blank %}background-image: url({{ settings.variant_img17 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color17 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name18 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name18}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img18 != blank %}background-image: url({{ settings.variant_img18 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color18 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name19 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name19}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img19 != blank %}background-image: url({{ settings.variant_img19 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color19 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name20 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name20}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img20 != blank %}background-image: url({{ settings.variant_img20 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color20 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name21 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name21}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img21 != blank %}background-image: url({{ settings.variant_img21 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color21 }};{% endif %}"
              >
              </label
            ></a>
          {% elsif variant.option1 == settings.variant_name22 %}
            <a href="{{ variant.url }}" aria-label="{{settings.variant_name22}}"
              ><label
                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                class="v-swatch featured-coll"
                style="{% if settings.variant_img22 != blank %}background-image: url({{ settings.variant_img22 | img_url: '50x' }}); {% else %}background-color: {{ settings.variant_color22 }};{% endif %}"
              >
              </label
            ></a>
          {% else %}
            {% if product.options[0] == 'Color' %}
              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                {{ variant.option1 }}
              </label>
            {% endif %}
          {% endif %}
          {% assign done = done | append: str_arr %}
        {% endunless %}
      {%- endfor -%}
    </fieldset>
  </variant-radios>

  <style>
    .product-form__input {
      flex: 0 0 100%;
      padding: 0;
      margin: 1rem 0 0;
      max-width: 37rem;
      min-width: fit-content;
      border: none;
    }
    label.v-swatch.featured-coll {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-align: center;
      transition: border var(--duration-short) ease;
      cursor: pointer;
      position: relative;
      display: inline-block !important;
      line-height: 1 !important;
      font-weight: 400;
      padding: 12px 12px !important;
      margin: 0 6px 12px 0 !important;
      font-style: normal;
      text-transform: none;
      border-radius: 100px !important;
      color: #000;
      background-color: transparent;
      height: 20px;
      width: 20px;
      border: 0 !important;
    }
    .card__heading a:after {
      height: 0;
    }
    @media (max-width: 560px) {
      label.v-swatch.featured-coll {
        padding: 8px !important;
        width: 4px;
        height: 4px;
      }
    }
  </style>
{%- endunless -%}
