<!-- VE First 10 Top Reviews Widget  -->

<style>
  #load_reviews_dynamically_here {
    padding-top: 40px;
  }

  input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='range'],
input[type='color'],
select,
textarea {
  display: block;
  width: 100%;
  height: 42px;
  min-height: 42px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid #cccccc;
  outline: none;
  background: #fff;
  color: #888;
  font: 16px $mainFontFamily;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='range'],
input[type='color'],
select.ve-select-solid,
textarea {
  background-color: #f3f5f7;
  border-radius: 0px;
  border: 1px solid #f3f5f7;
  border-color: transparent;
  color: #2a2b2c;
  font-family: $mainFontFamily;
  font-size: 19px;
  transition: border-bottom 0.35s ease-in-out, transform 0.5s linear, box-shadow 0.4s linear;
}

input[type='text']:focus,
input[type='text']:active,
input[type='password']:focus,
input[type='password']:active,
input[type='email']:focus,
input[type='email']:active,
input[type='search']:focus,
input[type='search']:active,
input[type='url']:focus,
input[type='url']:active,
input[type='tel']:focus,
input[type='tel']:active,
input[type='number']:focus,
input[type='number']:active,
input[type='date']:focus,
input[type='date']:active,
input[type='month']:focus,
input[type='month']:active,
input[type='week']:focus,
input[type='week']:active,
input[type='time']:focus,
input[type='time']:active,
input[type='range']:focus,
input[type='range']:active,
input[type='color']:focus,
input[type='color']:active,
select.ve-select-solid:focus,
select.ve-select-solid:active,
textarea:focus,
textarea:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f3f5f7;
  border-color: transparent;
  transform: scale(1.015);
  box-shadow: 0px 3px 9px -2px #c7c7c7;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='range'],
input[type='color'],
select,
textarea {
  font-family: $mainFontFamily;
}

  .ve-flex-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .flex-v-center {
    align-items: center;
  }

  .ve-row-no-gutter {
    width: 100%;
    margin: 0;
  }

  .ve-col-1,
  .ve-col-mobtab-1,
  .ve-col-mob-1,
  .ve-col-2,
  .ve-col-mobtab-2,
  .ve-col-mob-2,
  .ve-col-3,
  .ve-col-mobtab-3,
  .ve-col-mob-3,
  .ve-col-4,
  .ve-col-mobtab-4,
  .ve-col-mob-4,
  .ve-col-5,
  .ve-col-mobtab-5,
  .ve-col-mob-5,
  .ve-col-6,
  .ve-col-mobtab-6,
  .ve-col-mob-6 {
    display: inline-grid;
  }

  .ve-col-1 {
    width: 100%;
    padding: 0px 10px;
  }

  .ve-col-2 {
    width: 50%;
    padding: 0px 10px;
    float: left;
  }

  .ve-col-3 {
    width: 33.33%;
    padding: 0px 10px;
    float: left;
  }

  .ve-col-4 {
    width: 25%;
    padding: 0px 10px;
    float: left;
  }

  .ve-col-5 {
    width: 20%;
    padding: 0px 10px;
    float: left;
  }

  .ve-col-6 {
    width: 16.667%;
    padding: 0px 10px;
    float: left;
  }

  .ve-pad-lr-0 {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 798px) {
    .ve-mob-pad-lr-0 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 0;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .ve-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    background-color: #52b2c0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .ve-toggle-slider:before {
    position: absolute;
    content: '';
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .ve-toggle-slider {
    background-image: linear-gradient(90deg, #e9b3bc, #ffc5a2);
  }

  input:checked + .ve-toggle-slider:before {
    -webkit-transform: translateX(28.5px);
    -ms-transform: translateX(28.5px);
    transform: translateX(28.5px);
  }
  /* Rounded ve-toggle-sliders */
  .ve-toggle-slider.round {
    border-radius: 34px;
  }

  .ve-toggle-slider.round:before {
    border-radius: 50%;
  }
  .ve-ptr-write-review-btn {
    background-image: linear-gradient(220deg, #e9b3bc, #ffc5a2);
    border: none;
    padding: 2.5px 12px;
    height: 30px;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
  }
  .ve-ptr-ask-a-question-btn {
    background-image: linear-gradient(223deg, #60c0cc, #40a2af);
    border: none;
    padding: 2.5px 12px;
    height: 30px;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
  }
  .ve-ptr-write-review-btn > i,
  .ve-ptr-ask-a-question-btn > i {
    font-size: 19px;
    margin-right: 5px;
  }
  .ve-toggle-slider > i.la-star {
    font-size: 21px;
    color: #ffffff8c;
    position: relative;
    left: 3px; /* bottom: 0px; */
  }
  .ve-toggle-slider > .la-question-circle {
    font-size: 26.5px;
    color: #ffffff8c;
    position: relative;
    left: 1px;
    top: 2.5px;
  }

  .pagination-controls {
    display: flex !important;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    font-size: 1.65em;
  }
  .pagination-controls .page {
    margin-left: 0.7em;
  }
  .page,
  .prev-page,
  .next-page {
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .next-page.disabled,
  .prev-page.disabled {
    color: #ccc;
    pointer-events: none;
    display: none;
  }

  .pagination-controls .page:last-of-type {
    margin-right: 0.7em;
  }

  .page.active,
  .page:hover {
    color: #40a2af;
    cursor: pointer;
  }
  .prev-page:hover,
  .next-page:hover {
    color: #40a2af;
  }
  .ve-ask-question-wrap > .ve-flex-row > i {
    font-size: 1.5em;
    margin: 0 0 20px auto;
    color: #40a2af;
    cursor: pointer;
  }

.ve-previous-pages-num,
.ve-next-pages-num,
.ve-page-numbers {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ve-page-numbers[data-animate='left'] {
  transform: translateX(-35px);
  transition: transform 0.2s ease-in-out;
}

.ve-page-numbers[data-animate='left-2'] {
  transform: translateX(-95px);
  transition: transform 0.3s ease-in-out;
}

.ve-page-numbers[data-animate='left-3'] {
  transform: translateX(-150px);
  transition: transform 0.45s ease-in-out;
}

.ve-page-numbers[data-animate='right'] {
  transform: translateX(35px);
  transition: transform 0.2s ease-in-out;
}

.ve-page-numbers[data-animate='right-2'] {
  transform: translateX(95px);
  transition: transform 0.3s ease-in-out;
}

.ve-page-numbers[data-animate='right-3'] {
  transform: translateX(150px);
  transition: transform 0.45s ease-in-out;
}

.ve-previous-pages-num div {
  margin-right: 25px;
  margin-left: 5px;
}

.ve-next-pages-num div {
  margin-left: 25px;
  margin-right: 5px;
}

.ve-current-page {
  font-weight: 600;
  color: $ve_aqua;
}

.ve-current-page.ve-black {
  color: #2a2b2c;
  font-weight: 500;
}

.ve-main-reviews-pagination[data-show='false'],
.ve-previous-pages-num[data-show='false'],
.ve-next-pages-num[data-show='false'] {
  display: none;
}

.ve-page-numbers--wrap {
  overflow: hidden;
}

.ve-main-reviews-pagination {
  font-size: 22px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 15px 0;
}

.ve-review-open-page i {
  font-size: 25px;
  color: $ve_aqua;
  cursor: pointer;
}

.ve-score--wrap {
  cursor: pointer;
  margin-bottom: 15px;
}

@media(min-width: 800px) {
  .ve-input--wrap.inline.ve-ptr-name {
    padding-right: 10px;
  }

}

.ve-previous-page-btn {
  margin-right: 25px;
}

.ve-next-page-btn {
  margin-left: 25px;
}

.ve-ptr-reviews-section[data-more-pages='true'],
.ve-reviews-questions[data-more-pages='true'] {
  min-height: 1400px;
}

#ve-main-reviews-top[data-reviews-active='true'] .ve-reviews-questions,
#ve-main-reviews-top[data-reviews-active='false'] .js_main-reviews,
#ve-main-reviews-top[data-reviews-active='true'] .ve-reviews-questions-toggle>[data-text="reviews"],
#ve-main-reviews-top[data-reviews-active='false'] .ve-reviews-questions-toggle>[data-text="questions"],
#ve-main-reviews-top[data-reviews-active='true'] .ve-ptr-ask-a-question-btn,
#ve-main-reviews-top[data-reviews-active='false'] .ve-ptr-write-review-btn,
#ve-main-reviews-top[data-reviews-active='true'] .ve-ptr-total-text.question,
#ve-main-reviews-top[data-reviews-active='false'] .ve-ptr-total-text.review {
  display: none;
}

.ve-reviews-questions {
  margin: 30px 0;
}

.ve-question:not(:first-child) {
  border-top: 1px solid #f9f9f9;
  padding-top: 25px;
}

.ve-ask-question-wrap button {
  min-width: 205px;
}

.ve-question-asker-name,
.ve-question-answer-name {
  line-height: 1.1;
}

.ve-question-answer-profile {
  border: 1px solid #000;
  margin-right: 10px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;

  i {
    top: 2px;
    position: relative;
  }
}

.store-owner .ve-question-answer-profile {
  border: 1px solid $ve_aqua;

  i {
    left: -1px;
  }
}

.ve-question-asker,
.ve-question-answer-asker {
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-weight: 500;

  i {
    font-size: 25px;
  }
}

.ve-question-asker i {
  font-size: 27px
}

.ve-question-answer-asker.store-owner {
  color: $ve_aqua;
}

.ve-question {
  margin: 12.5px 0;
  display: block;
  overflow: auto;
}

.ve-question-answers {
  margin: 15px 0 0 15px;
  padding-left: 15px;
  border-left: 1px solid $ve_aqua;
}

.ve-question-asker-profile {
  background-color: $ve_aqua;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;

  i.la-user {
    position: relative;
    top: 2px;
  }
}

.ve-question-answer-helpful-text {
  color: #777;
  font-size: 14px;
}

.ve-question-answer-votes {
  display: flex;
  align-items: center;

  i {
    font-size: 1.2em;
    margin: 0 0.25em;
  }
}

.ve-question-answer-created,
.ve-question-asker-date {
  color: #777;
  font-size: 14px;
  font-family: $mainSerifFont;
}

.ve-question-content {
  font-size: 1.075em;
  font-weight: 500;
}

.ve-question-content,
.ve-question-answer-content {
  margin: 12.5px 0;
}

.ve-question-answer {
  margin-top: 15px;
  padding-bottom: 15px;
}

.ve-question-answer:not(:last-child) {
  border-bottom: 1px solid #f9f9f9;
}

.text-cap {
  text-transform: capitalize;
}

.hide,
[data-show="false"] {
  display: none;
}

textarea {
  padding: 10px;
  height: 100px;
}

.ve-num.ve-hide {
  display: none;
}

.ve-num {
  cursor: pointer;
}

.ve-product-helpful-review-title--wrap {
  padding: 0 15px;
  margin: 10px 0;
}

.ve-product-helpful-review--title {
  font-family: $mainFontFamily;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #323434;
}

.ve-helpful-name {
  font-family: $mainScriptFamily;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  text-transform: capitalize;
  color: #323434;
}

.ve-helpful-review-text {
  font-family: $mainFontFamily;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #323434;
}

.ve-helpful-slider,
.ve-lazy-carousel {
  text-align: center;
  overflow: hidden;
}

.ve-slides {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.ve-slides::-webkit-scrollbar {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.ve-slides::-webkit-scrollbar-thumb {
  display: none;
}

.ve-slides::-webkit-scrollbar-track {
  background: transparent;
}

.ve-slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  position: relative;
  font-size: 16px;
}

.ve-slides>div.ve-helpful-cell {
  width: 100%;
}

div.ve-slider-dots {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #e2e7ea;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 7.5px 0 0;
  position: relative;
  cursor: pointer;
}

.ve-slider-control--wrap .ve-slider-dots:last-child {
  margin-right: 0px;
}

div.ve-slider-dots.active {
  background: #b6dade;
}

div.ve-slider-dots:focus {
  background: #000;
}

.ve-slider-control--wrap {
  width: 100%;
  text-align: center;
}

.ve-helpful-review-rating--wrap {
  text-align: center;
}

.ve-helpful-header--wrap {
  margin: 15px 0;
}

.ve-helpful-header-hr {
  margin: 15px auto;
  padding: 0 15px;
  width: 100%;
  max-width: 280px;
  border: solid 0.5px #d1f0f4;
}

.product-list .thumbnail .product-info__caption {
  margin-top: 0px;
}

.ve-product-helpful-reviews {
  border: solid 1px #d1f0f4;
  padding: 10px;
  margin: 35px 0;
  width: 100%;
  max-width: calc(100vw - 40px);
}

@media only screen and (min-width: 799px) {
  .ve-product-helpful-reviews {
    max-width: calc(50vw - 40px);
    padding: 10px 15px;
  }
}

.ve-helpful-name--wrap {
  margin: 25px 0 0 0;
}

.helpful-review-heading-text {
  font-family: $mainSerifFont;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #2a2b2c;
}

.ve-review-modal-overlay {
  z-index: 249000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  backdrop-filter: blur(1.35px);
  opacity: 0.19;
}

.ve-review-modal-close--wrap {
  cursor: pointer;
}

.ve-review-orignal-img--wrap {
  text-align: center;
  width: 100%;
}

.review-og-img {
  padding: 5% 15px;
  max-width: 100%;
  max-height: 95vh;
  width: auto;
}

.ve-review-img-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 250000000;
  transform: translate(-50%, -50%);
}

.ve-review-modal-close {
  font-size: 22px;
  color: #fff;
  float: right;
  padding: 5px;
  margin: 5px 5px 0 0;
}

.ve-ptr-avg-rating {
  font-size: 16px;
  vertical-align: sub;
  margin-top: 15px;
}

.ve-ptr-flex {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ve-ptr-flex-row {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.ve-ptr-flex:first-child>button {
  margin-right: auto;
}

.ve-ptr-flex:last-child>button {
  margin-left: auto;
}

.ve-ptr-total-text .heading-2.heading-half-bg {
  font-size: 30px;
}

.ve-pts-header-hr {
  margin-top: 20px;
  background-image: linear-gradient(to right, #c2f2e2, #d1f0f4);
  height: 2px;
  background-size: 100%;
}

.ve-ptr-social-img {
  width: 100%;
  max-width: 200px;
}

.ve-review--wrap {
  margin: 25px 0;
  display: block;
}

.ve-review-profile--wrap {
  display: inline-block;
  background-image: url(https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/png/review-circle-check-profile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 55px;
}

.ve-profile-letter {
  position: relative;
  top: 10px;
  font-family: $mainFontFamily;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #5d5e5d;
}

.ve-review-username {
  display: inline-block;
  font-size: 17px;
  color: #2a2b2c;
  text-transform: capitalize;
  margin-right: 5px;
  padding-left: 6px;
}

.ve-review-verified-buyer {
  display: inline-block;
  font-family: $mainFontFamily;
  font-style: italic;
  font-size: 16px;
  color: #777;
}

.ve-review-post--wrap {
  padding: 0 10px;
  margin: 10px 0;
}

.ve-review-post-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

.ve-review-rating-username--wrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.ve-review-imgs--wrap {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

.ve-hide-theme-2 {
  display: none;
}

.ve-review-imgs--wrap .ve-review-img-thumbnail:last-child {
  margin-right: 0px;
}

.ve-review-img-thumbnail {
  width: 100%;
  margin-right: 5px;
  cursor: pointer;
  max-width: 60px;
}

.ve-readmore,
.ve-readless {
  font-weight: 600;
  font-size: 16.5;
  color: #40a2af;
  cursor: pointer;
  display: inline;
  margin: 0 3px;
}

.ve-review-helpful--wrap {
  margin: 10px 0;
  text-align: left;
}

.ve-helpful-img {
  width: 100%;
  max-width: 55px;
  vertical-align: sub;
  margin-right: 5px;
}

.ve-share--wrap,
.ve-review-vote-updown {
  display: inline-block;
}

.ve-review-vote-updown i {
  cursor: pointer;
  color: #2a2b2c;
}

.ve-review-vote-updown {
  margin: 0 0 0 3.5px;
}

.ve-helpful-vote-up-num {
  font-size: 15.5px;
}

.ve-share--wrap {
  font-size: 16px;
  color: #2a2b2c;
  float: right;
  margin: 0 15px 0 5px;
}

.ve-review-vote-updown i:hover,
.ve-question-answer-votes i:hover {
  color: $ve_aqua;
  cursor: pointer;
}

span.ve-review-helpful-text {
  font-size: 16px;
}

.ve-review-vote-updown i.la.la-thumbs-up.vote-up {
  margin-right: 5px;
  position: relative;
  top: 2px;
  font-size: 22px;
}

.ve-share--wrap i.la.la-facebook-square {
  font-size: 22px;
  position: relative;
  top: 2px;
  color: #535557;
}

.ve-review-vote-updown .voted-clicked,
.ve-review-vote-updown .voted-clicked:hover,
.ve-question-answer-votes i.vote-clicked {
  pointer-events: none;
  color: $ve_aqua;
}

.ve-share--wrap i.la.la-facebook-square:hover,
.ve-share--wrap i.la.la-facebook-square:active {
  color: $ve_aqua;
}

.ve-review-vote-updown .voted-not-clicked,
.ve-review-vote-updown .voted-not-clicked:hover {
  pointer-events: none;
  color: #777;
}

.ve-vertical-review-link {
  display: none;
}

@media (min-width: 1050px) {
  .ve-vertical-review-link {
    display: inline-block;
  }

  .ve-share--wrap {
    float: none;
    margin: 0 0 0 5px;
  }

  .ve-share--wrap a {
    margin-left: 5px;
  }
}

@media (max-width: 450px) {
  .ve-share--wrap {
    margin: 0 0 0 0;
  }

  .ve-share--wrap i.la.la-facebook-square:hover,
  .ve-share--wrap i.la.la-facebook-square:active {
    color: #2a2b2c;
  }
}

@media(max-width: 375px) {}

@media (max-width: 370px) {
  span.ve-review-helpful-text {
    font-size: 12px;
  }

  .ve-helpful-vote-up-num {
    font-size: 13.5px;
  }

  .ve-share--wrap {
    font-size: 14px;
    margin: 0 0 0 2.5px;
  }

  .ve-share--wrap i.la.la-facebook-square,
  .ve-review-vote-updown i.la.la-thumbs-up.vote-up {
    font-size: 17.5px;
    top: 1px;
  }

  .ve-vertical-review-link {
    display: inline-block;
    padding-right: 3px;
  }
}

.ve-review-title--wrap {
  margin: 10px 0 5px 5px;
  padding: 0 2.5px;
}

.ve-review-title {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #2a2b2c;
}

.ve-review-helpful-text {
  font-size: 14px;
  color: #777;
  font-family: $mainFontFamily;
  font-style: normal;
}

.ve-review-profile-full-circle {
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(230deg, #e9b3bc, #ffc5a2);
  color: #fff;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 55px;
  height: 55px;
}

.c-white {
  color: #fff;
}


.ve-review-profile--blue-circle {
  background-image: linear-gradient(223deg, #60c0cc, #40a2af);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  float: right;
  font-size: 12px;
  position: relative;
  left: 2.5px;
  top: 4px;
}

i.ve-prof-check {
  position: relative;
  top: -4px;
}

.ve-reviews-questions-none {
  font-size: 22px;
  margin: 30px auto;
  text-align: center;
  display: none;
}

.ve-review-message {
  text-align: center;
}

.ve-load-tailspin {
  background-image: url(https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/svg/loaders/loader-tail-spin.svg);
  color: #40a2af;
}

.ve-loading {
  margin: 20px auto;
  padding: 10px;
  display: block;
}

.ve-review-post-btn--wrap {
  display: inline-block;
  width: 47.5%;
  padding: 5px;
}

.ve-load-more-reviews--wrap {
  margin: 20px auto;
  width: 30%;
  max-width: 300px;
  min-width: 230px;
}

.ve-write-review--wrap,
.ve-ask-question-wrap {
  padding: 20px 0 0 0;
}

.ve-write-review-heading i {
  font-size: 1.5em;
  color: #40a2af;
  cursor: pointer;
  margin-left: auto;
}

.ve-score-star {
  cursor: pointer;
  display: inline-block;
  color: #ffc05b;
  font-size: 23.5px;
}


.ve-input--wrap {
  display: block;
}

.ve-review-post-btn[data-disabled='true'] {
  opacity: 0.6;
  cursor: default;
}

.ve-review-post-btn[data-disabled='true']:hover,
.ve-review-post-btn[data-disabled='true']:active,
.ve-review-post-btn[data-disabled='true']:focus {
  background-image: linear-gradient(to left, #238795, #40a2af);
  opacity: 0.6;
  transform: none;
  box-shadow: none;
  transition: none;
  cursor: not-allowed;
}

.ve-input--wrap.ve-ptr-email {
  margin-right: 15px;
}

.ve-write-review-bottom--wrap .ve-input--wrap.inline {
  display: inline-block;
}

.ve-write-review-bottom--wrap .ve-input--wrap.inline.ve-hide {
  display: none;
}

.ve-write-review-bottom--wrap .ve-input--wrap.inline[data-hidden='true'] {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: opacity 0.45s linear, width 0.45s linear, height 0.45s linear;
}

.ve-write-review-bottom--wrap .ve-input--wrap.inline[data-hidden='false'] {
  opacity: 1;
  width: 25%;
  height: auto;
  transition: opacity 0.45s linear, width 0.45s linear, height 0.45s linear;
}

.ve-input--wrap.ve-recaptcha {
  margin-top: 20px;
}

@media only screen and (max-width: 798px) {
  .ve-review--wrap.ve-col-2.ve-col-mobtab-1 {
    padding: 23.5px 10px 20px 10px;
    margin: 0;
    border-bottom: 1px solid #ececec;
  }

  .ve-ptr-reviews-section.ve-flex-row .ve-review--wrap.ve-col-2.ve-col-mobtab-1:last-child {
    border-bottom: none;
  }

  .ve-review-helpful--wrap {
    margin: 10px 0 0 0;
  }
}

/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */

@-moz-document url-prefix() {
  .full-stars {
    color: #ffc05b;
  }
}

.ve-review-vote-loader {
  display: none;
}

.ve-share--wrap a {
  text-decoration: none;
  color: #777;
}

.ve-review-post-btn[data-disabled=true] {
  opacity: .6;
  cursor: default;
}

button.ve-review-post-btn {
  vertical-align: middle;
  width: 100%;
  min-width: 205px;
}

.ve-aqua-btn, input[type=submit].ve-aqua-btn, input[type=submit].ve-aqua-btn.action_button, input[type=button].ve-aqua-btn, input[type=button].ve-aqua-btn.action_button {
    padding: 10px 25px;
}

.ve-add-cart-btn, .ve-aqua-btn, input[type=button].ve-aqua-btn, input[type=submit].ve-aqua-btn, input[type=button].ve-aqua-btn.action_button, input[type=submit].ve-aqua-btn.action_button {
    height: 50px;
    background-image: linear-gradient(to right,#4f27e6 6%,#5830f3 95%);
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    font-family: Quasimoda,Helvetica Neue,Helevtica,sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 1;
    transition: transform .45s linear,box-shadow .45s linear,background-image .95s linear,opacity .95s linear;
    -webkit-transition: transform .45s linear,box-shadow .45s linear,background-image .95s linear,opacity .95s linear;
    -moz-transition: transform .45s linear,box-shadow .45s linear,background-image .95s linear,opacity .95s linear;
    -ms-transition: transform .45s linear,box-shadow .45s linear,background-image .95s linear,opacity .95s linear;
    -o-transition: transform .45s linear,box-shadow .45s linear,background-image .95s linear,opacity .95s linear;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.js_write-review-toggle {
  cursor: pointer;
}
</style>
<div class="ve-container" id="ve-main-reviews-top" data-reviews-active="true">
  <div
    class="ve-product-top-reviews"
    data-product-id="{{ product.id }}"
    data-url="{{ shop.url }}{{ product.url }}"
    id="main-product-reviews-{{ product.id }}"
  >
    <div class="ve-ptr-header--wrap">
      <div class="ve-ptr-flex-row">
        <div class="ve-text-center ve-ptr-flex">
          <div class="width-100">
            <div class="ve-ptr-total-text review js_ptr-total-review-text">
              <div class="heading-2 heading-half-bg ve-ul-purple-bg js_text">&nbsp;customer reviews</div>
            </div>
            <div class="ve-ptr-total-text question js_ptr-total-questions-text">
              <div class="heading-2 heading-half-bg ve-ul-purple-bg js_text">&nbsp;customer questions</div>
            </div>
            <img
              src="https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/jpg/review-social-8-img.jpg"
              class="ve-ptr-social-img"
            />
            <div class="ve-ptr-avg-rating">
              <div class="ve-ratings">
                <div class="ve-empty-stars"></div>
                <div class="ve-full-stars"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ve-ptr-flex-row" style="margin-top: 15px;">
        <div class="ve-ptr-flex">
          {% comment %}
          <label class="switch js_reviews-questions-toggle-label" style="margin-right: auto;">
            <input class="js_reviews-questions-toggle" type="checkbox" checked />
            <span class="ve-toggle-slider round">
              <i class="las la-question-circle"></i>
              <i class="lar la-star"></i>
            </span>
          </label>
          {% endcomment %}
        </div>
        <div class="ve-ptr-flex">
          <button class="ve-ptr-write-review-btn js_write-review-toggle" data-product-id="{{ product.id }}">
            <i class="la la-edit"></i> review
          </button>
          <button class="ve-ptr-ask-a-question-btn js_ask-question-toggle" data-product-id="{{ product.id }}">
            <i class="la la-edit"></i> question
          </button>
        </div>
      </div>
      <div class="ve-review-message"></div>
      <div class="ve-pts-header-hr"></div>
    </div>
    <div class="ve-write-review--wrap js_write-review-wrap" data-show="false">
      <div class="ve-flex-row ve-write-review-heading">
        <h4 class="wt-300">Write A Review</h4>
        <i class="js_write-review-toggle la la-times" role="button"></i>
      </div>
      <div class="ve-score--wrap" data-chosen-score="null">
        <div class="ve-score-star" data-score="1">
          <i class="la la-star-o" data-hover="true"></i>
        </div>
        <div class="ve-score-star" data-score="2">
          <i class="la la-star-o" data-hover="true"></i>
        </div>
        <div class="ve-score-star" data-score="3">
          <i class="la la-star-o" data-hover="true"></i>
        </div>
        <div class="ve-score-star" data-score="4">
          <i class="la la-star-o" data-hover="true"></i>
        </div>
        <div class="ve-score-star" data-score="5">
          <i class="la la-star-o" data-hover="true"></i>
        </div>
      </div>
      <div class="ve-input--wrap">
        <input
          type="text"
          class="ve-write-review-input ve-review-title-input"
          placeHolder="Title ex. I love {{ product.title }}..."
          isp_ignore
        />
      </div>
      <div class="ve-input--wrap">
        <textarea
          type="text"
          class="ve-write-review-input ve-review-post-input"
          placeholder="Write your experience with the {{ product.title }} here..."
          isp_ignore
        ></textarea>
      </div>
      <div class="ve-write-review-bottom--wrap">
        <div class="ve-input--wrap ve-hide inline ve-ptr-name" data-hidden="true">
          <input type="text" class="ve-write-review-input ve-review-name-input" placeholder="Full Name" isp_ignore />
        </div>
        <div class="ve-input--wrap ve-hide inline ve-ptr-email" data-hidden="true">
          <input
            type="email"
            class="ve-write-review-input ve-review-email-input"
            placeholder="janesmith@example.com"
            isp_ignore
          />
        </div>
        <div class="ve-review-post-btn--wrap margin-tb-10">
          <button
            class="ve-aqua-btn ve-review-post-btn"
            data-disabled="true"
            data-product-url="{{ product.url }}"
            data-sku="{{ product.id }}"
            data-product-title="{{ product.title }}"
            data-product-image-url="{{ product | img_url }}"
          >
            <img
              style="width: 20px; display: none;"
              src="https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/svg/loaders/loader-oval-white-20.svg"
            /><span class="js_submit-btn-text">post review</span>
          </button>
        </div>
      </div>
      <div class="ve-pts-header-hr"></div>
    </div>
    <div class="js_ask-question-wrap ve-ask-question-wrap" data-show="false">
      <div class="ve-flex-row">
        <h4 class="wt-300">Ask Question</h4>
        <i class="js_ask-question-toggle la la-times" role="button"></i>
      </div>
      <form
        class="js_ask-question-form"
        data-product-id="{{ product.id }}"
        data-product-url="{{ product.url }}"
        data-product-title="{{ product.title }}"
        data-product-image-url="{{ product | img_url }}"
      >
        <input name="email" type="email" placeholder="example@email.com" required />
        <div class="ve-ptr-flex">
          <input type="text" placeholder="First Name" name="fname" isp_ignore style="margin-right: 15px;" required />
          <input name="lname" type="text" placeholder="Last Name" isp_ignore required />
        </div>
        <textarea name="question" placeholder="Ask question..." required></textarea>
        <div class="ve-text-center width-100 margin-tb-10">
          <button class="ve-aqua-btn" type="submit">
            <img
              style="width: 20px; display: none;"
              src="https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/svg/loaders/loader-oval-white-20.svg"
            /><span class="js_submit-btn-text">submit question</span>
          </button>
        </div>
      </form>
      <div
        class="ve-text-center js_ask-question-form-success-message ve-aqua"
        style="padding: 20px 0; font-size: 1.2em; display: none;"
      >
        Your question was posted successfuly. Please check your email for confirmation.
      </div>
      <div class="ve-pts-header-hr"></div>
    </div>
    <div class="ve-loading" style="text-align: center; margin: 15% auto;">
      <img
        src="https://ve-shopify-store.s3-us-west-1.amazonaws.com/assets/images/svg/loaders/loader-oval.svg"
        style="width: 85px;"
      />
    </div>
    <div class="js_main-reviews">
      <div class="ve-ptr-reviews-section ve-flex-row js_reviews" id="reviews-section-top"></div>
      <div class="js_reviews-pagination"></div>
    </div>
    <div class="ve-reviews-questions">
      <div class="js_reviews-no-questions-text ve-text-center ve-reviews-questions-none">
        Have a question about {{ product.title }}? Be the first to ask.
      </div>
      <div class="ve-flex-row js_review-questions"></div>
      <div class="js_review-questions-pagination" role="navigation"></div>
    </div>
  </div>
</div>
