{% liquid
  assign line_title_class = ""
  if settings.hide_line_title_desk
    assign line_title_class = 'hide-desk'
  endif
%}
<div class="xc-comparison-column">
  <div class="xc-comparison-column__line line1">
    {% if settings.image %}
      {{ settings.image | image_url: width: 500 | image_tag: class: "xc-comparison-column__img" }}
      <div class="xc-comparison-column__img-title">{{ settings.title }}</div>
    {% else %}
      <div class="xc-comparison-column__title">{{ settings.title }}</div>
    {% endif %}
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line2">
    {% if settings.show_buttons %}
      <div class="xc-comparison-column__btn-wrapper">
        {% if settings.orange_btn_label != "" %}
          <a href="{{ settings.orange_btn_url }}" class="btn btn-primary">{{ settings.orange_btn_label }}</a>
        {% endif %}
        {% if settings.black_btn_label != "" %}
          <a href="{{ settings.black_btn_url }}" class="btn btn-black">{{ settings.black_btn_label }}</a>
        {% endif %}
      </div>
    {% else %}
      <div style="height: 100%; display: block;"></div>
    {% endif %}
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line3">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Who is it optimized for?</div>
    <div class="xc-comparison-column__line-content">{{ settings.optmized_for_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line4">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">What types of products do people make with this?</div>
    <div class="xc-comparison-column__line-content">{{ settings.target_customers_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line5">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Cutting Area</div>
    <div class="xc-comparison-column__line-content">{{ settings.cutting_area_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line6">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Weight</div>
    <div class="xc-comparison-column__line-content">{{ settings.weight_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line7">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Gantry</div>
    <div class="xc-comparison-column__line-content">{{ settings.gantry_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line8">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Spindle</div>
    <div class="xc-comparison-column__line-content">{{ settings.spindle_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line9">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Spindle RPM Range</div>
    <div class="xc-comparison-column__line-content">{{ settings.spindle_rpm_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line10">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Accuracy</div>
    <div class="xc-comparison-column__line-content">{{ settings.accuracy_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line11">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Assembly Time</div>
    <div class="xc-comparison-column__line-content">{{ settings.assembley_time_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line12">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Materials it can cut</div>
    <div class="xc-comparison-column__line-content">{{ settings.materials_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line13">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Support</div>
    <div class="xc-comparison-column__line-content">{{ settings.support_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line14">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Software</div>
    <div class="xc-comparison-column__line-content">{{ settings.software_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line15">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Warranty</div>
    <div class="xc-comparison-column__line-content">{{ settings.warranty_text }}</div>
    <div class="xc-comparison-column__separator"></div>
  </div>
  <div class="xc-comparison-column__line line15">
    <div class="xc-comparison-column__line-header {{ line_title_class }}">Price</div>
    <div class="xc-comparison-column__line-content"><p>{{ settings.price_text }}</p></div>
    <div class="xc-comparison-column__separator"></div>
  </div>
</div>
