<div class="xc-three-column-text">
  {% if settings.heading %}
    <p class="xc-three-column-text__heading"><b>{{settings.heading}}</b></p>
  {% endif %}
  <ul class="xc-three-column-text__columns" style="max-width: {{settings.max_width }}%;">
    <li>
      {{settings.text1}}
    </li>
    <li>
      {{settings.text2}}
    </li>
    <li>
      {{settings.text3}}
    </li>
  </ul>
</div>
