{% assign  line_title_class = "" %}
{% unless settings.show_line_title_desk %}
  {% assign  line_title_class = "hide-desk" %}
{% endunless %}

{% assign block_class= "" %}
{% if settings.hide_block_mobile %}
  {% assign block_class= "hide-mobile" %}
{% endif %}
<div id="block-{{ id }}" class="xcp-financing-option {{ block_class }}">
  <div class="xcp-financing-option__header-wrapper">
    {% if settings.header_logo_img %}
        {{ settings.header_logo_img | image_url: width: 500 | image_tag: class: 'xcp-financing-option__img' }}
    {% else %}
      <div class="xcp-financing-option__header">
        {{ settings.header_text }}
      </div>
    {% endif %}
  </div>
  <ul class="xcp-financing-option__lines-wrapper">
    <li class="xcp-financing-option__line line1">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line1_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line1_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line2">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line2_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line2_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line3">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line3_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line3_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line4">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line4_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line4_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line5">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line5_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line5_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line6">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line6_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line6_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line7">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line7_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line7_body }}
      </div>
      <div class="xcp-financing-option__line-separator"></div>
    </li>
    <li class="xcp-financing-option__line line8">
      <div class="xcp-financing-option__line-title {{ line_title_class }}">
        {{ settings.line8_title }}
      </div>
      <div class="xcp-financing-option__line-body">
        {{ settings.line8_body }}
      </div>
    </li>
  </ul>
  {% if settings.bottom_btn_label != "" %}
    <div class="xcp-financing-option__btn-wrapper">
      <a class="xcp-financing-option__btn btn btn-primary" href={{ settings.bottom_btn_url }}>
        {{ settings.bottom_btn_label }}
      </a>
    </div>
  {% endif %}
</div>
