{% style %}
.xcp-size-select {
  display: flex;
  align-items: center;
  width: 200px;
}
.xcp-size-select .xcp__size-word {
  margin-right: 10px;
  padding-top: 2px
}
.xcp-size-select .xcp-size-select__btn .selected {
  color: var(--gradient-base-background-1);
  font-weight: normal;
  text-transform: none;
  padding: 4px 20px;
  margin: 0 8px;
  height: 36px;
  display: inline-flex;
  align-items: center;
}
.xcp-size-select .xcp-size-select__btn:hover {
  text-decoration: none;
  color: var(--gradient-base-background-1);
}
.xcp-size-select .xcp-size-select__btn {
  color: #eee;
  background-color: var(--gradient-base-background-1);
  border: 2px solid #eee;
  font-weight: normal;
  text-transform: none;
  padding: 4px 20px;
  margin: 0 8px;
}

.xcp-size-select .xcp-size-select__btn:hover,
.xcp-size-select .xcp-size-select__btn.selected {
  background-color: #ffb256;
  border: 2px solid #ffb256;
  color: black;
  cursor: default;
}

button.xcp-size-select__btn, a.xcp-size-select__btn {
  height: 41px;
}
{% endstyle %}
{%- capture btn_4x4_tag -%}
  {%- if settings.selected_4x4 -%}
    button
  {%- else -%}
    a 
  {%- endif -%}
{%- endcapture -%}

{%- capture btn_4x4_class -%}
  {%- if settings.selected_4x4 -%}
    selected disabled
  {%- endif -%}
{%- endcapture -%}
{%- capture btn_4x2_class -%}
  {%- if settings.selected_4x2 -%}
    selected
  {%- endif -%}
{%- endcapture -%}

<div class="xcp-size-select">
  <span class="xcp__size-word">{{settings.header}}</span>
  <{{btn_4x4_tag}} class="btn btn-primary xcp-size-select__btn {{btn_4x4_class}}" href="{{settings.link_4x4_page}}">{{settings.label_4x4}}</{{btn_4x4_tag}}>
  <a class="btn btn-primary xcp-size-select__btn {{btn_4x2_class}}" href="{{settings.link_4x2_page}}">{{settings.label_4x2}}</a>
</div>
