{% capture continue_selling_message %}
  {% assign contains_continue_selling = false %}
  {% for line in checkout.line_items %}
    {%- if line.product.selected_or_first_available_variant.inventory_policy == "continue" and line.product.selected_or_first_available_variant.inventory_quantity <= 0 -%}
      {% assign contains_continue_selling = true %}
    {%- endif -%}
  {% endfor %}

  {% if contains_continue_selling %}
    <div role="alert" data-shipping-warning="" data-banner="true" class="notice notice--error default-background" tabindex="-1" aria-atomic="true" aria-live="polite">
      <div class="notice__content">
        <p class="notice__text">
          <b>Note: </b>Loop Engage is literally flying off the shelves and we're struggling to keep up! We'll have your order shipped within the next week.
        </p>
      </div>
    </div>
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>

    <!-- FigPii Tracking Code -->
    <script id="piiTester" type="text/javascript" async="async" crossorigin="anonymous" src="//tracking-cdn.figpii.com/64b5b79df350d8a13ee3ce4c5d099570.js"></script>
    <!-- End FigPii Tracking Code -->

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script src="{{ 'custom-checkout.js' | asset_url }}" defer="defer"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2VWM8F');</script>
    <!-- End Google Tag Manager -->

    <!-- FigPii Tracking Code -->
      <script id="piiTester" type="text/javascript" async="async" crossorigin="anonymous" src="//tracking-cdn.figpii.com/b5a934bc7f988289ca4f3743affd207b.js"></script>
    <!-- End FigPii Tracking Code -->

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VWM8F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ continue_selling_message }}
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    
    

    

    

    

    







    
    
  </body>
</html>

<script>
  var total = {{ checkout.total_price }};
  if (total >= 3400){
  	$('.total-line__price .order-summary__small-text').text('Free');
  }
</script>
