<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    {%- assign production_shop_id = 60429828153 -%}
    {%- assign staging_shop_id    = 67711828243 -%}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

  
  {% render 'shogun-head' %}
</head>
  <body>

    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            <a class="logo" href="https://inventables.com/">{{ 'rebranded-inv-logo.png' | asset_url | img_tag: 'Logo' }}</a>
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            <a class="logo" href="https://inventables.com/">{{ 'rebranded-inv-logo.png' | asset_url | img_tag: 'Logo' }}</a>
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <script>
      (function($) {
        if (typeof window.dataLayer === "undefined") {
          return;
        }

        $(document).on("page:load page:change", function() {
          {% comment %}
            TODO:
            - [ ] Test Gift Card items - they appear to have no sku
            - [ ] Sometimes the "contact_information" is skipped,
                  in which case the begin_checkout event won't be recorded
            - [ ] X-Carves (and possibly other products) are represented differently:
                  X-Carves are now a single item with sku 30686-07(M|D), whereas before
                  Shopify we listed all the items that make up an X-Carve
            - [ ] Check what happens in skus_comma_separated when a line_item has no SKU
          {% endcomment %}

        });
      })(Checkout.$);
    </script>
  </body>
</html>
