{% capture continue_selling_message %}
  {% assign contains_continue_selling = false %}
  {% for line in checkout.line_items %}
    {%- if line.product.selected_or_first_available_variant.inventory_policy == "continue" and line.product.selected_or_first_available_variant.inventory_quantity <= 0 -%}
      {% assign contains_continue_selling = true %}
    {%- endif -%}
  {% endfor %}

  {% if contains_continue_selling %}
    <div role="alert" data-shipping-warning="" data-banner="true" class="notice notice--error default-background" tabindex="-1" aria-atomic="true" aria-live="polite">
      <div class="notice__content">
        <p class="notice__text">
          <b>Note: </b>Loop Engage is literally flying off the shelves and we're struggling to keep up! We'll have your order shipped within 7 working days.
        </p>
      </div>
    </div>
  {% endif %}
{% endcapture %}

<!doctype html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    {% include 'pandectes-rules' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0"
    >
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
    <script src="{{ 'custom-checkout.js' | asset_url }}" defer="defer"></script>
    <!-- begin Convert Experiences code-->
    <script type="text/javascript" src="//cdn-4.convertexperiments.com/js/1004739-1004910.js"></script>
    <!-- end Convert Experiences code -->
    {% render "intelligems-checkout" %}
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-M2VWM8F');
    </script>
    <!-- End Google Tag Manager -->

    <!-- FigPii Tracking Code -->
    <script
      id="piiTester"
      type="text/javascript"
      async="async"
      crossorigin="anonymous"
      src="//tracking-cdn.figpii.com/b5a934bc7f988289ca4f3743affd207b.js"
    ></script>
    <!-- End FigPii Tracking Code -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M2VWM8F"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ continue_selling_message }}
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

  {{ tracking_code }}
  </body>
</html>

<script>

  function checkoutInformation() {
    const orderSummaryToggle = document.querySelector(".order-summary-toggle");
    const orderSummary = document.querySelector("#order-summary");

    const checkoutInformationTemplate = `
      <style>
        .checkout-info--container {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
        }
        .checkout-info--item {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
        .checkout-info--item:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        .checkout-info--item svg {
          margin-right: 0.5rem;
        }
      </style>
      <div class="checkout-info--container">
        <div class="checkout-info--item">
          <svg fill="#de3d5e" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="15px" height="15px"><path d="M 28.96875 1.21875 C 28.78125 1.253906 28.609375 1.339844 28.46875 1.46875 L 24.25 5.09375 L 22.8125 3.5 C 22.617188 3.273438 22.328125 3.148438 22.03125 3.15625 C 21.78125 3.175781 21.546875 3.285156 21.375 3.46875 L 18.875 6 L 15.46875 6 C 15.4375 6 15.40625 6 15.375 6 C 15.34375 6 15.3125 6 15.28125 6 C 15.121094 6.035156 14.96875 6.109375 14.84375 6.21875 L 4.6875 14.03125 L 4.625 14.0625 C 4.613281 14.074219 4.605469 14.082031 4.59375 14.09375 C 4.582031 14.09375 4.574219 14.09375 4.5625 14.09375 C 4.519531 14.113281 4.476563 14.132813 4.4375 14.15625 C 4.425781 14.167969 4.417969 14.175781 4.40625 14.1875 C 4.382813 14.207031 4.363281 14.226563 4.34375 14.25 C 4.308594 14.277344 4.277344 14.308594 4.25 14.34375 C 4.214844 14.382813 4.183594 14.425781 4.15625 14.46875 C 4.144531 14.488281 4.132813 14.511719 4.125 14.53125 C 4.113281 14.542969 4.105469 14.550781 4.09375 14.5625 C 4.070313 14.613281 4.046875 14.664063 4.03125 14.71875 L 0.09375 22.5625 C -0.101563 22.949219 -0.0273438 23.414063 0.277344 23.722656 C 0.585938 24.027344 1.050781 24.101563 1.4375 23.90625 L 4 22.625 L 4 43 C 4 43.550781 4.449219 44 5 44 L 35 44 C 35.011719 44 35.019531 44 35.03125 44 C 35.09375 43.996094 35.15625 43.984375 35.21875 43.96875 C 35.25 43.960938 35.28125 43.949219 35.3125 43.9375 C 35.5625 43.863281 35.777344 43.695313 35.90625 43.46875 L 43.78125 33.625 C 43.921875 33.449219 44 33.226563 44 33 L 44 23.4375 L 49.71875 17.71875 C 50.035156 17.386719 50.085938 16.886719 49.84375 16.5 L 44.03125 6.8125 C 44.023438 6.78125 44.011719 6.75 44 6.71875 C 43.957031 6.578125 43.878906 6.453125 43.78125 6.34375 C 43.773438 6.324219 43.761719 6.300781 43.75 6.28125 C 43.738281 6.28125 43.730469 6.28125 43.71875 6.28125 C 43.710938 6.261719 43.699219 6.238281 43.6875 6.21875 C 43.675781 6.21875 43.667969 6.21875 43.65625 6.21875 C 43.636719 6.207031 43.613281 6.195313 43.59375 6.1875 C 43.59375 6.175781 43.59375 6.167969 43.59375 6.15625 C 43.582031 6.15625 43.574219 6.15625 43.5625 6.15625 C 43.511719 6.121094 43.460938 6.089844 43.40625 6.0625 C 43.394531 6.0625 43.386719 6.0625 43.375 6.0625 C 43.355469 6.050781 43.332031 6.039063 43.3125 6.03125 C 43.300781 6.03125 43.292969 6.03125 43.28125 6.03125 C 43.261719 6.019531 43.238281 6.007813 43.21875 6 C 43.207031 6 43.199219 6 43.1875 6 C 43.167969 6 43.144531 6 43.125 6 C 43.113281 6 43.105469 6 43.09375 6 C 43.074219 6 43.050781 6 43.03125 6 C 43.019531 6 43.011719 6 43 6 L 42.9375 6 C 42.917969 6 42.894531 6 42.875 6 L 34.03125 6 L 29.84375 1.5625 C 29.667969 1.359375 29.421875 1.238281 29.15625 1.21875 C 29.09375 1.210938 29.03125 1.210938 28.96875 1.21875 Z M 29.0625 3.59375 L 36.78125 11.78125 L 34.5625 14 L 32.15625 14 C 32.128906 13.964844 32.097656 13.933594 32.0625 13.90625 L 25.5625 6.59375 Z M 22.03125 5.625 L 29.5 14 L 13.84375 14 Z M 15.78125 8 L 16.9375 8 L 11.03125 14 L 7.9375 14 Z M 35.90625 8 L 40.5625 8 L 38.15625 10.40625 Z M 42.8125 8.625 L 47.75 16.8125 L 41.1875 23.375 L 36.25 15.1875 Z M 6 16 L 34 16 L 34 42 L 6 42 L 6 21.125 C 6.003906 21.082031 6.003906 21.042969 6 21 Z M 36 18.5625 L 40.15625 25.5 C 40.308594 25.765625 40.578125 25.949219 40.882813 25.992188 C 41.1875 26.035156 41.496094 25.933594 41.71875 25.71875 L 42 25.4375 L 42 32.65625 L 36 40.15625 Z M 4 19.25 L 4 20.375 L 3.25 20.75 Z M 14.71875 20 C 14.167969 20.078125 13.78125 20.589844 13.859375 21.140625 C 13.9375 21.691406 14.449219 22.078125 15 22 L 25 22 C 25.359375 22.003906 25.695313 21.816406 25.878906 21.503906 C 26.058594 21.191406 26.058594 20.808594 25.878906 20.496094 C 25.695313 20.183594 25.359375 19.996094 25 20 L 15 20 C 14.96875 20 14.9375 20 14.90625 20 C 14.875 20 14.84375 20 14.8125 20 C 14.78125 20 14.75 20 14.71875 20 Z"/></svg>
          <span>100-Day Hassle-Free Returns</span>
        </div>
        <div class="checkout-info--item">
          <svg fill="#de3d5e" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="15px" height="15px"><path d="M32.862,33.911c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.2-0.5-0.7-0.4-1.1l1.7-6.5l-5.1-4.2c-0.4-0.2-0.5-0.7-0.4-1.1s0.5-0.7,0.9-0.7l6.7-0.4l2.4-6.3c0.2-0.2,0.6-0.5,1-0.5c0.4,0,0.8,0.3,0.9,0.6l2.4,6.3l6.7,0.4c0.4,0,0.8,0.3,0.9,0.7c0.1,0.4,0,0.8-0.3,1.1l-5.2,4.2l1.7,6.5c0.1,0.4,0,0.8-0.4,1.1c-0.3,0.2-0.8,0.3-1.1,0l-5.6-3.7l-5.6,3.6C33.263,33.811,33.063,33.911,32.862,33.911z M39.063,27.911c0.2,0,0.4,0.1,0.5,0.2l4,2.6l-1.2-4.6c-0.1-0.4,0-0.8,0.3-1l3.7-3l-4.8-0.3c-0.4,0-0.7-0.3-0.9-0.6l-1.6-4.5l-1.7,4.4c-0.2,0.4-0.5,0.6-0.9,0.7l-4.8,0.2l3.7,3c0.3,0.2,0.4,0.7,0.3,1l-1.2,4.6l4-2.6C38.663,28.011,38.862,27.911,39.063,27.911z"/><path d="M36,34.448v10.811l-10.496-6.123C25.349,39.045,25.174,39,25,39s-0.349,0.045-0.504,0.136L14,45.259V4h22v9.206l0.346-0.907l0.303-0.302c0.22-0.22,0.699-0.632,1.352-0.88V3c0-0.552-0.447-1-1-1H13c-0.553,0-1,0.448-1,1v44c0,0.358,0.191,0.689,0.502,0.867c0.311,0.178,0.693,0.177,1.002-0.003L25,41.158l11.496,6.706C36.651,47.955,36.826,48,37,48c0.172,0,0.344-0.044,0.498-0.133C37.809,47.689,38,47.358,38,47V33.168L36,34.448z"/></svg>
          <span>2-Year Warranty</span>
        </div>
        <div class="checkout-info--item">
          <svg fill="#de3d5e" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="15px" height="15px"><path fill="none" stroke="#de3d5e" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M25 1L31.466 17.101 48.776 18.275 35.462 29.399 39.695 46.225 25 37 10.305 46.225 14.538 29.399 1.224 18.275 18.534 17.101z"/></svg>
          <span>Over 1 Million Happy Customers</span>
        </div>
      </div>
    `;

    if(orderSummaryToggle) orderSummaryToggle.click();
    if(orderSummary && window.innerWidth < 1000) orderSummary.innerHTML += checkoutInformationTemplate;
  }

  checkoutInformation();
  var total = {{ checkout.total_price }};
  if (total >= 3400){
  	$('.total-line__price .order-summary__small-text').text('Free');
  }


  var checkout = {
    currency: {{ checkout.currency | json }},
    line_items,
    order_name: {{ checkout.order_name | json }},
    total_price: {{ checkout.total_price}},
    tax_price: {{ checkout.tax_price}},
    shipping_price: {{ checkout.shipping_price}}
  }

console.log("adding datalayer checkout")
  function trackStep() {
    var step = null
    switch(Shopify.Checkout.step) {
      case "contact_information":
        step = 1
        break;
      case "shipping_method":
        step = 2
        break;
      case "payment_method":
        step = 3
        break;
      case "processing":
        step = 4
        break;
    }
    var isPurchase = Shopify.Checkout.page === "thank_you"
    window.dataLayer = window.dataLayer || []
    window.dataLayer.push({ecommerce: null})
    if(!isPurchase) {
      window.dataLayer.push({
        'event': 'checkout',
        'ecommerce': {
          'currencyCode': checkout.currency,
          'checkout': {
            'actionField': { 'step': step },
            'products': checkout.line_items.map(li => {
              var product = li.product
              return {
                'name': li.title,
                'id': li.sku,
                'price': li.price / 100,
                'brand': product.vendor,
                'category': product.type,
                'variant': li.variant_title,
                'quantity': li.quantity
              }
            })
          }
        }
      })
    } else {
      window.dataLayer.push({
        'event': 'purchase_new',
        'ecommerce': {
          'currencyCode': checkout.currency,
          'purchase': {
            'actionField': {
              'id': checkout.order_name,
              'affiliation': 'Online Store',
              'revenue': +checkout.total_price /100,
              'tax': +checkout.tax_price /100,
              'shipping': +checkout.shipping_price /100,
            },
            'products': checkout.line_items.map(li => {
              var product = li.product
              return {
                'name': li.title,
                'id': li.sku,
                'price': li.price / 100,
                'brand': product.vendor,
                'category': product.type,
                'variant': li.variant_title,
                'quantity': li.quantity
              }
            })
          }
        }
      })
    }
  }

  (function($, trackStep) {
    $(document).on("page:load", trackStep)
  })(Checkout.$, trackStep);

