<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5H85H3N');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5H85H3N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        <a class="logo" href="https://inventables.com/">{{ 'rebranded-inv-logo.png' | asset_url | img_tag: 'Logo' }}</a>
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            <a class="logo" href="https://inventables.com/">{{ 'rebranded-inv-logo.png' | asset_url | img_tag: 'Logo' }}</a>
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            <a class="logo" href="https://inventables.com/">{{ 'rebranded-inv-logo.png' | asset_url | img_tag: 'Logo' }}</a>
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <script>
      (function($) {
        if (typeof window.dataLayer === "undefined") {
          return;
        }

        {% comment %} On Page Loads Only {% endcomment %}
        $(document).on("page:load", function() {
          {% comment %} Ecommerce Begin Checkout {% endcomment %}
          if (Shopify.Checkout.step === "contact_information") {
            dataLayer.push({
              event: "begin_checkout",
              ecommerce: {
                currency: "USD",
                value: {{ cart.original_total_price }},
                items: [
                  {{ for item in cart.items }}
                    {
                      item_id: "{{ item.sku }}",
                      item_name: "{{ item.title }}",
                      price: {{ item.unit_price | money_without_currency }},
                      quantity: {{ item.quantity }}
                    },
                  {{ endfor }}
                ]
              }
            })
          }
        })(Checkout.$);

        {% comment %} On Page Loads and Changes {% endcomment %}
        $(document).on("page:load page:change", function() {
          {% comment %} Ecommerce Purchase {% endcomment %}
          {% if first_time_accessed %}
            if (Shopify.Checkout.page === "thank_you") {
              dataLayer.push({
                event: "purchase",
                ecommerce: {
                  transaction_id: "{{ checkout.order_id }}",
                  value: {{ checkout.total_price | money_without_currency }},
                  tax: {{ checkout.tax_price | money_without_currency }},
                  shipping: {{ checkout.shipping_price | money_without_currency }},
                  currency: "USD",
                  items: [
                    {{ for item in checkout.line_items }}
                      {
                        item_id: "{{ item.sku }}",
                        item_name: "{{ item.title }}",
                        price: {{ item.unit_price | money_without_currency }},
                        quantity: {{ item.quantity }}
                      },
                    {{ endfor }}
                  ]
                }
              })
            }
          {% endif %}
        });
      })(Checkout.$);
    </script>
  </body>
</html>
