<div class="container123" id="container123">
    {%- if section.settings.decorate == true -%}
        <div class="decoration-left" id="ornament-left">
            <img
            src="{{ 'leaf-left.png' | asset_img_url: '600x' }}"
            alt="{{ "Decorative Leaf" }}"
            loading="lazy"
            width="570"
            height="600"
            >
        </div>
    {%- endif -%}
    <div class="content123">
        <header class="header123">
            <h2 class="title123">
                {{ section.settings.headline }}
            </h2>
            <div class="intro123">
                {{ section.settings.introtext }}
            </div>
        </header>
        <section class="main123">
            {% for block in section.blocks %}
                <article class="part123">
                    <figure class="figure123">
                        0{{ forloop.index }}
                    </figure>
                    <div class="text123">
                        <h2 class="steptitle123">{{ block.settings.heading }}</h2>
                        <p class="steptext-d123">{{ block.settings.explanation }}</p>
                    </div>
                    <p class="steptext-m123">{{ block.settings.explanation }}</p>
                </article>
            {% endfor %}
        </section>
    </div>
    {%- if section.settings.decorate == true -%}
        <div class="decoration-right" id="ornament-right">
            <img
            src="{{ 'leaf-right.png' | asset_img_url: '600x' }}"
            alt="{{ "Decorative Leaf" }}"
            loading="lazy"
            width="570"
            height="400"
            >
        </div>
    {%- endif -%}
</div>

<script>
function listener(){
    const wrapper = document.getElementById("container123");
    const windowWidth = window.innerWidth;
    const leftOrnament = document.getElementById("ornament-left");
    const rightOrnament = document.getElementById("ornament-right");
    const scrollOfWrapperRef = window.pageYOffset - wrapper.offsetTop + wrapper.clientHeight / 2;
    const hasScrolledToWrapperRef = window.pageYOffset - wrapper.offsetTop + wrapper.clientHeight > 0;
    const hasScrolledWrapperRefAway = window.pageYOffset - wrapper.offsetTop - wrapper.clientHeight > 0;
    if(!hasScrolledToWrapperRef || hasScrolledWrapperRefAway) {
        return;
    } else {
        if(windowWidth >= 990) {
            leftOrnament.style.transform = `translate3d(0,${100 + scrollOfWrapperRef / 4}px,0)`;
            rightOrnament.style.transform = `translate3d(0,${300 - scrollOfWrapperRef / 2.5}px,0)`;
        } else {
            leftOrnament.style.transform = `scaleX(-1) translate3d(0,${-100 + scrollOfWrapperRef / 6}px,0)`;
            rightOrnament.style.transform = `translate3d(0,${300 - scrollOfWrapperRef / 2.5}px,0)`;
        }
    }
}
listener();
window.addEventListener("scroll", listener);
</script>


{% schema %}
{
    "name": "123", 
    "tag": "section",
    "settings": [
        {
            "type": "text", 
            "id": "headline", 
            "label": "Überschrift"
           
        }, 
        {
            "type": "richtext", 
            "id": "introtext", 
            "label": "Einleitung"
            
        }, 
        {
            "type": "checkbox", 
            "id": "decorate", 
            "label": "Dekoration anzeigen",
            "default": true 
        }
    ], 
    "blocks": [
        {
            "type": "advantage", 
            "name": "Vorteil", 
            "limit": 3, 
            "settings": [
                {
                    "type": "text",
                    "id": "heading", 
                    "label": "Überschrift"
                    
                }, 
                {
                    "type": "textarea", 
                    "id": "explanation", 
                    "label": "Erklärung"
                    
                }
            ]   
        }
    ], 
    "presets": [
    {
        "name": "123-Standard",
        "category": "123",
        "settings": {
            "headline": "Einfach gut schlafen!",
            "introtext": "<p>Mit unseren hochwertigen Schlafprodukten entschlummern Sie trotz aller Strapazen des Alltags sanft, aber wirkungsvoll in eine gute Nacht</p>",
            "decorate": true
        },
        "blocks": [
            {
                "type": "advantage",
                "settings": {
                    "heading": "Wirksamkeit", 
                    "explanation": "Wir vertreiben keine Produkte mit leeren Versprechungen. Alle Produkte sind in ihrer Form und Wirkung bestätigt."
                }
            }, 
            {
                "type": "advantage",
                "settings": {
                    "heading": "Hochwertigkeit", 
                    "explanation": "Unsere innovativen, modernen und hochwertigen Schlafprodukte bestehen aus den bestmöglichen Inhaltstoffen und sind allesamt zertifiziert."
                }
            }, 
            {
                "type": "advantage",
                "settings": {
                    "heading": "Natürlichkeit", 
                    "explanation": "Schlafen? Ja! Um jeden Preis? Nein! Unsere Produkte sind frei von Nebenwirkungen oder Abhängigkeiten."
                }
            
            }
        ]
    }   
    ]
}
{% endschema %}