{{ 'component-123.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div class="decoration-left">
        <img
        src="{{ 'leaf-left.png' | asset_img_url: 'x400' }}"
        alt="{{ "Decorative Leaf" }}"
        width="400"
        loading="lazy"
        >
    </div>

    <div class="content">
        <h2 class="h1 center">{{ section.settings.headline }}</h2>
        <div class="intro center"> {{ section.settings.introtext }}</div>
        <div class="explanations">
            
        </div>
    </div>

    <div class="decoration-right">
        <img
        src="{{ 'leaf-right.png' | asset_img_url: 'x400' }}"
        alt="{{ "Decorative Leaf" }}"
        width="400"
        loading="lazy"
        >
    </div>
</div>


{% schema %}
{
    "name": "123", 
    "tag": "section",
    "settings": [
        {
            "type": "text", 
            "id": "headline", 
            "label": "Überschrift", 
            "default": "Einfach gut schlafen!"
        }, 
        {
            "type": "richtext", 
            "id": "introtext", 
            "label": "Einleitung", 
            "default": "<p>Mit unseren hochwertigen Schlafprodukten entschlummern Sie trotz aller Strapazen des Alltags sanft, aber wirkungsvoll in eine gute Nacht</p>"
        }, 
        {
            "type": "checkbox", 
            "id": "decorate", 
            "label": "Dekoration anzeigen",
            "default": true 
        }
    ], 
    "blocks": [
        {
            "type": "advantage", 
            "name": "Vorteil", 
            "limit": 3, 
            "settings": [
                {
                    "type": "text",
                    "id": "heading", 
                    "label": "Überschrift", 
                    "default": "Wirksamkeit"
                }, 
                {
                    "type": "textarea", 
                    "id": "explanation", 
                    "label": "Erklärung", 
                    "default": "Unsere innovativen, modernen und hochwertigen Schlafprodukte bestehen aus den bestmöglichen Inhaltstoffen und sind allesamt zertifiziert."
                }
            ]   
        }
    ], 
    "presets": [
        {
            "name": "123", 
            "blocks": [
                {
                    "type": "advantage"
                },
                {
                    "type": "advantage"
                },
                {
                    "type": "advantage"
                }
            ]
        }
    ]
}
{% endschema %}