{{ 'component-accordion-7923216.css' | asset_url | stylesheet_tag }}
{{ 'section-accordion-image-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--accimg" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                <div class="custom-section__header--top-line"></div>
                <h2 class="custom-section__header--title">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <div class="custom-section__content grid grid--1-col {% if section.settings.show_image %}grid--2-col-desktop{% endif %} {% if section.settings.image_left %}row-reverse{% endif %}">

                <div class="grid__item">

                    <div class="custom-section--accimg__accordion">

                        {% for block in section.blocks %}
                            {% render 'accordion-7923216',
                                accordion_content: block.settings.accordion_content,
                                accordion_title: block.settings.accordion_title,
                                accordion_title_color: section.settings.accordion_title_color,
                                accordion_box_shadow: section.settings.accordion_box_shadow
                            %}
                        {% endfor %}

                        {% unless section.settings.center_btn %}

                        <div class="custom-section__button custom-section--accimg__accordion--button">
                            {% render 'button-7923216',
                                btn_label: section.settings.btn_label,
                                btn_link: section.settings.btn_link,
                                btn_size: section.settings.btn_size,
                                hover_effect: section.settings.hover_effect,
                                shadow_effect: section.settings.shadow_effect,
                                auto_width: section.settings.auto_width
                            %}
                        </div>

                        {% endunless %}

                    </div>

                </div>

                {% if section.settings.show_image %}

                <div class="grid__item small-hide medium-hide">
                    <div class="custom-section--accimg__image">
                        {% if section.settings.image == blank %}
                            {% render 'no-image-7923216'%}
                        {% else %}
                            <img
                                srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                                {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                                sizes="{% if section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
                                src="{{ section.settings.image | img_url: '1000x' }}"
                                loading="lazy"
                                alt="{{ section.settings.image.alt | escape }}"
                                width="{{ section.settings.image.width }}"
                                height="{{ section.settings.image.width }}"
                            >
                        {% endif %}
                    </div>
                </div>

                {% endif %}

            </div>

            {% if section.settings.center_btn %}

            <div class="custom-section__button center">
                {% render 'button-7923216',
                    btn_label: section.settings.btn_label,
                    btn_link: section.settings.btn_link,
                    btn_size: section.settings.btn_size,
                    hover_effect: section.settings.hover_effect,
                    shadow_effect: section.settings.shadow_effect,
                    auto_width: section.settings.auto_width
                %}
            </div>

            {% endif %}
                
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "🔰 Accordion + Image",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "— subtitle —"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "color",
                "id": "accordion_title_color",
                "label": "Accordion Title Color",
                "default": "#000000"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Section Image"
            },
            {
                "type": "checkbox",
                "id": "show_image",
                "label": "Show Image",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "image_left",
                "label": "Image to the left",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "accordion_box_shadow",
                "label": "Add Box Shadow",
                "default": true
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "center_btn",
                "label": "Button at the center",
                "default": false,
                "info": "Always center for smaller devices"
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "accordion",
                "name": "Accordion Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "accordion_title",
                        "label": "Question",
                        "default": "Accordion title"
                    },
                    {
                        "type": "richtext",
                        "id": "accordion_content",
                        "label": "Answer",
                        "default": "<p>Accordion content.</p>"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name": "🔰 Accordion + Image",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "accordion"
                    },
                    {
                        "type": "accordion"
                    },
                    {
                        "type": "accordion"
                    },
                    {
                        "type": "accordion"
                    }
                ]
            } 
        ]
    }
{% endschema %}
