{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ '_customer-details.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>



{%- paginate customer.addresses by 5 -%}
<div class="ak-customer__addresses customer addresses" data-customer-addresses>
    <h2 class="promixa-heading">My Addresses: </h2>

    <div style="text-align: left;">
        <a href="/account/addresses">View All Addresses</a>
    </div>






    {%- comment -%} CURRENT {%- endcomment -%}
    <ul role="list">
        {%- for address in customer.addresses -%}
        {%- if address == customer.default_address -%}




        <li data-address>

            <div id="EditAddress_{{ address.id }}" class="ak-customer-details__form">
                {%- form 'customer_address', address -%}

                <div class="ak-customer-details__flex">
                    <div class="ak-customer-details__address-container">
                        {%- comment -%} First Name {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressFirstName_{{ form.id }}" style="font-weight: bold;">{{
                                'customer.addresses.first_name' | t }}: <span style="font-weight: normal;">{{
                                    address.first_name }}</span> </p>

                            {%- comment -%}
                            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                                value="{{ form.first_name }}" autocomplete="given-name"
                                placeholder="{{ 'customer.addresses.first_name' | t }}" required>
                            {%- endcomment -%}
                        </div>

                        {%- comment -%} Last Name {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressLastName_{{ form.id }}" style="font-weight: bold;">{{
                                'customer.addresses.last_name' | t }}: <span style="font-weight: normal;">{{
                                    address.last_name }}</span> </p>

                            {%- comment -%}
                            <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                                value="{{ form.last_name }}" autocomplete="family-name"
                                placeholder="{{ 'customer.addresses.last_name' | t }}" required>
                            {%- endcomment -%}
                        </div>

                        {%- comment -%} Address Line 1 {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressAddress1_{{ form.id }}" style="font-weight: bold;">Address Line 1: <span
                                    style="font-weight: normal;">{{ address.address1 }}</span> </p>

                            {%- comment -%}
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                                value="{{ form.address1 }}" autocomplete="address-line1"
                                placeholder="{{ 'customer.addresses.address1' | t }}" required>
                            {%- endcomment -%}
                        </div>

                        {%- comment -%} Address Line 2 {%- endcomment -%}
                        {% if address.address2 != blank %}
                        <div class="ak-field">

                            <p for="AddressAddress2_{{ form.id }}" style="font-weight: bold;">Address Line 2: <span
                                    style="font-weight: normal;">{{ address.address2 }}</span> </p>
                            {%- comment -%}
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                                value="{{ form.address2 }}" autocomplete="address-line2"
                                placeholder="{{ 'customer.addresses.address2' | t }}">
                            {%- endcomment -%}
                        </div>
                        {% endif %}

                        {%- comment -%} City {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressCity_{{ form.id }}" style="font-weight: bold;">City: <span
                                    style="font-weight: normal;">{{ address.city }}</span> </p>
                            {%- comment -%}
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]"
                                value="{{ form.city }}" autocomplete="address-level2"
                                placeholder="{{ 'customer.addresses.city' | t }}" required>
                            {%- endcomment -%}
                        </div>

                        {%- comment -%} Postcode {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressZip_{{ form.id }}" style="font-weight: bold;">Postcode: <span
                                    style="font-weight: normal;">{{ address.zip }}</span> </p>

                            {%- comment -%}
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}"
                                autocapitalize="characters" autocomplete="postal-code"
                                placeholder="{{ 'customer.addresses.zip' | t }}" required>
                            {%- endcomment -%}
                        </div>

                        {%- comment -%} Country* {%- endcomment -%}
                        <div class="ak-field">
                            <p for="AddressCountry_{{ form.id }}" style="font-weight: bold;">
                                Country: <span style="font-weight: normal;">{{ address.country }}</span>
                            </p>

                            {%- comment -%}
                            <div class="ak-select">
                                <select id="AddressCountry_{{ form.id }}" name="address[country]"
                                    data-address-country-select data-default="{{ form.country }}"
                                    data-form-id="{{ form.id }}" autocomplete="country" required>
                                    {{ all_country_option_tags }}
                                </select>
                            </div>
                            {%- endcomment -%}

                        </div>



                        {%- comment -%}
                        {%- if address == customer.default_address -%}

                        <div class="ak-customer-details__address-default">
                            <span class="large-up-hide ">Fields marked with * are manditory</span>
                            <p>{{ 'customer.addresses.default' | t }} Address </p>



                        </div>
                        {% else %}
                        <div class="ak-customer-details__address-default">
                            <span class="large-up-hide ">Fields marked with * are manditory</span>






                            <span>
                                <label for="address_default_address_{{ form.id }}">
                                    {{ 'customer.addresses.set_default' | t }}
                                    {{ form.set_as_default_checkbox }}
                                </label>
                            </span>
                        </div>
                        {%- endif -%}


                        <div>
                            <p class="ak-mandatory small-hide medium-hide ">Fields marked with * are manditory</p>
                        </div>
                        {%- endcomment -%}
                    </div>
                </div>

                <div class="ak-field__btn" style="justify-content: flex-start; margin-top: 2rem;">
                    <button><a style="color: white; text-decoration: none;" href="account/addresses">{{
                            'customer.addresses.update' | t }}</a></button>
                    {%- comment -%}
                    <button type="button" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                        {{ 'customer.addresses.delete' | t }}
                    </button>
                    {%- endcomment -%}
                </div>
                {%- endform -%}
            </div>
        </li>


        {% endif %}
        {%- endfor -%}
    </ul>



    {%- if paginate.pages > 1 -%}
    {%- if paginate.parts.size > 0 -%}
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
        <ul role="list">
            {%- if paginate.previous -%}
            <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">

                </a>
            </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
            <li>
                {%- if part.is_link -%}
                <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{
                    part.title }}</a>
                {%- else -%}
                {%- if part.title == paginate.current_page -%}
                <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{
                    part.title }}</span>
                {%- else -%}
                <span>{{ part.title }}</span>
                {%- endif -%}
                {%- endif -%}
            </li>
            {%- endfor -%}

            {%- if paginate.next -%}
            <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">

                </a>
            </li>
            {%- endif -%}
        </ul>
    </nav>
    {%- endif -%}
    {%- endif -%}


</div>
{%- endpaginate -%}

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>

<script src="{{ '_customer-details.min.js' | asset_url }}" defer></script>