<div class="alakazam-main-section section-background">
  <div class="page-width">
  <div class="alakazam-live-header lobster-heading">
    <h2 class="alakazam-live-header lobster-heading heading-decoration"><span>{{ section.settings.alakazam_live_title }}</span></h2>
  </div>

   <div class="alakazam-live-bodytext promixa-body">
    {{ section.settings.alakazam_live_body }}
  </div> 

  {% if section.settings.alakazam_live_btn_one != blank and section.settings.alakazam_live_btn_two != blank %}
    <div class="alakazam-live-buttons">
      <a href="{{ section.settings.alakazam_live_btn_one }}" class="cta-btn cta-orange-outline">{{ section.settings.alakazam_live_btn_one_text }}</a>
      <a href="{{ section.settings.alakazam_live_btn_two }}" class="cta-btn cta-orange-outline">{{ section.settings.alakazam_live_btn_two_text }}</a>
  </div>
  {% endif %}

  </div>
 </div>

 {% stylesheet %}

  .alakazam-live-section{
    padding: 3rem 5rem;
    margin:  0 auto;
  }
  .alakazam-live-header{
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
  }
  .alakazam-live-bodytext{
    padding: 1rem;
    text-align: center;
  }
  .alakazam-live-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .alakazam-live-buttons > a{
    margin: 1rem;
    max-width: 200px;
  }

  @media screen and (max-width: 750px) {
    .alakazam-live-buttons{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .alakazam-live-header{
      text-align: center;
    }
  }

{% endstylesheet %}
 
 {% schema %}
   {
     "name": "Alakazam Live",
     "settings": [
       {
         "id": "alakazam_live_title",
         "type": "text",
         "label": "Tile",
         "default": "Alakazam Live"
       },
       {
         "id": "alakazam_live_body",
         "type": "richtext",
         "label": "Body Text",
         "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolor sit amet, consetetur. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolor sit amet, consetetur. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolor sit amet, consetetur. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy dolor sit amet, consetetur.</p>"
       },
       {
         "id": "alakazam_live_btn_one",
         "type": "url",
         "label": "Add link to current livesteam"
       },
       {
         "id": "alakazam_live_btn_one_text",
         "type": "text",
         "label": "Button Text",
         "default": "Watch Livestream"
       },
       {
        "id": "alakazam_live_btn_two",
        "type": "url",
        "label": "Add link to previous livesteams"
      },
      {
        "id": "alakazam_live_btn_two_text",
        "type": "text",
        "label": "Button Text",
        "default": "View All Live Shows"
      }
     ]
   }
 {% endschema %}
