{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="contact page-width page-width--narrow alakazam-page-width--narrow  spaced-section">
    {%- form 'contact', id: 'ContactForm' -%}
    {%- if form.posted_successfully? -%}
    <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{
        'templates.contact.form.post_success' | t }}</div>
    {%- elsif form.errors -%}
    <div class="form__message">
        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}</h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
        <li>
            <a href="#ContactForm-email" class="link" style="color:rgba(2, 17, 64, 1) !important">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
        </li>
    </ul>
    {%- endif -%}
    <div class="contact__fields">
        {%- comment -%} Input Fields {%- endcomment -%}
        <div class="alakazam-submit-trick__inputs">
            <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">Trick Name</label>
            </div>
            
            <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">Your Full {{ 'templates.contact.form.name' | t }}</label>
            </div>

            <div class="field field--with-error">
                <input autocomplete="email" type="email" id="ContactForm-email" class="field__input"
                    name="contact[email]" spellcheck="false" autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true"
                    aria-describedby="ContactForm-email-error" {% endif %}
                    placeholder="{{ 'templates.contact.form.email' | t }}">
                <label class="field__label" for="ContactForm-email">Your {{ 'templates.contact.form.email' | t }} Address</label>
                {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] |
                        capitalize }} {{ form.errors.messages['email'] }}</span>
                </small>
                {%- endif -%}
            </div>

            <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">Country</label>
            </div>

            <div class="field">
                <input class="field__input" autocomplete="name" type="url" id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">File URL</label>
            </div>

        </div>

        {%- comment -%} Body Form Input {%- endcomment -%}
        <div class="alakazam-submit-trick__textarea">
            <div class="field">
                <textarea rows="10" id="ContactForm-body" class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}">
            {{- form.body -}}
        </textarea>
                <label class="form__label field__label" for="ContactForm-body">
                    <span><strong>Your message...</strong>(i.e. Inspiration behind the trick)</span>
                </label>
            </div>
        </div>
    </div>
    <div class="alakazam-submit-trick__button contact__button">
        <button type="submit" class="button cta-btn cta-orange">
            Submit Trick
        </button>
        <a href="/pages/contact" class="promixa-bold">Have a question? Contact Us!</a>
    </div>
    {%- endform -%}


    <script>
        const btn = document.querySelector('.alakazam-submit-trick__button>button')
        btn.addEventListener('click', ()=> {
            btn.classList.add('alakazam-submit-trick__button-active')
            btn.innerHTML = "Thanks! We'll be in touch."
        })
    </script>


    {% schema %}
    {
    "name": "t:sections.contact-form.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
    {
    "type": "text",
    "id": "heading",
    "default": "Contact form",
    "label": "Heading"
    }
    ],
    "presets": [
    {
    "name": "t:sections.contact-form.presets.name"
    }
    ]
    }
    {% endschema %}