 {{ 'slick.min.js' | asset_url | script_tag }}


 {{ 'slick.css' | asset_url | stylesheet_tag }}


 {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script>
  $(document).ready(function(){
    
$('.slider_wrap').slick({
infinite: true,
slidesToShow: 1,
slidesToScroll: 1,
  arrows:true,
  dots: true
});
    });
</script>


<div class="slider_wrap" data-slick='{"autoplay": {{ section.settings.carousel_autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed }}, "dots": {{ section.settings.carousel_dots }}, "arrows": {{ section.settings.carousel_arrows }}}'>

  {% for block in section.blocks %}
    <div class="slider_item">
      <div class="content_wrap">
      <div class="slider_content">
        <h4 class="slider_title" style="text-align: center; text-transform: uppercase; ">{%if block.settings.icon != blank%}<i class="{{  block.settings.icon }}" style="color: {{block.settings.icon_color}};"></i> {%endif%}{{  block.settings.slide_title }}</h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Annoucement Bar Slider",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
