{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media only screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
  {% if section.settings.bg_image != blank  %}
    #shopify-section-{{ section.id }} .apps {
      background: url("{{ section.settings.bg_image | img_url: 'master' }}"); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: {{ section.settings.bg_image_position }};
    }
  {% endif %}
  @media only screen and (max-width: 768px) {
    {% if section.settings.bg_image_mobile != blank  %}
      #shopify-section-{{ section.id }} .apps {
        background: url("{{ section.settings.bg_image_mobile | img_url: 'master' }}"); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: {{ section.settings.bg_image_position_mobile }};
      }
    {% else %}
      #shopify-section-{{ section.id }} .apps {
        background: transparent;
      }
    {% endif %}
  }
{%- endstyle -%}

<div class="apps">
  <div class="page-width section-{{ section.id }}-padding">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>
</div>  

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "レイアウト（PC）"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "image_picker",
        "id": "bg_image",
        "label": "背景画像"
    },
    {
        "type": "select",
        "id": "bg_image_position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "top",
        "label": "背景画像の位置"
    },
    {
      "type": "header",
      "content": "レイアウト（Mobile）"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "image_picker",
        "id": "bg_image_mobile",
        "label": "背景画像（Mobile）"
    },
    {
        "type": "select",
        "id": "bg_image_position_mobile",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "top",
        "label": "背景画像の位置（Mobile）"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
