{{ 'awards-carousel.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<section class="awards-section color-{{ section.settings.color_scheme }}">
  <div class="swiper">
    <div class="awards-carousel swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.image %}
          <div class="award-slide swiper-slide">
            <img
              height="200"
              width="350"

              {% if block.settings.image != blank %}
                src="{{ block.settings.image | image_url: width: 350 }}"
                alt="{{ block.settings.image.alt }}"
              {% else %}
                src="{{ 'no-image.webp' | asset_url }}"
              {% endif %}
              loading="lazy"
            >
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carouselSlider = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 4.5,
      spaceBetween: 30,
      effect: 'slide', // ensure slide effect
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      centeredSlides: false,
    });
  });
</script>

{% schema %}
{
  "name": "Awards Carousel",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "award_image",
      "name": "Award Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Award Image"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Awards Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
