<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid pt-10 pt-md-13 pb-7 pb-md-8 px-4 px-md-5 px-lg-6">
  <div class="SectionGrid-Wide">
    <h2 class="{% if section.settings.titleAlignment == 'left' %}ta-l {% else %}ta-c {% endif %}ff-heading fs-7 fs-lg-38px lh-107 lh-lg-116 fw-500 fw-lg-400 ls-m124 mb-2 mb-lg-5">{{ section.settings.title | escape }}</h2>
    {% comment %} Mobile Slider {% endcomment %}
    <div class="collection page-width page-width-desktop mobile">
      <sleepink-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
          {% assign products = section.blocks | where: 'type', 'product' %}
          {%- for product in products -%}
            {% liquid 
              assign variants = product.settings.product.variants
              if variants.size == 1
                assign sku = variants[0].sku
              else
                assign sku = product.settings.variant
              endif 
            %}
            {% for variant in product.settings.product.variants %}
              {% if variant.sku == sku %}
                {% assign variant_id = variant.id %}
                <li class="grid__item slider__slide px-0">
                  <div>
                    <div class="flex column ai-c pb-5 mx-auto mxw-300px mnw-300px w-100p">
                      <a href="{{ product.settings.product.url }}?variant={{ variant_id }}" class="w-100p mt-6 mb-5 ngrid onecol onerow pos-rel square-outer" style="background-color:{{ section.settings.backgroundProductCards }};">
                        <div class="square col-1 row-1">
                          {% if product.settings.image %}
                            <img src="{{ product.settings.image | img_url: '400x' }}" alt="{{ product.settings.image.alt }}" width="300" height="300" loading="lazy" class="contain w-300px h-300px">
                          {% elsif variant.featured_image %}
                            <img src="{{ variant.featured_image | img_url: '400x' }}" alt="{{ variant.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-300px h-300px">
                          {% else %}
                            <img src="{{ product.settings.product.featured_image | img_url: '400x' }}" alt="{{ product.settings.product.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-300px h-300px">
                          {% endif %}
                          <div class="col-1 row-1 pos-abs l-0 t-10px t-lg-16px">
                            {% assign tags = product.settings.product.metafields.global.tags.value | split: ', ' %}
                            {% for t in tags %}
                              <div class="fw-400 fs-12px ml-0 ta-l px-3 lh-100 py-2 mb-1" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                {{ t | escape }}
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </a>
                      <div>
                        <div class="flex row jc-c ai-c ml-2 mr-3 mb-2 h-16px">
                          {% liquid 
                            assign rating = product.settings.product.metafields.global.rating.value
                            assign wholeRating = rating | floor
                            assign missing_stars = 5 | minus: rating | floor
                            assign sum = wholeRating | plus: missing_stars
                            if sum != 5
                              assign halfStars = 1
                            else
                              assign halfStars = 0
                            endif
                          %}
                          {% if wholeRating > 0 %}
                            {% for i in (1..wholeRating) %}
                              <span>
                                {%- render 'icon-star', currentColor: "#ffd900" -%}
                              </span>
                            {% endfor %}
                          {% endif %}
                          {% if halfStars == 1 %}
                            <span>
                              {%- render 'icon-star-half' -%}
                            </span>
                          {% endif %}
                          {% if missing_stars > 0 %}
                            {% for j in (1..missing_stars) %}
                              <span>
                                {%- render 'icon-star', currentColor: "#dddddd" -%}
                              </span>
                            {% endfor %}
                          {% endif %}
                        </div>
                        {% assign reviewCount = product.settings.product.metafields.global.reviewCount %}
                        <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
                          ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
                          {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
                        </div>
                        <h3 class="ff-heading fs-1 lh-100 ls-m100 fw-400 ta-c mb-1 mt-5">
                          {% if variant.metafields.global.variantName.value %}
                            {{ variant.metafields.global.variantName.value | escape }}
                          {% elsif product.metafields.global.productName.value %}
                            {{ product.metafields.global.productName.value | escape }}
                          {% elsif variant.name %}
                            {{ variant.name | remove: 'sleep.ink' }}
                          {% else %}
                            {{ product.title | remove: 'sleep.ink' }}
                          {% endif %}
                        </h3>
                        <p class="ff-body fs-11px lh-145 fw-300 ta-c mb-5">
                          {% if variant.metafields.global.description %}
                            {{ variant.metafields.global.description | escape }}
                          {% elsif product.settings.product.metafields.global.description %}
                            {{ product.settings.product.metafields.global.description | escape }}
                          {% else %}
                            &nbsp;
                          {% endif %}
                        </p>
                        <p class="ta-c ff-body fs-1 lh-100 fw-500 mb-1">
                          {{ variant.price | money_without_currency }} €
                          {% if variant.compare_at_price %}
                            <span class="fw-400 fs-087em td-lt ml-2">
                              {{ variant.compare_at_price | money_without_currency }} €
                            </span>
                          {% endif %}
                        </p>
                        <div class="flex row jc-c ai-c">
                          <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ variant_id }}" />
                            <input type="hidden" name="quantity" value="1" id="quantity" />
                            <button type="submit" class="submit" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                              {%- render 'icon-cart2', currentColor: '#ffffff' -%}
                            </button>
                          </form>
                          <a href="{{ product.settings.product.url }}?variant={{ variant_id }}">
                            <button class="linkbutton-to-product-page" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                              {{ section.settings.linkProductPage | escape }}
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          {%- endfor -%}
        </ul>
        {%- if products.size > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden w-100p flex row jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev bestseller-button-mobile" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ products.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next bestseller-button-mobile" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
    {% comment %} End of Mobile Slider {% endcomment %}
    {% comment %} Tablet Slider {% endcomment %}
    <div class="collection page-width page-width-desktop tablet">
      <sleepink-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
          {% liquid 
            assign products = section.blocks | where: 'type', 'product'
            assign numberOfSlidesRaw = products.size | divided_by: 2
            assign remainder = products.size | modulo: 2
            if remainder > 0
              assign numberOfSlides = numberOfSlidesRaw | plus: 1
            else
              assign numberOfSlides = numberOfSlidesRaw
            endif
          %}

          {%- for s in (1..numberOfSlides) -%}
            <li class="grid__item slider__slide px-0">
              <div class="ngrid twocol gap-4">
                {%- for p in (0..1) -%}
                  {% assign index = s | times: 2 | minus: 2 | plus: p %}
                  {% assign product = products[index] %}
                  {% if product %}
                    {% liquid 
                      assign variants = product.settings.product.variants
                      if variants.size == 1
                        assign sku = variants[0].sku
                      else
                        assign sku = product.settings.variant
                      endif 
                    %}
                    {% for variant in product.settings.product.variants %}
                      {% if variant.sku == sku %}
                        {% assign variant_id = variant.id %}
                        <div class="flex column ai-c pb-5 mx-auto mxw-300px mnw-210px w-100p">
                          <a href="{{ product.settings.product.url }}?variant={{ variant_id }}" class="w-100p mt-6 mb-5 ngrid onecol onerow pos-rel square-outer" style="background-color:{{ section.settings.backgroundProductCards }};">
                            <div class="square col-1 row-1">
                              {% if product.settings.image %}
                                <img src="{{ product.settings.image | img_url: '400x' }}" alt="{{ product.settings.image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% elsif variant.featured_image %}
                                <img src="{{ variant.featured_image | img_url: '400x' }}" alt="{{ variant.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% else %}
                                <img src="{{ product.settings.product.featured_image | img_url: '400x' }}" alt="{{ product.settings.product.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% endif %}
                              <div class="col-1 row-1 pos-abs l-0 t-10px">
                                {% assign tags = product.settings.product.metafields.global.tags | split: ', ' %}
                                {% for t in tags %}
                                  <div class="fw-400 fs-12px ml-0 ta-l px-3 lh-100 py-2 mb-1" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                  {{ t | escape }}
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </a>
                          <div>
                            <div class="flex row jc-c ai-c ml-2 mr-3 mb-2 h-16px">
                              {% liquid 
                                assign rating = product.settings.product.metafields.global.rating.value
                                assign wholeRating = rating | floor
                                assign missing_stars = 5 | minus: rating | floor
                                assign sum = wholeRating | plus: missing_stars
                                if sum != 5
                                  assign halfStars = 1
                                else
                                  assign halfStars = 0
                                endif
                              %}
                              {% if wholeRating > 0 %}
                                {% for i in (1..wholeRating) %}
                                  <span>
                                    {%- render 'icon-star', currentColor: "#ffd900" -%}
                                  </span>
                                {% endfor %}
                              {% endif %}
                              {% if halfStars == 1 %}
                                <span>
                                  {%- render 'icon-star-half' -%}
                                </span>
                              {% endif %}
                              {% if missing_stars > 0 %}
                                {% for j in (1..missing_stars) %}
                                  <span>
                                    {%- render 'icon-star', currentColor: "#dddddd" -%}
                                  </span>
                                {% endfor %}
                              {% endif %}
                            </div>
                            <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
                              {% assign reviewCount = product.settings.product.metafields.global.reviewCount.value %}
                              ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
                              {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
                            </div>
                            <h3 class="ff-heading fs-1 lh-100 ls-m100 ls-m070 fw-400 ta-c mb-1 mt-5">
                              {% if variant.metafields.global.variantName.value %}
                                {{ variant.metafields.global.variantName.value | escape }}
                              {% elsif product.settings.product.metafields.global.productName.value %}
                                {{ product.settings.product.metafields.global.productName.value | escape }}
                              {% elsif variant.name %}
                                {{ variant.name | escape }}
                              {% else %}
                                {{ product.settings.product.title | escape }}
                              {% endif %}
                            </h3>
                            <p class="ff-body fs-12px lh-136 fw-300 ta-c mb-5">
                              {% if variant.metafields.global.description %}
                                {{ variant.metafields.global.description | escape }}
                              {% elsif product.settings.product.metafields.global.description %}
                                {{ product.settings.product.metafields.global.description | escape }}
                              {% else %}
                                &nbsp;
                              {% endif %}
                            </p>
                            <p class="ta-c ff-body fs-1 lh-100 fw-500 mb-1">
                              {{ variant.price | money_without_currency }} €
                              {% if variant.compare_at_price %}
                                <span class="fw-400 fs-087em td-lt ml-2">
                                  {{ variant.compare_at_price | money_without_currency }} €
                                </span>
                              {% endif %}
                            </p>
                            <div class="flex row jc-c ai-c">
                              <form method="post" action="/cart/add">
                                <input type="hidden" name="id" value="{{ variant_id }}" />
                                <input type="hidden" name="quantity" value="1" id="quantity" />
                                <button type="submit" class="submit" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                  {%- render 'icon-cart2', currentColor: '#ffffff' -%}
                                </button>
                              </form>
                              <a href="{{ product.settings.product.url }}?variant={{ variant_id }}">
                                <button class="linkbutton-to-product-page" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                                  {{ section.settings.linkProductPage | escape }}
                                </button>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div>&nbsp;</div>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {%- endfor -%}
        </ul>
        {%- if numberOfSlides > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden flex row w-100p jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev bestseller-button-tablet" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ numberOfSlides }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next bestseller-button-tablet" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
    {% comment %} End of Tablet Slider {% endcomment %}
    {% comment %} Desktop Slider {% endcomment %}
    <div class="collection page-width-desktop desktop px-0">
      <sleepink-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--desktop grid--peek negative-margin negative-margin--small" role="list">
          {% liquid 
            assign products = section.blocks | where: 'type', 'product'
            assign numberOfSlidesRaw = products.size | divided_by: 4
            assign remainder = products.size | modulo: 4
            if remainder > 0
              assign numberOfSlides = numberOfSlidesRaw | plus: 1
            else
              assign numberOfSlides = numberOfSlidesRaw
            endif
          %}

          {%- for s in (1..numberOfSlides) -%}
            <li class="grid__item slider__slide w-100p px-0">
              <div class="ngrid fourcol gap-4">
                {%- for p in (0..3) -%}
                  {% assign index = s | times: 4 | minus: 4 | plus: p %}
                  {% assign product = products[index] %}
                  {% if product %}
                    {% liquid 
                      assign variants = product.settings.product.variants
                      if variants.size == 1
                        assign sku = variants[0].sku
                      else
                        assign sku = product.settings.variant
                      endif 
                    %}
                    {% for variant in product.settings.product.variants %}
                      {% if variant.sku == sku %}
                        {% assign variant_id = variant.id %}
                        <div class="flex column ai-c pb-5 mx-unset w-100p">
                          <a href="{{ product.settings.product.url }}?variant={{ variant_id }}" class="w-100p mt-6 mb-5 ngrid onecol onerow pos-rel square-outer" style="background-color:{{ section.settings.backgroundProductCards }};">
                            <div class="square col-1 row-1">
                              {% if product.settings.image %}
                                <img src="{{ product.settings.image | img_url: '400x' }}" alt="{{ product.settings.image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% elsif variant.featured_image %}
                                <img src="{{ variant.featured_image | img_url: '400x' }}" alt="{{ variant.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% else %}
                                <img src="{{ product.settings.product.featured_image | img_url: '400x' }}" alt="{{ product.settings.product.featured_image.alt }}" width="300" height="300" loading="lazy" class="contain w-100p h-auto">
                              {% endif %}
                              <div class="col-1 row-1 pos-abs l-0 t-16px">
                                {% assign tags = product.settings.product.metafields.global.tags | split: ", " %}
                                {% for t in tags %}
                                  <div class="fw-400 fs-12px ml-0 ta-l px-3 lh-100 py-2 mb-1" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                    {{ t | escape }}
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </a>
                          <div>
                            <div class="flex row jc-c ai-c ml-2 mr-3 mb-2 h-16px">
                              {% liquid 
                                assign rating = product.settings.product.metafields.global.rating
                                assign wholeRating = rating | floor
                                assign missing_stars = 5 | minus: rating | floor
                                assign sum = wholeRating | plus: missing_stars
                                if sum != 5
                                  assign halfStars = 1
                                else
                                  assign halfStars = 0
                                endif
                              %}
                              {% if wholeRating > 0 %}
                                {% for i in (1..wholeRating) %}
                                  <span>
                                    {%- render 'icon-star', currentColor: "#ffd900" -%}
                                  </span>
                                {% endfor %}
                              {% endif %}
                              {% if halfStars == 1 %}
                                {%- render 'icon-star-half' -%}
                              {% endif %}
                              {% if missing_stars > 0 %}
                                {% for j in (1..missing_stars) %}
                                  <span>
                                    {%- render 'icon-star', currentColor: "#dddddd" -%}
                                  </span>
                                {% endfor %}
                              {% endif %}
                            </div>
                            <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
                              {% assign reviewCount = product.settings.product.metafields.global.reviewCount %}
                              ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
                              {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
                            </div>
                            <h3 class="ff-heading fs-3 lh-110 ls-m100 fw-400 ta-c mb-1 mt-5">
                              {% if variant.metafields.global.variantName.value %}
                                {{ variant.metafields.global.variantName.value | escape }}
                              {% elsif product.settings.product.metafields.global.productName.value %}
                                {{ product.settings.product.metafields.global.productName.value | escape }}
                              {% elsif variant.name %}
                                {{ variant.name | escape }}
                              {% else %}
                                {{ product.settings.product.title | escape }}
                              {% endif %}
                            </h3>
                            <p class="ff-body fs-12px lh-133 fw-300 ta-c mb-5">
                              {% if variant.metafields.global.description.value %}
                                {{ variant.metafields.global.description.value | escape }}
                              {% elsif product.settings.product.metafields.global.description.value %}
                                {{ product.settings.product.metafields.global.description.value | escape }}
                              {% else %}
                                &nbsp;
                              {% endif %}
                            </p>
                            <p class="ta-c ff-body fs-3 lh-111 fw-500 mb-1">
                              {{ variant.price | money_without_currency }} €
                              {% if variant.compare_at_price %}
                                <span class="fw-400 fs-090em td-lt ml-2">
                                  {{ variant.compare_at_price | money_without_currency }} €
                                </span>
                              {% endif %}
                            </p>
                            <div class="flex row jc-c ai-c">
                              <form method="post" action="/cart/add">
                                <input type="hidden" name="id" value="{{ variant_id }}" />
                                <input type="hidden" name="quantity" value="1" id="quantity" />
                                <button type="submit" class="submit" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                  {%- render 'icon-cart2', currentColor: '#ffffff' -%}
                                </button>
                              </form>
                              <a href="{{ product.settings.product.url }}?variant={{ variant_id }}">
                                <button class="linkbutton-to-product-page" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                                  {{ section.settings.linkProductPage | escape }}
                                </button>
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div>&nbsp;</div>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {%- endfor -%}
        </ul>
        {%- if numberOfSlides > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden flex row w-100p jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev bestseller-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ numberOfSlides }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next bestseller-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
    {% comment %} End of Desktop Slider {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "Bestseller",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Unsere Bestseller",
      "label": "Überschrift des Abschnitts"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "color",
      "id": "backgroundProductCards",
      "label": "Hintergrund der Produktkacheln",
      "default": "#F9F9FA"
    },
    {
      "type": "text",
      "id": "linkProductPage",
      "label": "Beschriftung des Buttons zur Produktseite",
      "default": "Mehr erfahren"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "featured_product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt"
        },
        {
          "type": "text",
          "id": "variant",
          "label": "SKU der Produktvariante"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Bild (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bestseller",
      "settings": {
        "title": "Unsere Bestseller",
        "swipe_on_mobile": true,
        "color_scheme": "background-1",
        "backgroundProductCards": "#F9F9FA"
      },
      "blocks": [
        {
          "type": "product",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
