<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'bestseller.css' | asset_url | stylesheet_tag }}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="bs-SectionGrid bs-pt-10 bs-pt-md-13 bs-pb-7 bs-pb-md-8 bs-px-4 bs-px-md-5 bs-px-lg-6">
  <div class="bs-SectionGrid-Wide">
    <h2 class="{% if section.settings.titleAlignment == 'left' %}bs-left {% else %}bs-center {% endif %}bs-ff-heading bs-fs-7 bs-fs-lg-38px bs-lh-30px bs-lh-lg-44px bs-fw-500 bs-fw-lg-400 bs-ls-m124 bs-mb-2 bs-mb-lg-5">{{ section.settings.title | escape }}</h2>
    {% comment %} Mobile Slider {% endcomment %}
    <div class="collection page-width page-width-desktop bs-mobile">
      <sleepink-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
          {% assign products = section.blocks | where: 'type', 'product' %}
          {%- for product in products -%}
            <li class="grid__item slider__slide bs-w-100p bs-px-0">
                <div>
                  <div class="bs-flex bs-column bs-ai-c bs-pb-5 bs-mx-auto bs-mx-lg-unset bs-mxw-300px bs-mxw-lg-unset bs-mnw-300px bs-mnw-md-210px bs-mnw-lg-unset bs-w-100p">
                    <a href="{{ product.url }}" class="bs-w-100p bs-mt-6 bs-mb-5 bs-grid bs-1col bs-1row bs-pos-rel bs-square-outer" style="background-color:{{ product.settings.background }};">
                      <div class="bs-square bs-gc1 bs-gr1">
                        <img src="{{ product.settings.image | img_url: '400x' }}" alt="{{ product.settings.image.alt }}" width="300" height="300" loading="lazy">
                        <div class="bs-gc1 bs-gr1 bs-pos-abs bs-l-0 bs-t-10px bs-t-lg-16px">
                          {% assign tags = product.settings.tags | split: ", " %}
                          {% for t in tags %}
                            <div class="bs-fw-400 bs-fs-12px bs-ml-0 bs-left bs-px-3 bs-lh-100 bs-py-2 bs-mb-1" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                              {{ t | escape }}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </a>
                    <div>
                      <div class="bs-flex bs-row bs-jc-c bs-ai-c bs-ml-2 bs-mr-3 bs-mb-2">
                        {% assign missing_stars = 5 | minus: product.settings.rating %}
                        {% if product.settings.rating > 0 %}
                          {% for i in (1..product.settings.rating) %}
                            <span>
                              {%- render 'icon-star', currentColor: "#ffd900" -%}
                            </span>
                          {% endfor %}
                        {% endif %}
                        {% if missing_stars > 0 %}
                          {% for j in (1..missing_stars) %}
                            <span>
                              {%- render 'icon-star', currentColor: "#dddddd" -%}
                            </span>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="bs-ff-body bs-fw-400 bs-fs-12px bs-lh-100 bs-mt-0 bs-center">
                        ({{ product.settings.recensions }} {% if product.settings.recensions > 1 %}Bewertungen{% else %} Bewertung{% endif %})
                      </div>
                      <h3 class="bs-ff-heading bs-fs-1 bs-fs-lg-3 bs-lh-100 bs-lh-md-114 bs-lh-lg-110 bs-ls-m100 bs-ls-md-m067 bs-ls-lg-m098 bs-fw-400 bs-center bs-mb-1 bs-mt-5">
                        {{ product.settings.name | escape }}
                      </h3>
                      <p class="bs-ff-body bs-fs-11px bs-fs-md-12px bs-lh-145 bs-lh-md-136 bs-lh-lg-133 bs-fw-300 bs-center bs-mb-5">
                        {{ product.settings.description | escape }}
                      </p>
                      <p class="bs-center bs-ff-body bs-fs-1 bs-fs-lg-3 bs-lh-100 bs-lh-lg-111 bs-fw-500 bs-mb-1">
                        {% for variant in product.settings.product.variants %}
                          {% if variant.sku == product.settings.variant %}
                            {% assign variant_id = variant.id %}
                            {{ variant.price | money_without_currency }} €
                            {% if variant.compare_at_price %}
                              <span class="bs-fw-400 bs-fs-87p bs-fs-lg-90p bs-td-lt bs-ml-2">
                                {{ variant.compare_at_price | money_without_currency }} €
                              </span>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </p>
                      <div class="bs-flex bs-row bs-jc-c bs-ai-c">
                        <form method="post" action="/cart/add">
                          <input type="hidden" name="id" value="{{ variant_id }}" />
                          <input type="hidden" name="quantity" value="1" id="quantity" />
                          <button type="submit" class="bs-submit" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                            {%- render 'icon-cart2', currentColor: '#ffffff' -%}
                          </button>
                        </form>
                        <a href="{{ product.settings.page }}">
                          <button class="button" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                            {{ section.settings.linkProductPage | escape }}
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
          {%- endfor -%}
        </ul>
          {%- if products.size > 1 and section.settings.swipe_on_mobile -%}
            <div class="slider-buttons no-js-hidden">
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                <span class="slider-counter--total">{{ products.size }}</span>
              </div>
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </sleepink-slider>
      </div>
    </div>
    {% comment %} End of Mobile Slider {% endcomment %}
    {% comment %} Tablet Slider {% endcomment %}
    <div class="collection page-width page-width-desktop bs-tablet">
      <sleepink-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
          {% assign products = section.blocks | where: 'type', 'product' %}
          {% assign numberOfSlides = products.size | divided_by: 2 | ceil %}
          {%- for s in (1..numberOfSlides) -%}
            <li class="grid__item slider__slide bs-w-100p bs-px-0">
                <div class="bs-grid bs-2col">
                  {%- for p in (0..1) -%}
                    {% assign index = s | times: 2 | minus: 2 | plus: p %}
                    {% assign product = products[index] %}
                    <div class="bs-flex bs-column bs-ai-c bs-pb-5 bs-mx-auto bs-mx-lg-unset bs-mxw-300px bs-mxw-lg-unset bs-mnw-300px bs-mnw-md-210px bs-mnw-lg-unset bs-w-100p">
                      <a href="{{ product.url }}" class="bs-w-100p bs-mt-6 bs-mb-5 bs-grid bs-1col bs-1row bs-pos-rel bs-square-outer" style="background-color:{{ product.settings.background }};">
                        <div class="bs-square bs-gc1 bs-gr1">
                          <img src="{{ product.settings.image | img_url: '400x' }}" alt="{{ product.settings.image.alt }}" width="300" height="300" loading="lazy">
                          <div class="bs-gc1 bs-gr1 bs-pos-abs bs-l-0 bs-t-10px bs-t-lg-16px">
                            {% assign tags = product.settings.tags | split: ", " %}
                            {% for t in tags %}
                              <div class="bs-fw-400 bs-fs-12px bs-ml-0 bs-left bs-px-3 bs-lh-100 bs-py-2 bs-mb-1" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                                {{ t | escape }}
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </a>
                      <div>
                        <div class="bs-flex bs-row bs-jc-c bs-ai-c bs-ml-2 bs-mr-3 bs-mb-2">
                          {% assign missing_stars = 5 | minus: product.settings.rating %}
                          {% if product.settings.rating > 0 %}
                            {% for i in (1..product.settings.rating) %}
                              <span>
                                {%- render 'icon-star', currentColor: "#ffd900" -%}
                              </span>
                            {% endfor %}
                          {% endif %}
                          {% if missing_stars > 0 %}
                            {% for j in (1..missing_stars) %}
                              <span>
                                {%- render 'icon-star', currentColor: "#dddddd" -%}
                              </span>
                            {% endfor %}
                          {% endif %}
                        </div>
                        <div class="bs-ff-body bs-fw-400 bs-fs-12px bs-lh-100 bs-mt-0 bs-center">
                          ({{ product.settings.recensions }} {% if product.settings.recensions > 1 %}Bewertungen{% else %} Bewertung{% endif %})
                        </div>
                        <h3 class="bs-ff-heading bs-fs-1 bs-fs-lg-3 bs-lh-100 bs-lh-md-114 bs-lh-lg-110 bs-ls-m100 bs-ls-md-m067 bs-ls-lg-m098 bs-fw-400 bs-center bs-mb-1 bs-mt-5">
                          {{ product.settings.name | escape }}
                        </h3>
                        <p class="bs-ff-body bs-fs-11px bs-fs-md-12px bs-lh-145 bs-lh-md-136 bs-lh-lg-133 bs-fw-300 bs-center bs-mb-5">
                          {{ product.settings.description | escape }}
                        </p>
                        <p class="bs-center bs-ff-body bs-fs-1 bs-fs-lg-3 bs-lh-100 bs-lh-lg-111 bs-fw-500 bs-mb-1">
                          {% for variant in product.settings.product.variants %}
                            {% if variant.sku == product.settings.variant %}
                              {% assign variant_id = variant.id %}
                              {{ variant.price | money_without_currency }} €
                              {% if variant.compare_at_price %}
                                <span class="bs-fw-400 bs-fs-87p bs-fs-lg-90p bs-td-lt bs-ml-2">
                                  {{ variant.compare_at_price | money_without_currency }} €
                                </span>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </p>
                        <div class="bs-flex bs-row bs-jc-c bs-ai-c">
                          <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ variant_id }}" />
                            <input type="hidden" name="quantity" value="1" id="quantity" />
                            <button type="submit" class="bs-submit" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">
                              {%- render 'icon-cart2', currentColor: '#ffffff' -%}
                            </button>
                          </form>
                          <a href="{{ product.settings.page }}">
                            <button class="button" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                              {{ section.settings.linkProductPage | escape }}
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </li>
          {%- endfor -%}
        </ul>
          {%- if numberOfSlides > 1 and section.settings.swipe_on_mobile -%}
            <div class="slider-buttons no-js-hidden">
              <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                <span class="slider-counter--total">{{ numberOfSlides }}</span>
              </div>
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
            </div>
          {%- endif -%}
        </sleepink-slider>
      </div>
    </div>
    {% comment %} End of Tablet Slider {% endcomment %}
  </div>
</div>

{% comment %}
<div class="collection page-width{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
  <div class="{% if section.settings.show_view_all and section.settings.swipe_on_mobile %}title-wrapper-with-link{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
    <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>

    {%- if section.settings.show_view_all and section.settings.swipe_on_mobile -%}
      <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
    {%- endif -%}
  </div>

  {%- liquid
    assign products_to_display = section.settings.collection.all_products_count

    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif
  %}

  <slider-component class="slider-mobile-gutter">
    <ul class="grid grid--2-col{% if products_to_display == 4 or section.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or section.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}" role="list">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
          {% render 'product-card',
            product_card_product: product,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item">
            {% render 'product-card-placeholder' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
      <div class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>

  {%- if section.settings.show_view_all and section.settings.collection.all_products_count > section.settings.products_to_show -%}
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      <a href="{{ section.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
</div>
{% endcomment %}

{% schema %}
{
  "name": "Bestseller",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Unsere Bestseller",
      "label": "Überschrift des Abschnitts"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "color",
      "id": "backgroundProductCards",
      "label": "Hintergrund der Produktkacheln",
      "default": "#F9F9FA"
    },
    {
      "type": "text",
      "id": "linkProductPage",
      "label": "Beschriftung des Buttons zur Produktseite",
      "default": "Mehr erfahren"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "featured_product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Produktbild"
        },
        {
          "type": "text",
          "id": "variant",
          "label": "SKU der Produktvariante"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Produktname"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Produktbeschreibung" 
        },
        {
          "type": "url",
          "id": "page",
          "label": "URL der Produktseite"
        },
        {
          "type": "text",
          "id": "tags",
          "label": "Tags (durch Komma getrennt)"
        },
        {
          "type": "range",
          "id": "rating",
          "label": "Rating (in Sternen)",
          "default": 5,
          "min": 1,
          "max": 5,
          "step": 1
        },
        {
          "type": "number",
          "id": "recensions",
          "label": "Anzahl der Bewertungen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name",
      "settings": {
        "title": "Unsere Bestseller",
        "swipe_on_mobile": true,
        "color_scheme": "background-1",
        "backgroundProductCards": "#F9F9FA"
      },
      "blocks": [
        {
          "type": "product",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
