{% assign background_color = "bg-" | append: section.settings.background_color %}

<section class="bg-img {{background_color}}">
  {% for block in section.blocks %}

    {% assign bg_img_height = "vh-" | append: block.settings.bg_img_height %}
    {% assign align = "text-" | append: block.settings.align %}
    {% assign align_items = "align-" | append: block.settings.align_items %}
    {% assign justify = "justify-" | append: block.settings.justify %}
    {% assign heading_font_size = "font-size-" | append: block.settings.heading_font_size %}
    {% assign text_font_size = "font-size-" | append: block.settings.text_font_size %}
    {% assign heading_font_weight = "font-weight-" | append: block.settings.heading_font_weight %}
    {% assign text_font_weight = "font-weight-" | append: block.settings.text_font_weight %}
    {% assign heading_font_color = "brand-" | append: block.settings.heading_font_color %}
    {% assign text_font_color = "brand-" | append: block.settings.text_font_color %}
    {% assign cta_bg = "bg-" | append: block.settings.cta_bg %}
    {% assign cta_color = "brand-" | append: block.settings.cta_color %}


    {% if block.settings.image != blank%}
      <div class="bg-img-container block-{{ block.id }}">
        <style>
          .block-{{ block.id }}{
            background-image: url('{{ block.settings.image | img_url: 'master' }}');
            background-position: center;
            background-size: cover;
          }
          @media(max-width: 1400px) {
            .block-{{ block.id }}{
              background-size: inherit;
            }
          }
          @media(max-width: 1280px) {
            .block-{{ block.id }}{
              background-position: top left;
              background-size: inherit;
            }
          }
        </style>
        <div class="bg-img-content-container">
          {% if section.settings.heading != blank or section.settings.subheading != blank %}
            {% render 'headings' %}
          {% endif %}
          <div class="bg-img-inner {{justify}} {{align_items}} {{bg_img_height}}">
            <div class="bg-img-content-wrapper {{align}}">
              <div class="bg-img-content">
                {% if block.settings.title != blank %}
                  <h2 class="bg-img-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
                {% endif %}

                {% if block.settings.logo != blank %}
                  {% if block.settings.hide_logo == false %}
                    <div class="bg-img-logo">
                      <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
                    </div>
                  {% elsif block.settings.hide_logo == true %}
                    <div class="bg-img-logo hidden">
                      <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
                    </div>
                  {% endif %}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="bg-img-text {{text_font_size}} {{text_font_weight}} {{text_font_color}}">{{ block.settings.text }}</div>
                {% endif %}

                {% if block.settings.cta_text != blank %}
                  <div class="bg-img-button">
                    <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
                  </div>
                {% elsif block.settings.quiz-button == true  %}
                  {% render 'quiz-modal'%}
                  {% else %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}

      <div class="bg-img-showcase">
        <div class="bg-img-video-container">
          {{ block.settings.video1 | video_tag: autoplay: true, muted: true, loop: true}}
        </div>
        {% include 'headings' %}
        <div class="bg-img-content-wrapper {{align}}">
          <div class="bg-img-content">
            {% if block.settings.title != blank %}
              <h2 class="bg-img-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
            {% elsif block.settings.logo != blank%}
              <div class="bg-img-logo">
                <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
              </div>
              {% else %}
            {% endif %}

            {% if block.settings.text != blank %}
              <div class="bg-img-text {{text_font_size}} {{text_font_weight}} {{text_font_color}}">{{ block.settings.text }}</div>
            {% endif %}

            {% if block.settings.cta_text != blank %}
              <div class="bg-img-button">
                <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
              </div>
            {% elsif block.settings.quiz-button == true  %}
              {% render 'quiz-modal'%}
              {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor%}
</section>

{% schema %}
  {
    "name": "BG-Img with Header",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading",
        "default": "Sub Title"
      },
      {
        "type": "checkbox",
        "id": "use_padding_top",
        "label": "Use top padding",
        "default": false
      }, {
        "type": "checkbox",
        "id": "use_padding_bottom",
        "label": "Use bottom padding",
        "default": false
      }, {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Slide",
        "settings": [
          {
            "type": "text",
            "id": "class",
            "label": "Hero Class Name"
          },
          {
            "type": "select",
            "id": "bg_img_height",
            "label": "Background Height",
            "default": "eighty",
            "options": [
              {
                "value": "ten",
                "label": "10%"
              },
              {
                "value": "twenty",
                "label": "20%"
              },
              {
                "value": "thirty",
                "label": "30%"
              },
              {
                "value": "forty",
                "label": "40%"
              }, {
                "value": "fifty",
                "label": "50%"
              }, {
                "value": "sixty",
                "label": "60%"
              }, {
                "value": "seventy",
                "label": "70%"
              }, {
                "value": "eighty",
                "label": "80%"
              }, {
                "value": "ninety",
                "label": "90%"
              }, {
                "value": "hundred",
                "label": "100%"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Hero Image (leave blank for video)"
          },
          {
            "type": "video",
            "id": "video1",
            "label": "Hero Video"
          }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
          }, {
            "type": "checkbox",
            "id": "hide_logo",
            "label": "Hide Image Initially",
            "default": false
          }, {
            "type": "html",
            "id": "title",
            "label": "Heading",
            "default": "This is a default header"
          }, {
            "type": "select",
            "id": "heading_font_size",
            "label": "Heading Font Size",
            "default": "large",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ]
          }, {
            "type": "select",
            "id": "heading_font_weight",
            "label": "Heading Font Weight",
            "default": "bold",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }, {
            "type": "select",
            "id": "heading_font_color",
            "label": "Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "html",
            "id": "text",
            "label": "Text"
          }, {
            "type": "select",
            "id": "text_font_size",
            "label": "Text Font Size",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_weight",
            "label": "Text Font Weight",
            "default": "regular",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_color",
            "label": "Text Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "select",
            "id": "align",
            "label": "Align Text",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "align_items",
            "label": "Align Vertically",
            "default": "center",
            "options": [
              {
                "value": "start",
                "label": "Top"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "end",
                "label": "Bottom"
              }
            ]
          }, {
            "type": "select",
            "id": "justify",
            "label": "Align Horizontally",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "text",
            "id": "cta_text",
            "label": "Button Text"
          }, {
            "type": "text",
            "id": "cta_link",
            "label": "Button Link"
          }, {
            "type": "select",
            "id": "cta_bg",
            "label": "Button Background Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "light-blue",
                "label": "Light Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "gray-clear",
                "label": "Gray Clear"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "white-clear",
                "label": "White Clear"
              }
            ]
          }, {
            "type": "select",
            "id": "cta_color",
            "label": "Button Text Color",
            "default": "white",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "checkbox",
            "id": "quiz-button",
            "label": "Add Quiz Button",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "BG-Img with Header",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .bg-img-showcase {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: #fff;
    padding: 0 20px;
  }
  .bg-img-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: no-repeat center center/cover;
    z-index: -1;
  }
  .bg-img-video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translate(-50px, -60px);
  }
  .bg-img-container {
    position: relative;
    display: grid;
    color: #fff;
    background: no-repeat;
  }
  .bg-img-inner {
    position: relative;
    display: flex;
    padding: 55px 0;
    z-index: 2;
  }
  .bg-img-content-wrapper {
    display: flex;
    max-width: 700px;
    margin: 0 100px;
    z-index: 3;
  }
  .bg-img-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  .bg-img-header {
    margin: 0 auto 20px;
    width: 100%;
    line-height: 70px;
  }
  .bg-img-text {
    line-height: 35px;
    background: var(--brand-refresh-white-clear);
    padding: 40px;
    border-radius: 40px;
  }
  .bg-img-logo {
    width: 70%;
    margin: 0 auto;
  }
  .bg-img-logo img {
    max-width: 100%;
  }
  .bg-img-button {
    text-align: center;
    margin-top: 60px;
  }
  .bg-img-button a {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  /* MEDIA QUERIES */
  @media(max-width: 1515px) {
    .bg-img-video-container video {
      top: 0;
      left: 0;
      transform: translate(0px, 0px);
    }
  }
  @media(max-width: 1280px) {
    .bg-img-inner {
      justify-content: center;
      padding-top: 0;
      height: 100%;
    }
    .bg-img-content {
      text-align: center;
    }
    .bg-img-logo {
      display: block;
    }
    .bg-img-text {
      font-size: 24px;
      margin-top: 40px;
    }
    .bg-img-button {
      margin-top: 35px;
    }
    .bg-img-button a {
      padding: 15px 35px;
    }
  }
  @media(max-width: 767px) {
    .bg-img-content-wrapper {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
  @media(max-width: 600px) {
    .bg-img-text {
      font-size: 18px;
      line-height: 30px;
      padding: 20px;
    }
    .bg-img-header {
      font-size: 40px;
      line-height: 50px;
    }
    .bg-img-button {
      margin-top: 40px;
    }
    .bg-img-button a {
      padding: 10px 30px;
    }
  }
{% endstylesheet %}