{% unless section.blocks.size == 0 %}
  <div class="smshr-section">
    <div class="w-full flex items-center justify-between">
      <h1 class="text-h-md flex-grow">{{ section.settings.headline }}</h1>

      {% if section.settings.all_brands_url %}
        <a href="{{ section.settings.all_brands_url  }}" class="link-sm text-end">
          {{ 'sections.brand_grid.view_brands' | t }}
        </a>
      {% endif %}
    </div>

    <div
      class="grid grid-cols-4 gap-micro xl:grid-cols-6 5kUp:grid-cols-8 mt-large"
    >
      {%- for block in section.blocks -%}
        <div class="pt-[15px] pb-[13.5px] md:pt-[29px] md:pb-[28px]  px-3 md:px-[30px] xl:px-[25px] bg-grey50 flex items-center justify-center w-full mix-blend-darken bg-blend-darken">
          {% assign url = block.settings.brand_url | default: '#' %}

          <a href="{{ url }}" class="w-16 h-[60.5px] md:w-[128px] md:h-[121px] flex items-center">
            {%- if block.settings.brand_image -%}
              {{ block.settings.brand_image | image_url: width: 3840 | image_tag: loading: 'lazy', class: 'shrink-0' }}

            {%- else -%}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.brand-grid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "Featured Brands",
      "label": "t:sections.brand-grid.settings.headline.label"
    },
    {
      "type": "url",
      "id": "all_brands_url",
      "label": "t:sections.brand-grid.settings.all_brands_url.label",
      "info": "t:sections.brand-grid.settings.all_brands_url.info"
    }
  ],
  "blocks": [
    {
      "type": "brand-item",
      "name": "t:sections.brand-grid.blocks.brand-item.name",
      "limit": 12,
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_image",
          "label": "t:sections.brand-grid.blocks.brand-item.settings.brand_image.label"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "t:sections.brand-grid.blocks.brand-item.settings.url.label",
          "info": "t:sections.brand-grid.blocks.brand-item.settings.url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.brand-grid.presets.name",
      "blocks": [
        {
          "type": "brand-item"
        }
      ]
    }
  ]
}
{% endschema %}
