{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Books",
        "item": "https://example.com/books"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Science Fiction",
        "item": "https://example.com/books/sciencefiction"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Award Winners"
      }
    ]
  }
</script>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  <div class="breadcrumbs section-{{ section.id }}-padding">
    <div class="page-width">
      <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="javascript: history.back();">&larr; Back</a>
          </li>
          {%- case t -%}
            {%- when 'page' -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                <span>/</span>
              </li>
            {%- when 'product' -%}
              {%- if collection.url -%}
                <li class="breadcrumbs__item">
                  {{ collection.title | link_to: collection.url }}
                  <span>/</span>
                </li>
              {%- endif -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                <span>/</span>
              </li>
            {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
                <li class="breadcrumbs__item">
                  {{ collection.title | link_to: collection.url }}
                  <span>/</span>
                </li>
                <li class="breadcrumbs__item">
                  {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                  <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">
                    {{- current_tags | join: ' + ' -}}
                  </a>
                  <span>/</span>
                </li>
              {%- else -%}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">
                    {{- collection.title -}}
                  </a>
                  <span>/</span>
                </li>
              {%- endif -%}
            {%- when 'blog' -%}
              {%- if current_tags -%}
                <li class="breadcrumbs__item">
                  {{ blog.title | link_to: blog.url }}
                  <span>/</span>
                </li>
                <li class="breadcrumbs__item">
                  {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                  <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">
                    {{- current_tags | join: ' + ' -}}
                  </a>
                  <span>/</span>
                </li>
              {%- else -%}
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                  <span>/</span>
                </li>
              {%- endif -%}
            {%- when 'article' -%}
              <li class="breadcrumbs__item">
                {{ blog.title | link_to: blog.url }}
                <span>/</span>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                <span>/</span>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                <span>/</span>
              </li>
          {%- endcase -%}
        </ol>
      </nav>
    </div>
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.breadcrumbs.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ]
}
{% endschema %}
