{%- for link in section.settings.menu.links -%}
  <a href="{{ link.url }}" style="background:{{ section.settings.bg }};color:{{ section.settings.color }};borde-radius:{{ section.settings.radius }}px;">
    {{ link.title }}
  </a>
{%- endfor -%}
{% schema %}
{
  "name": "Buttons",
  "tag": "section",
  "class": "spaced-section btns",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu to list its links as buttons"
    },
	{
      "type": "color",
      "id": "bg",
      "label": "Buttons background"
    },
	{
      "type": "color",
      "id": "color",
      "label": "Buttons color"
    },
    {
      "type": "range",
      "id": "radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "px",
      "label": "Buttons radius"
    }
  ],
  "presets": [{"name": "Buttons"}]
}
{% endschema %}
