{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'variant-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<variant-list class="page-width section-{{ section.id }}-padding">
  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-variant-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if product.variants.size > 0 -%}
          <table class="variant-items">
            <caption class="visually-hidden">
              {{ 'sections.cart.title' | t }}
            </caption>
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="1" scope="col">Product</th>
                <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                  Total
                </th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">
                  Quantity
                </th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">
                  Unit Price
                </th>
                <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">Total</th>
              </tr>
            </thead>

            <tbody>
              {%- for variant in product.variants -%}
                <tr class="variant-item" id="VariantItem-{{ variant.id }}">
                  <td class="variant-item__info">
                    {% if variant.image %}
                      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                      <div class="variant-item__image-container gradient global-media-settings">
                        <img
                          src="{{ variant.image | image_url: width: 45 }}"
                          class="variant-item__image"
                          alt="{{ variant.image.alt | escape }}"
                          loading="lazy"
                          width="45"
                          height="{{ 45 | divided_by: variant.image.aspect_ratio | ceil }}"
                        >
                      </div>
                    {% endif %}
                    <div>
                      <span class="variant-item__name h4 break">{{ variant.title | escape }}</span>
                      <span class="variant-item__sku h5 break">{{ variant.sku | escape }}</span>
                    </div>
                  </td>
                  {%- assign cart_qty = cart | item_count_for_variant: variant.id -%}
                  <td class="variant-item__quantity">
                    <div class="variant-item__quantity-wrapper">
                      <label class="visually-hidden" for="Quantity-{{ variant.id }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
                      <div class="variant-item__quantity-info">
                        {% render 'icon-info' %}
                      </div>
                      <quantity-input class="quantity cart-quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          data-quantity-variant-id="{{ variant.id }}"
                          type="number"
                          name="updates[]"
                          value="{{ cart_qty }}"
                          {% # theme-check-disable %}
                          data-cart-quantity="{{ cart | item_count_for_variant: variant.id }}"
                          min="{{ variant.quantity_rule.min }}"
                          {% if variant.quantity_rule.max != null %}
                            max="{{ variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ variant.quantity_rule.increment }}"
                          {% # theme-check-enable %}
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: variant.title | escape }}"
                          id="Quantity-{{ variant.id }}"
                          data-index="{{ variant.id }}"
                        >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: variant.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>

                      <variant-remove-button
                        id="Remove-{{ variant.id }}"
                        data-index="{{ variant.id }}"
                      >
                        <a
                          href="{{ variant.url_to_remove }}"
                          class="button button--tertiary"
                          aria-label="{{ 'sections.cart.remove_title' | t: title: variant.title }}"
                        >
                          {% render 'icon-remove' %}
                        </a>
                      </variant-remove-button>
                    </div>
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if variant.quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.multiples_of'
                            | t: quantity: variant.quantity_rule.increment
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if variant.quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{- 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min -}}
                        </span>
                      {%- endif -%}
                      {%- if variant.quantity_rule.max != null -%}
                        <span class="divider">
                          {{- 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max -}}
                        </span>
                      {%- endif -%}
                    </div>
                    <div class="variant-item__error" id="Line-item-error-{{ variant.id }}" role="alert">
                      <small class="variant-item__error-text"></small>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="icon icon-error"
                        viewBox="0 0 13 13"
                      >
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                    </div>
                  </td>

                  <td class="variant-item__totals right medium-hide large-up-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="variant-item__price-wrapper">
                      {%- if variant.original_line_price != variant.final_line_price -%}
                        <dl class="variant-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="variant-item__old-price price price--end">
                              {{ variant.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end">
                            {{ variant.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end">
                          {{ variant.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if variant.available and variant.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden"
                            >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                          >
                          {%- if variant.unit_price_measurement.reference_value != 1 -%}
                            {{- variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>

                  <td class="variant-item__details">
                    {%- if variant.price != variant.compare_at_price -%}
                      <div class="variant-item__discounted-prices">
                        <span class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </span>
                        <s class="variant-item__old-price product-option">
                          {{- variant.compare_at_price | money -}}
                        </s>
                        <span class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </span>
                        <strong class="variant-item__final-price product-option">
                          {{ variant.price | money }}
                        </strong>
                      </div>
                    {%- else -%}
                      <div class="product-option">
                        {{ variant.compare_at_price | money }}
                      </div>
                    {%- endif -%}

                    {%- if product.has_only_default_variant == false or variant.selling_plan_allocation != null -%}
                      <dl>
                        {%- if product.has_only_default_variant == false -%}
                          {%- for option in variant.options_with_values -%}
                            <div class="product-option">
                              <dt>{{ option.name }}:</dt>
                              <dd>{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endif -%}
                      </dl>

                      <p class="product-option">{{ variant.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}

                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="variant-item__price-wrapper">
                      {%- if variant.original_line_price != variant.final_line_price -%}
                        <dl class="variant-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="variant-item__old-price price price--end">
                              {{ variant.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end">
                            {{ variant.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end">
                          {{ variant.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if variant.available and variant.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden"
                            >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                          >
                          {%- if variant.unit_price_measurement.reference_value != 1 -%}
                            {{- variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>

                  <td class="variant-item__totals right small-hide">Total</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">
      {{ 'accessibility.loading' | t }}
    </p>
  </form>
</variant-list>

{% schema %}
{
  "name": "Bulk Buying List",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
      "label": "t:sections.bulk-buying-list.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.bulk-buying-list.settings.show_sku.label"
    }
  ]
}
{% endschema %}
