{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="bulleted-list-wrapper page-width isolate{% if section.settings.paragraph == blank %} no-heading{% endif %} section-{{ section.id }}-padding">
    {%- unless section.settings.paragraph == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2 class="bulleted-list-title">{{ section.settings.paragraph | escape }}</h2>
      </div>
    {%- endunless -%}
  
    <ul class="bulleted-list bulleted-list--{{ section.blocks.size }}-items"
      id="Bullets-{{ section.id }}"
      role="list"
    >
      {%- for block in section.blocks -%}
        <li id="Bullets-{{ section.id }}-{{ forloop.index }}" class="bulleted-list__item" {{ block.shopify_attributes }}>
          {{ block.settings.text | escape }}
        </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.bulleted-list.name",
  "tag": "section",
  "class": "section section-bulleted-list",
  "max_blocks": 15,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.bulleted-list.settings.image.label"
    },
    {
      "type": "text",
      "id": "paragraph",
      "default": "Paragraph",
      "label": "t:sections.bulleted-list.settings.paragraph.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "bullet",
      "name": "t:sections.bulleted-list.blocks.bullet.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.bulleted-list.blocks.bullet.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.bulleted-list.presets.name",
      "blocks": [
        {
          "type": "bullet"
        },
        {
          "type": "bullet"
        },
        {
          "type": "bullet"
        }
      ]
    }
  ]
}
{% endschema %}
