{% assign background_color = "bg-" | append: section.settings.background_color %}

{% case section.settings.bullet_color %}
  {% when 'blue' %}
    {% assign bullet_font_color = 'ha-blue' %}
    {% assign bullet_img_color = 'ha-blue-span' %}
  {% when 'green' %}
    {% assign bullet_font_color = 'hubitat-green' %}
    {% assign bullet_img_color = 'hubitat-green-span' %}
{% endcase %}

<section class="bullet-surround {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}
  <div class="inner-content">
    <div class="img-container">
      <img src="{{ section.settings.image | img_url: 'master'}}" alt="">
    </div>

    <div class="bullet-container">
      {% for block in section.blocks %}
        <div class="bullets bullet-{{forloop.index}}">
          <div class="bullet-front">
            <div class="bullet-img">
              <img src="{{ block.settings.bullet_img | img_url: 'master'}}" alt="">
            </div>
            <span class="bullet-span">{{ block.settings.bullet }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="bullet-container-mobile">
      <div class="img-container-mobile">
        <img src="{{ section.settings.image | img_url: 'master'}}" alt="">
      </div>
      <ul>
        {% for block in section.blocks %}
          <li>{{ block.settings.bullet }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Bullets Surrounding Image",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Sub Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Center Image"
      }, {
        "type": "select",
        "id": "bullet_color",
        "label": "Bullet Color",
        "options": [
          {
            "value": "blue",
            "label": "HA-Blue"
          }, {
            "value": "green",
            "label": "Hubitat Green"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Bullet & Image",
        "settings": [
          {
            "type": "text",
            "id": "bullet",
            "label": "Bullet"
          }, {
            "type": "image_picker",
            "id": "bullet_img",
            "label": "Bullet Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bullets Surrounding Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .bullet-surround {
    width: 100%;
  }
  .bullet-surround .inner-content {
    width: 100%;
    height: 100vh;
    padding-top: 15px;
  }
  .bullet-surround .img-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 3;
  }
  .bullet-surround .img-container img {
    width: 20vw;
  }
  .bullet-surround .bullet-container {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 4;
  }
  .bullet-surround .bullets {
    text-align: center;
  }
  .bullet-surround .bullet-img {
    width: 100%;
    margin: 0 auto;
  }
  .bullet-surround .bullet-img img {
    width: 7vw;
    margin: 0 auto;
  }
  .bullet-surround .bullet-front {
    transition: ease-in-out;
  }
  .hubitat-green {
    filter: invert(53%) sepia(100%) saturate(600%) hue-rotate(37deg) brightness(102%) contrast(94%);
  }
  .hubitat-green-span {
    background-color: #81BB08 !important;
  }
  .ha-blue {
    filter: invert(72%) sepia(6%) saturate(3428%) hue-rotate(175deg) brightness(148%) contrast(80%);
  }
  .ha-blue-span {
    background-color: #72BFEC !important;
  }

  .bullet-surround .bullet-1 {
    align-self: start;
    grid-column: 2 / 3;
  }
  .bullet-surround .bullet-2 {
    align-self: start;
    grid-column: 3 / 4;
  }
  .bullet-surround .bullet-3 {
    grid-row: 4 / 2;
    justify-self: end;
  }
  .bullet-surround .bullet-4 {
    grid-row: 4 / 2;
    justify-self: start;
    grid-column: 4;
  }
  .bullet-surround .bullet-5 {
    grid-row: 5;
    grid-column: 2;
    align-self: end;
  }
  .bullet-surround .bullet-6 {
    grid-row: 5;
    grid-column: 3;
    align-self: end;
  }
  .bullet-surround .bullet-span {
    background-color: var(--brand-refresh-gray);
    padding: 3px 15px;
    border-radius: 20px;
    color: var(--brand-refresh-white);
    font-size: 17px;
  }
  .bullet-surround .hover-text {
    background-color: #81BB08;
    padding: 3px 15px;
    border-radius: 20px;
    color: var(--brand-refresh-white)
  }
  .bullet-surround .img-container-mobile {
    width: 50vw;
  }
  .bullet-surround .bullet-container-mobile ul {
    width: 67%;
    margin: 30px 0;
  }
  .bullet-surround .bullet-container-mobile li {
    margin: 15px auto;
    padding: 10px 15px;
    text-align: center;
    color: var(--brand-refresh-white);
    background: var(--brand-refresh-gray-clear);
    border-radius: 20px;
    font-size: 18px;
  }
  .bullet-surround .bullet-container-mobile {
    display: none;
  }
  /* MEDIA QUERIES */
  @media(max-width: 1200px) {
    .bullet-surround .img-container img {
      width: 25vw;
    }
  }
  @media(max-width: 950px) {
    .bullet-surround .bullet-container {
      display: none;
    }
    .bullet-surround .inner-content {
      height: 100%;
    }
    .bullet-surround .img-container {
      display: none;
    }
    .bullet-surround .bullet-container-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bullet-surround .img-container-mobile img {
      width: 85%;
      margin: 0 auto;
      display: block;
    }
  }
  @media(max-width: 650px) {
    .img-container-mobile img {
      width: 100%;
    }
  }
{% endstylesheet %}


<script>
  $(".bullet-front", "section.bullet-surround").on('mouseenter', (e) => {
    $(".bullet-img", $(e.currentTarget)).addClass("{{ bullet_font_color }}");
    $(".bullet-span", $(e.currentTarget)).addClass("{{ bullet_img_color }}");
  }).on('mouseleave', (e) => {
    $(".bullet-img", $(e.currentTarget)).removeClass("{{ bullet_font_color }}");
    $(".bullet-span", $(e.currentTarget)).removeClass("{{ bullet_img_color }}");
  })
</script>