{{ 'campaign-block.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="campaign-block-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="campaign-block">
    <div class="campaign-block-container {% if section.settings.text_side_by_side %} side-by-side {% endif %}">
      <div class="campaign-block__background-image {% if section.settings.text_overlapping %} overlay {% endif %}">
        <img
          height="100%"
          width="100%"
          {% if section.settings.image != blank %}
            src="{{ section.settings.image | image_url: width: 600 }}"
          {% else %}
            src="{{ 'no-image.webp' | asset_url }}"
          {% endif %}
          class="media-grid__item media-grid__item--1"
          alt="{{ section.settings.image.alt }}"
        >
      </div>
      <div class="campaign-block__content {% if section.settings.text_side_by_side %} side-by-side {% endif %} {% if section.settings.text_overlapping %} overlapping-text {% endif %}">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.description }}</p>
        <a href="{{ section.settings.cta_link }}" class="campaign-block__btn button button--primary">
          {{- section.settings.cta_text -}}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Campaign Block",
  "tag": "section",
  "class": "shopify-section campaign-block-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "text_overlapping",
      "label": "Text Overlapping The Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "text_side_by_side",
      "label": "Image And Text Side By Side",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Campaign Block"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet consectetur. At posuere sed pellentesque elit lectus nisi nibh in dis. Ut fringilla in in arcu urna nisl..."
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to Action Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Call to Action Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Campaign Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}
