{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}">
      {% if item.image %}
        <img class="cart-notification-product__image"
          src="{{ item.image | img_url: '140x' }}"
          alt="{{ item.image.alt | escape }}"
          width="70"
          height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
        >
      {% endif %}
      <div class="cart-notification-product__info">
        <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
        {%- unless item.product.has_only_default_variant -%}
          <dl>
            {%- for option in item.options_with_values -%}
              <div class="cart-notification-product__option h4">
                <dt>{{ option.name }}: </dt>
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          </dl>
        {%- endunless -%}
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
