{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

<div id="collection-header-{{ section.id }}" class="collection-hero color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">
          Don't know where to start? Explore all women's <a href="https://uk.gymshark.com/">Gymshark clothing</a> using
          the filters above. Discover all our women's clothing - from sleek leggings to supportive sports bras,
          lightweight running jackets and cozy hoodies, there's something for everyone. Experience incredible support
          and a fit like no other from our range of women's workout wear, designed to help you achieve your best in and
          out of the gym.

          {{ collection.description }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

<style>
  #collection-header-{{ section.id }} .collection-hero__title {
    text-transform: uppercase;
    font-size: 3.6rem;
    margin-bottom: 1.6rem;
  }
  #collection-header-{{ section.id }} .collection-hero__description {
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
    margin-top: 0px;
  }
</style>

{% schema %}
{
  "name": "Collection title",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Collection title"
    }
  ]
}
{% endschema %}
y
