{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }} .collage {
    --row-height: {{ section.settings.collage_items_height_mobile }}px;
    grid: auto-flow dense var(--row-height) / repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }} .collage {
      --row-height: {{ section.settings.collage_items_height }}px;
      grid: auto-flow dense var(--row-height) / repeat(4, minmax(0, 1fr));
    }
  }

  .section-{{ section.id }} .collage-card .product-card-wrapper .card, .section-{{ section.id }} .collage-card .collection-card-wrapper .card, .section-{{ section.id }} .image-card-wrapper {
    --border-radius: {{ section.settings.card_corner_radius }}px;
    --border-width: {{ section.settings.card_border_thickness }}px;
    --border-opacity: {{ section.settings.card_border_opacity | divided_by: 100.0 }};
    border-radius: {{ section.settings.card_corner_radius }}px;
    border:  var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
  }

  .section-{{ section.id }} .product-card-wrapper .card__information {
    padding: 0;
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="{% unless section.settings.full_width %} page-width {% endunless %} section-{{ section.id }}-padding section-{{ section.id }}">
    {%- if section.settings.heading != blank -%}
      {% unless section.settings.heading_element_custom %}
        <h2 class="collage-wrapper-title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% if section.settings.full_width %}title-width{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {% else %}
        {% liquid
          assign class = 'collage-wrapper-title inline-richtext '
          if settings.animations_reveal_on_scroll
            assign class = class | append: ' scroll-trigger animate--slide-in'
          endif
          if section.settings.full_width
            assign class = class | append: ' title-width'
          endif
        %}
        {% render 'headings',
          heading_size: section.settings.heading_size,
          heading_element: section.settings.heading_element,
          title: section.settings.heading,
          class: class,
          attributes: section.shopify_attributes,
          animation: settings.animations_reveal_on_scroll,
          animation_order: forloop.index
        %}
      {% endunless %}
    {%- endif -%}
    <div class="collage{% if section.settings.mobile_layout == 'collage' %} collage--mobile{% endif %}">
      {% assign skip_card_product_styles = false %}
      {%- for block in section.blocks -%}
        {% liquid
          assign media_type = block.settings.media_type
          assign column_span = block.settings.column_span
          if column_span == 2
            assign mobile_column_span = 1
          elsif column_span == 3 or column_span == 4
            assign mobile_column_span = 2
          endif
        %}
        <style>
          .block-{{ block.id }} {
            --collage-item-grid-column-span: {{ block.settings.column_span }};
            --collage-item-grid-row-span: {{ block.settings.row_span }};
            --collage-item-grid-column-span-mobile: {{ mobile_column_span }};
          }
        </style>
        <div
          class="collage__item collage__item--{{ block.type }} block-{{ block.id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class="collage-card">
                <div
                  class="media media--transparent ratio image-card-wrapper"
                  {% if block.settings.image != blank %}
                    style="--ratio-percent: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%"
                  {% else %}
                    style="--ratio-percent: 100%"
                  {% endif %}
                >
                  {%- if block.settings.image != blank -%}
                    {%- liquid
                      if section.settings.desktop_layout == 'left'
                        assign large_block = forloop.first
                      else
                        assign large_block = forloop.last
                      endif

                      assign grid_space_desktop = settings.spacing_grid_horizontal | divided_by: 2 | append: 'px'
                      assign grid_space_mobile = settings.spacing_grid_horizontal | divided_by: 4 | append: 'px'
                    -%}
                    {%- if large_block -%}
                      {%- capture sizes -%}
                        {% if section.blocks.size == 1 -%}(min-width: {{ settings.page_width }}px) calc({{ settings.page_width }}px - 100px){% else %}(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - 100px) * 2 / 3 - {{ grid_space_desktop }}){% endif %},
                        {% if section.blocks.size == 1 -%}(min-width: 750px) calc(100vw - 100px){% else %}(min-width: 750px) calc((100vw - 100px) * 2 / 3 - {{ grid_space_desktop }}){% endif %},
                        {% if section.blocks.size == 2 and section.settings.mobile_layout == 'collage' -%}calc((100vw - 30px) / 2){% else %}calc(100vw - 30px){% endif %}
                        {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 3200
                        | image_tag:
                          sizes: sizes,
                          widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      }}
                    {%- else -%}
                      {%- capture sizes -%}
                           (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - 100px) * 1 / 3 - {{ grid_space_desktop }}),
                           (min-width: 750px) calc((100vw - 100px) * 1 / 3 - {{ grid_space_desktop }}),
                           {% if section.settings.mobile_layout == 'collage' %}calc((100vw - 30px) / 2 - {{ grid_space_mobile }}){% else %}calc(100vw - 30px){% endif %}
                        {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 3200
                        | image_tag:
                          sizes: sizes,
                          widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      }}
                    {%- endif -%}
                  {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
              </div>
            {%- when 'product' -%}
              {% unless block.settings.show_product_info %}
                <style>
                  .block-{{ block.id }} .card__content {
                    display: none;
                  }
                  .block-{{ block.id }} .card--card .card__inner .card__media {
                    border-radius: {{ section.settings.card_corner_radius }}px;
                  }
                </style>
              {% endunless %}
              {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
              <div class="collage-card ">
                {% render 'card-product',
                  card_product: block.settings.product,
                  media_aspect_ratio: 'adapt',
                  show_secondary_image: block.settings.second_image,
                  extend_height: true,
                  placeholder_image: placeholder_image,
                  card_style: 'card'
                %}
              </div>
            {%- when 'collection' -%}
              <style>
                .block-{{ block.id }} .card__information {
                  background-color: {{ block.settings.collection_info_background_color }};
                }

                .block-{{ block.id }} .card__information * {
                  color: {{ block.settings.collection_info_text_color }};
                }
              </style>
              {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
              <div class="collage-card ">
                {% render 'card-collection',
                  card_collection: block.settings.collection,
                  media_aspect_ratio: 'adapt',
                  columns: 2,
                  extend_height: true,
                  placeholder_image: placeholder_image,
                  card_style: 'card',
                  wrapper_class: 'collection-card-wrapper'
                %}
              </div>
            {%- when 'video' -%}
              {% liquid
                assign video = block.settings.video
                assign video_source_url = ''
                for source in video.sources
                  if source.format == 'mp4'
                    assign video_source_url = source.url
                  endif
                endfor
              %}
              <div class="collage-card">
                {% if block.settings.video != blank %}
                  <style>
                    .block-{{ block.id }} video {
                      border-radius: {{ section.settings.card_corner_radius }}px;
                      --border-width: {{ section.settings.card_border_thickness }}px;
                      --border-opacity: {{ section.settings.card_border_opacity | divided_by: 100.0 }};
                      border:  var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
                    }
                  </style>
                  <video
                    playsinline="true"
                    {% if block.settings.autoplay %}
                      autoplay="autoplay"
                      loop="loop"
                    {% else %}
                      controls="controls"
                    {% endif %}
                    {% if block.settings.muted %}
                      muted="muted"
                    {% endif %}

                    preload="metadata"
                    poster="{{ block.settings.video.preview_image | image_url: width: block.settings.video.preview_image.width }}"
                  >
                    <source src="{{ video_source_url }}" type="video/mp4">
                    {{
                      block.settings.video.preview_image
                      | image_url: width: 3840
                      | image_tag: widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: 'Video preview image'
                    }}
                  </video>
                {% else %}
                  <style>
                    .block-{{ block.id }}.collage__item--video {
                      border-radius: {{ section.settings.card_corner_radius }}px;
                      --border-width: {{ section.settings.card_border_thickness }}px;
                      --border-opacity: {{ section.settings.card_border_opacity | divided_by: 100.0 }};
                      border:  var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
                    }
                    .block-{{ block.id }} modal-opener, .block-{{ block.id }} .deferred-media__poster {
                      border-radius: {{ section.settings.card_corner_radius }}px;
                    }
                  </style>
                  {% render 'external-video', section: section, block: block %}
                {% endif %}
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.collage.settings.heading.default",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__0.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "collage_items_height",
      "label": "t:sections.collage.settings.collage_items_height.label",
      "default": 170,
      "max": 250,
      "min": 100,
      "unit": "px",
      "step": 5
    },
    {
      "type": "range",
      "id": "collage_items_height_mobile",
      "label": "t:sections.collage.settings.collage_items_height_mobile.label",
      "default": 120,
      "max": 180,
      "min": 80,
      "unit": "px",
      "step": 5
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    // {
    //   "type": "select",
    //   "id": "card_styles",
    //   "options": [
    //     {
    //       "value": "none",
    //       "label": "t:sections.collage.settings.card_styles.options__1.label"
    //     },
    //     {
    //       "value": "product-card-wrapper",
    //       "label": "t:sections.collage.settings.card_styles.options__2.label"
    //     }
    //   ],
    //   "default": "product-card-wrapper",
    //   "info": "t:sections.collage.settings.card_styles.info",
    //   "label": "t:sections.collage.settings.card_styles.label"
    // },
    {
      "type": "header",
      "content": "t:sections.collage.settings.header_border_styles.content"
    },
    // {
    //   "type": "range",
    //   "id": "border_radius",
    //   "label": "Corner radius",
    //   "min": 0,
    //   "max": 24,
    //   "default": 0,
    //   "step": 2,
    //   "unit": "px"
    // },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.thickness.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "card_border_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.opacity.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.collage.settings.header_corner_styles.content"
    },
    {
      "type": "range",
      "id": "card_corner_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_mobile_padding_heading"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:sections.all.heading_element_header.content"
    },
    {
      "type": "checkbox",
      "id": "heading_element_custom",
      "label": "t:sections.all.heading_element_custom.label",
      "info": "t:sections.all.heading_element_custom.info",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_element",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_element.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_element.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_element.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_element.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_element.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_element.options__6.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_element.label",
      "info": "t:sections.all.heading_element.info"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.collage.blocks.all.header.content"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "t:sections.collage.blocks.all.column_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_span",
          "label": "t:sections.collage.blocks.all.row_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.collage.blocks.all.header.content"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "t:sections.collage.blocks.all.column_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_span",
          "label": "t:sections.collage.blocks.all.row_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": false,
          "label": "t:sections.collage.blocks.product.settings.second_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_product_info",
          "label": "Show product info",
          "default": false
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.collage.blocks.collection.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.collage.blocks.all.header.content"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "t:sections.collage.blocks.all.column_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_span",
          "label": "t:sections.collage.blocks.all.row_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collage.blocks.collection.settings.collection.label"
        },
        {
          "type": "color",
          "id": "collection_info_background_color",
          "label": "t:sections.collage.blocks.collection.settings.collection_info_background_color.label"
        },
        {
          "type": "color",
          "id": "collection_info_text_color",
          "label": "t:sections.collage.blocks.collection.settings.collection_info_text_color.label"
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.collage.blocks.video.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.collage.blocks.all.header.content"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "t:sections.collage.blocks.all.column_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_span",
          "label": "t:sections.collage.blocks.all.row_span.label",
          "min": 1,
          "max": 4,
          "default": 1
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.video.settings.header_shopify_video.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.collage.blocks.video.settings.video.label"
        },
        {
          "type": "checkbox",
          "id": "muted",
          "label": "t:sections.collage.blocks.video.settings.muted.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "t:sections.collage.blocks.video.settings.autoplay.label",
          "info": "t:sections.collage.blocks.video.settings.autoplay.info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.collage.blocks.video.settings.header_external_video.content"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.collage.blocks.video.settings.cover_image.label"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.collage.blocks.video.settings.video_url.label",
          "placeholder": "t:sections.collage.blocks.video.settings.video_url.placeholder",
          "info": "t:sections.collage.blocks.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "description",
          "default": "t:sections.collage.blocks.video.settings.description.default",
          "label": "t:sections.collage.blocks.video.settings.description.label",
          "info": "t:sections.collage.blocks.video.settings.description.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "column_span": 2,
            "row_span": 2
          }
        },
        {
          "type": "product",
          "settings": {
            "column_span": 1,
            "row_span": 2,
            "second_image": true,
            "show_product_info": true
          }
        },
        {
          "type": "product",
          "settings": {
            "column_span": 1,
            "row_span": 2,
            "product": "",
            "second_image": false,
            "show_product_info": false
          }
        },
        {
          "type": "collection",
          "settings": {
            "column_span": 1,
            "row_span": 2,
            "collection": "",
            "collection_info_background_color": "",
            "collection_info_text_color": ""
          }
        },
        {
          "type": "video",
          "settings": {
            "column_span": 3,
            "row_span": 2
          }
        }
      ]
    }
  ]
}
{% endschema %}
