{{ 'section-collection-list-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--collection-list" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <div class="custom-section__content">

                <slider-component>

                    <ul id="Slider-{{ section.id }}" class="grid grid--2-col grid--3-col-tablet {% if section.blocks.size > 4 %}grid--quarter-max{% endif %} grid--4-col-desktop" role="list">

                        {%- for block in section.blocks -%}
                        {% unless block.settings.featured_collection == blank %}
                            <li id="Slide-{{ section.id }}-{{ forloop.index0 }}" class="grid__item">
                                <a href="{{ block.settings.featured_collection.url}}" class="center">
                                {%- if block.settings.featured_collection.featured_image != blank -%}
                                    <div class="card-image">
                                        <img
                                            srcset="{%- if block.settings.featured_collection.featured_image.width >= 165 -%}{{ block.settings.featured_collection.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 330 -%}{{ block.settings.featured_collection.featured_image | img_url: '330x' }} 330w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 535 -%}{{ block.settings.featured_collection.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 750 -%}{{ block.settings.featured_collection.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 1000 -%}{{ block.settings.featured_collection.featured_image | img_url: '1000x' }} 1000w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 1500 -%}{{ block.settings.featured_collection.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}
                                                {%- if block.settings.featured_collection.featured_image.width >= 3000 -%}{{ block.settings.featured_collection.featured_image | img_url: '3000x' }} 3000w,{%- endif -%}
                                                {{ block.settings.featured_collection.featured_image | img_url: 'master' }} {{ block.settings.featured_collection.featured_image.width }}w"
                                            src="{{ block.settings.featured_collection.featured_image | img_url: '1500x' }}"
                                            alt="{% if block.settings.featured_collection.featured_image.alt == blank %}{{ block.settings.featured_collection.title | escape }}{% else %}{{ block.settings.featured_collection.featured_image.alt | escape }}{% endif %}"
                                            title="{% if block.settings.featured_collection.featured_image.alt == blank %}{{ block.settings.featured_collection.title | append: '-' | append: shop.name | escape }}{% else %}{{ block.settings.featured_collection.featured_image.alt | append: '-' | append: shop.name | escape }}{% endif %}"
                                            height="{{ block.settings.featured_collection.featured_image.height }}"
                                            width="{{ block.settings.featured_collection.featured_image.width }}"
                                            loading="lazy"
                                            class="motion-reduce"
                                        >
                                    </div>
                                {%- else -%}
                                    <div class="card-image">
                                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                    </div>
                                {%- endif -%}
                                    <div class="card-information">
                                        <h3>{{ block.settings.featured_collection.title | escape }}</h3>
                                    </div>
                                </a>
                                {% if section.settings.show_btn %}
                                    <div class='center'>
                                        {% render 'button-7923216',
                                            btn_label: section.settings.btn_label,
                                            btn_link: block.settings.featured_collection.url,
                                            btn_size: 'default',
                                            hover_effect: section.settings.hover_effect,
                                            shadow_effect: section.settings.shadow_effect,
                                            auto_width: section.settings.auto_width
                                        %}
                                    </div>
                                {% endif %}
                            </li>
                        {%- else -%}
                            <li id="Slide-{{ section.id }}-{{ forloop.index0 }}" class="grid__item">
                                <div class="card-image">
                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                    {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>
                                <div class="card-information">
                                    <h3 class="center" >Collection Title</h3>
                                </div>
                                <div class='center'>
                                    {% render 'button-7923216',
                                        btn_label: section.settings.btn_label,
                                        btn_link: "",
                                        btn_size: 'default',
                                        hover_effect: section.settings.hover_effect,
                                        shadow_effect: section.settings.shadow_effect,
                                        auto_width: section.settings.auto_width
                                    %}
                                </div>
                            </li>
                        {% endunless %}
                        {%- endfor -%}

                    </ul>
                
                </slider-component>

            </div>

        </div>
    </div>
</div>

{% schema %}
    {
        "name": "🔰 Collection List",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Collections"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": true
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "collection",
                "name": "Featured Collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "featured_collection",
                        "label": "Collection"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name": "🔰 Collection List",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "collection"
                    },
                    {
                        "type": "collection"
                    },
                    {
                        "type": "collection"
                    }
                ]
            } 
        ]
    }
{% endschema %}