{% style %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

#columns-position-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  color: {{ section.settings.color }};
}

.columns-position__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  #columns-position-{{ section.id }} {
    min-height: 787px;
    overflow-x: scroll;
  }

  .columns-position__container {
    width: 138vw;
    justify-content: start;
  }
}

{% endstyle %}
<div id="columns-position-{{ section.id }}" class="columns-position section-{{ section.id }}-padding">
  <div class="columns-position__container">
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    PositionColumns("{{ section.id }}")
  })
</script>
{% schema %}
{
  "name": "Columns Position",
  "tag": "section",
  "class": "section",
  "limit": 1,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    { "name": "Columns Position" }
  ]
}
{% endschema %}
