{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="container text-center">
    <h2>{{ page.title }}</h2>
    <p>Please fill out the form below to send a message to Customer Support or give us a call at <a href="tel:{{ settings.phone_support }}" style="text-decoration:underline;">{{ settings.phone_support }}</a> {{ settings.hours_support }}</p>
    <form class="grid full margin-t-lg" id="contact-us-form">
        <div class="grid _half _mob-full">
            <input type="text" placeholder=" *First Name" aria-label="first name" id="contact-us-fname" required />
            <input type="text" placeholder=" *Last Name" aria-label="last name" id="contact-us-lname" required />
            <input type="email" placeholder=" *Email" aria-label="email address" id="contact-us-email" required />
            <input type="tel" placeholder=" *Phone Number" aria-label="telephone number" id="contact-us-tel" required />
            <select id="contact-us-reason" aria-label="Reason for contact" required>
                <option value="" disabled selected> *Choose Reason</option>
                <option value="Account|||low|||problem">Account</option>
                <option value="Cancel/Change Order|||urgent|||question">Cancel/Change Order</option>
                <option value="Customer feedback|||low|||question">Customer feedback</option>
                <option value="Discounts/Gift-cards|||normal|||question">Discounts/Gift-cards</option>
                <option value="Existing Order|||normal|||question">Existing Order</option>
                <option value="Order Tracking|||normal|||task">Order Tracking</option>
                <option value="Ordering/Payment|||high|||question">Ordering/Payment</option>
                <option value="Returns/Refunds|||normal|||incident">Returns/Refunds</option>
                <option value="Product Question|||normal|||question">Product Question</option>
            </select>
            <input type="text" placeholder="Order Number" aria-label="order number" id="contact-us-order-num">
        </div>
        <input type="text" placeholder="*Subject" aria-label="subject" id="contact-us-subject" required />
       <textarea rows="10" placeholder="*Message" maxlength="500" id="contact-us-message"  required></textarea>
       <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</section>

{% schema %}
{
  "name": "t:sections.contact-us-google-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "t:sections.contact-us-google-form.presets.name"
    }
  ]
}
{% endschema %}
