{{ 'bootstrap-utilities.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.sales-banner h2 {
font-weight: 900;
text-shadow: 3px 3px 0px rgba(0,0,0,0.4);
}

.sales-banner {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sales-banner h2 {
  margin: 0;
  
}

.sales-banner p {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
}




{%endstyle%}



<div class="section-{{ section.id }}-padding">
<div class="sales-banner" style="background-color: {{ section.settings.color_background }}; color: {{ section.settings.color_text }}!important">
  {%- if section.settings.link != blank -%}<a href="{{ section.settings.link }}" role="link" style="color: {{ section.settings.color_text }}!important; text-decoration: none!important;">{%- endif -%}
  <div class="page-width">
    
        <div class="d-flex align-middle justify-content-center">
          
          <h2 class="{% if section.settings.flashing_text == true %}blink{%endif%} h1" style="color: {{ section.settings.color_text }}!important">{{ section.settings.custom_text_title }}</h2>
         {% if section.settings.additional != blank %}<p class="mt-3 {% if section.settings.uppercase_additional == true%}text-uppercase{%endif%}">{{section.settings.additional}}</p>{%endif%}
     
                
            

        </div>
    
    
 
  </div>
  {%- if section.settings.link != blank -%}</a>{%- endif -%}
</div>
</div>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
{
        "id": "additional",
        "type": "text",
        "label": "Additional Text",
        "default": "Use code: #123"
      },

      {
        "id": "custom_text_body",
        "type": "text",
        "label": "Add custom text below",
        "default": "Add your text here"
      },




{
  "type": "color",
  "id": "color_background",
  "label": "Background Color",
  "default": "#000"
},
{
  "type": "color",
  "id": "color_text",
  "label": "Text Colour",
  "default": "#FFFFFF"
},
{
          "type": "url",
          "id": "link",
          "label": "Add link"
        },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Image Banner",
        "category": "info"
      }
    ]
  }
{% endschema %}