{{ 'bootstrap-utilities.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.custom-image-banner  {
padding-top: 80px!important;
padding-bottom: 80px!important;
background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background-size: cover;
box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}

.custom-image-banner h2 {
font-weight: 900;
text-shadow: 3px 3px 0px rgba(0,0,0,0.4);
}


.custom-image-banner .button {
background-color: white;
color: black;
}



{%endstyle%}



<div class="section-{{ section.id }}-padding">
   {%- if section.settings.link != blank -%}<a href="{{ section.settings.link }}" role="link" style="color: {{ section.settings.color_text }}!important; text-decoration: none!important;">{%- endif -%}
<div class="custom-image-banner" style="background-image:url('{{ section.settings.background_image  | img_url: 'master' }}'); background-color: {{ section.settings.color_background }}; color: {{ section.settings.color_text }}!important">
 
  <div class="page-width">
    
        <div class="d-flex h-100 flex-column justify-content-center align-items-center align-middle text-center ">
          <div>
          <h2 class="{% if section.settings.flashing_text == true %}blink{%endif%} h1" style="color: {{ section.settings.color_text }}!important">{{ section.settings.custom_text_title }}</h2>
          </div>
          <div>
            {% if section.settings.additional != blank %}<p class="mt-3 text-center {% if section.settings.uppercase_additional == true%}text-uppercase{%endif%}">{{section.settings.additional}}</p>{%endif%}
     
          </div>
          <div>
            <a href="{{ section.settings.link }}" class="button">Learn More</a>
          </div>
            

        </div>
    
    
 
  </div>

</div>
    {%- if section.settings.link != blank -%}</a>{%- endif -%}
</div>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
{
        "id": "additional",
        "type": "text",
        "label": "Additional Text",
        "default": "Use code: #123"
      },

      {
        "id": "custom_text_body",
        "type": "text",
        "label": "Add custom text below",
        "default": "Add your text here"
      },




{
  "type": "color",
  "id": "color_background",
  "label": "Background Color",
  "default": "#000"
},
{
  "type": "color",
  "id": "color_text",
  "label": "Text Colour",
  "default": "#FFFFFF"
},
{
  "type": "image_picker",
  "id": "background_image",
  "label": "Background Image"
},
{
          "type": "url",
          "id": "link",
          "label": "Add link"
        },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Image Banner",
        "category": "info"
      }
    ]
  }
{% endschema %}