{{ 'bootstrap-utilities.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.splash-banner h2 {
font-weight: 900;
text-shadow: 3px 3px 0px rgba(0,0,0,0.4);
font-style: italic;
}

.splash-banner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.splash-banner h2 {
  margin: 0;
  
}

.splash-banner p {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
}


.splash-banner .icon {
width: auto;
height: 100px;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}



{%endstyle%}



<div class="section-{{ section.id }}-padding">
<div class="splash-banner" style="background-color: {{ section.settings.color_background }}; color: {{ section.settings.color_text }}!important">
  <div class="page-width">
    
        <div class="align-middle text-center">
         
        
  <div class="row justify-content-between">
  <div class="col-md-4">
    <img src="{{ section.settings.image_1  | img_url: 'master' }}" class="icon" loading="lazy"/>
    <h2>{{ section.settings.heading_1 }}</h2>
    <p>{{ section.settings.description_1 }}</p>
    </div>
    <div class="col-md-4">
    <img src="{{ section.settings.image_2  | img_url: 'master' }}" class="icon" loading="lazy"/>
      <h2>{{ section.settings.heading_2 }}</h2>
    <p>{{ section.settings.description_2 }}</p>
    </div>
    <div class="col-md-4">
     <img src="{{ section.settings.image_3  | img_url: 'master' }}" class="icon" loading="lazy"/>
      <h2>{{ section.settings.heading_3 }}</h2>
    <p>{{ section.settings.description_3 }}</p>
    </div>
  </div>


                
            

        </div>
    
    
 
  </div>

</div>
</div>

{% schema %}
  {
    "name": "Full Page Splash",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
{
  "type": "image_picker",
  "id": "image_1",
  "label": "Image 1"
},

{
  "type": "text",
  "id": "heading_1",
  "label": "Heading"
},


{
  "type": "text",
  "id": "description_1",
  "label": "Description"
},


{
  "type": "image_picker",
  "id": "image_2",
  "label": "Image 2"
},

{
  "type": "text",
  "id": "heading_2",
  "label": "Heading"
},


{
  "type": "text",
  "id": "description_2",
  "label": "Description"
},

{
  "type": "image_picker",
  "id": "image_3",
  "label": "Image 2"
},

{
  "type": "text",
  "id": "heading_3",
  "label": "Heading"
},


{
  "type": "text",
  "id": "description_3",
  "label": "Description"
},




{
  "type": "color",
  "id": "color_background",
  "label": "Background Color",
  "default": "#000"
},
{
  "type": "color",
  "id": "color_text",
  "label": "Text Colour",
  "default": "#FFFFFF"
},

          

    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Full Page Splash",
        "category": "info"
      }
    ]
  }
{% endschema %}