 {{ 'slick.min.js' | asset_url | script_tag }}


 {{ 'slick.css' | asset_url | stylesheet_tag }}


 {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script> 

<script>
  $(document).ready(function(){
    
$('.slider_wrap').slick({
infinite: true,
slidesToShow: 1,
slidesToScroll: 1,
  arrows:true,
  dots: true
});
    });
</script>


<div class="slider_wrap" data-slick='{"autoplay": {{ section.settings.carousel_autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed }}, "dots": {{ section.settings.carousel_dots }}, "arrows": {{ section.settings.carousel_arrows }}}'>

  {% for block in section.blocks %}
    <div class="slider_item">
      <div class="content_wrap">
      <div class="slider_content">
        <h4 class="slider_title" style="text-align: center; text-transform: uppercase; ">{%if block.settings.icon != blank%}<i class="{{  block.settings.icon }}" style="color: {{block.settings.icon_color}};"></i> {%endif%}{{  block.settings.slide_title }}</h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% schema %}
{
"name": "Text Carousel",
"max_blocks": 8,
"settings": [

  {
    "type": "checkbox",
    "id": "carousel_autoplay",
    "label": "Enable autoplay",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "carousel_dots",
    "label": "Enable dots",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "carousel_arrows",
    "label": "Enable arrows",
    "default": false
  },
  {
    "type": "select",
    "id": "autoplay_speed",
    "label": "Change slides every",
      "options": [
      { "value": "1000", "label": "1 seconds" },
      { "value": "2000", "label": "2 seconds" },
      { "value": "3000", "label": "3 seconds" },
      { "value": "4000", "label": "4 seconds" },
      { "value": "5000", "label": "5 seconds" },
      { "value": "6000", "label": "6 seconds" },
      { "value": "7000", "label": "7 seconds" },
      { "value": "8000", "label": "8 seconds" },
      { "value": "9000", "label": "9 seconds" },
      { "value": "10000", "label": "10 seconds" }
    ],
    "default": "7000"
  }
],
"blocks": [
  {
  "type": "slide",
  "name": "Slide",
  "settings": [
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slider title"
        },

{
      "type": "select",
      "id": "icon",
      "options": [
        {
          "value": "fa-solid fa-star",
          "label": "Star"
        },

        {
          "value": "fa-solid fa-box-open",
          "label": "Box"
        },
        {
          "value": "fa-solid fa-tag",
          "label": "Tag"
        },
{
          "value": "fa-solid fa-trophy",
          "label": "Trophy"
        }
      ],
      "default": "fa-solid fa-star",
      "label": "Icon"
    },
{
  "type": "color",
  "id": "icon_color",
  "label": "Icon Color"
}

      ]
    }
  ]
}
{% endschema %}

