 {{ 'slick.min.js' | asset_url | script_tag }}


 {{ 'slick.css' | asset_url | stylesheet_tag }}


 {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script>
  $(document).ready(function(){
    
$('.slider_wrap').slick({
infinite: true,
slidesToShow: 1,
slidesToScroll: 1,
  arrows:true,
  dots: true
});
    });
</script>


<div class="slider_wrap" data-slick='{"autoplay": {{ section.settings.carousel_autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed }}, "dots": {{ section.settings.carousel_dots }}, "arrows": {{ section.settings.carousel_arrows }}}'>

  {% for block in section.blocks %}
    <div class="slider_item">
      <div class="content_wrap">
      <div class="slider_content">
        <h4 class="slider_title" style="text-align: center; text-transform: uppercase; ">{%if block.settings.icon != blank%}<i class="{{  block.settings.icon }}" style="color: {{block.settings.icon_color}};"></i> {%endif%}{{  block.settings.slide_title }}</h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% schema %}
  {
    "name": "Text Carousel",
    "settings": [
  

{
  "type": "image_picker",
  "id": "image1",
  "label": "Image 1"
},
  {
        "id": "title1",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
{
          "type": "url",
          "id": "link1",
          "label": "Add link"
        },


    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }

    ],
    "presets": [
      {
        "name": "Text Carousel"
       
      }
    ]
  }
{% endschema %}

