
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.promo-splash {

display: flex;
  justify-content: center;
  align-items: center;
height: auto;
padding-top: 20px;
padding-bottom: 20px;
}

.promo-splash-img {
 background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	background-size: cover;

}

.promo-splash-content {
width: 700px;
margin-left: auto;
margin-right: auto;
text-align: center;

}

@media (max-width: 750px) {
.promo-splash-content {
width: auto;
}
}

.promo-splash-content h2 {
margin-top: 0!important;
}

.promo-splash-content .heading {
	background-color: white;
    color: black;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 1.1;
    margin: 0;
padding: 3px;
width: auto;
    text-transform: uppercase;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
font-weight: 900;
}

.promo-splash-content p {
color: white;
}

.promo-splash-content .link {
background-color: #f9ca24;
    color: black;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 1.1;
    margin: 0;
width: auto;
    text-transform: uppercase;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
font-weight: 900!important;
padding: 6px;
margin-top: 10px;
text-decoration: none;
 font-family: 'Montserrat', sans-serif;
-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2); 
box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
}



{%- endstyle -%}
<div class="section-{{ section.id }}-padding">
<div class="promo-splash promo-splash-img section-{{ section.id }}-padding" {% if section.settings.background_image != blank %}  style="background-image:url('{{ section.settings.background_image  | img_url: 'master' }}');" {%else%} style="background-color: {{ section.settings.color_title }};" {%endif%}>
<div class="promo-splash-content">
  <h2><span class="promo-splash-content heading">Beer Tokens</span></h2>
  <p>Remember to create an account to start collecting Beer Tokens!</p>
  <a class="promo-splash-content link">Get Started</a>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Beer Tokens Promotion",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
{
  "type": "color",
  "id": "color_title",
  "label": "Background",
  "default": "#FFFFFF"
},
{
  "type": "color",
  "id": "color_text",
  "label": "Text Colour",
  "default": "#FFFFFF"
},
{
          "type": "url",
          "id": "link",
          "label": "Add link"
        },
{
  "type": "image_picker",
  "id": "background_image",
  "label": "Background Image"
},
{
          "type": "text",
          "id": "link_label",
          "label": "Add link label"
        },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Beer Tokens Promotion",
        "category": "info"
      }
    ]
  }
{% endschema %}