{{ 'section-custom-page-blocks.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

<div class="page-width page-blocks{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'archive_events' %}
        <div class="page-block page-block--archive-events" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            {% if block.settings.heading != blank %}
              <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
            {% endif %}
            <div class="page-block__columns">
              <div class="page-block__column page-block__column--events">
                <div class="archive-events">
                  {% for i in (1..9) %}
                    {% assign event_title_key = 'event' | append: i | append: '_title' %}
                    {% assign event_description_key = 'event' | append: i | append: '_description' %}
                    {% assign event_image_key = 'event' | append: i | append: '_image' %}

                    {% assign event_title = block.settings[event_title_key] %}
                    {% assign event_description = block.settings[event_description_key] %}
                    {% assign event_image = block.settings[event_image_key] %}

                    {% if event_title != blank %}
                      <div class="archive-event" data-image-id="Event-Image-{{ i }}-{{ block.id }}">
                        <div class="archive-event__title">{{ event_title }}</div>
                        <div class="archive-event__description">{{ event_description }}</div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="page-block__column page-block__column--images">
                <div class="page-block__event-images">
                  {% for i in (1..9) %}
                    {% assign event_image_key = 'event' | append: i | append: '_image' %}
                    {% assign event_title_key = 'event' | append: i | append: '_title' %}

                    {% assign event_image = block.settings[event_image_key] %}
                    {% assign event_title = block.settings[event_title_key] %}

                    {% if event_image != blank %}
                      <div
                        class="page-block__event-image{% if forloop.first %} active{% endif %}"
                        id="Event-Image-{{ i }}-{{ block.id }}"
                      >
                        {% assign img_url = event_image | img_url: '1600x' %}
                        <img
                          srcset="{{ img_url }} 1x, {{ event_image | img_url: '1600x', scale: 2 }} 2x"
                          src="{{ img_url }}"
                          alt="{{ event_title | escape }}"
                          loading="lazy"
                          width="{{ event_image.width }}"
                          height="{{ event_image.height }}"
                        >
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'about_collapsible' %}
        <div
          class="page-block page-block--about-collapsible"
          {{ block.shopify_attributes }}
          data-slideshow-speed="{{ block.settings.slideshow_speed }}"
          data-block-id="{{ block.id }}"
        >
          <div class="page-block__content">
            <div class="page-block__columns">
              <div class="page-block__column page-block__column--images">
                <div class="page-block__slideshow">
                  {% if block.settings.image1 != blank %}
                    <div
                      class="page-block__slideshow-item{% if forloop.first %} active{% endif %}"
                      data-slide-index="0"
                    >
                      {% assign img_url = block.settings.image1 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image1 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image1.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image1.width }}"
                        height="{{ block.settings.image1.height }}"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.image2 != blank %}
                    <div class="page-block__slideshow-item" data-slide-index="1">
                      {% assign img_url = block.settings.image2 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image2 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image2.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image2.width }}"
                        height="{{ block.settings.image2.height }}"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.image3 != blank %}
                    <div class="page-block__slideshow-item" data-slide-index="2">
                      {% assign img_url = block.settings.image3 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image3 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image3.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image3.width }}"
                        height="{{ block.settings.image3.height }}"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.image4 != blank %}
                    <div class="page-block__slideshow-item" data-slide-index="3">
                      {% assign img_url = block.settings.image4 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image4 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image4.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image4.width }}"
                        height="{{ block.settings.image4.height }}"
                      >
                    </div>
                  {% endif %}
                  {% if block.settings.image5 != blank %}
                    <div class="page-block__slideshow-item" data-slide-index="4">
                      {% assign img_url = block.settings.image5 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image5 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image5.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image5.width }}"
                        height="{{ block.settings.image5.height }}"
                      >
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="page-block__column page-block__column--collapsible">
                {% if block.settings.heading != blank %}
                  <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
                {% endif %}

                <div class="page-block__accordion-container">
                  {% if block.settings.row1_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row1-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row1_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row1-Content-{{ block.id }}">
                          {{ block.settings.row1_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}

                  {% if block.settings.row2_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row2-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row2_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row2-Content-{{ block.id }}">
                          {{ block.settings.row2_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}

                  {% if block.settings.row3_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row3-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row3_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row3-Content-{{ block.id }}">
                          {{ block.settings.row3_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}

                  {% if block.settings.row4_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row4-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row4_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row4-Content-{{ block.id }}">
                          {{ block.settings.row4_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}

                  {% if block.settings.row5_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row5-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row5_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row5-Content-{{ block.id }}">
                          {{ block.settings.row5_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}

                  {% if block.settings.row6_heading != blank %}
                    <div class="page-block__accordion accordion">
                      <details id="Details-Row6-{{ block.id }}">
                        <summary>
                          <div class="summary__title">
                            <h2 class="h4 accordion__title" style="padding-left: 0;">
                              {{ block.settings.row6_heading }}
                            </h2>
                          </div>
                        </summary>
                        <div class="accordion__content rte" id="Row6-Content-{{ block.id }}">
                          {{ block.settings.row6_content }}
                        </div>
                      </details>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'image_with_embed' %}
        <div class="page-block page-block--image-with-embed" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            <div class="page-block__columns">
              <div class="page-block__column page-block__column--images">
                <div class="page-block__images">
                  {% if block.settings.image1 != blank %}
                    <div class="page-block__image">
                      {% assign img_url = block.settings.image1 | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.image1 | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.image1.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image1.width }}"
                        height="{{ block.settings.image1.height }}"
                      >
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="page-block__column page-block__column--embed">
                {% if block.settings.heading != blank %}
                  <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
                {% endif %}
                <div class="page-block__embed">
                  {% if block.settings.embed_code != blank %}
                    {{ block.settings.embed_code }}
                  {% else %}
                    <div class="page-block__placeholder">
                      <p>{{ 'sections.custom_page_blocks.placeholder' | t }}</p>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'embed_widget' %}
        <div class="page-block page-block--embed-widget" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            {% if block.settings.heading != blank %}
              <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
            {% endif %}
            <div class="page-block__embed">
              {% if block.settings.embed_code != blank %}
                {{ block.settings.embed_code }}
              {% else %}
                <div class="page-block__placeholder">
                  <p>{{ 'sections.custom_page_blocks.placeholder' | t }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% when 'rich_text' %}
        <div class="page-block page-block--rich-text" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            {% if block.settings.heading != blank %}
              <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="page-block__text rte">
                {{ block.settings.text }}
              </div>
            {% endif %}
          </div>
        </div>
      {% when 'logo_grid' %}
        {% assign logo_width = block.settings.logo_width | default: 150 %}
        {% assign scroll_speed = block.settings.scroll_speed | default: 40 %}
        <div
          class="page-block page-block--logo-grid"
          {{ block.shopify_attributes }}
          data-logo-width="{{ logo_width }}"
          data-scroll-speed="{{ scroll_speed }}"
        >
          <div class="page-block__content">
            {% if block.settings.heading != blank %}
              <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
            {% endif %}
            <div class="logo-grid-wrapper">
              <div class="logo-grid-container">
                {% comment %} First set of logos {% endcomment %}
                {% for i in (1..12) %}
                  {% assign logo_key = 'logo' | append: i %}
                  {% assign logo_url_key = 'logo' | append: i | append: '_url' %}
                  {% assign logo = block.settings[logo_key] %}
                  {% assign logo_url = block.settings[logo_url_key] %}

                  {% if logo != blank %}
                    <div class="logo-grid__item" style="width: {{ logo_width }}px;">
                      {% if logo_url != blank %}
                        <a href="{{ logo_url }}" class="logo-grid__link" target="_blank" rel="noopener">
                      {% endif %}
                      <div class="logo-grid__image-container">
                        {% assign img_url = logo | img_url: '300x' %}
                        <img
                          srcset="{{ img_url }} 1x, {{ logo | img_url: '300x', scale: 2 }} 2x"
                          src="{{ img_url }}"
                          alt="{{ logo.alt | escape }}"
                          loading="lazy"
                          width="{{ logo.width }}"
                          height="{{ logo.height }}"
                          class="logo-grid__image"
                        >
                      </div>
                      {% if logo_url != blank %}
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}

                {% comment %} Duplicate set of logos for seamless scrolling {% endcomment %}
                {% for i in (1..12) %}
                  {% assign logo_key = 'logo' | append: i %}
                  {% assign logo_url_key = 'logo' | append: i | append: '_url' %}
                  {% assign logo = block.settings[logo_key] %}
                  {% assign logo_url = block.settings[logo_url_key] %}

                  {% if logo != blank %}
                    <div class="logo-grid__item" style="width: {{ logo_width }}px;">
                      {% if logo_url != blank %}
                        <a href="{{ logo_url }}" class="logo-grid__link" target="_blank" rel="noopener">
                      {% endif %}
                      <div class="logo-grid__image-container">
                        {% assign img_url = logo | img_url: '300x' %}
                        <img
                          srcset="{{ img_url }} 1x, {{ logo | img_url: '300x', scale: 2 }} 2x"
                          src="{{ img_url }}"
                          alt="{{ logo.alt | escape }}"
                          loading="lazy"
                          width="{{ logo.width }}"
                          height="{{ logo.height }}"
                          class="logo-grid__image"
                        >
                      </div>
                      {% if logo_url != blank %}
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% when 'retreats_grid' %}
        <div class="page-block page-block--retreats-grid" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            {% if block.settings.heading != blank %}
              <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
            {% endif %}
            <div class="retreats-grid">
              <div class="retreats-grid__item">
                {% if block.settings.retreat1_image != blank %}
                  <a href="{{ block.settings.retreat1_url }}" class="retreats-grid__image-link">
                    <div class="retreats-grid__image">
                      {% assign img_url = block.settings.retreat1_image | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.retreat1_image | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.retreat1_image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.retreat1_image.width }}"
                        height="{{ block.settings.retreat1_image.height }}"
                      >
                    </div>
                  </a>
                {% endif %}
                <div class="retreats-grid__info">
                  <div class="retreats-grid__left">
                    <h2 class="retreats-grid__title">{{ block.settings.retreat1_title }}</h2>
                    <a href="{{ block.settings.retreat1_url }}" class="retreats-grid__link">
                      {{- 'sections.custom_page_blocks.read_more' | t -}}
                    </a>
                  </div>
                  <div class="retreats-grid__right">
                    <div class="retreats-grid__location">{{ block.settings.retreat1_location }}</div>
                    <div class="retreats-grid__date">{{ block.settings.retreat1_date }}</div>
                  </div>
                </div>
              </div>

              <div class="retreats-grid__item">
                {% if block.settings.retreat2_image != blank %}
                  <a href="{{ block.settings.retreat2_url }}" class="retreats-grid__image-link">
                    <div class="retreats-grid__image">
                      {% assign img_url = block.settings.retreat2_image | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.retreat2_image | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.retreat2_image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.retreat2_image.width }}"
                        height="{{ block.settings.retreat2_image.height }}"
                      >
                    </div>
                  </a>
                {% endif %}
                <div class="retreats-grid__info">
                  <div class="retreats-grid__left">
                    <h2 class="retreats-grid__title">{{ block.settings.retreat2_title }}</h2>
                    <a href="{{ block.settings.retreat2_url }}" class="retreats-grid__link">
                      {{- 'sections.custom_page_blocks.read_more' | t -}}
                    </a>
                  </div>
                  <div class="retreats-grid__right">
                    <div class="retreats-grid__location">{{ block.settings.retreat2_location }}</div>
                    <div class="retreats-grid__date">{{ block.settings.retreat2_date }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'contact_hero' %}
        <div class="page-block page-block--contact-hero" {{ block.shopify_attributes }}>
          <div class="page-block__content">
            <div class="page-block__columns">
              <div class="page-block__column page-block__column--images">
                <div class="page-block__images">
                  {% if block.settings.background_image != blank %}
                    <div class="page-block__image">
                      {% assign img_url = block.settings.background_image | img_url: '1600x' %}
                      <img
                        srcset="{{ img_url }} 1x, {{ block.settings.background_image | img_url: '1600x', scale: 2 }} 2x"
                        src="{{ img_url }}"
                        alt="{{ block.settings.background_image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.background_image.width }}"
                        height="{{ block.settings.background_image.height }}"
                      >
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="page-block__column page-block__column--contact">
                <div class="page-block__contact">
                  {% if block.settings.heading != blank %}
                    <h1 class="page-block__heading">{{ block.settings.heading }}</h1>
                  {% endif %}

                  <div class="page-block__contact-info">
                    {% if block.settings.email != blank %}
                      <div class="page-block__contact-item">
                        <a href="mailto:{{ block.settings.email }}" class="page-block__contact-link">
                          {{- block.settings.email -}}
                        </a>
                      </div>
                    {% endif %}
                    {% if block.settings.phone != blank %}
                      <div class="page-block__contact-item">
                        <a href="tel:{{ block.settings.phone }}" class="page-block__contact-link">
                          {{- block.settings.phone -}}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Page Blocks",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "archive_events",
      "name": "Archive Events",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "ARCHIVE"
        },
        {
          "type": "header",
          "content": "Event 1"
        },
        {
          "type": "text",
          "id": "event1_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event1_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event1_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 2"
        },
        {
          "type": "text",
          "id": "event2_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event2_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event2_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 3"
        },
        {
          "type": "text",
          "id": "event3_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event3_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event3_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 4"
        },
        {
          "type": "text",
          "id": "event4_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event4_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event4_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 5"
        },
        {
          "type": "text",
          "id": "event5_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event5_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event5_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 6"
        },
        {
          "type": "text",
          "id": "event6_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event6_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event6_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 7"
        },
        {
          "type": "text",
          "id": "event7_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event7_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event7_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 8"
        },
        {
          "type": "text",
          "id": "event8_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event8_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event8_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Event 9"
        },
        {
          "type": "text",
          "id": "event9_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "event9_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "event9_image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "about_collapsible",
      "name": "About with Collapsible",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "About Rave"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2 (Optional)"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3 (Optional)"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image 4 (Optional)"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image 5 (Optional)"
        },
        {
          "type": "range",
          "id": "slideshow_speed",
          "min": 3,
          "max": 10,
          "step": 1,
          "unit": "s",
          "label": "Slideshow speed",
          "default": 5
        },
        {
          "type": "header",
          "content": "Collapsible Rows"
        },
        {
          "type": "text",
          "id": "row1_heading",
          "label": "Row 1 Heading",
          "default": "The Rave Concept"
        },
        {
          "type": "richtext",
          "id": "row1_content",
          "label": "Row 1 Content"
        },
        {
          "type": "text",
          "id": "row2_heading",
          "label": "Row 2 Heading",
          "default": "Brand Activations and Events"
        },
        {
          "type": "richtext",
          "id": "row2_content",
          "label": "Row 2 Content"
        },
        {
          "type": "text",
          "id": "row3_heading",
          "label": "Row 3 Heading",
          "default": "Corporate Wellness"
        },
        {
          "type": "richtext",
          "id": "row3_content",
          "label": "Row 3 Content"
        },
        {
          "type": "text",
          "id": "row4_heading",
          "label": "Row 4 Heading",
          "default": "Join Our Community"
        },
        {
          "type": "richtext",
          "id": "row4_content",
          "label": "Row 4 Content"
        },
        {
          "type": "text",
          "id": "row5_heading",
          "label": "Row 5 Heading",
          "default": "The Rave Team"
        },
        {
          "type": "richtext",
          "id": "row5_content",
          "label": "Row 5 Content"
        },
        {
          "type": "text",
          "id": "row6_heading",
          "label": "Row 6 Heading",
          "default": "Trusted By"
        },
        {
          "type": "richtext",
          "id": "row6_content",
          "label": "Row 6 Content"
        }
      ]
    },
    {
      "type": "image_with_embed",
      "name": "Image with Embed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Schedule - See you on the mat"
        },
        {
          "type": "liquid",
          "id": "embed_code",
          "label": "Embed code",
          "info": "Add your embedded widget code"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        }
      ]
    },
    {
      "type": "embed_widget",
      "name": "Embed Widget",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "liquid",
          "id": "embed_code",
          "label": "Embed code",
          "info": "Add your embedded widget code"
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "Rich Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "logo_grid",
      "name": "Logo Grid",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "TRUSTED BY"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 80,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Logo width",
          "default": 150
        },
        {
          "type": "range",
          "id": "scroll_speed",
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "sec",
          "label": "Scrolling speed (higher is slower)",
          "default": 40
        },
        {
          "type": "header",
          "content": "Logos"
        },
        {
          "type": "image_picker",
          "id": "logo1",
          "label": "Logo 1"
        },
        {
          "type": "url",
          "id": "logo1_url",
          "label": "Logo 1 URL"
        },
        {
          "type": "image_picker",
          "id": "logo2",
          "label": "Logo 2"
        },
        {
          "type": "url",
          "id": "logo2_url",
          "label": "Logo 2 URL"
        },
        {
          "type": "image_picker",
          "id": "logo3",
          "label": "Logo 3"
        },
        {
          "type": "url",
          "id": "logo3_url",
          "label": "Logo 3 URL"
        },
        {
          "type": "image_picker",
          "id": "logo4",
          "label": "Logo 4"
        },
        {
          "type": "url",
          "id": "logo4_url",
          "label": "Logo 4 URL"
        },
        {
          "type": "image_picker",
          "id": "logo5",
          "label": "Logo 5"
        },
        {
          "type": "url",
          "id": "logo5_url",
          "label": "Logo 5 URL"
        },
        {
          "type": "image_picker",
          "id": "logo6",
          "label": "Logo 6"
        },
        {
          "type": "url",
          "id": "logo6_url",
          "label": "Logo 6 URL"
        },
        {
          "type": "image_picker",
          "id": "logo7",
          "label": "Logo 7"
        },
        {
          "type": "url",
          "id": "logo7_url",
          "label": "Logo 7 URL"
        },
        {
          "type": "image_picker",
          "id": "logo8",
          "label": "Logo 8"
        },
        {
          "type": "url",
          "id": "logo8_url",
          "label": "Logo 8 URL"
        },
        {
          "type": "image_picker",
          "id": "logo9",
          "label": "Logo 9"
        },
        {
          "type": "url",
          "id": "logo9_url",
          "label": "Logo 9 URL"
        },
        {
          "type": "image_picker",
          "id": "logo10",
          "label": "Logo 10"
        },
        {
          "type": "url",
          "id": "logo10_url",
          "label": "Logo 10 URL"
        },
        {
          "type": "image_picker",
          "id": "logo11",
          "label": "Logo 11"
        },
        {
          "type": "url",
          "id": "logo11_url",
          "label": "Logo 11 URL"
        },
        {
          "type": "image_picker",
          "id": "logo12",
          "label": "Logo 12"
        },
        {
          "type": "url",
          "id": "logo12_url",
          "label": "Logo 12 URL"
        }
      ]
    },
    {
      "type": "retreats_grid",
      "name": "Retreats Grid",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Retreats"
        },
        {
          "type": "header",
          "content": "Retreat 1"
        },
        {
          "type": "image_picker",
          "id": "retreat1_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "retreat1_title",
          "label": "Title",
          "default": "AUDO RETREAT with MAIASA & RAVE"
        },
        {
          "type": "url",
          "id": "retreat1_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "retreat1_location",
          "label": "Location",
          "default": "Denmark"
        },
        {
          "type": "text",
          "id": "retreat1_date",
          "label": "Date",
          "default": "April 26th 2025"
        },
        {
          "type": "header",
          "content": "Retreat 2"
        },
        {
          "type": "image_picker",
          "id": "retreat2_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "retreat2_title",
          "label": "Title",
          "default": "Retreat Title"
        },
        {
          "type": "url",
          "id": "retreat2_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "retreat2_location",
          "label": "Location",
          "default": "Location"
        },
        {
          "type": "text",
          "id": "retreat2_date",
          "label": "Date",
          "default": "Date"
        }
      ]
    },
    {
      "type": "contact_hero",
      "name": "Contact Hero",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SAY HI - BOOK A MEETING - REQUEST A CLASS"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email",
          "default": "hello@rave-yoga.com"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number",
          "default": "+ 45 55205794"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Blocks",
      "blocks": [
        {
          "type": "rich_text"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize logo grid scrolling
    const logoGrids = document.querySelectorAll('.page-block--logo-grid');
    logoGrids.forEach((grid) => {
      const scrollSpeed = grid.getAttribute('data-scroll-speed') || 40;
      grid.style.setProperty('--scroll-duration', `${scrollSpeed}s`);
    });

    // Initialize slideshows
    const slideshows = document.querySelectorAll('.page-block__slideshow');

    slideshows.forEach((slideshow) => {
      const block = slideshow.closest('.page-block--about-collapsible');
      const slideItems = slideshow.querySelectorAll('.page-block__slideshow-item');

      if (slideItems.length <= 1) return; // Don't set up slideshow if only one image

      // Get the slideshow speed from the data attribute or use default
      const speed =
        block && block.hasAttribute('data-block-id')
          ? parseInt(block.getAttribute('data-slideshow-speed') || 5) * 1000
          : 5000;

      let currentSlide = 0;

      // Set the first slide as active if not already
      slideItems.forEach((item, index) => {
        if (index === 0) {
          item.classList.add('active');
        } else {
          item.classList.remove('active');
        }
      });

      // Function to change slides
      function nextSlide() {
        // Remove active class from current slide
        slideItems[currentSlide].classList.remove('active');

        // Move to next slide or back to first slide
        currentSlide = (currentSlide + 1) % slideItems.length;

        // Add active class to new current slide
        slideItems[currentSlide].classList.add('active');
      }

      // Start the slideshow interval
      setInterval(nextSlide, speed);
    });

    // Initialize archive events hover functionality
    const archiveBlocks = document.querySelectorAll('.page-block--archive-events');

    archiveBlocks.forEach((block) => {
      const events = block.querySelectorAll('.archive-event');
      const eventImages = block.querySelectorAll('.page-block__event-image');

      // Show first image by default
      if (eventImages.length > 0) {
        eventImages.forEach((img) => {
          img.classList.remove('active');
        });
        eventImages[0].classList.add('active');
      }

      // Add hover event listeners to events
      events.forEach((event) => {
        const imageId = event.getAttribute('data-image-id');
        const imageElement = imageId ? document.getElementById(imageId) : null;

        event.addEventListener('mouseenter', function () {
          // Hide all images
          eventImages.forEach((img) => {
            img.classList.remove('active');
          });

          // Show the corresponding image
          if (imageElement) {
            imageElement.classList.add('active');
          } else {
            // If no image for this event, show the first image
            if (eventImages.length > 0) {
              eventImages[0].classList.add('active');
            }
          }
        });

        // When mouse leaves all events, show the first image
        event.addEventListener('mouseleave', function () {
          // Delay hiding to avoid flickering when moving between events
          setTimeout(() => {
            // Check if mouse is over any event
            const isHovering = Array.from(events).some((e) => e.matches(':hover'));

            if (!isHovering) {
              // Hide all images
              eventImages.forEach((img) => {
                img.classList.remove('active');
              });

              // Show the first image
              if (eventImages.length > 0) {
                eventImages[0].classList.add('active');
              }
            }
          }, 50);
        });
      });
    });
  });
</script>
