{{ 'bootstrap-utilities.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.sales-banner h2 {
font-weight: 900;
text-shadow: 3px 3px 0px rgba(0,0,0,0.4);
font-style: italic;
}

.sales-banner {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sales-banner h2 {
  margin: 0;
  
}

.sales-banner p {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
}


.sales-banner small {
  font-size: 10px;
   font-style:normal!important;
}


.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.countdown {
margin-left: auto;
margin-right: auto;
width: 250px;
}

@media (max-width: 750px) { 
.countdown {
width: auto;
}
}

.countdown {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
text-transform: uppercase;
}

.countdown .hours, .min, .sec {
display: block;
font-style: italic;
}

{%endstyle%}


<script type="text/javascript">
function countdown(dateEnd) {
  var timer, days, hours, minutes, seconds;
  var current = new Date();

  dateEnd = new Date(dateEnd);
  dateEnd = dateEnd.getTime();

  if ( isNaN(dateEnd) ) {
    return;
  }

  timer = setInterval(calculate, 1000);

  function calculate() {
    var dateStart = new Date();
    var dateStart = new Date(dateStart.getUTCFullYear(),
                             dateStart.getUTCMonth(),
                             dateStart.getUTCDate(),
                             dateStart.getUTCHours(),
                             dateStart.getUTCMinutes(),
                             dateStart.getUTCSeconds());
    var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000)

    if ( timeRemaining >= 0 ) {
      days    = parseInt(timeRemaining / 86400);
      timeRemaining   = (timeRemaining % 86400);
      hours   = parseInt(timeRemaining / 3600);
      timeRemaining   = (timeRemaining % 3600);
      minutes = parseInt(timeRemaining / 60);
      timeRemaining   = (timeRemaining % 60);
      seconds = parseInt(timeRemaining);

     
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      
    }else if ( timeRemaining < 0 ){
      document.getElementById("sales-banner").style.display = "none";
      document.getElementById("sales-banner").remove();
  
      
    } else {
      return;
    }
    
    
  
  }

  function display(hours, minutes, seconds) {}
}



countdown('{{ section.settings.countdown }}');
</script>

<div class="section-{{ section.id }}-padding" id="sales-banner">
<div class="sales-banner" style="background-color: {{ section.settings.color_background }}; color: {{ section.settings.color_text }}!important">
  {%- if section.settings.link != blank -%}<a href="{{ section.settings.link }}" role="link" style="color: {{ section.settings.color_text }}!important; text-decoration: none!important;">{%- endif -%}
  <div class="page-width">
    
        <div class="align-middle text-center">
          
          <h2 class="{% if section.settings.flashing_text == true %}blink{%endif%} h1" style="color: {{ section.settings.color_text }}!important">{{ section.settings.custom_text_title }}</h2>
         {% if section.settings.additional != blank %}<p class="mt-3 {% if section.settings.uppercase_additional == true%}text-uppercase{%endif%}">{{section.settings.additional}}</p>{%endif%}
 {% if section.settings.countdown != blank %}
          <div class="countdown mt-3">
  <div class="row justify-content-around">
  <div class="col-4">
    <span id="hours" class="h2" style="color: {{ section.settings.color_text }}!important"></span>
    <span class="hours">Hrs</span>
    </div>
    <div class="col-4">
      <span id="minutes" class="h2" style="color: {{ section.settings.color_text }}!important"></span>
      <span class="min">Min</span>
    </div>
    <div class="col-4">
      <span id="seconds" class="h2" style="color: {{ section.settings.color_text }}!important"></span>
      <span class="sec">Sec</span>
    </div>
  </div>

    
  
</div>
          {%endif%}
          <small>{{ section.settings.custom_text_body }}</small>
     
                
            

        </div>
    
    
 
  </div>
  {%- if section.settings.link != blank -%}</a>{%- endif -%}
</div>
</div>

{% schema %}
  {
    "name": "Sales Banner",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
{
  "type": "checkbox",
  "id": "flashing_text",
  "label": "Flashing Text",
  "default": true
},
{
        "id": "additional",
        "type": "text",
        "label": "Additional Text",
        "default": "Use code: #123"
      },
{
  "type": "checkbox",
  "id": "uppercase_additional",
  "label": "Uppercase"
},
      {
        "id": "custom_text_body",
        "type": "text",
        "label": "Add custom text below",
        "default": "Add your text here"
      },




{
  "type": "color",
  "id": "color_background",
  "label": "Background Color",
  "default": "#000"
},
{
  "type": "color",
  "id": "color_text",
  "label": "Text Colour",
  "default": "#FFFFFF"
},
{
          "type": "url",
          "id": "link",
          "label": "Add link"
        },
{
        "id": "countdown",
        "type": "text",
        "label": "Countdown",
        "default": "03/09/2022 09:24:00 AM"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "presets": [
      {
        "name": "Sales Banner",
        "category": "info"
      }
    ]
  }
{% endschema %}