{%- comment -%}
{
  "pack_name": "Collections - grid",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{% comment %} Color: check for gradient picker {% endcomment %}
{%- capture text_background_color -%}
  {%- if section.settings.text_background_color contains 'gradient' -%}
    {{ section.settings.text_background_color }}
  {%- else -%}
    {% unless section.settings.background_color contains 'rgba' %}
      {{ section.settings.background_color | color_modify: 'alpha', 0.4 }}
    {% endunless %}
  {%- endif -%}
{%- endcapture -%}

{%- comment -%} Images: all placeholders {%- endcomment -%}
{%- assign placeholder_image_id_1 = 'MQOA0n3chA8' -%}
{%- assign placeholder_image_id_2 = 'pSVYyO-XlJk' -%}
{%- assign placeholder_image_id_3 = 'WUFThNQ50D4' -%}
{%- assign placeholder_image_id_default = '1dfjC9MSFhk' -%}

{%- comment -%} Images: check image crop aspect ratio {%- endcomment -%}
{%- assign image_crop_width = section.settings.image_crop | split: ':' | first | times: 1000 -%}
{%- assign image_crop_height = section.settings.image_crop | split: ':' | last | times: 1000 -%}

{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}

{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  --gutter: 60px 30px;
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
}

#DP--{{ section.id }} .dsgn-pck__header__wrapper {
  margin-bottom: 2.5em;
  text-align: center;
}

#DP--{{ section.id }} .dsgn-pck__grid {
  gap: var(--gutter);
  grid-template-columns: repeat({{ section.settings.grid_number }}, minmax(150px, 1fr));
}

#DP--{{ section.id }} .dsgn-pck__item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 6s cubic-bezier(.25, .46, .45, .94);
}

#DP--{{ section.id }} .dsgn-pck__item .dsgn-pck__full-link {
  display: block;
}

#DP--{{ section.id }} .dsgn-pck__content {
  opacity: 0;
  transition: 0.3s;
  padding: 2em;
  position: relative;
  background: {{ text_background_color }};
}

#DP--{{ section.id }} .dsgn-pck__item:hover .dsgn-pck__image__wrapper img {
  transform: scale(1.1);
}

{%- if section.settings.enable_hover == true -%}
  #DP--{{ section.id }} .dsgn-pck__item:hover .dsgn-pck__content {
    opacity: 1;
  }
{%- else -%}
  #DP--{{ section.id }} .dsgn-pck__content {
    opacity: 1;
  }
{%- endif -%}

#DP--{{ section.id }} .dsgn-pck__grid-item__wrapper {
  position: relative;
  border-radius: {{ section.settings.border_radius }}px;
  overflow: hidden;
  display: grid;
}

#DP--{{ section.id }} .dsgn-pck__grid-item__wrapper > * {
  grid-area: 1 / 1 / 2 / 2;
}

#DP--{{ section.id }} .dsgn-pck__image__wrapper {
  overflow: hidden;
}

#DP--{{ section.id }} .dsgn-pck__heading {
  margin: 0;
  line-height: calc(3px + 2ex + 3px);
  color: {{ section.settings.heading_color }};
  font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__small-heading {
  margin: 0;
  line-height: calc(3px + 2ex + 3px);
  color: {{ section.settings.text_color }};
  font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 24px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__small-heading + .dsgn-pck__text {
  margin-top: 10px;
}

#DP--{{ section.id }} .dsgn-pck__text p {
  line-height: calc(3px + 3ex + 3px);
  color: {{ section.settings.text_color }};
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__link__wrapper {
  text-align: center;
}

#DP--{{ section.id }} .dsgn-pck__link {
  position: relative;
  margin-top: 1.2em;
  display: inline-block;
  width: auto;
  padding: 0;
  text-decoration: none;
  font-size: clamp(14px, {{ section.settings.text_size | times: 0.01 }}em, 65px);
  color: {{ section.settings.button_label_color }};
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__link:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  transition: all 0.3s ease-out;
  background-color: {{ section.settings.button_label_color }};
}

#DP--{{ section.id }} .dsgn-pck__grid-item:hover .dsgn-pck__link[href]:after {
  width: 100%;
}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #DP--{{ section.id }}.dsgn-pck__animation-applied [style*="--dsgn-pck-animate"] {
    /* animation-duration: 0.5s; */
    /* --dsgn-pck-animation-multiplier: 1s; */
    animation-name: dsgn-pck__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #DP--{{ section.id }} [style*="--dsgn-pck-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #DP--{{ section.id }} .dsgn-pck__content {
    padding: 1.2em;
  }

  #DP--{{ section.id }} .dsgn-pck__link {
    margin-top: 0.5em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #DP--{{ section.id }}  {
    --gutter: 30px 18px;
  }

  #DP--{{ section.id }} .dsgn-pck__grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }

  #DP--{{ section.id }} .dsgn-pck__grid {
    grid-template-columns: repeat({{ section.settings.mobile_grid_number }}, minmax(100px, 1fr));
  }

  {%- if section.settings.enable_hover == true -%}
    #DP--{{ section.id }} .dsgn-pck__item:hover .dsgn-pck__content {
      opacity: 0;
    }
  {%- endif -%}

  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    min-width: 70%;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__collection-grid dsgn-pck__section" {%- if section.settings.animation != 'none' -%}data-animated-section="{{ section.settings.animation }}"{%- endif -%}>
  <div class="dsgn-pck__sizer
              dsgn-pck__sizer--collection-grid">
    {%- if section.settings.heading != blank -%}
      <div class="dsgn-pck__header__wrapper">
        <h2 class="dsgn-pck__heading">{{ section.settings.heading }}</h2>
      </div>
    {%- endif -%}
    <div class="dsgn-pck__grid">
      {%- for block in section.blocks -%}
        {%- comment -%} Text: check text position {%- endcomment -%}
        {%- assign horizontal_text_position = block.settings.text_position | split: ' ' | first -%}
        {%- assign vertical_text_position = block.settings.text_position | split: ' ' | last -%}
        {%- comment -%} CSS {%- endcomment -%}
        <style>
          .dsgn-pck__block-{{ block.id }} img {
            object-position: {{ block.settings.focal_point }};
          }
        </style>
        {%- comment -%} Crop based on initial image width and height{%- endcomment -%}
        {%- if section.settings.image_crop == 'none' -%}
          {%- assign image_crop_width = block.settings.image.width | default: '1000' -%}
          {%- assign image_crop_height = block.settings.image.height | default: '1000' -%}
        {%- endif -%}
        {%- comment -%} Images: responsive image sizes {%- endcomment -%}
        {%- capture placeholder_image_id -%}
          {%- case forloop.index -%}
            {%- when 1 -%}
              {{ placeholder_image_id_1 }}
            {%- when 2 -%}
              {{ placeholder_image_id_2 }}
            {%- when 3 -%}
              {{ placeholder_image_id_3 }}
            {%- else -%}
              {{ placeholder_image_id_default }}
          {%- endcase -%}
        {%- endcapture -%}

        <div class="dsgn-pck__grid-item dsgn-pck__item dsgn-pck__block-{{ block.id }}" {{ block.shopify_attributes }} style="--dsgn-pck-animate: {{ forloop.index }};">
          <div class="dsgn-pck__grid-item__wrapper">
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}" class="dsgn-pck__absolute-link">{{ block.settings.link }}</a>
            {% endif %}
            {%- if block.settings.image != blank -%}
              <div class="dsgn-pck__image__wrapper">
                <svg class="dsgn-pck__svg-sizer" viewBox="0 0 {{ image_crop_width }} {{ image_crop_height }}"></svg>
                {%- capture sizes -%}
                  (max-width: 480px) {{ 100 | divided_by: section.settings.mobile_grid_number | round | append: 'vw' | default: '100vw' }}, {{ section.settings.base_width | divided_by: section.settings.grid_number | round | append: 'vw' | default: '33vw' }}
                {%- endcapture -%}
                {{ block.settings.image | image_url: width: 2800 | image_tag:  widths: widths, sizes: sizes }}
              </div>
            {%- else -%}
              <div class="dsgn-pck__image__wrapper">
                <svg class="dsgn-pck__svg-sizer" viewBox="0 0 {{ image_crop_width }} {{ image_crop_height }}"></svg>
                <img src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/{{ placeholder_image_id }}_800x.jpg"
                    alt=""
                    loading="lazy"
                    height="800"
                    width="800">
                </div>
            {%- endif -%}
            <div class="dsgn-pck__content dsgn-pck__flex dsgn-pck__justify-{{ horizontal_text_position }} dsgn-pck__align-{{ vertical_text_position }}">
              <div class="dsgn-pck__relative">
                {%- if block.settings.title != blank -%}
                  <h3 class="dsgn-pck__small-heading">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="dsgn-pck__text dsgn-pck__rte">{{ block.settings.text }}</div>
                {%- endif -%}
                </div>
              </div>
            </div>
            {%- if block.settings.button_label != blank -%}
              <div class="dsgn-pck__link__wrapper">
                <a class="dsgn-pck__link dsgn-pck__text" {%- if block.settings.link != blank -%}href="{{ block.settings.link }}"{%- endif -%}>{{ block.settings.button_label }}</a>
              </div>
            {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Collections - grid",
  "class": "DP__collections-grid",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Popular Collections"
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "Image aspect ratio",
      "default": "1:1",
      "options": [
        {
          "value": "4:3",
          "label": "Landscape (4:3)"
        },
        {
          "value": "2:3",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1:1",
          "label": "Square (1:1)"
        },
        {
          "value": "none",
          "label": "Original"
        }
      ]
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Image rounded corners",
      "min": 0,
      "max": 40,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "enable_hover",
      "label": "Show information on hover",
      "default": true
    },
    {
      "type": "range",
      "id": "grid_number",
      "label": "Items per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "mobile_grid_number",
      "label": "Items per row (mobile)",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 80,
      "max": 150,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#111B1C"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "text_background_color",
      "label": "Image overlay",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(120, 196, 245, 0) 74%)"
    },
    {
      "type": "color",
      "id": "button_label_color",
      "label": "Link label",
      "default": "#111b1c"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "fade-in",
          "label": "Fade-in"
        },
        {
          "value": "fade-in-left",
          "label": "Fade-in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade-in right"
        },
        {
          "value": "fade-in-up",
          "label": "Fade-in up"
        },
        {
          "value": "fade-in-down",
          "label": "Fade-in down"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 60,
      "max": 100,
      "step": 5,
      "default": 95,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content.",
      "default": "1000"
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 20,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Headings",
      "default": "serif"
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "Image focal point",
          "info": "Used to keep the subject of your photo in view.",
          "default": "center center",
          "options": [
            {
              "value": "20% 0",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
            {
              "value": "80% 0",
              "label": "Top right"
            },
            {
              "value": "20% 50%",
              "label": "Left"
            },
            {
              "value": "center center",
              "label": "Center"
            },
            {
              "value": "80% 50%",
              "label": "Right"
            },
            {
              "value": "20% 100%",
              "label": "Bottom left"
            },
            {
              "value": "bottom center",
              "label": "Bottom center"
            },
            {
              "value": "80% 100%",
              "label": "Bottom right"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Collection title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Link label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "default": "center bottom",
          "options": [
            {
              "value": "left top",
              "label": "Top left"
            },
            {
              "value": "center top",
              "label": "Top center"
            },
            {
              "value": "right top",
              "label": "Top right"
            },
            {
              "value": "left center",
              "label": "Left"
            },
            {
              "value": "center center",
              "label": "Center"
            },
            {
              "value": "right center",
              "label": "Right"
            },
            {
              "value": "left bottom",
              "label": "Bottom left"
            },
            {
              "value": "center bottom",
              "label": "Bottom center"
            },
            {
              "value": "right bottom",
              "label": "Bottom right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections - grid 🎒",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "title": "Comfortable",
            "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
            "focal_point": "top center",
            "text_position": "center bottom"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Stylish",
            "text": "<p>Curabitur id nulla ut nunc aliquam sodales.</p>",
            "focal_point": "top center",
            "text_position": "center bottom"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "Trendy",
            "text": "<p>Mauris nibh enim, ornare at consequat seds.</p>",
            "focal_point": "top center",
            "text_position": "center bottom"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "animation": {{ section.settings.animation | json }}
  }
</script>
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    animateSection: function(entries, observer){
      // Target the first entry available.
      let observedSection = entries[0];
      if (observedSection.isIntersecting) {
        observedSection.target.classList.add('dsgn-pck__animation-applied');
      }
    },
    load: function(section){
      if (this.settings.animation !== 'none'){
        const options = {
          root: null,
          rootMargin: '0px',
          threshold: 0.3
        };
        // Construct Intersection Observer.
        const observer = new IntersectionObserver( this.animateSection, options );
        // Observe if element is present.
        if (section) {
          observer.observe(section);
        }
      }
    },
    unload: function(section){
      section.classList.remove('dsgn-pck__animation-applied')
    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
