{%- comment -%}
{
  "pack_name": "Tabbed content",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{%- comment -%} Color: check if color is set to transparent {%- endcomment -%}
{%- assign button_alpha = section.settings.button_background_color | color_extract: 'alpha' -%}

{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}

{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'weight', 'normal' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{% comment %} Tab info {% endcomment %}
{% assign tabs = section.blocks | where: 'type', 'tab' %}
{% assign tab_count = tabs | size %}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>

{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
}

#DP--{{ section.id }} .dsgn-pck__tab-button-wrapper {
	display: flex;
	grid-gap: 4px;
	justify-content: center;
	align-items: flex-end;
}

#DP--{{ section.id }} .dsgn-pck__tab-title {
  border: none;
  transition: 0.3s ease;
  line-height: calc(3px + 2ex + 3px);
  color: {{ section.settings.tab_label_color }};
  font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 25px)) * {{ section.settings.text_size | times: 0.008 }});
  cursor: pointer;
  {%- if section.settings.override_theme_font != blank -%}
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__tab-title p {
  margin: 0;
}

{% comment %} Small tabs style  {% endcomment %}

#DP--{{ section.id }} .dsgn-pck_tab-style--small_tabs .dsgn-pck__tab-title {
  position: relative;
  border: none;
	border-radius: 6px 6px 0 0;
  background: transparent;
  padding: 1.5rem;
}

#DP--{{ section.id }} .dsgn-pck_tab-style--small_tabs .dsgn-pck__tab-title:hover {
  background: {{ section.settings.tab_highlight_color | color_modify: 'alpha', 0.4 }};
}


#DP--{{ section.id }} .dsgn-pck_tab-style--small_tabs .dsgn-pck__tab-title[aria-selected="true"]{
  {% comment %} background: {{ section.settings.tab_background_color }}; {% endcomment %}
  background: {{ section.settings.tab_highlight_color }};
	color: {{ section.settings.tab_label_highlight_color}}
}

#DP--{{ section.id }} .dsgn-pck_tab-panel--small_tabs{
	border-top: 4px solid {{ section.settings.tab_highlight_color }};
}


{% comment %} Big tabs style  {% endcomment %}

#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title {
  position: relative;
	border-radius: 6px 6px 0 0;
  background: transparent;
  padding: 1.5rem;
	padding-bottom: calc(1.5rem + 4px);
	width: calc(100% / {{tab_count}} );
}

#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 0;
	background: {{ section.settings.tab_highlight_color }};
	transition: 0.6s ease;
}

#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title:hover {
  background: {{ section.settings.tab_background_color | color_modify: 'alpha', 0.4 }};
}

#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title[aria-selected="true"]{
  background: {{ section.settings.tab_background_color }};
	color: {{ section.settings.tab_label_highlight_color}}
}

#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title[aria-selected="true"]::after {
  width: 100%;
}

{% comment %} Button style {% endcomment %}

#DP--{{ section.id }} .dsgn-pck_tab-panel--buttons {
	border-radius: 10px;
}

#DP--{{ section.id }} .dsgn-pck_tab-style--buttons.dsgn-pck__tab-button-wrapper {
	background: {{ section.settings.tab_background_color }};
	width: max-content;
	margin: 2rem auto;
	padding: 1.2rem;
	border-radius: 50px;
	gap: 1rem;
}

#DP--{{ section.id }} .dsgn-pck_tab-style--buttons .dsgn-pck__tab-title {
	background: transparent;
	padding: 0.8rem 1.5rem;
	border-radius: 50px;
}

#DP--{{ section.id }} .dsgn-pck_tab-style--buttons .dsgn-pck__tab-title:hover {
  background: {{ section.settings.tab_highlight_color | color_modify: 'alpha', 0.4 }};
}

#DP--{{ section.id }} .dsgn-pck_tab-style--buttons .dsgn-pck__tab-title[aria-selected="true"]{
  background: {{ section.settings.tab_highlight_color }};
	color: {{ section.settings.tab_label_highlight_color}};
}


{% comment %} end tab style {% endcomment %}

#DP--{{ section.id }} .dsgn-pck__tab-panel {
  width: 100%;
  margin: auto;
  background: {{ section.settings.tab_background_color }};
  padding: 1.5em;
}

#DP--{{ section.id }} .dsgn-pck__tab-panel[aria-hidden="false"] {
  display: block;
	position: relative;
}

#DP--{{ section.id }} .dsgn-pck__tab-panel[aria-hidden="true"] {
  display: none;
}

{% comment %} Block styling {% endcomment %}
#DP--{{ section.id }} .dsgn-pck__rte p,
#DP--{{ section.id }} .dsgn-pck__rte ul {
  line-height: calc(3px + 2.5ex + 3px);
  color: {{ section.settings.text_color }};
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__small-text p,
#DP--{{ section.id }} .dsgn-pck__small-text ul {
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.008 }});
}

{%- if section.settings.text_alignment == 'center' -%}
  #DP--{{ section.id }} .dsgn-pck__rte ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
{%- elsif section.settings.text_alignment == 'right' -%}
  #DP--{{ section.id }} .dsgn-pck__rte ul {
    display: table;
    margin-left: auto;
    text-align: left;
  }
{%- endif -%}

#DP--{{ section.id }} .dsgn-pck__block {
  color: {{ section.settings.text_color }};
}

#DP--{{ section.id }} .dsgn-pck__block + .dsgn-pck__block {
  margin-top: 15px;
}
{% comment %} End block styling {% endcomment %}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #DP--{{ section.id }}.dsgn-pck__animation-applied [style*="--dsgn-pck-animate"] {
    animation-name: dsgn-pck__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #DP--{{ section.id }} [style*="--dsgn-pck-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phones and down */
@media (max-width: 480px) {
  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    max-width: {{ max_width }};
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

	#DP--{{ section.id }} .dsgn-pck__tab-button-wrapper {
		justify-content: flex-start;
    overflow: auto;
	}

	#DP--{{ section.id }} .dsgn-pck__tab-title {
		padding: 1rem;
		white-space: nowrap;
	}


	#DP--{{ section.id }} .dsgn-pck_tab-style--big_tabs .dsgn-pck__tab-title {
		width: unset;
	}

	#DP--{{ section.id }} .dsgn-pck__tab-title  {
		line-height: calc(3px + 2ex + 3px);
		font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 18px)) * {{ section.settings.text_size | times: 0.008 }});
	}

	#DP--{{ section.id }} .dsgn-pck_tab-style--buttons.dsgn-pck__tab-button-wrapper {
		width: unset;
		margin: 1rem auto;
		padding: 0.8rem;
		border-radius: 50px;
		gap: 1rem;
	}

	#DP--{{ section.id }} .dsgn-pck_tab-style--buttons .dsgn-pck__tab-title {
		padding: 0.6rem 1.2rem;
	}



  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__tabbed-content dsgn-pck__section">
  <div class="dsgn-pck__sizer">
    <div class="dsgn-pck__wrapper">
    <div class="dsgn-pck__tab-button-wrapper dsgn-pck_tab-style--{{ section.settings.tab_style }}">
      {%- for tab in tabs -%}
        <button class="dsgn-pck__tab-title" data-dsgn-pck-tab="{{ tab.id }}" role="tab" aria-selected="{%- if forloop.first -%}true{%- else -%}false{%- endif -%}">
          <p class="dsgn-pck__small-heading">{{ tab.settings.tab_heading }}</p>
        </button>
      {%- endfor -%}
    </div>
    {%- assign tab_loop = 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type != 'tab' and forloop.first == true -%}
        <div class="dsgn-pck__tab-panel dsgn-pck__grid-tab dsgn-pck__grid-tab--0">
      {%- endif -%}
      {%- if block.type == 'tab' -%}
        {%- assign tab_loop = tab_loop | plus: 1 -%}
        {%- if tabs[0].id != block.id and forloop.first == false -%}
          </div><!-- end tab -->
        {%- endif -%}
        <div class="dsgn-pck__tab-panel dsgn-pck_tab-panel--{{ section.settings.tab_style }} dsgn-pck__grid-tab dsgn-pck__grid-tab--{{ tab_loop }} dsgn-pck__justify-{{ section.settings.text_alignment }}" id="DP--{{ block.id }}" class="dsgn-pck__tab-panel" data-dsgn-pck-panel="{{ block.id }}" role="tabpanel" aria-hidden="{%- if forloop.first -%}false{%- else -%}true{%- endif -%}">
        {% continue %}
      {%- endif -%}
        <div id="DP--{{ block.id }}" class="dsgn-pck__block dsgn-pck__block-id-{{ block.id }} dsgn-pck__block--{{ block.type }} dsgn-pck__block--{{ forloop.index }}" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when 'page' -%}
            {{ pages[block.settings.page].content }}
          {%- when 'clean_size_chart'-%}
            <div class="Clean_Size_Chart"></div>
          {%- when 'collapsible_content' -%}
              <div id="DP--{{ block.id }}" class="dsgn-pck__block dsgn-pck__block-id-{{ block.id }} dsgn-pck__block--{{ block.type }} dsgn-pck__block--{{ forloop.index }}">
                {%- comment -%}Icons: SVG URI encoded icons{%- endcomment -%}
                {%- capture closed_icon -%}
                  {%- case block.settings.icon_style -%}
                    {%- when 'plus_minus' -%}
                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E")
                    {%- when 'caret' -%}
                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E")
                    {%- when 'plus_minus_square' -%}
                      url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21 3.998c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-16.5.5h15v15h-15zm6.75 6.752h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z' fill-rule='nonzero' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E")
                  {%- endcase -%}
                {%- endcapture -%}

                {%- capture open_icon -%}
                  {%- case block.settings.icon_style -%}
                    {%- when 'plus_minus' -%}
                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 10h24v4h-24z' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E")
                    {%- when 'caret' -%}
                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E")
                    {%- when 'plus_minus_square' -%}
                      url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21 4c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-16.5.5h15v15h-15zm11.75 6.752h-8.5c-.414 0-.75.336-.75.75s.336.75.75.75h8.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z' fill-rule='nonzero' fill='{{ section.settings.text_color | replace: "#", "%23" }}'/%3E%3C/svg%3E");
                  {%- endcase -%}
                {%- endcapture -%}
                <style>
                  #DP--{{ section.id }} .dsgn-pck__block--collapsible_content + .dsgn-pck__block--collapsible_content {
                    margin-top: 0;
                  }

                  #DP--{{ section.id }} .dsgn-pck__block--collapsible_content + .dsgn-pck__block--collapsible_content .dsgn-pck__accordion {
                    border-top: 0;
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__accordion {
                    border-top: thin solid {{ section.settings.text_color }};
                    border-bottom: thin solid {{ section.settings.text_color }};
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__question {
                    position: relative;
                    cursor: pointer;
                    display: block;
                    padding: 10px 25px 10px 0;
                    color: {{ section.settings.text_color }};
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__small-heading {
                    margin: 0;
                    font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 24px)) * {{ section.settings.text_size | times: 0.008 }});
                    {%- if section.settings.override_theme_font != blank -%}
                      font-family: var(--heading-font);
                      font-weight: var(--heading-font-weight);
                      font-style: var(--heading-font-style);
                    {%- endif -%}
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__question::-webkit-details-marker {
                    display: none;
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__accordion[open] > .dsgn-pck__question:after {
                    background-image: {{ open_icon }};
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__question:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    height: 20px;
                    width: 20px;
                    background-image: {{ closed_icon }};
                    background-size: contain;
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__answer {
                    padding-top: 10px;
                    margin-bottom: 0;
                  }

                  .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__inner-answer {
                    padding: 10px;
                    padding-top: 0;
                  }
                </style>
                <details class="dsgn-pck__accordion dsgn-pck__icon-style-{{ block.settings.icon_style }}" {%- if block.settings.show_open == true -%} open {%- endif -%}>
                  <summary class="dsgn-pck__question">
                    <h3 class="dsgn-pck__small-heading">{{ block.settings.title }}</h3>
                  </summary>
                  <div class="dsgn-pck__answer">
                    <div class="dsgn-pck__inner-answer dsgn-pck__text dsgn-pck__rte">
                      {{ block.settings.text }}
                    </div>
                  </div>
                </details>
              </div>
          {%- when 'video' -%}
            <style>
              .dsgn-pck__block-id-{{ block.id }} video {
                width: 100%    !important;
                height: auto   !important;
              }
            </style>
            <div class="dsgn-pck__video__wrapper">
              {%- assign video = block.settings.video -%}
              <video width="{{ video.aspect_ratio | times: 100 }}" height="100"
                playsinline
                {% if block.settings.autoplay %}autoplay muted{% endif %}
                {% if block.settings.loop %}loop{% endif %}
                {% if block.settings.show_controls %}controls{% endif %}
                loading="lazy" poster="{{ video.preview_image | image_url: width: 2800 }}">
                {%- for source in video.sources -%}
                  <source src="{{ source.url }}">
                {%- endfor -%}
              </video>
            </div>
          {%- when 'newsletter' -%}
            <style>
              {%- assign button_alpha = block.settings.button_background_color | color_extract: 'alpha' -%}

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__form {
                --form-gap: 5px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: calc(var(--form-gap) * 2);
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__form-text {
                color: inherit;
                font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__form input {
                margin: unset;
                padding: 0.8em;
                font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__form input[type="text"],
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__form input[type="email"] {
                padding: 0.8em;
                background: transparent;
                border: thin solid {{ section.settings.text_color }};
                color: {{ section.settings.text_color }};
                {%- if section.settings.override_theme_font != blank -%}
                font-family: var(--main-font);
                font-weight: var(--main-font-weight);
                font-style: var(--main-font-style);
                {%- endif -%}
              }

              .dsgn-pck__form--{{ block.id }} input {
                width: 100%;
              }

              {%- if block.settings.show_first_name and block.settings.show_last_name -%}
                .dsgn-pck__form--{{ block.id }}-compact .dsgn-pck__newsletter_first-name,
                .dsgn-pck__form--{{ block.id }}-compact .dsgn-pck__newsletter_last-name {
                  width: calc(50% - var(--form-gap));
                }
              {%- endif -%}

              .dsgn-pck__form--{{ block.id }}-compact .dsgn-pck__newsletter_email {
                width: calc(70% - var(--form-gap));
              }

              .dsgn-pck__form--{{ block.id }}-compact .dsgn-pck__button {
                width: calc(30% - var(--form-gap));
              }

              .dsgn-pck__block-id-{{ block.id }} input::placeholder {
                opacity: 0.6;
                color: {{ section.settings.text_color }};
                {%- if section.settings.override_theme_font != blank -%}
                font-family: var(--main-font);
                font-weight: var(--main-font-weight);
                font-style: var(--main-font-style);
                {%- endif -%}
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button {
                justify-content: center;
                text-align: center;
                transition: all 0.3s ease-in-out;
                border: thin solid;
                border-radius: {{ block.settings.button_radius }}px;
                color: {{ block.settings.button_label_color }};
                font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
                border-color: {%- if button_alpha != 0 -%}{{ block.settings.button_background_color }}{%- else -%}{{ block.settings.button_label_color }}{%- endif -%};
                background-color: {{ block.settings.button_background_color }};
                {%- if section.settings.override_theme_font != blank -%}
                font-family: var(--main-font);
                font-weight: var(--main-font-weight);
                font-style: var(--main-font-style);
                {%- endif -%}
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button:hover {
                opacity: 1;
                {%- if button_alpha != 0 -%}
                background-color: {{ block.settings.button_background_color | color_darken: 10 }};
                border-color: transparent;
                {%- else -%}
                background-color: {{ block.settings.button_label_color | color_modify: 'alpha', 0.1 }}
                {%- endif -%};
              }
            </style>
            {%- capture form_id -%}dsgn-pck__form-{{ section.id }}{%- endcapture -%}
            {%- form 'customer', id: form_id -%}

              {%- comment -%} Error and success messages for submitted form {%- endcomment -%}
              <div class="dsgn-pck__form-response dsgn-pck__text">
                {%- if form.posted_successfully? -%}
                  <p class="dsgn-pck__form-reply--success">{{ 'success' | t }}</p>
                {%- elsif form.errors -%}
                  {%- for field in form.errors -%}
                    <p class="dsgn-pck__form-reply--error">{{ field }} - {{ form.errors.messages[field] }}</p>
                  {%- endfor -%}
                {%- endif -%}
              </div>

              {%- comment -%} Hidden newsletter fields {%- endcomment -%}
              <input type="hidden" name="contact[tags]" value="newsletter"/>
              <input type="hidden" name="challenge" value="false" />

              <div class="dsgn-pck__form dsgn-pck__form--{{ block.id }} dsgn-pck__form--{{ block.id }}-{{ block.settings.layout }}">
                {%- if block.settings.show_first_name -%}
                  <label class="dsgn-pck__visually-hidden" for="first-name-{{ block.id }}">{{ block.settings.first_name_label }}</label>
                  <input class="dsgn-pck__newsletter_first-name" type="text" name="contact[first_name]" id="first-name-{{ block.id }}" placeholder="{{ block.settings.first_name_label }}" />
                {%- endif -%}
                {%- if block.settings.show_last_name -%}
                  <label class="dsgn-pck__visually-hidden" for="last-name-{{ block.id }}">{{ block.settings.last_name_label }}</label>
                  <input class="dsgn-pck__newsletter_last-name" type="text" name="contact[last_name]" id="last-name-{{ block.id }}" placeholder="{{ block.settings.last_name_label }}" />
                {%- endif -%}
                <label class="dsgn-pck__visually-hidden" for="email-{{ block.id }}">{{ block.settings.email_label }}</label>
                <input class="dsgn-pck__newsletter_email" type="email" name="contact[email]" required id="email-{{ block.id }}" placeholder="{{ block.settings.email_label }}" />
                <input class="dsgn-pck__button" type="submit" value="{{ block.settings.submit_label }}" />
              </div>

            {%- endform -%}
          {%- when 'icons' -%}
            <style>
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icons {
                --flex-gap: {{ block.settings.gap }}px;
                gap: var(--flex-gap);
                flex-wrap: wrap;
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icon {
                --flex-items: {{ 100.00 | divided_by: block.settings.icon_width }};
                text-align: center;
                flex: 0 1 calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
                width: calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icon a,
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icon p {
                color: {{ section.settings.text_color }};
                line-height: 1.2;
                margin: 0;
                text-decoration: none;
                font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.007 }});
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icon img {
                position: relative;
                width: {{ block.settings.image_size }}%;
                height: auto;
                display: inline-block;
              }

              @media (max-width: 480px) {
                .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__icon {
                  --flex-items: {{ 100.00 | divided_by: block.settings.mobile_icon_width }};
                }
              }
            </style>
            <div class="dsgn-pck__flex dsgn-pck__icons {% if block.settings.icon_alignment == 'default' %}dsgn-pck__justify-{{ section.settings.text_alignment }}{% else %}dsgn-pck__justify-{{ block.settings.icon_alignment }}{% endif %}">
              {%- for index in (1..4) -%}
                {%- capture icon -%}icon_{{ forloop.index }}{%- endcapture -%}
                {%- capture text -%}text_{{ forloop.index }}{%- endcapture -%}
                {%- capture link -%}link_{{ forloop.index }}{%- endcapture -%}
                {%- if block.settings[icon] != blank -%}
                  <div class="dsgn-pck__flex-item dsgn-pck__icon dsgn-pck__rte">
                    {%- if block.settings[link] != blank -%}
                      <a href="{{ block.settings[link] }}">
                    {%- endif -%}

                      {{ block.settings[icon] | image_url: width: block.settings[icon].width | image_tag: loading: 'lazy', widths: widths, sizes: "50vw" }}
                      {%- if block.settings[text] != blank -%}
                        <p class="dsgn-pck__icon-text">
                          {{ block.settings[text] }}
                        </p>
                      {%- endif -%}
                    {%- if block.settings[link] != blank -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          {%- when 'text_columns' -%}
            <style>
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__columns {
                gap: {{ block.settings.gap }}px;
              }
            </style>
            <div class="dsgn-pck__flex dsgn-pck__columns dsgn-pck__flex--2-per-row dsgn-pck__justify-{{ block.settings.text_alignment }}">
              {%- for index in (1..2) -%}
                {%- capture heading -%}heading_{{ forloop.index }}{%- endcapture -%}
                {%- capture column -%}column_{{ forloop.index }}{%- endcapture -%}
                <div class="dsgn-pck__flex-item">
                  {%- if block.settings[heading] != blank -%}
                    <h3 class="dsgn-pck__small-heading dsgn-pck__column-heading">{{ block.settings[heading] }}</h3>
                  {%- endif -%}
                  {%- if block.settings[column] != blank -%}
                    <div class="dsgn-pck__rte">
                      {{ block.settings[column] }}
                    </div>
                  {%- endif -%}
              </div>
              {%- endfor -%}
            </div>
          {%- when 'small_text' -%}
            {%- if block.settings.small_text != blank -%}
              <div class="dsgn-pck__small-text dsgn-pck__rte">
                {{ block.settings.small_text }}
              </div>
            {%- endif -%}
          {%- when 'heading' -%}
            <style>
              {%- if block.settings.enable_custom_font != blank -%}
                {{ block.settings.custom_font | font_face: font_display: 'swap' }}
                {{ block.settings.custom_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
                {{ block.settings.custom_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}
                {{ block.settings.custom_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
                .dsgn-pck__block-id-{{ block.id }} {
                  --custom-font: {{ block.settings.custom_font.family }}, {{ block.settings.custom_font.fallback_families }};
                  --custom-font-weight: {{ block.settings.custom_font.weight }};
                  --custom-font-style: {{ block.settings.custom_font.style }};
                }
              {% endif %}

              {%- assign block_heading_alpha = block.settings.block_heading_color | color_extract: 'alpha' -%}

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__heading {
                margin: 0;
                line-height: calc(3px + 2ex + 3px);
                {%- if block_heading_alpha != 0 -%}
                  color: {{ block.settings.block_heading_color }};
                {%- endif -%}
                {%- if block.settings.block_heading_size != blank -%}
                  font-size: calc({{ block.settings.block_heading_size }} * {{ section.settings.text_size | times: 0.01 }});
                {%- else -%}
                  font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
                {%- endif -%}
                {%- if block.settings.enable_custom_font != blank -%}
                font-family: var(--custom-font);
                font-weight: var(--custom-font-weight);
                font-style: var(--custom-font-style);
                {%- elsif section.settings.override_theme_font != blank -%}
                font-family: var(--heading-font);
                font-weight: var(--heading-font-weight);
                font-style: var(--heading-font-style);
                {%- endif -%}
              }

              @media (max-width: 480px) {
                .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__heading {
                  {%- if block.settings.block_heading_size != blank -%}
                    font-size: min({{ block.settings.block_heading_size }}, 50px);
                  {%- endif -%}
                }
              }

            </style>
            {%- if block.settings.title != blank -%}
              <{{- block.settings.heading_level }} class="dsgn-pck__heading" id="{{ block.settings.anchor_id | remove: '#' }}">
                {{ block.settings.title | newline_to_br }}
              </{{- block.settings.heading_level -}}>
            {%- endif -%}

          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="dsgn-pck__text dsgn-pck__rte">
                {{ block.settings.text }}
              </div>
            {%- endif -%}
          {%- when 'buttons' -%}
            <style>
              {%- assign button_alpha_primary = block.settings.button_background_color_primary | color_extract: 'alpha' -%}
              {%- assign button_alpha_secondary = block.settings.button_background_color_secondary | color_extract: 'alpha' -%}

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button-area {
                display: grid;
                grid-gap: 1.3em;
                {%- if section.settings.text_alignment == 'center' -%}
                  margin: 0 auto;
                {%- elsif section.settings.text_alignment == 'right' -%}
                  margin: 0 0 0 auto;
                {%- endif -%}
                {%- if block.settings.button_label_primary != blank and block.settings.button_label_secondary != blank -%}
                  grid-template-columns: repeat(2, 1fr);
                {%- else -%}
                  grid-template-columns: 1fr;
                  max-width: 200px;
                {%- endif -%}
                max-width: 100%;
                width: fit-content;
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-decoration: none;
                padding: 0.5em 1.2em;
                margin-top: 0;
                border: thin solid;
                transition: all 0.3s ease-in-out;
                border-radius: {{ block.settings.button_radius }}px;
                line-height: calc(3px + 2ex + 3px);
                font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
                {%- if section.settings.override_theme_font != blank -%}
                font-family: var(--main-font);
                font-weight: var(--main-font-weight);
                font-style: var(--main-font-style);
                {%- endif -%}
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button-primary {
                color: {{ block.settings.button_label_color_primary }};
                border-color: {%- if button_alpha_primary != 0 -%}{{ block.settings.button_background_color_primary }}{%- else -%}{{ block.settings.button_label_color_primary }}{%- endif -%};
                background-color: {{ block.settings.button_background_color_primary }};
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button-secondary {
                color: {{ block.settings.button_label_color_secondary }};
                border-color: {%- if button_alpha_secondary != 0 -%}{{ block.settings.button_background_color_secondary }}{%- else -%}{{ block.settings.button_label_color_secondary }}{%- endif -%};
                background-color: {{ block.settings.button_background_color_secondary }};
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button-primary:hover {
                opacity: 1;
                {%- if button_alpha_primary != 0 -%}
                background-color: {{ block.settings.button_background_color_primary | color_darken: 10 }};
                border-color: transparent;
                {%- else -%}
                background-color: {{ block.settings.button_label_color_primary | color_modify: 'alpha', 0.1 }}
                {%- endif -%};
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__button-secondary:hover {
                opacity: 1;
                {%- if button_alpha_secondary != 0 -%}
                background-color: {{ block.settings.button_background_color_secondary | color_darken: 10 }};
                border-color: transparent;
                {%- else -%}
                background-color: {{ block.settings.button_label_color_secondary | color_modify: 'alpha', 0.1 }}
                {%- endif -%};
              }

              @media (max-width: 480px) {
                .dsgn-pck__block-id-{{ block.id }} div.dsgn-pck__button-area {
                  grid-template-columns: 1fr;
                  width: 100%;
                  gap: 10px;
                }
              }
            </style>
            <div class="dsgn-pck__button-area">
              {%- if block.settings.button_label_primary != blank -%}
                <a class="dsgn-pck__button dsgn-pck__button-primary" {%- if block.settings.link_primary != blank -%} href="{{ block.settings.link_primary }}" {%- endif -%} {% if block.settings.external_link_primary %}target="_blank"{% endif %}>{{ block.settings.button_label_primary }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_secondary != blank -%}
                <a class="dsgn-pck__button dsgn-pck__button-secondary" {%- if block.settings.link_secondary != blank -%}href="{{ block.settings.link_secondary }}"{%- endif -%} {% if block.settings.external_link_secondary %}target="_blank"{% endif %}>{{ block.settings.button_label_secondary }}</a>
              {%- endif -%}
            </div>
          {%- when 'inset_image' -%}
            <style>
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__image__wrapper {
                width: {{ block.settings.inset_image_size }}%;
                display: inline-block;
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__image__wrapper svg {
                width: 100%;
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__image__wrapper path {
                fill: {{ section.settings.text_color }};
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__item img {
                width: 100%;
                object-fit: contain;
              }
            </style>
            {%- capture placeholder_image -%}
              <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M15.651 12.851c-2.13 1.94-5.17 2.91-9.07 2.91-.91 0-1.87-.04-2.88-.17-.38.86-.6 1.71-.6 2.51 0 .55-.45 1-1 1s-1-.45-1-1c0-.24.01-.48.04-.72.02-.13.03-.26.06-.39.18-1.13.64-2.27 1.29-3.39 2.32-4.02 9.3-8.68 12.61-9.5-4.76-.03-12 3-13.91 6.93 0-2.89 2.3-6.42 5.46-8.38 4.54-2.82 10.47-1.14 12.06 0 .23.16.37.42.38.7.08 2.31-.25 6.62-3.44 9.5z" fill="#5C5F62"/></svg>
            {%- endcapture -%}
            <div class="dsgn-pck__inset-image dsgn-pck__flex dsgn-pck__justify-{%- if block.settings.image_alignment != 'default' -%}{{ block.settings.image_alignment }}{%- else -%}{{ section.settings.text_alignment }}{%- endif -%}">
              {%- if block.settings.inset_image != blank -%}
                <div class="dsgn-pck__image__wrapper">
                  <svg viewBox="0 0 {{ block.settings.inset_image.width }} {{ block.settings.inset_image.height }}"></svg>
                  {%- capture sizes -%}
                    (max-width: 480px) {{ block.settings.inset_image_size }}vw,(max-width: 767px) {{ block.settings.inset_image_size }}vw, {{ 0.5 | times: block.settings.inset_image_size | divided_by: 100.0 | times: 100.0 | round }}vw
                  {%- endcapture -%}
                  {{ block.settings.inset_image | image_url: width: 1000 | image_tag: loading: 'lazy', widths: widths, sizes: sizes }}
                </div>
              {%- else -%}
                <div class="dsgn-pck__image__wrapper">
                  {{ placeholder_image | strip }}
                </div>
              {%- endif -%}
            </div>
          {%- when 'divider' -%}
            <style>
              .dsgn-pck__block-id-{{ block.id }} {
                padding-top: {{ block.settings.padding_top }}px;
                padding-bottom: {{ block.settings.padding_bottom }}px;
              }

              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__divider {
                height: 0;
                border: none;
                background: transparent;
                {%- if section.settings.text_alignment == 'left' -%}
                  margin: 0;
                {%- elsif section.settings.text_alignment == 'right' -%}
                  margin: 0 0 0 auto;
                {%- else -%}
                  margin: 0 auto;
                {%- endif -%}
                width: {{ block.settings.base_width }}%;
                border-top: {{ block.settings.thickness }}px {{ block.settings.style }} {{ block.settings.divider_color }};
              }
            </style>
            <hr class="dsgn-pck__divider" aria-hidden="true">
          {%- when 'liquid' -%}
            {{ block.settings.liquid }}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'spacer' -%}
          <style>
            #shopify-section-{{ section.id }} #DP--{{ section.id }} .dsgn-pck__block-id-{{ block.id }},
            #shopify-section-{{ section.id }} #DP--{{ section.id }} .dsgn-pck__block-id-{{ block.id }} + .dsgn-pck__block {
              margin-top: 0;
            }
            .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__spacer {
              height: {{ block.settings.size }}px;
              display: block !important;
            }
            @media (max-width: 480px) {
              .dsgn-pck__block-id-{{ block.id }} .dsgn-pck__spacer {
                height: {{ block.settings.size | times: 0.75 | round: 0 }}px;
              }
            }
          </style>
          <div class="dsgn-pck__spacer" aria-hidden="true"></div>
        {%- endcase -%}
          {%- if section.blocks[0].type != 'tab' and forloop.first == true -%}
          </div>
        {%- endif -%}
      </div><!-- end tab -->
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Tabbed content",
  "class": "DP__tabbed-content",
  "settings": [
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 80,
      "max": 150,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
		{
      "type": "select",
      "id": "tab_style",
      "label": "Tab style",
      "default": "small_tabs",
      "options": [
				{
					"value": "small_tabs",
					"label": "Small tabs"
				},
        {
          "value": "big_tabs",
          "label": "Big tabs"
        },
        {
          "value": "buttons",
          "label": "Buttons"
        }
      ]
    },
    {
      "type": "color",
      "id": "tab_label_color",
      "label": "Tab label",
      "default": "#14213D"
    },
    {
      "type": "color",
      "id": "tab_label_highlight_color",
      "label": "Tab highlighted label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "tab_background_color",
      "label": "Tab background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "tab_highlight_color",
      "label": "Tab highlight",
      "default": "#FCA311"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#14213D"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background",
      "default": "linear-gradient(360deg, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1) 100%)"
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 80,
      "max": 100,
      "step": 5,
      "default": 95,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content."
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Headings",
      "default": "serif"
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "[Tab]",
      "settings": [
        {
          "type": "text",
          "id": "tab_heading",
          "label": "Tab heading",
          "default": "Tab"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Attention-grabbing headline"
        },
        {
          "type": "header",
          "content": "🚨 Advanced"
        },
        {
          "type": "color",
          "id": "block_heading_color",
          "label": "Heading color"
        },
        {
          "type": "text",
          "id": "block_heading_size",
          "label": "Base text size",
          "info": "Set custom base size for heading. Leave empty to default to base size of 35px. Base size is affected by section text size setting."
        },
        {
          "type": "checkbox",
          "id": "enable_custom_font",
          "label": "Enable custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "custom_font",
          "label": "Custom font",
          "default": "abel_n4"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading level",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h2",
          "info": "The most important heading has the rank 1 (<h1>) and the least important heading has rank 6 (<h6>). Only use one h1 on a page."
        }
      ]
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "range",
          "id": "size",
          "label": "Spacing height",
          "min": 0,
          "max": 100,
          "default": 10,
          "unit": "px"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "range",
          "id": "base_width",
          "label": "Width",
          "min": 20,
          "max": 100,
          "step": 5,
          "default": 50,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "thickness",
          "label": "Thickness",
          "min": 0,
          "max": 10,
          "default": 1,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid line"
            },
            {
              "value": "dotted",
              "label": "Dotted line"
            },
            {
              "value": "dashed",
              "label": "Dashed line"
            },
            {
              "value": "double",
              "label": "Double line"
            }
          ]
        },
        {
          "type": "header",
          "content": "🎨 Design"
        },
        {
          "type": "color",
          "id": "divider_color",
          "label": "Color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "🖼 Layout"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding - top",
          "min": 0,
          "max": 100,
          "default": 40,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding - bottom",
          "min": 0,
          "max": 100,
          "default": 40,
          "step": 5,
          "unit": "px"
        }
      ]
    },
    {
      "type": "text",
      "name": "Regular text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Drag and drop block options like heading, text, buttons, dividers, and more.</p>"
        }
      ]
    },
    {
      "type": "collapsible_content",
      "name": "Collapsible content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping information"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Collapsed content",
          "default": "<p>Lorem ipsum dolor.</p>"
        },
        {
          "type": "select",
          "id": "icon_style",
          "label": "Icon style",
          "options": [
            {
              "value": "plus_minus",
              "label": "Plus and minus"
            },
            {
              "value": "plus_minus_square",
              "label": "Plus and minus buttons"
            },
            {
              "value": "caret",
              "label": "Carets"
            }
          ],
          "default": "plus_minus_square"
        },
        {
          "type": "checkbox",
          "id": "show_open",
          "label": "Show open by default",
          "default": false
        }
      ]
    },
    {
      "type": "small_text",
      "name": "Small text",
      "settings": [
        {
          "type": "richtext",
          "id": "small_text",
          "label": "Small text",
          "default": "<p>New arrivals</p>"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "settings": [
        {
          "type": "range",
          "id": "button_radius",
          "label": "Button border radius",
          "min": 0,
          "max": 50,
          "step": 5,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "Primary button"
        },
        {
          "type": "text",
          "id": "button_label_primary",
          "label": "Primary button",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "link_primary",
          "label": "Primary link"
        },
        {
          "type": "checkbox",
          "id": "external_link_primary",
          "label": "Open primary link in a new window"
        },
        {
          "type": "color",
          "id": "button_label_color_primary",
          "label": "Primary button label",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "button_background_color_primary",
          "label": "Primary button background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "Secondary button"
        },
        {
          "type": "text",
          "id": "button_label_secondary",
          "label": "Secondary button",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link_secondary",
          "label": "Secondary link"
        },
        {
          "type": "checkbox",
          "id": "external_link_secondary",
          "label": "Open secondary link in a new window"
        },
        {
          "type": "color",
          "id": "button_label_color_secondary",
          "label": "Secondary button label",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button_background_color_secondary",
          "label": "Secondary button background",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Icons",
      "settings": [
        {
          "type": "range",
          "id": "icon_width",
          "label": "Icon width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "image_size",
          "min": 10,
          "max": 100,
          "label": "Image size",
          "default": 100,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "gap",
          "min": 0,
          "max": 40,
          "label": "Spacing gap",
          "unit": "px",
          "default": 20
        },
        {
          "type": "select",
          "id": "icon_alignment",
          "label": "Icon alignment",
          "default": "default",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "default",
              "label": "Default"
            }
          ]
        },
        {
          "type": "header",
          "content": "📱 Mobile"
        },
        {
          "type": "range",
          "id": "mobile_icon_width",
          "label": "Icon size",
          "default": 50,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "Icon 1"
        },
        {
          "type": "image_picker",
          "id": "icon_1",
          "label": "Icon 1"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link 1"
        },
        {
          "type": "header",
          "content": "Icon 2"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "Icon 2"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link 2"
        },
        {
          "type": "header",
          "content": "Icon 3"
        },
        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "Icon 3"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link 3"
        },
        {
          "type": "header",
          "content": "Icon 4"
        },
        {
          "type": "image_picker",
          "id": "icon_4",
          "label": "Icon 4"
        },
        {
          "type": "text",
          "id": "text_4",
          "label": "Text 4"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link 4"
        }
      ]
    },
    {
      "type": "text_columns",
      "name": "Text columns",
      "settings": [
        {
          "type": "range",
          "id": "gap",
          "min": 0,
          "max": 40,
          "label": "Spacing gap",
          "unit": "px",
          "default": 10
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "justify",
              "label": "Justify"
            }
          ]
        },
        {
          "type": "header",
          "content": "Column 1"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "column_1",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh enim, ornare at consequat sed, placerat quis libero. Curabitur id nulla ut nunc aliquam sodales.</p>"
        },
        {
          "type": "header",
          "content": "Column 2"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "column_2",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh enim, ornare at consequat sed, placerat quis libero. Curabitur id nulla ut nunc aliquam sodales.</p>"
        }
      ]
    },
    {
      "type": "inset_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "inset_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "inset_image_size",
          "label": "Image size",
          "default": 10,
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Image alignment",
          "default": "default",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "default",
              "label": "Default"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter form",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "Stacked"
            },
            {
              "value": "compact",
              "label": "Compact"
            }
          ],
          "default": "compact"
        },
        {
          "type": "text",
          "id": "email_label",
          "label": "Email label",
          "default": "Email address"
        },
        {
          "type": "text",
          "id": "submit_label",
          "label": "Submit label",
          "default": "Submit"
        },
        {
          "type": "header",
          "content": "First name"
        },
        {
          "type": "checkbox",
          "id": "show_first_name",
          "label": "Show first name",
          "default": false
        },
        {
          "type": "text",
          "id": "first_name_label",
          "label": "First name label",
          "default": "First name"
        },
        {
          "type": "header",
          "content": "Last name"
        },
        {
          "type": "checkbox",
          "id": "show_last_name",
          "label": "Show last name",
          "default": false
        },
        {
          "type": "text",
          "id": "last_name_label",
          "label": "Last name label",
          "default": "Last name"
        },
        {
          "type": "header",
          "content": "🎨 Design"
        },
        {
          "type": "color",
          "id": "button_label_color",
          "label": "Button label",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button background",
          "default": "#283144"
        },
        {
          "type": "range",
          "id": "button_radius",
          "label": "Button border radius",
          "min": 0,
          "max": 50,
          "step": 5,
          "default": 0,
          "unit": "px"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "info": "Video will be muted.",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop video",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_controls",
          "label": "Show controls",
          "default": true
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "Displays page content added in rich text editor (including HTML, images, tables, etc). [Learn more](https://help.shopify.com/en/manual/shopify-admin/productivity-tools/rich-text-editor)"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid/HTML",
      "settings": [
        {
          "type": "paragraph",
          "content": "Copy and paste your custom code."
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid and/or HTML"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "type": "clean_size_chart",
      "name": "Clean size charts 👕",
      "settings": [
        {
          "type": "paragraph",
          "content": "Display a [Clean size chart](https://apps.shopify.com/size-charts-by-clean-canvas) in your tab."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed content 🎒",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "tab"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "sold_out": "Sold Out",
      "sale": "Sale",
      "buy_button_variant_label": "View Options",
      "buy_button_label": "Add to Cart"
    }
  }
}
{% endschema %}
{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "show_arrows": {{ section.settings.show_arrows | json }},
    "animation": {{ section.settings.animation | json }}
  }
</script>
{%- comment -%} External scripts {%- endcomment -%}
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    slider: {},
    animateSection: function(entries, observer){
      // Target the first entry available.
      let observedSection = entries[0];
      if (observedSection.isIntersecting) {
        observedSection.target.classList.add('dsgn-pck__animation-applied');
      }
    },
    switchTab: function(e, section){
      const tab = e.currentTarget;
      const tabs = section.querySelectorAll(`[data-dsgn-pck-tab]`);
      const tabPanel = section.querySelector(`[data-dsgn-pck-panel="${tab.dataset.dsgnPckTab}"]`);
      const tabPanels = section.querySelectorAll(`[data-dsgn-pck-panel]`);
      const sliderElem = section.querySelector(`[data-slider="${tab.dataset.dsgnPckTab}"]`);

      tabs.forEach(function(elem){
        elem.setAttribute('aria-selected', false);
      });
      tab.setAttribute('aria-selected', true);

      tabPanels.forEach(function(elem){
        elem.setAttribute('aria-hidden', true);
      });
      tabPanel.setAttribute('aria-hidden', false);

    },
    load: function(section){

      if (this.settings.animation !== 'none'){
        const options = {
          root: null,
          rootMargin: '0px',
          threshold: [0, 0.25, 0.5, 0.75, 1]
        };
        // Construct Intersection Observer.
        const observer = new IntersectionObserver( this.animateSection, options );
        // Observe if element is present.
        if (section) {
          observer.observe(section);
        }
      }
      section.querySelectorAll('[data-dsgn-pck-tab]').forEach(function(tab){
        tab.addEventListener('click', function(e){
          designPack.switchTab(e, section);
        });
      });

    },
    unload: function(section){
      section.classList.remove('dsgn-pck__animation-applied')
    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  window.addEventListener('shopify:block:select', function (e) {
    designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
    const sectionId = {{ section.id | json }};
    const section = document.querySelector(`#DP--${sectionId}`);

    if (sectionId == designPack.settings.id){
      designPack.load(section);
    }
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
