{%- comment -%}
{
  "pack_name": "Timeline - simple",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
}

#DP--{{ section.id }} .dsgn-pck__heading {
  text-transform: none;
  text-align: center;
  margin: 0 0 1.5em;
  line-height: calc(3px + 2ex + 3px);
  color: {{ section.settings.heading_color }};
  font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__small-heading {
  color: {{ section.settings.heading_color }};
  margin: 0 0 10px;
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 24px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__text p {
  line-height: calc(3px + 2ex + 3px);
  color: {{ section.settings.text_color }};
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__item-date {
  color: {{ section.settings.text_color }};
  margin: 0 0 10px;
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
}

#DP--{{ section.id }} .dsgn-pck__timeline {
  position: relative;
}

#DP--{{ section.id }} .dsgn-pck__inner-content {
  height: 100%;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 1em;
  position: relative;
  overflow: hidden;
}

/* Container around content */
#DP--{{ section.id }} .dsgn-pck__item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
#DP--{{ section.id }} .dsgn-pck__item::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -6px;
  background-color: {{ section.settings.dot_color }};
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

#DP--{{ section.id }} .dsgn-pck__item.dsgn-pck__item-right::after {
  left: -9px;
}

/* the line for each section - left */
#DP--{{ section.id }} .dsgn-pck__item::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
  background-color: {{ section.settings.timeline_color }};
  top: 15px;
  z-index: 1;
}

/* the line for each section - right */
#DP--{{ section.id }} .dsgn-pck__item.dsgn-pck__item-right::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  left: -3px;
  background-color: {{ section.settings.timeline_color }};
  top: 15px;
  z-index: 1;
}

#DP--{{ section.id }} .dsgn-pck__item:last-of-type:before {
  content: none;
}

/* Place the container to the left */
#DP--{{ section.id }} .dsgn-pck__item-left {
  left: 0;
  z-index: 2;
  text-align: right;
}

/* Place the container to the right */
#DP--{{ section.id }} .dsgn-pck__item-right {
  left: 50%;
  text-align: left;
}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #DP--{{ section.id }}.dsgn-pck__animation-applied [style*="--dsgn-pck-animate"] {
    animation-name: dsgn-pck__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #DP--{{ section.id }} [style*="--dsgn-pck-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phones and down */
@media (max-width: 480px) {
  #DP--{{ section.id }} .dsgn-pck__item {
    padding: 10px 20px;
  }

  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    min-width: 90%;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

  {%- if section.settings.mobile_alignment == 'left' -%}
    #DP--{{ section.id }} .dsgn-pck__timeline {
      margin-left: 10px;
    }

    #DP--{{ section.id }} .dsgn-pck__item {
      width: 100%;
      left: 0;
      text-align: left;
      padding-right: 0;
    }

    #DP--{{ section.id }} .dsgn-pck__item::before {
      left: -3px;
    }

    #DP--{{ section.id }} .dsgn-pck__item::after {
      left: -9px;
    }
  {%- elsif section.settings.mobile_alignment == 'right' -%}
    #DP--{{ section.id }} .dsgn-pck__item,
    #DP--{{ section.id }} .dsgn-pck__item-right {
      width: 100%;
      left: 0;
      text-align: right;
      padding-left: 0;
    }

    #DP--{{ section.id }} .dsgn-pck__item.dsgn-pck__item-right::before {
      left: auto;
      right: 0;
    }

    #DP--{{ section.id }} .dsgn-pck__item.dsgn-pck__item-right::after {
      left: auto;
      right: -6px;
    }
  {%- endif -%}

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__timeline dsgn-pck__section" {%- if section.settings.animation != 'none' -%}data-animated-section{%- endif -%}>
  <div class="dsgn-pck__sizer
              dsgn-pck__sizer--timeline">
    {%- if section.settings.title != blank -%}
      <h2 class="dsgn-pck__heading ">{{ section.settings.title }}</h2>
    {%- endif -%}
    <div class="dsgn-pck__timeline">
      {%- for block in section.blocks -%}
          <div class="dsgn-pck__item dsgn-pck__item-{% cycle 'left', 'right' %} dsgn-pck__block-{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="dsgn-pck__inner-content" style="--dsgn-pck-animate: {{ forloop.index }};">
              {%- if block.settings.date != blank -%}
                <p class="dsgn-pck__item-date">
                  {{ block.settings.date }}
                </p>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <h3 class="dsgn-pck__small-heading">
                  {{ block.settings.title }}
                </h3>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <div class="dsgn-pck__text dsgn-pck__rte">
                  {{ block.settings.text }}
                </div>
              {%- endif -%}
            </div>
          </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Timeline - simple",
  "class": "DP__timeline",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our company history"
    },
    {
      "type": "header",
      "content": "📱 Mobile"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Mobile alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "alternating",
          "label": "Alternating"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "alternating"
    },
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 80,
      "max": 150,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#302E2E"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#685858"
    },
    {
      "type": "color",
      "id": "timeline_color",
      "label": "Line",
      "default": "#302E2E"
    },
    {
      "type": "color",
      "id": "dot_color",
      "label": "Dot",
      "default": "#685858"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background",
      "default": "linear-gradient(180deg, rgba(236, 236, 236, 1), rgba(196, 184, 180, 1) 100%)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "fade-in",
          "label": "Fade-in"
        },
        {
          "value": "fade-in-left",
          "label": "Fade-in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade-in right"
        },
        {
          "value": "fade-in-up",
          "label": "Fade-in up"
        },
        {
          "value": "fade-in-down",
          "label": "Fade-in down"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 60,
      "max": 100,
      "step": 5,
      "default": 85,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content."
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading",
      "default": "serif"
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "event",
      "name": "Event",
      "settings": [
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "2021"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Notable Event"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Timeline - simple 🎒",
      "blocks": [
        {
          "type": "event",
          "settings": {
            "date": "2021",
            "title": "Created first prototype",
            "text": "<p>Built in the basement with no funding.</p>"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "2022",
            "title": "Featured in a national ad campaign",
            "text": "<p>Gained worldwide attention and recognition, which launched our brand.</p>"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "2025",
            "title": "Donated over 2,000 units",
            "text": "<p>We were able to give back to the community that helped us along the way.</p>"
          }
        },
        {
          "type": "event",
          "settings": {
            "date": "2026",
            "title": "Sold 1 million products",
            "text": "<p>Our products are sold worldwide and in the hands of customers around the globe.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "animation": {{ section.settings.animation | json }}
  }
</script>
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    animateSection: function(entries, observer){
      // Target the first entry available.
      let observedSection = entries[0];
      if (observedSection.isIntersecting) {
        observedSection.target.classList.add('dsgn-pck__animation-applied');
      }
    },
    load: function(section){
      if (this.settings.animation !== 'none'){
        const options = {
          root: null,
          rootMargin: '0px',
          threshold: 0
        };
        // Construct Intersection Observer.
        const observer = new IntersectionObserver( this.animateSection, options );
        // Observe if element is present.
        if (section) {
          observer.observe(section);
        }
      }
    },
    unload: function(section){
      section.classList.remove('dsgn-pck__animation-applied')
    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
