{%- comment -%}
{
  "pack_name": "Gallery - grid",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}

{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%}Metafield detection: block count {%- endcomment -%}
{%- assign block_images = section.blocks.size -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.enable_lightbox != blank -%}
.bp-img-wrap,.bp-wrap{top:0;left:0;width:100%;height:100%;contain:strict}.bp-controls,.bp-zoomed.bp-small .bp-controls button{pointer-events:none}.bp-cap,.bp-count{color:rgba(255,255,255,.9)}.bp-cap,.bp-controls{transition:opacity .3s}@keyframes bp-fadein{from{opacity:.01}to{opacity:1}}@keyframes bp-bar{from{transform:translateX(-100%)}to{transform:translateX(0)}}@keyframes bp-o{from{transform:rotate(0)}to{transform:rotate(360deg)}}.bp-wrap{position:fixed;z-index:999;touch-action:none;-webkit-tap-highlight-color:transparent}.bp-img,.bp-img-wrap,.bp-inner,.bp-vid audio{position:absolute}.bp-wrap>div:first-child{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.75);animation:.48s cubic-bezier(.215,.61,.355,1) bp-fadein; display: block}.bp-vid audio{left:14px;width:calc(100% - 28px);bottom:14px;height:50px}.bp-inner{top:0;left:0;width:100%;height:100%;display:flex}.bp-html{display:contents}.bp-html>:first-child{margin:auto}.bp-img-wrap.bp-drag .bp-img{cursor:grabbing}.bp-img,.bp-noclose:not(.bp-zoomed) .bp-img-wrap{cursor:zoom-in}.bp-close{contain:layout size}.bp-img{top:50%;left:50%;user-select:none;background-size:100% 100%}.bp-controls,.bp-img div,.bp-img img{top:0;width:100%;position:absolute;height:100%}.bp-img div,.bp-img img{left:0}.bp-img .bp-o,.bp-noclose .bp-x{display:none}.bp-zoomed .bp-img{cursor:grab}.bp-zoomed .bp-cap{opacity:0;animation:none!important}.bp-zoomed.bp-small .bp-controls{opacity:0}.bp-controls{left:0;text-align:left;animation:.3s bp-fadein}.bp-controls button{pointer-events:auto;cursor:pointer;position:absolute;border:0;background:rgba(0,0,0,.15);opacity:.9;transition:.1s;contain:content}.bp-controls button:hover{background-color:rgba(0,0,0,.2);opacity:1}.bp-controls svg{fill:#fff}.bp-count{position:absolute;line-height:1;margin:16px;height:50px;width:100px}.bp-next,.bp-prev{top:50%;right:0;margin-top:-32px;height:64px;width:58px;border-radius:3px 0 0 3px}.bp-next:hover:before,.bp-prev:hover:before{transform:translateX(-2px)}.bp-next:before,.bp-prev:before{content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3C/svg%3E");position:absolute;left:7px;top:9px;width:46px;transition:.2s}.bp-prev{right:auto;left:0;transform:scalex(-1)}.bp-x{top:0;right:0;height:55px;width:58px;border-radius:0 0 0 3px}.bp-x:before{content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23fff'%3E%3Cpath d='M24 10l-2-2-6 6-6-6-2 2 6 6-6 6 2 2 6-6 6 6 2-2-6-6z'/%3E%3C/svg%3E");position:absolute;width:37px;top:8px;right:10px}.bp-if,.bp-vid{position:relative;margin:auto;background:0 0/100% 100% #000}.bp-bar,.bp-cap,.bp-inline{position:absolute}.bp-if div,.bp-if iframe,.bp-if video,.bp-vid div,.bp-vid iframe,.bp-vid video{top:0;left:0;width:100%;height:100%;position:absolute;border:0}.bp-load{display:flex;background-size:100% 100%;overflow:hidden;z-index:1}.bp-bar{top:0;left:0;height:3px;width:100%;transform:translateX(-100%);background:rgba(255,255,255,.9);border-radius:0 3px 3px 0;animation:4s both bp-bar}.bp-o,.bp-o:after{border-radius:50%;width:90px;height:90px}.bp-o{margin:auto;border:10px solid rgba(255,255,255,.2);border-left-color:rgba(255,255,255,.9);animation:1s linear infinite bp-o}.bp-cap{bottom:2%;background:rgba(9,9,9,.8);border-radius:4px;max-width:95%;line-height:1.3;padding:.6em 1.2em;left:50%;transform:translateX(-50%);width:fit-content;width:-moz-fit-content;display:table;animation:.2s bp-fadein}.bp-cap a{color:inherit}.bp-lock{overflow-y:hidden}.bp-lock body{overflow:scroll}.bp-noclose:not(.bp-zoomed){touch-action:pan-y}@media (prefers-reduced-motion){.bp-wrap *{animation-duration:0s!important}}@media (max-width:500px){.bp-x{height:47px;width:47px}.bp-x:before{width:34px;top:6px;right:6px}.bp-next,.bp-prev{margin-top:-27px;height:54px;width:45px}.bp-next:before,.bp-prev:before{top:7px;left:2px;width:43px}.bp-o,.bp-o:after{border-width:6px;width:60px;height:60px}.bp-count{margin:12px 10px}}
{%- endif -%}

#DP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
}

#DP--{{ section.id }} .dsgn-pck__grid {
  gap: {{ section.settings.gutter }}px;
}

#DP--{{ section.id }} .dsgn-pck__lightbox-true,
#DP--{{ section.id }} a.dsgn-pck__lightbox-true:not([href]) {
  cursor: zoom-in;
}

#DP--{{ section.id }} .dsgn-pck__grid-item {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
}

#DP--{{ section.id }} .dsgn-pck__grid-alignment-top {
  align-items: flex-start;
}

#DP--{{ section.id }} .dsgn-pck__grid-alignment-center {
  align-items: center;
}

#DP--{{ section.id }} .dsgn-pck__grid-alignment-bottom {
  align-items: flex-end;
}

#DP--{{ section.id }} .dsgn-pck__grid-item img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#DP--{{ section.id }} .dsgn-pck__youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

#DP--{{ section.id }} .dsgn-pck__hosted-video {
  width: 100%;
  height: auto;
}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #DP--{{ section.id }}.dsgn-pck__animation-applied [style*="--dsgn-pck-animate"] {
    animation-name: dsgn-pck__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #DP--{{ section.id }} [style*="--dsgn-pck-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #DP--{{ section.id }} .dsgn-pck__grid {
    grid-template-columns: repeat({{ section.settings.mobile_per_row | at_most: section.blocks.size }}, auto);
  }

  #DP--{{ section.id }} .dsgn-pck__mobile-grid-alignment-top {
    align-items: flex-start;
  }

  #DP--{{ section.id }} .dsgn-pck__mobile-grid-alignment-center {
    align-items: center;
  }

  #DP--{{ section.id }} .dsgn-pck__mobile-grid-alignment-bottom {
    align-items: flex-end;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    min-width: 70%;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__gallery-grid dsgn-pck__section">
  <div class="dsgn-pck__sizer">
    <div class="dsgn-pck__grid dsgn-pck__grid--{{ section.settings.per_row }}-per-row">
      {%- for block in section.blocks -%}
        {% comment %} Remove placeholder images if using metafields {% endcomment %}
        {%- if block.settings.image == blank and block.settings.html5_video == blank and block.settings.youtube_video == blank and section.settings.enable_metafield_detect == true -%}
          {%- assign block_images = block_images | minus: 1 -%}
          {%- if forloop.last and block_images == 0 -%}
            <style>
              #DP--{{ section.id }} {
                display: none;
              }
            </style>
          {%- endif -%}
          {%- continue -%}
        {%- endif -%}

        {%- comment -%} Images: all placeholders {%- endcomment -%}
        {% capture placeholder_url %}{% cycle "jPochM3HNAo_1080x1620", "HcwIZ7OCqMc_1080x720", "ff0HoIx3PzU_1080x720", "Xh0yiAhVLFA_1080x720", "2H9OUeEO8Hs_1080x1620", "64S6xY_J8BE_1080x720", "MYbaRJyR_Iw" %}{% endcapture %}
        {%- assign placeholder_width = placeholder_url | split: '_' | last | split: 'x' | first -%}
        {%- assign placeholder_height = placeholder_url | split: '_' | last | split: 'x' | last -%}
        {%- capture grid_alignment -%}
          {%- if section.settings.grid_alignment == 'bottom_top' -%}
            {%- case section.settings.per_row -%}
              {%- when 2 -%}
                {%- cycle 'per_row': 'bottom', 'bottom', 'top', 'top' -%}
              {%- when 3 -%}
                {%- cycle 'per_row': 'bottom', 'bottom', 'bottom', 'top', 'top', 'top' -%}
              {%- when 4 -%}
                {%- cycle 'per_row': 'bottom', 'bottom', 'bottom', 'bottom', 'top', 'top', 'top', 'top' -%}
              {%- when 5 -%}
                {%- cycle 'per_row': 'bottom', 'bottom', 'bottom', 'bottom', 'bottom', 'top', 'top', 'top', 'top', 'top' -%}
              {%- when 6 -%}
                {%- cycle 'per_row': 'bottom', 'bottom', 'bottom', 'bottom', 'bottom', 'bottom', 'top', 'top', 'top', 'top', 'top', 'top' -%}
            {%- endcase -%}
          {%- else -%}
            {{ section.settings.grid_alignment }}
          {%- endif -%}
        {%- endcapture -%}
        {%- capture mobile_grid_alignment -%}
          {%- if section.settings.grid_alignment == 'bottom_top' -%}
            {%- case section.settings.mobile_per_row -%}
              {%- when 2 -%}
                {%- cycle 'mobile_per_row': 'bottom', 'bottom', 'top', 'top' -%}
              {%- when 3 -%}
                {%- cycle 'mobile_per_row': 'bottom', 'bottom', 'bottom', 'top', 'top', 'top' -%}
              {%- when 4 -%}
                {%- cycle 'mobile_per_row': 'bottom', 'bottom', 'bottom', 'bottom', 'top', 'top', 'top', 'top' -%}
            {%- endcase -%}
          {%- else -%}
            {{ section.settings.grid_alignment }}
          {%- endif -%}
        {%- endcapture -%}
        {%- case block.type -%}
          {%- when 'image' -%}
            {%- if section.settings.enable_lightbox == true or block.settings.link != blank -%}
              <a {% if block.settings.link != blank and section.settings.enable_lightbox == false %}href="{{ block.settings.link }}"{% else %}href="#"{% endif %}
                {% if block.settings.external_link %}target="_blank"{% endif %}
                class="dsgn-pck__lightbox-{{ section.settings.enable_lightbox }}"
                data-dsgn-pck-lightbox="{{ section.settings.enable_lightbox }}"
                data-img="{%- if block.settings.image != blank -%}{{ block.settings.image | image_url: width: 5000 }}{%- else -%}https://cdn.shopify.com/s/files/1/0577/7673/4361/files/{{ placeholder_url }}.jpg{%- endif -%}"
                data-alt="{{ block.settings.image.alt }}"
                data-height="{{ block.settings.image.height | default: placeholder_height }}"
                data-width="{{ block.settings.image.width | default: placeholder_width }}"
              >
            {% endif %}
              <div class="dsgn-pck__grid-item dsgn-pck__block-{{ block.id }} dsgn-pck__grid-alignment-{{ grid_alignment }} dsgn-pck__mobile-grid-alignment-{{ mobile_grid_alignment }}" {{ block.shopify_attributes }} style="--dsgn-pck-animate: {{ forloop.index0 }}" >
                {%- if block.settings.image != blank -%}
                  {%- capture sizes -%}
                    (max-width: 480px) 100vw, {{ section.settings.base_width | divided_by: section.settings.per_row | append: 'vw' | default: '33vw'}}
                  {%- endcapture -%}
                  {{ block.settings.image | image_url: width: 2800 | image_tag:  widths: widths, sizes: sizes }}
                {%- else -%}
                  <img src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/{{ placeholder_url }}.jpg"
                    alt=""
                    loading="lazy"
                    width="{{ placeholder_width }}"
                    height="{{ placeholder_height }}">
                {%- endif -%}
              </div>
            {%- if section.settings.enable_lightbox == true or block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- when 'video' -%}
            {%- if block.settings.youtube_video != blank -%}
              {%- if section.settings.enable_lightbox == true and block.settings.play_inline == false -%}
                <a
                  class="dsgn-pck__lightbox-true"
                  data-dsgn-pck-lightbox="true"
                  href="https://www.youtube.com/watch?v={{ block.settings.youtube_video.id }}"
                  data-width="1920"
                  data-height="1012"
                  data-iframe="https://www.youtube.com/embed/{{ block.settings.youtube_video.id }}?autoplay=1&playsinline=1">
              {%- endif -%}
                <div class="dsgn-pck__grid-item dsgn-pck__block-{{ block.id }} dsgn-pck__grid-alignment-{{ grid_alignment }} dsgn-pck__mobile-grid-alignment-{{ mobile_grid_alignment }}" {{ block.shopify_attributes }} style="--dsgn-pck-animate: {{ forloop.index0 }}">
                  {%- if section.settings.enable_lightbox == true and block.settings.play_inline == false -%}
                    {%- if block.settings.image != blank -%}
                      {%- capture sizes -%}
                        (max-width: 480px) 100vw, {{ section.settings.base_width | divided_by: section.settings.per_row | append: 'vw' | default: '33vw'}}
                      {%- endcapture -%}
                      {{ block.settings.image | image_url: width: 2800 | image_tag:  widths: widths, sizes: sizes }}
                    {%- else -%}
                      <iframe
                        class="dsgn-pck__youtube-video"
                        style="pointer-events: none;"
                        src="https://www.youtube.com/embed/{{ block.settings.youtube_video.id }}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                        allowfullscreen></iframe>
                    {%- endif -%}
                  {%- else -%}
                    <iframe
                      class="dsgn-pck__youtube-video"
                      src="https://www.youtube.com/embed/{{ block.settings.youtube_video.id }}"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                      allowfullscreen></iframe>
                  {%- endif -%}
                </div>
              {%- if section.settings.enable_lightbox == true and block.settings.play_inline != true -%}
                </a>
              {%- endif -%}
            {%- elsif block.settings.html5_video != blank -%}
              {%- assign video = block.settings.html5_video -%}
              {%- assign width = 1000 -%}
              {%- assign height = 1000.0 | divided_by: block.settings.html5_video.aspect_ratio -%}
              {%- capture sources -%}
              [
                {%- for source in block.settings.html5_video.sources -%}
                  {
                    "src": "{{ source.url | escape }}", "type": "video/{{ source.format | escape }}"
                  }{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}
              ]
              {%- endcapture -%}
              {%- if section.settings.enable_lightbox == true and block.settings.play_inline == false -%}
                <a
                  class="dsgn-pck__lightbox-true"
                  data-dsgn-pck-lightbox="true"
                  href="#"
                  data-width="{{ width }}"
                  data-height="{{ height }}"
                  data-sources='{{ sources }}'>
              {% endif %}
                <div class="dsgn-pck__grid-item dsgn-pck__block-{{ block.id }} dsgn-pck__grid-alignment-{{ grid_alignment }} dsgn-pck__mobile-grid-alignment-{{ mobile_grid_alignment }}" {{ block.shopify_attributes }} style="--dsgn-pck-animate: {{ forloop.index0 }}" >
                  {%- if section.settings.enable_lightbox == true and block.settings.play_inline == false -%}
                    {%- if block.settings.image != blank -%}
                      {%- capture sizes -%}
                        (max-width: 480px) 100vw, {{ section.settings.base_width | divided_by: section.settings.per_row | append: 'vw' | default: '33vw'}}
                      {%- endcapture -%}
                      {{ block.settings.image | image_url: width: 2800 | image_tag:  widths: widths, sizes: sizes }}
                    {%- else -%}
                      <video style="pointer-events: none;" class="dsgn-pck__hosted-video" width="{{ video.aspect_ratio | times: 100 }}" height="100" loading="lazy" poster="{{ video.preview_image | image_url: width: 2800 }}">
                        {%- for source in video.sources -%}
                          <source src="{{ source.url }}">
                        {%- endfor -%}
                      </video>
                    {%- endif -%}
                  {%- else -%}
                    <video class="dsgn-pck__hosted-video" width="{{ video.aspect_ratio | times: 100 }}" height="100" controls loading="lazy" poster="{{ video.preview_image | image_url: width: 2800 }}">
                      {%- for source in video.sources -%}
                        <source src="{{ source.url }}">
                      {%- endfor -%}
                    </video>
                  {%- endif -%}
                </div>
              {%- if section.settings.enable_lightbox == true -%}
                </a>
              {%- endif -%}
            {%- else -%}
            {%- if section.settings.enable_lightbox == true or block.settings.link != blank -%}
              <a {% if block.settings.link != blank and section.settings.enable_lightbox == false %}href="{{ block.settings.link }}"{% else %}href="#"{% endif %}
                {% if block.settings.external_link %}target="_blank"{% endif %}
                class="dsgn-pck__lightbox-{{ section.settings.enable_lightbox }}"
                data-dsgn-pck-lightbox="{{ section.settings.enable_lightbox }}"
                data-img="{%- if block.settings.image != blank -%}{{ block.settings.image | image_url: width: 5000 }}{%- else -%}https://cdn.shopify.com/s/files/1/0577/7673/4361/files/{{ placeholder_url }}.jpg{%- endif -%}"
                data-alt="{{ block.settings.image.alt }}"
                data-height="{{ block.settings.image.height | default: placeholder_height }}"
                data-width="{{ block.settings.image.width | default: placeholder_width }}"
              >
            {% endif %}
              <div class="dsgn-pck__grid-item dsgn-pck__block-{{ block.id }} dsgn-pck__grid-alignment-{{ grid_alignment }} dsgn-pck__mobile-grid-alignment-{{ mobile_grid_alignment }}" {{ block.shopify_attributes }} style="--dsgn-pck-animate: {{ forloop.index0 }}" >
                <img src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/{{ placeholder_url }}.jpg"
                  alt=""
                  loading="lazy"
                  width="{{ placeholder_width }}"
                  height="{{ placeholder_height }}">
              </div>
              {%- if section.settings.enable_lightbox == true or block.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Gallery - grid",
  "class": "DP__gallery-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_lightbox",
      "label": "Enable lightbox",
      "default": false,
      "info": "Show larger media on click. Image links are disabled when lightbox is enabled."
    },
    {
      "type": "range",
      "id": "per_row",
      "label": "Images per row",
      "default": 3,
      "min": 1,
      "max": 6
    },
    {
      "type": "select",
      "id": "grid_alignment",
      "label": "Grid row alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "bottom_top",
          "label": "Alternating bottom & top"
        }
      ],
      "default": "bottom_top"
    },
    {
      "type": "range",
      "id": "gutter",
      "min": 0,
      "max": 40,
      "label": "Gutter size",
      "default": 20
    },
    {
      "type": "header",
      "content": "📱 Mobile"
    },
    {
      "type": "range",
      "id": "mobile_per_row",
      "label": "Images per row",
      "default": 2,
      "min": 1,
      "max": 4
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background",
      "default": "linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100%)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "fade-in",
          "label": "Fade-in"
        },
        {
          "value": "fade-in-left",
          "label": "Fade-in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade-in right"
        },
        {
          "value": "fade-in-up",
          "label": "Fade-in up"
        },
        {
          "value": "fade-in-down",
          "label": "Fade-in down"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 60,
      "max": 100,
      "step": 5,
      "default": 95,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content."
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "enable_metafield_detect",
      "label": "Enable metafield detection",
      "default": false,
      "info": "Removes placeholder media content."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link (optional)",
          "info": "Link is disabled when lightbox setting is enabled."
        },
        {
          "type": "checkbox",
          "id": "external_link",
          "label": "Open link in a new window"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "play_inline",
          "label": "Play video inline",
          "default": true,
          "info": "Video will not appear in lightbox when enabled."
        },
        {
          "type": "video",
          "id": "html5_video",
          "label": "Hosted video"
        },
        {
          "type": "video_url",
          "id": "youtube_video",
          "label": "YouTube video (optional)",
          "accept": ["youtube"]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Placeholder image (optional)",
          "info": "Visible when 'Play video inline' setting is disabled."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery - grid 🎒",
      "blocks": [
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}

{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "animation": {{ section.settings.animation | json }},
    "enable_lightbox": {{ section.settings.enable_lightbox | json }}
  }
</script>
{%- comment -%} External scripts {%- endcomment -%}
{%- if section.settings.enable_lightbox != blank -%}
  <script data-dsgn-pck-external-js="{{ section.id }}" src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/bigger-picture.min.js?v=1661823226" defer></script>
{%- endif -%}
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    animateSection: function(entries, observer){
      // Target the first entry available.
      let observedSection = entries[0];
      if (observedSection.isIntersecting) {
        observedSection.target.classList.add('dsgn-pck__animation-applied');
      }
    },
    enableLightbox: function(section){
      const bp = BiggerPicture({
        target: document.body
      });

      const imageLinks = section.querySelectorAll('[data-dsgn-pck-lightbox="true"]');

      for (let link of imageLinks) {
        link.addEventListener('click', openGallery);
      }

      function openGallery(e) {
        e.preventDefault();
        bp.open({
          items: imageLinks,
          el: e.currentTarget
        });
      }
    },
    load: function(section){

      if (this.settings.animation !== 'none'){
        const options = {
          root: null,
          rootMargin: '0px',
          threshold: [0, 0.25, 0.5, 0.75, 1]
        };
        // Construct Intersection Observer.
        const observer = new IntersectionObserver( this.animateSection, options );
        // Observe if element is present.
        if (section) {
          observer.observe(section);
        }
      }

      if (designPack.settings.enable_lightbox === true){
        designPack.enableLightbox(section);
      }
    },
    unload: function(section){
      section.classList.remove('dsgn-pck__animation-applied')
    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
