{%- comment -%}
{
  "pack_name": "Link menu - icons",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{% comment %} Content: set template type {% endcomment %}
{% liquid
  assign template_type = template.name

  case template_type
    when 'collection'
      assign current_url = collection.url
    when 'page'
      assign current_url = page.url
    when 'blog'
      assign current_url = blog.url
    when 'article'
      assign current_url = article.url
    when 'product'
      assign current_url = product.url
    when 'list-collections'
      assign current_url = '/collections'
    when 'search'
      assign current_url = '/search'
    when 'index'
      assign current_url = '/'
    when 'cart'
      assign current_url = '/cart'
    else
      assign current_url = '/'
    endcase
%}

{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  color: {{ section.settings.text_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding-left: 28px;
  padding-right: 28px;
}

#DP--{{ section.id }} .dsgn-pck__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: {{ section.settings.gap }}px;
}

{%- if section.settings.display == 'grid' -%}
  #DP--{{ section.id }} .dsgn-pck__list {
    flex-wrap: wrap;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
    justify-content: {{ section.settings.text_alignment }};
    scroll-snap-type: x mandatory;
  }

  #DP--{{ section.id }} .dsgn-pck__list-item {
    margin-bottom: {{ section.settings.gap }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__list-item:first-child,
  #DP--{{ section.id }} .dsgn-pck__list-item:last-child {
    padding: 0;
  }
{%- else -%}
  #DP--{{ section.id }} .dsgn-pck__list {
    flex-wrap: nowrap;
  }
{%- endif -%}

#DP--{{ section.id }} .dsgn-pck__list-item {
  max-width: max(70px, {{ section.settings.icon_width }}%);
  flex: 0 0 max(70px, {{ section.settings.icon_width }}%);
}

#DP--{{ section.id }} .dsgn-pck__list a {
  white-space: normal;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

#DP--{{ section.id }} .dsgn-pck__text {
  text-align: center;
  line-height: calc(2px + 3ex + 2px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__image__wrapper {
  overflow: hidden;
  width: {{ section.settings.image_size }}%;
  margin: 0 auto 14px auto;
  border: 4px solid transparent;
  transition: 0.3s;
  margin-top: 5px;
}

#DP--{{ section.id }} .dsgn-pck__image--circle .dsgn-pck__image__wrapper {
  border-radius: 50%;
}

#DP--{{ section.id }} .dsgn-pck__image--rounded .dsgn-pck__image__wrapper {
  border-radius: 5px;
}

#DP--{{ section.id }} .dsgn-pck__image--circle svg,
#DP--{{ section.id }} .dsgn-pck__image--rounded svg,
#DP--{{ section.id }} .dsgn-pck__image--square svg {
  width: 100%;
}

#DP--{{ section.id }} .dsgn-pck__image--none img {
  object-fit: contain;
}

#DP--{{ section.id }} .dsgn-pck__image--none svg {
  margin: auto;
}

/* Add scrollbar when there are more than 6 items */
{%- if section.blocks > 6 -%}
  #DP--{{ section.id }} .dsgn-pck__sizer::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer::-webkit-scrollbar:vertical {
    width: 50%;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer::-webkit-scrollbar:horizontal {
    height: 4px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
  }
{%- endif -%}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phones and down */
@media (max-width: 480px) {

  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    min-width: 70%;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
    width: 100%;
  }

  {%- if section.settings.mobile_display == 'grid' -%}
    #DP--{{ section.id }} .dsgn-pck__list {
      flex-wrap: wrap;
      -webkit-overflow-scrolling: none;
      overflow-x: hidden;
      justify-content: center;
      scroll-snap-type: x mandatory;
    }

    #DP--{{ section.id }} .dsgn-pck__list-item {
      margin-bottom: {{ section.settings.gap }}px;
    }

    #DP--{{ section.id }} .dsgn-pck__list-item:first-child,
    #DP--{{ section.id }} .dsgn-pck__list-item:last-child {
      padding: 0;
    }
  {%- else -%}
    #DP--{{ section.id }} .dsgn-pck__sizer {
      padding-right: 0;
      padding-left: 0;
    }

    #DP--{{ section.id }} .dsgn-pck__list {
      flex-wrap: nowrap;
      text-align: left;
      justify-content: left;
      padding: 0;
      -webkit-overflow-scrolling: auto;
      overflow-x: auto;
      scroll-snap-type: none;
      padding-left: 10px;
      padding-bottom: 20px;
    }

    #DP--{{ section.id }} .dsgn-pck__list-item:last-child {
      padding-right: 10px;
      box-sizing: content-box !important;
    }
  {%- endif -%}

  #DP--{{ section.id }} .dsgn-pck__list-item {
    width: {{ section.settings.mobile_icon_width }}%;
    max-width: {{ section.settings.mobile_icon_width }}%;
    flex: 0 0 {{ section.settings.mobile_icon_width }}%;
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }}  dsgn-pck__section dsgn-pck__link-menu-icons">
  <div class="dsgn-pck__sizer">
    {%- if section.blocks.size > 6 -%}
      {%- assign text_alignment = 'left' -%}
    {%- else -%}
      {%- assign text_alignment = section.settings.text_alignment -%}
    {%- endif -%}
    <ul class="dsgn-pck__list dsgn-pck__justify-{{ text_alignment }}">
      {%- for block in section.blocks -%}
        <style>
          #DP--{{ block.id }} .dsgn-pck__image__wrapper {
            box-shadow: 0 0 0 2px {{ block.settings.image_border_color }};
          }

          #DP--{{ block.id }} .dsgn-pck__image__wrapper svg {
            background: {{ block.settings.image_border_color }};
          }

          #DP--{{ block.id }}.dsgn-pck__list-item:hover .dsgn-pck__image__wrapper {
            box-shadow: 0 0 0 4px {{ block.settings.image_border_color }};
          }

          #DP--{{ block.id }}.dsgn-pck__list-item.dsgn-pck__list-item--active .dsgn-pck__image__wrapper {
            box-shadow: 0 0 0 4px {{ block.settings.image_border_color }};
          }

          #DP--{{ block.id }} .dsgn-pck__text {
            color: {{ block.settings.text_color }};
          }
        </style>
        <li id="DP--{{ block.id }}" class="dsgn-pck__list-item dsgn-pck__{{ block.id }} {% if current_url == block.settings.link %} dsgn-pck__list-item--active {% endif %} dsgn-pck__image--{{ section.settings.image_crop }}" {{ block.shopify_attributes }}>
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" {% if block.settings.external_link %}target="_blank"{% endif %}>
          {%- endif -%}
          {%- if block.settings.image != blank -%}
            <div class="dsgn-pck__list-image dsgn-pck__image__wrapper">
              <svg viewBox="0 0 1000 1000"></svg>
              {{ block.settings.image | image_url: width: 1000 | image_tag:  widths: widths, sizes: '300px' }}
            </div>
          {%- else -%}
            <div class="dsgn-pck__image__wrapper">
              <svg viewBox="0 0 1000 1000"></svg>
            </div>
          {%- endif -%}
            <p class="dsgn-pck__text">{{ block.settings.title }}</p>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Link menu - icons",
  "class": "DP__link-menu-icons",
  "settings": [
    {
      "type": "select",
      "id": "display",
      "label": "Display",
      "default": "scroll",
      "options": [
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "Icon width",
      "default": 15,
      "min": 5,
      "max": 33,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "image_size",
      "label": "Image size",
      "default": 90,
      "min": 40,
      "max": 100,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 40,
      "label": "Spacing gap",
      "unit": "px",
      "default": 10
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "Image crop",
      "default": "circle",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "none",
          "label": "Original"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "📱 Mobile"
    },
    {
      "type": "range",
      "id": "mobile_icon_width",
      "label": "Mobile icon width",
      "default": 30,
      "min": 10,
      "max": 80,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "mobile_display",
      "label": "Display",
      "default": "scroll",
      "options": [
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 60,
      "max": 120,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Best sellers"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "external_link",
          "label": "Open this link in a new window"
        },
        {
          "type": "color",
          "id": "image_border_color",
          "label": "Image border",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#121212"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Link menu - icons 🎒",
      "blocks": [
        {
          "type": "menu_item",
          "settings": {
            "title": "Best Sellers"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "New Releases"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "Sale"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "Shop all"
          }
        }
      ]
    }
  ]
}
{% endschema %}
