{%- comment -%}
{
  "pack_name": "Link menu - grid",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This section or template will not display properly without the <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a> app installed. Please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with any questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{% comment %} Content: set template type {% endcomment %}
{% liquid
  assign template_type = template.name

  case template_type
    when 'collection'
      assign current_url = collection.url
    when 'page'
      assign current_url = page.url
    when 'blog'
      assign current_url = blog.url
    when 'article'
      assign current_url = article.url
    when 'product'
      assign current_url = product.url
    when 'list-collections'
      assign current_url = '/collections'
    when 'search'
      assign current_url = '/search'
    when 'index'
      assign current_url = '/'
    when 'cart'
      assign current_url = '/cart'
    else
      assign current_url = '/'
    endcase
%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  color: {{ section.settings.link_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
  border-top: 1px solid {{ section.settings.link_color }};
  border-bottom: 1px solid {{ section.settings.link_color }};
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#DP--{{ section.id }} .dsgn-pck__list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0;
}

#DP--{{ section.id }} .dsgn-pck__list-item {
  border-right: 1px solid {{ section.settings.link_color }};
  margin-bottom: 0;
}

#DP--{{ section.id }} .dsgn-pck__list-item a {
  height: 100%;
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  padding-right: 40px;
  padding-left: 40px;
  white-space: nowrap;
  text-decoration: none;
  color: {{ section.settings.link_color }};
  text-decoration: none;
  display: block;
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  transition: all 0.2s linear;
  position: relative;
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__list-item a span {
  position: relative;
  z-index: 1;
  white-space: normal;
}

#DP--{{ section.id }} .dsgn-pck__list-item:first-of-type {
  border-left: 1px solid {{ section.settings.link_color }};
}

#DP--{{ section.id }} .dsgn-pck__list-item a::after {
  background: {{ section.settings.link_hover_background_color }};
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s;
}

#DP--{{ section.id }} .dsgn-pck__list-item a:hover {
  color: {{ section.settings.link_hover_color }};
}

{%- if section.settings.underline -%}
  #DP--{{ section.id }} .dsgn-pck__list-item:hover a {
    text-decoration: underline;
  }
{%- endif -%}

#DP--{{ section.id }} .dsgn-pck__list-item.dsgn-pck__list-item--active a {
  color: {{ section.settings.link_hover_color }};
  background: {{ section.settings.link_hover_background_color }};
}

#DP--{{ section.id }} .dsgn-pck__list-item:hover a::after,
#DP--{{ section.id }} .dsgn-pck__list-item.dsgn-pck__list-item--active a::after {
  opacity: 1;
}

{%- if section.settings.underline -%}
  #DP--{{ section.id }} .dsgn-pck__list-item.dsgn-pck__list-item--active a {
    text-decoration: underline;
  }
{%- endif -%}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phones and down */
@media (max-width: 480px) {

  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
    border-bottom: none;
  }

  #DP--{{ section.id }} .dsgn-pck__sizer {
    min-width: 70%;
    width: 100%;
  }

  #DP--{{ section.id }} .dsgn-pck__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  #DP--{{ section.id }} .dsgn-pck__list-item a {
    border-bottom: 1px solid {{ section.settings.link_color }};
    padding: 5px;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .dsgn-pck__list-item {
    border-right: none;
  }

  #DP--{{ section.id }} .dsgn-pck__list-item:first-of-type {
    border-left: none;
  }

  #DP--{{ section.id }} .dsgn-pck__list-item:nth-of-type(odd) {
    border-right: 1px solid {{ section.settings.link_color }};
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }}  dsgn-pck__section dsgn-pck__link-menu-grid">
  <div class="dsgn-pck__sizer">
    <ul class="dsgn-pck__list dsgn-pck__justify-{{ section.settings.text_alignment }}">
      {%- for block in section.blocks -%}
        <li class="dsgn-pck__list-item dsgn-pck__{{ block.id }} {% if current_url == block.settings.link %} dsgn-pck__list-item--active {% endif %}" >
          <a href="{{ block.settings.link }}">
            <span>{{ block.settings.title }}</span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Link menu - grid",
  "class": "DP__link-menu-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "underline",
      "label": "Underline link on hover or active page.",
      "default": false
    },
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 80,
      "max": 150,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link",
      "default": "#11335E"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Link hover",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "link_hover_background_color",
      "label": "Link hover background",
      "default": "linear-gradient(46deg, rgba(179, 230, 249, 1) 6%, rgba(130, 174, 230, 1) 79%)",
      "info": "Highlights the current page"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 40,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "textarea",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Best sellers"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Link menu - grid 🎒",
      "blocks": [
        {
          "type": "menu_item",
          "settings": {
            "title": "Best Sellers"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "New Releases"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "Sale"
          }
        },
        {
          "type": "menu_item",
          "settings": {
            "title": "Shop all"
          }
        }
      ]
    }
  ]
}
{% endschema %}
