<style>
  .banner-container img {
    width: 100%;
  }
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  @media (min-width: 767px) {
    .hidden-mobile {
      display: block;
    }
    .hidden-desktop {
      display: none;
    }
  }
</style>
{% if section.settings.desktop_image != blank and section.settings.mobile_image != blank %}
  <div class="banner-container">
    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}"
        ><img
          class="hidden-mobile"
          src="{{ section.settings.desktop_image | image_url }}"
          alt="{{ section.settings.desktop_image.alt | escape }}"
          width="{{ section.settings.desktop_image.width }}"
          height="{{ section.settings.desktop_image.height }}"
      ></a>
      <a href="{{ section.settings.button_link }}"
        ><img
          class="hidden-desktop"
          src="{{ section.settings.mobile_image | image_url }}"
          alt="{{ section.settings.mobile_image.alt | escape }}"
          width="{{ section.settings.mobile_image.width }}"
          height="{{ section.settings.mobile_image.height }}"
      ></a>
    {% else %}
      <img
        class="hidden-mobile"
        src="{{ section.settings.desktop_image | image_url }}"
        alt="{{ section.settings.desktop_image.alt | escape }}"
        width="{{ section.settings.desktop_image.width }}"
        height="{{ section.settings.desktop_image.height }}"
      >
      <img
        class="hidden-desktop"
        src="{{ section.settings.mobile_image | image_url }}"
        alt="{{ section.settings.mobile_image.alt | escape }}"
        width="{{ section.settings.mobile_image.width }}"
        height="{{ section.settings.mobile_image.height }}"
      >
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Desktop Mobile Banner",
  "class": "desktop-mobile-banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Image link"
    }
  ],
  "presets": [
    {
      "name": "Desktop Mobile Banner",
      "category": "Image",
      "settings": {}
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
