{% style %}
.easel-plans {
  font-family: 'AlrightSans-Regular';
}

.easel-plans.section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  color: {{ section.settings.color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}

{% for block in section.blocks %}
  .easel-plans__item.block-{{ block.id }} .easel-plans__item__box {
    background-color: {{ block.settings.box_color }};
    color: {{ block.settings.color }};
  }

  .easel-plans__item.block-{{ block.id }} .easel-plans__item__btn {
    background-color: {{ block.settings.btn_bg_color }};
    color: {{ block.settings.btn_color }};
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: inline-block;
    font-size: 13px;
    padding: 12px;
    text-shadow: none;
    text-transform: uppercase;
    transition: background .5s ease;
    font-weight: 700;
    text-decoration: none;
    margin: 0 auto;
    width: 70%;
    display: block;
    position: relative;
    bottom: 25px;
  }
{% endfor %}

.easel-plans__container {
  max-width: 1200px;
  margin: 0 auto;
}

.easel-plans__title {
  text-align: center;
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.easel-plans__subtitle {
  text-align: center;
  margin-top: 0;
}

.easel-plans__items-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.easel-plans__item__title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 20px;
  margin: 32px 0 0 0;
}

.easel-plans__item__subtitle {
  color: #A4A4A4;
  display: block !important;
  height: 29px;
}

.easel-plans__item__bottom-text {
  color: #d8d8d8;
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}

.easel-plans__item__price {
  color: #FFB762;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
  margin: 0 0 10px 0;
}

.easel-plans__item__box {
  width: 280px;
  height: 290px;
  text-align: center;
  padding-top: 5px;
}

.easel-plans__item__btn {
  text-align: center;
}

@media screen and (max-width: 920px) {
  .easel-plans__items-wrapper {
    flex-direction: column;
  }

  .easel-plans__item {
    max-width: 400px;
    margin: 0 auto;
  }
}
{% endstyle %}
<div class="easel-plans section-{{ section.id }}">
  <div class="easel-plans__container">
    <p class="easel-plans__title">{{ section.settings.title }}</p>
    <p class="easel-plans__subtitle">{{ section.settings.subtitle }}</p>
    <div class="easel-plans__items-wrapper">
      {% for block in section.blocks %}
        <div class="easel-plans__item block-{{ block.id }}">
          <div class="easel-plans__item__box">
            <p class="easel-plans__item__title">{{ block.settings.title }}</p>
            <p class="easel-plans__item__subtitle">{{ block.settings.subtitle }}</p>
            <p class="easel-plans__item__price">{{ block.settings.price }}</p>
            <p class="easel-plans__item__bottom-text">{{ block.settings.bottom_text }}</p>
          </div>
          <a href="{{ block.settings.btn_url }}" class="easel-plans__item__btn">
            {{ block.settings.btn_text }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Easel Plans",
  "presets": [ { "name": "Easel Plans" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub-Title"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "color",
          "id": "box_color",
          "label": "Box Color",
          "default": "#313131"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub-Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price tag"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "Button Background Color",
          "default": "#FFB256"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Button Color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}
