{% style %}
.easel-aio {
  font-family: "AlrightSans-Regular";
}

.easel-aio.section-{{ section.id }} {
  background: linear-gradient(to bottom, {{ section.settings.grad_color_top }} 0 50%, {{ section.settings.grad_color_bottom }} 50% 100%);
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  min-height: 700px;
  color: black;
}

.easel-aio__container {
  max-width: 1200px;
  margin: 0 auto;
}

.easel-aio__title {
  text-align: center;
  font-size: 32px;
}

.easel-aio__title span.highlight {
  color: var(--gradient-base-accent-2);
  font-weight: bold;
}

.easel-aio__items-wrapper {
  display: flex;
  justify-content: space-between;
}

.easel-aio__item {
  width: 30%;
}

.easel-aio__item__video {
  margin: 0 auto;
  width: 326px;
}

.easel-aio__item__title {
  color: var(--gradient-base-accent-2);
  font-size: 20px;
  text-align: center;
}

.easel-aio__item__text {
  text-align: center;
}

{% for block in section.blocks %}
  .easel-aio__item.block-{{ block.id }} .easel-aio__item__title {
    color: {{ block.settings.title_color }};
  }

  .easel-aio__item.block-{{ block.id }} .easel-aio__item__text {
    color: {{ block.settings.text_color }};
  }
{% endfor %}

@media screen and (max-width: 1200px) {
  .easel-aio.section-{{ section.id }} {
    background: linear-gradient(to bottom, {{ section.settings.grad_color_top }} 0 25%, {{ section.settings.grad_color_bottom }} 25% 100%);
  }

  .easel-aio__container {
    margin: 0 10px;
  }

  .easel-aio__items-wrapper {
    flex-direction: column;
  }

  .easel-aio__item {
    margin: 0 auto;
    width: 100%;
  }

  .easel-aio__item__video {
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: contain;
    height: auto;
    max-width: 400px;
  }
}
{% endstyle %}

<div id="overview" class="easel-aio section-{{ section.id }}">
  <div class="easel-aio__container">
    <p class="easel-aio__title">{{ section.settings.title }}</p>
    <div class="easel-aio__items-wrapper">
      {% for block in section.blocks %}
        <div class="easel-aio__item block-{{ block.id }}">
          {% if block.settings.video %}
            {% assign poster_url = block.settings.video_poster | image_url: width: 326 %}
            {{ block.settings.video | video_tag: class: "easel-aio__item__video", poster: poster_url, loop, muted }}
          {% else %}
            {{ block.settings.video_poster | image_url: width: 326 | image_tag: class: "easel-aio__item__video" }}
          {% endif %}
          <p class="easel-aio__item__title">{{ block.settings.title }}</p>
          <p class="easel-aio__item__text">{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Easel All-in-One",
  "presets": [ { "name": "Easel All-in-One" } ],
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "grad_color_top",
      "label": "Background Color - Top half",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "grad_color_bottom",
      "label": "Background Color - Bottom half",
      "default": "#3b3b3b"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "name": "block",
      "type": "item",
      "limit": 3,
      "settings": [
        {
          "type": "color",
          "id": "title_color",
          "label": "Text Color",
          "default": "#FEA245"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Title"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video Poster"
        }
      ]
    }
  ]
}
{% endschema %}
