{% style %}
.easel-hero.section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
}

.easel-hero__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
{% endstyle %}
<div class="easel-hero section-{{ section.id }}">
  <div class="easel-hero__container">
    <div class="easel-hero__right-side">
      <div class="easel-hero__title-wrapper">
        {{ section.settings.title }}
      </div>
      <p class="easel-hero__subtext">{{ section.settings.subtext }}</p>
    </div>
    <div class="easel-hero__left-side">
      {{ section.settings.image | image_url: width: 800 | image_tag: class: 'easel-hero__image' }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Easel Hero",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub-text"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "orange_btn_text",
      "label": "Orange Button Text"
    },
    {
      "type": "url",
      "id": "orange_btn_url",
      "label": "Orange Button URL"
    },
    {
      "type": "text",
      "id": "white_btn_text",
      "label": "White Button Text"
    },
    {
      "type": "url",
      "id": "white_btn_url",
      "label": "White Button URL"
    }
  ],
  "presets": [
    { "name": "Easel Hero"}
  ]
}
{% endschema %}
