{% style %}
.easel-text-reviews.section-{{ section.id }} {
  color: {{ section.settings.color }};
  background-color: {{ section.settings.bg_color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}

.easel-text-reviews__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.easel-text-reviews__item {
  max-width: 327px;
  min-height: 316px;
}

.easel-text-reviews__item__quote {

}

.easel-text-reviews__item__text {
  font-weight: bold;
  height: 150px;
  line-height: 1;
}

.easel-text-reviews__item__author {
  font-weight: bold;
}
{% endstyle %}
<div class="easel-text-reviews section-{{ section.id }}">
  <div class="easel-text-reviews__container">
    {% for block in section.blocks %}
      <div class="easel-text-reviews__item">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24" viewBox="0 0 32 24" fill="none" class="easel-text-reviews__item__quote">
          <path d="M12.0396 11.8812H6.81188C6.81188 8.55445 8.79208 5.86139 12.5941 4.43564L10.2178 0C3.32673 2.29703 0 6.49505 0 14.7327V24H12.0396V11.8812ZM30.4951 11.8812H25.2673C25.2673 8.55445 27.2475 5.86139 31.0495 4.43564L28.6733 0C21.7822 2.29703 18.4554 6.49505 18.4554 14.7327V24H30.4951V11.8812Z" fill="#FFB762"></path>
        </svg>
        <p class="easel-text-reviews__item__text">
          {{ block.settings.text }}
        </p>
        <p class="easel-text-reviews__item__author">
          {{ block.settings.author }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Easel Text Reviews",
  "presets": [ { "name": "Easel Text Reviews" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
