{% style %}
.easel-img-carousel {
  font-family: 'AlrightSans-Regular';
}

.easel-img-carousel.section-{{ section.id }} {
  color: {{ section.settings.color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  background: {{ section.settings.bg_color }};
}

.easel-img-carousel__flex-wrapper {
  display: flex;
}

.easel-img-carousel__indicators {
  display: flex;
  justify-content: center;
  list-style: none;
}

.easel-img-carousel__image:not(.active) {
  display: none;
}

.easel-img-carousel__content:not(.active) {
  display: none;
}

.easel-img-carousel__left-side {
  padding: 40px;
  width: 50%;
}

.easel-img-carousel__content {
  padding-top: 50px;
  padding-left: 50px;
  min-height: 400px;
}

.easel-img-carousel__indicator {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: white;
  margin-right: 10px;
  cursor: pointer;
}

.easel-img-carousel__indicator.active {
  background-color: var(--gradient-base-accent-2);
}

.easel-img-carousel__content__title {
  font-size: 32px;
}

.easel-img-carousel__content__subtitle {
  font-size: 16px;
}

.easel-img-carousel__content__bottom-text {
  font-size: 16px;
}
{% endstyle %}
<div class="easel-img-carousel section-{{ section.id }}">
  <div class="easel-img-carousel__flex-wrapper">
    <div class="easel-img-carousel__right-side">
      {% for block in section.blocks %}
        {% assign img_class = 'easel-img-carousel__image' %}
        {% if forloop.index0 == 0 %}
          {% assign img_class = 'easel-img-carousel__image active' %}
        {% endif %}
        <img src="{{ block.settings.image | image_url: width: 800 }}" class="{{ img_class }}" data-index="{{forloop.index0}}"></img>
      {% endfor %}
    </div>
    <div class="easel-img-carousel__left-side">
      {% for block in section.blocks %}
        {% assign content_class = 'easel-img-carousel__content' %}
        {% if forloop.index0 == 0 %}
          {% assign content_class = 'easel-img-carousel__content active' %}
        {% endif %}
        <div class="{{ content_class }}" data-index="{{ forloop.index0 }}">
          <p class="easel-img-carousel__content__title">{{ block.settings.title }}</p>
          <p class="easel-img-carousel__content__subtitle">{{ block.settings.subtitle }}</p>
          {% if block.settings.bottom_text %}
            <p class="easel-img-carousel__content__bottom-text">{{ block.settings.bottom_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <ol class="easel-img-carousel__indicators">
        {% for block in section.blocks %}
          {% assign indicator_class = 'easel-img-carousel__indicator' %}
          {% if forloop.index0 == 0 %}
            {% assign indicator_class = 'easel-img-carousel__indicator active' %}
          {% endif %}
          <li class="{{ indicator_class }}" data-index="{{ forloop.index0 }}">
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

<script defer="defer" src="{{ 'easel-carousel.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Easel Image Carousel",
  "presets": [ { "name": "Easel Image Carousel" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub-Title"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom Title"
        }
      ]
    }
  ]
}
{% endschema %}
