{% style %}
.easel-3d-carving {
  font-family: 'AlrightSans-Regular';
}

.easel-3d-carving.section-{{ section.id }} {
  color: {{ section.settings.color }};
  background-color: {{ section.settings.bg_color }};
  padding-top: {{ section.settings.padding_top }};
  padding-bottom: {{ section.settings.padding_bottom }};
}

.easel-3d-carving__container {
  max-width: 1200px;
  margin: 0 auto;
}

.easel-3d-carving__upper-container {
  display: flex;
}

.easel-3d-carving__upper-container {
  display: flex;
  justify-content: space-between;
}

.easel-3d-carving__video-wrapper {
  width: 50%;
}

.easel-3d-carving__video-wrapper iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 20px;
}

.easel-3d-carving__content-wrapper {
  width: 50%;
}

.easel-3d-carving__title {
  font-size: 32px;
}

.easel-3d-carving__pill {
  border-radius: 9px;
  color: black;
  background-color: var(--gradient-base-accent-2);
  font-size: 12px;
  font-weight: bold;
  padding: 4px 9px;
  position: relative;
  bottom: 10px;
}
.easel-3d-carving__sub-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--gradient-base-accent-2);
}

.easel-3d-carving__text {

}

.easel-3d-carving__items-wrapper {
  display: flex;
}
{% endstyle %}
{% assign video_id = section.settings.video.id %}
<div class="easel-3d-carving section-{{ section.id }}">
  <div class="easel-3d-carving__container">
    <div class="easel-3d-carving__upper-container">
      <div class="easel-3d-carving__video-wrapper">
        {% if section.settings.video %}
          {%- if section.settings.video.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}"
              sandbox="allow-presentation allow-scripts allow-same-origin"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {% endif %}
      </div>
      <div class="easel-3d-carving__content-wrapper">
        <p class="easel-3d-carving__title">
          {{ section.settings.title }}
          {% if section.settings.display_pill %}
            <span class="easel-3d-carving__pill">{{ section.settings.pill_text }}</span>
          {% endif %}
        </p>
        <p class="easel-3d-carving__sub-title">{{ section.settings.sub_title }}</p>
        <p class="easel-3d-carving__text">{{ section.settings.text }}</p>
      </div>
    </div>
    <div class="easel-3d-carving__items-wrapper">
      {% for block in section.blocks %}
        <div class="easel-3d-carving__item">
          <p class="easel-3d-carving__item__title">
            {{ block.settings.title }}
          </p>
          <p class="easel-3d-carving__item__text">
            {{ block.settings.text }}
          </p>
        </div>
      {% endfor %}
    </div>
    <hr class="easel-3d-carving__separator" />
  </div>
</div>
{% schema %}
{
  "name": "Easel 3D Carving",
  "presets": [ { "name": "Easel 3D Carving" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video",
      "accept": [
        "vimeo",
        "youtube"
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub-Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFB762"
    },
    {
      "type": "checkbox",
      "id": "display_pill",
      "label": "Display Pill",
      "default": true
    },
    {
      "type": "text",
      "id": "pill_text",
      "label": "Pill Text"
    },
    {
      "type": "color",
      "id": "pill_color",
      "label": "Pill Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "pill_bg_color",
      "label": "Pill Background Color",
      "default": "#FFB762"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
