{% style %}
.easel-hero.section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}

.easel-hero {
  font-family: 'AlrightSans-Regular';
}

.easel-hero__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 425px;
}

.easel-hero__left-side, .easel-hero__right-side {
  width: 50%;
}

.easel-hero__right-side {
  padding-left: 20px;
  padding-top: 40px;
}

.easel-hero__cta-wrapper {
  margin: 20px 0;
}
 
.easel-hero__title-wrapper {
  font-size: 32px;
}

.easel-hero__title-wrapper p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
  line-height: 1;
  color: white;
}

.easel-hero__subtext {
  max-width: 360px;
}

.easel-hero__text {
 font-size: 18px;
 color: white;
}

.easel-hero__text p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.easel-hero__orange-btn {
  margin-right: 10px;
}

.easel-hero .btn-primary {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 20px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: var(--gradient-base-accent-2);
  color: #383838;
  font-weight: 700;
  text-decoration: none;
}

.easel-hero .btn-white {
  border: solid 2px white;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 20px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: transparent;
  font-weight: 700;
  text-decoration: none;
}

.easel-hero__text {
  margin-top: 35px;
}

.easel-hero__text p.highlight {
  font-size: 24px;
  color: var(--gradient-base-accent-2);
  font-weight: bold;
}

.easel-hero__title-wrapper p.highlight {
  font-weight: bold;
}

.easel-hero__image__wrapper--abs {
  position: absolute;
}

.easel-hero__image__wrapper--rel {
  position: relative;
}
{% endstyle %}
<div class="easel-hero section-{{ section.id }}">
  <div class="easel-hero__container">
    <div class="easel-hero__right-side">
      <div class="easel-hero__title-wrapper">
        {{ section.settings.title }}
      </div>
      <p class="easel-hero__subtext">{{ section.settings.subtext }}</p>
      <div class="easel-hero__cta-wrapper">
        {% if section.settings.orange_btn_text %}
          <a href="{{ section.settings.orange_btn_url }}" class="easel-hero__orange-btn btn-primary">
            {{ section.settings.orange_btn_text }}
          </a>
        {% endif %}
        {% if section.settings.white_btn_text %}
          <a href="{{ section.settings.white_btn_url }}" class="easel-hero__white-btn btn-white">
            {{ section.settings.white_btn_text }}
          </a>
        {% endif %}
      </div>
      <div class="easel-hero__text">
        {{ section.settings.text }}
      </div>
    </div>
    <div class="easel-hero__left-side">
      <div class="easel-hero__image__wrapper--abs">
        <div class="easel-hero__image__wrapper--rel">
          {{ section.settings.image | image_url: width: 800 | image_tag: class: 'easel-hero__image' }}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Easel Hero",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub-text"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "orange_btn_text",
      "label": "Orange Button Text"
    },
    {
      "type": "url",
      "id": "orange_btn_url",
      "label": "Orange Button URL"
    },
    {
      "type": "text",
      "id": "white_btn_text",
      "label": "White Button Text"
    },
    {
      "type": "url",
      "id": "white_btn_url",
      "label": "White Button URL"
    }
  ],
  "presets": [
    { "name": "Easel Hero"}
  ]
}
{% endschema %}
