{% style %}
.easel-header {
  background-color: #383838;
}

.easel-header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
}

.easel-header__logo-wrapper {
  width: 50%;
}

.easel-header__logo {
  width: 137px;
  height: 28px;
  position: relative;
  top: 8px;
}

.easel-header .btn-primary {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 12px 60px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: #ffb256;
  color: #383838;
  font-weight: 700;
}

.easel-header__orange-btn.btn-primary {
  padding: 6px 12px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
}
{% endstyle %}

<div class="easel-header">
  <div class="easel-header__container">
    <div class="easel-header__logo-wrapper">
      {{ section.settings.logo | image_url: width: 200 | image_tag: class: 'easel-header__logo' }}
    </div>
    <div class="easel-header__cta-wrapper">
      {% for block in section.blocks %}
        <a href="{{ block.settings.url | default: "#" }}" class="easel-header__nav-item">
          {{ block.settings.text }}
        </a>
      {% endfor %}
      {% if section.settings.orange_btn_text %}
        <a href="{{ section.settings.orange_btn_url }}" class="easel-header__orange-btn btn-primary">
          {{ section.settings.orange_btn_text }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Easel Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "orange_btn_text",
      "label": "Orange Button Text"
    },
    {
      "type": "url",
      "id": "orange_btn_url",
      "label": "Orange Button URL"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "nav_item",
      "name": "Nav Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Easel Header"
    }
  ]

}
{% endschema %}
