{% style %}

  .easel-support-hardware__detail-wrapper {
    position: relative;
    top: 63px;
    display: flex;
    width: 100%;
    margin-left: 10vw;
  }
  .easel-support-hardware__detail-wrapper img{
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  
  .easel-support-hardware__square-wrapper {
    font-size: 12pt;
    line-height: 18pt;
  }
  .easel-support-hardware__line-wrapper {
    position: relative;
    top: 67px;
    width: 100%;
  }

  .easel-supported-hardware__container {
    background-color: white;
  }

  .supported_hardware__title {
    -webkit-text-size-adjust: 100%;
    margin: 36px 0 20px;
    color: #383838;
    text-rendering: optimizelegibility;
    line-height: 30pt;
    text-align: center;
    text-transform: uppercase;
    font-family: "Alright Sans LT Light", lato, helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
  }

  .supported_hardware__subtitle {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    line-height: 18pt;
    font-weight: bold;
    text-align: center;
    width: 275px;
    margin: 40px auto;
    font-size: 16px;
  }

  .easel-support-hardware__machines-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .easel-support-hardware__machines-wrapper {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    font-size: 12pt;
    line-height: 18pt;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
  }

  .easel-support-hardware__machines-list-wrapper {
    width: 50%;
  }

  .easel-support-hardware__machines-list {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    font-size: 12pt;
    line-height: 18pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    list-style: none;
    list-style-type: disc;
    padding: 0 0 0 20px;
  }

  .easel-support-hardware__machines-list li {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    font-size: 12pt;
    list-style: none;
    list-style-type: disc;
    padding: 5px 0;
    min-width: 212px;
    display: list-item;
    width: 50%;
    line-height: 31px;
  }

  .easel-support-hardware__machines-list li a {
    color: #333;
    font-weight: bold;
  }

  .easel-support-hardware__machines-image-wrapper {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    font-size: 12pt;
    line-height: 18pt;
  }

  .easel-support-hardware__machines-image-wrapper.mobile {
    width: 293px;
    margin: 0 auto;
    display: block;
    display: none;
  }

  @media screen and (max-width: 1045px) {
    .easel-support-hardware__machines-list-wrapper {
      width: 100%
    }
    .easel-support-hardware__machines-list-wrapper p {
      text-align: center
    }
    .easel-support-hardware__machines-image-wrapper.mobile {
      display: block;
    }
    .easel-support-hardware__machines-image-wrapper.desktop {
      display: none;
    }
    .easel-support-hardware__detail-wrapper {
      display: none;
    }
    .supported_hardware__title {
      padding-top: 2rem
    }
    .easel-support-hardware__machines-list {
      justify-content: space-around;
    }
  }

  .easel-support-hardware__orange {
    color: #ffb762;
  }

  .easel-support-hardware__is-optimized {
    color: #383838;
    font-size: 13pt;
    line-height: 18pt;
    text-align: center;
    padding: 15px;
    margin: 40px 0;
    font-weight: bold;
  }

  .easel-support-hardware__is-optimized b {
    color: #ffb762;
  }

  .easel-support-hardware__cta_btn.btn-primary {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 12px 60px;
    text-shadow: none;
    text-transform: uppercase;
    transition: background .5s ease;
    background: #ffb256;
    color: #383838;
    font-weight: 700;
    text-decoration: none;
  }

  .easel-support-hardware__cta_btn_container {
    -webkit-text-size-adjust: 100%;
    font-family: "Alright Sans LT", lato, helvetica, sans-serif;
    color: #383838;
    font-size: 12pt;
    line-height: 18pt;
    text-align: center;
    padding-bottom: 40px;
  }
{% endstyle %}

<div id="easel-supported-hardware" class="easel-supported-hardware__container">

  <div class="easel-support-hardware__detail-wrapper">
    <div class="easel-support-hardware__square-wrapper">
      <img src="{{ section.settings.supported_hardware_header_decoration_image_desktop | image_url }}">
    </div>
    <div class="easel-support-hardware__line-wrapper">
      <svg viewBox="0 0 1170 100">
        <line x1="50" y1="0" x2="60%" y2="0" stroke="#ffb762" stroke-width="3"></line>
        <line x1="60%" y1="0" x2="70%" y2="100" stroke="#ffb762" stroke-width="2"></line>
        <line x1="70%" y1="100" x2="100%" y2="100" stroke="#ffb762" stroke-width="3"></line>
      </svg>
    </div>
  </div>

  <div class="supported_hardware__header_container">
    <h2 class="supported_hardware__title">
      {{ section.settings.supported_hardware_title_text }}
      <br>
      <b class="easel-support-hardware__orange">
        {{ section.settings.supported_hardware_highlighed_title_text }}
      </b>
    </h2>
  </div>

  <div>
    <p class="supported_hardware__subtitle">{{ section.settings.supported_hardware_subtitle_text }}</p>
  </div>

  <div class="easel-support-hardware__machines-image-wrapper mobile">
    <img src="{{ section.settings.supported_hardware_header_image_mobile | image_url }}">
  </div>

  <div class="easel-support-hardware__machines-container">
    <div class="easel-support-hardware__machines-wrapper">
      <div class="easel-support-hardware__machines-list-wrapper">
        <p>
          <b>Integrate with:</b>
        </p>
        <ul class="easel-support-hardware__machines-list">
          {% for block in section.blocks %}
            <li>
              <a href="{{ block.settings.url }}">
                {{ block.settings.text }}
                {% if block.settings.isOptimized %}
                  <span class="easel-support-hardware__orange">
                    <b>(*)</b>
                  </span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="easel-support-hardware__machines-image-wrapper desktop">
        <img src="{{ section.settings.supported_hardware_header_image_desktop | image_url }}">
      </div>
    </div>
  </div>
  <div>
    <p class="easel-support-hardware__is-optimized">
      {% if section.settings.supported_hardware_show_optimized_subtitle_text %}
        <b>
          <span class="easel-support-hardware__orange">(*)</span>
        </b>
        {{ section.settings.supported_hardware_optimized_text }}
      {% endif %}
    <div class="easel-support-hardware__cta_btn_container">
      <a
        target="_blank"
        class="easel-support-hardware__cta_btn btn-primary"
        href="{{ section.settings.supported_hardware_cta_url }}"
        >{{ section.settings.supported_hardware_cta_text }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Easel Supported Hardware",
    "settings": [
      {
        "type": "image_picker",
        "id": "supported_hardware_header_decoration_image_desktop",
        "label": "Image Decoration"
      }, {
        "type": "text",
        "id": "supported_hardware_title_text",
        "label": "Title Text"
      }, {
        "type": "text",
        "id": "supported_hardware_highlighed_title_text",
        "label": "Highlighted Title Text"
      }, {
        "type": "image_picker",
        "id": "supported_hardware_header_image_desktop",
        "label": "Header Image (Desktop)"
      }, {
        "type": "image_picker",
        "id": "supported_hardware_header_image_mobile",
        "label": "Header Image (Mobile)"
      }, {
        "type": "text",
        "id": "supported_hardware_subtitle_text",
        "label": "Sub Title Text"
      }, {
        "type": "text",
        "id": "supported_hardware_optimized_text",
        "label": "Optimized Text"
      }, {
        "type": "checkbox",
        "id": "supported_hardware_show_optimized_subtitle_text",
        "label": "Show Optimized Subtitle?"
      }, {
        "type": "text",
        "id": "supported_hardware_cta_text",
        "label": "CTA Button Text"
      }, {
        "type": "url",
        "id": "supported_hardware_cta_url",
        "label": "Show Optimized Subtitle?"
      }
    ],
    "max_blocks": 30,
    "blocks": [
      {
        "type": "nav_item",
        "name": "Integration Items",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL"
          }, {
            "type": "checkbox",
            "id": "isOptimized",
            "label": "Is Optimized?"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Easel Compability"
      }
    ]

  }
{% endschema %}