{% style %}
.easel-get-more.section-{{ section.id }} {
  color: {{ section.settings.color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  background: linear-gradient(to bottom, {{ section.settings.bg_grad_color1 }} 0 50%, {{ section.settings.bg_grad_color2 }} 50% 100%);
}

.easel-get-more__container {
  max-width: 1200px;
  margin: 0 auto;
}

.easel-get-more__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.easel-get-more__text {
  text-align: center;
  max-width: 351px;
  margin: 40px auto;
}

.easel-get-more__video-wrapper {
  max-width: 740px;
  margin: 0 auto;
}

.easel-get-more__video-wrapper--abs {
  position: absolute;
}

.easel-get-more__video-wrapper iframe{
  border: none;
  margin: 0 auto;
  width: 740px;
  height: 420px;
  display: block;
  position:relative;
  top: 10px;
}

.easel-get-more__monitor-wrapper svg {
  margin: 0 auto;
  display: block;
}
{% endstyle %}
<div class="easel-get-more section-{{ section.id }}">
  <div class="easel-get-more__container">
    <p class="easel-get-more__title">
      {{ section.settings.title }}
      {% if section.settings.logo %}
        {{ section.settings.logo | image_url: width: 230 | image_tag: class: 'easel-get-more__logo' }}
      {% endif %}
    </p>

    <p class="easel-get-more__text">{{ section.settings.text }}</p>

    <div class="easel-get-more__video-wrapper">
      <div class="easel-get-more__video-wrapper--abs">
        {% assign video_id = section.settings.video.id %}
        {% if section.settings.video %}
          {%- if section.settings.video.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}"
              sandbox="allow-presentation allow-scripts allow-same-origin"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
            ></iframe>
          {%- endif -%}
        {% endif %}
      </div>
    </div>
    <div class="easel-get-more__monitor-wrapper">
      {% render 'monitor_svg' %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Easel Get more",
  "presets": [ { "name": "Easel Get more" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_grad_color1",
      "label": "Background Gradient Color 1",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "bg_grad_color2",
      "label": "Background Gradient Color 2",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video",
      "accept": [
        "vimeo",
        "youtube"
      ]
    }
  ]
}
{% endschema %}
