<link rel="stylesheet" href="{{ 'component-editorial-block.css' | asset_url }}"
media="print" onload="this.media='all'">

<noscript>{{ 'component-editorial-block.css' | asset_url | stylesheet_tag }}</noscript>


<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
</script>
    


{%- for block in section.blocks -%}
<div class="container">
    <div class="left-block mySlides fade">
        <img src="{{ block.settings.left-image | image_url }}" 
        alt="{{ block.settings.left-image }}"
        width="{{ block.settings.width }}"
        height="{{ block.settings.height }}"
        loading="lazy">
        <h2>{{ block.settings.left-title }}</h2>
        <p>{{ block.settings.left-description }}</p>
        <a href="{{ block.settings.left-link }}">Shop Now</a>
    </div>
    <div class="right-block mySlides fade">
        <img src="{{ block.settings.right-image | image_url }}" 
        alt="{{ block.settings.right-image }}" 
        width="{{ block.settings.width }}"
        height="{{ block.settings.height }}"
        loading="lazy">
        <h2>{{ block.settings.right-title }}</h2>
        <p>{{ block.settings.right-description }}</p>
        <a href="{{ block.settings.right-link }}">Shop Now</a>
    </div>
</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
</div>



{%- endfor -%}

{% schema %}
{
  "name": "editorial",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "heading",
      "name": "editorial-blocks",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "left-image",
          "label": "left image"
        },
        {
          "type": "text",
          "id": "left-title",
          "label": "left title"
        },
        {
          "type": "text",
          "id": "left-description",
          "label": "left description"
        },
        {
          "type": "url",
          "id": "left-link",
          "label": "left SHOP NOW link"
        },
        {
          "type": "image_picker",
          "id": "right-image",
          "label": "right image"
        },
        {
          "type": "text",
          "id": "right-title",
          "label": "right title"
        },
        {
          "type": "text",
          "id": "right-description",
          "label": "right description"
        },
        {
          "type": "url",
          "id": "right-link",
          "label": "right SHOP NOW link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "editorial"
    }
  ]
}
{% endschema %}