{{ 'featured-artists-products.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}
<div class="featured-artists-products color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="featured-artists-products__header">
      {% if section.settings.spotify_url %}
        <a href="{{ section.settings.spotify_url }}" target="_blank" class="featured-artists-products__spotify">
          <img height="100" width="100" src="{{ 'icon-spotify.svg' | asset_url }}" alt="Spotify">
        </a>
      {% endif %}
      <div class="featured-artists-products__text">
        <h2>{{ section.settings.artist_name }}</h2>
        <p>
          {{ section.settings.genre }}
        </p>
        <p>{{ section.settings.bio }}</p>
      </div>
    </div>
  </div>

  <div class="featured-artists-products__products color-{{ section.settings.color_scheme_lower }}">
    <div class="page-width">
      <h3>Products they love</h3>
      <div class="featured-artists-products__grid">
        {% for block in section.blocks %}
          {% assign product = block.settings.product %}
          {% if product != blank %}
            <div class="featured-artists-products__card">
              {% render 'product-card-multicolour', product: product %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Artist Products",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "artist_name",
      "label": "Artist Name",
      "default": "Artist Name"
    },
    {
      "type": "text",
      "id": "genre",
      "label": "Genre",
      "default": "Genre"
    },
    {
      "type": "textarea",
      "id": "bio",
      "label": "Artist Bio",
      "default": "Bio - Lorem ipsum dolor sit amet consectetur. Nunc quis felis bibendum magna lorem semper non sed. Euismod nibh arcu turpis ut montes adipiscing."
    },
    {
      "type": "url",
      "id": "spotify_url",
      "label": "Spotify URL"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_lower",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Featured Artist Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}
