{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media only screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
  
  {% if section.settings.bg_image != blank  %}
    #shopify-section-{{ section.id }} .featured-product {
      background: url("{{ section.settings.bg_image | img_url: 'master' }}"); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: {{ section.settings.bg_image_position }};
    }
  {% endif %}
  
  @media only screen and (max-width: 768px) {
    {% if section.settings.bg_image_mobile != blank  %}
      #shopify-section-{{ section.id }} .featured-product {
        background: url("{{ section.settings.bg_image_mobile | img_url: 'master' }}"); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: {{ section.settings.bg_image_position_mobile }};
      }
    {% else %}
      #shopify-section-{{ section.id }} .featured-product {
        background: transparent;
      }
    {% endif %}
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<style>
/* Title */
.collections-product-section{
  background-color: transparent;
}
.collections-product-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #37393A;
  margin-top: 60px;
  margin-bottom: 70px;
}
.collections-product-title h2 {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}
.collections-product-title p {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.6;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .collections-product-title {
    margin-top: 20px;
    margin-bottom: 37px;
  }
  .collections-product-title h2 {
    font-size: 26px;
  }
  .collections-product-title p {
    font-size: 22px;
  }
}

/* Block Item */  
.collections-product-item-container {
  display: flex;
}  
.collections-product-item {
  width: 50%;
  text-align: center;
}
.collections-product-item h3,
.collections-product-item p {
  margin-top: 0;
  margin-bottom: 0;
}  

/* Block Item > Media*/    
.collections-product-media {
  max-width: 450px;
  margin: 0 auto;
}
.collections-product-media img {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .collections-product-media {
    max-width: 150px;
  }
}

/* Block Item > Media > Main */  
.collections-product-media-main img {
  object-fit: contain;
  width: 450px;
  height: 450px;
}
@media only screen and (max-width: 768px) {
  .collections-product-media-main img {
    width: 150px;
    height: 150px;
  }
}

/* Block Item > Media > Main > サムネイル*/  
.collections-product-media-thumbnail .splide__list {
  justify-content: center;
  column-gap: 6px;
  margin-top: 15px !important;
  transform: unset !important;
}
.collections-product-media-thumbnail .splide__slide {
  width: 70px !important;    
}
.collections-product-media-thumbnail .splide__list img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 14px;
}
.collections-product-media-thumbnail .splide__track--nav>.splide__list>.splide__slide,  
.collections-product-media-thumbnail .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none;
}
@media only screen and (max-width: 768px) {
  .collections-product-media-thumbnail .splide__list {
    column-gap: 2px;
    margin-top: 2px !important;
  }
  .collections-product-media-thumbnail .splide__slide {
    width: 25px !important;    
  }
  .collections-product-media-thumbnail .splide__list img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
}

/* Block Item > Title */  
.collections-product-item .collections-product-media-title {
  color:#2F2F2F;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  min-height: 96px;
  margin-top: 52px;
}
@media only screen and (max-width: 768px) {
  .collections-product-item .collections-product-media-title {
    margin-top: 11px;
    font-size: 15px;
    min-height: 44px;
  }
}

/* Block Item > Price */  
.collections-product-price {
  min-height: 195px;
}  
.collections-product-item-price-item {
  position: relative;
}  
.collections-product-item-price-item p {
  font-size: 25px;
  line-height: normal;
}  
.collections-product-item-price-item .collections-product-item-price-label {
  font-size: 15px;
}
.collections-product-item-price-item .collections-product-item-price-label span {
  color: #F54B09;
}
.collections-product-item-save-label {
  position: absolute;
  top: 0;
  right: 140px;
  width: 60px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  
.collections-product-item-save-label1 {
  background: #F54B09;
}  
.collections-product-item-save-label2 {
  background: #F5AC51;
}   
.collections-product-item-save-label p {
  font-size: 13px;
  color: #fff;
}
.collections-product-item-save-price {
  font-weight: bold;
}  
@media only screen and (max-width: 768px) {
  .collections-product-price {
    min-height: 175px;
  }  
  .collections-product-item-price-item p {
    font-size: 15px;
  }
  .collections-product-item-price-price {
    padding: 8px 0;
    margin-right: 30px;
  }
  .collections-product-item-price-item .collections-product-item-price-label {
    font-size: 13px;
  }
  .collections-product-item-save-label {
    top: 18px;
    right: 18px;
    width: 32px;
    height: 30px;
  }
  .collections-product-item-save-label p {
    font-size: 10px;
     line-height: 1.1;
  }
}
  
/* Block Item > Link */  
.collections-product-link {
  width: 200px;
  height: 50px;
  margin: 51px auto 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}  
.collections-product-link a {
  color: #fff;
  text-decoration: none;
}  
@media only screen and (max-width: 768px) {
  .collections-product-link {
    width: 128px;
    height: 40px;
    margin: 8px auto 59px;
  }  
  .collections-product-link a {
    font-size: 20px;
    margin-top: 3px;
  }
}

/* Block Item > Content */  
.collections-product-content-top {
  margin-bottom: 47px;
}
.collections-product-content p {
  line-height: 1.6;
}  
@media only screen and (max-width: 768px) {
  .collections-product-content {
    margin-bottom: 15px;
  }
  .collections-product-content img {
    width: 70px;
    height: 70px;
  }
}
</style>

<section 
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
  class="featured-collections-product color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %} {% if section.settings.class_name != blank %}{{ section.settings.class_name }}{% endif %}">
  <div class="page-width section-{{ section.id }}-padding{% if section.settings.secondary_background %} isolate{% endif %}">
    
    <!-- Title -->
    {%- if section.settings.title != blank or section.settings.sub-title != blank -%}
      <div class="collections-product-title">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.sub-title }}</p>
      </div>
    {%- endif -%}



    <!-- Block -->
    <div class="collections-product-item-container">
      {%- for block in section.blocks -%}
        {%- assign product = block.settings.product -%}

        {% style %}
          .collections-product-item--{{ block.id }} .collections-product-media-title span {
            color: {{ block.settings.accent-color }};
          }
          .collections-product-item--{{ block.id }} .collections-product-link {
              background: {{ block.settings.accent-color }};
          }
        {% endstyle %}  
      
        <div class="collections-product-item collections-product-item--{{ block.id }}">

          <!-- Gallery -->
          <div class="collections-product-media">
            <div id="main-carousel-{{ block.id }}" class="splide collections-product-media-main">
              <div class="splide__track">
                <div class="splide__list">
                  {%- for media in product.media limit: 5 -%}
                  <div class="splide__slide">
                    <img src="{{  media | img_url: 'original' }}" alt="" />
                  </div>
                  {%- endfor -%}  
                </div>
              </div>
            </div>
            <div id="thumbnail-carousel-{{ block.id }}" class="splide collections-product-media-thumbnail">
              <div class="splide__track">
                <ul class="splide__list">
                  {%- for media in product.media limit: 5 -%}
                  <li class="splide__slide">
                    <img src="{{ media | img_url: 'small' }}" alt="" />
                  </li>
                  {%- endfor -%}     
                </ul>
              </div>
            </div>
          </div>
          <!-- //Gallery -->

          <!-- Product Title -->
          <h3 class="collections-product-media-title">{{ block.settings.product-title }}</h3>

          <!-- Price -->
          <div class="collections-product-price">
            <div class="collections-product-item-price-item">
              <p class="collections-product-item-price-label" >One-time Purchase</p>
              <p>{{ product.price | money_with_currency }}</p>
            </div>

            {% if block.settings.product-price-subscription1 != blank %}
            <div class="collections-product-item-price-item collections-product-item-price-item-subscription">
              <p class="collections-product-item-price-label"><span>Subscription</span> | Billed Quarterly</p>
              <p class="collections-product-item-price-price">{{ block.settings.product-price-subscription1 }}</p>
              {% if block.settings.product-price-subscription-save1 != blank %}
                <div class="collections-product-item-save-label collections-product-item-save-label1">
                  <p>Save</p>
                  <p class="collections-product-item-save-price">{{ block.settings.product-price-subscription-save1 }}</p>
                </div>
              {% endif %}  
            </div>
            {% endif %}  

            {% if block.settings.product-price-subscription2 != blank %}
            <div class="collections-product-item-price-item collections-product-item-price-item-subscription">
              <p class="collections-product-item-price-label"><span>Subscription</span> | Billed Monthly</p>
              <p class="collections-product-item-price-price">{{ block.settings.product-price-subscription2 }}</p>
              {% if block.settings.product-price-subscription-save2 != blank %}
                <div class="collections-product-item-save-label collections-product-item-save-label2">
                  <p>Save</p>
                  <p class="collections-product-item-save-price">{{ block.settings.product-price-subscription-save2 }}</p>
                </div>
              {% endif %}    
            </div>
            {% endif %}  
          </div>  

          <!-- Link -->
          <div class="collections-product-link">
            <a href="{{ product.url }}">See Details</a>
          </div>

          <!-- Image and Content -->
          <div class="collections-product-content-top">
            <img src="{{ block.settings.image_1 | img_url: '150x' }}">
            <p>{{ block.settings.content_1 }}</p>
          </div>

          <div class="collections-product-content-bottom">
            <img src="{{ block.settings.image_2 | img_url: '150x' }}">
            <p>{{ block.settings.content_2 }}</p>
          </div>
            
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const main = new Splide("#main-carousel-{{ block.id }}", {
              type: "fade", 
              rewind: true,
              pagination: false, 
              arrows: false, 
            });
            const thumbnails = new Splide("#thumbnail-carousel-{{ block.id }}", {
              perPage: 5,
              pagination: false,
              arrows: false, 
              isNavigation: true, 
            });
            main.sync(thumbnails);
            main.mount();
            thumbnails.mount();
          });
        </script>
      {%- endfor -%}  
    
    </div>
  </div>
</section>  





{% schema %}
{
  "name": "Collections Product",
  "tag": "section",
  "class": "section section-featured-product",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し"
    },
    {
      "type": "textarea",
      "id": "sub-title",
      "label": "サブ見出し"
    },
    {
      "type": "header",
      "content": "レイアウト（PC）"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "header",
        "content": "Custom"
    },
    {
      "type": "text",
      "id": "id_name",
      "label": "ID Name"
    },
    {
      "type": "text",
      "id": "class_name",
      "label": "Class Name"
    }
  ],
   "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "textarea",
          "id": "product-title",
          "label": "Product Title",
          "default": "JAPANBITE Subscription<br>Snack Box"
        },
        {
          "type": "text",
          "id": "product-price-subscription1",
          "label": "Subscription Price 1"
        },
        {
          "type": "text",
          "id": "product-price-subscription-save1",
          "label": "Subscription Save Price 1"
        },
        {
          "type": "text",
          "id": "product-price-subscription2",
          "label": "Subscription Price 2"
        },
        {
          "type": "text",
          "id": "product-price-subscription-save2",
          "label": "Subscription Save Price 2"
        },
        {
          "type": "color",
          "id": "accent-color",
          "label": "Accent Color",
          "default": "#F54B09"
        },
        {
          "type": "header",
          "content": "Image and Content"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "richtext",
          "id": "content_1",
          "label": "Content 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "Content 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Product",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
