{% assign collection = collections.all %}
{% assign max_products = settings.products_to_display | default: 8 %}

{%- style -%}
  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  .featured-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 300px 10dvw;
    background-color: var(--chocolate-cosmos);
    --mask: radial-gradient(160.08px at 50% 225px, #000 99%, #0000 101%) calc(50% - 200px) 0/400px 51% repeat-x,
      radial-gradient(160.08px at 50% -125px, #0000 99%, #000 101%) 50% 100px/400px calc(51% - 100px) repeat-x,
      radial-gradient(160.08px at 50% calc(100% - 225px), #000 99%, #0000 101%) calc(50% - 200px) 100%/400px 51%
        repeat-x,
      radial-gradient(160.08px at 50% calc(100% + 125px), #0000 99%, #000 101%) 50% calc(100% - 100px) / 400px
        calc(51% - 100px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .featured-collection__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & h2 {
      font-size: clamp(2rem, 6vw, 4rem);
      font-weight: 700;
      color: var(--old-lace);
      text-align: center;
    }

    & p {
      font-size: clamp(16px, 20px, 24px);
      color: var(--old-lace);
      text-align: center;
    }
  }

  .featured-collection__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    & p {
      font-family: var(--font-ltcushion), sans-serif;
      font-size: clamp(12px, 20px, 24px);
      color: var(--old-lace);
      line-height: 1.2;
      letter-spacing: 0px;
    }
  }

  /* Product card */
  .bdproduct-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    background: var(--old-lace);
    border-radius: 16px;
    text-decoration: none;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 10px 15px 0px rgba(0, 0, 0, 0.15),
      0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
  .bdproduct-card__image {
    width: 100%;
    object-fit: cover;
    border-radius: 11px;
  }
  .bdproduct-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
    height: 200px;
  }
  .bdproduct-card__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    max-height: 80px;
  }
  .bdproduct-card__title {
    font-size: clamp(12px, 16px, 24px);
    font-weight: 500;
    color: var(--onyx);
  }
  .bdproduct-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }

  /* Pricing */
  .bdproduct-card__pricing {
    display: flex;
    gap: 15px;
  }
  .product-price {
    font-family: var(--font-unbounded), sans-serif;
    font-size: clamp(12px, 16px, 20px);
    font-weight: 300;
  }
  .price--old {
    text-decoration: line-through;
    opacity: 0.6;
    color: var(--onyx);
  }
  .price--sale {
    color: var(--onyx);
  }

  /* Button */
  .bdproduct-card__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(5px, 15px, 20px) clamp(10px, 25px, 30px);
    border: 2px solid var(--onyx);
    background-color: var(--old-lace);
    color: var(--onyx);
    font-size: clamp(14px, 16px, 20px);
    font-weight: 500;
    border-radius: 24px;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .bdproduct-card__button:hover,
  .bdproduct-card__button:focus {
    background: var(--chocolate-cosmos);
    color: var(--old-lace);
  }
  .bdproduct-card__button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  /* Rating */
  .product-rating {
    display: flex;
    gap: 10px;
    color: var(--onyx);
    margin-bottom: 5px;
    max-width: 120px;
  }
  .product-rating .rated {
    color: var(--onyx);
    fill: var(--onyx);
  }
  .product-rating .unrated {
    opacity: 0.3;
  }

  /* Badges */
  .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: var(--chocolate-cosmos);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .badge--sale {
    background: var(--chocolate-cosmos);
  }
  .badge--soldout {
    background: var(--onyx);
  }

  .bdbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 15px, 20px) clamp(10px, 25px, 30px);
    font-weight: 500;
    text-decoration: none;
    border-radius: 24px;
    gap: 10px;
    border: 2px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
    text-decoration: none;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15), 0px 20px 35px 0px rgba(0, 0, 0, 0.25);

    &.bdbutton__primary {
      background-color: var(--old-lace);
      color: var(--onyx);
      transition: transform 0.3s ease;
      border: 3px solid var(--old-lace);
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    &.bdbutton__primary:hover {
      color: var(--old-lace);
      background-color: var(--chocolate-cosmos);
    }
  }

  @media (max-width: 1024px) {
    .featured-collection__header {
      align-items: center;
      text-align: center;

      & h2,
      p {
        text-align: center;
      }
    }
  }

  .splide {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 50px 0;
  }

  .splide__slide {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .splide__pagination__page {
    background: var(--dark-vanilla);
  }

  .splide__pagination__page.is-active {
    background: var(--snow);
  }

  .splide__arrow--prev {
    left: -3em;
  }

  .splide__arrow--next {
    right: -3em;
  }
{%- endstyle -%}

<section class="featured-collection">
  <div class="featured-collection__header">
    <h2 class="featured-collection__title">Our Featured Cookies</h2>
    <p class="featured-collection__description">
      These cookies are the heart of BakeDream — soft, bold, and baked to perfection.
    </p>
  </div>
  <div class="splide" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        {% assign product_count = 0 %}
        {% for product in collection.products %}
          {% if product_count >= max_products %}
            {% break %}
          {% endif %}
          <li class="splide__slide">
            <a class="bdproduct-card" href="{{ product.url | within: collection }}">
              {% if product.compare_at_price > product.price %}
                <div class="badge badge--sale">On Sale</div>
              {% endif %}
              {% if product.available == false %}
                <div class="badge badge--soldout">Sold Out</div>
              {% endif %}
              <img
                src="{{ product.featured_image | image_url: width: '320' , height: '350' }}"
                alt="{{ product.title }}"
                class="bdproduct-card__image"
                loading="lazy"
                width="300"
                height="300"
              >
              <div class="bdproduct-card__content">
                <div class="bdproduct-card__details">
                  <div class="product-card__pricing">
                    {% if product.compare_at_price > product.price %}
                      <span class="product-price price--old">{{ product.compare_at_price | money }}</span>
                      <span class="product-price price--sale">{{ product.price | money }}</span>
                    {% else %}
                      <span class="product-price price--sale">{{ product.price | money }}</span>
                    {% endif %}
                  </div>
                  <h3 class="bdproduct-card__title">{{ product.title }}</h3>
                  <div class="product-rating">
                    {% assign rating = product.metafields.custom.rating | plus: 0 %}
                    {% for i in (1..5) %}
                      {% if i <= rating %}
                        <i data-lucide="star" class="rated"></i>
                      {% else %}
                        <i data-lucide="star" class="unrated"></i>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <form method="post" action="{{  routes.cart_add_url }}" style="width: 100%;">
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                  <input
                    type="hidden"
                    name="quantity"
                    class="quantity-input"
                    min="3"
                    value="3"
                    readonly
                  >
                  {% if product.available == true %}
                    <button class="bdproduct-card__button" type="submit">
                      add to cart <i data-lucide="cookie"></i>
                    </button>
                  {% else %}
                    <button
                      class="bdproduct-card__button {% unless product.available %}sold-out{% endunless %}"
                      type="submit"
                      {% unless product.available %}
                        disabled
                      {% endunless %}
                    >
                      sold out <i data-lucide="frown"></i>
                    </button>
                  {% endif %}
                </form>
              </div>
            </a>
          </li>
          {% assign product_count = product_count | plus: 1 %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="featured-collection__footer">
    <p>Minimun order 3 cookies. Delivery & Pickup day every-day.</p>
    <a href="{{ collection.url }}" class="bdbutton bdbutton__primary">
      explore all flavors <i data-lucide="cookie"></i
    ></a>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      perPage: 4,
      rewind: false,
      gap: '4rem',
      breakpoints: {
        1520: {
          perPage: 3,
        },
        1020: {
          perPage: 2,
          arrows: false,
        },
        640: {
          perPage: 1,
          autoplay: true,
          interval: 3500,
          arrows: false,
        },
      },
    });

    splide.mount();
  });
</script>
