{% unless section.blocks.size == 0 %}
  <div class="smshr-section">
    <div class=" grid grid-rows-3 md:grid-rows-none md:grid-cols-3 justify-center items-start w-full p-huge md:px-0 xl:px-huge gap-x-huge gap-y-mega">
      {%- for block in section.blocks -%}
        {% assign item = block.settings %}

        <div class="flex flex-col items-center justify-center gap-large row-span-1 md:col-span-1">
          <div class="w-[60px] h-[60px] aspect-square">
            {%- if item.image -%}
              {{ item.image | image_url: width: 360 | image_tag: loading: 'lazy', class: 'w-full h-auto' }}
            {%- else -%}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>

          <div class="w-full flex flex-col items-center">
            <p class="text-body-sm line-clamp-2 text-center">{{ item.description }}</p>

            {% if item.cta_url and item.cta_url %}
              <a href="{{ item.cta_url }}" class="link-xs text-center text-grey500 mt-small">
                {{ item.cta_label | default: '' }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.feature-section.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "feature-item",
      "name": "t:sections.feature-section.blocks.feature-item.name",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.feature-section.blocks.feature-item.settings.image.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.feature-section.blocks.feature-item.settings.description.label"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "t:sections.feature-section.blocks.feature-item.settings.cta_label.label"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "t:sections.feature-section.blocks.feature-item.settings.cta_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.feature-section.presets.name",
      "blocks": [
        {
          "type": "feature-item"
        }
      ]
    }
  ]
}
{% endschema %}
