{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .swiper-slider-{{ section.id }} .swiper-pagination-bullet-active circle {
    fill: {{ section.settings.color_scheme.settings['button'] }};
  }

  .swiper-slider-{{ section.id }} .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: {{ section.settings.color_scheme.settings['button'] }};
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="section-{{ section.id }}-padding page-width">
    {%- if section.settings.heading != blank -%}
      {% unless section.settings.heading_element_custom %}
        <h2 class="collection-carousel__heading inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>
      {% else %}
        {% render 'headings',
          heading_size: section.settings.heading_size,
          heading_element: section.settings.heading_element,
          title: section.settings.heading,
          class: 'collection-carousel__heading inline-richtext'
        %}
      {% endunless %}
    {%- else -%}
      <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
    {% endif %}
    <slider-component
      class="swiper swiper-slider-{{ section.id }}"
      id="slider-{{ section.id }}"
      data-slider="true"
      data-direction="horizontal"
      data-loop="true"
      data-slides-per-view-desktop="{{ section.settings.columns_desktop }}"
      data-slides-per-view-mobile="1"
      data-autoplay="false"
      data-pagination-type="{{ section.settings.pagination_type }}"
      data-space-between-mobile="16"
      data-space-between-desktop="20"
    >
      <div
        class="swiper-wrapper"
        id="Slider-{{ section.id }}"
      >
        {%- for block in section.blocks -%}
          {%- liquid
            assign slide_heading = ''
            assign slide_image = ''
          -%}
          {%- case block.type -%}
            {%- when 'slide' -%}
              {%- liquid
                if block.settings.heading != blank
                  assign slide_heading = block.settings.heading
                endif

                if block.settings.image != blank and block.settings.image_mobile != blank
                  assign slide_image = block.settings.image
                  assign slide_image_mobile = block.settings.image_mobile
                elsif block.settings.image != blank
                  assign slide_image = block.settings.image
                endif
              -%}
              {% if block.settings.link != blank %}
                <a
                  href="{{ block.settings.link }}"
                  class="swiper-slide scroll-trigger animate--slide-in underline-links-hover"
                >
              {% else %}
                <div
                  class="swiper-slide scroll-trigger animate--slide-in underline-links-hover"
                >
              {% endif %}
              {% render 'featured-slider-slide',
                block: block,
                slide_image: slide_image,
                slide_image_mobile: slide_image_mobile,
                slide_heading: slide_heading
              %}
              {% if block.settings.link != blank %}
                </a>
              {% else %}
                </div>
              {% endif %}
            {%- when 'slide_collection' -%}
              {%- liquid
                assign collection = block.settings.collection
                if block.settings.heading != blank
                  assign slide_heading = block.settings.heading
                elsif collection.title != blank
                  assign slide_heading = collection.title
                endif

                if block.settings.image != blank and block.settings.image_mobile != blank
                  assign slide_image = block.settings.image
                  assign slide_image_mobile = block.settings.image_mobile
                elsif block.settings.image != blank
                  assign slide_image = block.settings.image
                elsif collection.image != blank
                  assign slide_image = collection.image
                endif
              -%}
              <a
                class="swiper-slide scroll-trigger animate--slide-in underline-links-hover"
                href="{{ collection.url }}"
              >
                {% render 'featured-slider-slide',
                  block: block,
                  slide_image: slide_image,
                  slide_image_mobile: slide_image_mobile,
                  slide_heading: slide_heading
                %}
              </a>
            {%- when 'slide_product' -%}
              {%- liquid
                assign product = block.settings.product
                if block.settings.heading != blank
                  assign slide_heading = block.settings.heading
                elsif product.title != blank
                  assign slide_heading = product.title
                endif

                if block.settings.image != blank and block.settings.image_mobile != blank
                  assign slide_image = block.settings.image
                  assign slide_image_mobile = block.settings.image_mobile
                elsif block.settings.image != blank
                  assign slide_image = block.settings.image
                elsif product.featured_image != blank
                  assign slide_image = product.featured_image
                endif
              -%}
              <a
                class="swiper-slide scroll-trigger animate--slide-in underline-links-hover"
                href="{{ product.url }}"
              >
                {% render 'featured-slider-slide',
                  block: block,
                  slide_image: slide_image,
                  slide_image_mobile: slide_image_mobile,
                  slide_heading: slide_heading
                %}
              </a>
            {%- when 'slide_article' -%}
              {%- liquid
                assign article = block.settings.article
                if block.settings.heading != blank
                  assign slide_heading = block.settings.heading
                elsif article.title != blank
                  assign slide_heading = article.title
                endif

                if block.settings.image != blank and block.settings.image_mobile != blank
                  assign slide_image = block.settings.image
                  assign slide_image_mobile = block.settings.image_mobile
                elsif block.settings.image != blank
                  assign slide_image = block.settings.image
                elsif article.image != blank
                  assign slide_image = article.image
                endif
              -%}
              <a
                class="swiper-slide scroll-trigger animate--slide-in underline-links-hover"
                href="{{ article.url }}"
              >
                {% render 'featured-slider-slide',
                  block: block,
                  slide_image: slide_image,
                  slide_image_mobile: slide_image_mobile,
                  slide_heading: slide_heading
                %}
              </a>
          {% endcase %}
        {%- endfor -%}
      </div>

      <div class="swiper-pagination__group">
        <div class="swiper-button swiper-button-prev swiper-prev-button-slider-{{ section.id }}">
          {% render 'icon-caret' %}
        </div>
        <div class="swiper-pagination swiper-pagination-slider-{{ section.id }}"></div>
        <div class="swiper-button swiper-button-next swiper-next-button-slider-{{ section.id }}">
          {% render 'icon-caret' %}
        </div>
      </div>
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_slider.name",
  "tag": "section",
  "class": "section section-collection-carousel",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Featured slider",
      "label": "t:sections.featured_slider.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__0.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "bullets",
          "label": "t:sections.slideshow.settings.pagination_type.options__1.label"
        },
        {
          "value": "fraction",
          "label": "t:sections.slideshow.settings.pagination_type.options__2.label"
        }
      ],
      "default": "bullets",
      "label": "t:sections.slideshow.settings.pagination_type.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.navigation_label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_mobile_padding_heading"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:sections.all.heading_element_header.content"
    },
    {
      "type": "checkbox",
      "id": "heading_element_custom",
      "label": "t:sections.all.heading_element_custom.label",
      "info": "t:sections.all.heading_element_custom.info",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_element",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_element.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_element.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_element.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_element.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_element.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_element.options__6.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_element.label",
      "info": "t:sections.all.heading_element.info"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.featured_slider.blocks.slide.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_slider.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.featured_slider.blocks.slide.settings.image_mobile.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image slide",
          "label": "t:sections.featured_slider.blocks.slide.settings.heading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.featured_slider.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.featured_slider.settings.link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.button_style.label",
          "options": [
            {
              "label": "t:sections.all.buttons.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__2.label",
              "value": "secondary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__3.label",
              "value": "link"
            }
          ]
        }
      ]
    },
    {
      "type": "slide_collection",
      "name": "t:sections.featured_slider.blocks.collection_slide.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured_slider.blocks.collection_slide.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_slider.blocks.collection_slide.settings.image.label",
          "info": "t:sections.featured_slider.blocks.collection_slide.settings.image.info"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.featured_slider.blocks.slide.settings.image_mobile.label",
          "info": "t:sections.featured_slider.blocks.collection_slide.settings.image_mobile.info"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Collection",
          "label": "t:sections.featured_slider.blocks.collection_slide.settings.heading.label",
          "info": "t:sections.featured_slider.blocks.collection_slide.settings.heading.info"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.featured_slider.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.button_style.label",
          "options": [
            {
              "label": "t:sections.all.buttons.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__2.label",
              "value": "secondary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__3.label",
              "value": "link"
            }
          ]
        }
      ]
    },
    {
      "type": "slide_product",
      "name": "t:sections.featured_slider.blocks.product_slide.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_slider.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.featured_slider.blocks.slide.settings.image_mobile.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Product slide",
          "label": "t:sections.featured_slider.blocks.slide.settings.heading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.featured_slider.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.button_style.label",
          "options": [
            {
              "label": "t:sections.all.buttons.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__2.label",
              "value": "secondary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__3.label",
              "value": "link"
            }
          ]
        }
      ]
    },
    {
      "type": "slide_article",
      "name": "t:sections.featured_slider.blocks.article_slide.name",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Blog post"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_slider.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.featured_slider.blocks.slide.settings.image_mobile.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Article slide",
          "label": "t:sections.featured_slider.blocks.slide.settings.heading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.featured_slider.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.buttons.button_style.label",
          "options": [
            {
              "label": "t:sections.all.buttons.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__2.label",
              "value": "secondary"
            },
            {
              "label": "t:sections.all.buttons.button_style.options__3.label",
              "value": "link"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_slider.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
