{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-collection-7923216.css' | asset_url | stylesheet_tag }}
{{ 'component-wishlist-7923216.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

<div class="custom-section custom-section--featured-collection" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}
            
            {%- liquid
                assign products_to_display = section.settings.collection.all_products_count

                if section.settings.collection.all_products_count > section.settings.products_to_show
                    assign products_to_display = section.settings.products_to_show
                    assign more_in_collection = true
                endif
            -%}
            
            <slider-component>
                <ul id="Slider-{{ section.id }}" class="grid grid--2-col product-grid grid--3-col-tablet grid--3-col-desktop slider slider--tablet slider--everywhere grid--peek" role="list">
                {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
                    <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
                    {% render 'product-card',
                        product_card_product: product,
                        media_size: section.settings.image_ratio,
                        show_secondary_image: section.settings.show_secondary_image,
                        add_image_padding: section.settings.add_image_padding,
                        show_vendor: section.settings.show_vendor,
                        show_image_outline: section.settings.show_image_outline,
                        show_rating: section.settings.show_rating
                    %}

                    <div>
                        {%- if product != blank -%}
                        <product-form class="product-form">
                            <div class="product-form__error-message-wrapper" role="alert" hidden>
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                            </svg>
                            <span class="product-form__error-message"></span>
                            </div>

                            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                            <div class="product-form__buttons">
                                <button
                                type="submit"
                                name="add"
                                class="product-form__submit button button--full-width {% if product.selected_or_first_available_variant.available != false %}btn-hover-bs{% endif %}"
                                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                >
                                    <span>
                                    {%- if product.selected_or_first_available_variant.available -%}
                                        {{ 'products.product.add_to_cart' | t }}
                                    {%- else -%}
                                        {{ 'products.product.sold_out' | t }}
                                    {%- endif -%}
                                    </span>
                                    <div class="loading-overlay__spinner hidden">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                    </div>
                                </button>
                            </div>
                            {%- endform -%}
                        </product-form>
                        {%- else -%}
                        <div class="product-form">
                            <div class="product-form__buttons form">
                            <button
                                type="submit"
                                name="add"
                                class="product-form__submit button button--full-width button--primary"
                                disabled
                            >
                                {{ 'products.product.sold_out' | t }}
                            </button>
                            </div>
                        </div>
                        {%- endif -%}
                    </div>

                    </li>
                {%- else -%}
                    {%- for i in (1..4) -%}
                    <li class="grid__item">
                        {% render 'product-card-placeholder' %}
                        <button
                            type="submit"
                            name="add"
                            class="product-form__submit button button--full-width button--primary"
                            disabled
                        >
                            {{ 'products.product.sold_out' | t }}
                      </button>
                    </li>
                    {%- endfor -%}
                {%- endfor -%}
                </ul>

                {%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
                <div class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
                    <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                    <div class="slider-counter caption large-up-hide">
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ products_to_display }}</span>
                    </div>
                    <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
                </div>
                {%- endif -%}

            </slider-component>
            
        </div>

    </div>

</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
        "name": "🔰 Featured Collection",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Top sales of the week"
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Product Settings"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "products_to_show",
                "min": 2,
                "max": 12,
                "step": 2,
                "default": 4,
                "label": "Products to show"
            },
            {
                "type": "checkbox",
                "id": "swipe_on_mobile",
                "default": false,
                "label": "Swipe on mobile"
            },
            {
                "type": "select",
                "id": "image_ratio",
                "options": [
                    {
                    "value": "adapt",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                    },
                    {
                    "value": "portrait",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                    },
                    {
                    "value": "square",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                    }
                ],
                "default": "adapt",
                "label": "t:sections.featured-collection.settings.image_ratio.label"
            },
            {
                "type": "checkbox",
                "id": "show_secondary_image",
                "default": true,
                "label": "Show Secondary Image"
            },
            {
                "type": "checkbox",
                "id": "add_image_padding",
                "default": false,
                "label": "Add Image Padding"
            },
            {
                "type": "checkbox",
                "id": "show_image_outline",
                "default": true,
                "label": "Show Image Outline"
            },
            {
                "type": "checkbox",
                "id": "show_vendor",
                "default": false,
                "label": "Show Vendor"
            },
            {
                "type": "checkbox",
                "id": "show_rating",
                "default": false,
                "label": "Show Product Rating",
                "info": "To display a rating, add a product rating app.[Learn More](https://help.shopify.com/manual/online-store/themes/os20/themes-by-shopify/dawn/sections#featured-collection-show-product-rating)"
            }
        ],
        "presets":[
            {
                "name": "🔰 Featured Collection",
                "category": "Custom Section"
            } 
        ]
    }
{% endschema %}