{{ 'find.css' | asset_url | stylesheet_tag }}
{{ 'blend-it.css' | asset_url | stylesheet_tag }}

<section class="standard">
  <article>
    <a id="find-it"></a>
    <div class="search-wrapper">
      <div class="left-part">
        <h4 class="search-bottle-header">
          <a id="find"></a><label for="blend-name">{{ section.settings.title }} </label>
        </h4>
        <p>{{ section.settings.description }}</p>

        <form action="/search" method="get" role="search">
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="hidden" name="q" value="collection:your-collection-handle">
          <input type="search" name="q" class="input-boxes" placeholder="WB####">
          <button type="submit" class="hidden">Search</button>
        </form>
      </div>
      <div class="right-part">
        <ul id="bottles">
          {% assign blends = collections['custom-blends'] %}

          {% for product in blends.products limit: 5 %}
            <li class="bottle option1 simple next-option3">
              <div class="bottle-blend">
                <a class="bottle-shape" href="{{ product.url }}"
                  ><span>{{ product.title }}</span></a
                >
                <span class="decorative"></span>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
</section>
{% stylesheet %}
  .search-bottle-header {
    font-weight: bold;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Find - Search Blends WB",
  "presets": [
    {
      "name": "Find - Search Blends WB"
    }
  ],
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
