<div class="container-wb">
  <div class="find-share-content-wrapper">
    <div id="share" class="find-share-content">
      <h3 class="section-title-wb">
        {{ section.settings.title }}
      </h3>
      <p>
        {{ section.settings.description }}
      </p>
      <p>
        Tag us or use <a href="https://www.instagram.com/explore/tags/myownwhisky/" target="_blank">#myownwhisky</a> or
        <a href="https://twitter.com/search?q=%23whiskyblender&amp;src=typed_query&amp;f=live" target="_blank"
          >#whiskyblender</a
        >
        so we can find it.
      </p>
    </div>

    <div class="find-image-share-wrapper">
      <img src="{{ section.settings.find_image | image_url: width: 600, height: 600 }}" class="find-image-share">
    </div>
  </div>

  <div>
    <ul class="social-embed">
      <li class="x">
        <a href="{{ section.settings.social_image1_url }}" target="_blank"
          ><img src="{{ section.settings.social_image1 | image_url: width: 600}}" height="auto" width="auto"
        ></a>
      </li>
      <li class="facebook">
        <a
          href="{{ section.settings.social_image3_url }}"
          target="_blank"
          ><img src="{{ section.settings.social_image3 |image_url: width: 600 }}" height="auto" width="auto"
        ></a>
      </li>
      <li class="instagram">
        <a href="{{ section.settings.social_image2_url }}" target="_blank"
          ><img src="{{ section.settings.social_image2 | image_url: width: 600}}" height="auto" width="auto"
        ></a>
      </li>
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Find - Sharing",
  "presets": [{ "name": "Find - Sharing WB" }],
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Share Your Blend"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Share your blend with the world. Tag us or use #myownwhisky or #whiskyblender so we can find it."
    },
    {
      "type": "image_picker",
      "id": "find_image",
      "label": "Find Image - Share Your Blend"
    },
    {
      "type": "image_picker",
      "id": "social_image1",
      "label": "Social Image 1"
    },
    {
      "type": "url",
      "id": "social_image1_url",
      "label": "Social Image 1 URL"
    },
    {
      "type": "image_picker",
      "id": "social_image2",
      "label": "Social Image 2"
    },
    {
      "type": "url",
      "id": "social_image2_url",
      "label": "Social Image 2 URL"
    },
    {
      "type": "image_picker",
      "id": "social_image3",
      "label": "Social Image 3"
    },
    {
      "type": "url",
      "id": "social_image3_url",
      "label": "Social Image 3 URL"
    }
  ]
}
{% endschema %}
{% stylesheet %}
  .find-share-content-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }
    @media only screen and (min-width: 1064px) {
      flex-direction: row-reverse;
      padding-bottom: 40px;
    }

    .find-share-content {
      width: 100%;

      margin-bottom: 20px;
      @media only screen and (min-width: 1064px) {
        width: 560px;
      }
    }
    .find-image-share-wrapper {
      width: 100%;
      position: relative;
      display: none;
      @media only screen and (min-width: 600px) {
        display: block;
        position: absolute;
        width: 30vw;
        top: -8px;
        right: 0;
      }
      @media only screen and (min-width: 1064px) {
        width: 400px;
        position: relative;
      }
      img {
        position: absolute;
        top: -86px;
        left: -15%;
        width: 100%;
        transform: rotate(-20deg);
        transition: transform 0.4s ease-in-out;
        &:hover {
          transform: rotate(-18deg);
          transition: transform 0.4s ease-in-out;
        }
        @media only screen and (min-width: 600px) {
          display: block;
        }
        @media only screen and (min-width: 1064px) {
          width: 400px;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .find-image1 {
      position: absolute;
      display: block;
      width: 30vw;
      top: -10vw;
      right: 5%;
      z-index: 2;
      transform: rotate(-20deg);
    }
  }
  ul.social-embed {
    list-style: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    @media only screen and (min-width: 1064px) {
    }
  }

  ul.social-embed li {
    display: inline-block;

    vertical-align: middle;
    margin-bottom: 20px;
    text-align: center;
  }

  ul.social-embed li a {
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  @media only screen and (min-width: 768px) {
    ul.social-embed li + li {
      margin-left: 5%;
    }
  }
  @media only screen and (min-width: 768px) {
    ul.social-embed li {
      width: 30%;
    }
  }

  ul.social-embed li a:after {
    left: -80px;
  }

  ul.social-embed li:hover a:after {
    left: 10px;
  }

  ul.social-embed li.instagram a:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0652/0117/6751/files/instagram-white.svg?v=1720684263);
  }

  ul.social-embed li.x a:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0652/0117/6751/files/x-white.svg?v=1720684263);
  }

  ul.social-embed li.facebook a:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0652/0117/6751/files/facebook-white.svg?v=1720684263);
  }

  ul.social-embed li a:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 8px;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 60px;
    height: 60px;
    transition: left 0.2s ease-in-out;
  }

  ul.social-embed li:hover a:after {
    left: 10px;
  }

  ul.social-embed li img {
    width: 100%;
  }
  ul.social-embed {
    list-style: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
  }

  ul.social-embed li {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: center;
  }

  ul.social-embed li a {
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  ul.social-embed li a:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 8px;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 60px;
    height: 60px;
    transition: left 0.2s ease-in-out;
  }

  @media only screen and (min-width: 768px) {
    ul.social-embed li a:after {
      left: -80px;
      &:hover {
        left: 10px;
      }
    }
  }
{% endstylesheet %}
