{{ 'find.css' | asset_url | stylesheet_tag }}

<div id="suggestions" class="banding">
  <div class=" container-wb">
    <h3 class="section-title-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
      <a href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
    </p>
    <p>{{ section.setting.subtitle }}</p>

    <div id="suggestions-options">
      {% for block in section.blocks %}
        <a class="suggestions-options-link suggestions-options-card" href="#alink">
          <div class="suggestions-options-card-image-wrapper">
            <img src="{{ block.settings.image_url | img_url: 'master'  }}" alt="{{ block.settings.image_alt }}">
            <div
              class="coloured-circle"
              style="background:{{ block.settings.circle_background_color }}; top:{{ block.settings.circle_background_top_position }}; left:{{ block.settings.circle_background_left_position }};"
            ></div>
            <div
              class="coloured-circle-mobile"
              style="background:{{ block.settings.circle_background_color_mobile }}; top:{{ block.settings.circle_background_top_position }}; left:{{ block.settings.circle_background_left_position_mobile }};"
            ></div>
          </div>
          <div class="suggestions-options-card-text">
            <h4>{{ block.settings.title }}</h4>
            <p>{{ block.settings.description }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

    <div class="find-image2">
      <img
        height="auto"
        width="auto"
        src="{{ section.settings.find_image | image_url: width: 400, height: 400}}"
        alt="{{ section.settings.find_image_alt }}"
      >
    </div>
  </div>
</div>
{% stylesheet %}
  #suggestions {
    background: #eaeaea;
  }

  .suggestions-options-link {
    text-decoration: none;
    font-weight: inherit;
  }
  #suggestions-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media only screen and (min-width: 764px) {
    flex-direction: row;
    flex-wrap: nowrap;
    }

    .suggestions-options-card {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      padding: 16px 0;
      margin: 10px 0;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 16px;

      transition: background 0.3s, border 0.3s;

      @media only screen and (min-width: 764px) {
        flex-direction: column;
        width: calc(25% - 2px);
        padding: 16px;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);
        background: #fff;
        cursor: pointer;
      }
      @media only screen and (max-width: 764px) {
        &:after {
          /*arrow*/
          content: '';
          position: absolute;
          right: -2px;
          display: block;
          width: 20px;
          height: 20px;
          background-image: url(https://cdn.shopify.com/s/files/1/0652/0117/6751/files/caret-wb.svg?v=1721209604);
          background-repeat: no-repeat;
        }
      }

      .suggestions-options-card-text {
        padding: 0 20px;
        text-align: left;

        @media only screen and (min-width: 764px) {
          text-align: center;
        }

        h4 {
          font-size: 20px;
          font-weight: 700;
          margin: 0;
          line-height: 1;
          @media only screen and (min-width: 764px) {
            margin: 28px 0 10px 0;
          }
        }

        p {
          font-family: 'Ralway', sans-serif;
          font-size: 14px;

          margin: 0;
          line-height: 20px;
        }
      }
    }
    .suggestions-options-card-image-wrapper {
      position: relative;
      min-width: 72px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      transition: width 0.3s;
      @media only screen and (min-width: 600px) {
        width: 138px;
        transition: width 0.3s;
      }
      @media only screen and (min-width: 1024px) {
        width: 192px;
        transition: width 0.3s;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        z-index: 2;
        top: 0;
      }

      .coloured-circle {
        display: none;
        position: absolute;
        margin: 0;
        width: 72px;
        aspect-ratio: 1 / 1;
        opacity: 0.95;
        border-radius: 50%;
        z-index: 2;
        @media only screen and (min-width: 600px) {
          display: block;
          width: 138px;
        }
        @media only screen and (min-width: 1024px) {
          width: 192px;
        }
      }
      .coloured-circle-mobile {
        position: absolute;
        margin: 0;
        width: 72px;
        aspect-ratio: 1 / 1;
        background: teal;
        opacity: 0.95;
        border-radius: 50%;
        z-index: 2;
        @media only screen and (min-width: 600px) {
          display: none;
          width: 138px;
        }
        @media only screen and (min-width: 1024px) {
          width: 192px;
        }
      }
    }
  }

  .counter {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 20px;
    background: #000000;
    color: rgba(255, 255, 255, 0.6);
    width: -webkit-fill-available;
    padding: 14px 10px 8px 10px;
    border-radius: 60px;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    transition: background 0.3s;
    z-index: 2;
  }

  .counter:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #000000;
    transform: rotate(45deg);
    left: calc(50% - 10px);
    bottom: -10px;
    transition: background 0.3s;
  }

  .counter.sold-out,
  .counter.sold-out:after {
    background: #666666;
  }

  span.no-bottles {
    color: #ffffff;
  }

  ul.product-list li a:hover .counter,
  ul.product-list li a:hover .counter:after {
    background: #199776;
  }

  ul.product-list li a:hover .counter.sold-out,
  ul.product-list li a:hover .counter.sold-out:after {
    background: #da5152;
  }

  .counter span.bottles-left {
    display: block;
    font-size: 12px;
  }

  @media only screen and (min-width: 600px) {
    ul.shop-options {
      grid-gap: 24px;
      margin: 30px auto 10px auto;
    }

    ul.product-list li a span.deetz h4 {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 10px 0;
    }

    ul.shop-options li .button-wb {
      text-align: center;
      display: block;
      font-size: 20px;
      line-height: 24px;
    }

    ul.shop-options li:nth-of-type(1) .button-wb {
      transform: rotate(-1deg);
    }

    ul.shop-options li:nth-of-type(2) .button-wb {
      transform: rotate(1deg);
    }

    ul.shop-options li:nth-of-type(3) .button-wb {
      transform: rotate(-3deg);
    }

    ul.shop-options li:nth-of-type(4) .button-wb {
      transform: rotate(-3deg);
    }

    ul.shop-options li:nth-of-type(5) .button-wb {
      transform: rotate(2deg);
    }

    ul.shop-options li:nth-of-type(6) .button-wb {
      transform: rotate(-1deg);
    }

    ul.shop-options li .button-wb:hover {
      background-color: rgba(255, 255, 255, 1);
      transform: rotate(0deg);
    }
  }

  @media only screen and (min-width: 768px) {
    ul.product-list li a:hover {
      background-size: auto 150%;
    }

    ul.shop-options {
      grid-gap: 20px;
    }

    ul.shop-options li .button-wb {
      font-size: 22px;
      line-height: 26px;
    }
  }

  @media only screen and (min-width: 1064px) {
    ul.product-list li a span.deetz {
      width: 84%;
      padding: 20px 8%;
      position: absolute;
      bottom: 0;
      max-height: 20px;
      transition: max-height 0.3s ease-out;
    }

    ul.product-list li a span.deetz h4 {
      white-space: nowrap;
      overflow: auto;
      text-overflow: ellipsis;
    }

    ul.product-list li a span.deetz .reveal {
      transition: opacity 0.3s;
      opacity: 0;
    }

    ul.product-list li a:hover span.deetz {
      max-height: 120px;
    }

    ul.product-list li a:hover span.deetz .reveal {
      opacity: 1;
      transition: opacity 0.3s;
    }

    ul.product-list li a img {
      margin: 40px 0;
    }

    ul.shop-options {
      grid-gap: 30px;
      margin: 30px auto 40px auto;
    }

    ul.shop-options li .button-wb {
      font-size: 24px;
      line-height: 28px;
    }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Find - Suggestions WB",
  "presets": [{ "name": "Find - Suggestions WB" }],
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "find_image",
      "label": "Find Image - on the right"
    }
  ],
  "blocks": [
    {
      "name": "Suggestions Option",
      "type": "link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_url",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "circle_background_color",
          "label": "Circle Background Color"
        },
        {
          "type": "text",
          "id": "circle_background_top_position",
          "label": "Circle Background Top Position"
        },
        {
          "type": "text",
          "id": "circle_background_left_position",
          "label": "Circle Background Left Position"
        },
        {
          "type": "text",
          "id": "circle_background_color_mobile",
          "label": "Circle Background Color Mobile"
        },
        {
          "type": "text",
          "id": "circle_background_left_position_mobile",
          "label": "Circle Background Left Position Mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Sugestion Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Sugestion description"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "max_blocks": 6
}
{% endschema %}
