{{ 'find.css' | asset_url | stylesheet_tag }}

<section class="container-wb find-search">
  <div class="find-search-container"> 
    <div id="find-it" class="search-wrapper">
      <div class="left-part">
        <h4 class="search-bottle-header">
          <a id="find"></a><label for="blend-name">{{ section.settings.title }} </label>
        </h4>
        <p>{{ section.settings.description }}</p>

        <form action="/search" method="get" role="search">
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="hidden" name="q" value="collection:your-collection-handle">
          <input type="search" name="q" class="input-boxes" placeholder="WB####">
          <button type="submit" class="hidden">Search</button>
        </form>
      </div>
      <div class="right-part">
        <ul id="bottles">
          {% assign blends = collections['custom-blends'] %}

          {% for product in blends.products limit: 5 %}
            <li class="bottle option1 simple next-option3">
              <div class="bottle-blend">
                <a class="bottle-shape" href="{{ product.url }}"
                  ><span>{{ product.title }}</span></a>
                <span class="decorative"></span>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% stylesheet %}
  .find-search {
    display: flex;
    align-items: center;
    }

    .find-search-container {
    padding: 0 20px;
    }
  .search-wrapper {
    label {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    p {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
    input {
      display: block;
      font-family: 'Nanum Pen Script', cursive;
      font-weight: 300;
      font-style: normal;
      border: 0;
      border-bottom: dotted 2px #000000;
      width: 100%;
      padding: 0;
      font-size: 42px;
      line-height: 42px;
      text-transform: uppercase;
      max-width: 660px;
      background: transparent;
    }
  }

  .search-bottle-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 0;
    @media only screen and (min-width: 1024px) {
      font-size: 20px;
    }
  }

  .bottle {
    background-color: #000000;
    width: calc(25% - 4px);
    height: 100px;
    padding: 0;
    margin: 10px 0;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    border: solid 2px #ffffff;
    @media only screen and (min-width: 600px) {
      width: calc(20% - 4px);
      height: 180px;
    }
  }

  .bottle:last-of-type {
    display: none;
  }

  #bottle-page .bottle {
    display: block;
    width: 100px;
    height: 270px;
  }

  .bottle .bottle-shape {
    background-image: url(https://cdn.shopify.com/s/files/1/0652/0117/6751/files/bottle-shape-cutout.png?v=1721299450);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .bottle-blend {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .bottle .bottle-shape span {
    font-family: 'Nanum Pen Script', cursive;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    padding: 8px 10px;
    background: #000000;
    font-size: 24px;
    line-height: 18px;
    opacity: 0;
    transition: all 0.2s;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    pointer-events: none;
    z-index: 3;
    text-align: center;
    border-radius: 10px;
    word-wrap: normal;
  }

  .bottle a:hover span {
    opacity: 1;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Find - Search Blends WB",
  "presets": [
    {
      "name": "Find - Search Blends WB"
    }
  ],
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
