{{ 'fireworkx-footer.css' | asset_url | stylesheet_tag }}

<div class="fwx-footer">
  <div class="page-width">
    <ul>
      <li><a href="#" class="button button--transparent button--small">hello@andycab.co.za</a></li>
      <li><a href="#" class="button button--transparent button--small">021 054 5900</a></li>

      {%- if settings.social_facebook_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" >
            {%- render 'icon-facebook' -%}
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" >
            {%- render 'icon-instagram' -%}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
        </li>
      {%- endif -%}
  </div>
</div>