
{{ 'fireworkx-fitment-centre-cta.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="fireworkx-fitment-centre-cta">
    <div class="fireworkx-fitment-centre-cta-heading">
      <h2>{{ section.settings.textbox }}</h2>
      <a href="{{ section.settings.link }}" class="button large button--icon button--primary">{% render 'fireworkx-icon-tools' %} {{ section.settings.linktext }}</a>
    </div> 
    <p class="fireworkx-large-text">{{ section.settings.text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Fitment center cta",
  "class": "spaced-section",
  "settings": [
    {
      "id": "textbox",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Description",
      "default": "Enter the text description"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    }
  ]
  ,
  "presets": [
    {
      "name": "Fireworkx Fitment center CTA",
      "category": "Call To Action"
    }
  ]
}
{% endschema %}