<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

{{ 'fireworkx-quote-slider.css' | asset_url | stylesheet_tag }}

{% assign newCanopiesImage = collections['new-canopies'].featured_image %}
{% assign accessoriesImage = collections['accessories'].featured_image %}

<div class="modal">
  <div class="modal-overlay" data-modal="close-modal">
    <button class="fwx-close-modal-button" type="button" data-modal="close-modal">{% render 'icon-close' %}</button>
  </div>
    <div class="modal-content-container">
      {% if template.name == 'collection' and collection.title != "Used Canopies" %}
        <div class="fwx-modal-content">
          <h2 class="product-heading has-subtitle">{{ collection.title }}</h2>
          {% if collection.title contains "Canopies" %}
            <h4>Choose a Vehicle</h4>
          {% endif %}
          <ul class="product-list-items">
            {%- for product in collection.products -%}
              <li class="product-name show-product" data-handle="{{ product.handle }}">
                <a href="/products/{{ product.handle }}?enquiry=open">
                  {% if product.featured_media != blank %}
                    <img src="{{ product.featured_media | img_url: '155px' }}" class="product-icon" loading="lazy">
                  {% endif %}
                  {% if collection.title contains "Canopies" %}
                    {% render 'fireworkx-product-title', 
                      features: product.metafields.fwx.canopy_features, 
                      year: product.metafields.fwx.year,
                      model: product.metafields.fwx.model,
                      size: product.metafields.fwx.size,
                      class: 'fwx-title-card'
                    %} 
                  {% else %}
                    <h3>{{ product.title }}</h3>
                  {% endif %}
                </a>
              </li> 
            {%- endfor -%}
          </ul>
        </div>
      {% elsif template.name == 'product' %}
        <div class="fwx-modal-content">
          {%- render 'fireworkx-product-form' -%}
        </div>
      {% else %}
        <div class="fwx-enquiry-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide enquiry-type-container">
              <div class="fwx-slide-container">
                <div class="fwx-slide-contents">
                  <h2>Make an Enquiry or Get a Quote</h2>
                  <div class="enquiry-type">
                    <div class="enquiry-choice-cta">
                      <button data-enquiry-type="new-canopies">
                        <img src="{{ newCanopiesImage | img_url: '250x' }}" loading="lazy">
                        <h3>New Canopies</h3>
                      </button>
                    </div>
                    <div class="enquiry-choice-cta">
                      <button data-enquiry-type="accessories">
                        <img src="{{ accessoriesImage | img_url: '250x' }}" loading="lazy">
                        <h3>Accessories</h3>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="fwx-slide-container">
                <div class="fwx-slide-contents">
                  <h2>Choose a Brand</h2>
                  <ul class="fwx-collection-grid">
                    {%- for collection in collections -%}
                      {% if collection.title contains 'Canopies' and collection.title != 'Used Canopies' and collection.title != 'New Canopies' %}
                        <li class="fwx-collection-block brand-name" data-brand="{{ collection.handle }}">
                          <a href="/collections/{{ collection.handle }}?enquiry=open">
                            {%- if collection.featured_image != blank -%}
                              <img 
                                src="{{ collection.featured_image | img_url: '1500x' }}"
                                loading="lazy" height="" width="">
                            {%- endif -%} 
                          </a>
                        </li> 
                      {% endif %}
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
  </div>
</div>
{% render 'fireworkx-success-message' %}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ 'fireworkx-quote-slider.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Fireworkx Make Enquiry",
  "presets": [
    {
      "name": "Fireworkx Make Enquiry"
    }
  ]
}
{% endschema %}


  