<script src="https://unpkg.com/swiper/swiper-bundle.min.js"  defer="defer"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

{{ 'fireworkx-quote-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'fireworkx-quote-slider.js' | asset_url }}" defer="defer"></script>


  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide choose-a-quote-container">
          <h2>Get a quote</h2>
          <div class="choose-a-quote">
              <button class="button-quote-type button-canopies" data-quote="new-canopies">New Canopy</button>
              <button class="button-quote-type button-accessories" data-quote="accessories">Accessories</button>
          </div>
      </div>
      <div class="swiper-slide" style="display:block">
          <h2>Choose a Brand</h2>
          <div>
              <ul class="fwx-collection-grid">
                {%- for collection in collections -%}
                  <li class="fwx-collection-block brand-name" data-brand="{{collection.title}}">
                      {%- if collection.featured_image != blank -%}
                        <img
                          src="{{ collection.featured_image | img_url: '1500x' }}"
                          loading="lazy" height="" width="">
                      {%- endif -%} 
                  </li> 
                {%- endfor -%}
              </ul>
          </div>
      </div>
      <div class="swiper-slide product-list">
        <h2>GWM</h2>
        <h6>Choose a Vehicle</h6>
          <div>
              <ul class="product-list-items">
                {%- for product in  collections.all.products -%}
                  <li class="product-name show-product" data-vendor="{{ product.vendor}} Canopies">

                    {% render 'fireworkx-product-title', 
                          features: product.metafields.fwx.canopy_features, 
                          year: product.metafields.fwx.year,
                          model: product.metafields.fwx.model,
                          size: product.metafields.fwx.size
                    %} 
                  </li> 
                {%- endfor -%}
              </ul>
          </div>
      </div>
      <div class="swiper-slide">
        <ul>
          {% for product in collections['Accessories'].products %}
            <li> {{ product.title }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="swiper-button-prev">.</div>
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
