{{ 'fireworkx-fitment-centre.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <details class="fwx-country">
    <summary type="button">
      <h3> {{ section.settings.flag_image | img_url: '52x' | img_tag }}{{ section.settings.title }} {% render 'icon-caret' %}</h3>
    </summary>
    <div class="fwx-country-fitment-centre">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'province' -%}
            {% if block.settings.title != blank %}
              <h4 class="fwx-province">{{ block.settings.title }}</h4>
            {% endif %}
          {%- when 'fitment_centre' -%}
            <div class="fwx-province-fitment-centre">
              {% if block.settings.title != blank %}
                <h3>{{ block.settings.title | escape }}</h3>
              {% endif %}
              {% if block.settings.address != blank %}
                <p>{{ block.settings.address }}</p>
              {% endif %}
              <div class="fwx-contact-buttons">
                {% if block.settings.email != blank %}
                  <a href="mailto:{{ block.settings.email }}" class="button button--transparent button--small">{% render 'icon-email' %} Send a message</a>
                {% endif %}
                {% if block.settings.phone != blank %}
                  <a href="tel:{{ block.settings.phone | replace: ' ', '' }}" class="button button--transparent button--small">{% render 'icon-phone' %} Call us</a>
                {% endif %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </details>
</div>

{% schema %}
{
  "name": "Fitment Centre",
  "tag": "section",
  "class": "fwx-fitment-centre", 
  "settings": [   
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {     
      "type": "image_picker",       
      "id": "flag_image",      
      "label": "Flag image"       
    }     
  ],
  "blocks": [
    {
      "type": "province",
      "name": "Province",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Province",
          "label": "Title"
        }
      ]
    },
    {
      "type": "fitment_centre",
      "name": "Fitment Centre",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Fitment Centre",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email Address"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Fitment centre"
    }
  ]
}
{% endschema %}