<div class="page-width">
  <div class="fwx-collection-list {{ section.settings.style }}">
    <div class="fwx-collection-list-heading">
      <div class="fwx-collection-list-heading-text">
        <h2>{{ section.settings.title }}</h2>
        <h4>{{ section.settings.subtitle }}</h4>
      </div>
      <a href="{{ section.settings.link }}" class="button button--secondary">{{ section.settings.linktext }}</a>
    </div>
    <div class="fwx-collection-grid">
      {%- for block in section.blocks -%}
        <a class="fwx-collection-block" href="{{  block.settings.collection.url }}">
          {%- if block.settings.collection.featured_image != blank -%}
          <img
            src="{{ block.settings.collection.featured_image | img_url: '1500x' }}"
            loading="lazy" height="" width="">
          {%- endif -%}
          {%- if block.settings.collection.title != blank -%}
          <span class="h4 fwx-is-overlay"> 
          {{- block.settings.collection.title | escape -}} 
          </span>
          {%- endif -%}
        </a>
      {% endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Collection List",
  "tag": "section",
  "max_blocks": 12,
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collection List",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Enter a subtitle",
      "label": "Subtitle"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    },
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "fwx-brands",
          "label": "Brands"
        },
        {
          "value": "fwx-standard",
          "label": "Standard"
        }
      ],
      "default": "fwx-standard",
      "label": "Style"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Collection List",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
