<script src="https://unpkg.com/swiper/swiper-bundle.min.js"  defer="defer"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

{{ 'fireworkx-about-us-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'fireworkx-about-us-slider.js' | asset_url }}" defer="defer"></script>

<div class="page-width">
    <div class="fwx-about-us-slider">
        <div class="fwx-about-heading">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.description }}</p>
        </div>
        <div class="swiper fwx-about-us-images-swiper">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <div class="swiper-slide">
                        {%- if block.settings.image != blank -%}
                            <img src="{{ block.settings.image | img_url: '1000x' }}"
                              loading="lazy"
                              width=""
                              height=""
                            >
                        {%- endif -%}
                    </div>
                {%- endfor -%}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="fwx-about-swiper-pagination"></div>
        </div>
        <div thumbsSlider="" class="swiper fwx-about-us-thumbs-swiper">
          <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                  <div class="swiper-slide">
                      {%- if block.settings.image != blank -%}
                          <img src="{{ block.settings.image | img_url: '1000x' }}"
                          loading="lazy"
                          width=""
                          height=""
                        >
                      {%- endif -%}
                  </div>
              {%- endfor -%}
          </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "About us Slider",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "High-quality & Locally manufactured"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description",
      "default": "<p>Enter the text description</p>"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image slider cover"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx About us Slider",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
