{{ 'fireworkx-grid-products.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="fwx-product-list">
    <div class="fwx-product-list-heading">
      <div class="fwx-product-list-heading-text">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% if section.settings.link != "blank" %}
      <a href="{{ section.settings.link }}" class="button button--secondary">{{ section.settings.linktext }}</a>
      {% endif %}
    </div>
    <div class="fwx-product-grid">
      {%- for product in collections["Accessories"].products limit: 12 -%}
        <a class="fwx-product-block" href="{{ product.url }}">
          <div class="fwx-product-block-image-container">
            {%- if product.featured_image != blank -%}
            <img
              src="{{ product.featured_image | img_url: '' }}"
              loading="lazy" height="" width="">
            {%- endif -%}
            {%- if product.title != blank -%}
            <span class="h4 fwx-is-overlay">
            {{- product.title | escape -}} 
            </span>
            {%- endif -%}
          </div>
        </a>
      {% endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Product List",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Accessories",
      "label": "Accessory Product List"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Product List"
    }
  ]
}
{% endschema %}
