{{ 'fireworkx-fitment-centres.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <details class="fwx-country">
    <summary type="button">
      <h3> {{ section.settings.flag_image | img_url: '52x' | img_tag }}{{ section.settings.title }}</h3>
    </summary>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'province' -%}
            <h4 class="fwx-province">{{ block.settings.title }}</h4>
          {%- when 'fitment_centre' -%}
            <div class="fwx-fitment-centre">
              <h3>{{ block.settings.title | escape }}</h3>
              <p>{{ block.settings.address }}</p>
              <div class="fwx-contact-buttons">
                  <a href="{{ block.settings.email }}" class="button button--transparent">{% render 'icon-email' %} Send a message</a>
                  <a href="{{ block.settings.phone }}" class="button button--transparent">{% render 'icon-phone' %} Call us</a>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
  </details>
</div>

{% schema %}
{
  "name": "Fitment Centres",
  "tag": "section",
  "class": "fwx-fitment-centres", 
  "settings": [   
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    },
    {     
      "type": "image_picker",       
      "id": "flag_image",      
      "label": "Flag image"       
    }     
  ],
  "blocks": [
    {
      "type": "province",
      "name": "Province",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Province",
          "label": "Title"
        }
      ]
    },
    {
      "type": "fitment_centre",
      "name": "Fitment Centre",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Fitment Centre",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email Address"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Fitment centres"
    }
  ]
}
{% endschema %}