{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'fireworkx-why-choose-andycab.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="fireworkx-wca">
    <div class="fireworkx-wca-video-container">
      <div class="fireworkx-wca-video-intro">
        <h2 class="title">{{ section.settings.heading }}</h2>
        <div class="rte">{{ section.settings.description }}</div>
      </div>
      <deferred-media class="video-section__media deferred-media no-js-hidden fireworkx-wca-video" data-media-id="{{ section.settings.video_url.id }}"
        {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        <button
          id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
          class="video-section__poster media deferred-media__poster media--landscape"
          type="button"
        >
          {%- if section.settings.cover_image != blank -%}
            <img
              src="{{ section.settings.cover_image | img_url: '500x' }}"
              loading="lazy"
              width=""
              height=""
            >
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
          <span class="deferred-media__poster-button motion-reduce">
            {%- render 'icon-play' -%}
          </span>
        </button>
        <template>
          {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
          {%- else -%}
            <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
          {%- endif -%}
        </template>
      </deferred-media>
    </div>
    <div class="multicolumn background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
        <h2 class="title">
          {{ section.settings.title | escape }}
        </h2>
      </div>
      <slider-component class="slider-mobile-gutter">
        <ul class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
          id="Slider-{{ section.id }}"
          role="list"
        >
          {%- for block in section.blocks -%}
            <li class="multicolumn-list__item grid__item slider__slide " {{ block.shopify_attributes }}>
              <div class="multicolumn-card">
                <div class="multicolumn-card__info">
                  {%- if block.settings.image != blank -%}
                      <img src="{{ block.settings.image | img_url: '550x' }}"
                      loading="lazy"
                    >
                  {%- endif -%}
                  {%- if block.settings.title != blank -%}
                    <h4>{{ block.settings.title | escape }}</h4>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte fireworkx-large-text">{{ block.settings.text }}</div>
                  {%- endif -%}
                </div>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </slider-component>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Why Choose AndyCab",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Why Choose AndyCab"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description",
      "default": "<p>Enter the text description</p>"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Choose AndyCab CTA",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
