
{{ 'fireworkx-hero.css' | asset_url | stylesheet_tag }}
{% capture source %}hero-{{ collection.title | handleize }}.png{% endcapture %}

{% if template.name == 'collection' %}
  {% if collection.title contains 'Canopies' and collection.title != 'Used Canopies' %}
    <div class="fwx-hero canopy">
        <div class="fwx-hero-heading">
          <div class="page-width">
            {% if template.name == 'collection' %}
              <h1> {{ collection.title }} </h1>
            {% elsif template.name == 'page' %}
              <h1> {{ page.title }} </h1>
            {% endif %}
          </div>
        </div>
        <div class="page-width fwx-hero-content">
          <div class="fwx-hero-section">
              <div class="fwx-hero-snippet">
                {% render 'fireworkx-need-help-or-quote' %}
              </div>
              <img class="canopy-image" src="{{ source | file_img_url: '550x' }}" width="" height="" loading="lazy">   
          </div>
        </div>
    </div>
  {% else %}
  <div class="fwx-hero standard">
    <div class="page-width">
      <div class="fwx-hero-heading">
        {% if template.name == 'collection' %}
          <h1> {{ collection.title }} </h1>
        {% elsif template.name == 'page' %}
          <h1> {{ page.title }} </h1>
        {% endif %}
        <div class="fwx-hero-snippet">
          {% render 'fireworkx-need-help-or-quote' %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% else %}
<div class="fwx-hero standard">
  <div class="page-width">
    <div class="fwx-hero-heading">
      {% if template.name == 'collection' %}
        <h1> {{ collection.title }} </h1>
      {% elsif template.name == 'page' %}
        <h1> {{ page.title }} </h1>
      {% elsif template.name == 'blog' %}
        <h1> Blog </h1>
      {% endif %}
      {% if page.handle == 'fitment-centres' %}
        <div class="fwx-hero-snippet">
            {% render 'fireworkx-need-help-or-quote' %}
        </div>
    {% endif %}
    </div>
  </div>
</div>
{% endif %}




<script>
  // No way to null check image in Shopify
  // Hide the canopy image if it 404s
  const canopyImage = document.querySelector('.canopy-image')
  if(canopyImage){
    document.querySelector('.canopy-image').onerror = function(){
      this.style.display = "none";
    };
  }
</script>

  {% schema %}
  {
    "name": "Fireworkx Hero",
    "class": "fireworkx-hero",
    "presets": [
      {
        "name": "Fireworkx Hero"
      }
    ]
  }
  {% endschema %}
  