{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{% schema %}
{
  "name": "Footer Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "left-side-title",
      "label": "Left Side Title",
      "default": "Email us here:"
    },
    {
      "type": "text",
      "id": "left-side-link-text",
      "label": "Left Side Link Text"
    },
    {
      "type": "url",
      "id": "left-side-link",
      "label": "Left Side Link"
    },
    {
      "type": "text",
      "id": "right-side-title",
      "label": "Right Side Title",
      "default": "Stay in the loop by getting on our mailing list"
    },
    {
      "type": "text",
      "id": "right-side-title-name",
      "label": "Right Side Title Name",
      "default": "NAME *"
    },
    {
      "type": "text",
      "id": "right-side-title-email",
      "label": "Right Side Title E-mail",
      "default": "E-MAIL *"
    },
    {
      "type": "text",
      "id": "right-side-title-company",
      "label": "Right Side Title Company",
      "default": "COMPANY *"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Текст кнопки",
      "default": "CONTACT US"
    },
    {
      "type": "image_picker",
      "id": "button_image",
      "label": "Изображение кнопки"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Ссылка для кнопки"
    }
  ],

  "presets": [
    {
      "name": "Footer Columns"
    }
  ]
}
{% endschema %}

{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'contact-us-button.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="container">
    <h2 class="footer-title">{{ section.settings.title }}</h2>
    <div class="footer-indent"></div>
    <div class="footer-wrapper">
      <div class="footer-left-side">
        <p class="footer-left-side-title">{{ section.settings['left-side-title'] }}</p>
        {% comment %} <p class="footer-left-side-value">{{ section.settings['left-side-link'] }}</p> {% endcomment %}
        <a
          href="{{ section.settings['left-side-link'] }}"
          class="footer-left-side-value"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{- section.settings['left-side-link-text'] -}}
        </a>
      </div>
      <div class="footer-right-side">
        <form class="custom-form" method="post" action="/contact">
          <h2 class="form-title">Stay in the loop by getting on our mailing list.</h2>

          {% comment %} <label for="name">NAME *</label> {% endcomment %}
          <input type="text" id="name" name="name" required placeholder="NAME *">

          {% comment %} <label for="email">E-MAIL *</label> {% endcomment %}
          <input type="email" id="email" name="email" required placeholder="E-MAIL *">

          {% comment %} <label for="company">COMPANY *</label> {% endcomment %}
          <input type="text" id="company" name="company" required placeholder="COMPANY *">

          {% render 'contact-us-button',
            link: section.settings.button_link,
            text: section.settings.button_text,
            image: section.settings.button_image
          %}
        </form>
      </div>
    </div>
  </div>
</footer>
