{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}

{%- style -%}
  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  p {
    font-family: var(--font-ltcushion), sans-serif;
    font-size: clamp(10px, 14px, 16px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  button {
    unset: all;
  }

  footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 10dvw;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px 32px 0px 0px;
    background: var(--chocolate-cosmos);
    overflow: hidden;
  }

  .footer-background {
    position: absolute;
    width: 45%;
    top: 0px;
    right: 20px;
    z-index: 3;
    overflow: hidden;
  }

  .footer-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    z-index: 5;
  }

  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & a {
      text-decoration: none;
      color: var(--old-lace);
      font-size: 16px;
      text-align: left;
      padding: 5px 0;
      border-radius: 8px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    width: 100%;
    max-width: 450px;

    & input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px;
      border-radius: 8px 0 0 8px;
      border: 3px solid var(--old-lace);
      color: var(--old-lace);
      font-size: 16px;
      background-color: var(--chocolate-cosmos);
      transition: background-color 0.3s ease, color 0.3s ease;
      outline: none;
      box-shadow: none;
    }

    & input:focus {
      border-color: var(--old-lace);
      color: var(--chocolate-cosmos);
      background-color: var(--old-lace);
    }

    & input::placeholder {
      font-family: var(--font-ltcushion), sans-serif;
      font-size: clamp(14px, 2vw, 16px);
      color: var(--old-lace);
    }

    & input:focus::placeholder {
      color: var(--chocolate-cosmos);
    }

    & .input-container {
      width: 100%;
      max-width: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    & .input-container button {
      height: 100%;
      padding: 9px;
      border-radius: 0 8px 8px 0;
      color: var(--chocolate-cosmos);
      background-color: var(--old-lace);
      outline: none;
      border: none;
      cursor: pointer;
    }

    & h4 {
      color: var(--old-lace);
      font-size: 16px;
      text-align: right;
    }
  }

  .footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    & .footer-social {
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      color: var(--old-lace);
    }

    & .footer-social a {
      display: flex;
      align-items: center;
      padding: 5px;
      text-decoration: none;
      color: var(--old-lace);
      border-radius: 4px;
    }

    & .divisor {
      width: 100%;
      height: 3px;
      background-color: var(--old-lace);
      margin: 0;
    }

    & small {
      color: var(--old-lace);
      font-size: 16px;
      text-align: center;
      word-break: break-word;
    }

    & a {
      font-family: var(--font-ltcushion), sans-serif;
      text-decoration: underline;
      color: var(--old-lace);
      font-size: 16px;
      text-align: center;
      word-break: break-word;
    }
  }

  /* Media Queries */
  @media (max-width: 1366px) {
    .footer-background {
      width: 60%;
    }
  }

  @media (max-width: 1024px) {
    footer {
      padding: 60px 5vw 40px 5vw;
    }

    .footer-background {
      display: none;
    }

    .footer-content {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .footer-links {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .footer-newsletter {
      align-items: center;
      text-align: left;

      & h4 {
        text-align: right;
        word-break: break-word;
      }
    }
  }

  @media (max-width: 600px) {
    footer {
      padding: 50px 20px;
    }

    .footer-links a,
    .footer-newsletter h4,
    .footer-newsletter input,
    .footer-copyright small,
    .footer-copyright a {
      font-size: 14px;
      text-align: center;
    }
  }
{%- endstyle -%}
<footer>
  <img
    src="{{ 'isotipo-footer.png' | asset_url }}"
    class="footer-background"
    loading="lazy"
    alt="BakeDream Footer Background"
    width="718"
    height="833"
  >
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-links">
        <a href="{{  routes.root_url }}">Home</a>
        <a href="/pages/about">About</a>
        <a href="{{  routes.all_products_collection_url }}">Cookies</a>
        <a href="/pages/faq" class="">FAQ's</a>
        <a href="/pages/shipping-policy" class="">Shipping</a>
        <a href="/pages/contact" class="">Contact Us</a>
      </div>
      <div class="footer-newsletter">
        <img
          loading="lazy"
          src="{{ 'brand-logo.svg' | asset_url }}"
          alt="BakeDream Official Logo"
          style="width: 100%; height: auto; max-width: 85px;"
          width="52"
          height="85"
        >
        {%- if section.settings.newsletter_enable -%}
          <h4>Get sweet updates — no spam!</h4>
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-container">
              <input
                type="email"
                name="contact[email]"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                placeholder="Enter your email"
                required
              >
              <button type="submit" class="btn btn-primary" name="commit" id="Subscribe" aria-label="Subscribe">
                <i data-lucide="chevron-right"></i>
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="ContactFooter-success"
                tabindex="-1"
                autofocus
              >
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
      </div>
    </div>
    <div class="footer-copyright">
      <hr class="divisor">
      <div class="footer-social">
        <a href="https://www.instagram.com/bakedreamny/" target="_blank" rel="noopener noreferrer"
          ><img src="{{ 'instagram.svg' | asset_url }}" width="30" height="30" alt="Instagram"
        ></a>
      </div>
      <small> 9202 Jamaica Ave, Woodhaven, NY 11421 </small>
      <small
        >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        {%- if section.settings.show_policy -%}
          {%- for policy in shop.policies -%}
            {%- if policy != blank -%}
              <a href="{{ policy.url }}">{{ policy.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        &nbsp;— All Rights Reserved. Made by <a href="https://instagram.com/itzarz.dev">ARz</a>
      </small>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    }
  ]
}
{% endschema %}
