<link rel="stylesheet" href="{{ 'section-header-inventables.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-header-inventables.css' | asset_url | stylesheet_tag }}</noscript>
<footer class="footer inventables__footer__content">
  <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
    {%- for block in section.blocks -%}
      <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
        {%- if block.settings.heading != blank -%}
          <h2 class="footer-block__heading">{{- block.settings.heading | escape | upcase -}}</h2>
        {%- endif -%}

        {%- case block.type -%}
        {%- when 'text' -%}
          <div class="footer-block__details-content rte">
            {{ block.settings.subtext }}
          </div>
        {%- when 'link_list' -%}
          {%- if block.settings.menu != blank -%}
            <ul class="footer-block__details-content">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title | upcase }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</footer>

{% schema %}
{
  "name": "Inventables Footer",
  "max_blocks": 8,
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  @font-face {
    font-family: "AlrightSans-Regular";
    src: url("{{ 'AlrightSans-Regular.otf' | asset_url }}") format("opentype");
  }
{% endstyle %}