<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-footer-header-inventables.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-footer-header-inventables.css' | asset_url | stylesheet_tag }}</noscript>

<a href="{{ section.settings.inventables_page_url }}" class="footer-inventables__header-link link link--text focus-inset">
  {%- if section.settings.logo != blank -%}
    {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
    {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
    class: 'footer-logo',
    widths: '50, 100, 150, 200, 250, 300, 400, 500',
    height: logo_height,
    width: section.settings.logo_width,
    alt: logo_alt
    }}
  {%- else -%}
    <span class="h2">{{ shop.name }}</span>
  {%- endif -%}
</a>

<ul class="list list-social list-unstyled" role="list">
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
        {%- render 'icon-instagram' -%}
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
        {%- render 'icon-facebook' -%}
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
        {%- render 'icon-twitter' -%}
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
{% schema %}
{
  "name": "Inventables Footer Header",
  "class": "inventables__footer-header",
  "settings": [
    {
      "type": "url",
      "label": "Inventables page URL",
      "id": "inventables_page_url"
    },
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    }
  ]
}
{% endschema %}
