{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{% liquid
  assign default_address = shop.address.street | append: shop.address.city
  assign shop_address = shop.address.summary | default: default_address
  assign shop_opening_hours = settings.opening_hours
%}

<footer class="footer  bg-black ">
  <div class="px-large xl:px-0 pt-base lg:pb-[6px] lg:pt-huge max-w-[1080px] mx-auto">
    {%- liquid
      assign has_social_icons = true
      if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
        assign has_social_icons = false
      endif
    -%}

    <div class="grid grid-cols-2 md:grid-cols-4 gap-y-huge gap-x-large lg:gap-x-0">
      {% if section.settings.footer_menu != blank %}
        {% for link in section.settings.footer_menu.links limit: 2 -%}
          <div>
            <a href="{{ link.url }}" class="text-t-xs text-grey300 inline-block capitalize">
              {{ link.title }}
            </a>

            {%- if link.links != blank -%}
              <ul class="mt-base flex flex-col gap-base">
                {%- for childlink in link.links -%}
                  <li class="w-full">
                    <a
                      href="{{ childlink.url }}"
                      class="text-body-xs text-grey300 capitalize"
                    >
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {%- endfor %}
      {% endif %}

      {% if has_social_icons %}
        <div>
          <h3 class="text-t-xs text-grey300 inline-block capitalize">socials</h3>

          {%- render 'social-icons', class: 'footer__list-social' -%}
        </div>
      {% endif %}

      <div class="w-full flex flex-col gap-large">
        {% if shop.address != blank and shop_opening_hours != blank %}
          <div class="w-full flex flex-col justify-center gap-small">
            {%- render 'icon-address', class: 'fill-grey300' -%}

            <div class="w-full flex flex-col gap-small">
              {% if shop_address != blank %}
                <p class="text-body-xs text-grey300 capitalize">
                  {{ shop_address }}
                </p>
              {% endif %}

              {% if shop_opening_hours != blank %}
                <p class="text-body-xs text-grey300 capitalize opening-hours">
                  {{ shop_opening_hours }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="w-full flex flex-col gap-small">
          {% if shop.phone != blank %}
            <div class="flex flex-col justify-center gap-small w-full">
              {% render 'icon-phone', class: 'fill-grey700' %}
              <a href="tel:{{shop.phone}}" class="text-body-xs text-grey300 capitalize break-all">{{ shop.phone }}</a>
            </div>
          {% endif %}

          {% if shop.email != blank %}
            <div class="flex flex-col justify-center gap-small w-full">
              {% render 'icon-mail', class: 'fill-grey700' %}
              <a href="mailto:{{shop.email}}" class="text-body-xs text-grey300 break-all">{{ shop.email }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="mt-[33px]">
      <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
      <ul class="list list-payment flex items-center gap-small flex-wrap" role="list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="">
            {{ type | payment_type_svg_tag: class: 'icon w-[30px] h-5' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>

  <div class="overflow-hidden pt-base">
    <div class="max-w-[1080px] mx-auto lg:absolute mb-large lg:mb-0 w-full px-large lg:px-0">
      {% if shop.enabled_payment_types.size > 0 %}
        <ul class="flex pt-small gap-mini flex-grow-0 flex-wrap" role="list">
          {%- for type in shop.enabled_payment_types -%}
            <li class="">
              {{ type | payment_type_svg_tag: class: 'icon w-[30px] h-5 !fill-[#D8E3F3]' }}
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}

      <p class="text-body-xs text-white">&copy; {{ 'now' | date: '%Y' }} Smshrs GmbH. Alle Rechte vorbehalten</p>
    </div>

    {% render 'footer-logo', class: 'fill-grey700 relative -bottom-[12px] md:bottom-0 opacity-1/2 w-full' %}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "id": "footer_menu",
      "default": "footer",
      "label": "t:sections.footer.settings.footer_menu.label",
      "info": "t:sections.footer.settings.footer_menu.info",
      "type": "link_list"
    },
    {
      "content": "t:sections.footer.settings.brand_information.label",
      "type": "paragraph"
    },
    {
      "content": "t:sections.footer.settings.social_icons.label",
      "type": "paragraph"
    }
  ]
}
{% endschema %}
