<link rel="stylesheet" href="{{ 'greenhouse-form.css' | asset_url }}">
<script async src="{{ 'greenhouse-form.js' | asset_url }}"></script>

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="wrapper color-{{ section.settings.color_scheme }}">
  <div class="spontaneous_greenhouse-container page-width section-{{section.id}}">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <p class="subtitle">{{ section.settings.subtitle }}</p>
    {% endif %}
    <form id="spontaneous_greenhouse">
      <label for="firstname">
        First name <span class="required">*</span>
        <input type="text" id="firstname" name="firstname" required>
      </label>
      <label for="lastname">
        Last name <span class="required">*</span>
        <input type="text" id="lastname" name="lastname" required>
      </label>
      <label for="email">
        Email <span class="required">*</span>
        <input type="email" id="email" name="email" required>
      </label>
      <label for="linkedin">
        LinkedIn <span class="required">*</span>
        <input type="text" name="linkedin" id="linkedin" placeholder="linkedin.com/in/username" required>
      </label>
      <label class="checkbox" for="consent">
        <input type="checkbox" name="consent" id="consent" required>
        I consent to have my data processed as part of this application. <a href="https://www.loopearplugs.com/pages/vacancy-privacy-notice" target="_blank" style="color: rgba(178, 231, 230, 1);">Privacy notice</a> <span class="required">*</span>
      </label>
      <div class="feedback-container">
        <p class="feedback-success">Thanks for your application! We'll get back to you within the next 7 working days.</p>
        <p class="feedback-error">Something went wrong when submitting the form, please try again later.</p>
      </div>
      <input class="button button--primary" type="submit" value="Submit">
    </form>
  </div>
</div>
{% schema %}
{
  "name": "Greenhouse Spontaneous",
  "tag": "section",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text"
    },
    {
      "id": "subtitle",
      "label": "Subtitle",
      "type": "text"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 88
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 88
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Greenhouse Spontaneous"
    }
  ]
}
{% endschema %}
