{%- style -%}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //transition: all 0.3s ease;
  }

  .shopify-section-group-header-group {
    z-index: 100;
  }

  header {
    position: sticky;
    top: 0;
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff2e6;
  }

  .bakedream-header {
    display: flex;
    width: 100%;
    max-width: 855px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(101, 18, 33, 0.95);
    border-radius: 64px;
    padding: 5px 50px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s ease;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 8px 0px rgba(255, 242, 230, 0.25) inset,
      0px 10px 15px 0px rgba(0, 0, 0, 0.15), 0px 20px 35px 0px rgba(0, 0, 0, 0.2);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .header-nav {
    display: flex;
    font-size: 16px;
    padding: 15px 0px;
    align-items: center;
    gap: 20px;

    & a {
      color: var(--old-lace);
      padding: 5px 15px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 24px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    & a:hover,
    a:focus {
      color: #651221;
      background-color: #fff2e6;
    }
  }

  .order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--old-lace);
    padding: 5px 20px;
    border-radius: 6px;
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: fit-content;

    & .header-icon {
      width: 20px;
      height: 20px;
    }

    & a {
      padding: 6px;
      background: none;
      border: 2px solid transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: var(--old-lace);
      color: var(--chocolate-cosmos);
      transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

      &:hover,
      &:focus {
        background-color: transparent;
        border: 2px solid var(--old-lace);
        color: var(--old-lace);
      }
    }
  }

  .cart-count {
    position: absolute;
    top: -9px;
    right: -9px;
    color: var(--onyx);
    background-color: var(--old-lace);
    font-size: 10px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .shopping-cart-btn {
    position: relative;
  }

  /* === ESTILOS GENERALES === */
  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--old-lace);
    cursor: pointer;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    top: -200%;
    right: 0;
    height: 0;
    width: 100%;
    border-radius: 32px;
    background-color: rgba(101, 18, 33, 0.9);
    backdrop-filter: blur(16px);
    padding: 20px;
    gap: 10px;
    text-align: left;
    transition: height 0.4s ease;
    z-index: 999;
  }

  .mobile-menu a {
    width: 100%;
    color: var(--old-lace);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;

    &:hover,
    &:focus {
      color: var(--chocolate-cosmos);
      background-color: var(--old-lace);
    }
  }

  .mobile-menu .order-btn {
    gap: 10px;
    border: 2px solid var(--old-lace);
    padding: 5px 20px;
    border-radius: 6px;
    margin-top: 20px;
  }

  .mobile-menu.show {
    display: flex;
    flex-direction: column;
    top: 0;
    height: 410px;
    opacity: 1;
    visibility: visible;
    padding-top: 50px;
  }

  .close-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--old-lace);
    align-self: flex-end;
    cursor: pointer;
    transition: top 0.3s ease, right 0.3s ease;
  }

  /* Dispositivos con ancho menor a 1024px (lg) */
  @media (max-width: 1024px) {
    .header-nav {
      display: none;
    }

    .bakedream-header {
      padding: 15px 30px;
    }

    .header-icons {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .cart-count {
      position: absolute;
      top: 10px;
      right: 5px;
      color: var(--onyx);
      background-color: var(--old-lace);
      font-size: 12px;
      font-weight: 500;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px;
    }
  }

  @media (max-width: 320px) {
    .close-btn {
      top: 25px;
      right: 15px;
    }
  }

  /* Dispositivos grandes (≥ 1024px) */
  @media (min-width: 1024px) {
    .mobile-menu {
      display: none;
    }
  }
{%- endstyle -%}

<header class="bakedream-header">
  <a href="{{ routes.route_url }}" class="logo">
    <img
      src="{{ 'brand-logo.svg' | asset_url }}"
      alt="BakeDream Official Logo"
      style="width: 100%; height: auto; max-width: 80px;"
      width="80"
      height="50"
    >
  </a>

  <!-- Menu Icon (Mobile) -->
  <button class="hamburger" id="hamburgerBtn" aria-label="Abrir menú">
    <i data-lucide="menu"></i>
  </button>

  <!-- Navigation Menu Bar (Desktop) -->
  <nav class="header-nav">
    <a href="{{ routes.root_url }}">Home</a>
    <a href="{{ routes.root_url }}/pages/about">About</a>
    <a href="{{ routes.all_products_collection_url }}">Cookies</a>
    <a href="/pages/faq">FAQ</a>
  </nav>

  <!-- User Actions -->
  <div class="header-icons">
    {%- if shop.customer_accounts_enabled -%}
      <a
        class="user-btn rounded-btn"
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        rel="nofollow"
        aria-label="My Account"
      >
        <i data-lucide="user-round" class="header-icon"></i>
      </a>
    {%- endif -%}
    <a href="{{ routes.cart_url }}" class="shopping-cart-btn rounded-btn" aria-label="Shopping Cart">
      <i data-lucide="shopping-cart" class="header-icon"></i>
      {%- if cart != empty -%}
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true" class="cart-count" id="cartCount">{{ cart.item_count }}</span>
        {%- endif -%}
        {%- if cart.item_count >= 100 -%}
          <span aria-hidden="true" class="cart-count" id="cartCount">+99</span>
        {%- endif -%}
      {%- endif -%}
    </a>
  </div>

  <!-- Aside menu for mobile -->
  <aside class="mobile-menu" id="mobileMenu">
    <button class="close-btn" id="closeMenuBtn"><i data-lucide="x"></i></button>
    <a href="{{  routes.root_url }}">Home</a>
    <a href="{{  routes.root_url }}/pages/about">About</a>
    <a href="{{ routes.all_products_collection_url }}">Our Cookies</a>
    <a href="{{ routes.cart_url }}" class="shopping-cart-btn">
      Shopping Cart
      {%- if cart != empty -%}
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true" class="cart-count" id="cartCount">{{ cart.item_count }}</span>
        {%- endif -%}
        {%- if cart.item_count >= 100 -%}
          <span aria-hidden="true" class="cart-count" id="cartCount">+99</span>
        {%- endif -%}
      {%- endif -%}
    </a>
    <a href="/pages/faq">FAQ</a>
    {%- if shop.customer_accounts_enabled -%}
      <a
        href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
        rel="nofollow"
        class="order-btn"
      >
        {% if customer %}
          My Account
        {% else %}
          Login
        {% endif %}
        <i data-lucide="user"></i>
      </a>
    {%- endif -%}
  </aside>
</header>
{%- javascript -%}
  /* Menu Mobile JS */
  document.addEventListener('DOMContentLoaded', () => {
    const menu = document.getElementById('mobileMenu');
    const openBtn = document.getElementById('hamburgerBtn');
    const closeBtn = document.getElementById('closeMenuBtn');

    openBtn.addEventListener('click', () => {
      menu.classList.add('show');
    });

    closeBtn.addEventListener('click', () => {
      menu.classList.remove('show');
    });

    // Cerrar al hacer clic fuera del menú
    window.addEventListener('click', (e) => {
      if (!menu.contains(e.target) && !openBtn.contains(e.target)) {
        menu.classList.remove('show');
      }
    });

    // Cerrar el menú si el tamaño de la pantalla es mayor a 1024px
    window.addEventListener('resize', () => {
      if (window.innerWidth > 1024 && menu.classList.contains('show')) {
        menu.classList.remove('show');
      }
    });
  });
{%- endjavascript -%}
