{{ 'header-ribbon.css' | asset_url | stylesheet_tag }}

<script src="{{ 'header-ribbon.js' | asset_url }}" defer="defer"></script>

<div class="header-ribbon-container">
  <div class="ribbon">
    {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
            <div class="ribbon-block">
              {{ block.settings.content }}
              {% if block.settings.site %}
                | <a href="{{ block.settings.link }}" target="_blank">{{ block.settings.site }}</a>
              {% endif %}
            </div>
        {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Ribbon",
  "settings": [],
  "blocks": [
    {
      "name": "条目",
      "type": "ribbon-item",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "内容"
        },
        {
          "type": "text",
          "id": "site",
          "label": "链接名称"
        },
        {
          "type": "text",
          "id": "link",
          "label": "链接"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": []
}
{% endschema %}