<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'section-footer-header-inventables.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-footer-header-inventables.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }

  @media screen and (min-width: 1180px) {
    header-drawer {
      display: none;
    }

    header__icon {
      margin-right: 16px;
      padding-right: 16px;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% capture CFH %}
  {{ content_for_header }}
{% endcapture %}

{% if CFH contains 'admin_bar_iframe' %}
  {% assign admin = true %}
{% elsif CFH contains 'preview_bar_injector-' %}
  {% assign admin = true %}
{% elsif CFH contains 'Online store editor' %}
  {% assign admin = true %}
{% elsif CFH contains 'designMode' %}
  {% assign admin = true %}
{% endif %}
{% if customer.id != null %}
{% assign logged_in = true %}
{% endif %}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="m19.8 18.3-4.7-4.7c-.1-.1-.2-.1-.3-.1h-.5c1.2-1.4 2-3.3 2-5.3 0-4.5-3.6-8.1-8.1-8.1s-8.2 3.5-8.2 8 3.6 8.1 8.1 8.1c2 0 3.9-.7 5.3-2v.5c0 .1.1.2.1.3l4.7 4.7c.2.2.5.2.7 0l.9-.9c.2 0 .2-.3 0-.5zm-11.7-4c-3.4 0-6.2-2.8-6.2-6.2s2.8-6.2 6.2-6.2 6.2 2.8 6.2 6.2-2.7 6.2-6.2 6.2z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>

  <symbol id="icon-cart" class="icon icon-cart" fill="none" viewBox="0 0 20 18">
    <path d="m19.1663494 2.17391304h-14.15662843l-.30298603-1.51521739c-.07652776-.38260869-.41930545-.65869565-.81784702-.65869565h-3.47222136c-.23010411 0-.41666656.18250679-.41666656.4076087v.81521739c0 .2251019.18656245.40760869.41666656.40760869h2.78611042l2.41645773 12.08223502c-.38326379.390625-.61923471.9205503-.61923471 1.5047215 0 1.2006114.99492906 2.173913 2.22222042 2.173913s2.22222167-.9733016 2.22222167-2.173913c.00043277-.3816955-.10238739-.7567064-.29802076-1.0869565h5.04051957c-.1956334.3302501-.2984535.705261-.2980207 1.0869565 0 1.2006114.9949303 2.173913 2.2222216 2.173913 1.2272914 0 2.2222217-.9733016 2.2222217-2.173913 0-.6160326-.2623611-1.1717391-.6831943-1.5673234l.0359375-.1615828c.1129861-.5081522-.2827083-.9884851-.8143053-.9884851h-9.79680316l-.32604159-1.6304348h10.84739315c.3920138 0 .7310415-.2672894.8143053-.6420516l1.5699996-7.0652174c.1129167-.50811821-.2827777-.98838316-.8143053-.98838316zm-11.94412898 13.85869566c-.45951377 0-.83333312-.3656929-.83333312-.8152174s.37381935-.8152174.83333312-.8152174c.45951378 0 .83333313.3656929.83333313.8152174s-.37381935.8152174-.83333313.8152174zm8.88888668 0c-.4595138 0-.8333331-.3656929-.8333331-.8152174s.3738193-.8152174.8333331-.8152174.8333331.3656929.8333331.8152174-.3738193.8152174-.8333331.8152174zm.8138192-6.79347827h-10.50201123l-1.08715251-5.4347826h12.79680234z" fill="currentColor">
  </symbol>

  <symbol id="icon-admin" class="icon icon-admin" fill="none" viewBox="0 0 22 22">
    <path d="m20.655871 12.9195-1.4464113-.8350685c.0909275-.7201102.0909275-1.4487972 0-2.16890731l1.4464113-.83506854c.4247419-.24519355.6296169-.74968549.4899435-1.21980242-.4973951-1.67435081-1.3827621-3.18148388-2.5519556-4.41752017-.3386049-.35794354-.8789799-.43627419-1.3056734-.18992741l-1.4442823.83378225c-.5777025-.43965627-1.2086886-.8044863-1.8779395-1.08580645v-1.6683629c0-.49366936-.3394032-.92275807-.8198548-1.03643952-1.6696936-.39515726-3.42055648-.39520161-5.09060487 0-.48040726.11368145-.81985484.54272581-.81985484 1.03643952v1.6683629c-.66925602.28130992-1.30024332.64614067-1.87793951 1.08580645l-1.44428226-.83378225c-.4267379-.24634678-.9671129-.16801613-1.30567339.18992741-1.16919355 1.23603629-2.05456048 2.74321371-2.55195564 4.41752017-.13967339.47011693.06520161.97456451.48994355 1.21980242l1.44641129.83506854c-.09092748.72011011-.09092748 1.44879711 0 2.16890731l-1.44641129.8350685c-.42474194.2451935-.62961694.7496855-.48994355 1.2198024.49739516 1.6743065 1.38276209 3.1814839 2.55195564 4.4175202.33860484.3579435.87897984.4362742 1.30567339.1899718l1.44428226-.8337823c.57769304.4396586 1.20868134.804475 1.87793951 1.0857621v1.6683629c0 .4936694.33940323.9227581.81985484 1.0364395 1.66973791.3951573 3.42055647.3952016 5.09060487 0 .4804072-.1136814.8198548-.5427258.8198548-1.0364395v-1.6683629c.6692459-.2813118 1.3002312-.6461265 1.8779395-1.0857621l1.4442823.8337823c.4266935.2463467.9670685.1680161 1.3056734-.1899718 1.1691935-1.2360363 2.0545605-2.7432137 2.5519556-4.4175202.1396734-.4701169-.0652016-.9745645-.4899435-1.2198024zm-2.9043105 4.4559315-2.0540282-1.1860484c-1.1970484 1.0233104-1.6215686 1.2807903-3.1509234 1.8211653v2.3720524c-1.2836882.2647989-2.60791666.2647989-3.89160487 0v-2.3720524c-1.49125403-.5268911-1.92300403-.7715524-3.15092338-1.8211653l-2.05402823 1.1860484c-.87423387-.9797984-1.538625-2.1285444-1.94846371-3.3691049l2.05491532-1.1860484c-.28985887-1.5709153-.28999193-2.0688871 0-3.64060078l-2.05491532-1.18604839c.40983871-1.24056048 1.07427419-2.3893508 1.94846371-3.36959274l2.05402823 1.18693548c1.21430241-1.03941129 1.64392338-1.28917338 3.15092338-1.82160887v-2.37200806c1.28364298-.26524167 2.60796187-.26524167 3.89160487 0v2.37205242c1.5070887.53247984 1.936754.78228629 3.1509234 1.82160887l2.0540282-1.18693548c.8741895.98019758 1.538625 2.1289879 1.9484637 3.36959274l-2.0549153 1.18604838c.2899032 1.57131453.2899919 2.06888713 0 3.64060083l2.0549153 1.1860484c-.4098387 1.2405161-1.0742298 2.3893064-1.9484637 3.3690605zm-7.150754-10.63349602c-2.34792344 0-4.25806456 1.91014113-4.25806456 4.25806452 0 2.3479234 1.91014112 4.2580645 4.25806456 4.2580645 2.3479233 0 4.2580645-1.9101411 4.2580645-4.2580645 0-2.34792339-1.9101412-4.25806452-4.2580645-4.25806452zm0 7.09677422c-1.56528231 0-2.83870973-1.2734274-2.83870973-2.8387097 0-1.56528226 1.27342742-2.83870968 2.83870973-2.83870968 1.5652822 0 2.8387096 1.27342742 2.8387096 2.83870968 0 1.5652823-1.2734274 2.8387097-2.8387096 2.8387097z" fill="currentColor">
  </symbol>

  <symbol id="icon-user" class="icon icon-user" fill="none" viewBox="0 0 18 18">
    <path d="m13.5 11.8125c-1.4273438 0-1.6734375-.0527344-2.5382812.2390625-.6152344.2074219-1.27617192.3234375-1.9617188.3234375s-1.34648438-.1160156-1.96171875-.3234375c-.86484375-.2917969-1.10742188-.2390625-2.53828125-.2390625-2.48554688 0-4.5 2.0144531-4.5 4.5v.5625c0 .6222656.50273437 1.125 1.125 1.125h15.75c.6222656 0 1.125-.5027344 1.125-1.125v-.5625c0-2.4855469-2.0144531-4.5-4.5-4.5zm2.8125 4.5h-14.625c0-.7523437.29179687-1.4589844.82265625-1.9898437.53085937-.5308594 1.2375-.8226563 1.98984375-.8226563 1.44492187 0 1.44140625-.0386719 1.996875.1476563.80859375.2742187 1.65234375.4148437 2.503125.4148437s1.6945312-.140625 2.503125-.4148437c.5554688-.1898438.5519531-.1476563 1.996875-.1476563 1.5503906 0 2.8125 1.2621094 2.8125 2.8125zm-7.3125-5.0625c3.1078125 0 5.625-2.5171875 5.625-5.625s-2.5171875-5.625-5.625-5.625-5.625 2.5171875-5.625 5.625 2.5171875 5.625 5.625 5.625zm0-9.5625c2.1726562 0 3.9375 1.76484375 3.9375 3.9375s-1.7648438 3.9375-3.9375 3.9375c-2.17265625 0-3.9375-1.76484375-3.9375-3.9375s1.76484375-3.9375 3.9375-3.9375z" fill="currentColor">
  </symbol>

  <symbol id="icon-bell" class="icon icon-bell" fill="none" viewBox="0 0 18 21">
    <path d="m17.6540625 14.5562946c-.77625-.8341071-2.2287054-2.0888839-2.2287054-6.19915174 0-3.121875-2.1889285-5.62098215-5.1404464-6.23410715v-.83732142c0-.70995536-.57535713-1.28571429-1.2849107-1.28571429s-1.28491071.57575893-1.28491071 1.28571429v.83732142c-2.95151786.613125-5.14044643 3.11223215-5.14044643 6.23410715 0 4.11026784-1.45245536 5.36504464-2.22870536 6.19915174-.24107143.2591518-.34794643.5689286-.34596528.8722768.00444742.6589286.52154564 1.2857143 1.28975992 1.2857143h15.42053576c.7682142 0 1.2857142-.6267857 1.2897599-1.2857143.0019811-.3033482-.1048939-.6135268-.3459653-.8722768zm-14.94080357.2294197c.85258928-1.1237947 1.78473214-2.9864732 1.78915178-6.40526787 0-.00803572-.00241071-.01526786-.00241071-.02330357 0-2.48544643 2.01455357-4.5 4.5-4.5 2.4854464 0 4.5 2.01455357 4.5 4.5 0 .00803571-.0024107.01526785-.0024107.02330357.0044196 3.41919647.9365625 5.28187497 1.7891518 6.40526787zm6.28674107 5.7857143c1.4191071 0 2.5702232-1.1511161 2.5702232-2.5714286h-5.14044641c0 1.4203125 1.15111607 2.5714286 2.57022321 2.5714286z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
      <ul class="menu-drawer__menu list_menu" role="list">
      <li class="site-nav__item">
  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal"></label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
</li>
          </ul>
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
      <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu_1.links -%}
                      {%- if link.title != "Cart" and link.title != "Forum" -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | upcase | escape }}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {{ link.title | upcase | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | upcase | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                        {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="menu header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- if childlink.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal"></label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="header__icon search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if section.settings.menu_1 != blank -%}	
          <ul class="list-menu list-menu--inline" role="list">	
            {%- for link in section.settings.menu_1.links -%}
              {%- if link.title == "Admin" -%}  
              {% if admin == true and logged_in == true %}
                <li>	
                {%- if link.links != blank -%}	
                  <header-menu>	
                    <details id="Details-HeaderMenu-{{ forloop.index }}">	
                      <summary class="header__icon header__menu-item list-menu__item link focus-inset">	
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>
                              <svg class="icon icon-admin" width="22" height="22" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-admin">
                              </svg>
                        </span>	
                      </summary>
                  <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">	
                        {%- for childlink in link.links -%}	
                          <li>	
                            {%- if childlink.links == blank -%}	
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>	
                                {{ childlink.title | escape }}	
                              </a>	
                            {%- else -%}	
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">	
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">	
                                  <span>{{ childlink.title | escape }}</span>	
                                </summary>	
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">	
                                  {%- for grandchildlink in childlink.links -%}	
                                    <li>	
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>	
                                        {{ grandchildlink.title | escape }}	
                                      </a>	
                                    </li>	
                                  {%- endfor -%}	
                                </ul>	
                              </details>	
                            {%- endif -%}	
                          </li>	
                        {%- endfor -%}	
                      </ul>
                    </details>	
                  </header-menu>
                  </li>
                  {% endif %}
              {% endif %}
              {%- elsif link.title == "User" and logged_in == true -%}
                <li>	
                {%- if link.links != blank -%}	
                  <header-menu>	
                    <details id="Details-HeaderMenu-{{ forloop.index }}">	
                      <summary class="header__icon header__menu-item list-menu__item link focus-inset">	
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>
                              <svg class="icon icon-user" width="18" height="18" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-user">
                              </svg>
                        </span>	
                      </summary>
                  <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">	
                        {%- for childlink in link.links -%}	
                          <li>	
                            {%- if childlink.links == blank -%}	
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>	
                                {{ childlink.title | escape }}	
                              </a>	
                            {%- else -%}	
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">	
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">	
                                  <span>{{ childlink.title | escape }}</span>	
                                </summary>	
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">	
                                  {%- for grandchildlink in childlink.links -%}	
                                    <li>	
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>	
                                        {{ grandchildlink.title | escape }}	
                                      </a>	
                                    </li>	
                                  {%- endfor -%}	
                                </ul>	
                              </details>	
                            {%- endif -%}	
                          </li>	
                        {%- endfor -%}	
                      </ul>
                    </details>	
                  </header-menu>
                  </li>
                  {%- endif -%}
              {%- elsif link.title == "Cart" -%}
                <li>
                  <header-menu>	
                      <summary class="header__icon header__menu-item list-menu__item link focus-inset header__icon--cart">	
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>
                                <svg class="icon icon-cart" width="20" height="18" aria-hidden="true" focusable="false" role="presentation">
                                  <use href="#icon-cart">
                                </svg>
                          </span>	
                      </summary>
                        </a>
                  </header-menu>
                  </li>
              {%- elsif link.title == "Forum" and logged_in == true -%}
              <li>
                <header-menu>	
                    <summary class="header__icon header__menu-item list-menu__item link focus-inset">	
                      <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>
                              <svg class="icon icon-bell" width="18" height="21" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-bell">
                              </svg>
                        </span>	
                    </summary>
                      </a>
                </header-menu>
                </li>
              {%- elsif link.title != "My Account" and link.title != "Log Out" and link.title != "User" and link.title != "Forum" and link.title != "Log In" -%}
                  {%- if logged_in != true and link.title == "Sign-In" -%}
                    <li>
                      <header-menu>	
                          <summary class="header__menu-item list-menu__item link focus-inset header__icon">	
                            <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>	
                      <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | upcase | escape }}</span>	
                    </a>	
                          </summary>
                      </header-menu>
                    </li>
                  {%- elsif link.title != "Sign-In" -%}
                    <li>
                      <header-menu>	
                          <summary class="header__menu-item list-menu__item link focus-inset header__icon">	
                            <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>	
                      <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | upcase | escape }}</span>	
                    </a>	
                          </summary>
                      </header-menu>
                    </li>
                  {%- endif -%}
                {%- endif -%}	
              </li>
            {%- endfor -%}	
          </ul>
    {%- endif -%}
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "default": "main-menu",
      "label": "Navbar icons"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
