<link rel="stylesheet" href="{{ 'section-header-inventables.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-header-inventables.css' | asset_url | stylesheet_tag }}</noscript>
<div class="page-width">
  <div class="inventables-header__container">
    <a href="{{ section.settings.inventables_page_url }}" class="inventables__header-link link link--text focus-inset">
      {%- if section.settings.logo != blank -%}
        {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
        {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
        class: 'inventables-header__container__header-logo',
        widths: '50, 100, 150, 200, 250, 300, 400, 500',
        height: logo_height,
        width: section.settings.logo_width,
        alt: logo_alt
        }}
      {%- else -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    <a href="{{ section.settings.inventables_page_url }}" class="inventables-header__back-link">
      <span class="inventables-header__back-link__text">Close and go back </span>
      {%- render 'icon-close' -%}
    </a>
  </div>
</div>
{% schema %}
{
  "name": "Inventables Header",
  "settings": [
    {
      "type": "url",
      "label": "Inventables page URL",
      "id": "inventables_page_url"
    },
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    }
  ]
}
{% endschema %}
