{% style %}

.hero__video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.hero__video-container {
    position: relative;
}

.video__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding-bottom: 8rem;
}

.video__overlay.center {
    justify-content: center;
}

.video__overlay.left {
    justify-content: flex-start;
    padding-left: 4rem;
}

.video__overlay.right {
    justify-content: flex-end;
    padding-right: 4rem;
}

.video__overlay--gradient {
    background: linear-gradient(to top, rgba(0,0,0, {{ section.settings.video_overlay_opacity | divided_by: 100.0 }}), rgba(255, 0, 0, 0));
}

.video__overlay--overlay {
    background: rgba(0, 0, 0, {{ section.settings.video_overlay_opacity | divided_by: 100.0 }});
}

.video__overlay h2 {
    color: #fff;
    margin: 0;
}

.video__overlay-content {}

{% endstyle %}

<section>
    {%- if section.settings.video_url != blank -%}
    <div class="hero__video-container">
        <video class="hero__video" autoplay loop playsinline muted preload="metadata">
            <source src="{{section.settings.video_url}}" type="video/mp4">
        </video>
        <div class="video__overlay video__overlay--overlay {{section.settings.desktop_content_alignment}}">
            <div class="video__overlay-content">

    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'heading' -%}
                <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                    {{block.settings.heading | escape}}
                </h2>
            {%- when 'copy' -%}
                {{block.settings.copy}}
            {%- when 'eyebrow' -%}
                <span>
                    {{block.settings.eyebrow}}
                </span>
            {%- when 'button' -%}
                <a href="{{block.settings.url}}" class="button">
                    {{block.settings.text}}
                </a>
        {%- endcase -%}
    {%- endfor -%}
</div>
</div>
{%- endif -%}



</section>


{% schema %}
{
    "name": "Hero",
    "tag": "section",
    "class": "section",
    "settings": [
    {
        "type": "select",
        "id": "desktop_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
      },
    {
        "type": "header",
        "content": "Video",
        "info": "Select video here"
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Paste URL from Shopify Files here"
      },
      {
        "type": "range",
        "id": "video_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Video overlay opacity",
        "default": 0
      }
    ],
    "blocks": [
    {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "text"
            },
            {
                "type": "select",
                "id": "heading_size",
                "options": [
                  {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                  },
                  {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                  },
                  {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                  }
                ],
                "default": "h1",
                "label": "t:sections.all.heading_size.label"
              }
        ]
    },
    {
        "type": "eyebrow",
        "name": "Eyebrow",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "eyebrow",
                "label": "text"
            }
        ]
    },
    {
        "type": "copy",
        "name": "Copy",
        "limit": 1,
        "settings": [
            {
                "type": "richtext",
                "id": "copy",
                "label": "text"
            }
        ]
    },
    {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "text"
            },
            {
                "type": "url",
                "id": "link",
                "label": "link"
            }
        ]
    }
    ],
    "presets": [
        {
            "name": "Hero",
            "blocks": [
            {
                "type": "heading"
            }
            ]
        }
    ]
}
{% endschema %}