{{ 'hero-animated.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign hero_text = false
  assign link_slide = false
  if section.settings.title != blank or section.settings.subheading != blank or section.settings.link_text != blank
    assign hero_text = true
  endif
  if section.settings.link_text == blank and section.settings.link != blank
    assign link_slide = true
  endif

  assign natural_height_ratio = '60%'
  assign natural_height_ratio_mobile = '100%'
-%}

{%- for block in section.blocks limit: 1 -%}
  {%- if block.settings.image != blank -%}
    {%- capture natural_height_ratio -%}{{ 100 | divided_by: block.settings.image.aspect_ratio }}%{% endcapture %}
    {%- assign natural_height_ratio_mobile = natural_height_ratio -%}
    {%- if page_image == blank -%}
      <meta property="og:image" content="http:{{ block.settings.image | img_url: '1200x630' }}">
      <meta property="og:image:secure_url" content="https:{{ block.settings.image | img_url: '1200x630' }}">
    {%- endif -%}
  {%- endif -%}
  {%- if block.settings.image_mobile != blank -%}
    {%- capture natural_height_ratio_mobile -%}{{ 100 | divided_by: block.settings.image_mobile.aspect_ratio }}%{% endcapture %}
  {%- endif -%}
{% endfor %}

{%- assign slide_speed = 1 -%}
{%- if section.settings.style == 'fading' -%}
  {%- assign slide_speed = 3 -%}
{%- endif -%}


{% if section.settings.style == "fading"%}
<div id="animation-wrapper" class="animated-image-wrapper">
	{%- for block in section.blocks -%}
		<animation-hero class="image-inside">
          	{%if block.settings.image != blank%}
			<img class="animate-image" src="{{block.settings.image | img_url: 'master'}}"  alt="{{ block.settings.image.alt | escape }}">
          	{%endif%}
		</animation-hero>
	{%- endfor -%}
</div>
{% else if section.settings.style == "gif" %}
<div id="animation-wrapper" class="animated-image-wrapper">
	{%- for block in section.blocks -%}
		<animation-hero class="image-inside" style="animation-duration: 0s;">
          	{%if block.settings.image != blank%}
			<img class="animate-image" src="{{block.settings.image | img_url: 'master'}}"  alt="{{ block.settings.image.alt | escape }}">
          	{%endif%}
		</animation-hero>
	{%- endfor -%}
</div>
{%endif%}

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var fadeComplete = function (e) { stage.appendChild(arr[0]); };
		var stage = document.getElementById("animation-wrapper");
		var arr = stage.getElementsByTagName("animation-hero");
		console.log(arr)
		for (var i = 0; i < arr.length; i++) {
		arr[i].addEventListener("animationend", fadeComplete, false);
		}
  	}, false);
</script>


{% schema %}
  {
    "name": "Animated image hero",
    "class": "index-section--hero",
    "max_blocks": 6,
    "settings": [
      {
        "type": "select",
        "id": "style",
        "label": "Animation style",
        "default": "fading",
        "options": [
          {
            "label": "GIF",
            "value": "gif"
          },
          {
            "label": "Fading",
            "value": "fading"
          }
        ]
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Make an\ninstant impression"
      },
      {
        "type": "range",
        "id": "title_size",
        "label": "Heading text size",
        "default": 80,
        "min": 30,
        "max": 100,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Text",
        "default": "With fading or GIF-style animated images"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "Optional button"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
			"info":"recommended Image size 1920x325"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Animated image hero",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
