{{ 'section-hero-banner-7923216.css' | asset_url | stylesheet_tag }}
<style>

:root{
    --font-base--banner__heading: {{ section.settings.heading_base_fontsize }};
}

</style>
<div class="custom-section custom-section--hb"
    style="background-color: {{section.settings.bg_color}};">
    
    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>

        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            <div class="custom-section--hb__content grid grid--1-col grid--2-col-desktop grid--1-col-tablet">

                <div class="grid__item">

                    <div class="custom-section--hb__text">
                    
                        <p class="custom-section--hb__kicker">{{ section.settings.kicker | escape }}</p>

                        <h2 class="custom-section--hb__heading"
                            style="{% if section.settings.heading_center %}text-align: center;{% endif %}">{{ section.settings.heading | escape }}</h2>

                        <p class="custom-section--hb__subheading">{{ section.settings.subheading | escape }}</p>

                        <div class="custom-section--hb__button" 
                        style="{% unless section.settings.btn_center %}text-align: left;{% else %}text-align: center;{% endunless %}">
                            {% render 'button-7923216',
                                btn_label: section.settings.btn_label,
                                btn_link: section.settings.btn_link,
                                btn_size: section.settings.btn_size,
                                hover_effect: section.settings.hover_effect,
                                shadow_effect: section.settings.shadow_effect,
                                auto_width: section.settings.auto_width
                            %}
                        </div>

                    </div>
                
                </div>

                <div class="grid__item">
                    <div class="custom-section--hb__image">
                        
                        {% if section.settings.image == blank %}
                            {% render 'no-image-7923216'%}
                        {% else %}
                            <img
                            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                            {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                            sizes="{% if section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
                            src="{{ section.settings.image | img_url: '1000x' }}"
                            loading="lazy"
                            alt="{{ section.settings.image.alt | escape }}"
                            width="{{ section.settings.image.width }}"
                            height="{{ section.settings.image.width }}"
                            >
                        {% endif %}
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Hero Banner",
        "tag": "section",
        "settings": [
            {
                "type": "header",
                "content": "Section Settings"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Heading! Slogan! Tagline!"
            },
            {
                "type": "checkbox",
                "id": "heading_center",
                "label": "Align center",
                "default": false
            },
            {
                "type": "range",
                "id": "heading_base_fontsize",
                "min": 0.5,
                "max": 1.5,
                "step": 0.1,
                "label": "Base Font Size",
                "default": 1
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading",
                "default": "In consequat, quam id sodales hendrerit, eros mi lacinia risus neque tristique augueproin tempus urna congue. elementum."
            },
            {
                "type": "text",
                "id": "kicker",
                "label": "Kicker",
                "default": "We have the best product."
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "btn_center",
                "label": "Align center",
                "default": false
            }
        ],
        "presets":[
            {
                "name": "🔰 Hero Banner",
                "category": "Custom Section"
            }  
        ]
    }
{% endschema %}