<section class="hero-component section-{{ section.id }}-padding">
  {% if section.settings.image != blank %}
    <a href="{{ section.settings.link_to }}" class="hero-component__image-container">
      {% assign fetch_priority = 'auto' %}
      {% assign loading = 'lazy' %}
      {% if section.index0 == 0 %}
        {% assign fetch_priority = 'high' %}
        {% assign loading = 'eager' %}
      {% endif %}

      <picture>
        <source
          media="(max-width: 768px)"
          srcset="{{ section.settings.mobile_image | image_url: width: 768, height: 1024 }} 768w"
          sizes="100vw"
        >
        {% comment %} shoudl be 1920x700 {% endcomment %}
        <source
          media="(min-width: 769px)"
          srcset="{{ section.settings.image | image_url: width: 1920 }} 1920w, {{ section.settings.image | image_url: width: 2560 }} 2560w, {{ section.settings.image | image_url: width: 3840 }} 3840w"
          sizes="100vw"
        >

        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            class: 'hero-component__image',
            sizes: '100vw',
            width: section.settings.image.width,
            height: section.settings.image.height,
            loading: loading,
            fetchpriority: fetch_priority
        }}
      </picture>
    </a>
  {% endif %}

  <div class="hero-component__content-container">
    <div class="hero-component__content">
      {% if section.settings.subtitle != blank %}
        <h3 style="font-size: 1.3rem; margin-top: 2rem; color: var(--gray-80); font-weight: 100;">
          {{ section.settings.subtitle }}
        </h3>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="hero-component__title">{{ section.settings.title }}</h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <p class="hero-component__description">{{ section.settings.description }}</p>
      {% endif %}

      {% if section.settings.button_text != blank %}
        <a
          style="padding: 2.5rem 4rem; background: #ebedf0; border-radius: 100px;"
          href="{{ section.settings.link_to }}"
          class="button button--tertiary"
        >
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

<style>
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  .hero-component {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .hero-component__image-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .hero-component__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .hero-component__content-container {
    width: 100%;
  }

  .hero-component__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }

  .hero-component__title {
    font-size: 5rem;
    margin: 0;
    margin-top: -0.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .hero-component__description {
    font-size: 1.8rem;
    margin: 1.4rem 0 2.8rem 0;
    line-height: 1.5;
    color: var(--gray-70);
  }

  .hero-component__button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .hero-component__button:hover {
    background-color: #333;
  }

  @media (max-width: 768px) {
    .hero-component__title {
      font-size: 3rem;
    }
  }
</style>

{% schema %}
{
  "name": "Hero Component",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title",
      "info": "Small text that appears above the Title",
      "default": "Prnx"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Prnx"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Prnx"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Prnx"
    },
    {
      "type": "url",
      "id": "link_to",
      "label": "Link To",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Hero Component",
      "settings": {
        "title": "PHOTON LIKE MOVEMENTS",
        "description": "Own the court with a limited edition that delivers precise control and premium build quality",
        "button_text": "BEND YOUR OPPONENT"
      }
    }
  ]
}
{% endschema %}
