{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Бэкграунд секции"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Marvel Power Group"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },

    {
      "type": "text",
      "id": "button_text",
      "label": "Текст кнопки",
      "default": "CONTACT US"
    },
    {
      "type": "image_picker",
      "id": "button_image",
      "label": "Изображение кнопки"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Ссылка для кнопки"
    },

    {
      "type": "text",
      "id": "notification",
      "label": "Notification"
    }
  ],

  "presets": [
    {
      "name": "Hero Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{{ 'hero.css' | asset_url | stylesheet_tag }}

<section id="hero" class="hero-section">
  <img class="hero-background" src="{{section.settings.background_image | image_url}}" alt="background">
  <div class="container">
    <h2 class="hero-title">{{ section.settings.title }}</h2>
    <div class="hero-subtitle">{{ section.settings.subtitle }}</div>
    {% render 'contact-us-button',
      link: section.settings.button_link,
      text: section.settings.button_text,
      image: section.settings.button_image
    %}
    <div class="vertical-line"></div>
    <p class="hero-notification">{{ section.settings.notification }}</p>
  </div>
</section>
