<section class="home-cta-banner color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <div class="home-cta-banner__inner">
      {% if section.settings.heading != blank %}
        <h2 class="home-cta-banner__heading">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <div class="home-cta-banner__description rte">{{ section.settings.description }}</div>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <a
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          class="button button--{{ section.settings.button_style }}"
        >
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home CTA banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Descarga la app GETCH"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descripción",
      "default": "<p>Ten la libertad de generar patentes desde cualquier dispositivo móvil sin límites.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Etiqueta del botón",
      "default": "Descargar app"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Estilo del botón",
      "options": [
        {"value": "primary", "label": "Primario"},
        {"value": "secondary", "label": "Secundario"}
      ],
      "default": "primary"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Enlace del botón"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Esquema de color",
      "default": "scheme-3"
    }
  ],
  "presets": [
    {
      "name": "Home CTA banner",
      "category": "GETCH"
    }
  ]
}
{% endschema %}
