<link rel="stylesheet" href="{{ 'component-icon.css' | asset_url }}"
media="print" onload="this.media='all'">

<noscript>{{ 'component-icon.css' | asset_url | stylesheet_tag }}</noscript>

<img src="{{ section.settings.image-icon | image_url }}" 
alt="{{ section.settings.label }}" 
width="100" height="100"
loading="lazy">

<h2>{{ section.settings.title }}</h2>


<img src="{{ section.settings.image-main | image_url }}"
class="image-main"
alt="{{ section.settings.label }}" 
width="980" height="438"
loading="lazy">

<a href="{{ section.setting.link }}">Shop Now</a>

{% schema %}
{
  "name": "icon",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image-icon",
      "label": "icon-image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image-main",
      "label": "main-image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Shop Now Link"
    }
  ],
  "presets": [
    {
      "name": "icon"
    }
  ]
}
{% endschema %}



