{{ 'section-image-gallery-7923216.css' | asset_url | stylesheet_tag }}

{% if section.settings.use_custom_color_scheme %}
    {%- capture section_custom_style -%}
    <style>
        .custom-section--imagegallery-{{ section.id }} {
            --color-foreground: {{ section.settings.fg_color.red }},{{ section.settings.fg_color.green }},{{ section.settings.fg_color.blue }};
            color: rgba({{ section.settings.fg_color.red }},{{ section.settings.fg_color.green }},{{ section.settings.fg_color.blue }},75%);
            
            --color-btn-bg: {{ section.settings.fg_color.red }},{{ section.settings.fg_color.green }},{{ section.settings.fg_color.blue }};
            --color-btn-lbl: {{ section.settings.bg_color.red }},{{ section.settings.bg_color.green }},{{ section.settings.bg_color.blue }};
            
            background-color: {{ section.settings.bg_color }};
        }
        .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
            background-color: {{ section.settings.bg_color }};
            background-blend-mode: {{section.settings.bg_blend_mode}};
        }
    </style>
    {%- endcapture -%}
{% else %} 
    {% case section.settings.color_scheme %}
    {% when 'background-1' %}
        {% capture section_custom_style %}
        <style>
            .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
                background-color: rgb({{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }});
                background-blend-mode: {{section.settings.bg_blend_mode}};
            }
        </style>
        {% endcapture %}
    {% when 'background-2' %}
        {% capture section_custom_style %}
        <style>
            .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
                background-color: rgb({{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }});
                background-blend-mode: {{section.settings.bg_blend_mode}};
            }
        </style>
        {% endcapture %}
    {% when 'accent-1' %}
        {% capture section_custom_style %}
        <style>
            .custom-section--imagegallery-{{ section.id }}.color-{{section.settings.color_scheme}} {
                --color-btn-bg: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
                --color-btn-lbl: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
            }
            .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
                background-color: rgb({{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }});
                background-blend-mode: {{section.settings.bg_blend_mode}};
            }
        </style>
        {% endcapture %}
    {% when 'accent-2' %}
        {% capture section_custom_style %}
        <style>
            .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
                background-color: rgb({{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }});
                background-blend-mode: {{section.settings.bg_blend_mode}};
            }
        </style>
        {% endcapture %}
    {% when 'inverse' %}
    {% capture section_custom_style %}
    <style>
        .custom-section--imagegallery-{{ section.id }}.color-{{section.settings.color_scheme}} {
            --color-btn-bg: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
            --color-btn-lbl: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        }
        .custom-section--imagegallery-{{ section.id }} .custom-section__bg-container{
            background-color: rgb({{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }});
            background-blend-mode: {{section.settings.bg_blend_mode}};
        }
    </style>
    {% endcapture %}
    {% endcase %}
{% endif %}

{{ section_custom_style | strip }}

<div class="custom-section custom-section--imagegallery {% unless section.settings.use_custom_color_scheme %}custom-section--imagegallery-{{ section.id }} color-{{ section.settings.color_scheme }} gradient{% else %}custom-section--imagegallery-{{ section.id }}{% endunless %}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="page-width">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <div class="custom-section--imagegallery--images">

                <div class="custom-section--imagegallery--images-wrapper">
                    
                    {% unless section.blocks.size <= 0 %}

                        <ul class="grid grid--1-col grid--4-col-desktop grid--3-col-tablet {% if section.blocks.size >= 4 %}grid--one-third-max grid--quarter-max{% endif %} ">

                            {% for block in section.blocks %}
                                <li class="grid__item">
                                    {% unless block.settings.image == blank %}
                                        <img
                                            srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                                            {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                                            {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                                            {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                                            {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                                            {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                                            {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                                            sizes= "(min-width: 750px) 50vw, 100vw"
                                            src="{{ block.settings.image | img_url: 'master' }}"
                                            alt="{% unless block.settings.image.alt == blank %}{{ block.settings.image.alt }}{% else %}{{ section.settings.title | append: ' - ' | append: shop.name }}{% endunless %}"
                                            title="{% unless block.settings.image.alt == blank %}{{ block.settings.image.alt }}{% else %}{{ section.settings.title | append: ' - ' | append: shop.name }}{% endunless %}"
                                            loading="lazy"
                                        >
                                    {% else %}
                                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endunless %}
                                </li>
                            {% endfor %}
                        
                        </ul>

                    {% endunless %}
                
                </div>

            </div>

            {% if section.settings.show_btn %}
            <div class="custom-section__button center">
                {% render 'button-7923216',
                    btn_label: section.settings.btn_label,
                    btn_link: section.settings.btn_link,
                    btn_size: section.settings.btn_size,
                    hover_effect: section.settings.hover_effect,
                    shadow_effect: section.settings.shadow_effect,
                    auto_width: section.settings.auto_width
                %}
            </div>
            {% endif %}

        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Image Gallery",
        "tag": "section",
        "settings": [
            {
                "type": "select",
                "id": "color_scheme",
                "options": [
                    {
                    "value": "accent-1",
                    "label": "Accent 1"
                    },
                    {
                    "value": "accent-2",
                    "label": "Accent 2"
                    },
                    {
                    "value": "background-1",
                    "label": "Background 1"
                    },
                    {
                    "value": "background-2",
                    "label": "Background 2"
                    },
                    {
                    "value": "inverse",
                    "label": "Inverse"
                    }
                ],
                "default": "background-1",
                "label": "Color Scheme"
            },
            {
                "type": "checkbox",
                "id": "use_custom_color_scheme",
                "label": "Use Custom Color Scheme",
                "default": false
            },
            {
                "type": "color",
                "id": "fg_color",
                "label": "Foreground Color",
                "default": "#121212"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color",
                "default": "#ffffff"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "select",
                "id": "bg_blend_mode",
                "label": "Blend Mode",
                "options": [
                    {
                    "value": "normal",
                    "label": "Normal"
                    },
                    {
                    "value": "multiply",
                    "label": "Multiply"
                    },
                    {
                    "value": "screen",
                    "label": "Screen"
                    },
                    {
                    "value": "overlay",
                    "label": "Overlay"
                    },
                    {
                    "value": "darken",
                    "label": "Darken"
                    },
                    {
                    "value": "lighten",
                    "label": "Lighten"
                    },
                    {
                    "value": "color-dodge",
                    "label": "Color Dodge"
                    },
                    {
                    "value": "saturation",
                    "label": "Saturation"
                    },
                    {
                    "value": "color",
                    "label": "Color"
                    },
                    {
                    "value": "luminosity",
                    "label": "Luminosity"
                    }
                ],
                "default": "normal"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Shop the look"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": true
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],        
        "presets":[
            {
                "name": "🔰 Image Gallery",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    }
                ]
            } 
        ]
    }
{% endschema %}