{{ 'section-image-with-text-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--imagewithtext" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">
            <div class="grid grid--1-col grid--2-col-desktop grid--2-col-tablet grid--gapless">
                <div class="grid__item">

                    {% if section.settings.image_first %}

                        {%- if section.settings.image != blank -%}
                            <img
                                srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                                src="{{ section.settings.image | img_url: '1500x' }}"
                                alt="{% if section.settings.image.alt == blank %}{{section.settings.title |append: ' - ' | append: shop.name }}{% else %}{{ section.settings.image.alt | escape }}{% endif %}"
                                title="{% if section.settings.image.alt == blank %}{{section.settings.title |append: ' - ' | append: shop.name }}{% else %}{{ section.settings.image.alt | escape }}{% endif %}"
                                loading="lazy"
                                width="{{ section.settings.image.width }}"
                                height="{{ section.settings.image.height }}"
                            >
                        {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}

                    {% else %}

                        {% if section.settings.title != blank or section.settings.description != blank%}
                        <div class="custom-section__header">
                            {% unless section.settings.title == blank %}
                            <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                            {% endunless %}
                            {% unless section.settings.description == blank %}
                            <div class="custom-section__header--subtitle">{{ section.settings.description }}</div>
                            {% endunless%}
                        </div>
                        {% endif %}
                        
                        {% if section.settings.show_btn %}
                        <div class="custom-section__button">
                            {% render 'button-7923216',
                                btn_label: section.settings.btn_label,
                                btn_link: section.settings.btn_link,
                                btn_size: section.settings.btn_size,
                                hover_effect: section.settings.hover_effect,
                                shadow_effect: section.settings.shadow_effect,
                                auto_width: section.settings.auto_width
                            %}
                        </div>
                        {% endif %}

                    {% endif %}  
                </div>
                <div class="grid__item">

                    {% unless section.settings.image_first %}

                        {%- if section.settings.image != blank -%}
                            <img
                                srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                                src="{{ section.settings.image | img_url: '1500x' }}"
                                alt="{% if section.settings.image.alt == blank %}{{section.settings.title |append: ' - ' | append: shop.name }}{% else %}{{ section.settings.image.alt | escape }}{% endif %}"
                                title="{% if section.settings.image.alt == blank %}{{section.settings.title |append: ' - ' | append: shop.name }}{% else %}{{ section.settings.image.alt | escape }}{% endif %}"
                                loading="lazy"
                                width="{{ section.settings.image.width }}"
                                height="{{ section.settings.image.height }}"
                            >
                        {%- else -%}
                            {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                        
                    {% else %}

                        {% if section.settings.title != blank or section.settings.description != blank%}
                        <div class="custom-section__header">
                            {% unless section.settings.title == blank %}
                            <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                            {% endunless %}
                            {% unless section.settings.description == blank %}
                            <div class="custom-section__header--subtitle">{{ section.settings.description }}</div>
                            {% endunless%}
                        </div>
                        {% endif %}
                        
                        {% if section.settings.show_btn %}
                        <div class="custom-section__button">
                            {% render 'button-7923216',
                                btn_label: section.settings.btn_label,
                                btn_link: section.settings.btn_link,
                                btn_size: section.settings.btn_size,
                                hover_effect: section.settings.hover_effect,
                                shadow_effect: section.settings.shadow_effect,
                                auto_width: section.settings.auto_width
                            %}
                        </div>
                        {% endif %}

                    {% endunless %}  
                </div>
            </div>
            
        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Image With Text",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Our Story"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "checkbox",
                "id": "image_first",
                "label": "Image First",
                "default": false
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": false
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "presets":[
            {
                "name": "🔰 Image With Text",
                "category": "Custom Section"
            } 
        ]
    }
{% endschema %}