{{ 'section-image-gallery-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--imagegallery" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <div class="custom-section--imagegallery--images">

                <div class="custom-section--imagegallery--images-wrapper">
                    
                    {% unless section.blocks.size <= 0 %}

                        <ul class="grid grid--1-col grid--4-col-desktop grid--3-col-tablet {% if section.blocks.size >= 4 %}grid--one-third-max grid--quarter-max{% endif %} ">

                            {% for block in section.blocks %}
                                <li class="grid__item">
                                    {% unless block.settings.image == blank %}
                                        <img
                                            srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                                            {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                                            {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                            {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                                            {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                                            {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                                            {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                                            {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                                            sizes= "(min-width: 750px) 50vw, 100vw"
                                            src="{{ block.settings.image | img_url: 'master' }}"
                                            alt="{% unless block.settings.image.alt == blank %}{{ block.settings.image.alt }}{% else %}{{ section.settings.title | append: ' - ' | append: shop.name }}{% endunless %}"
                                            title="{% unless block.settings.image.alt == blank %}{{ block.settings.image.alt }}{% else %}{{ section.settings.title | append: ' - ' | append: shop.name }}{% endunless %}"
                                            loading="lazy"
                                        >
                                    {% else %}
                                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endunless %}
                                </li>
                            {% endfor %}
                        
                        </ul>

                    {% endunless %}
                
                </div>

            </div>

            {% if section.settings.show_btn %}
            <div class="custom-section__button center">
                {% render 'button-7923216',
                    btn_label: section.settings.btn_label,
                    btn_link: section.settings.btn_link,
                    btn_size: section.settings.btn_size,
                    hover_effect: section.settings.hover_effect,
                    shadow_effect: section.settings.shadow_effect,
                    auto_width: section.settings.auto_width
                %}
            </div>
            {% endif %}

        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Image Gallery",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Shop the look"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": true
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],        
        "presets":[
            {
                "name": "🔰 Image Gallery",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    }
                ]
            } 
        ]
    }
{% endschema %}