<div
  class="px-base md:px-0 py-large w-full flex flex-col sm:flex-row items-center gap-base max-w-[720px] mx-auto"
>
  {% unless section.settings.title == blank and section.settings.content == blank %}
    <div class="w-full">
      {% if section.settings.title %}
        <h1 class="text-t-lg mb-small">
          {{ section.settings.title }}
        </h1>
      {% endif %}

      {% if section.settings.content %}
        <p class="text-body-sm pb-large">
          {{ section.settings.content }}
        </p>
      {% endif %}
    </div>
  {% endunless %}

  <div class="w-full">
    {% if section.settings.image != blank %}
      {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
      {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
      {{
        section.settings.image
        | image_url: width: 1500
        | image_tag:
          sizes: sizes,
          widths: widths,
          fetchpriority: 'lazy',
          class: 'w-full h-auto aspect-[352_/_342] object-top object-cover'
      }}
    {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-text-teaser.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.image-text-teaser.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.image-text-teaser.settings.content.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-text-teaser.settings.image.label"
    }
  ],

  "presets": [
    {
      "name": "t:sections.image-text-teaser.presets.name"
    }
  ]
}
{% endschema %}
