{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="img-with-header {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}
<style>
  .img-with-header-hero-bg {
    background-image: url('{{ section.settings.image | img_url: 'master' }}');
    background-position: left top;
  }
</style>

<div class="img-with-header-hero-container img-with-header-hero-bg">

  <div class="img-with-header-content-inner">
    <div class="img-with-header-wrapper">
      <div class="img-with-header-content">
        <span class="bullet">{{ section.settings.bullet3}}</span>
        <span class="bullet">{{ section.settings.bullet4}}</span>
        <span class="bullet">{{ section.settings.bullet5}}</span>
        <span class="bullet">{{ section.settings.bullet2}}</span>
        <span class="circle-bullet fadeInTop"><div class="circle"><img src="{{ section.settings.image_logo | img_url: 'master' }}" alt=""></div></span>
        {% if section.settings.bullet6 != blank %}
        <span class="bullet">{{ section.settings.bullet6}}</span>
        {% else %}
        <span class="blank-bullet"></span>
        {% endif %}
        <span class="bullet">{{ section.settings.bullet1}}</span>
      </div>

       <div class="img-with-header-content-alt">
        <div class="image-mobile-container"><img src="{{ section.settings.image_mobile | img_url: 'master' }}" alt=""></div>
        <ul>
          <li class="bullet-alt">{{ section.settings.bullet1}}</li>
          <li class="bullet-alt">{{ section.settings.bullet2}}</li>
          <li class="bullet-alt">{{ section.settings.bullet3}}</li>
          <li class="bullet-alt">{{ section.settings.bullet4}}</li>
          <li class="bullet-alt">{{ section.settings.bullet5}}</li>
          {% if section.settings.bullet6 != blank %}
        <li class="bullet-alt">{{ section.settings.bullet6}}</li>
        {% else %}
        <span class="blank-bullet"></span>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with Headers",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      },
      {
        "id": "image_mobile",
        "type": "image_picker",
        "label": "Mobile Logo"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading",
        "default": "Sub Title"
      },
      {
        "id": "bullet1",
        "type": "text",
        "label": "Bullet 1"
      }, {
        "id": "bullet2",
        "type": "text",
        "label": "Bullet 2"
      }, {
        "id": "bullet3",
        "type": "text",
        "label": "Bullet 3"
      }, {
        "id": "bullet4",
        "type": "text",
        "label": "Bullet 4"
      }, {
        "id": "bullet5",
        "type": "text",
        "label": "Bullet 5"
      }, {
        "id": "bullet6",
        "type": "text",
        "label": "Bullet 6"
      },{
        "id": "image_logo",
        "type": "image_picker",
        "label": "Icon Top"
      }
    ],
    "presets": [
      {
        "name": "Image with Headers",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .img-with-header-hero-container {
    position: relative;
    height: 90vh;
    display: table;
    width: 100%;
    background: center/cover no-repeat;
  }
  .img-with-header-content-inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 55px 0;
    z-index: 2;
    height: 100%;
  }
  .img-with-header-wrapper {
    width: 67%;
  }
  .img-with-header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    margin-left: 40px;
    height: 100%;
    grid-auto-rows: minmax(115px, auto);
  }
  .img-with-header-content span{
    color: white;
    background: var(--brand-refresh-gray-clear);
    box-shadow: 1px 1px 10px 1px gray;
    padding: 5px 15px;
    border-radius: 20px;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle img {
    width: 100%;
  }
  .circle-bullet {
    justify-self: center;
    background: none !important;
    box-shadow: none !important;
  }
  .bullet {
    align-self: end;
    justify-self: end;
  }
  .bullet:nth-child(2) {
    align-self: start;
    justify-self: center;
  }
  .bullet:nth-child(3) {
    justify-self: start;
  }
  .bullet:nth-child(4) {
    align-self: center;
    justify-self: start;
  }
  .bullet:nth-child(5) {
    align-self: start;
    justify-self: end;
  }
  .bullet:nth-child(6) {
    align-self: center;
    justify-self: end;
  }
  .bullet:nth-child(7) {
    align-self: start;
    justify-self: end;
  }
  .blank-bullet {
    background: none !important;
    box-shadow: none !important;
  }
  .img-with-header-content-alt {
    display: none;
  }
  .img-with-header-content-alt ul li {
    margin: 15px auto;
    padding: 10px 15px;
    text-align: center;
    color: var(--brand-refresh-white);
    background: var(--brand-refresh-gray-clear);
    border-radius: 20px;
  }
  .image-mobile-container {
    width: 80%;
    margin: 0 auto 30px;
  }

  /* Animation */

  .fadeInLeft {
   -webkit-animation: fadeInLeft 2s both; /* Safari 4+ */
  -moz-animation: fadeInLeft 2s both; /* Fx 5+ */
  -o-animation: fadeInLeft 2s both; /* Opera 12+ */
  animation: fadeInLeft 2s both; /* IE 10+, Fx 29+ */
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opactiy: 0;
      -webkit-transform: translateX(-100px);
    }
    100% {
      opactiy: 1;
      -webkit-transform: translateX(0px);
    }
  }
  @-moz-keyframes fadeInLeft {
    0% {
      opactiy: 0;
      -moz-transform: translateX(-100px);
    }
    100% {
      opactiy: 1;
      -moz-transform: translateX(0px);
    }
  }
  @-o-keyframes fadeInLeft {
    0% {
      opactiy: 0;
      -o-transform: translateX(-100px);
    }
    100% {
      opactiy: 1;
      -o-transform: translateX(0px);
    }
  }
  @keyframes fadeInLeft {
    0% {
      opactiy: 0;
      transform: translateX(-100px);
    }
    100% {
      opactiy: 1;
      transform: translateX(0px);
    }
  }
  .fadeInTop {
  -webkit-animation: fadeInTop 2s both; /* Safari 4+ */
  -moz-animation: fadeInTop 2s both; /* Fx 5+ */
  -o-animation: fadeInTop 2s both; /* Opera 12+ */
  animation: fadeInTop 2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInTop {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInTop {
  0% {
      opacity: 0;
      -moz-transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInTop {
  0% {
      opacity: 0;
      -o-transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      -o-transform: translateY(0);
  }
}

@keyframes fadeInTop{
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.fadeInRight {
  -webkit-animation: fadeInRight 2s both; /* Safari 4+ */
  -moz-animation: fadeInRight 2s both; /* Fx 5+ */
  -o-animation: fadeInRight 2s both; /* Opera 12+ */
  animation: fadeInRight 2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
      opacity: 0;
      -moz-transform: translateX(100px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
      opacity: 0;
      -o-transform: translateX(100px);
  }
  100% {
      opacity: 1;
      -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* MEDIA QUERIES */
@media (max-width: 950px){
   .img-with-header-content-inner {
    justify-content: center;
  }
  .img-with-header-content-alt {
    display: block;
  }
  .img-with-header-content {
    display: none;
  }
}
{% endstylesheet %}

{% javascript %}

const observer = new IntersectionObserver( entries => {
  entries.forEach(entry => {
    if(entry.isIntersecting){
      document.querySelectorAll('.bullet')[0].classList.add('fadeInLeft');
      document.querySelectorAll('.bullet')[1].classList.add('fadeInTop');
      document.querySelectorAll('.bullet')[2].classList.add('fadeInRight');
      document.querySelectorAll('.bullet')[3].classList.add('fadeInLeft');
      document.querySelectorAll('.bullet')[4].classList.add('fadeInRight');
      document.querySelectorAll('.bullet')[5].classList.add('fadeInLeft');
    }
  })
})

observer.observe(document.querySelector('.img-with-header-content'))

{% endjavascript %}