{% style %}
.industries-tools.section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.industries-tools {
  font-family: 'AlrightSans-Regular';
  overflow-x: clip;
}

.industries-tools__container {
  margin: 0 auto;
  min-height: 584px;
  position: relative;
  width: 100%;
  margin: 0 8.5%;
}

.industries-tools__title-wrapper {
  border-top: solid #FFB762 1px;
  border-bottom: solid #FFB762 1px;
  text-align: center;
  margin-bottom: 3rem;
}

.industries-tools__title-wrapper h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 11px 0px;
	font-family: "AlrightSans-Light";
}

.industries-tools__title-wrapper h1 b{
	font-family: "AlrightSans-Medium";
  font-weight: bold;
	color: #FFB762;
}

.industries-tools__subtext-container {
  overflow-wrap: break-word;
	max-width: 229px;
}

.industries-tools__media-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.industries-tools__image__wrapper--rel {
  display: flex;
  justify: center;
  align-items: center;
}

.industries-tools__cta-button {
  text-transform: uppercase;
}

.easel-highlight__cta-btn {
  margin-right: 10px;
}

.industries-tools__cta-btn.btn-primary {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  width: 190px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 6px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: var(--gradient-base-accent-2);
  color: #383838;
  font-family: 'AlrightSans-Bold';
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.industries-tools__cta-wrapper {
  display: flex;
  justify-content: center;
}

.industries-tool__items-container {
	display: flex;
	justify-content: space-between;
	margin: 6rem 3rem 4rem 3rem;
}

.industries-tool__items-wrapper {
	display: flex;
	justify-content: center;
}

.industries-tools__tool-item-wrapper {
	text-align: center;
}

.industries-tools__tool-item-wrapper p {
	font-size: 30px;
	color: white;
	max-width: 263px;
	margin: 1rem 0px;
	line-height: 36px;
}

.industries-tools__tool-image{
	border: solid #FFB762 2px;
	border-radius: 10px;
}

.industrie-tools__plus-icon {
	max-height: 207px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1100px) {
	.industries-tools__cta-wrapper {
		width: 100%
	}

	.industries-tool__items-container {
		flex-direction: column;
	}

	.industries-tools__tool-image {
		width: 506px;
		height: auto;
		border-radius: 30px;
		border-width: 3px;
	}
	.industries-tools__subtext-container {
		text-align: center;
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}

	.industrie-tools__plus-icon {
		width: 100%;
		justify-content: center;
		margin-bottom: 3rem;
	}
}

@media screen and (max-width: 593px) {
	.industries-tools__tool-image {
		width: 100%;
		height: auto;
	}

	.industries-tools__subtext-container p {
		font-size: 15px;
	}

}
{% endstyle %}
<div class="industries-tools section-{{ section.id }}">
  <div class="industries-tools__container">
    <div class="industries-tools__title-wrapper">
      <h1>{{ section.settings.title }}</h1>
    </div>
		<div class="industries-tool__items-container">
			{% for block in section.blocks %}
				<div class="industries-tools__tool-item-wrapper">
					{{ block.settings.tool_image | image_url: width: 229 | image_tag: class: 'industries-tools__tool-image' }}
					<div class="industries-tools__subtext-container">
						<p>{{ block.settings.tool_subtitle }}</p>
					</div>			
				</div>
				{% unless forloop.last %}
					<div class="industrie-tools__plus-icon">
						<svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.778711 24.7824V15.7074H16.0037V0.107422H26.0537V15.7074H41.2037V24.7824H26.0537V40.4574H16.0037V24.7824H0.778711Z" fill="white"/>
						</svg>
					</div>
				{% endunless %}
			{% endfor %}
		</div>
    <div class="industries-tools__cta-wrapper">
      {% if section.settings.cta_btn_text %}
        <a href="{{ section.settings.cta_btn_url }}" class="industries-tools__cta-btn btn-primary">
          {{ section.settings.cta_btn_text }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Industries Tools",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D1D1D"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "cta_btn_text",
      "label": "CTA Button Text"
    },
    {
      "type": "url",
      "id": "cta_btn_url",
      "label": "CTA Button URL"
    }
  ],
	"max_blocks": 30,
  "blocks": [
    {
      "type": "tool_item",
      "name": "Tool Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "tool_image",
          "label": "Tool Image"
				}, {
					"type": "text",
					"id": "tool_subtitle",
					"label": "Tool's Subtitle"
        }
      ]
    }
  ],
  "presets": [
    { "name": "Industries Tools"}
  ]
}
{% endschema %}
