{% style %}
  .industries-brands.section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
  }
  
  .industries-brands__container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 4%;
  }
  
  .industries-brands__title-wrapper {
    border-top: solid #FFB762 1px;
    border-bottom: solid #FFB762 1px;
    text-align: center;
  }
  
  .industries-brands__title-wrapper h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin: 12px 0px 8px 0px;
    font-family: "AlrightSans-Light";
  }
  
  .industries-brands__title-wrapper h1 b{
    font-family: "AlrightSans-Medium";
    font-weight: bold;
    color: #FFB762;
  }

  .industries-brands__items-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .industries-brands__items-container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 4rem;
  }
  
  .industries-brands__item-wrapper {
    max-width: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
  }
  
  .industries-brands__brands-media {
    width: 100%;
    height: auto;
  }

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 593px) {
}
{% endstyle %}
<div class="industries-brands section-{{ section.id }}">
  <div class="industries-brands__container">
    <div class="industries-brands__title-wrapper">
      <h1>{{ section.settings.title }}</h1>
    </div>

    <div class="industries-brands__items-container">
      {% for block in section.blocks %}
        <div class="industries-brands__item-wrapper">
          {{ block.settings.image | image_url: width: 537 | image_tag: class: 'industries-brands__brands-media' }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Brand Industry",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D1D1D"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "brand_item",
      "name": "Brands Industry",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Brand Image"
				}
      ]
    }
  ],
  "presets": [
    { "name": "Brand Industry"}
  ]
}
{% endschema %}
