{% style %}
.industries-workflow.section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.industries-workflow__container {
  margin: 0 auto;
  min-height: 584px;
  position: relative;
  width: 100%;
  padding: 0 8.5%;
  position: relative;
}

.industries-workflow__title-wrapper {
  border-top: solid #FFB762 1px;
  border-bottom: solid #FFB762 1px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: {{ section.settings.bg_color }};
}

.industries-workflow__subtitle-wrapper {
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-family: 'AlrightSans-Light';
}

.industries-workflow__title-wrapper h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 12px 0px 8px 0px;
  font-family: "AlrightSans-Light";
}

.industries-workflow__title-wrapper h1 b{
	font-family: "AlrightSans-Medium";
  font-weight: bold;
	color: #FFB762;
}

.industries-workflow__item-containter {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.industries-workflow__items-list-names {
  width: 50%;
  height: 537px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  padding-top: 100px;
}

.industries-workflow__item-name {
  text-transform: uppercase;
  font-size: 35px;
  list-style-type: none;
  font-family: 'AlrightSans-Light';
  letter-spacing: 6px;
  cursor: pointer;
  margin-bottom: 2rem;
  color: #969696;
}

.industries-workflow__item-name.industries-workflow__selected_item {
  color: white;
}

.industries-workflow__item-media-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.industries-workflow__item-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.industries-workflow__workflow-media {
  scroll-margin-top: 100px;
}

.industries-workslow__item-media-text {
  font-family: 'AlrightSans-Light';
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  max-width: 537px;
}

.industries-workflow__cta-btn.btn-primary {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  width: 190px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 6px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: var(--gradient-base-accent-2);
  color: #383838;
  font-family: 'AlrightSans-Bold';
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.industries-workflow__cta-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.industries-workflow__item-media-name-wrapper-mobile p {
  letter-spacing: 8px;
  color: #FFB762;
  margin: 3rem 0px 12px 0px;
  text-transform: uppercase;
}
.industries-workflow__item-container_mobile {
  display: none;
}

@media screen and (max-width: 1180px) {
  .industries-workflow__item-containter {
    display: none;
  }
  .industries-workflow__subtitle-wrapper {
    display: none;
  }
  .industries-workflow__item-media-wrapper {
    margin-bottom: 0px;
  }
  .industries-workflow__item-containter_mobile {
    display: flex;
  }
  .industries-workflow__item-media-name-wrapper-mobile p {
    font-size: 28px;
  }
  .industries-workslow__item-media-text {
    max-width: 537px;
    text-align: left;
    text-transform: capitalize;
    font-size: 20px;
  }
  .industries-workflow__title-wrapper {
    position: relative;
    z-index: 0;
  }
  .industries-workflow__title-wrapper h1 {
    font-size: 28px;
  }
  .industries-workflow__item-container_mobile {
    display: block;
  }
  
}

@media screen and (max-width: 560px) {
  .industries-workflow__item-media-name-wrapper-mobile p {
    font-size: 15px;
  }
  .industries-workslow__item-media-text {
    font-size: 16px;
  }
  .industries-workflow__workflow-media {
    width: 100%;
    height: auto;
  }
  .industries-workflow__title-wrapper h1 {
    font-size: 20px
  }

}
{% endstyle %}

<section class="industries-workflow section-{{ section.id }}">
  <div class="industries-workflow__container">
    <div class="industries-workflow__title-wrapper color-background-1">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="industries-workflow__subtitle-wrapper">
      <p>{{ section.settings.subtitle }}</p>
    </div>

    <div class="industries-workflow__item-containter">
      <ul class="industries-workflow__items-list-names">
        {% for block in section.blocks %}
          <li class="industries-workflow__item-name">{{ block.settings.workflow_name }}</li>
        {% endfor %}
      </ul>
      <div class="industries-workflow__item-media-container">
        {% for block in section.blocks %}
          <div class="industries-workflow__item-media-wrapper">
              {{ block.settings.workflow_image | image_url: width: 537 | image_tag: class: 'industries-workflow__workflow-media' }}
              <div class="industries-workslow__item-media-text">
                <p>{{ block.settings.workflow_image_text }}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="industries-workflow__item-container_mobile">
      {% for block in section.blocks %}
        <div class="industries-workflow__item-media-wrapper">
          <div class="industries-workflow__item-media-name-wrapper-mobile">
            <p>{{ block.settings.workflow_name }}</p>
          </div>
          {{ block.settings.workflow_image | image_url: width: 537 | image_tag: class: 'industries-workflow__workflow-media' }}
          <div class="industries-workslow__item-media-text">
            <p>{{ block.settings.workflow_image_text }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="industries-workflow__cta-wrapper">
      {% if section.settings.cta_btn_text %}
        <a href="{{ section.settings.cta_btn_url }}" class="industries-workflow__cta-btn btn-primary">
          {{ section.settings.cta_btn_text }}
        </a>
      {% endif %}
    </div>
  </div>
  <script>


    const scrollElements = document.querySelectorAll('.industries-workflow__workflow-media');
    const elementListItem = document.querySelectorAll('.industries-workflow__item-name');

    const observerOptions = {
      root: null, // Use the viewport as the root
      rootMargin: '0px', // No margin added to the root
      threshold: 0.65, // 50% of the element visible triggers the callback
    };

    const intersectionObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        const element = entry.target;
        const elementIdx = element.getAttribute("item-idx") || 0;
        if(elementListItem[elementIdx]) {
          if (entry.isIntersecting) {
            // Element is in viewport
            elementListItem[elementIdx].classList.add('industries-workflow__selected_item')
            } else {
              // Element is not in viewport
              elementListItem[elementIdx].classList.remove('industries-workflow__selected_item')
          }
        }
      });
    }, observerOptions);

    // Start observing each scroll element
    scrollElements.forEach((element, idx) => {
      element.setAttribute("item-idx", idx);
      intersectionObserver.observe(element);
    });

    elementListItem.forEach((nameElement, index) => {
      nameElement.addEventListener('click', () => {
        scrollElements[index].scrollIntoView({ behavior: 'smooth' });
      });
    });

  </script>
</section>

{% schema %}
{
  "name": "Industries Workflow",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D1D1D"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Section's Subtitle"
    },
    {
      "type": "text",
      "id": "cta_btn_text",
      "label": "CTA Button Text"
    },
    {
      "type": "url",
      "id": "cta_btn_url",
      "label": "CTA Button URL"
    }
  ],
  "max_blocks": 30,
  "blocks": [
    {
      "type": "workflow_item",
      "name": "Workflow Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "workflow_image",
          "label": "Workflow Image"
				}, 
        {
          "type": "text",
          "id": "workflow_image_text",
          "label": "Workflow Image Text"
				}, 
        {
					"type": "text",
					"id": "workflow_name",
					"label": "Workflow's Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Industries Workflow"
    }
  ]

}
{% endschema %}
