{% style %}
  .industries-choose.section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
  }
  
  .industries-choose__container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0 4%;
  }
  
  .industries-choose__title-wrapper {
    border-top: solid #FFB762 1px;
    border-bottom: solid #FFB762 1px;
    text-align: center;
  }
  
  .industries-choose__subtitle-wrapper {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    font-family: 'AlrightSans-Light';
  }
  
  .industries-choose__title-wrapper h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin: 12px 0px 8px 0px;
    font-family: "AlrightSans-Light";
  }
  
  .industries-choose__title-wrapper h1 b{
    font-family: "AlrightSans-Medium";
    font-weight: bold;
    color: #FFB762;
  }

  .industries-choose__items-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .industries-choose__items-container {
    display: flex;
    gap: 20px;
  }
  
  .industries-choose__item-wrapper {
    position: relative;
    flex: 1;
  }
  .industries-choose__cta-btn.btn-primary {
    border: none;
    box-shadow: 0px 4px 4px 0px rgb(0,0,0,0.25);
    width: 190px;
    height: 34px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 5px 6px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    transition: background .5s ease;
    background: var(--gradient-base-accent-2);
    background-color: rgb(254 162 69 / 75%);
    color: #000;

    text-decoration: none;
    text-align: center;
  }
  .industries-choose__cta-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .industries-choose__cta-btn {
    position: absolute;
    bottom: 30px;
  }
  .industries-choose__choose-media {
    width: 320px;
    height: auto;
  }

@media screen and (max-width: 1024px) {
  .industries-choose__choose-media {
    width: 100%;
    height: auto;
  }
  .industries-choose__items-container {
    flex-direction: column;
  }
  .industries-choose__item-wrapper {
    width: 100%;
    padding: 0px 3rem;
  }
}

@media screen and (max-width: 593px) {
  .industries-choose__subtitle-wrapper {
    display: none;
  }
  .industries-choose__title-wrapper {
    margin-bottom: 3rem;
  }
  .industries-choose__title-wrapper h1 {
    font-size: 24px;
  }
}
{% endstyle %}
<div class="industries-choose section-{{ section.id }}">
  <div class="industries-choose__container">
    <div class="industries-choose__title-wrapper">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="industries-choose__subtitle-wrapper">
      <p>{{ section.settings.subtitle }}</p>
    </div>

    <div class="industries-choose__items-box">
      <div class="industries-choose__items-container">
        {% for block in section.blocks %}
          <div class="industries-choose__item-wrapper">
            {{ block.settings.image | image_url: width: 537 | image_tag: class: 'industries-choose__choose-media' }}
            <div class="industries-choose__cta-wrapper">
              <a href="{{ block.settings.cta_btn_url }}" class="industries-choose__cta-btn btn-primary">
                {{ block.settings.cta_btn_text }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Choose Industry",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D1D1D"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Section's Subtitle"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "choose_item",
      "name": "Industry Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Industry Image"
				},
        {
					"type": "text",
					"id": "cta_btn_text",
					"label": "CTA Button Text"
        },
        {
          "type": "url",
          "id": "cta_btn_url",
          "label": "CTA Button URL"
        }
      ]
    }
  ],
  "presets": [
    { "name": "Choose Industry"}
  ]
}
{% endschema %}
