{% style %}
  
#shopify-section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  padding-bottom: 3rem;
}

.industries-hero {
  font-family: 'AlrightSans-Regular';
  overflow-x: clip;

  background-image: url('{{ section.settings.image | image_url }}');
  background-size: cover;
  background-position: center;
  
}

.industries-hero__container {
  margin: 0 auto;
  min-height: 584px;
  position: relative;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8.5%;
  {% if section.settings.show_linear_gradient %}
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgb(0, 0, 0, {{ section.settings.hero_gradient_width | times: 0.01  }}), rgba(0, 0, 0, 0));
  {% endif %}
}

.industries-hero__container h1 b{
  font-weight: bold;
  text-transform: uppercase;
  {% if section.settings.invert_text_color %}
    color: #000;
  {% endif %} 
}
.industries-hero__container h1 {
  {% if section.settings.invert_text_color %}
    color: #000;
  {% endif %} 
}

.industries-hero__container h1 strong{
  color: #FFB762;
}

.industries-hero__subtext-container {
  margin-top: none;
  inline-size: {{ section.settings.subtext_max_width | times: 10 }}px;
  overflow-wrap: break-word;
}

.industries-hero__subtext-container p {
  font-family: 'AlrightSans-Light';
  {% if section.settings.invert_text_color %}
    color: #000;
  {% endif %} 
}

.industries-hero__cta-button {
  text-transform: uppercase;
}

.easel-hero__cta-btn {
  margin-right: 10px;
}

.industries-hero__cta-btn.btn-primary {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  width: 190px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 20px;
  text-shadow: none;
  text-transform: uppercase;
  transition: background .5s ease;
  background: #FFB762;
  color: #383838;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: 'AlrightSans-Bold';
  padding: 12px 10px 8px 10px;
}

.industries-hero__container-mobile {
  display: none:
}

.industries-hero__media-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 593px) {
  .industries-hero {
    background-image: none;
  }
  .industries-hero__container-mobile {
    display: flex;
  }
  .industries-hero__media-mobile {
    display: block;
  }
  .industries-hero__container {
    padding-left: 0px;
    min-height: 0px;
    background: none;
  }
  .industries-hero__container h1 {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .industries-hero__subtext-container {
    max-width: 100%;
    padding: 0px 3rem;
  }
  .industries-hero__subtext-container p {
    font-size: 12px;
    text-align: center
  }
  .industries-hero__media {
    width: 100%;
    height: auto;
  }
  .industries-hero__cta-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .industries-hero__cta-btn.btn-primary {
    width: 127px;
    padding: 12px 10px;
  }
}
{% endstyle %}
<div class="industries-hero section-{{ section.id }}">
  <div class="industries-hero__container">
    <h1>{{ section.settings.title }}</h1>
    {% if section.settings.image_mobile %}
      {{ section.settings.image_mobile | image_url: width: '537' | image_tag: class: 'industries-hero__media-mobile' }}
    {% else %}
      {{ section.settings.image | image_url: width: '537' | image_tag: class: 'industries-hero__media' }}
    {% endif %}
    <div class="industries-hero__subtext-container">
      <p>{{ section.settings.subtext }}</p>
    </div>
    <div class="industries-hero__cta-wrapper">
      {% if section.settings.cta_btn_text %}
        <a href="{{ section.settings.cta_btn_url }}" class="industries-hero__cta-btn btn-primary">
          <b>{{ section.settings.cta_btn_text }}</b>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Industries Hero",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D1D1D"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub-text"
    },
    {
      "type": "checkbox",
      "id": "invert_text_color",
      "label": "Invert Text Color"
    },
    {
      "type": "range",
      "id": "subtext_max_width",
      "label": "Sub-text Box Max-Width",
      "min": 1,
      "max": 60,
      "unit": "px",
      "default": 46
    },
    {
      "type": "checkbox",
      "id": "show_linear_gradient",
      "label": "Apply Left Linear Gradient",
      "default": true
    },
    {
      "type": "range",
      "id": "hero_gradient_width",
      "label": "Hero Linear Gradient Width",
      "min": 0,
      "max": 100,
      "default": 20
    },
    {
      "type": "text",
      "id": "cta_btn_text",
      "label": "CTA Button Text"
    },
    {
      "type": "url",
      "id": "cta_btn_url",
      "label": "CTA Button URL"
    }
  ],
  "presets": [
    { "name": "Industries Hero"}
  ]
}
{% endschema %}
