<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="SectionGrid color-{{ section.settings.color_scheme | escape }} py-11">
  <div class="SectionGrid-Wide flex column jc-c ai-c nooutline">
    <h2 class="w-auto ff-heading fs-13px lh-125 fs-md-0 lh-100 fw-700 ta-l ls-p200 uppercase mt-0 mb-7 mx-auto">{{ section.settings.pretitle | escape }}</h2>
    <h2 class="w-17ch mxw-1200px mt-0 mb-7 fs-27px lh-107 fs-md-36px fs-lg-38px ta-c ls-m200 mx-auto fw-600">{{ section.settings.title | escape }}</h2>
    {% comment %} Desktop Slider {% endcomment %}
    <div class="w-100p h-95p h-lg-90p mxw-1200px desktop">
      <div class="w-100p h-100p">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign ingredients = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small" role="list">
              {% liquid 
                assign number_modulo = ingredients.size | modulo: 3
                if number_modulo == 0
                  assign number_remaining = 0
                else
                  assign number_remaining = 3 | minus: number_modulo
                endif
                assign number_of_slides = ingredients.size | plus: number_remaining | divided_by: 3
              %}
              {% for slideno in (1..number_of_slides) %}
                <li class="slider__slide w-100p px-6">
                  <div class="w-100p ngrid threecol onerow gap-8 px-8">
                    {% for ingredientno in (0..2) %}
                      {% assign index = slideno | times: 3 | minus: 3 | plus: ingredientno %}
                      {% assign ingredient = ingredients[index] %}
                      {% if index < ingredients.size %}
                        <div class="flex column ai-c jc-spa">
                          <img src="{{ ingredient.settings.image | img_url: '600x' }}" alt="{{ ingredient.settings.image.alt | escape }}" loading="lazy" width="100" height="100" class="w-100px h-100px bdr-50p mb-7 cover">
                          <h3 class="ff-heading fs-3 lh-100 fw-600 ta-c mt-0 mb-3">{{ ingredient.settings.name | escape }}</h3>
                          <div class="rt-zutaten">{{ ingredient.settings.text }}</div>
                        </div>
                      {% else %}
                        <div>&nbsp;</div>
                      {% endif %}
                    {% endfor%}
                  </div>
                </li>
              {% endfor %}
            </ul>
            {%- if number_of_slides > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden w-100p flex row jc-spb">
                <button type="button" class="slider-button slider-button--prev zutaten-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ ingredients.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next zutaten-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </sleepink-slider>
        </div>
      </div>
    </div>
    {% comment %} Tablet Slider {% endcomment %}
    <div class="w-100p h-95p h-lg-90p mxw-1200px tablet">
      <div class="w-100p h-100p">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign ingredients = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small px-6" role="list">
              {% liquid 
                assign number_modulo = ingredients.size | modulo: 2
                if number_modulo == 0
                  assign number_remaining = 0
                else
                  assign number_remaining = 2 | minus: number_modulo
                endif
                assign number_of_slides = ingredients.size | plus: number_remaining | divided_by: 2
              %}
              {% for slideno in (1..number_of_slides) %}
                <li class="slider__slide w-100p">
                  <div class="ngrid twocol onerow gap-8 px-10">
                    {% for ingredientno in (0..1) %}
                      {% assign index = slideno | times: 2 | minus: 2 | plus: ingredientno %}
                      {% assign ingredient = ingredients[index] %}
                      {% if index < ingredients.size %}
                        <div class="flex column ai-c jc-spa">
                          <img src="{{ ingredient.settings.image | img_url: '600x' }}" alt="{{ ingredient.settings.image.alt | escape }}" loading="lazy" width="100" height="100" class="w-100px h-100px bdr-50p mb-7 cover">
                          <h3 class="ff-heading fs-1 lh-116 fw-600 ta-c mt-0 mb-3">{{ ingredient.settings.name | escape }}</h3>
                          <div class="rt-zutaten">{{ ingredient.settings.text }}</div>
                        </div>
                      {% else %}
                        <div>&nbsp;</div>
                      {% endif %}
                    {% endfor%}
                  </div>
                </li>
              {% endfor %}
            </ul>
            {%- if number_of_slides > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden w-100p flex row jc-spb">
                <button type="button" class="slider-button slider-button--prev zutaten-button-tablet" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ ingredients.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next zutaten-button-tablet" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </sleepink-slider>
        </div>
      </div>
    </div>
    {% comment %} Mobile Slider {% endcomment %}
    <div class="w-100p h-95p h-lg-90p mxw-1200px mobile">
      <div class="w-100p h-100p">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign ingredients = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small" role="list">
              {% for ingredient in ingredients %}
                <li class="slider__slide w-100p">
                  <div class="ngrid onecol onerow gap-8 px-10">
                      <div class="flex column ai-c jc-spa">
                        <img src="{{ ingredient.settings.image | img_url: '600x' }}" alt="{{ ingredient.settings.image.alt | escape }}" loading="lazy" width="100" height="100" class="w-100px h-100px bdr-50p mb-7 cover">
                        <h3 class="ff-heading fs-0 lh-130 fw-600 ta-c mt-0 mb-3">{{ ingredient.settings.name | escape }}</h3>
                        <div class="rt-zutaten">{{ ingredient.settings.text }}</div>
                      </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
            {%- if number_of_slides > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden w-100p flex row jc-spb">
                <button type="button" class="slider-button slider-button--prev zutaten-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ ingredients.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next zutaten-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </sleepink-slider>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Zutatenslider",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "pretitle",
      "default": "innovative Zusammensetzung",
      "label": "Überschrift I (in Großschrift)"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Beste Inhaltsstoffe für Dich und Deinen Schlaf",
      "label": "Überschrift II"
    }
  ],
  "blocks": [
    {
      "name": "Zutat",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Bild der Zutat"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Name der Zutat"
        },
        {
          "id": "text",
          "label": "Beschreibung der Zutat",
          "type": "richtext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Zutatenslider",
      "settings": {
        "color_scheme": "background-1",
        "swipe_on_mobile": true,
        "pretitle": "innovative Zusammensetzung",
        "title": "Beste Inhaltsstoffe für Dich und Deinen Schlaf"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
