{{ 'ingredient-slider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="is-SectionGrid">
  <div class="is-SectionGrid-Narrow is-h-650px is-h-md-800px is-h-lg-400px is-flex is-column is-lg-row is-jc-c is-ai-c is-curs-def is-nooutline">
    <div class="is-w-100p is-h-95p is-h-lg-90p is-curs-def is-mxw-1200px">
      <div class="is-w-100p is-h-100p">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign ingredients = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small" role="list">
              {% for ingredient in ingredients %}
                <li class="slider__slide is-w-100p">
                  <div class="is-flex is-lg-grid is-column is-jc-c is-ai-c is-5col-2-3 is-1row">
                    <div class="is-w-320px is-w-md-420px is-ndesktopflex is-pl-10px is-pl-md-15px is-ff-heading is-fw-400 is-fs-4 is-lh-26px is-ls-p04 is-ls-md-p082">
                      {{ ingredient.settings.name }}
                    </div>
                    <div class="is-row-1 is-col-4-5 is-flex is-jc-fe is-ff-body is-fs-2 is-fw-300 is-lh-26px is-ls-p024 is-mnw-320px is-mnw-md-unset is-mnw-lg-367px is-mxw-320px is-mxw-md-420px is-mxw-lg-550px is-h-auto is-h-lg-100p is-px-10px is-px-md-15px is-pt-5px is-pt-md-10px is-pt-lg-unset is-pb-20px is-pb-md-50px is-pb-lg-unset">
                      {{ ingredient.settings.text }}
                    </div>
                    <div class="is-row-1 is-col-2 is-h-169px is-h-md-370px is-h-lg-360px is-w-90p is-w-lg-auto">
                      <img src="{{ ingredient.settings.image | img_url: '600x' }}" alt="{{ ingredient.settings.image.alt | escape }}" width="600" height="360" loading="lazy" class="is-w-100p is-h-169px is-h-md-360px">
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </sleepink-slider>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Zutatenslider",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Die Presse schwebt auf Wolke 7",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo der Quelle"
        },
        {
          "id": "text",
          "label": "Pressetext",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Zutatenslider",
      "settings": {
        "title": "Die Presse schwebt auf Wolke 7",
        "swipe_on_mobile": true
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
