{{ 'section-intelligent-search-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--intelligent-search" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            {% liquid
                assign hover_effect = section.settings.hover_effect
                assign shadow_effect = section.settings.shadow_effect
                assign auto_width = section.settings.auto_width
            %}

            {% case hover_effect %}
                {% when "lighten" %}
                    {%- assign btn_he_class = "custom-btn-he--lighten" -%}
                {% when "color-switch" %}
                    {%- assign btn_he_class = "custom-btn-he--color-switch" -%}
                {% when "slide" %}
                    {%- assign btn_he_class = "custom-btn-he--slide" -%}
                {% when "shine" %}
                    {%- assign btn_he_class = "custom-btn-he--shine" -%}
            {% endcase %}


            <div class="template-search__search">
                <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
                    <form action="{{ routes.search_url }}" method="get" role="search" class="search">
                    <div class="field">
                        <input
                        class="search__input field__input"
                        id="Search-In-Template"
                        type="search"
                        name="q"
                        value="{{ search.terms | escape }}"
                        placeholder="{{ section.settings.placeholder | escape }}"
                        {%- if settings.predictive_search_enabled -%}
                            role="combobox"
                            aria-expanded="false"
                            aria-owns="predictive-search-results-list"
                            aria-controls="predictive-search-results-list"
                            aria-haspopup="listbox"
                            aria-autocomplete="list" 
                            autocorrect="off"
                            autocomplete="off"
                            autocapitalize="off"
                            spellcheck="false"
                        {%- endif -%}
                        >
                        <label class="field__label" for="Search-In-Template">{{ section.settings.placeholder | escape }}</label>
                        <input name="options[prefix]" type="hidden" value="last">

                        {%- if settings.predictive_search_enabled -%}
                        <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                            <div class="predictive-search__loading-state">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                            </div>
                        </div>
            
                        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span> 
                        {%- endif -%}
                            
                        <button type="submit" class="search__button field__button custom-btn custom-btn--default {{btn_he_class}} {% if shadow_effect %}custom-btn-bs{% endif %}">
                            <svg class="icon icon-search">
                                <use xlink:href="#icon-search">
                            </svg>Search
                            {% if hover_effect == 'shine'%}
                            <span></span>
                            {% endif %}
                        </button>
                    </div>
                    </form>
                </predictive-search>

            </div>
    </div>
</div>

{% schema %}
    {
        "name": "🔰 Intelligent Search",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "What are you looking for?"
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "header",
                "content": "Search Input Settings"
            },
            {
                "type": "text",
                "id": "placeholder",
                "label": "Placeholder",
                "default": "Type the keyword here..."
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            }
        ],
        "presets":[
            {
                "name": "🔰 Intelligent Search",
                "category": "Custom Section"
            } 
        ]
    }
{% endschema %}