{{ 'section-introductory-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | divided_by: 10.0 }}rem;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | divided_by: 10.0 }}rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | divided_by: 10.0 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 10.0 }}rem;
    }
  }
{%- endstyle -%}

<div class="introductory-text__section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="introductory-text__video">
    <video autoplay muted loop playsinline>
      <source src="{{ 'Orange-Icon-Animations-Channel-B.webm' | asset_url }}" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="page-width">
    <div class="introductory-text">
      <div class="introductory-text__container">
        <h2 class="introductory-text__title">{{ section.settings.title }}</h2>
        <h4 class="introductory-text__subtitle">{{ section.settings.subtitle }}</h4>
        <p class="introductory-text__description">{{ section.settings.description }}</p>
      </div>
    </div>
  </div>

  <div class="introductory-text__video--alt">
    <video autoplay muted loop playsinline>
      <source src="{{ 'Orange-Icon-Animations-Channel-B.webm' | asset_url }}" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

{% schema %}
{
  "name": "Introductory Text",
  "tag": "section",
  "class": "shopify-section introductory-text",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "OBSESSED WITH MUSIC"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "SINCE 1966"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet consectetur. Nunc quis felis bibendum magna lorem semper non sed. Euismod nibh arcu turpis ut montes adipiscing. Tristique leo sem lacus elementum nulla. Vestibulum dictum turpis donec neque."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Introductory Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
