{% style %}

.inv-financing-small-text__container {
  max-width: 1200px;
  margin: 0 auto;
}

#section-{{ section.id }} .inv-financing-small-text__content-align {
  display: flex;
  {% case section.settings.content_alignment %}
  {% when 'left' %}
    justify-content: start;
  {% when 'center' %}
    justify-content: center;
  {% when 'right' %}
    justify-content: end;
  {% endcase %}
}

.inv-financing-small-text__content-wrapper {
  font-family: "AlrightSans-Light";
  font-size: 10px;
  max-width: {{ section.settings.max_width }}%;
}

@media screen and (max-width: 1200px) {
  #section-{{ section.id }} .inv-financing-small-text__content-align {
    justify-content: center;
  }
  .inv-financing-small-text__content-wrapper {
    max-width: 90%;
  }
  
}
{% endstyle %}
<div id="section-{{ section.id }}" class="inv-financing-small-text color-{{ section.settings.color_scheme }}">
  <div class="inv-financing-small-text__container">
    <div class="inv-financing-small-text__content-align">
      <div class="inv-financing-small-text__content-wrapper">
        {{ section.settings.content }}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Fin Small Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "content"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Max Width",
      "default": 70
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "label": "Content Alignment"
    }
  ],
  "presets": [
    { "name": "Fin Small Text"}
  ]
}
{% endschema %}
