{% style %}
  #section-{{ section.id }} {
    display: none;
  }
  .xcp-financing-options__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .xcp-financing-options__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #section-{{ section.id }} {
    padding: {{ section.settings.vertical_padding }}px {{ section.settings.horizontal_padding}}px;
  }

  #section-{{ section.id }} .xcp-financing-option__header-wrapper {
    height: {{ section.settings.header_height }}px;
  }

  .xcp-financing-option__lines-wrapper {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    padding: 0 20px;
  }

  .xcp-financing-option__line-title.hide-desk {
    display: none;
  }

  .xcp-financing-option__line-title {
    font-weight: bold;
    font-family: "AlrightSans-Light";
    font-size: 16px;
  }

  .xcp-financing-option__line-title p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .xcp-financing-option__line-body {
    text-align: center;
    font-family: "AlrightSans-Light";
    font-size: 14px;
  }

  .xcp-financing-option__line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .xcp-financing-option__img {
    width: auto;
    margin: 0 auto;
    height: 25px;
    display: block;
  }

  .xcp-financing-options__bottom-text {
    width: 75%;
    margin-left: auto;
    font-family: "AlrightSans-Light";
    font-size: 10px;
  }

  #section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.color }};
    border-radius: 10px;
    max-width: {{ section.settings.column_max_width }}%;
  }

  #section-{{ section.id }} .xcp-financing-option__header-wrapper {
    background-color: {{ section.settings.header_bg_color }};
    color: {{ section.settings.header_color }};
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    min-height: {{ section.settings.header_min_height }}px;
  }

  #section-{{ section.id }} .xcp-financing-option__line-separator {
    display: block;
    border: 1px solid {{ section.settings.line_sep_color }};
    border-radius: 2px;
    width: {{ section.settings.separator_width }}%;
    height: 1px;
    margin: 0 auto;
  }

  #section-{{ section.id }} .xcp-financing-option__btn-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'button' %}
      #block-{{ block.id }} .xcp-financing-option__btn-wrapper {
        padding-top: 20px;
      }

      #block-{{ block.id }} {
        min-height: {{ block.settings.min_height }}px;
      }

      #block-{{ block.id }} .xcp-financing-option__btn {
        font-size: 8.5px;
        background-color: {{ block.settings.bg_color }};
        color: {{ block.settings.color }};
        padding: {{ block.settings.vertical_padding }}px {{ block.settings.horizontal_padding }}px;
      }
    {% when 'line' %}
      #block-{{ block.id }} {
        min-height: {{ block.settings.min_height }}px;
      }

      #block-{{ block.id }} .xcp-financing-option__line-title {
        text-align: {{ block.settings.header_text_align }};
      }

      #block-{{ block.id }} .xcp-financing-option__line-body {
        text-align: {{ block.settings.body_text_align }};
      }
    {% when 'double-button' %}
      #block-{{ block.id }} {
        min-height: {{ block.settings.min_height }}px;
        padding: {{ block.settings.vertical_padding }}px {{ block.settings.horizontal_padding }}px;
      }
      #block-{{ block.id }} .xc-comparison-column__btn-wrapper {
        padding-top: 0;
      }
    {% endcase %}
  {% endfor %}

  #section-{{ section.id }} .xc-comparison-column__header-wrapper {
    min-height: {{ section.settings.header_min_height }}px;
  }

  .xc-comparison-column__header-wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .xc-comparison-column__title {
    font-size: 40px;
    line-height: 1.2;
    font-family: "AlrightSans-Light";
  }

  .xc-comparison-column__title p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
   
  .xc-comparison-column__img-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }

  .xc-comparison-column__img {
    object-fit: cover;
    width: 227px;
    height: 227px;
    margin: 0 auto;
    display: block;
    border: 2px solid lightgray;
    border-radius: 3px;
  }

  .xc-comparison-column__btn-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }

  .xc-comparison-column__btn-wrapper *:empty {
    display: block;
  }

  .xc-comparison-column__btn-wrapper .btn {
    text-decoration: none;
    color: black;
    background: lightgray;
    padding: 7px 20px;
  }

  .xc-comparison-column__btn-wrapper .btn-primary {
    color: black;
    font-weight: bold;
    background: var(--gradient-base-accent-2);
    border-radius: 5px;
  }

  .xc-comparison-column__btn-wrapper .btn-black {
    color: white;
    background: black;
    border-radius: 5px;
  }

  @media screen and (max-width: 1200px) {
    #section-{{ section.id }} .xc-comparison-column__header-wrapper {
      min-height: {{ section.settings.header_min_height_mobile }}px;
    }
    .xc-comparison-column__img {
      width: 100%;
      height: auto;
    }
    .xcp-financing-option__line-title.hide-desk {
      display: block;
      text-align: center;
      font-size: 14px;
    }

    .xcp-financing-option.hide-mobile {
      display: none;
    }

    .section-{{ section.id }} .xcp-financing-option {
      {% liquid
        assign blocks_count = section.blocks | size | minus: 1 
        assign block_width = 100 | divided_by: blocks_count
      %}
      width: calc({{ block_width }}% - 3%);
      min-width: 300px;
      max-width: unset;
      margin-right: 10px;
    }

    .xcp-financing-options__bottom-text {
      width: 90%;
      margin: 0 auto;
    }

    #section-{{ section.id }} {
      width: 46vw;
      min-width: unset;
      max-width: unset;
      margin-right: 10px;
    }

    .xc-comparison-column__btn-wrapper {
      flex-direction: column;
      text-align: center;
    }

    .xc-comparison-column__btn-wrapper .btn {
      margin-bottom: 10px;
    }

    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'button' %}
        #block-{{ block.id }} .xcp-financing-option__btn {
          padding: {{ block.settings.vertical_padding }}px 20px;
        }
      {% when 'line' %}
        #block-{{ block.id }} {
          min-height: {{ block.settings.mobile_min_height }}px;
        }

        #block-{{ block.id }} .xcp-financing-option__line-title {
          text-align: {{ block.settings.header_text_align_mob }};
        }

        #block-{{ block.id }} .xcp-financing-option__line-body {
          text-align: {{ block.settings.body_text_align_mob }};
        }
      {% endcase %}
    {% endfor %}
  }

  @media screen and (max-width: 935px) {
    .section-{{ section.id }} .xcp-financing-option {
      width: 46vw;
      min-width: unset;
      max-width: unset;
      margin-right: 10px;
    }

    .xcp-financing-options__mobile-scroll {
      min-height: 787px;
      overflow-x: scroll;
    }

    .xcp-financing-options__flex-wrapper {
      width: 138vw;
      justify-content: start;
    }

    .xcp-financing-option__line {
      justify-content: space-between;
    }

    .xcp-financing-option__btn {
      padding: 12px 10px !important;
    }
  }

  @media screen and (max-width: 400px) {
    .xcp-financing-highlight__image {
      width: 90%;
      margin: 0 auto;
    }
  }
{% endstyle %}
{% assign  line_title_class = "" %}
{% unless section.settings.show_line_title_desk %}
  {% assign  line_title_class = "hide-desk" %}
{% endunless %}

{% assign block_class= "" %}
{% assign show_on_mobile_datatag = "true" %}
{% if section.settings.hide_block_mobile %}
  {% assign block_class= "hide-mobile" %}
  {% assign show_on_mobile_datatag = "false" %}
{% endif %}
<div
    id="section-{{ section.id }}"
    class="xcp-financing-option inv-column {{ block_class }}"
    data-show-on-mobile="{{ show_on_mobile_datatag }}">
  {% case section.settings.header_style %}
  {% when 'financing' %}
    <div class="xcp-financing-option__header-wrapper">
      {% if section.settings.header_logo_img %}
          {{ section.settings.header_logo_img | image_url: width: 500 | image_tag: class: 'xcp-financing-option__img' }}
      {% else %}
        <div class="xcp-financing-option__header">
          {{ section.settings.header_text }}
        </div>
      {% endif %}
    </div>
  {% when 'comparison' %}
    <div class="xc-comparison-column__header-wrapper">
      {% if section.settings.header_logo_img %}
        {{ section.settings.header_logo_img | image_url: width: 500 | image_tag: class: "xc-comparison-column__img" }}
        <div class="xc-comparison-column__img-title">{{ section.settings.header_text }}</div>
      {% else %}
        <div class="xc-comparison-column__title">{{ section.settings.header_text }}</div>
      {% endif %}
      {% if section.settings.show_header_separator %}
        <div class="xcp-financing-option__line-separator"></div>
      {% endif %}
    </div>
  {% endcase %}
  <ul class="xcp-financing-option__lines-wrapper">
    {% for block in section.blocks %}
      <li id="block-{{ block.id }}" class="xcp-financing-option__line line-{{ forloop.index }} line-{{ block.id }}">
        {% case block.type %}
        {% when 'line' %}
            <div class="xcp-financing-option__line-title {{ line_title_class }}">
              {{ block.settings.title }}
            </div>
            <div class="xcp-financing-option__line-body">
              {% if block.settings.html_body != '' %}
                {{ block.settings.html_body }}
              {% else %}
                {{ block.settings.body }}
              {% endif %}
            </div>
        {% when 'button' %}
          <div id="block-{{ block.id }}" class="xcp-financing-option__btn-wrapper">
            <a class="xcp-financing-option__btn btn btn-primary" href={{ block.settings.url }}>
              {{ block.settings.label }}
            </a>
          </div>
        {% when 'double-button' %}
          <div class="xc-comparison-column__btn-wrapper">
            {% if block.settings.orange_btn_label != "" %}
              <a href="{{ block.settings.orange_btn_url }}" class="btn btn-primary">{{ block.settings.orange_btn_label }}</a>
            {% endif %}
            {% if block.settings.black_btn_label != "" %}
              <a href="{{ block.settings.black_btn_url }}" class="btn btn-black">{{ block.settings.black_btn_label }}</a>
            {% endif %}
          </div>
        {% endcase %}
      </li>
      {% if block.settings.display_separator %}
        <div class="xcp-financing-option__line-separator"></div>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% schema %}
{
  "name": "Inventable Column",
  "tag": "div",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "header_bg_color",
      "label": "Header Background Color"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header Color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#BFBFBF"
    },
    {
      "type": "color",
      "id": "line_sep_color",
      "label": "Line Separator Color",
      "default": "#C5C5C5"
    },
    {
      "type": "range",
      "id": "separator_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Separator Width",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "show_line_title_desk",
      "label": "Show Line Title on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_block_mobile",
      "label": "Hide Block Mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "header_style",
      "options": [
        {
          "value": "financing",
          "label": "Financing"
        },
        {
          "value": "comparison",
          "label": "Comparison"
        }
      ],
      "default": "financing",
      "label": "Header Style"
    },
    {
      "type": "image_picker",
      "id": "header_logo_img",
      "label": "Header Logo Image"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Header text"
    },
    {
      "type": "range",
      "id": "column_max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Column Max Width",
      "default": 21 
    },
    {
      "type": "range",
      "id": "header_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Header Min Height",
      "default": 50 
    },
    {
      "type": "range",
      "id": "header_min_height_mobile",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Header Min Height Mobile",
      "default": 50 
    },
    {
      "type": "checkbox",
      "id": "show_header_separator",
      "label": "Show Header Separator",
      "default": false
    },
    {
      "type": "range",
      "id": "vertical_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column Vertical Padding",
      "default": 0 
    },
    {
      "type": "range",
      "id": "horizontal_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column Horizontal Padding",
      "default": 0 
    }
  ],
  "blocks": [
    {
      "type": "line",
      "name": "Line",
      "settings": [
        {
          "type": "range",
          "id": "min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Min Height",
          "default": 25
        },
        {
          "type": "range",
          "id": "mobile_min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Mobile Min Height",
          "default": 25
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "Body"
        },
        {
          "type": "html",
          "id": "html_body",
          "label": "HTML Body"
        },
        {
          "type": "checkbox",
          "id": "display_separator",
          "label": "Display Separator",
          "default": true
        },
        {
          "type": "select",
          "id": "header_text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Header Text Alignment"
        },
        {
          "type": "select",
          "id": "header_text_align_mob",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Mobile Header Text Alignment"
        },
        {
          "type": "select",
          "id": "body_text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Body Text Alignment"
        },
        {
          "type": "select",
          "id": "body_text_align_mob",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Mobile Body Text Alignment"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "range",
          "id": "min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Min Height",
          "default": 25
        },
        {
          "type": "range",
          "id": "mobile_min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Mobile Min Height",
          "default": 25
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "checkbox",
          "id": "display_separator",
          "label": "Display Separator",
          "default": true
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "vertical_padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Vertical Padding",
          "default": 12
        },
        {
          "type": "range",
          "id": "horizontal_padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Vertical Padding",
          "default": 37
        }
      ]
    },
    {
      "type": "double-button",
      "name": "Double Button",
      "settings": [
        {
          "type": "range",
          "id": "min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Min Height",
          "default": 25
        },
        {
          "type": "range",
          "id": "mobile_min_height",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Mobile Min Height",
          "default": 25
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "vertical_padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Line Vertical Padding",
          "default": 12
        },
        {
          "type": "range",
          "id": "horizontal_padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Line Horizontal Padding",
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "display_separator",
          "label": "Display Separator",
          "default": true
        },
        {
          "type": "url",
          "id": "orange_btn_url",
          "label": "Orange Button URL"
        },
        {
          "type": "text",
          "id": "orange_btn_label",
          "label": "Orange Button Label",
          "default": "Buy now"
        },
        {
          "type": "url",
          "id": "black_btn_url",
          "label": "Black Button URL"
        },
        {
          "type": "text",
          "id": "black_btn_label",
          "label": "Black Button Label",
          "default": "Learn more"
        }
      ]
    }
  ],
  "presets": [
    { "name": "Inventable Column" }
  ]
}
{% endschema %}
