{{ 'k-3D-carousel-styles.css' | asset_url | stylesheet_tag }}

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}
{% assign para_background = "bg-" | append: section.settings.para_background %}
{% assign cta_bg = "bg-" | append: section.settings.cta_bg %}
{% assign cta_color = "brand-" | append: section.settings.cta_color %}


<section id="circ-carousel" class="circle-carousel {{background_color}}">

  <div class="circ-caro-all page-width">
    <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      {% if section.settings.heading != blank %}
        <h2 class="title inline-richtext {{heading_color}} {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <h3 class="subheading text-center {{subheading_color}} {{ section.settings.text_style }}">{{ section.settings.subheading }}</h3>
      {% endif %}
    </div>
    {% if img_placement == 'left' %}
    <div class="circ-caro-grid">
      
    <div class="carousel-container">
      <ul class="carousel">
        <li class="items main-pos" id="1">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/control4-vector-logo_bce6732f-fee7-4cf9-beaf-126761d4f545.png?v=1677262432" />
        </li>

        <li class="items right-pos" id="2">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/Mqtt-hor.png?v=1677262432"/>
        </li>

        <li class="items back-pos" id="3">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/Hubitat_INC_Official_Logo_Logo_1.png?v=1677262432"/>
        </li>

        <li class="items back-pos" id="4">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/Updated_SmartThings_Logo_beb2f584-de58-4de1-aecb-5052d941be84.png?v=1677262432"/>
        </li>

        <li class="items back-pos" id="5">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/78016493-9b89a800-7396-11ea-9442-414ad9ffcdf2.png?v=1677262432" />
        </li>

        <li class="items back-pos" id="6">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/home-assistant_1.png?v=1677262432"/>
        </li>

        <li class="items back-pos" id="7">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/66139238-e9268300-e5b4-11e9-9adf-8b4bad2ca80f.png?v=1677262432"/>
        </li>
        <li class="items left-pos" id="8">
          <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/apple-homekit-logo.png?v=1677262432"/>
        </li>
      </ul>

    </div>
  
  
        <div class="circ-caro-content">
          {% if section.settings.alt_heading != blank %}
            <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
          {% endif %}
          <div class="circ-caro-para {{para_background}}">
            {{ section.settings.text }}
          </div>
          {% if section.settings.cta_text != blank %}
            <div class="circ-btn">
                <a href="{{ section.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">
                  {{ section.settings.cta_text }}
                </a>
            </div>
          {% endif %}
        </div>

    </div>
        {% endif %}

        {% if img_placement == 'right' %}
    <div class="circ-caro-grid">

      <div class="circ-caro-content">
          {% if section.settings.alt_heading != blank %}
            <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
          {% endif %}
          <div class="circ-caro-para {{para_background}}">
            {{ section.settings.text }}
          </div>
          {% if section.settings.cta_text != blank %}
            <div class="circ-btn">
                <a href="{{ section.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">
                  {{ section.settings.cta_text }}
                </a>
            </div>
          {% endif %}
      </div>

      <div class="circle-carousel-container">
        <div class="circ-caro-carousel">
          {% for block in section.blocks %}
            <div class="circ-caro-img-container">
              <img class="circ-caro-img" src="{{ block.settings.image | img_url: 'medium'}}" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
        {% endif %}
  </div>
</section>


{% style %}

  .circ-caro-content .alt-heading {
    font-size: {{ section.settings.alt_heading_font_size }}px;
  }
  .circle-carousel {
    padding:  {{ section.settings.section_padding }}px 0px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "3D Carousel",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  150,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  50
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
            "type": "select",
            "id": "heading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
            "type": "select",
            "id": "subheading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      },
      {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      },
      {
            "type": "select",
            "id": "alt_heading_color",
            "label": "Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "range",
        "id": "alt_heading_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Alternate Heading Font size",
        "default":  28
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Paragraph"
      },
      {
        "type": "range",
        "id": "text_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Paragraph Font size",
        "default":  20
      },
      {
        "type": "select",
        "id": "para_background",
        "label": "Paragraph Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "para_padding",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Click Me"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "cta_bg",
        "label": "Button Background Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "gray-clear",
            "label": "Gray Clear"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "white-clear",
            "label": "White Clear"
          }
        ]
      }, {
        "type": "select",
        "id": "cta_color",
        "label": "Button Text Color",
        "default": "white",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Add Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "3D Carousel"
      }
    ]
  }
{% endschema %}

<script src="{{ 'k-3d-carousel.js' | asset_url }}" defer="defer"></script>