<link rel="stylesheet" href="{{ 'k-3D-carousel-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}
{% assign para_background = "bg-" | append: section.settings.para_background %}


<section class="circle-carousel page-width {{background_color}}">

  {% if section.settings.heading != blank %}
    <h2 class="text-center {{heading_color}}">{{ section.settings.heading }}</h2>
  {% endif %}
  {% if section.settings.subheading != blank %}
    <h3 class="text-center {{subheading_color}}">{{ section.settings.subheading }}</h3>
  {% endif %}

  <div class="circ-caro-grid">
    <div class="circle-carousel-container">
      <div class="circ-caro-carousel">
        {% for block in section.blocks %}
          <div class="circ-caro-img-container">
            <img class="circ-caro-img" src="{{ block.settings.image | img_url: 'medium'}}" alt="">
          </div>
        {% endfor %}
      </div>
    </div>
  
      <div class="circ-caro-content">
        {% if section.settings.alt_heading != blank %}
          <h3 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
        {% endif %}
        <div class="circ-caro-para">
          {{ section.settings.text }}
        </div>
      </div>
  </div>

  

  </section>

  {% comment %}
    {% if img_placement == 'right' %}

  <div class="circ-caro-content">
    {% if section.settings.alt_heading != blank %}
      <h3 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
    {% endif %}
    <div class="circ-caro-para">
      {{ section.settings.text }}
    </div>
  </div>

  <section class="circle-carousel-container">
    <div class="circ-caro-carousel">
      {% for block in section.blocks %}
        <div class="circ-caro-img-container">
          <img class="circ-caro-img" src="{{ block.settings.image | img_url: 'medium'}}" alt="">
        </div>
      {% endfor %}
    </div>
  </section>

  {% endif %}

  {% if img_placement == 'left' %}

  <section class="circle-carousel-container">
    <div class="circ-caro-carousel">
      {% for block in section.blocks %}
        <div class="circ-caro-img-container">
          <img class="circ-caro-img" src="{{ block.settings.image | img_url: 'medium'}}" alt="">
        </div>
      {% endfor %}
    </div>
  </section>

    <div class="circ-caro-content">
      {% if section.settings.alt_heading != blank %}
        <h3 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
      {% endif %}
      <div class="circ-caro-para">
        {{ section.settings.text }}
      </div>
    </div>
  {% endif %}
  </section>
  {% endcomment %}
  
</section>


{% style %}
  .circle-carousel .heading {
    font-size: {{ section.settings.heading_font_size }}px;
  }
  .circ-caro-content .alt-heading {
    font-size: {{ section.settings.alt_heading_font_size }}px;
  }
  .circ-carousel .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
  .circ-caro-para {
    font-size: {{ section.settings.text_font_size }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "3D Carousel",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
            "type": "select",
            "id": "heading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Heading Font size",
        "default":  32
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
            "type": "select",
            "id": "subheading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "range",
        "id": "subheading_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Sub Heading Font size",
        "default":  24
      },
      {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      },
      {
            "type": "select",
            "id": "alt_heading_color",
            "label": "Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "range",
        "id": "alt_heading_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Alternate Heading Font size",
        "default":  28
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Paragraph"
      },
      {
        "type": "range",
        "id": "text_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Paragraph Font size",
        "default":  20
      }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Add Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "3D Carousel"
      }
    ]
  }
{% endschema %}