<link rel="stylesheet" href="{{ 'k-announcement-bar-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% for block in section.blocks %}
  {% assign background_color = "bg-" | append: block.settings.background_color %}
  {% assign text_color = "brand-" | append: block.settings.text_color %}
  

  <div class="k-announce block-{{block.id}} {% if block.settings.image == blank %}{{background_color}}{% endif %}">
  <a href="{{ block.settings.announce_link }}" onclick="{{ block.settings.onclick }}">
      <div class="announce-text {{text_color}}">
        {{ block.settings.text }}
      </div>
    </a>
  </div>

  {% style  %}
    .k-announce.block-{{block.id}} {
      background-image: url('{{ block.settings.image | img_url: 'master' }}');
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .k-announce .announce-text {
      font-size: {{ block.settings.text_font_size }}px !important;
      font-weight: {{block.settings.text_font_weight}};
    }
    .k-announce a {
      color: var(--brand-refresh-{{ block.settings.text_color }});
    }
    .k-announce a div:hover {
      font-weight: calc({{block.settings.text_font_weight}} + 200);
    }
    
  {% endstyle %}
{% endfor %}



{% style %}
  .k-announce {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcement",
        "settings": [
          {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "white",
            "options": [
              {
                "value": "white",
                "label": "White"
              }, {
                "value": "light-blue",
                "label": "Blue"
              }, {
                "value": "lighter-blue",
                "label": "Light Blue"
              },
              {
                "value": "gradient-blue",
                "label": "Blue Gradient"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Announcement Text"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text Font Color",
            "default": "white",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          },
          {
            "type": "range",
            "id": "text_font_size",
            "min": 18,
            "max": 68,
            "step": 2,
            "unit": "px",
            "label": "Text Font size",
            "default": 32
          },
          {
            "type": "range",
            "id": "text_font_weight",
            "min":  100,
            "max":  700,
            "step":  100,
            "unit": "px" ,
            "label": "Text Font Weight",
            "default":  400
          },
          {
            "type": "url",
            "id": "announce_link",
            "label": "Announcement URL"
          },
          {
            "type": "text",
            "id": "onclick",
            "label": "Javascript onclick"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Konnected Announcement Bar"
      }
    ]
  }
{% endschema %}