<link rel="stylesheet" href="{{ 'k-article-carousel-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}

<div class="article-carousel {{background_color}}">

  <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
    {% if section.settings.heading != blank %}
      <h2 class="title inline-richtext {{ section.settings.heading_size }} ">
        {{ section.settings.heading }}
      </h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <div class="collection__description center rte  {{ section.settings.text_style }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.subheading }}
      </div>
    {%- endif -%}
  </div>

  <div class="page-width">
    <div class="article-caro-container">
      {% for block in section.blocks %}
        <div class="article-box">
          <a href="{{ block.settings.url }}" target="_blank">
            <div class="playIcon">
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="video cover"/>
            </div>
          </a>
          <a href="{{ block.settings.url }}" target="_blank">{{block.settings.heading}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% style %}
  .article-carousel {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }


{% endstyle %}

{% schema %}
  {
    "name": "Article Carousel",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      }, 
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  1,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      }, 
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      },
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "article",
        "name": "Article",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "article Image"
          }, {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Title"
          }, {
            "id": "url",
            "type": "text",
            "label": "Video URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Article Carousel",
        "category": "article"
      }
    ]
  }
{% endschema %}

<script>
      $(".article-caro-container").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5500,
        cssEase: 'ease',
        arrows: true,
        responsive: [
          {
            breakpoint: 950,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
</script>