<link rel="stylesheet" href="{{ 'k-article-carousel-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="article-carousel {{background_color}}">

  <div class="page-width">
    <div class="article-caro-container">
      {% for block in section.blocks %}
        <div class="article-box">
          <a href="{{ block.settings.url }}" target="_blank">
            <div class="playIcon">
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="video cover"/>
            </div>
          </a>
          <a href="{{ block.settings.url }}" target="_blank">{{block.settings.heading}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Video Carousel",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      }, {
        "id": "heading",
        "type": "text",
        "label": "Header",
        "default": "Title"
      }

    ],
    "blocks": [
      {
        "type": "article",
        "name": "Article",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "article Image"
          }, {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Title"
          }, {
            "id": "url",
            "type": "text",
            "label": "Video URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Article Carousel",
        "category": "article"
      }
    ]
  }
{% endschema %}

<script>
      $(".article-caro-container").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5500,
        cssEase: 'ease',
        responsive: [
          {
            breakpoint: 950,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
</script>