<link rel="stylesheet" href="{{ 'k-bg-image-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}

<section class="bg-img {{background_color}}">
  {% for block in section.blocks %}

    {% assign bg_img_height = "vh-" | append: block.settings.bg_img_height %}
    {% assign align = "text-" | append: block.settings.align %}
    {% assign align_items = "align-" | append: block.settings.align_items %}
    {% assign justify = "justify-" | append: block.settings.justify %}
    {% assign heading_color = "brand-" | append: block.settings.heading_color %}
    {% assign heading_font_weight = "font-weight-" | append: block.settings.heading_font_weight %}
    {% assign subheading_color = "brand-" | append: block.settings.subheading_color %}
    {% assign subheading_font_weight = "font-weight-" | append: block.settings.subheading_font_weight %}
    {% assign text_font_size = "font-size-" | append: block.settings.text_font_size %}
    {% assign text_font_weight = "font-weight-" | append: block.settings.text_font_weight %}
    {% assign text_font_color = "brand-" | append: block.settings.text_font_color %}
    {% assign cta_bg = "bg-" | append: block.settings.cta_bg %}
    {% assign cta_color = "brand-" | append: block.settings.cta_color %}


    {% if block.settings.image != blank%}
      <div class="bg-img-container block-{{ block.id }}">
        <style>
          .block-{{ block.id }}{
            background-image: url('{{ block.settings.image | img_url: 'master' }}');
            background-position: center;
            background-size: cover;
          }
          @media(max-width: 1400px) {
            .block-{{ block.id }}{
              background-size: inherit;
            }
          }
          @media(max-width: 1280px) {
            .block-{{ block.id }}{
              background-position: top left;
              background-size: inherit;
            }
          }
        </style>
        
        <div class="bg-img-content-container">
          <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
            {% if block.settings.heading != blank %}
              <h2 class="title inline-richtext {{ section.settings.heading_size }} ">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            {% if block.settings.subheading != blank %}
              <div class="collection__description center rte  {{ section.settings.text_style }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ block.settings.subheading }}
              </div>
            {%- endif -%}
          </div>

          <div class="bg-img-inner {{justify}} {{align_items}} {{bg_img_height}}">
            <div class="bg-img-content-wrapper {{align}}">
              <div class="bg-img-content">
                {% if block.settings.title != blank %}
                  <h2 class="bg-img-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
                {% endif %}

                {% if block.settings.logo != blank %}
                  {% if block.settings.hide_logo == false %}
                    <div class="bg-img-logo">
                      <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
                    </div>
                  {% elsif block.settings.hide_logo == true %}
                    <div class="bg-img-logo hidden">
                      <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
                    </div>
                  {% endif %}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="bg-img-text {{text_font_size}} {{text_font_weight}} {{text_font_color}}">{{ block.settings.text }}</div>
                {% endif %}

                {% if block.settings.cta_text != blank %}
                  <div class="bg-img-button">
                    <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
                  </div>
                {% elsif block.settings.quiz-button == true  %}
                  {% render 'quiz-modal'%}
                  {% else %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}

      <div class="bg-img-showcase">
        <div class="bg-img-video-container">
          {{ block.settings.video1 | video_tag: autoplay: true, muted: true, loop: true}}
        </div>

        <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
          {% if section.settings.heading != blank %}
            <h2 class="title inline-richtext {{ section.settings.heading_size }} ">
              {{ section.settings.heading }}
            </h2>
          {% endif %}
          {% if section.settings.subheading != blank %}
            <div class="collection__description center rte  {{ section.settings.text_style }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ section.settings.subheading }}
            </div>
          {%- endif -%}
        </div>

        <div class="bg-img-content-wrapper {{align}}">
          <div class="bg-img-content">
            {% if block.settings.title != blank %}
              <h2 class="bg-img-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
            {% elsif block.settings.logo != blank%}
              <div class="bg-img-logo">
                <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
              </div>
              {% else %}
            {% endif %}

            {% if block.settings.text != blank %}
              <div class="bg-img-text subtitle {{text_font_color}}">{{ block.settings.text }}</div>
            {% endif %}

            {% if block.settings.cta_text != blank %}
              <div class="bg-img-button">
                <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
              </div>
            {% elsif block.settings.quiz-button == true  %}
              {% render 'quiz-modal'%}
              {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% style %}
      .bg-img-container {
        padding:  {{ block.settings.block_padding }}px 0px;
      }
      .bg-img-video-container {
        padding:  {{ block.settings.block_padding }}px 0px;
      }
    {% endstyle %}

  {% endfor%}
</section>

{% style %}
  .bg-img {
    padding: {{section.settings.section_padding}}px 0px;
    margin-top: {{section.settings.section_margin_top}}px;
    margin-bottom: {{section.settings.section_margin_bottom}}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "BG-Img with Header",
    "settings": [
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      }, 
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  1,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      }
    ],
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Slide",
        "settings": [
          {
            "type": "text",
            "id": "class",
            "label": "Hero Class Name"
          },
          {
            "type": "select",
            "id": "bg_img_height",
            "label": "Background Height",
            "default": "eighty",
            "options": [
              {
                "value": "ten",
                "label": "10%"
              },
              {
                "value": "twenty",
                "label": "20%"
              },
              {
                "value": "thirty",
                "label": "30%"
              },
              {
                "value": "forty",
                "label": "40%"
              }, {
                "value": "fifty",
                "label": "50%"
              }, {
                "value": "sixty",
                "label": "60%"
              }, {
                "value": "seventy",
                "label": "70%"
              }, {
                "value": "eighty",
                "label": "80%"
              }, {
                "value": "ninety",
                "label": "90%"
              }, {
                "value": "hundred",
                "label": "100%"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Hero Image (leave blank for video)"
          },
          {
            "type": "video",
            "id": "video1",
            "label": "Hero Video"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "hide_logo",
            "label": "Hide Image Initially",
            "default": false
          },
          {
            "type": "range",
            "id": "block_padding",
            "min":  0,
            "max":  100,
            "step":  1,
            "unit": "px" ,
            "label": "Section Padding",
            "default":  10
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Title"
          },
          {
            "type": "select",
            "id": "heading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "heading_font_weight",
            "label": "Heading Font Weight",
            "default": "bold",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          },
          {
            "id": "subheading",
            "type": "text",
            "label": "Sub Heading",
            "default": "Sub Title"
          },
          {
            "type": "select",
            "id": "subheading_color",
            "label": "Heading Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "subheading_font_weight",
            "label": "Sub Heading Font Weight",
            "default": "bold",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          },
          {
            "type": "html",
            "id": "text",
            "label": "Text"
          }, {
            "type": "select",
            "id": "text_font_size",
            "label": "Text Font Size",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_weight",
            "label": "Text Font Weight",
            "default": "regular",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_color",
            "label": "Text Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "select",
            "id": "align",
            "label": "Align Text",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "align_items",
            "label": "Align Vertically",
            "default": "center",
            "options": [
              {
                "value": "start",
                "label": "Top"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "end",
                "label": "Bottom"
              }
            ]
          }, {
            "type": "select",
            "id": "justify",
            "label": "Align Horizontally",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "text",
            "id": "cta_text",
            "label": "Button Text"
          }, {
            "type": "text",
            "id": "cta_link",
            "label": "Button Link"
          }, {
            "type": "select",
            "id": "cta_bg",
            "label": "Button Background Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "light-blue",
                "label": "Light Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "gray-clear",
                "label": "Gray Clear"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "white-clear",
                "label": "White Clear"
              }
            ]
          }, {
            "type": "select",
            "id": "cta_color",
            "label": "Button Text Color",
            "default": "white",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "checkbox",
            "id": "quiz-button",
            "label": "Add Quiz Button",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "BG-Img with Header",
        "category": "Image"
      }
    ]
  }
{% endschema %}