<link rel="stylesheet" href="{{ 'k-bullets-surrounding-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}

{% case section.settings.bullet_color %}
  {% when 'blue' %}
    {% assign bullet_font_color = 'ha-blue' %}
    {% assign bullet_img_color = 'ha-blue-span' %}
  {% when 'green' %}
    {% assign bullet_font_color = 'hubitat-green' %}
    {% assign bullet_img_color = 'hubitat-green-span' %}
  {% when 'red' %}
    {% assign bullet_font_color = 'control-red' %}
    {% assign bullet_img_color = 'control-red-span' %}
{% endcase %}

<section class="bullet-surround {{background_color}}">
  <div class="headings-all page-width">
    {% if section.settings.heading != blank %}
      <h2 class="heading text-center {{heading_color}} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}} {{subheading_font_weight}}">{{ section.settings.subheading }}</h3>
    {% endif %}
  </div>

  <div class="inner-content">
    <div class="img-container">
      <img src="{{ section.settings.image | img_url: 'master'}}" alt="">
    </div>

    <div class="bullet-container">
      {% for block in section.blocks %}
        <div class="bullets bullet-{{forloop.index}}">
          <div class="bullet-front">
            <div class="bullet-img">
              <img src="{{ block.settings.bullet_img | img_url: 'master'}}" alt="">
            </div>
            <span class="bullet-span">{{ block.settings.bullet }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="bullet-container-mobile">
      <div class="img-container-mobile">
        <img src="{{ section.settings.image | img_url: 'master'}}" alt="">
      </div>
      <ul>
        {% for block in section.blocks %}
          <li>{{ block.settings.bullet }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% style %}
  .bullet-surround {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .bullet-surround .heading {
    font-size: {{ section.settings.heading_font_size }}px;
  }
  .bullet-surround .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
  .bullet-surround .img-container img {
    width: {{ section.settings.main_img_size }}vw;
  }
  @media(max-width: 1200px) {
  .bullet-surround .img-container img {
    width: calc({{ section.settings.main_img_size }}vw + 4vw);
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "Bullets Surrounding Image",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      }, 
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  1,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      }, 
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Heading Font size",
        "default": 32
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "range",
        "id": "subheading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Sub Heading Font size",
        "default": 24
      }, 
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Center Image"
      },
      {
        "type": "range",
        "id": "main_img_size",
        "min":  1,
        "max":  50,
        "step":  1,
        "unit": "vw" ,
        "label": "Main Image Size",
        "default":  20
      },
      {
        "type": "select",
        "id": "bullet_color",
        "label": "Bullet Color",
        "options": [
          {
            "value": "blue",
            "label": "HA-Blue"
          },
          {
            "value": "green",
            "label": "Hubitat Green"
          },
          {
            "value": "red",
            "label": "Control Red"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Bullet & Image",
        "settings": [
          {
            "type": "text",
            "id": "bullet",
            "label": "Bullet"
          }, {
            "type": "image_picker",
            "id": "bullet_img",
            "label": "Bullet Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bullets Surrounding Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}

<script>
  $(".bullet-front", "section.bullet-surround").on('mouseenter', (e) => {
    $(".bullet-img", $(e.currentTarget)).addClass("{{ bullet_font_color }}");
    $(".bullet-span", $(e.currentTarget)).addClass("{{ bullet_img_color }}");
  }).on('mouseleave', (e) => {
    $(".bullet-img", $(e.currentTarget)).removeClass("{{ bullet_font_color }}");
    $(".bullet-span", $(e.currentTarget)).removeClass("{{ bullet_img_color }}");
  })
</script>