<link rel="stylesheet" href="{{ 'k-comparison-styles.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="comparison">
  
  <div class="table-container">
    <table class="page-width">
      <thead>
        <tr>
          <th class="hide-border"><h2 class="text-left brand-dark-gray">{{section.settings.heading}}</h2></th>
          <th class="product prod-image"><img src="{{ section.settings.img_one | img_url: 'master'}}" alt=""></th>
          <th class="product prod-image"><img src="{{ section.settings.img_two | img_url: 'master'}}" alt=""></th>
          <th class="product prod-image"><img src="{{ section.settings.img_three | img_url: 'master'}}" alt=""></th>
          <th class="product prod-image"><img src="{{ section.settings.img_four | img_url: 'master'}}" alt=""></th>
        </tr>
  
        <tr>
          <th class="hide-border"></th>
          <th class="far-left product">{{ section.settings.prod_title1 }}</th>
          <th class="product">{{ section.settings.prod_title2 }}</th>
          <th class="product">{{ section.settings.prod_title3 }}</th>
          <th class="hide-border far-right product">{{ section.settings.prod_title4 }}</th>
        </tr>
  
        <tr>
          <th class="text-left">Starting at</th>
          <th class="price-info">
            <div class="price-now"><span>{{ section.settings.prod_price1 }}</span>
            </div>
          </th>
          <th class="price-info">
            <div class="price-now"><span>{{ section.settings.prod_price2 }}</span>
            </div>
          </th>
          <th class="price-info">
            <div class="price-now"><span>{{ section.settings.prod_price3 }}</span>
            </div>
          </th>
          <th class="price-info">
            <div class="price-now"><span>{{ section.settings.prod_price4 }}</span>
            </div>
          </th>
        </tr>
      </thead>
  
      <tbody>
  
      {% for block in section.blocks %}
        {% comment %} {{ product | json  }} {% endcomment %}
        <tr class="{{ block.id }}">
          <td></td>
          <td colspan="4">{{ block.settings.feature }}</td>
        </tr>
        <tr class="compare-row">
          <td>{{ block.settings.feature }}</td>
          <td><i class="{% if block.settings.stnd_conv_kit_check == true %}check{% endif %}">{% if block.settings.stnd_conv_kit_check != true %}</i><span>–</span>{%else%}<span>&#10003;</span>{% endif %}</td>
          <td><i class="{% if block.settings.stnd_int_kit_check == true %}check{% endif %}">{% if block.settings.stnd_int_kit_check != true %}</i><span>–</span>{%else%}<span>&#10003;</span>{% endif %}</td>
          <td><i class="{% if block.settings.pro_conv_kit_check == true %}check{% endif %}">{% if block.settings.pro_conv_kit_check != true %}</i><span>–</span>{%else%}<span>&#10003;</span>{% endif %}</td>
          <td><i class="{% if block.settings.pro_int_kit_check == true %}check{% endif %}">{% if block.settings.pro_int_kit_check != true %}</i><span>–</span>{%else%}<span>&#10003;</span>{% endif %}</td>
        </tr>      
      {% endfor %}
      <tr>
        <td></td>
        <td colspan="4">Availability</td>
      </tr>
      <tr>
        <td>Availability</td>
        <td>{% render 'buy-buttons' product: all_products['konnected-alarm-panel-wired-alarm-system-conversion-kit'] %}</td>
        <td>{% render 'buy-buttons' %}</td>
        <td>{% render 'buy-buttons' %}</td>
        <td>{% render 'buy-buttons' %}</td>
      </tr>
      </tbody>
    </table>
  </div>
  

</div>


{% schema %}
  {
    "name": "Comparison-Table",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Table Heading"
      },
      {
        "type": "text",
        "id": "prod_title1",
        "label": "Product Title"
      },
      {
        "type": "text",
        "id": "prod_price1",
        "label": "Product Price"
      },
      {
        "type": "image_picker",
        "id": "img_one",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "prod_title2",
        "label": "Product Title"
      },
      {
        "type": "text",
        "id": "prod_price2",
        "label": "Product Price"
      },
      {
        "type": "image_picker",
        "id": "img_two",
        "label": "Image Two"
      },
      {
        "type": "text",
        "id": "prod_title3",
        "label": "Product Title"
      },
      {
        "type": "text",
        "id": "prod_price3",
        "label": "Product Price"
      },
      {
        "type": "image_picker",
        "id": "img_three",
        "label": "Image Three"
      },
      {
        "type": "text",
        "id": "prod_title4",
        "label": "Product Title"
      },
      {
        "type": "text",
        "id": "prod_price4",
        "label": "Product Price"
      },
      {
        "type": "image_picker",
        "id": "img_four",
        "label": "Image Four"
      }
    ],
    "blocks": [{
      "type": "table",
      "name": "Add Feature",
      "settings": [
        {
        "type": "text",
        "id": "feature",
        "label": "Feature"
        },
        {
          "type": "checkbox",
          "id": "stnd_conv_kit_check",
          "label": "Starter Conversion checked",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "stnd_int_kit_check",
          "label": "Starter Interface checked",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "pro_conv_kit_check",
          "label": "Pro Conversion checked",
          "default": false
        }, {
          "type": "checkbox",
          "id": "pro_int_kit_check",
          "label": "Pro Interface checked",
          "default": false
        }
      ]
      }
    ],
    "presets": [
      {
        "name": "Comparison Chart New",
        "category": "table"
      }
    ]
  }
{% endschema %}