{%- style -%}
    .cta-logos-wrapper {
        max-width: 40rem;
        margin: 0 auto 2rem;
    }
    .cta-logos-wrapper .grid {
        --grid-desktop-vertical-spacing: 20px;
        --grid-desktop-horizontal-spacing: 20px;
        --grid-mobile-vertical-spacing: 20px;
        --grid-mobile-horizontal-spacing: 20px;
    }
    .cta-logos-wrapper img {
        display: block;
        max-width: 100%;
        width: 100%;
        min-height: 50px;
        max-height: 50px;
        object-fit: contain;
    }

    .cta-logos-wrapper .media img {
        object-fit: contain;
    }
    .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.75);
        padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    .cta-button {
        margin-top: 2rem;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    @media (max-width: 749px) {
        .cta-logos-wrapper {
            max-width: 21rem;
        }
    }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
        <div class="cta-logos-wrapper" id="k-cta-logo-section">
            <div class="grid align-center grid--{{ section.blocks.size }}-col-desktop grid--2-col-tablet-down">
                {% for block in section.blocks %}
                    <div class="grid__item">

                        {%- liquid
                            assign number_of_columns = section.blocks.size
                            assign number_of_columns_mobile = section.blocks.size
                            assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                            assign image_width = 1
                        -%}
                        {% capture sizes %}
                            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                            (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                            (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                            calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                        {% endcapture %}
                        {{
                            block.settings.image
                            | image_url: width: 3200
                            | image_tag:
                            loading: 'lazy',
                            widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                            sizes: sizes
                        }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="collection__title title-wrapper center title-wrapper--no-top-margin {% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.heading != blank -%}
            <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.heading }}</h2>
            {%- endif -%}
            {%- if section.settings.description != blank -%}
            <div class="page-width page-width--narrow px-0">
                <div class="{{ section.settings.text_style }} description center rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {{ section.settings.description -}}
                </div>
            </div>
            {%- endif -%}

            {% if section.settings.button_text != blank %}
                <div class="center cta-button">
                    <a href="{{ section.settings.button_url }}" class="link underlined-link accent-link">{{ section.settings.button_text }} <span class="icon-tiny icon-flip">{% render 'icon-link' %}</span></a>
                </div>
            {%- endif -%}
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "K CTA w/ Logos",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
          },
          {
            "value": "caption-with-letter-spacing",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
          }
        ],
        "default": "body",
        "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
        "type": "logo",
        "name": "Logo",
        "limit": 5,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "K CTA w/ Logos"
    }
  ]
}
{% endschema %}
