<link rel="stylesheet" href="{{ 'k-faq-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign question_color = "brand-" | append: section.settings.question_color %}
{% assign question_font_weight = "font-weight-" | append: section.settings.question_font_weight %}
{% assign answer_color = "brand-" | append: section.settings.answer_color %}
{% assign answer_font_weight = "font-weight-" | append: section.settings.answer_font_weight %}

<div class="faq {{background_color}}">
<div class="faq-content-container page-width">
  <h2 class="faq-title {{heading_color}} {{heading_font_weight}}">
    {{ section.settings.faq_title | escape }}
  </h2>
  
  {% if section.settings.faq_description %}
    <div class="rte faq-description">
      {{ section.settings.faq_description }}
    </div>
  {% endif %}

  <div class="faq-container">
    <div class="tabs">
    	{% for block in section.blocks %}
      		<div class="tab">
      			<input type="checkbox" id="faq_checkbox_{{ forloop.index }}" class="faq-checkbox">
        		<label for="faq_checkbox_{{ forloop.index }}" class="tab-label"><h3 class="{{question_color}} {{question_font_weight}}">{{ block.settings.question }}</h3></label>
        		<div class="tab-content {{answer_color}} {{answer_font_weight}}">{{ block.settings.answer }}</div>
      		</div>
      	{% endfor %}
    </div>
  </div>
</div>
  
</div>

{% schema %}
{
	"name": "FAQ",
	"tag": "section",
	"class": "spaced-section",
  "settings": [ 
		{
			"type": "select",
			"id": "background_color",
			"label": "Background Color",
			"default": "white",
			"options": [
				{
					"value": "white",
					"label": "White"
				}, {
					"value": "light-blue",
					"label": "Blue"
				}, {
					"value": "lighter-blue",
					"label": "Light Blue"
				}
			]
		},
		{
			"type": "text",
			"id": "faq_title",
			"default": "Frequently Asked Questions",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "faq_description",
			"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
			"label": "Description"
		},
		{
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
			{
        "type": "select",
        "id": "question_color",
        "label": "Question Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "question_font_weight",
        "label": "Question Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
			{
        "type": "select",
        "id": "answer_color",
        "label": "Answer Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "answer_font_weight",
        "label": "Answer Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
	],
	"blocks": [
		{
			"name": "FAQ Item",
			"type": "faq",
			"settings": [
				{
					"type": "text",
					"id": "question",
					"label": "Question",
					"default": "Do you have a question?"
				},
				{
					"type": "richtext",
					"id": "answer",
					"label": "Answer",
					"default": "<p>I have an answer</p>"
				}
			]
		}
	],
	"presets": [
		{ "name": "FAQ Block" }
	]
}
{% endschema %}