{{ 'k-hero-styles.css' | asset_url | stylesheet_tag }}

<!-- Block Markup -->
<section class="hero-new">
  {% for block in section.blocks %}

    {% assign align = "text-" | append: block.settings.align %}
    {% assign justify = "justify-" | append: block.settings.justify %}
    {% assign heading_font_size = "font-size-" | append: block.settings.heading_font_size %}
    {% assign text_font_size = "font-size-" | append: block.settings.text_font_size %}
    {% assign heading_font_weight = "font-weight-" | append: block.settings.heading_font_weight %}
    {% assign text_font_weight = "font-weight-" | append: block.settings.text_font_weight %}
    {% assign heading_font_color = "brand-" | append: block.settings.heading_font_color %}
    {% assign text_font_color = "brand-" | append: block.settings.text_font_color %}
    {% assign cta_bg = "bg-" | append: block.settings.cta_bg %}
    {% assign cta_color = "brand-" | append: block.settings.cta_color %}

    {% if block.settings.image != blank %}
      <div class="hero-new-container block-{{ block.id }}">

        <style>
          .block-{{ block.id }}{
            background-image: url('{{ block.settings.image | img_url: 'master' }}');
            background-position: top center;
          }
          @media(max-width: 1200px) {
            .block-{{ block.id }}{
              background-image: url('{{ block.settings.image | img_url: 'master' }}');
              background-position: top left;
            }
          }
        </style>

        <div class="hero-new-inner {{justify}}">
          <div class="hero-new-content-wrapper {{align}}">
            <div class="hero-new-content">
              {% if block.settings.title != blank %}
                <h2 class="hero-new-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
              {% else %}
                <div class="hero-2-logo">
                  <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
                </div>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="hero-new-text {{text_font_size}} {{text_font_weight}} {{text_font_color}}">{{ block.settings.text }}</div>
              {% endif %}
              {% if block.settings.sub_logo != blank %}
                <div class="hero-2-works-with">
                  <img src="{{ block.settings.sub_logo | img_url: 'master' }}" alt="">
                </div>
              {% endif %}

              {% if block.settings.cta_text != blank %}
                <div class="hero-new-button">
                  <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
                </div>
              {% elsif block.settings.quiz-button == true  %}
                {% render 'quiz-modal'%}
                {% else %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% else %}

      <div class="hero-showcase">
        <div class="hero-video-container">
          {{ block.settings.video1 | video_tag: autoplay: true, muted: true, loop: true}}
        </div>
        <div class="hero-new-content-wrapper {{align}}">
          <div class="hero-new-content">
            {% if block.settings.title != blank %}
              <h2 class="hero-new-header {{heading_font_size}} {{heading_font_weight}} {{heading_font_color}}">{{ block.settings.title }}</h2>
            {% else %}
              <div class="hero-2-logo">
                <img src="{{ block.settings.logo | img_url: 'master' }}" alt="">
              </div>
            {% endif %}

            {% if block.settings.text != blank %}
                <div class="hero-new-text {{text_font_size}} {{text_font_weight}} {{text_font_color}}">{{ block.settings.text }}</div>
              {% endif %}
              {% if block.settings.sub_logo != blank %}
                <div class="hero-2-works-with">
                  <img src="{{ block.settings.sub_logo | img_url: 'master' }}" alt="">
                </div>
              {% endif %}

            {% if block.settings.cta_text != blank %}
              <div class="hero-new-button">
                <a href="{{ block.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ block.settings.cta_text }}</a>
              </div>
            {% elsif block.settings.quiz-button == true  %}
              {% render 'quiz-modal'%}
              {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor%}
</section>


{% schema %}
  {
    "name": "Image with Text Overlay",
    "settings": [
      {
        "type": "checkbox",
        "id": "use_padding_top",
        "label": "Use top padding",
        "default": false
      }, {
        "type": "checkbox",
        "id": "use_padding_bottom",
        "label": "Use bottom padding",
        "default": false
      }, {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Slide",
        "settings": [
          {
            "type": "text",
            "id": "class",
            "label": "Hero Class Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Hero Image (leave blank for video)"
          },
          {
            "type": "video",
            "id": "video1",
            "label": "Hero Video"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Hero Logo"
          }, {
            "type": "image_picker",
            "id": "sub_logo",
            "label": "Sub Logo"
          }, {
            "type": "html",
            "id": "title",
            "label": "Heading",
            "default": "This is a default header"
          }, {
            "type": "select",
            "id": "heading_font_size",
            "label": "Heading Font Size",
            "default": "large",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ]
          }, {
            "type": "select",
            "id": "heading_font_weight",
            "label": "Heading Font Weight",
            "default": "bold",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }, {
            "type": "select",
            "id": "heading_font_color",
            "label": "Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "html",
            "id": "text",
            "label": "Text",
            "default": "Use this section to give more insight to the page!"
          }, {
            "type": "select",
            "id": "text_font_size",
            "label": "Text Font Size",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_weight",
            "label": "Text Font Weight",
            "default": "regular",
            "options": [
              {
                "value": "light",
                "label": "Light"
              }, {
                "value": "regular",
                "label": "Regular"
              }, {
                "value": "bold",
                "label": "Bold"
              }
            ]
          }, {
            "type": "select",
            "id": "text_font_color",
            "label": "Text Font Color",
            "default": "dark-gray",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "select",
            "id": "align",
            "label": "Align Text",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "select",
            "id": "justify",
            "label": "Align Content",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ]
          }, {
            "type": "text",
            "id": "cta_text",
            "label": "Button Text"
          }, {
            "type": "text",
            "id": "cta_link",
            "label": "Button Link"
          }, {
            "type": "select",
            "id": "cta_bg",
            "label": "Button Background Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "lighter-blue",
                "label": "Light Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "gray-clear",
                "label": "Gray Clear"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "white-clear",
                "label": "White Clear"
              }
            ]
          }, {
            "type": "select",
            "id": "cta_color",
            "label": "Button Text Color",
            "default": "white",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }, {
            "type": "checkbox",
            "id": "quiz-button",
            "label": "Add Quiz Button",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero 2",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% javascript %}
  $(".hero-new").slick({
    speed: 3000,
    autoplay: true,
    autoplaySpeed: 6000,
    cssEase: 'ease',
    slidesToShow: 1,
    slidesToScroll: 1,
    infinite: true,
    swipeToSlide: true,
    centerMode: false,
    dots: true,
    arrows: false
  });
{% endjavascript %}