<link rel="stylesheet" href="{{ 'k-home-overview-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}
{% assign para_color = "brand-" | append: section.settings.para_color %}
{% assign para_font_weight = "font-weight-" | append: section.settings.para_font_weight %}

<div class="home-overview page-width">
  <div class="headings-all page-width">
    {% if section.settings.heading != blank %}
    <h2 class="heading text-center {{heading_color}} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}} {{subheading_font_weight}}">{{ section.settings.subheading }}</h3>
    {% endif %}
  </div>
  <div class="home-overview-content">
    {% if section.settings.image != blank %}
    <div class="home-image-box">
      <div class="home-img-container">
        <img class="home-img-bg" src="{{ section.settings.image | img_url: 'master' }}" alt="">
        <span class="home-garage"></span>
        <span class="home-tablet"></span>
        <span class="home-front-window"></span>
        <span class="home-side-window"></span>
        <span class="home-motion"></span>
        <span class="home-slide-door"></span>
        <span class="home-sink"></span>
        <span class="home-logo"></span>
        <span class="home-bath"></span>
      </div>
      
      <div class="modal garage hide ">
        <h4>Motion Sensor</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/motion.png?v=1679581751" alt="">
      </div>

      <div class="modal tablet hide ">
        <h4>Tablet</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/tablet.png?v=1679581750" alt="">
        <p>Serves as a central interface for your smart home. Not required, but acts as a perfect replacement for an old alarm keypad.</p>
      </div>

      <div class="modal front-window hide ">
        <h4>Window Sensor</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/WiredWindowSensor_1.png?v=1679581751" alt="">
      </div>

      <div class="modal side-window hide ">
        <h4>Window Sensor</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/WiredWindowSensor_1.png?v=1679581751" alt="">
      </div>

      <div class="modal motion hide ">
        <h4>Motion Sensor</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/motion.png?v=1679581751" alt="">
      </div>

      <div class="modal slide-door hide ">
        <h4>Door Sensor</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/WiredWindowSensor_1.png?v=1679581751" alt="">
      </div>

      <div class="modal sink hide ">
        <h4>Leak Detector</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/water_leak.png?v=1679581751" alt="">
      </div>

      <div class="modal logo hide ">
        <h4>Konnected Alarm Panel</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/board.png?v=1679581751" alt="">
        <p>Installs in place of your traditional wired alarm panel and makes your wired sensors smart.</p>
      </div>

      <div class="modal bath hide ">
        <h4>Leak Detector</h4>
        <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/water_leak.png?v=1679581751" alt="">
      </div>

    </div>
    {% endif %}
  </div>

  <div class="para-container {{para_color}} {{para_font_weight}}">
    {{ section.settings.paragraph }}
  </div>
</div>

{% style %}
  .home-overview .heading {
    font-size: {{ section.settings.heading_font_size }}px;
  }
  .home-overview .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
  .home-overview {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .home-overview .para-container {
    font-size: {{ section.settings.para_font_size }}px;
  }
{% endstyle %}
{% schema  %}
  {
    "name": "Home Overview",
    "settings": [
        {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "range",
        "id": "heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Heading Font size",
        "default": 32
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      }, {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "range",
        "id": "subheading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Sub Heading Font size",
        "default": 24
      }, 
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>Enter Paragraph Text</p>"
      },
      {
        "type": "select",
        "id": "para_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "range",
        "id": "para_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Sub Heading Font size",
        "default": 24
      }, 
      {
        "type": "select",
        "id": "para_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Overview"
      }
    ]
  }
{% endschema %}

<script>

  $('.home-img-container span').mouseenter(function(e){
    let modalName = e.target.className.substring(5);
    $('.home-image-box .modal.' + modalName).removeClass('hide');
    gtag('event', 'homepage_detail_hover', { 'detail_card': modalName })
  }).mouseleave(function(e){
    let modalName = e.target.className.substring(5)
    $('.home-image-box .modal.' + modalName).addClass('hide');
  })
  
</script>