
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  #shopify-section-{{ section.id }} .description {
    margin-top: 5rem;
  }
  .home-image {
    position: relative;
  }
  .text-cursor {
    position: absolute;
    z-index: 2;
    display: block;
    top: var(--vertical-desktop);
    left: var(--horizontal-desktop);
    text-align: center;
  }
  .text-cursor p {
    line-height: 1em;
    margin: 0;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{ section.id }} .home-image {
      max-width: {{ section.settings.image_width }}%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 749px) {
    .text-cursor {
      top: var(--vertical-mobile);
      left: var(--horizontal-mobile);
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      <div class="collection__title title-wrapper center title-wrapper--no-top-margin {% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        {%- if section.settings.title != blank -%}
          <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.title }}</h2>
        {%- endif -%}
      </div>
      <div class="home-image">
        {% if section.settings.image_desktop != blank %}
          <div class="home__media media small-hide media--transparent media--adapt {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
          style="padding-bottom: {{ 1 | divided_by: section.settings.image_desktop.aspect_ratio | times: 100 }}%;">
              {%- liquid
                assign height = section.settings.image_desktop.width | divided_by: section.settings.image_desktop.aspect_ratio | round
                if section.settings.image_behavior == 'ambient'
                  assign sizes = '120vw'
                  assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                else
                  assign sizes = '100vw'
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                endif
              -%}
              {{
                section.settings.image_desktop
                | image_url: width: 3840
                | image_tag:
                  loading: 'lazy',
                  height: height,
                  sizes: sizes,
                  widths: widths
              }}
          </div>
        {% endif %}
        {% if section.settings.image_mobile != blank %}
          <div class="home__media media large-up-hide medium-hide media--transparent media--adapt {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
          style="padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;">
              {%- liquid
                assign height = section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio | round
                if section.settings.image_behavior == 'ambient'
                  assign sizes = '120vw'
                  assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                else
                  assign sizes = '100vw'
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                endif
              -%}
              {{
                section.settings.image_mobile
                | image_url: width: 3840
                | image_tag:
                  loading: 'lazy',
                  height: height,
                  sizes: sizes,
                  widths: widths
              }}
          </div>
        {% endif %}

        {% for block in section.blocks %}
          <span class="text-cursor subtitle"
          style="
          --vertical-desktop: {{ block.settings.vertical_position }}%;
          --horizontal-desktop: {{ block.settings.horizontal_position }}%;
          --vertical-mobile: {{ block.settings.vertical_position_mb }}%;
          --horizontal-mobile: {{ block.settings.horizontal_position_mb }}%;">
            <span>{{ block.settings.text }}</span>
          </span>
        {% endfor %}
      </div>
      {%- if section.settings.description != blank -%}
        <div class="{{ section.settings.description_style }} description center rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.description -}}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "K Home Overview",
    "tag": "section",
    "class": "home-overview section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          },
          {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image Desktop"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image Mobile"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 50,
        "max": 100,
        "step": 1,
        "default": 100,
        "unit": "%",
        "label": "Image width"
      },
      {
        "type": "select",
        "id": "image_behavior",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.animation.image_behavior.options__1.label"
          },
          {
            "value": "ambient",
            "label": "t:sections.all.animation.image_behavior.options__2.label"
          }
        ],
        "default": "none",
        "label": "t:sections.all.animation.image_behavior.label"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "Desktop Position"
          },
          {
            "type": "range",
            "id": "vertical_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Vertical Position",
            "default": 50
          },
          {
            "type": "range",
            "id": "horizontal_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Horizontal Position",
            "default": 50
          },
          {
            "type": "header",
            "content": "Mobile Position"
          },
          {
            "type": "range",
            "id": "vertical_position_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Vertical Position",
            "default": 50
          },
          {
            "type": "range",
            "id": "horizontal_position_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Horizontal Position",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "K Home Overview"
      }
    ]
  }
{% endschema %}