<style>
  .icons
  {
    width:100%;
   	background: #D9E3FF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .icons {
    margin-top: 50px
  }
  .icons .block-icon
  {
    margin:0 auto;
    margin-bottom:20px;
  }
  .icons .icon-text
  {
    margin-bottom:20px;
  }
  @media (max-width:786px)
    {
      .icons .grid__item
      {
        padding:0px 27px 0 27px;
      }
      .icons .page-width
      {
        padding:0px;
      }
      .icons-section
      {
        margin:0px !important;
      }
    }
</style>
<div class="icons">
 <div class="grid page-width">
   
<div class="grid__item medium-up">
   
  {%for block in section.blocks%}
  <div class="grid__item medium-up--one-eighth small--one-half text-center">
    
    <div class="block-icon" 
         style="background-image:url({{block.settings.image | img_url:'1920x'}});
                transform:{{block.settings.image_rotate}};width:{{block.settings.image_width}}px;height:{{block.settings.image_height}}px">
  </div>
    <div class="icon-text text-center">
      <p>{{block.settings.icon-title}}</p>
    </div>
  
  
  </div>{%endfor%}</div>
</div>
</div>

{% schema %}
  {
    "name": "Icons",
  	"class":"icons-section",
    "settings": [],
    "blocks": [
      {
        "type": "icon-block",
        "name": "icon-block",
        "settings": [
         
  		   {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
 {
            "type": "text",
            "id": "icon-title",
            "label": "Icon-title"
          },
		{
            "type": "text",
            "id": "image_width",
            "label": "Image Width"
          },
			{
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          },
		  {
            "type": "text",
            "id": "image_rotate",
            "label": "Image Rotate"
          },
		{
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
