{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="icons {{background_color}}">
 <div class="grid justify-center page-width">
   
<div class="icons-container grid">
   
  {%for block in section.blocks%}
  <div class="grid__item">
    
    <div class="block-icon" 
         style="background-image:url({{block.settings.image | img_url:'1920x'}});
                transform:{{block.settings.image_rotate}};width:{{block.settings.image_width}}px;height:{{block.settings.image_height}}px">
  </div>
    <div class="icon-text">
      <p>{{block.settings.icon-title}}</p>
    </div>
  
  
  </div>{%endfor%}</div>
</div>
</div>

{% schema %}
  {
    "name": "Icons",
  	"class":"icons-section",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "icon-block",
        "name": "icon-block",
        "settings": [
         
  		   {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
 {
            "type": "text",
            "id": "icon-title",
            "label": "Icon-title"
          },
		{
            "type": "text",
            "id": "image_width",
            "label": "Image Width"
          },
			{
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          },
		  {
            "type": "text",
            "id": "image_rotate",
            "label": "Image Rotate"
          },
		{
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }]
  }
{% endschema %}

<script>
  $(".icons-container").slick({
    dots: false,
    infinite: true,
    speed: 1000,
    slidesToShow: 6,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    arrows: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 5,
          infinite: true,
          dots: true,
          arrows: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: true,
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          dots: true,
        }
      }
    ]
  });
</script>

{% stylesheet %}
  .icons
  {
    width:100%;
   	background: #D9E3FF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 50px 0;
  }
  .icons-container {
    width: 100%;
    margin-top: 20px
  }
  .icons .block-icon
  {
    margin:20px auto;
  }
  .icons .icon-text
  {
    margin-bottom:20px;
  }
  .icons .block-icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 100%;
    max-width: 74px;
    max-height: 74px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }
    .icons .grid__item {
      width: calc(8% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
      max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    }
    .icons .icon-text p {
    text-transform: uppercase;
    max-width: 105px;
    margin: 0 auto;
}
  @media (max-width:786px)
    {
      .icons .grid__item
      {
        padding:0px 27px 0 27px;
      }
      .icons .page-width
      {
        padding:0px;
      }
      .icons-section
      {
        margin:0px !important;
      }
    }
{% endstylesheet %}
