<link rel="stylesheet" href="{{ 'k-icon-with-bullets-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.icon_placement %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}

<div class="icon-w-bul {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}
  <div class="icon-w-bul-container page-width">
    {% if img_placement == "left" %}
    <div class="icon-main-grid">
      {% for block in section.blocks %}
        <div class="icon-w-bul-icon">
          <div class="block-icon">
            <img src="{{block.settings.image | img_url:'1920x'}}" alt="">
          </div>
          <div class="icon-text text-center">
            <p>{{ block.settings.icon-title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="icon-w-bul-content-container">
      <div class="icon-w-bul-text">
        <h3 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>

        <p class="">
          {{ section.settings.text_description }}
        </p>
        <ul class="icon-w-bul-list">
          {% assign paragraphs = section.settings.text_list | newline_to_br | split: '<br />' %}
          {% for text in paragraphs %}
            <li class="flex">
              <div class="checkmark">
                <span class="brand-blue">
                  &#10003;
                </span>
              </div>
              <div class="checkmark-text">{{ text }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% comment %} WARNING {% endcomment %}
      <div class="safety-warning">
        <div class="warning-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>alert-outline</title><path d="M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16" /></svg>
        </div>
        <div class="warning-description">
          <p>{{ section.settings.text_warning }}</p>
        </div>
      </div>
      {% comment %}
      END OF WARNING
      {% endcomment %}
    </div>
    {% endif %}

    {% if img_placement == "right" %}
    <div class="icon-w-bul-content-container">
      <div class="icon-w-bul-text">
        <h3 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>

        <p class="">
          {{ section.settings.text_description }}
        </p>
        <ul class="icon-w-bul-list">
          {% assign paragraphs = section.settings.text_list | newline_to_br | split: '<br />' %}
          {% for text in paragraphs %}
            <li class="flex">
              <div class="checkmark">
                <span class="brand-blue">
                  &#10003;
                </span>
              </div>
              <div class="checkmark-text">{{ text }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% comment %} WARNING {% endcomment %}
      <div class="safety-warning">
        <div class="warning-icon">
          <i class="fa fa-regular fa-exclamation-triangle"></i>
        </div>
        <div class="warning-description">
          <p>{{ section.settings.text_warning }}</p>
        </div>
      </div>
      {% comment %}
      END OF WARNING
      {% endcomment %}
    </div>

    <div class="icon-main-grid">
      {% for block in section.blocks %}
        <div class="icon-w-bul-icon">
          <div class="block-icon">
            <img src="{{block.settings.image | img_url:'1920x'}}" alt="">
          </div>
          <div class="icon-text text-center">
            <p>{{ block.settings.icon-title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    
  </div>
</div>

{% schema %}
  {
    "name": "Icons With Bullets",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "select",
        "id": "icon_placement",
        "label": "Icons Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image Left"
      },{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      }, 
      {
        "type": "select",
        "id": "alt_heading_color",
        "label": "Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "text_description",
        "type": "textarea",
        "label": "Description"
      }, {
        "id": "text_list",
        "type": "textarea",
        "label": "List"
      }, {
        "id": "text_warning",
        "type": "textarea",
        "label": "Warning Box Text"
      }, {
        "id": "image1",
        "type": "image_picker",
        "label": "warning Icon"
      }
    ],
    "blocks": [
      {
        "type": "icon-block",
        "name": "icon-block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "icon-title",
            "label": "Icon-title",
            "default": "Text"
          },
          {
            "type": "text",
            "id": "image_width",
            "label": "ImageWidth"
          },
          {
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          }, {
            "type": "text",
            "id": "image_rotate",
            "label": "Image Rotate"
          }, {
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons With Bullets"
      }
    ]
  }
{% endschema %}