<link rel="stylesheet" href="{{ 'k-icon-with-bullets-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="icon-w-bul">
      <div class="page-width">
        <div class="grid align-center grid--1-col-tablet-down grid--2-col-desktop">
          <div class="grid__item">
            <div class="icon-main-grid">
              {% for block in section.blocks %}
                <div class="icon-w-bul-icon">
                  <div class="block-icon" style="--icon-bg: {{ section.settings.icons_bg }};">
                    {%- liquid
                      assign number_of_columns = 1
                      assign number_of_columns_mobile = 1
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      assign image_width = 1
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 300
                      | image_tag:
                        loading: 'lazy',
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes
                    }}
                  </div>
                  <div class="icon-text text-center">
                    <small>{{ block.settings.icon-title }}</small>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="grid__item">
            <div class="icon-w-bul-content-container">
              <div class="icon-w-bul-text">
                {%- unless section.settings.title == blank -%}
                  <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
                    <h2 class="title inline-richtext {{ section.settings.heading_size }}">
                      {{ section.settings.title }}
                    </h2>
                  </div>
                {%- endunless -%}
                {%- if section.settings.description != blank -%}
                  <div class="{{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                      {{ section.settings.description -}}
                  </div>
                {%- endif -%}
                <ul class="icon-w-bul-list">
                  {% assign paragraphs = section.settings.text_list | newline_to_br | split: '<br />' %}
                  {% for text in paragraphs %}
                    <li class="flex">
                      <div class="checkmark">
                        <span class="brand-blue">
                          &#10003;
                        </span>
                      </div>
                      <div class="checkmark-text">{{ text }}</div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
    
              {% comment %} WARNING {% endcomment %}
              <div class="safety-warning">
                <div class="warning-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>alert-outline</title><path d="M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16" /></svg>
                </div>
                <div class="warning-description">
                  <p>{{ section.settings.text_warning }}</p>
                </div>
              </div>
              {% comment %}
              END OF WARNING
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Icons With Bullets",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Multicolumn",
        "label": "t:sections.multicolumn.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          },
          {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      },
      {
        "type": "color",
        "id": "icons_bg",
        "label": "Icons background",
        "default": "#E6F7FE"
      },
      {
        "id": "text_list",
        "type": "textarea",
        "label": "List"
      }, {
        "id": "text_warning",
        "type": "textarea",
        "label": "Warning Box Text"
      }, {
        "id": "image1",
        "type": "image_picker",
        "label": "warning Icon"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type": "icon-block",
        "name": "icon-block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "icon-title",
            "label": "Icon-title",
            "default": "Text"
          },
          {
            "type": "text",
            "id": "image_width",
            "label": "ImageWidth"
          },
          {
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          }, {
            "type": "text",
            "id": "image_rotate",
            "label": "Image Rotate"
          }, {
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons With Bullets"
      }
    ]
  }
{% endschema %}