<link rel="stylesheet" href="{{ 'k-num-counter-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}


<div class="num-counter page-width {{background_color}}">
  <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
    {% if section.settings.heading != blank %}
      <h2 class="title inline-richtext {{ section.settings.heading_size }} ">
        {{ section.settings.heading }}
      </h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="collection__description center rte  {{ section.settings.text_style }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.subheading }}
      </h3>
    {%- endif -%}
  </div>
 
    <div class="counter-container page-width">
    {% for block in section.blocks %}
      
      <div class="counter-content">

        <div class="count-num-container">
          <span class="numbers"><span>{{ block.settings.measure_begin }}</span><span class="counter" data-count="{{ block.settings.end_num }}">{{ block.settings.start_num }}</span>{{ block.settings.measure_end }}</span>
        </div>
        
        {% if block.settings.progress == true %}
        <div class="progress">
          <div class="progress-value"></div>
        </div>
        {% endif %}

        <div class="counter-text-container">
          <span class="counter-text">{{ block.settings.text }}</span>
        </div>
        
        
        {% if block.settings.image != blank %}
          <div class="counter-image">
            <img src="{{ block.settings.image | img_url: "master" }}" alt="">
          </div>
        {% endif %}

      </div>
      {% style  %}
        .counter-text {
          font-size: {{ block.settings.text_font_size }}px;
        }
      {% endstyle %}
    {% endfor %}
    </div>

</div>

{% style %}
  .num-counter {
    padding: {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Number Counter",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      }, {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      },
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "counter",
        "name": "Add Counter",
        "settings": [
          {
            "type": "number",
            "id": "start_num",
            "label": "Start Number"
          },
          {
            "type": "number",
            "id": "end_num",
            "label": "End Number"
          },
          {
            "type": "text",
            "id": "measure_begin",
            "label": "Counting Measure at Beginning"
          },
          {
            "type": "text",
            "id": "measure_end",
            "label": "Counting Measure at End"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Counter Text"
          },
          {
            "type": "range",
            "id": "text_font_size",
            "min": 18,
            "max": 68,
            "step": 2,
            "unit": "px",
            "label": "Text Font size",
            "default": 24
          },
          {
            "type": "checkbox",
            "id": "progress",
            "label": "Add Progress Bar",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Counter Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Number Counter",
        "category": "Image"
      }
    ]
  }
{% endschema %}