<link rel="stylesheet" href="{{ 'k-platforms-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}

<section class="platforms {{background_color}}">
  {% if section.settings.heading != blank %}
      <h2 class="heading text-center {{heading_color}} {{ section.settings.heading_size }} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}} {{ section.settings.text_style }} {{subheading_font_weight}}">{{ section.settings.subheading }}</h3>
    {% endif %}
    
    <div class="platforms-images page-width">
      {%- for block in section.blocks -%}
        <div class="platforms-img-container {{ block.id }}">
          <a href="{{ block.settings.img_link }}">
            <img src="{{ block.settings.image | image_url: width: 1920 }}" alt="">
          </a>
        </div>
      {%- endfor -%}
    </div>
    
</section>

{% style %}
  .platforms {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }};
    margin-bottom: {{ section.settings.section_margin_bottom }};
  }
{% endstyle %}

{% schema %}
  {
    "name": "Platforms Landing Page",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          },
          {
            "value": "cream",
            "label": "Cream"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Page Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      },
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Add Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "img_link",
            "label": "Platform Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Platforms Landing Page"
      }
    ]
  }
{% endschema %}