<link rel="stylesheet" href="{{ 'k-purchase-links-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}

<div class="purchase-links {{background_color}}">
  <div class="headings-all page-width">
    {% if section.settings.heading != blank %}
      <h2 class="heading text-center {{heading_color}} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}} {{subheading_font_weight}}">{{ section.settings.subheading }}</h3>
    {% endif %}
  </div>

  <div class="purchase-main-content">
    {%for block in section.blocks%}

      <div class="purchase-product">
        <div class="purchase-img-container">
          <img src="{{ block.settings.image | image_url }}" alt=""/>
        </div>

        <div class="purchase-product-content">
          <h5>{{ block.settings.product_title }}</h5>
          {% if block.settings.text != blank %}
            <p>{{ block.settings.text }}</p>
          {% endif %}
        </div>

        <div class="purchase-button">
          <a href="{{ block.settings.cta_link }}">
            <button>{{ block.settings.button_text }}</button>
          </a>
        </div>
      </div>
    {%endfor%}
  </div>
</div>

{% style %}
  .purchase-links {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .purchase-links .heading {
    font-size: {{ section.settings.heading_font_size }}px;
  }
  .purchase-links .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Purchase-links",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Heading Font size",
        "default": 32
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "range",
        "id": "subheading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Sub Heading Font size",
        "default": 24
      }, 
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Product Link",
        "type": "product",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          },
          {
            "id": "product_title",
            "type": "text",
            "label": "Procut Title"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text"
          }, {
            "type": "url",
            "id": "cta_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Purchase Links",
        "category": "Product"
      }
    ]
  }
{% endschema %}