<link rel="stylesheet" href="{{ 'k-quiz-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
  .quiz-bg {
    background-image: url('{{ section.settings.quiz_bg | img_url: 'master'}}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .quiz {
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .quiz-open, .quiz-close {
    padding:  {{ section.settings.section_padding }}px 0px;
    padding-left: 70px;
    padding-right: 70px;
  }
{% endstyle %}

<div class="quiz flex flex-col">
  <div class="quiz-open quiz-bg">
    <h3>{{ section.settings.heading }}</h3>
    {% if section.settings.subheading != blank %}
      <h4>{{ section.settings.subheading }}</h4>
    {% endif %}
    <button id="quiz-btn" class="bg-blue brand-white">{{ section.settings.btn_title}}</button>
  </div>
  <div class="quiz-close quiz-bg">
    <h3>{{ section.settings.heading_2 }}</h3>
    <button id="quiz-btn-close" class="bg-blue brand-white">{{ section.settings.btn_title_2}}</button>
  </div>
  <div class="octane-ai-quiz" data-quiz-id="evBeQ7ng7eofSV9o" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div>
</div>
<script src="https://app.octaneai.com/b7ljg36xhef3rewl/quiz.js" async defer></script>
<script>
  $('#quiz-btn').on('click', function() {
    $('.octane-ai-quiz-rendered').fadeIn();
    $('.quiz-open').hide();
    $('.quiz-close').show();
  })

  $('#quiz-btn-close').on('click', function() {
    $('.octane-ai-quiz-rendered').fadeOut();
    $('.quiz-close').hide();
    $('.quiz-open').show();
  })
</script>

{% schema %}  
  {
    "name": "Quiz Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "quiz_bg",
        "label": "Quiz Background"
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  300,
        "step":  5,
        "unit": "px" ,
        "label": "Top & Bottom Padding",
        "default":  50
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  300,
        "step":  5,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  300,
        "step":  5,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default": 0
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "heading_2",
        "label": "Heading 2"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button One Title"
      },
      {
        "type": "text",
        "id": "btn_title_2",
        "label": "Button Two Title"
      }
    ],
    "presets": [
      {
        "name": "Quiz Section"
      }
    ]
  }
{% endschema %}