<link rel="stylesheet" href="{{ 'file-name.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- Make sure to check if it's in section or block. IF in block these need to be declared inside FOR block -->
{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}
{% assign para_background = "bg-" | append: section.settings.para_background %}
{% assign cta_bg = "bg-" | append: section.settings.cta_bg %}
{% assign cta_color = "brand-" | append: section.settings.cta_color %}

<!-- Add these variables as classes to dynamically change CSS with assinged variables above -->

{{background_color}}
{{img_placement}}
{{heading_color}}
{{heading_font-weight}}
{{subheading_color}}
{{subheading_font-weight}}
{{alt_heading_color}}
{{alt_heading_font-weight}}
{{para_background}}
{{cta_bg}}
{{cta_color}}

<!-- Start of HTML -->

<section class="section-name">
  <div class="title-wrapper-with-link justify-center title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
    {% if section.settings.heading != blank %}
      <h2 class="title inline-richtext {{ section.settings.heading_size }} ">
        {{ section.settings.heading }}
      </h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <div class="collection__description center rte  {{ section.settings.text_style }}  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.subheading }}
      </div>
    {%- endif -%}
  </div>
</section>

<!-- In order to use LIQUID variables to change CSS, you must add a style tag -->
{% style %}
  .section-name {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .section-name .alt-heading {
    font-size: {{ section.settings.alt_heading_font_size }}px;
  }
  .section-name-para {
    font-size: {{ section.settings.text_font_size }}px;
    padding:  {{ section.settings.para_padding }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Name of Section",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      },
      {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.options__2.label"
          }
        ],
        "default": "subtitle",
        "label": "t:sections.email-signup-banner.blocks.paragraph.settings.text_style.label"
      }, 
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      },
      {
        "type": "select",
        "id": "alt_heading_color",
        "label": "Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "range",
        "id": "alt_heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Alternate Heading Font size",
        "default": 28
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Paragraph"
      },
      {
        "type": "range",
        "id": "text_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Paragraph Font size",
        "default":  20
      },
      {
        "type": "select",
        "id": "para_background",
        "label": "Paragraph Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "para_padding",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "cta_link",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "cta_bg",
        "label": "Button Background Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "gray-clear",
            "label": "Gray Clear"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "white-clear",
            "label": "White Clear"
          }
        ]
      },
      {
        "type": "select",
        "id": "cta_color",
        "label": "Button Text Color",
        "default": "white",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Name of Section"
      }
    ]
  }
{% endschema %}