{% if section.settings.show_related %}
<div class="contents features">
<div class="features-box page-width">

<div class="features_title">
<h2>{{section.settings.heading}}</h2>
</div>
  <div class="features_image flex align-center justify-center">
    {% if section.settings.image_secondary %}
      <div style="width:{{section.settings.width_secondary}}%" class="features-secondary-image">
        <img src="{{section.settings.image_secondary | img_url:'1920x'}}" alt="">
      </div>
    {% endif %}
    <div style="width:{{section.settings.width}}%">
      <img src="{{section.settings.image | img_url:'1920x'}}" alt="">
    </div>
  </div>
  
  <div class="grid d-flex page-width">
    {% assign features = section.settings.text | newline_to_br | split: '<br />'%}
    {% for single_feature in features %}
    <div class="single-feature grid__item box medium-up--one-third">
      <p>• {{single_feature}}</p>
    </div>
    {%endfor%}
  </div>
</div>
</div>

{%endif%}

{% schema %}
  {
    "name": "Features",
    "settings": [
      
      {
        "type": "checkbox",
        "id": "show_related",
        "label": "Show Section",
        "default": true  
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
		  {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "options": [
          {
            "value": "30",
            "label": "33%"
          },
          {
            "value": "40",
            "label": "40%"
          },
          {
            "value": "50",
            "label": "50%"
          },
          {
            "value": "60",
            "label": "60%"
          },
          {
            "value": "70",
            "label": "70%"
          }
        ],
        "default": "50"
      },
      {
        "id": "image_secondary",
        "type": "image_picker",
        "label": "Image Secondary"
      },
      {
        "type": "select",
        "id": "width_secondary",
        "label": "Width",
        "options": [
          {
            "value": "30",
            "label": "33%"
          },
          {
            "value": "40",
            "label": "40%"
          },
          {
            "value": "50",
            "label": "50%"
          },
          {
            "value": "60",
            "label": "60%"
          },
          {
            "value": "70",
            "label": "70%"
          }
        ],
        "default": "50"
      },
      {
        "id": "text",
        "type": "textarea",
        "label": "List Features"
      },
	{
        "id": "image1",
        "type": "image_picker",
        "label": "list Icon"
      	}


		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
