<link rel="stylesheet" href="{{ 'k-comparison-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% comment %}
  {% case product.template_suffix %}
    {% when 'starter-conversion-kit' %}
      {%- assign std_conv_border_row = 'compare-table-variant-row' -%}
      {%- assign std_conv_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign std_conv_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'starter-interface-kit' %}
      {%- assign std_inter_border_row = 'compare-table-variant-row' -%}
      {%- assign std_inter_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign std_inter_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'pro-conversion-kit' %}
      {%- assign pro_conv_border_row = 'compare-table-variant-row' -%}
      {%- assign pro_conv_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign pro_conv_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'pro-interface-kit' %}
      {%- assign pro_inter_border_row = 'compare-table-variant-row' -%}
      {%- assign pro_inter_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign pro_inter_border_row_btm = 'compare-table-variant-row-btm' -%}
  {% endcase %}

  <div class='page-width comparison'>
    <div class='comparison-table-container'>
      <div class="compare-images">
        <div class="compare-text">
          Compare Kits
        </div>
        <div class='compare-kit'>
          <img src="{{section.settings.mobile_image_one | img_url:'1920x'}}"/>
          <p class='compare-image-title'>
            {{section.settings.mobile_image_one.alt}}
          </p>
        </div>
        <div class='compare-kit'>
          <img src="{{section.settings.mobile_image_two | img_url:'1920x'}}"/>
          <p class='compare-image-title'>
            {{section.settings.mobile_image_two.alt}}
          </p>
        </div>
        <div class='compare-kit'>
          <img src="{{section.settings.mobile_image_three | img_url:'1920x'}}"/>
          <p class='compare-image-title'>
            {{section.settings.mobile_image_three.alt}}
          </p>
        </div>
        <div class='compare-kit'>
          <img src="{{section.settings.mobile_image_four | img_url:'1920x'}}"/>
          <p class='compare-image-title'>
            {{section.settings.mobile_image_four.alt}}
          </p>
        </div>
      
    </div>

    <div class='flex justify-right text-center'>
      <div class='medium-up--one-third flex compare-table-right'>
        <div class='medium-up--one-half compare-table-row compare-table-title {{std_conv_border_row_top}}'>
          Conversion Kit
        </div>
        <div class='medium-up--one-half compare-table-row compare-table-title {{std_inter_border_row_top}}'>
          Interface Kit
        </div>
      </div>
      <div class='medium-up--one-third flex'>
        <div class='medium-up--one-half compare-table-row compare-table-title {{pro_conv_border_row_top}}'>
          Conversion Kit
        </div>
        <div class='medium-up--one-half compare-table-row compare-table-title {{pro_inter_border_row_top}}'>
          Interface Kit
        </div>
      </div>
    </div>
    <div class='flex'>
      <div class='medium-up--one-third flex compare-table-row'>
        Starting at
      </div>
      <div class='medium-up--one-third flex compare-table-right'>
        <div class='medium-up--one-half text-center compare-table-row compare-table-title {{std_conv_border_row}}'>
          $99
        </div>
        <div class='medium-up--one-half text-center compare-table-fill compare-table-row compare-table-title {{std_inter_border_row}}'>
          $139
        </div>
      </div>
      <div class='medium-up--one-third flex'>
        <div class='medium-up--one-half text-center compare-table-row compare-table-title {{pro_conv_border_row}}'>
          $229
        </div>
        <div class='medium-up--one-half text-center compare-table-fill compare-table-row compare-table-title {{pro_inter_border_row}}'>
          $289
        </div>
      </div>
    </div>
    {% assign feature_blocks = section.blocks | where: 'type', 'sample-block' %}

    {%for block in feature_blocks%}
      {% if forloop.last == true %}
        {%- assign border_btm = 'compare-table-variant-row-btm' -%}
      {% endif %}
      <div class='flex compare-table-row-feature'>
        <div class='medium-up--one-third compare-table-row flex'>
          {{block.settings.title}}
        </div>
        <div class='medium-up--one-third flex compare-table-right text-center'>
          <div class='medium-up--one-half compare-table-row blue-font {{std_conv_border_row}}'>
            {% if block.settings.standard_conversion_kit_check %}
              &#10003;
            {% endif %}
          </div>
          <div class='medium-up--one-half compare-table-fill blue-font compare-table-row {{std_inter_border_row}}'>
            {% if block.settings.standard_interface_kit_check %}
              &#10003;
            {% endif %}
          </div>
        </div>
        <div class='medium-up--one-third flex text-center'>
          <div class='medium-up--one-half compare-table-row blue-font {{pro_conv_border_row}}'>
            {% if block.settings.pro_conversion_kit_check %}
              &#10003;
            {% endif %}
          </div>
          <div class='medium-up--one-half compare-table-fill blue-font compare-table-row {{pro_inter_border_row}}'>
            {% if block.settings.pro_interface_kit_check %}
              &#10003;
            {% endif %}
          </div>
        </div>
      </div>
    {%endfor%}

    {% assign shopify_product_1 = all_products[section.settings.product_link_1] %}
    {% assign shopify_product_2 = all_products[section.settings.product_link_2] %}
    {% assign shopify_product_3 = all_products[section.settings.product_link_3] %}
    {% assign shopify_product_4 = all_products[section.settings.product_link_4] %}
    <div class='flex align-center'>
      <div class='medium-up--one-third flex'>
        Availablity
      </div>
      <div class='medium-up--one-third flex'>
        <div class='medium-up--one-half compare-buy-options {{std_conv_border_row}}'>
          {%for block_product in shopify_product_1.variants limit:4 %}
            <div class='flex-compare justify-between compare-buy-option'>
              <p class=''>
                {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
              </p>
              {% form 'product', product %}
                <div class="product-add">
                  <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                  <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                  <button type="submit" class="atc btn btn--small">
                    Buy
                  </button>
                </div>
              {% endform %}
            </div>
          {% endfor %}
          <p class='text-center compare-buy-learn {{std_conv_border_row_btm}}'>
            <a target="_blank" href="{{shopify_product_1.url}}">
              Learn More
            </a>
          </p>
        </div>
        <div class='medium-up--one-half compare-buy-options compare-table-fill {{std_inter_border_row}}'>
          {%for block_product in shopify_product_2.variants %}
            <div class='flex-compare justify-between compare-buy-option'>
              <p class=''>
                {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
              </p>
              {% form 'product', product %}
                <div class="product-add">
                  <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                  <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                  <button type="submit" class="atc btn btn--small">
                    Buy
                  </button>
                </div>
              {% endform %}
            </div>
          {% endfor %}
          <p class='text-center compare-buy-learn {{std_inter_border_row_btm}}'>
            <a target="_blank" href="{{shopify_product_2.url}}">
              Learn More
            </a>
          </p>
        </div>
      </div>

      <div class='medium-up--one-third flex'>
        <div class='medium-up--one-half compare-buy-options {{pro_conv_border_row}}'>
          {%for block_product in shopify_product_3.variants %}
            {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
            <div class='flex-compare justify-between compare-buy-option'>
              <p class=''>
                {{ qb_qty | times: 12 }} Zones - ${{block_product.price | divided_by: 100 | times: qb_qty}}
              </p>
              {% form 'product', product %}
                <div class="product-add">
                  <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                  <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                  <button type="submit" class="atc btn btn--small">
                    Buy
                  </button>
                </div>
              {% endform %}
            </div>
          {% endfor %}
          <p class='text-center compare-buy-learn {{pro_conv_border_row_btm}}'>
            <a target="_blank" href="{{shopify_product_3.url}}">
              Learn More
            </a>
          </p>
        </div>
        <div class='medium-up--one-half compare-buy-options compare-table-fill {{pro_inter_border_row}}'>
          {%for block_product in shopify_product_4.variants %}
            {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
            <div class='flex-compare justify-between compare-buy-option'>
              <p class=''>
                {{ qb_qty | times: 12 }} Zones - ${{block_product.price | divided_by: 100 | times: qb_qty}}
              </p>
              {% form 'product', product %}
                <div class="product-add">
                  <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                  <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                  <button type="submit" class="atc btn btn--small">
                    Buy
                  </button>
                </div>
              {% endform %}
            </div>
          {% endfor %}
          <p class='text-center compare-buy-learn {{pro_inter_border_row_btm}}'>
            <a target="_blank" href="{{shopify_product_4.url}}">
              Learn More
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

        {% comment %} other {%endcomment%}
  {% case product.template_suffix %}
    {% when 'starter-conversion-kit' %}
      {%- assign std_conv_border_row = 'compare-table-variant-row' -%}
      {%- assign std_conv_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign std_conv_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'starter-interface-kit' %}
      {%- assign std_inter_border_row = 'compare-table-variant-row' -%}
      {%- assign std_inter_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign std_inter_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'pro-conversion-kit' %}
      {%- assign pro_conv_border_row = 'compare-table-variant-row' -%}
      {%- assign pro_conv_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign pro_conv_border_row_btm = 'compare-table-variant-row-btm' -%}
    {% when 'pro-interface-kit' %}
      {%- assign pro_inter_border_row = 'compare-table-variant-row' -%}
      {%- assign pro_inter_border_row_top = 'compare-table-variant-row-top' -%}
      {%- assign pro_inter_border_row_btm = 'compare-table-variant-row-btm' -%}
  {% endcase %}

<div class='page-width comparison'>
  <div class="comparison-table-container">

    <div class="compare-images">
      <div class="compare-text">
        Compare Kits
      </div>
      <div class='compare-kit'>
        <img src="{{section.settings.mobile_image_one | img_url:'1920x'}}"/>
        <p class='compare-image-title'>
          {{section.settings.mobile_image_one.alt}}
        </p>
      </div>
      <div class='compare-kit'>
        <img src="{{section.settings.mobile_image_two | img_url:'1920x'}}"/>
        <p class='compare-image-title'>
          {{section.settings.mobile_image_two.alt}}
        </p>
      </div>
      <div class='compare-kit'>
        <img src="{{section.settings.mobile_image_three | img_url:'1920x'}}"/>
        <p class='compare-image-title'>
          {{section.settings.mobile_image_three.alt}}
        </p>
      </div>
      <div class='compare-kit'>
        <img src="{{section.settings.mobile_image_four | img_url:'1920x'}}"/>
        <p class='compare-image-title'>
          {{section.settings.mobile_image_four.alt}}
        </p>
      </div>
    </div>


  
    <div class="comparison-table">
      {% assign feature_blocks = section.blocks | where: 'type', 'sample-block' %}
      <div class="comparison-factors">
        <div class='factors'> </div>
        <div class='factors'>
          Starting at
        </div>
        {%for block in feature_blocks%}
          <div class='factors'>
            {{block.settings.title}}
          </div>
        {%endfor%}
      </div>

      <div class="product-col">
        <div class='prod-col-cell'>
            Conversion Kit
        </div>
        <div class='prod-col-cell'>
            $99
        </div>

        {%for block in feature_blocks%}
          <div class='prod-col-cell brand-blue {{std_conv_border_row}}'>
              {% if block.settings.standard_conversion_kit_check %}
                &#10003;
              {% endif %}
        </div>
        {%endfor%}
        
      </div>

      <div class="product-col">
        <div class='compare-product-title'>
            Interface Kit
        </div>
        <div class='compare-product-price'>
            $139
        </div>
      </div>

      <div class="product-col">
        <div class='compare-product-title'>
            Conversion Kit
        </div>
        <div class='compare-product-price'>
            $229
        </div>
      </div>

      <div class="product-col">
        <div class='compare-product-title'>
            Interface Kit
        </div>
        <div class='compare-product-price'>
            $289
        </div>
      </div>

  {% assign feature_blocks = section.blocks | where: 'type', 'sample-block' %}
    
      {%for block in feature_blocks%}
        
        <div class='compare-table-row-feature'>
          
          <div class='compare-table-row'>
            {{block.settings.title}}
          </div>
          
            <div class=' compare-table-right text-center'>
            <div class='compare-table-row blue-font {{std_conv_border_row}}'>
              {% if block.settings.standard_conversion_kit_check %}
                &#10003;
              {% endif %}
            </div>
            <div class='compare-table-fill blue-font compare-table-row {{std_inter_border_row}}'>
              {% if block.settings.standard_interface_kit_check %}
                &#10003;
              {% endif %}
            </div>
          </div>
          <div class='text-center'>
            <div class='compare-table-row blue-font {{pro_conv_border_row}}'>
              {% if block.settings.pro_conversion_kit_check %}
                &#10003;
              {% endif %}
            </div>
            <div class='compare-table-fill blue-font compare-table-row {{pro_inter_border_row}}'>
              {% if block.settings.pro_interface_kit_check %}
                &#10003;
              {% endif %}
            </div>
          </div>
          
        </div>
      {%endfor%}
{% endcomment %}
  
      

  {% comment %}
      {% assign shopify_product_1 = all_products[section.settings.product_link_1] %}
      {% assign shopify_product_2 = all_products[section.settings.product_link_2] %}
      {% assign shopify_product_3 = all_products[section.settings.product_link_3] %}
      {% assign shopify_product_4 = all_products[section.settings.product_link_4] %}
      
      <div class=' align-center'>
        <div class=''>
          Availablity
        </div>
  
        <div class=''>
          <div class='compare-buy-options {{std_conv_border_row}}'>
            {%for block_product in shopify_product_1.variants limit:4 %}
              <div class='-compare justify-between compare-buy-option'>
                <p class=''>
                  {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
                </p>
                {% form 'product', product %}
                  <div class="product-add">
                    <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                    <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                    <button type="submit" class="atc btn btn--small">
                      Buy
                    </button>
                  </div>
                {% endform %}
              </div>
            {% endfor %}
            <p class='text-center compare-buy-learn {{std_conv_border_row_btm}}'>
              <a target="_blank" href="{{shopify_product_1.url}}">
                Learn More
              </a>
            </p>
          </div>
  
          <div class='compare-buy-options compare-table-fill {{std_inter_border_row}}'>
            {%for block_product in shopify_product_2.variants %}
              <div class='-compare justify-between compare-buy-option'>
                <p class=''>
                  {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
                </p>
                {% form 'product', product %}
                  <div class="product-add">
                    <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                    <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                    <button type="submit" class="atc btn btn--small">
                      Buy
                    </button>
                  </div>
                {% endform %}
              </div>
            {% endfor %}
            <p class='text-center compare-buy-learn {{std_inter_border_row_btm}}'>
              <a target="_blank" href="{{shopify_product_2.url}}">
                Learn More
              </a>
            </p>
          </div>
        </div>
    
        <div class=''>
          <div class='compare-buy-options {{pro_conv_border_row}}'>
            {%for block_product in shopify_product_3.variants %}
              {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
              <div class='-compare justify-between compare-buy-option'>
                <p class=''>
                  {{ qb_qty | times: 12 }} Zones - ${{block_product.price | divided_by: 100 | times: qb_qty}}
                </p>
                {% form 'product', product %}
                  <div class="product-add">
                    <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                    <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                    <button type="submit" class="atc btn btn--small">
                      Buy
                    </button>
                  </div>
                {% endform %}
              </div>
            {% endfor %}
            <p class='text-center compare-buy-learn {{pro_conv_border_row_btm}}'>
              <a target="_blank" href="{{shopify_product_3.url}}">
                Learn More
              </a>
            </p>
          </div>
  
          <div class='compare-buy-options compare-table-fill {{pro_inter_border_row}}'>
            {%for block_product in shopify_product_4.variants %}
              {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
              <div class='-compare justify-between compare-buy-option'>
                <p class=''>
                  {{ qb_qty | times: 12 }} Zones - ${{block_product.price | divided_by: 100 | times: qb_qty}}
                </p>
                {% form 'product', product %}
                  <div class="product-add">
                    <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                    <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                    <button type="submit" class="atc btn btn--small">
                      Buy
                    </button>
                  </div>
                {% endform %}
              </div>
            {% endfor %}
            <p class='text-center compare-buy-learn {{pro_inter_border_row_btm}}'>
              <a target="_blank" href="{{shopify_product_4.url}}">
                Learn More
              </a>
            </p>
          </div>
        </div>
      </div>
      
    </div>
    {% endcomment %}
    
      <!-- Mobile Version -->
    
    {% comment %}
      <div class=' compare-table-mobile'>
        <div id='compare-left' style="width:60%;">
          <div class=' compare-table-header align-center compare-table-title justify-center' style="height:121px">
            Compare Kits
          </div>
          {%for block in feature_blocks%}
            <div class='compare-table-row compare-table-row-feature'>
              {{block.settings.title}}
            </div>
          {% endfor %}
        </div>
        <div id='compare-right' style="width:40%; overflow:scroll">
          <div class=' scroll-container compare-table-header-mobile'>
            <div class="img-block  justify-right -col align-center">
              <img src="{{section.settings.mobile_image_one | img_url:'1920x'}}"/>
              <p class='compare-image-title'>
                {{section.settings.mobile_image_one.alt}}
              </p>
            </div>
            <div class="img-block  justify-right -col align-center">
              <img src="{{section.settings.mobile_image_two | img_url:'1920x'}}"/>
              <p class='compare-image-title'>
                {{section.settings.mobile_image_two.alt}}
              </p>
            </div>
            <div class="img-block  justify-right -col align-center">
              <img src="{{section.settings.mobile_image_three | img_url:'1920x'}}"/>
              <p class='compare-image-title'>
                {{section.settings.mobile_image_three.alt}}
              </p>
            </div>
            <div class="img-block  justify-right -col align-center">
              <img src="{{section.settings.mobile_image_four | img_url:'1920x'}}"/>
              <p class='compare-image-title'>
                {{section.settings.mobile_image_four.alt}}
              </p>
            </div>
          </div>
          {%for block in feature_blocks%}
            <div class=' compare-table-row compare-table-row-feature scroll-container'>
              <div class='check-container blue-font text-center'>
                {% if block.settings.standard_conversion_kit_check %}
                  &#10003;
                {% endif %}
              </div>
              <div class='check-container blue-font text-center'>
                {% if block.settings.standard_interface_kit_check %}
                  &#10003;
                {% endif %}
              </div>
              <div class='check-container blue-font text-center'>
                {% if block.settings.pro_conversion_kit_check %}
                  &#10003;
                {% endif %}
              </div>
              <div class='check-container blue-font text-center'>
                {% if block.settings.pro_interface_kit_check %}
                  &#10003;
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <div id='compare-buy-row' class=' scroll-container'>
            <div class='compare-mobile-buying-option -col'>
              {%for block_product in shopify_product_1.variants %}
                <div class=' align-center' style="margin:10px">
                  <p class='three-quarters'>
                    {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
                  </p>
                  {% form 'product', product %}
                    <div class="product-add">
                      <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                      <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                      <button type="submit" class="atc btn btn--small">
                        Buy
                      </button>
                    </div>
                  {% endform %}
                </div>
              {% endfor %}
              <p class='text-center'>
                <a href="{{shopify_product_1.url}}">
                  Learn More
                </a>
              </p>
            </div>
            <div class='compare-mobile-buying-option -col'>
              {%for block_product in shopify_product_2.variants %}
                <div class=' align-center' style="margin:10px">
                  <p class='three-quarters'>
                    {{block_product['option1']}} - ${{block_product.price | divided_by: 100 }}
                  </p>
                  {% form 'product', product %}
                    <div class="product-add">
                      <input type="hidden" class='quantity' name="quantity" value="1" pattern="[0-9]*"/>
                      <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                      <button type="submit" class="atc btn btn--small">
                        Buy
                      </button>
                    </div>
                  {% endform %}
                </div>
              {% endfor %}
              <p class='text-center'>
                <a href="{{shopify_product_2.url}}">
                  Learn More
                </a>
              </p>
            </div>
            <div class='compare-mobile-buying-option -col'>
              {%for block_product in shopify_product_3.variants %}
                {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
    
                <div class=' align-center' style="margin:10px">
                  <p class='three-quarters'>
                    {{ qb_qty | times: 12 }} Zones - ${{block_product.price | divided_by: 100 | times: qb_qty }}
                  </p>
                  {% form 'product', product %}
                    <div class="product-add">
                      <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                      <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                      <button type="submit" class="atc btn btn--small">
                        Buy
                      </button>
                    </div>
                  {% endform %}
                </div>
              {% endfor %}
              <p class='text-center'>
                <a href="{{shopify_product_3.url}}">
                  Learn More
                </a>
              </p>
            </div>
            <div class='compare-mobile-buying-option -col'>
              {%for block_product in shopify_product_4.variants %}
                {% assign qb_qty = block_product.option1 | slice: -2 | floor | at_least: 1 %}
                <div class=' align-center' style="margin:10px">
                  <p class='three-quarters'>
                    {{ qb_qty | times: 12 }} Zones  - ${{block_product.price | divided_by: 100 | times: qb_qty }}
                  </p>
                  {% form 'product', product %}
                    <div class="product-add">
                      <input type="hidden" class='quantity' name="quantity" value="{{ qb_qty }}"/>
                      <input type="hidden" name="id" class='id' value="{{block_product.id}}"/>
                      <button type="submit" class="atc btn btn--small">
                        Buy
                      </button>
                    </div>
                  {% endform %}
                </div>
              {% endfor %}
              <p class='text-center'>
                <a href="{{shopify_product_4.url}}">
                  Learn More
                </a>
              </p>
            </div>
          </div>
      </div>
    {% endcomment %}
  </div>
</div>


{% schema %}

  {
    "name": "Comparison Table",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_comparison_table",
        "label": "Show Section",
        "default": true
      },
      {
        "id": "image_one",
        "type": "image_picker",
        "label": "Image One"
      },
      {
        "id": "image_two",
        "type": "image_picker",
        "label": "Image Two"
      },
      {
        "id": "mobile_image_one",
        "type": "image_picker",
        "label": "Mobile Image One"
      }, {
        "id": "mobile_image_two",
        "type": "image_picker",
        "label": "Mobile Image Two"
      }, {
        "id": "mobile_image_three",
        "type": "image_picker",
        "label": "Mobile Image Three"
      }, {
        "id": "mobile_image_four",
        "type": "image_picker",
        "label": "Mobile Image Four"
      }, {
        "id": "product_link_1",
        "type": "product",
        "label": "Buy now row 1 product"
      }, {
        "id": "product_link_2",
        "type": "product",
        "label": "Buy now row 2 product"
      }, {
        "id": "product_link_3",
        "type": "product",
        "label": "Buy now row 3 product"
      }, {
        "id": "product_link_4",
        "type": "product",
        "label": "Buy now row 4 product"
      }
    ],
    "blocks": [
      {
        "type": "sample-block",
        "name": "Add Feature to Comparison",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Makes any system smart",
            "label": "Comparison Title"
          },
          {
            "type": "checkbox",
            "id": "standard_conversion_kit_check",
            "label": "Starter Conversion checked",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "standard_interface_kit_check",
            "label": "Starter Interface checked",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "pro_conversion_kit_check",
            "label": "Pro Conversion checked",
            "default": false
          }, {
            "type": "checkbox",
            "id": "pro_interface_kit_check",
            "label": "Pro Interface checked",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}

{% javascript %}

  $('#compare-left').children().each(function(index) {
    console.log(index)
    var $currentElement = $(this);
    const currentHeight = $currentElement.outerHeight();
    $('#compare-right .compare-table-row:nth-child(' + (
      index + 1
    ) + ')').css("height", currentHeight + "px");
  });
  $('.compare-mobile-buying-option, .check-container, .img-block').each(function(index) {
    const containerWidth = $('#compare-right').width()
    $(this).css("width", containerWidth + 'px')
  });
  const outContainerWidth = $('#compare-right').width() * 4
  $('.scroll-container').each(function(index) {
    $(this).css("width", outContainerWidth + 'px')
  });
{% endjavascript %}