{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

<div class="testimonials {{background_color}}">
<div class="page-width">
<div class="testimonial-title text-center" >
  <h2 class="{{heading_color}} {{heading_font_weight}}">{{section.settings.heading}}</h2>
</div>
<div class="testimonial-container page-width">
  {%for block in section.blocks%}
  <div class="testimonial-box">
    <div class="testimonial-content">
      <div class="user-review">{{block.settings.review}}</div>
      <div class="icon-image"><img src="{{block.settings.image | img_url:'master'}}"></div>
      <div class="user-name">{{block.settings.username}}</div>
    </div>
    </div>
  {%endfor%}

</div>
</div>
</div>



{% schema %}
  {
    "name": "User Reviews",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
	{
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      	},
      {
			"id": "heading",
        "type": "text",
        "label": "Alternative Heading",
        "default": "Title"
		}, 
		{
            "type": "select",
            "id": "heading_color",
            "label": "Alternative Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Alternative Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "para",
        "type": "richtext",
        "label": "Text"
      }

		],

		"blocks" : [
			{
				"type": "testimonials",
				"name": "Testimonials Slider",
				"settings": [
					{
        				"id": "review",
        				"type": "textarea",
        				"label": "User Review",
        				"default": "Title"
      				},
					{
        				"id": "image",
        				"type": "image_picker",
        				"label": "Icon"
      				},
					{
        				"id": "username",
        				"type": "text",
        				"label": "User Name",
        				"default": "Title"
      				}
				]
			}
		],
    "presets": [
			{
				"name": "Testimonials",
				"category": "list"
			}
		]
  }
{% endschema %}


<script>
      $(".testimonial-container").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: false,
        autoplaySpeed: 2500,
        cssEase: 'ease',
        responsive: [
          {
            breakpoint: 950,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
</script>

{% style %}
  .testimonials {
  padding: 50px 0;
}
.testimonials h2 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
  margin-bottom: 50px;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-refresh-white);
  padding: 50px 30px;
  border: none;
  border-radius: 20px;
  height: 40vh;
  margin: 0 15px;
}
.testimonials .user-review {
  text-align: center;
}
.testimonials .slick-prev {
  left: -5px;
}
.testimonials .slick-next {
  right: -5px;
}
{% endstyle %}