{% if section.settings.show_related %}
<div class="contents warning-box">
  <div class="grid box page-width">
    <div class="medium-up--one-half icons-main-grid">
      <div class="flex flex-wrap icons-grid">
        {%for block in section.blocks%}

        <div class="grid__item medium-up--one-quarter large-up--one-quarter small--one-third warning-icon">
          <div class="block-icon">
            <img src="{{block.settings.image | img_url:'1920x'}}" alt="">
          </div>
          <div class="icon-text text-center">
            <p>{{ block.settings.icon-title }}</p>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="grid__item medium-up--one-half">
      <div class="waring-text-box">
        <h2>{{ section.settings.heading }}</h2>
        
        <p class="warning_description1">
          {{ section.settings.text_description }}
        </p>
        <ul>
          {% assign paragraphs = section.settings.text_list | newline_to_br | split: '<br />' %}
          {% for text in paragraphs %}
            <li class="flex">
              <div class="checkmark"> <span class="blue-font"> &#10003; </span> </div> 
              <div class="checkmark-text">{{ text }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="safety-warning" style="display: flex; text-align: center">
        <div class="warning-icon">
          <i class="fa fa-regular fa-exclamation-triangle"></i>
        </div>
        <div class="warning-description">
          <p>{{ section.settings.text_warning }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%} 
{% schema %} 
{ 
  "name": "Works With", 
  "settings": [
    { "type":"checkbox", "id": "show_related", "label": "Show Section", "default": true }, 
    { "id": "image", "type": "image_picker", "label": "Image Left" }, 
    { "id": "heading", "type": "text", "label": "Heading", "default": "Title" }, 
    { "id": "text_description", "type": "textarea", "label": "Description" }, 
    { "id": "text_list", "type": "textarea", "label": "List" }, 
    { "id": "text_warning", "type": "textarea", "label": "Warning Box Text" }, 
    { "id": "image1", "type": "image_picker", "label": "warning Icon" } 
  ],
  "blocks": [ 
    { "type": "icon-block", "name": "icon-block", "settings": [ 
      { "type": "image_picker", "id": "image","label": "Image" }, 
      { "type": "text", "id": "icon-title", "label": "Icon-title", "default":"Text" }, 
      { "type": "text", "id": "image_width", "label": "ImageWidth" }, 
      { "type": "text", "id": "image_height", "label": "Image height" }, 
      { "type": "text", "id": "image_rotate", "label": "Image Rotate" }, 
      { "type": "checkbox", "id": "showbackground", "label": "Show image as background","default": false } 
    ]}
  ]
}
{% endschema %} 
{% stylesheet %} {% endstylesheet %}
{% javascript %} {% endjavascript %}
