{% if section.settings.show_related %}
<div class="contents faq ">
<div class="grid  page-width">

<div class="grid__item">

  <div id="home-faq" class="index-section home-section" data-section-id="{{ section.id }}" data-section-type="home-faq">
	
  {% if section.settings.use_container %}
  <div class="home-faq-list page-width {% if section.settings.use_padding_top %}padding-top{% endif %} {% if section.settings.use_padding_bottom %}padding-bottom{% endif %}">
{% else %}
   <div class="home-faq-list {% if section.settings.use_padding_top %}padding-top{% endif %} {% if section.settings.use_padding_bottom %}padding-bottom{% endif %}">
 {% endif %}
		<div class="wrapper wrapper--margins">

          {% if section.settings.title != blank %}
         
            <h2>{{ section.settings.heading }}</h2>
         
          {% endif %}
         

			<div class="jumpstart-accordion">
			  {% for block in section.blocks %}

					<div class="section section-{{ block.id }} {% if forloop.first == true %}opened{% endif %}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
						<h3 class="h4 title d-flex">
                          <div class="content-title"> {{ block.settings.home-faq-title | escape }}</div>
                         
                          <svg class=" svg plus" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="19" height="19" viewBox="0 0 19 19" enable-background="new 0 0 19 19" xml:space="preserve" aria-hidden="true"><path d="M11 19c-1 0-2 0-3 0 0-2.6 0-5.2 0-8 -3.1 0-5.5 0-8 0 0-1 0-2 0-3 2.6 0 5.2 0 8 0 0-3.1 0-5.5 0-8 1 0 2 0 3 0 0 2.6 0 5.2 0 8 3.1 0 5.5 0 8 0 0 1 0 2 0 3 -2.6 0-5.2 0-8 0C11 14.1 11 16.5 11 19z"></path></svg>
                          
                         
                      </h3>
                       {% assign paragraphs =  block.settings.home-faq-content | newline_to_br | split: '<br />'%}
                      <div class="content">
						{% for paragraph in paragraphs %}
                        <p>{{ paragraph }}</p>
  
						{% endfor %}</div>
					</div>

			  {% endfor %}
			</div>

		</div>
	</div>
</div>

</div>
  
</div>
</div>


</div>
{%endif%}

{% schema %}
	{
		"name": "FAQ",
		"max_blocks": 20,
		"settings": [
  		
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Description"
      },
	
		{
		"type": "checkbox",
		"id": "use_padding_top",
		"label": "Use top padding",
		"default": true
      },	
	  {
		"type": "checkbox",
		"id": "use_padding_bottom",
		"label": "Use bottom padding",
		"default": true
      },
	  {
		"type": "checkbox",
		"id": "use_container",
		"label": "Use container",
		"default": true
      }
		],
		"blocks" : [
			{
				"type": "text",
				"name": "Add Content",
				"settings": [
					{
						"type": "html",
						"id": "home-faq-title",
						"default": "Content Title",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "home-faq-content",
						"default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
						"label": "Text"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Kit Contents",
				"category": "Text",
				"blocks": [
					{
						"type": "text"
					},
					{
						"type": "text"
					},
					{
						"type": "text"
					}
				]
			}
		]
	}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

