{% if section.settings.show_related %}
{%for block in section.blocks%}
<div class="contents readmore" style="background-color:{{block.settings.color}}">
<div class="grid  {%if block.settings.left %}box{%else%} box-readmore {%endif%} page-width">
	<div class="grid__item medium-up--one-half">
  
  <img src="{{block.settings.image | img_url:'1920x'}}" alt="">
      
  	</div>
<div class="grid__item medium-up--one-half">
	<h2>{{block.settings.heading}}</h2>
	<p>{{block.settings.text}}</p>
  <div class="read-btn"><a href="{{block.settings.url}}" data-id="{{variant.id}}" class="btn btn--small">READ MORE</a></div>
</div>
</div>
</div>
{%endfor%}
{%endif%}

{% schema %}
  {
    "name": "Read More",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      }


		]
,

		"blocks" : [
			{
				"type": "readmore",
				"name": "Read More",
				"settings": [
					
{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        				"id": "image",
        				"type": "image_picker",
        				 "label": "Image"
      				 },
					{
        				"id": "heading",
        				"type": "text",
        				"label": "Heading",
        				"default": "Title"
      				},
      				{
       					 "id": "text",
        				"type": "textarea",
       					 "label": "Description"
      				},
					{
       					 "id": "url",
        				"type": "textarea",
       					 "label": "Read More URL"
      				},
										

					
					{
						"id":"left",
						 "type":"checkbox",
						"default":true,
						"label":"Uncheck to display Image on right"
					},
					{
       					 "id": "color",
        				"type": "text",
       					 "label": "Section Background Color"
      				}
				]
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
