{% if section.settings.show_related %}
<div class="contents step-by-step">
<div class="grid box page-width">

<div class="grid__item medium-up--one-half">
<h2>{{section.settings.heading}}</h2>
<div class="sub-contents">{{section.settings.para}}</div>
<ul>
  {% assign paragraphs = section.settings.text | newline_to_br | split: '<br />'%}
{% for paragraph in paragraphs %}
<li>{{ paragraph }}</li>
  {% endfor %}

</ul>
</div>
  <div class="grid__item medium-up--one-half">
  
      <div class="video-box">
        <div class="video-wrapper">
          {% if section.settings.image %}
            <img src="{{section.settings.image | img_url:'1920x'}}" />
          {% else %}
          {% if section.settings.video_url == blank %}
            {%if section.settings.url == blank%}
              <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="720" height="450" frameborder="0" allowfullscreen></iframe>
            {%else%}
              <video  controls autoplay muted>
  					    <source src="{{section.settings.url}}" type="video/mp4">
						  </video>
            {%endif%}
            {% else %}
              {% if section.settings.video_url.type == "youtube" %}
                <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen; autoplay;mute></iframe>
              {% endif %}
              {% if section.settings.video_url.type == "vimeo" %}
                <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
              {% endif %}
        {% endif %}
         {% endif %}
                   
                  
                  </div>
      			
             {%comment%}  <div class="title-box"><p> Simple,Secure,Smart Home Monitoring With Any Wired Alaram System</p></div>{%endcomment%}
            </div>
  {%comment%}<img src="{{section.settings.image | img_url:'1920x'}}" alt="">{%endcomment%}</div>
</div>
</div>

{%endif%}

{% schema %}
  {
    "name": "Step-By-Step",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Video Image"
      	},
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
	  {
        "id": "para",
        "type": "textarea",
        "label": "Description"
      },
      {
        "id": "text",
        "type": "textarea",
        "label": "Step List"
      },
	  {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
      },
		{
        "id": "url",
        "type": "text",
        "label": "add Custom Video Link"
      	}
	


		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
