{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

<div class="integration-logos {{background_color}}">

<div class="logo-box">
<div class="logo-title">
	<h2 class="{{heading_color}} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
</div>
  
  <div class="logo-container page-width">
    {% for block in section.blocks %}
    <div class="solo-logo">
      <div class="img-container">
        <img src="{{ block.settings.image | img_url: '1920x' }}" alt="" />
      </div>
      <div class="logo-content">
				<p>{{block.settings.logo_content}}</p>
				</div>
    </div>
    {%endfor%}
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Leading Integrations",
    "settings": [
			{
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
		{
			"id": "heading",
        "type": "text",
        "label": "Alternative Heading",
        "default": "Title"
		}, 
		{
            "type": "select",
            "id": "heading_color",
            "label": "Alternative Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Alternative Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
		],
		"blocks" : [
			{
				"type": "logo",
				"name": "Add logo",
				"settings": [
					{
        				"id": "image",
        				"type": "image_picker",
       					"label": "Logo Image"
      				},
					{
						"type": "textarea",
						"id": "logo_content",
						"default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
						"label": "Text"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Integration Logos",
				"category": "list"
			}
		]
  }
{% endschema %}

{% style %}
.integration-logos {
    padding: 50px 0;
  }
	.integration-logos h2 {
		font-size: calc(var(--font-heading-scale) * 2.4rem);
		margin-bottom: 50px;
		text-align: center;
	}
	.logo-box .logo-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	.solo-logo .img-container {
		width: 100%;
		height: 20vh;
		border: 0.25px solid var(--brand-refresh-gray);
    border-radius: 20px;
		transition: .4s;
	}
	.solo-logo .img-container img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		padding: 20px;
	}
	.solo-logo .img-container:hover {
		transform: scale(1.03);
		box-shadow: 0px 0px 10px var(--brand-refresh);
	}
	@media(max-width: 786px){
		.logo-box .logo-container {
    grid-template-columns: repeat(3, 1fr);
  	}
	}
	@media(max-width: 650px) {
    .logo-box .logo-container {
    grid-template-columns: repeat(2, 1fr);
  	}
  }
{% endstyle %}