<link rel="stylesheet" href="{{ 'k-quick-buy-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

  <div class="quick-buy {{background_color}}">
    <div class="quick-buy-box page-width">

      <div class="quick-buy-content page-width">
          <div class="quick-buy-title">
            <h2 class="{{heading_color}} {{heading_font_weight}}">{{section.settings.heading}}</h2>
          </div>
          <div class="quick-buy-description">
            <p>
              {{section.settings.description}}
            </p>
          </div>
      </div>

      <div class="quick-variants page-width">
        
        {% if product.has_only_default_variant %}
          <!-- Pro kits with Quantity Breaks-->
          {% assign quantity_breaks = "1|0|8,2|1000|9,3|2000|10,5|3000|11" | split: "," %}
          {% for qty_discount in quantity_breaks %}
            {% assign qty = qty_discount | split: "|" %}
            <div class="quick-product-box" data-variant-id="{{ product.selected_or_first_available_variant.id }}" data-qty="{{ qty[0] }}">
              <div class="product-title">
                <h3>{{ 12 | times: qty[0] }} Zones</h3>
              </div>
              {% assign img_index = qty[2] | times: 1 %}
              <img src="{{product.images[img_index] | img_url:'master'}}">
              <div class="price product-price">
                <span class="product-price__price">{{ product.price | minus: qty[1] | times: qty[0] | money_without_trailing_zeros }}
                  </span>
                  {% assign discount = qty[1] | times: qty[0] %}
                  {% if discount > 0 %}
                  <span class="product-price__sale-label">Save
                    {{ discount | money_without_trailing_zeros }}
                  </span>
                  {% endif %}
              </div>
              {% render 'buy-buttons', product: product %}
            </div>
          {% endfor %}

        {% else %}
        <!-- Regular Product Variants / Starter kits -->
          {% for variant in product.variants %}        
            <div class="quick-product-box" data-variant-id="{{ variant.id }}">
              <div class="product-title">
                <h3>{{ variant.title }}</h3>
              </div>
              <img src="{{variant.image | img_url:'master'}}">
              <div class="price product-price">
                {% if qb_variant_min > 1 %}
                  <span class="product-price__price">{{variant.price | times: qb_variant_min | money_without_trailing_zeros }}
                  </span>
                  <span class="shipdelay">Save
                    {{ variant.price | minus: product.selected_or_first_available_variant.compare_at_price | times: qb_variant_min | abs | money_without_trailing_zeros }}
                  </span>
                {% else %}
                  <span class="product-price__price">{{variant.price | money_without_trailing_zeros }}
                  </span>
                  {% if variant.compare_at_price > variant.price %}
                    <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>                
                  {% endif %}
                {% endif %}
              </div>
              {% render 'buy-buttons', product: product %}            
            </div>
          {% endfor %}
        {% endif  %}
      </div>
    </div>
  </div>
  <script>
    $('.quick-product-box', '.quick-variants').each(function(i){
      let $this = $(this);
      $('input.product-variant-id', this).val($this.data('variant-id'));
      if ($this.data('qty')) {
        $('form', this).append( $('<input></input>').attr('type', 'hidden').attr('name', 'quantity').val($this.data('qty')) );
      }
    });
  </script>

{% schema %}
  {
    "name": "Quick Buy",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }, {
        "id": "description",
        "type": "textarea",
        "label": "Section Description"
      }
    ],
    "presets": [
      {
        "name": "Quick Buy"
      }
    ]
  }
{% endschema %}
