{% if section.settings.show_related %}
<div class="contents automation">
  <div class="grid box page-width">
    <div class="grid__item medium-up--one-half">
      <img src="{{ section.settings.image | img_url: '1920x' }}" alt="" />
    </div>
    <div class="grid__item medium-up--one-half">
      <h2>{{ section.settings.heading }}</h2>
      <p class="sub-contents">{{ section.settings.text }}</p>
      <div class="auto-box">
        {%for block in section.blocks%}
        <div class="medium-up--one-third small--one-half">
          <div class="auto-title">{{ block.settings.list_title }}</div>

          <div class="auto-list">
            <ul>
              {% assign paragraphs = block.settings.list_content | newline_to_br
              | split: '<br />'%} {% for paragraph in paragraphs %}
              <div class="flex">
                <div class="checkmark"> <span class="blue-font"> &#10003; </span> </div> 
                <li>{{ paragraph }}</li>
              </div>
              {% endfor %}
            </ul>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

{%endif%}


{% schema %}
  {
    "name": "Automation",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      	},
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text Right Column"
      }


		],
	"blocks" : [
			{
				"type": "list",
				"name": "Add Content",
				"settings": [
					{
						"type": "text",
						"id": "list_title",
						"default": "Content Title",
						"label": "Title"
					},
					{
						"type": "richtext",
						"id": "list_content",
						"label": "Text"
					}
				]
			}
		]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
