<link rel="stylesheet" href="{{ 'k-quick-buy-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

  <div class="quick-buy {{background_color}}">
    <div class="quick-buy-box page-width">

      <div class="quick-buy-content page-width">
          <div class="quick-buy-title">
            <h2 class="{{heading_color}} {{heading_font_weight}}">{{section.settings.heading}}</h2>
          </div>
          <div class="quick-buy-description">
            <p>
              {{section.settings.description}}
            </p>
          </div>
      </div>

      <div class="quick-variants page-width">
        {% include 'bold-product' with product, hide_action: 'break' %}
        <!-- Regular Product Variants -->

        {% for variant in product.variants %}
          {% if variant.sku contains "PRO" %}
            {% assign qb_variant_min = variant.option1 | slice: -2 | floor | at_least: 1 %}
          {% endif %}

          {% include 'bold-variant' with variant %}
          
          <div class="quick-product-box">
            <div class="product-title">
              {% if qb_variant_min %}
                <h3>{{ qb_variant_min | times: 12 }}
                  Zones —
                  {{ qb_variant_min }}
                  {{ qb_variant_min | pluralize: 'Kit', 'Kits'}}
                </h3>
              {% else %}
                <h3>{{ variant.title }}</h3>
              {% endif %}
            </div>

            <img src="{{variant.image | img_url:'master'}}">

            <div class="product-price">
              {% if qb_variant_min > 1 %}
                <span class="product-price__price">{{variant.price | times: qb_variant_min | money_without_trailing_zeros }}
                </span>
                {% if bold_selected_or_first_available_variant.compare_at_price > bold_selected_or_first_available_variant.price %}
                  <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
                {% endif %}
                <span class="shipdelay">Save
                  {{ variant.price | minus: bold_selected_or_first_available_variant.compare_at_price | times: qb_variant_min | abs | money_without_trailing_zeros }}
                </span>
              {% else %}
                <span class="product-price__price">{{variant.price | money_without_trailing_zeros }}
                </span>
                {% if variant.compare_at_price > variant.price %}
                  <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>                
                {% endif %}
              {% endif %}
            </div>

            {% form 'product', product %}
              <div class="product-add">
                <input type="hidden" name="quantity" value="{{ qb_variant_min }}" pattern="[0-9]*"/>
                <input type="hidden" name="id" value="{{ bold_selected_or_first_available_variant.id }}"/>
                <button type="submit" class="atc" {% unless product.available %}disabled="disabled"{% endunless %}>
                  {% if product.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </button>
              </div>
            {% endform %}
            
          </div>
        {%endfor%}
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "Infinitely Expandable",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }, {
        "id": "description",
        "type": "textarea",
        "label": "Section Description"
      }


    ]
  }
{% endschema %}
