{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

<div class="tech-specs {{background_color}}">
	<div class="page-width">

		<div class="tech-title">
			<h2 class="{{heading_color}} {{heading_font_weight}} text-center">{{section.settings.heading}}</h2>
		</div>
			
		<div class="tech-content-container grid-auto-flow">
			{% for block in section.blocks %}
				<div class="tech-content" >
					{{ block.settings.text }}
				</div>
			{%endfor%}
		</div>
	</div>
</div>

{% schema %}
  {
    "name": " Technical Specs",
    "settings": [
			{
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
			{
        "id": "heading",
        "type": "text",
        "label": "Alternative Heading",
        "default": "Alternative Heading"
      },
			{
				"type": "select",
				"id": "heading_color",
				"label": "Alternative Heading Font Color",
				"default": "blue",
				"options": [
					{
						"value": "blue",
						"label": "Blue"
					},
					{
						"value": "dark-blue",
						"label": "Dark Blue"
					},
					{
						"value": "gray",
						"label": "Gray"
					},
					{
						"value": "dark-gray",
						"label": "Dark Gray"
					}, {
						"value": "white",
						"label": "White"
					}, {
						"value": "dark",
						"label": "Dark"
					}
				]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Alternative Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }
		],

		"blocks" : [
			{
				"type": "facts",
				"name": "Add Specs",
				"settings": [
					{
						"type": "richtext",
						"id": "text",
						"default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
						"label": "Text"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Technical Specs"
			}
		]
  }
{% endschema %}

{% style %}
	.tech-specs {
		padding: 50px 0;
	}
	.tech-content {
		padding: 20px;
	}
	.tech-specs h2 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

@media(max-width: 1000px) {
	.tech-specs .page-width {
		padding: 0 3rem;
	}
}

@media(max-width: 786px) {
	.tech-content-container {
		grid-auto-flow: row;
	}
	.tech-content {
		border-top: 1px solid var(--brand-refresh-gray);
	}
}
{% endstyle %}