<link rel="stylesheet" href="{{ 'k-features-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

<div class="features {{background_color}}">
  <div class="features-box page-width">

    <div class="features-title">
      <h2 class="{{heading_color}} {{heading_font_weight}} text-center">{{section.settings.heading}}</h2>
    </div>
    <div class="features-images-container{% if section.settings.image_two == blank %} grid-one-col{% else %} grid-two-col{% endif %} align-center">

<div class="features-images img-one">
        <img src="{{ section.settings.image_one | img_url:'1920x' }}" alt="">
      </div>

      {% if section.settings.image_two %}
        <div class="features-images img-two">
          <img src="{{ section.settings.image_two | img_url:'1920x' }}" alt="">
        </div>
      {% endif %}
    </div>
    
    <div class="features-bullets">
      {{ section.settings.text }}
    </div>
  </div>
</div>

{% style %}
  .features .img-one img {
    width: {{ section.settings.img_one_size }}vw;
  }
  .features .img-two img {
    width: {{ section.settings.img_two_size }}vw;
  }
  .features-bullets li::marker {
    color: {{ section.settings.bullet_color }};
  }
  .features-bullets li {
    list-style-type: disc;
    margin:0 20px;
    color: {{ section.settings.list_color }};
  }
  @media(max-width: 1200px) {
  .features .features-images img {
    width: calc({{ section.settings.img_one_size }}vw + 4vw);
  }
  .features .img-two img {
    width: {{ section.settings.img_two_size }}vw;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Features",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Alternative Heading",
        "default": "Title"
      },
      {
				"type": "select",
				"id": "heading_color",
				"label": "Alternative Heading Font Color",
				"default": "blue",
				"options": [
					{
						"value": "blue",
						"label": "Blue"
					},
					{
						"value": "dark-blue",
						"label": "Dark Blue"
					},
					{
						"value": "gray",
						"label": "Gray"
					},
					{
						"value": "dark-gray",
						"label": "Dark Gray"
					}, {
						"value": "white",
						"label": "White"
					}, {
						"value": "dark",
						"label": "Dark"
					}
				]
      },
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Alternative Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
		  {
        "id": "image_one",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "img_one_size",
        "min":  1,
        "max":  50,
        "step":  1,
        "unit": "vw" ,
        "label": "Image One Size",
        "default":  20
      },
      {
        "id": "image_two",
        "type": "image_picker",
        "label": "Image Secondary"
      },
      {
        "type": "range",
        "id": "img_two_size",
        "min":  1,
        "max":  50,
        "step":  1,
        "unit": "vw" ,
        "label": "Image Two Size",
        "default":  20
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "List Features"
      },
      {
        "type": "color",
        "id": "list_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "bullet_color",
        "label": "Bullet Color",
        "default": "#000000"
      }
		],
    "presets": [
      {
        "name": "Features"
      }
    ]
  }
{% endschema %}
