{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    #shopify-section-{{ section.id }} .content-container {
        width: 100%;
    }
    #shopify-section-{{ section.id }} .banner__heading {
        margin-top: 0;
    }

    .vector-image-quality svg {
        display: block;
    }
    #shopify-section-{{ section.id }} .banner {
        position: relative;
    }

    .support-inner {
        display: flex;
        gap: 1.5rem;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .support-inner h3 {
        margin: 0;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
    }
    .support-inner svg {
        display: block;
    }


    @media screen and (max-width: 749px) {
        .vector-image-quality.viq-1 {
            right: 10rem;
            top: 2rem;
        }
        .vector-image-quality.viq-2 {
            left: 3rem;
            top: 2rem;
        }
        .vector-image-quality.viq-3 {
            bottom: 2rem;
            right: 5rem;
        }
        .support-inner svg {
            width: 1.1rem;
        }
        .support-inner h3 {
            font-size: 1.5rem;
        }
        .supports-wrapper {
            margin-top: 1.5rem;
        }
        .support-item:last-child .support-inner {
            margin-bottom: 0;
        }

        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before,
        #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
            padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
        }
    }

    @media screen and (min-width: 750px) {
        .vector-image-quality.viq-1 {left: 47rem;top: 10rem;}

        .vector-image-quality.viq-2 {
            left: 18rem;
            top: 14rem;
        }

        .vector-image-quality.viq-3 {
            bottom: 10rem;
            left: 10rem;
        }

        .support-inner h3 {
            font-size: 22px;
        }
        #shopify-section-{{ section.id }} .banner__heading {
            max-width: 30rem;
        }
        #shopify-section-{{ section.id }} .grid__item:first-child {
            width: calc(33.3% - var(--grid-desktop-horizontal-spacing) / 2);
        }
        #shopify-section-{{ section.id }} .grid__item:last-child {
            width: calc(66.7% - var(--grid-desktop-horizontal-spacing) / 2);
        }
        #Banner-{{ section.id }}::before,
        #Banner-{{ section.id }} .banner__media::before,
        #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
            padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
        }
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}
{%- liquid
    if section.settings.image_behavior == 'ambient'
      assign half_width = '60vw'
      assign full_width = '120vw'
      assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
      assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
    else
      assign half_width = '50vw'
      assign full_width = '100vw'
      assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
      assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    endif
  -%}

{% capture vectors %}
    <div class="vector-image-quality viq-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
            <path d="M8.2627 0V15.774" stroke="white" stroke-width="3"/>
            <path d="M16.5254 7.51141L0.000276864 7.51141" stroke="white" stroke-width="3"/>
        </svg>
    </div>
    <div class="vector-image-quality viq-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none">
            <g clip-path="url(#clip0_456_1520)">
            <path d="M11.3396 10.5336C11.4372 10.6319 11.5573 10.6849 11.6848 10.6849C11.8049 10.6849 11.9325 10.6319 12.0301 10.5336L16.4729 5.79236C16.4729 5.79236 16.4729 5.79236 16.4729 5.7848C16.7956 5.43695 17.0433 5.01349 17.2009 4.54466C17.3209 4.18169 17.3885 3.79604 17.3885 3.39526C17.3885 1.51993 15.9701 0 14.229 0C13.1708 0 12.2477 0.559575 11.6698 1.42162C11.092 0.567137 10.1689 0 9.11069 0C7.36958 0 5.95117 1.51993 5.95117 3.39526C5.95117 3.78848 6.01121 4.16657 6.13129 4.52197C6.26637 4.92275 6.4615 5.29328 6.71666 5.61088C6.82173 5.73943 6.9268 5.85285 7.04687 5.96628L11.3321 10.5412L11.3396 10.5336ZM6.89678 4.23462C6.80672 3.9624 6.76169 3.68261 6.76169 3.39526C6.76169 2.7147 7.00935 2.0795 7.45213 1.60311C7.89491 1.12671 8.48779 0.862048 9.11069 0.862048C10.0263 0.862048 10.8668 1.44431 11.2571 2.35173C11.3321 2.52565 11.4897 2.63908 11.6698 2.63908C11.8499 2.63908 12.0075 2.52565 12.0826 2.35173C12.4653 1.44431 13.3059 0.862048 14.229 0.862048C14.8519 0.862048 15.4447 1.12671 15.8875 1.60311C16.3303 2.0795 16.578 2.72226 16.578 3.39526C16.578 3.69017 16.5329 3.97752 16.4354 4.25731C16.3153 4.60515 16.1277 4.92275 15.88 5.19498L11.6698 9.6867L7.60973 5.35377L7.58722 5.33109C7.49716 5.24791 7.4071 5.1496 7.32455 5.0513C7.12942 4.80932 6.98683 4.5371 6.88927 4.24219L6.89678 4.23462Z" fill="white"/>
            <path d="M25.4411 15.4413C25.3435 15.3052 25.1859 15.2296 25.0208 15.2296C23.7375 15.2296 22.8594 14.5339 21.8463 13.7247C21.6286 13.5508 21.4035 13.3693 21.1708 13.1954C20.2327 12.4922 19.0395 11.7662 17.3284 11.7662C16.5929 11.7662 16.0301 11.7662 15.5648 11.7889H11.9625C11.1519 11.7889 10.4915 12.4846 10.4915 13.3391C10.4915 14.1936 11.1519 14.8893 11.9625 14.8893H15.2946C15.7224 14.9876 16.0301 15.3959 16.0301 15.8874C16.0301 16.2353 15.865 16.5604 15.5948 16.7495L14.364 17.0973C13.9512 17.2032 13.531 17.3242 13.0882 17.4603L13.0056 17.483C10.7167 18.1333 9.93617 18.3526 9.69601 18.4131C9.60596 18.4131 9.5234 18.4131 9.46336 18.4055L4.24003 14.7683L3.28692 14.0272C3.28692 14.0272 3.24939 14.0045 3.23439 13.9894C3.18185 13.9592 3.12932 13.9214 3.07678 13.8911C2.97172 13.8306 2.87416 13.7928 2.76158 13.755C2.67903 13.7323 2.59648 13.7096 2.49892 13.6945C2.24375 13.6567 2.06364 13.6643 1.8535 13.7021C0.795328 13.8155 0.00732422 14.738 0.00732422 15.8572C0.00732422 16.4243 0.217458 16.9612 0.592698 17.3695C0.600203 17.3771 0.607708 17.3922 0.615213 17.3998C0.757804 17.5435 0.907899 17.6645 1.073 17.7628L9.75605 24.523C9.80108 24.5608 9.85361 24.5835 9.91365 24.6062L10.0037 24.644C10.2739 24.7423 10.529 24.7953 10.7767 24.7953C10.9268 24.7953 11.0844 24.7801 11.242 24.7423C11.2495 24.7423 11.2645 24.7423 11.272 24.7348H11.3095C14.424 23.8727 20.0376 22.3377 22.7093 21.6344C22.7318 21.6344 22.7468 21.6193 22.7619 21.6193L22.9345 21.5512C23.8576 21.3017 24.6005 21.1656 25.0133 21.1656C25.2985 21.1656 25.5311 20.9312 25.5311 20.6438V20.3035C25.5311 20.3035 25.5386 20.243 25.5311 20.2128V15.8572C25.5461 15.7211 25.5161 15.5774 25.4336 15.464L25.4411 15.4413ZM24.4955 20.1372C24.0077 20.1977 23.3848 20.3262 22.6343 20.5304C22.6193 20.5304 22.5968 20.538 22.5817 20.5455L22.4166 20.6136C19.7374 21.3244 14.1389 22.8519 11.0394 23.6988H11.0169C10.7992 23.7517 10.5966 23.729 10.3789 23.6534L10.3339 23.6383L1.68089 16.9083C1.68089 16.9083 1.63586 16.878 1.61335 16.8629C1.5308 16.8175 1.44824 16.7495 1.36569 16.6739C1.36569 16.6739 1.35819 16.6663 1.35068 16.6587C1.14805 16.447 1.03548 16.1597 1.03548 15.8572C1.03548 15.2674 1.44074 14.791 1.96608 14.738C1.98859 14.738 2.0111 14.738 2.02611 14.7305C2.12368 14.7078 2.23625 14.7078 2.3188 14.7305C2.35632 14.7305 2.40135 14.7456 2.43137 14.7532C2.4689 14.7683 2.52143 14.791 2.56646 14.8137C2.59648 14.8288 2.6265 14.8515 2.65652 14.8666C2.65652 14.8666 2.66402 14.8666 2.67153 14.8666L3.60963 15.5925C3.60963 15.5925 3.62463 15.6001 3.63214 15.6076L8.95304 19.3129C9.00557 19.3507 9.05811 19.3734 9.11814 19.3886C9.31327 19.4415 9.53841 19.4566 9.80108 19.4415C9.8311 19.4415 9.86862 19.4415 9.89864 19.4264C10.1463 19.3659 11.2795 19.0483 13.2833 18.4736L13.3809 18.4433C13.8161 18.3072 14.2214 18.1938 14.6342 18.0879L15.9475 17.7098C15.9925 17.6947 16.0301 17.6796 16.0676 17.6569C16.683 17.2939 17.0657 16.6058 17.0657 15.8647C17.0657 14.8515 16.3753 13.997 15.4297 13.8306C15.3997 13.8306 15.3696 13.8231 15.3396 13.8231H11.9625C11.7223 13.8231 11.5272 13.5962 11.5272 13.324C11.5272 13.0517 11.7223 12.8249 11.9625 12.8249H15.5798C16.0376 12.8098 16.6154 12.8022 17.3284 12.8022C18.7318 12.8022 19.7074 13.3845 20.5479 14.0197C20.7656 14.186 20.9832 14.3599 21.1934 14.5263C22.1465 15.2825 23.1221 16.0614 24.4805 16.2277V20.0994C24.4805 20.0994 24.4805 20.1145 24.4805 20.1221L24.4955 20.1372Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_456_1520">
            <rect width="25.5388" height="24.7877" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </div>
    <div class="vector-image-quality viq-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
            <path d="M5.23779 0V10" stroke="white" stroke-width="3"/>
            <path d="M10.4761 4.7619L-0.000115842 4.7619" stroke="white" stroke-width="3"/>
        </svg>
    </div>
{% endcapture %}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
    {{ vectors }}
    <div class="banner banner--adapt" id="Banner-{{ section.id }}">
        {% if section.settings.image_mobile != blank %}
            <div class="banner__media medium-hide large-up-hide media">
                {%- liquid
                assign image_height = section.settings.image_mobile.width | divided_by: section.settings.image.aspect_ratio
                    assign sizes = full_width
                -%}
                {{
                    section.settings.image_mobile
                | image_url: width: 3840
                | image_tag:
                    loading: 'lazy',
                    width: section.settings.image_mobile.width,
                    height: image_height,
                    class: image_class,
                    sizes: sizes,
                    widths: widths
                }}
            </div>
        {% endif %}
        {%- if section.settings.image != blank -%}
            <div class="banner__media {% if section.settings.image_mobile != blank %}small-hide{% endif %} media{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {%- liquid
                assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
                assign sizes = full_width
            -%}
            {{
                section.settings.image
                | image_url: width: 3840
                | image_tag:
                loading: 'lazy',
                width: section.settings.image.width,
                height: image_height,
                class: image_class,
                sizes: sizes,
                widths: widths
            }}
            </div>
        {%- endif -%}
        <div class="banner__content {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <div class="content-container content-container--full-width-mobile">
                <div class="page-width">
                    <div class="section-{{ section.id }}-padding">
                        <div class="grid align-center grid--1-col grid--2-col-tablet">
                            <div class="grid__item">
                                {% if section.settings.heading %}
                                    <h2 class="banner__heading inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
                                {% endif %}
                            </div>
                            <div class="grid__item">
                                <div class="supports-wrapper">
                                    {% for block in section.blocks %}
                                        <div class="support-item">
                                            <div class="support-inner">
                                                {% if block.settings.text %}
                                                    <div>
                                                        {% render 'icon-check-circle' %}
                                                    </div>
                                                    <div>
                                                        <h3 class="h3">{{ block.settings.text }}</h3>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "K Support Partners",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "default": "Image banner",
                "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
            },
            {
                "type": "select",
                "id": "heading_size",
                "options": [
                  {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                  },
                  {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                  },
                  {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                  }
                ],
                "default": "h1",
                "label": "t:sections.all.heading_size.label"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.image-banner.settings.image.label"
            },
            {
                  "type": "image_picker",
                  "id": "image_mobile",
                  "label": "Mobile Background Image"
            },
            {
                "type": "select",
                "id": "color_scheme",
                "options": [
                  {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                  },
                  {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                  },
                  {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                  },
                  {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                  },
                  {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                  }
                ],
                "default": "background-1",
                "label": "t:sections.all.colors.label",
                "info": "t:sections.all.colors.has_cards_info"
            },
            {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 36
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "K Support Partners"
            }
        ]
    }
{% endschema %}