{% if section.settings.show_related %}
  <div class="video-two-col">
    <div class="grid align-center page-width video-two-col-content">
      <div class="grid__item">
        <h2>{{ section.settings.heading }}</h2>

        <div class="sub-contents">{{ section.settings.para }}</div>
      </div>
      <div class="grid__item">
        <div class="video-box">
          <div class="video-wrapper">
            {% if section.settings.image %}
              <img src="{{ section.settings.image | img_url: '1920x' }}" />
            {% else %}
              {% if section.settings.video_url == blank %}
                {% if section.settings.url == blank %}
                  <iframe
                    src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720"
                    width="720"
                    height="480"
                    frameborder="0"
                    allowfullscreen></iframe>
                {% else %}
                  <video
                    controls
                    autoplay
                    muted>
                    <source src="{{ section.settings.url }}" type="video/mp4" />
                  </video>
                {% endif %}
              {% else %}
                {% if section.settings.video_url.type == "youtube" %}
                  <iframe
                    src="//www.youtube.com/embed/{{
                                                                                        section.settings.video_url.id
                                                                                      }}?rel=0&showinfo=0&vq=720"
                    width="850"
                    height="480"
                    frameborder="0"
                    allowfullscreen;
                    autoplay;mute></iframe>
                {% endif %}
                {% if section.settings.video_url.type == "vimeo" %}
                  <iframe
                    src="//player.vimeo.com/video/{{
                                                                                        section.settings.video_url.id
                                                                                      }}?byline=0&portrait=0&badge=0"
                    width="850"
                    height="480"
                    frameborder="0"
                    allowfullscreen></iframe>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="partners-logos page-width">
      {% for block in section.blocks %}
        <div class="grid__item">
          <div class="">
            <a href="{{ block.settings.block_url }}" target="_blank">
              <img src="{{ block.settings.image | img_url: '1920x' }} " class="partners-logo" />
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endif %}
{% schema %}
  {
    "name": "DIY Solution",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_related",
        "label": "Show Section",
        "default": true
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Video Image"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": "YouTube or Vimeo link",
        "accept": ["youtube", "vimeo"]
      },
      {
        "id": "url",
        "type": "text",
        "label": "add Custom Video Link"
      }, {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "id": "para",
        "type": "richtext",
        "label": "Text"
      }, {
        "id": "image1",
        "type": "image_picker",
        "label": "Text Image"
      }



    ],
    "blocks": [
      {
        "type": "icon-block",
        "name": "Add Logos",
        "settings": [

          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "block_url",
            "label": "Image Url"
          },

          {
            "type": "text",
            "id": "image_width",
            "label": "Image Width"
          },
          {
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          }, {
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(".partners-logos").slick({
    dots: false,
    infinite: true,
    speed: 1000,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
</script>

{% style %}
  .video-two-col-content {
    padding: 100px 50px 50px;
    row-gap: 30px;
  }
  .video-wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .video-wrapper img {
    width: 100%;
  }

  @media(max-width: 786px) {
    .video-two-col-content {
      flex-direction: column;
      row-gap: 15px;
      padding: 50px 20px;
    }
    .video-two-col-content .grid__item {
      width: 100%;
      max-width: 90%;
    }
  }
{% endstyle %}