<link
  rel="stylesheet"
  href="{{ 'k-two-column-styles.css' | asset_url }}"
  media="print"
  onload="this.media='all'">


{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}
{% assign para_background = "bg-" | append: section.settings.para_background %}
{% assign cta_bg = "bg-" | append: section.settings.cta_bg %}
{% assign cta_color = "brand-" | append: section.settings.cta_color %}

<div class="two-col {{background_color}}">
  {% if section.settings.heading != blank %}
    <h2 class="heading text-center {{heading_color}}">{{ section.settings.heading }}</h2>
  {% endif %}
  {% if section.settings.subheading != blank %}
    <h3 class="subheading text-center {{subheading_color}}">{{ section.settings.subheading }}</h3>
  {% endif %}

  <div class="two-col-box page-width">
    {% if img_placement == 'right' %}
      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
        {% endif %}
        <div class="two-col-para {{para_background}}">
          {{ section.settings.text }}
        </div>
        {% if section.settings.cta_text != blank %}
            <div class="two-col-button">
                <a href="{{ section.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}">{{ section.settings.cta_text }}</a>
            </div>
        {% endif %}
      </div>

      <div class="img-container">
        <img src="{{ section.settings.image | img_url: '1920x' }}" alt="" />
      </div>
    {% endif %}

    {% if img_placement == 'left' %}
      <div class="img-container">
        <img src="{{ section.settings.image | img_url: '1920x' }}" alt="" />
      </div>
      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
        {% endif %}
        <div class="two-col-para {{para_background}}">
          {{ section.settings.text }}
        </div>
        {% if section.settings.cta_text != blank %}
            <div class="two-col-button {{cta_bg}}">
              <a href="{{ section.settings.cta_link }}" class="{{cta_color}}">{{ section.settings.cta_text }}</a>
            </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% style %}
  .two-col .heading {
    font-size: {{ section.settings.heading_font_size }}px;
  }
  .two-col .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
  .two-col .alt-heading {
    font-size: {{ section.settings.alt_heading_font_size }}px;
  }
  .two-col-para {
    font-size: {{ section.settings.text_font_size }}px;
    padding:  {{ section.settings.para_padding }}px;
  }
  .two-col {
    padding:  {{ section.settings.section_padding }}px 0px;
  }
{% endstyle %}


{% schema %}
  {
    "name": "Two Column",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  150,
        "step":  2,
        "unit": "px" ,
        "label": "Top & Bottom Padding",
        "default":  50
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "range",
        "id": "heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Heading Font size",
        "default": 32
      }, {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      }, {
        "type": "select",
        "id": "subheading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "range",
        "id": "subheading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Sub Heading Font size",
        "default": 24
      }, {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      }, {
        "type": "select",
        "id": "alt_heading_color",
        "label": "Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      }, {
        "type": "range",
        "id": "alt_heading_font_size",
        "min": 18,
        "max": 68,
        "step": 2,
        "unit": "px",
        "label": "Alternate Heading Font size",
        "default": 28
      }, {
        "id": "text",
        "type": "richtext",
        "label": "Bullets"
      }, {
        "type": "range",
        "id": "text_font_size",
        "min":  18,
        "max":  68,
        "step":  2,
        "unit": "px" ,
        "label": "Paragraph Font size",
        "default":  20
      },
      {
        "type": "select",
        "id": "para_background",
        "label": "Paragraph Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "para_padding",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
            "type": "text",
            "id": "cta_text",
            "label": "Button Text"
          }, {
            "type": "text",
            "id": "cta_link",
            "label": "Button Link"
          }, {
            "type": "select",
            "id": "cta_bg",
            "label": "Button Background Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "lighter-blue",
                "label": "Light Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "gray-clear",
                "label": "Gray Clear"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "white-clear",
                "label": "White Clear"
              }
            ]
          }, {
            "type": "select",
            "id": "cta_color",
            "label": "Button Text Color",
            "default": "white",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }
    ],
    "presets": [
      {
        "name": "Two Column",
        "category": "columns"
      }
    ]
  }
{% endschema %}

{% javascript  %}
{% endjavascript %}