<link rel="stylesheet" href="{{ 'k-two-col-two-list-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}

<div class="two-col-two-list {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}

  <div class="two-col-two-list-box page-width">
    {% if img_placement == 'right' %}
      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h2 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h2>
        {% endif %}
        {{ section.settings.text }}
        <div class="list-all">
          {% for block in section.blocks %}
          <div class="{{ block.id }} list">
            <span>{{ block.settings.list_heading }}</span>
            {{ block.settings.list_text }}
          </div>
          {% endfor %}
      </div>
      <div class="img-container">
        <img src="{{ section.settings.image | img_url: '1920x' }}" alt="" />
      </div>
    {% endif %}

    {% if img_placement == 'left' %}
      <div class="img-container">
        <img src="{{ section.settings.image | img_url: '1920x' }}" alt="" />
      </div>
      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h2 class="{{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h2>
        {% endif %}
        {{ section.settings.text }}
        <div class="list-all">
          {% for block in section.blocks %}
            <div class="{{ block.id }} list">
              <span>{{ block.settings.list_heading }}</span>
              {{ block.settings.list_text }}
            </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Two Column Two Lists",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      }, 
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },{
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      },
      {
            "type": "select",
            "id": "alt_heading_color",
            "label": "Heading Font Color",
            "default": "blue",
            "options": [
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "dark-blue",
                "label": "Dark Blue"
              },
              {
                "value": "gray",
                "label": "Gray"
              },
              {
                "value": "dark-gray",
                "label": "Dark Gray"
              }, {
                "value": "white",
                "label": "White"
              }, {
                "value": "dark",
                "label": "Dark"
              }
            ]
      },
      {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text"
      }
    ],
    "blocks" : [
			{
				"type": "list",
				"name": "Add List",
				"settings": [
					{
        "id": "list_heading",
        "type": "text",
        "label": "List Heading One"
      },
      {
        "id": "list_text",
        "type": "richtext",
        "label": "List One"
      }
				]
			}
		],
    "presets": [
      {
        "name": "Two Column Two Lists",
        "category": "columns"
      }
    ]
  }
{% endschema %}