<link rel="stylesheet" href="{{ 'k-two-column-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign img_placement = section.settings.img_placement %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}
{% assign subheading_color = "brand-" | append: section.settings.subheading_color %}
{% assign subheading_font_weight = "font-weight-" | append: section.settings.subheading_font_weight %}
{% assign alt_heading_color = "brand-" | append: section.settings.alt_heading_color %}
{% assign alt_heading_font_weight = "font-weight-" | append: section.settings.alt_heading_font_weight %}
{% assign para_background = "bg-" | append: section.settings.para_background %}
{% assign cta_bg = "bg-" | append: section.settings.cta_bg %}
{% assign cta_color = "brand-" | append: section.settings.cta_color %}

<div class="two-col {{section.id}} {{background_color}}">

  <div class="headings-all page-width">
    {% if section.settings.heading != blank %}
      <h2 class="heading text-center {{heading_color}} {{heading_font_weight}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}} {{subheading_font_weight}}">{{ section.settings.subheading }}</h3>
    {% endif %}
  </div>
  

  <div class="two-col-box page-width">
    {% if img_placement == 'right' %}
      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
        {% endif %}
        <div class="two-col-para {{para_background}}">
          {{ section.settings.text }}
        </div>
        
        {% if section.settings.img_below_check != false%}
          <div class="img-below-container">
            <img src="{{ section.settings.img_below | img_url: '1920x' }}" alt=""/>
          </div>
        {% endif %}

        {% if section.settings.cta_text != blank %}
            <div class="two-col-button">
                <a href="{{ section.settings.cta_link }}" class="{{cta_color}} {{cta_bg}}" target="_blank">{{ section.settings.cta_text }}</a>
            </div>
        {% endif %}

        {% if section.settings.img_btn_one != blank or section.settings.img_btn_two != blank %}
          <div class="img-btns">
            {% if section.settings.img_btn_one != blank %}
                <div class="two-col-img-btn">
                  <a href="{{ section.settings.img_btn_one_link }}" target="_blank"><img src="{{ section.settings.img_btn_one | img_url: "master"}}" alt=""></a>
                </div>
            {% endif %}
            {% if section.settings.img_btn_two != blank %}
                <div class="two-col-img-btn">
                  <a href="{{ section.settings.img_btn_two_link }}" target="_blank"><img src="{{ section.settings.img_btn_two | img_url: "master" }}" alt=""></a>
                </div>
            {% endif %}
          </div>
        {%endif%}
        
      </div>

      {% if section.settings.image == blank and section.settings.counter == true%}
        <div class="counter-container">
          <h1>
            <span class="counter" data-count="100">0</span>%</h1>
          <div class="progress">
            <div class="progress-value"></div>
          </div>
          <span class="counter-text">Private. Local. DIY.</span>
        </div>
      {% else %}
        <div class="img-container">
          <img src="{{ section.settings.image | img_url: '1920x' }}" alt=""/>
        </div>
      {% endif %}

    {% endif %}

    {% if img_placement == 'left' %}
      {% if section.settings.image == blank and section.settings.counter == true%}
        <div class="counter-container">
          <h1>
            <span class="counter" data-count="100">0</span>%</h1>
          <div class="progress">
            <div class="progress-value"></div>
          </div>
          <span class="counter-text">Private. Local. DIY.</span>
        </div>
      {% else %}
        <div class="img-container">
          <img src="{{ section.settings.image | img_url: '1920x' }}" alt=""/>
        </div>
      {% endif %}

      <div class="bullet-container">
        {% if section.settings.alt_heading != blank %}
          <h3 class="alt-heading {{alt_heading_color}} {{alt_heading_font_weight}}">{{ section.settings.alt_heading }}</h3>
        {% endif %}

        <div class="two-col-para {{para_background}}">
          {{ section.settings.text }}
        </div>

        {% if section.settings.img_below_check != false%}
          <div class="img-below-container">
            <img src="{{ section.settings.img_below | img_url: '1920x' }}" alt=""/>
          </div>
        {% endif %}

        {% if section.settings.cta_text != blank %}
            <div class="two-col-button {{cta_bg}}">
              <a href="{{ section.settings.cta_link }}" class="{{cta_color}}" target="_blank">{{ section.settings.cta_text }}</a>
            </div>
        {% endif %}

        {% if section.settings.img_btn_one != blank or section.settings.img_btn_two != blank %}
          <div class="img-btns">
            {% if section.settings.img_btn_one != blank %}
                <div class="two-col-img-btn">
                  <a href="{{ section.settings.img_btn_one_link }}" target="_blank"><img src="{{ section.settings.img_btn_one | img_url: "master"}}" alt=""></a>
                </div>
            {% endif %}
            {% if section.settings.img_btn_two != blank %}
                <div class="two-col-img-btn">
                  <a href="{{ section.settings.img_btn_two_link }}" target="_blank"><img src="{{ section.settings.img_btn_two | img_url: "master" }}" alt=""></a>
                </div>
            {% endif %}
          </div>
        {%endif%}

      </div>
    {% endif %}
  </div>
</div>

{% style %}
  .two-col.{{section.id}} {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  .two-col.{{section.id}} .heading {
    margin-top: 0px;
  }
  .two-col.{{section.id}} .subheading {
    font-size: {{ section.settings.subheading_font_size }}px;
  }
  .two-col.{{section.id}} .alt-heading {
    font-size: {{ section.settings.alt_heading_font_size }}px;
  }
  .two-col.{{section.id}} .img-container {
    width: 100%;
    text-align: center;
    border-radius: {{ section.settings.img_border_radius }}px;
    overflow: hidden;
  }
  
{% endstyle %}

{% schema %}
  {
    "name": "Two Column",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          }, {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      },
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image Placement",
        "default": "left",
        "options": [
          {
            "value": "right",
            "label": "Right"
          }, {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "counter",
        "label": "Add Counter",
        "default": false
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Main Image"
      },
      {
        "type": "range",
        "id": "img_border_radius",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Image Rounded Edges",
        "default":  20
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, 
      {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "heading_font_weight",
        "label": "Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Sub Heading",
        "default": "Sub Title"
      }, {
        "type": "select",
        "id": "subheading_color",
        "label": "Sub Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "subheading_font_weight",
        "label": "Sub Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "alt_heading",
        "type": "text",
        "label": "Paragraph Heading",
        "default": "Paragraph Heading"
      }, {
        "type": "select",
        "id": "alt_heading_color",
        "label": "Paragraph Heading Font Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }, {
        "type": "select",
        "id": "alt_heading_font_weight",
        "label": "Paragraph Heading Font Weight",
        "default": "bold",
        "options": [
          {
            "value": "light",
            "label": "Light"
          }, {
            "value": "regular",
            "label": "Regular"
          }, {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Bullets"
      }, 
      {
        "type": "select",
        "id": "para_background",
        "label": "Paragraph Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "light-blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "para_padding",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Paragraph Padding",
        "default":  10
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text"
      }, {
        "type": "text",
        "id": "cta_link",
        "label": "Button Link"
      }, {
        "type": "select",
        "id": "cta_bg",
        "label": "Button Background Color",
        "default": "blue",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "lighter-blue",
            "label": "Light Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "gray-clear",
            "label": "Gray Clear"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "white-clear",
            "label": "White Clear"
          }
        ]
      }, {
        "type": "select",
        "id": "cta_color",
        "label": "Button Text Color",
        "default": "white",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "id": "img_btn_one",
        "type": "image_picker",
        "label": "Image Button One"
      },
      {
        "id": "img_btn_one_link",
        "type": "url",
        "label": "Image Button Two Link"
      },
      {
        "id": "img_btn_two",
        "type": "image_picker",
        "label": "Image Button Two"
      },
      {
        "id": "img_btn_two_link",
        "type": "url",
        "label": "Image Button One Link"
      },
      {
        "type": "checkbox",
        "id": "img_below_check",
        "label": "Add Image Below Text",
        "default": false
      }, {
        "id": "img_below",
        "type": "image_picker",
        "label": "Image Below Text"
      }
    ],
    "presets": [
      {
        "name": "Two Column",
        "category": "columns"
      }
    ]
  }
{% endschema %}