<link rel="stylesheet" href="{{ 'k-two-col-carousel-styles.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign background_color = "bg-" | append: section.settings.background_color %}
{% assign background_color_one = "bg-" | append: section.settings.background_color_one %}
{% assign background_color_two = "bg-" | append: section.settings.background_color_two %}
{% assign heading_color = "brand-" | append: section.settings.heading_color %}
{% assign heading_color_two = "brand-" | append: section.settings.heading_color_two %}
{% assign heading_font_weight = "font-weight-" | append: section.settings.heading_font_weight %}

<div class="two-col-carousel {{background_color}}">

  <div class="two-col-caro-box page-width">

    <div class="video-carousel {{background_color}}">
      <h2 class="text-center {{heading_color}}">{{ section.settings.heading_video }}</h2>
      <div class="video-caro-container page-width">
        {% for block in section.blocks %}
          {% if block.type == "video" %}
          <div class="video-box">
            <a href="{{ block.settings.url }}" target="_blank">
              <div class="playIcon">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="video cover"/>
              </div>
            </a>
            <a href="{{ block.settings.url }}" target="_blank">{{block.settings.heading}}</a>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <div class="article-carousel {{background_color}}">
      <h2 class="text-center {{heading_color_two}}">{{ section.settings.heading_article }}</h2>
      <div class="article-caro-container page-width">
        {% for block in section.blocks %}
          {% if block.type == "article" %}
          <div class="article-box">
            <a href="{{ block.settings.url }}" target="_blank">
              <div class="playIcon">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="video cover"/>
              </div>
            </a>
            <a href="{{ block.settings.url }}" target="_blank">{{block.settings.heading}}</a>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>


</div>

{% style %}
  .two-col-carousel {
    padding:  {{ section.settings.section_padding }}px 0px;
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Two Column Carousel",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_padding",
        "min":  0,
        "max":  100,
        "step":  2,
        "unit": "px" ,
        "label": "Section Padding",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_top",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Top",
        "default":  10
      },
      {
        "type": "range",
        "id": "section_margin_bottom",
        "min":  0,
        "max":  50,
        "step":  1,
        "unit": "px" ,
        "label": "Section Margin Bottom",
        "default":  10
      }, {
        "id": "heading_video",
        "type": "text",
        "label": "Video Header",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color",
        "label": "Video Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "id": "heading_article",
        "type": "text",
        "label": "article Header",
        "default": "Title"
      },
      {
        "type": "select",
        "id": "heading_color_two",
        "label": "Article Heading Font Color",
        "default": "dark-gray",
        "options": [
          {
            "value": "blue",
            "label": "Blue"
          },
          {
            "value": "dark-blue",
            "label": "Dark Blue"
          },
          {
            "value": "gray",
            "label": "Gray"
          },
          {
            "value": "dark-gray",
            "label": "Dark Gray"
          }, {
            "value": "white",
            "label": "White"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Video Image"
          }, {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Title"
          }, {
            "id": "url",
            "type": "text",
            "label": "Video URL"
          }
        ]
      },
      {
        "type": "article",
        "name": "Article",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Article Image"
          }, {
            "id": "heading",
            "type": "text",
            "label": "Article text",
            "default": "Description"
          }, {
            "id": "url",
            "type": "text",
            "label": "Article URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Two Column Carousel"
      }
    ]
  }
{% endschema %}


<script>
      $(".video-caro-container").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5500,
        cssEase: 'ease',
        responsive: [
          {
            breakpoint: 950,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
</script>

<script>
      $(".article-caro-container").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5500,
        cssEase: 'ease',
        responsive: [
          {
            breakpoint: 950,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
</script>