{{ 'kundenstimmen.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="color-{{ section.settings.color_scheme }} ks-SectionGrid ks-py-8 ks-pos-rel ks-bgcol-bg">
  <div class="ks-SectionGrid-Wide">
    <div class="ks-flex ks-row ks-jc-c ks-ai-c ks-mt-6 ks-mx-auto ks-ta-c">
      <h3 class="ks-mb-5 ks-mb-lg-8 ks-ff-heading ks-fs-7 ks-fs-lg-38px ks-lh-30px ks-lh-44px ks-fw-500 ks-fw-lg-400 ks-ls-m124 ks-mxw-md-500px ks-col-fg">
        {{ section.settings.title }}
      </h3>
    </div>
      {% comment %} Mobile/Tabler Slider {% endcomment %}      
      <div class="collection page-width page-width-desktop ks-ndesktop">
        <sleepink-slider class="slider-mobile-gutter">
          <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
            {% assign recensions = section.blocks | where: 'type', 'image' %}
            {%- for recension in recensions -%}
              <li class="grid__item slider__slide">
                <div class="ks-mnh-350px ks-grid ks-1col ks-gap-64px ks-py-8 ks-px-5">
                  <div class="ks-block ks-py-9 ks-px-8 ks-h-340px ks-h-lg-300px ks-bgcol-bg ks-col-fg">
                    <div class="ks-flex ks-row ks-jc-fs ks-ai-c">
                      {% comment %} Avatar of customer {% endcomment %}
                      <div class="ks-mr-3">
                        <img 
                          src="{{ recension.settings.image | img_url: '50x50' }}" 
                          alt="{{ recension.settings.image.alt }}" 
                          width="49" 
                          height="49"
                          loading="lazy"
                        >
                      </div>
                      {% comment %} Name of customer {% endcomment %}
                      <div>
                        <p class="ks-fs-3 ks-lh-116 ks-ff-body ks-fw-500">
                          <span>
                            {{ recension.settings.reviewer }}
                          </span>
                          {%- render 'logo-verified' -%}
                        </p>
                        <p class="ks-fs-0 ks-ff-body">über {{ recension.settings.source }}</p>
                      </div>
                    </div>
                    {% comment %} Sterne {% endcomment %} 
                    <div class="ks-flex ks-ai-c">
                      <div class="ks-flex ks-pos-rel">
                        {% assign missingStars = 5 | minus: recension.settings.rating %}
                        {% if recension.settings.rating > 0 %}
                          {% for i in (1..recension.settings.rating) %}
                            <span>
                              {%- render 'icon-star', currentColor: "#ffd900" -%}
                            </span>
                          {% endfor %}
                        {% endif %}
                        {% if missingStars > 0 %}
                          {% for j in (1..missingStars) %}
                            <span>
                              {%- render 'icon-star', currentColor: "#dddddd" -%}
                            </span>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    {% comment %} Review text {% endcomment %}
                    <div class="ks-col-fg ks-mt-5 ks-mt-md-4 ks-mt-lg-6 ks-fs-0 ks-lh-186">
                      {% if recension.settings.title %}
                        <h4>{{ recension.settings.title }}</h4>
                      {% endif %}
                      <p class="ks-fs-0 ks-lh-186">
                        {{ recension.settings.text }}
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if recensions.size > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden">
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ recensions.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
      {% comment %} End of Mobile Slider {% endcomment %}
      {% comment %} Desktop Slider {% endcomment %}
      {% liquid 
        assign numberOfSlidesRaw = recensions.size | divided_by: 2
        assign remainder = recensions.size | modulo: 2
        if remainder == 1
          assign numberOfSlides = numberOfSlidesRaw | plus: 1
        else
          assign numberOfSlides = numberOfSlidesRaw
        endif
      %}
      <div class="collection page-width page-width-desktop ks-desktop">
        <sleepink-slider class="slider-mobile-gutter">
          <ul class="grid slider slider--desktop grid--peek negative-margin negative-margin--small" role="list">
            {% assign recensions = section.blocks | where: 'type', 'image' %}
            {%- for i in (1..numberOfSlides) -%}
              <li class="grid__item slider__slide">
                <div class="ks-mnh-350px ks-grid ks-2col ks-gap-64px ks-py-8 ks-px-5">
                  {% for j in (0..1) %}
                    {% assign index = i | times: 2 | minus: 2 | plus: j %}
                    {% if index < recensions.size %}
                      <div class="ks-block ks-py-9 ks-px-8 ks-h-340px ks-h-lg-300px ks-bgcol-bg ks-col-fg">
                        <div class="ks-flex ks-row ks-jc-fs ks-ai-c">
                          {% comment %} Avatar of customer {% endcomment %}
                          <div class="ks-mr-3">
                            <img 
                              src="{{ recensions[index].settings.image | img_url: '100x' }}" 
                              alt="{{ recensions[index].settings.image.alt }}" 
                              width="49" 
                              height="49"
                              loading="lazy"
                              class="ks-w-49px ks-h-auto"
                            >
                          </div>
                          {% comment %} Name of customer {% endcomment %}
                          <div>
                            <p class="ks-fs-3 ks-lh-116 ks-ff-body ks-fw-500 ks-flex ks-row ks-jc-fs ks-ai-c">
                              <span class="ks-mr-2">
                                {{ recensions[index].settings.reviewer }}
                              </span>
                              {%- render 'logo-verified' -%}
                            </p>
                            <p class="ks-fs-0 ks-ff-body">über {{ recensions[index].settings.source }}</p>
                          </div>
                        </div>
                        {% comment %} Sterne {% endcomment %} 
                        <div class="ks-flex ks-ai-c">
                          <div class="ks-flex ks-pos-rel">
                            {% assign missingStars = 5 | minus: recensions[index].settings.rating %}
                            {% if recensions[index].settings.rating > 0 %}
                              {% for i in (1..recensions[index].settings.rating) %}
                                <span>
                                  {%- render 'icon-star', currentColor: "#ffd900" -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                            {% if missingStars > 0 %}
                              {% for j in (1..missingStars) %}
                                <span>
                                  {%- render 'icon-star', currentColor: "#dddddd" -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                        {% comment %} Review text {% endcomment %}
                        <div class="ks-col-fg ks-mt-5 ks-mt-md-4 ks-mt-lg-6 ks-fs-0 ks-lh-186">
                          {% if recensions[index].settings.title %}
                            <h4>{{ recensions[index].settings.title }}</h4>
                          {% endif %}
                          <p class="ks-fs-0 ks-lh-186">
                            {{ recensions[index].settings.text }}
                          </p>
                        </div>
                      </div>
                    {% else %}
                    <div class="ks-block ks-py-9 ks-px-8 ks-h-340px ks-h-lg-300px ks-bgcol-bg ks-col-fg">&nbsp;</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if recensions.size > 2 -%}
          <div class="slider-buttons no-js-hidden">
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ numberOfSlides }}</span>
            </div>
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
      {% comment %} End of Desktop Slider {% endcomment %}
  </div>
</div> 

{% schema %}
{
  "name": "Kundenstimmen",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Bereits über 50.000 ausgeschlafene Kunden",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "source",
          "label": "Quelle"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "Bewertung in Sternen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Überschrift der Bewertung"
        },
        {
          "id": "text",
          "label": "Text der Bewertung",
          "type": "textarea"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Kundenstimmen",
      "blocks": [
        { "type": "image" }
      ]
    }
  ]
}
{% endschema %}
