<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="color-{{ section.settings.color_scheme }} SectionGrid py-8 pos-rel bgcol-bg">
  <div class="SectionGrid-Wide">
    <div class="flex row jc-c ai-c mt-6 mx-auto ta-c">
      <h3 class="mb-5 mb-lg-8 ff-heading fs-7 fs-lg-38px lh-107 lh-lg-116 fw-500 fw-lg-400 ls-m124 mxw-md-500px col-fg">
        {{ section.settings.title }}
      </h3>
    </div>
      {% comment %} Mobile/Tablet Slider {% endcomment %}      
      <div class="collection page-width page-width-desktop ndesktop">
        <sleepink-slider class="slider-mobile-gutter">
          <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
            {% assign recensions = section.blocks | where: 'type', 'image' %}
            {%- for recension in recensions -%}
              <li class="grid__item slider__slide">
                <div class="mnh-350px grid onecol gap-64px py-8 px-5">
                  <div class="block py-9 px-8 h-340px h-lg-300px bgcol-bg col-fg">
                    <div class="flex row jc-fs ai-c">
                      {% comment %} Avatar of customer {% endcomment %}
                      <div class="mr-3">
                        <img 
                          src="{{ recension.settings.image | image_url: '50x50' }}" 
                          alt="{{ recension.settings.image.alt }}" 
                          width="49" 
                          height="49"
                          loading="lazy"
                        >
                      </div>
                      {% comment %} Name of customer {% endcomment %}
                      <div>
                        <p class="fs-3 lh-116 ff-body fw-500">
                          <span>
                            {{ recension.settings.reviewer }}
                          </span>
                          {%- render 'logo-verified' -%}
                        </p>
                        <p class="fs-0 ff-body">über {{ recension.settings.source }}</p>
                      </div>
                    </div>
                    {% comment %} Sterne {% endcomment %} 
                    <div class="flex ai-c">
                      {% render 'star-rating', rating: recension.settings.rating, type: 'review' %}
                    </div>
                    {% comment %} Review text {% endcomment %}
                    <div class="col-fg mt-5 mt-md-4 mt-lg-6 fs-0 lh-186">
                      {% if recension.settings.title %}
                        <h4>{{ recension.settings.title }}</h4>
                      {% endif %}
                      <p class="fs-0 lh-186 ta-j hyphen" lang="de">
                        {{ recension.settings.text }}
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if recensions.size > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden w-100p flex row jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev kundenstimmen-button-mobile" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ recensions.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next kundenstimmen-button-mobile" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
      {% comment %} End of Mobile Slider {% endcomment %}
      {% comment %} Desktop Slider {% endcomment %}
      {% liquid 
        assign numberOfSlidesRaw = recensions.size | divided_by: 2
        assign remainder = recensions.size | modulo: 2
        if remainder == 1
          assign numberOfSlides = numberOfSlidesRaw | plus: 1
        else
          assign numberOfSlides = numberOfSlidesRaw
        endif
      %}
      <div class="collection page-width page-width-desktop desktop">
        <sleepink-slider class="slider-mobile-gutter">
          <ul class="grid slider slider--desktop grid--peek negative-margin negative-margin--small" role="list">
            {% assign recensions = section.blocks | where: 'type', 'image' %}
            {%- for i in (1..numberOfSlides) -%}
              <li class="grid__item slider__slide">
                <div class="mnh-350px ngrid twocol gap-64px py-8 px-5">
                  {% for j in (0..1) %}
                    {% assign index = i | times: 2 | minus: 2 | plus: j %}
                    {% if index < recensions.size %}
                      <div class="block py-9 px-8 h-340px h-lg-380px bgcol-bg col-fg">
                        <div class="flex row jc-fs ai-c ofh">
                          {% comment %} Avatar of customer {% endcomment %}
                          <div class="mr-3 h-70px flex column jc-c ai-c">
                            <img 
                              src="{{ recensions[index].settings.image | image_url: '100x' }}" 
                              alt="{{ recensions[index].settings.image.alt }}" 
                              width="49" 
                              height="49"
                              loading="lazy"
                              class="w-49px h-auto"
                            >
                          </div>
                          {% comment %} Name of customer {% endcomment %}
                          <div>
                            <p class="fs-3 lh-116 ff-body fw-500 flex row jc-fs ai-c">
                              <span class="mr-2">
                                {{ recensions[index].settings.reviewer }}
                              </span>
                              {%- render 'logo-verified' -%}
                            </p>
                            <p class="fs-0 ff-body">über {{ recensions[index].settings.source }}</p>
                          </div>
                        </div>
                        {% comment %} Sterne {% endcomment %} 
                        <div class="flex ai-c">
                          <div class="flex row pos-rel">
                            {% liquid 
                              assign missingStars = 5 | minus: recensions[index].settings.rating | floor
                              assign fullRating = recensions[index].settings.rating | floor
                              assign sumStars = fullRating | plus: missingStars
                              if sumStars != 5
                                assign halfStars = 1
                              else
                                assign halfStars = 0
                              endif
                            %}
                            {% if recensions[index].settings.rating > 0 %}
                              {% for i in (1..fullRating) %}
                                <span>
                                  {%- render 'icon-star', currentColor: "#ffd900" -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                            {% if halfStars == 1 %}
                              <span>
                                {%- render 'icon-star-half' -%}
                              </span>
                            {% endif %}
                            {% if missingStars > 0 %}
                              {% for j in (1..missingStars) %}
                                <span>
                                  {%- render 'icon-star', currentColor: "#dddddd" -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                        {% comment %} Review text {% endcomment %}
                        <div class="col-fg mt-5 mt-md-4 mt-lg-6 fs-0 lh-186">
                          {% if recensions[index].settings.title %}
                            <h4>{{ recensions[index].settings.title }}</h4>
                          {% endif %}
                          <p class="fs-0 lh-186 ta-j hyphen" lang="de">
                            {{ recensions[index].settings.text }}
                          </p>
                        </div>
                      </div>
                    {% else %}
                    <div class="block py-9 px-8 h-340px h-lg-300px bgcol-bg col-fg">&nbsp;</div>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if recensions.size > 2 -%}
          <div class="slider-buttons no-js-hidden w-100p flex row jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev kundenstimmen-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ numberOfSlides }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next kundenstimmen-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </sleepink-slider>
    </div>
      {% comment %} End of Desktop Slider {% endcomment %}
  </div>
</div> 

{% schema %}
{
  "name": "Kundenstimmen",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Bereits über 50.000 ausgeschlafene Kunden",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "source",
          "label": "Quelle"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5,
          "label": "Bewertung in Sternen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Überschrift der Bewertung"
        },
        {
          "id": "text",
          "label": "Text der Bewertung",
          "type": "textarea"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Kundenstimmen",
      "blocks": [
        { "type": "image" }
      ]
    }
  ]
}
{% endschema %}
