{{ 'blend-it.css' | asset_url | stylesheet_tag }}
{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}

<section class="header-image tight-header">
  <h2 class="page-title-wb">
    {{ section.settings.title }}
    <a href="{{ section.settings.get_stared_button_url }}" class="get-started pulse">→</a>
  </h2>
  <video autoplay="" muted="" loop="" playsinline="" poster="{{ section.settings.hero_poster }}">
    <source src="{{ section.settings.hero_video }}" type="video/mp4">
    <source src="{{ section.settings.hero_video_webm }}" type="video/webm">
  </video>
</section>

{% schema %}
{
  "name": "Landing Hero Banner",
  "presets": [
    {
      "name": "Landing Hero Banner - WB"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Own Whisky"
    },
    {
      "type": "url",
      "id": "hero_video",
      "label": "Hero Video"
    },
    {
      "type": "url",
      "id": "hero_video_webm",
      "label": "Hero Video Webm"
    },
    {
      "type": "image_picker",
      "id": "hero_poster",
      "label": "Hero Poster"
    },
    {
      "type": "url",
      "id": "get_stared_button_url",
      "label": "Get Started Button URL"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .pulse {
    animation: pulse-animation 2s infinite;
  }
{% endstylesheet %}
