{%- style -%}
  #logoStripe-{{ section.id }} {
    {%- if section.settings.background == true -%}
    background-image: url('{{ section.settings.background_image | img_url: 'master' }}');
    {%- endif -%}
    background-color: {{ section.settings.background_color }}
  }
  .banner__logo {
    padding: {{ section.settings.banner_height }}px 0;
  }
  .banner {
    justify-content: {{ section.settings.desktop_content_alignment }};
  }
  .logo_img {
    width: 100%;
    max-width: {{ section.settings.logo_width }}px;
  }

  @media screen and (min-width: 750px) {
    .banner__logo {
      padding: {{ section.settings.banner_height | times: 1.5 }}px 0;
    }
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign half_width = '50vw'
  assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  assign fetch_priority = 'auto'
-%}

<div
  id="logoStripe-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="page-width">
    <div class="banner__logo {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        if section.settings.logo != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.logo != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.logo
        | image_url: width: 1080
        | image_tag:
          width: section.settings.image_width,
          sizes: sizes,
          class: 'logo_img',
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Striscia con logo",
  "tag": "section",
  "class": "section logoStripe",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Immagine di sfondo"
    },
    {
      "type": "checkbox",
      "id": "background",
      "default": false,
      "label": "Utilizza un'immagine di sfondo"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Colore di sfondo",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo / Badge"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "label": "Larghezza massima del logo",
      "default": 150
    },
    {
      "type": "select",
      "id": "banner_height",
      "options": [
        {
          "value": "25",
          "label": "Piccola"
        },
        {
          "value": "50",
          "label": "Media"
        },
        {
          "value": "75",
          "label": "Alta"
        },
        {
          "value": "100",
          "label": "Molto alta"
        }
      ],
      "default": "50",
      "label": "Altezza del banner",
      "info": "Imposta l'altezza del banner"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    }
  ],
  "presets": [
    {
      "name": "Striscia con logo"
    }
  ]
}
{% endschema %}
