{%- style -%}
  @media screen and (max-width: 749px) {
    #logoStripe-{{ section.id }} {
      padding: {{ section.settings.banner_height }}px 0;
    }
  }

  @media screen and (min-width: 750px) {
    #logoStripe-{{ section.id }} {
      padding: {{ section.settings.image.aspect_ratio | times: 0.5 }}px 0;
    }
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="logoStripe-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.banner_height }}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  style="{%- if section.settings.background == true -%}background-image: url('https:{{ section.settings.background_image | img_url: 'master' }}');{%- endif -%}"
>
  <div class="banner__media {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- liquid
      assign banner_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      if section.settings.image != blank
        assign image_class = 'banner__media-image-half'
      endif
      if section.settings.image != blank and section.settings.stack_images_on_mobile
        assign sizes = stacked_sizes
      elsif section.settings.image != blank
        assign sizes = half_width
      else
        assign sizes = full_width
      endif
    -%}
  </div>
</div>

{% schema %}
{
  "name": "Striscia con logo",
  "tag": "section",
  "class": "section logoStripe",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Immagine di sfondo"
    },
    {
      "type": "checkbox",
      "id": "background",
      "default": false,
      "label": "Utilizza un'immagine di sfondo"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Colore di sfondo",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo / Badge"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "label": "Larghezza massima del logo",
      "default": 150
    },
    {
      "type": "select",
      "id": "banner_height",
      "options": [
        {
          "value": "25",
          "label": "Piccola"
        },
        {
          "value": "50",
          "label": "Media"
        },
        {
          "value": "75",
          "label": "Alta"
        },
        {
          "value": "100",
          "label": "Molto alta"
        }
      ],
      "default": "50",
      "label": "Altezza del banner",
      "info": "Imposta l'altezza del banner"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    }
  ],
  "presets": [
    {
      "name": "Striscia con logo"
    }
  ]
}
{% endschema %}
