{{ 'loop-faq.css' | asset_url | stylesheet_tag }}
<style></style>

<!-- SEARCHBAR STARTS -->
<div class="page-width page-width--narrow">
  <div class="search-wrapper">
    <input
      type="text"
      id="searchInput-{{ section.id }}"
      class="searchInput"
      onkeyup="searchFunction()"
      placeholder="Start typing..."
      title="Type in a name"
      autocomplete="off"
    >

    <ul id="searchListWrapper-{{ section.id }}" class="searchListWrapper">
      {%- for block in section.blocks -%}
        <li>
          <a
            href="#{{ block.settings.faq_question_1 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_1 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_1 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_2 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_2 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_2 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_3 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_3 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_3 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_4 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_4 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_4 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_5 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_5 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_5 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_6 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_6 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_6 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_7 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_7 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_7 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_8 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_8 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_8 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_9 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_9 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_9 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_10 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_10 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_10 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_11 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_11 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_11 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_12 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_12 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_12 -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<!-- SEARCHBAR ENDS -->
<!-- ICONS AND TEXT STARTS -->
<div class="hc-container">
  <ul class="categories-list">
    {%- for block in section.blocks -%}
      {%- if block.settings.faq_heading != blank -%}
        <li
          class="categories-list-item{% if forloop.first %} highlight{% endif %} tab-{{ block.settings.faq_heading | downcase }}"
          data-filter_heading="{{ block.settings.faq_heading | downcase }}"
        >
          <h2 class="hccategory">
            <a
              class="nav-link"
              data-toggle="tab"
              data-target="#hccategory379314"
            >
              <span class="category-icon">
                {{ block.settings.icon_with_text }}
              </span>
              <span class="category-title">{{ block.settings.faq_heading }}</span>
            </a>
          </h2>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
<!-- ICONS AND TEXT ENDS -->

<!-- ACCORDIAN STARTS -->
{%- for block in section.blocks -%}
  <div class="accordian-wrapper">
    <div
      class="filter_wrap filter_{{ block.settings.faq_heading | downcase }}{% if forloop.first %} first_filter {% endif %}"
      data-filter_heading="{{ block.settings.faq_heading | downcase }}"
    >
      {%- if block.settings.faq_heading != blank -%}
        <div class="panel-heading" role="tab" id="heading628332">
          <h3 class="panel-title">
            <div
              id="628332"
              class="hcsection"
              role="button"
              data-toggle="collapse"
              data-parent=""
              href=""
              data-target="#collapse628332"
              aria-controls="collapse628332"
            >
              <span id="fa-sec-628332" class="panel-title-arrow">
                <svg
                  width="24"
                  height="15"
                  viewBox="0 0 24 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22 13L12 3L2 13"
                    stroke="#3E3E3E"
                    stroke-width="3"
                  ></path>
                </svg>
              </span>
              <span class="panel-title-title">{{ block.settings.faq_heading }}</span>
            </div>
          </h3>
        </div>
      {%- endif -%}

      <div class="accordian-item ">
        {%- if block.settings.faq_question_1 != blank and block.settings.faq_answer_1 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_1 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_1 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_1 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_1 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_2 != blank and block.settings.faq_answer_2 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_2 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_2 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_2 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_2 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_3 != blank and block.settings.faq_answer_3 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_3 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_3 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_3 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_3 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_4 != blank and block.settings.faq_answer_4 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_4 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_4 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_4 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_4 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_5 != blank and block.settings.faq_answer_5 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_5 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_5 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_5 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_5 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_6 != blank and block.settings.faq_answer_6 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_6 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_6 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_6 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_6 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_7 != blank and block.settings.faq_answer_7 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_7 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_7 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_7 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_7 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_8 != blank and block.settings.faq_answer_8 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_8 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_8 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_8 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_8 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_9 != blank and block.settings.faq_answer_9 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_9 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_9 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_9 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_9 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_10 != blank and block.settings.faq_answer_10 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_10 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_10 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_10 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_10 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_11 != blank and block.settings.faq_answer_11 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_11 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_11 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_11 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_11 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_12 != blank and block.settings.faq_answer_12 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_12 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_12 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_12 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_12 -}}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endfor -%}

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("activate");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
<!-- ACCORDIAN ENDS -->
<script>
{% render 'loop-faq-scripts' %}
</script>
{% schema %}
{
  "name": "Loops FAQ",
  "settings": [],
  "blocks": [
    {
      "type": "select",
      "name": "FAQ Category",
      "settings": [
        {
          "type": "html",
          "id": "icon_with_text",
          "label": "SVG Icons",
          "info": "Upload your svg code here only."
        },
        {
          "type": "text",
          "id": "faq_heading",
          "default": "Shipping",
          "label": "FAQ Heading"
        },
        {
          "type": "header",
          "content": "Questions & Answers 1"
        },
        {
          "type": "text",
          "id": "faq_question_1",
          "default": "Question",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_1",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_1",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 2"
        },
        {
          "type": "text",
          "id": "faq_question_2",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_2",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_2",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 3"
        },
        {
          "type": "text",
          "id": "faq_question_3",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_3",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_3",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 4"
        },
        {
          "type": "text",
          "id": "faq_question_4",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_4",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_4",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 5"
        },
        {
          "type": "text",
          "id": "faq_question_5",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_5",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_5",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 6"
        },
        {
          "type": "text",
          "id": "faq_question_6",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_6",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_6",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 7"
        },
        {
          "type": "text",
          "id": "faq_question_7",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_7",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_7",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 8"
        },
        {
          "type": "text",
          "id": "faq_question_8",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_8",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_8",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 9"
        },
        {
          "type": "text",
          "id": "faq_question_9",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_9",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_9",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 10"
        },
        {
          "type": "text",
          "id": "faq_question_10",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_10",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_10",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 11"
        },
        {
          "type": "text",
          "id": "faq_question_11",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_11",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_11",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 12"
        },
        {
          "type": "text",
          "id": "faq_question_12",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_12",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_12",
          "label": "Video iframe tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loops FAQ",
      "blocks": [
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
