{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'loop-featured-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    max-width: 795px;
    margin: 0 auto;
  }
  .custom_image-with-text__text--{{ section.id }}{
    letter-spacing:-0.02em;
  }
  
  .color-inverse .FpPLPUserMoments_benefits.custom,
  .color-accent-1 .FpPLPUserMoments_benefits.custom {
    filter: invert(1);
  }

  .image-with-text__grid .image-with-text__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .image-with-text__grid--reverse .image-with-text__content {
    padding-left: 0;
  }
  .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__content {
    padding-right: 0;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign usecasesShown = false %}

{% assign contains_swatches = false %}

{% liquid 
  for block in section.blocks
    if block.type == "variant-swatches"
      assign contains_swatches = true
    endif
  endfor
%}

{% if section.settings.background_image != blank %}
  <style>
    #shopify-section-{{section.id}} > div {
      background-image: url('{{ section.settings.background_image | image_url: width: 1500 }}')
    }
  </style>
{% endif %}

<div class="color-{{ section.settings.color_scheme }} loop-featured-product--wrapper">
  <div class="page-width">
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings image-with-text__media--placeholder placeholder">
            {%- if contains_swatches and section.settings.product.featured_image != blank -%}
              <div class="variant-images" style="height: 100%;">
                {% for variant in section.settings.product.variants %}
                  {% if variant.featured_image %}
                    <img style="width: 100%;
                      display: block;
                      height: 100%;
                      object-fit: contain;" src="{{ variant.featured_image.src | image_url }}" alt="{{ product.title }} - {{ variant.title }}" {% unless forloop.index0 == 0 %}loading="lazy"{% endunless %} width height data-id="{{variant.id}}">
                  {% endif %}
                {% endfor %}
              </div>
            {%- elsif section.settings.image != blank -%}
              <img
                srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                  {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}"
                class="{% if section.settings.image_3 != blank %}no-m{% endif %}"
                style="object-fit:{{section.settings.image_property}};" 
              >
            {%- elsif section.settings.product.selected_or_first_available_variant.featured_media != null -%}
                <img
                  srcset="{%- if section.settings.product.featured_image.width >= 165 -%}{{ section.settings.product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.product.featured_image.width >= 360 -%}{{ section.settings.product.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.product.featured_image.width >= 535 -%}{{ section.settings.product.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section.settings.product.featured_image.width >= 750 -%}{{ section.settings.product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.product.featured_image.width >= 1070 -%}{{ section.settings.product.featured_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section.settings.product.featured_image.width >= 1500 -%}{{ section.settings.product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section.settings.product.featured_image | image_url }} {{ section.settings.product.featured_image.width }}w"
                  src="{{ section.settings.product.featured_image | image_url: width: 1500 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ section.settings.product.featured_image.alt | escape }}"
                  loading="lazy"
                  width="{{ section.settings.product.featured_image.width }}"
                  height="{{ section.settings.product.featured_image.height }}"
                  class="{% if section.settings.image_3 != blank %}no-m{% endif %}"
                  style="object-fit:{{section.settings.image_property}};" 
                >
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'caption' -%}
                  <p class="image-with-text__text image-with-text__text--caption custom_image-with-text__text--{{ section.id }} {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"  style="margin-top:{{ block.settings.caption_padding }}px;">{{ section.settings.product.title | escape }}</p>
                {%- when 'heading' -%}
                  <h2 class="image-with-text__heading {{ block.settings.heading_size }}"  style="margin-top:{{ block.settings.heading_padding }}px;" {{ block.shopify_attributes }}>
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte  custom_image-with-text__text--{{ section.id }} {{ block.settings.text_style }}"  style="margin-top:{{ block.settings.description_padding }}px;" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                  {% if section.settings.product.metafields.custom.usp_image != blank and usecasesShown != true %}
                    <img class="FpPLPUserMoments_benefits custom" src="{{ section.settings.product.metafields.custom.usp_image }}" alt="{{ section.settings.product.title | escape }} usp" loading="lazy">

                    <style>
                      .FpPLPUserMoments_benefits.custom {
                        margin-top: 16px;
                        height: 64px;
                        width: auto;
                        max-width: 270px;
                      }
                    </style>
                  {% endif %}
                  {% assign usecasesShown = true %}
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a href="{{ section.settings.product.url }}" class="link-button button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}  {% if block.settings.button_bgcolor != blank %}no-border{% endif %}" {% if block.settings.button_bgcolor != blank %}style="background-color: {{ block.settings.button_bgcolor }};color: {{ block.settings.button_txtcolor }}; {%- if block.settings.button_padding  -%}margin-top:{{ block.settings.button_padding }}px;{%- endif -%};margin-bottom:0px;""{% endif %}  {{ block.shopify_attributes }}>
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                {% when "variant-swatches" %}
                  {% render 'variant-swatch' product: section.settings.product %}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  (function() {
    const sectionContainer = document.querySelector("#shopify-section-{{ section.id }}");
    const variantSwatches = sectionContainer.querySelectorAll("variant-radios a[data-id]");
    const allImages = sectionContainer.querySelectorAll(".variant-images img");
    const linkButton = sectionContainer.querySelector("a.button.link-button");
    
    function handleClick(e, swatch) {
      e.preventDefault();
      
      const variantId = swatch.dataset.id;
      allImages.forEach(image => image.style.display = "none");
      variantSwatches.forEach((swatch) => swatch.classList.remove("active"));
      
      swatch.classList.add("active");
      const imageToShow = sectionContainer.querySelector(`.variant-images img[data-id="${variantId}"]`);
      imageToShow.style.display = "block";
      
      linkButton.href = swatch.href;
    }
    
    variantSwatches.forEach((swatch, i) => {
      if(i === 0) swatch.classList.add("active");
      swatch.addEventListener("click", (e) => handleClick(e, swatch))
    })
  })()
</script>

{% schema %}
{
  "name": "Featured product",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "small",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
        "type": "select",
        "id": "image_property",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "cover",
            "label": "cover"
          },
          {
            "value": "contain",
            "label": "contain"
          },
          {
            "value": "fill",
            "label": "fill"
          }
        ],
        "default": "contain",
        "label": "image property",
        "info": "gives object-fit property to image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "range",
          "id": "heading_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 24
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      
      "settings": [
        {
          "type": "range",
          "id": "caption_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "description_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 32
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "color",
          "id": "button_bgcolor",
          "label": "button background color"
        },
        {
          "type": "color",
          "id": "button_txtcolor",
          "label": "button text color"
        },
        {
          "type": "range",
          "id": "button_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 48
        }
      ]
    },
    {
      "type": "variant-swatches",
      "name": "Variant swatches"
    }
  ],
  "presets": [
    {
      "name": "Loop Featured Product",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
