{{ "loop-hero-banner.css" | asset_url | stylesheet_tag }}

{% style %}
.loop-hero-banner--wrapper::before {
  padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
  content: '';
  display: block;
}

.loop-hero-banner--wrapper img {
  object-position: {{ section.settings.image.presentation.focal_point }};
}

@media screen and (max-width: 750px) {
  .loop-hero-banner--wrapper img {
    object-position: {{ section.settings.image_mobile.presentation.focal_point }};
  }
  .loop-hero-banner--wrapper::before {
    padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
    content: '';
    display: block;
  }
}
{% endstyle %}

<div class="{{ section.settings.layout }} loop-hero-banner--wrapper">
  <div class="hero-banner--container {% if section.settings.center_content %}centered{% endif %} {% if section.settings.overlay_mobile %}hero-banner__overlay-mobile{% endif %}">
    <div class="hero-media">
      {%- if section.settings.image -%}
        <picture>
          <source 
            media="(max-width:749px)" 
            srcset="{%- if section.settings.image_mobile.width >= 375 -%}{{ section.settings.image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 550 -%}{{ section.settings.image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 750 -%}{{ section.settings.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1100 -%}{{ section.settings.image_mobile | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1500 -%}{{ section.settings.image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1780 -%}{{ section.settings.image_mobile | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 2000 -%}{{ section.settings.image_mobile | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 3000 -%}{{ section.settings.image_mobile | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 3840 -%}{{ section.settings.image_mobile | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image_mobile | image_url }} {{ section.settings.image_mobile.width }}w"
          >
          <source
            media="(min-width: 750px)"
            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          >
          <img
            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
            sizes="(min-width: 750px) 50vw, 100vw"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            loading="eager"
            fetchpriority="high"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round }}"
          >
        </picture>
      {%- else -%}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>

    <div class="page-width">
      <div class="content">
        {% for block in section.blocks %}
          {% case block.type %}
            {%- when 'caption' -%}
              <p class="custom-caption">
                {{ block.settings.content | escape }}
              </p>
            {% when "heading" %}
              <h2 style="max-width: {{ block.settings.heading_max_width }}; color: {{ block.settings.heading_color }}">{{ block.settings.heading | newline_to_br }}</h2>
            {% when "subheading" %}
              <div class="subheading" style="max-width: {{ block.settings.subheading_max_width }}%; color: {{ block.settings.subheading_color }}">
                {{ block.settings.subheading }}
              </div>
            {% when "klaviyo_form" %}
              <div class="block-form">
                <div class="klaviyo-form-{{block.settings.form_id}}" style="margin: 0 auto"></div>
              </div>
            {% when "newsletter_form" %}
              <div class="block-form">
                {%- form 'customer', id: 'NewsletterHero', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="prospect,newsletter,{{ request.locale.iso_code }},{{block.settings.custom_tags}}">
                  <input type="hidden" name="contact[context]" value="section">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        style="padding-top: 2.2rem !important; padding-bottom: 0.8rem !important; padding-right: 5rem !important;"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="NewsletterHero-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="NewsletterHero-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}" style="width: unset;">
                        Email address
                      </label>
                    </div>
                    <div class="field--submit">
                      <button
                        type="submit"
                        class="newsletter-form__button field__button"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                      >
                        Notify me
                      </button>
                    </div>
                    <small class="gdpr-disclaimer">
                      By submitting this form, you consent to receive email from us.
                      We take good care of your data, read how in our <a href="/policies/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
                    </small>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="NewsletterHero-error">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <small
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="NewsletterHero-success"
                      tabindex="-1"
                      autofocus
                    >
                      {% render 'icon-success' -%}
                      {{- 'newsletter.success' | t }}
                    </small>
                  {%- endif -%}
                {%- endform -%}
              </div>
            {% when "buttons" %}
              <div class="buttons">
                {% if block.settings.button_label != blank %}
                  <a 
                    {% if block.settings.button_link %} 
                      href="{{ block.settings.button_link }}"
                    {% else %} 
                      role="link" aria-disabled="true"
                    {% endif %} 
                    class="button 
                    button-{{block.id}}1
                    {% if block.settings.button_style_secondary %}
                      button--secondary
                    {% else %}
                      button--primary
                    {% endif %}">
                    {{ block.settings.button_label | escape }}
                  </a>
                  <style>
                    .buttons a.button-{{block.id}}1 {
                      {% if block.settings.button_bg != blank %}
                        background-color: {{ block.settings.button_bg }} !important;
                      {% endif %}
                      {% if block.settings.button_color != blank %}
                        color: {{ block.settings.button_color }} !important;
                      {% endif %}
                      {% if block.settings.button_border != blank %}
                        border-color: {{ block.settings.button_border }} !important;
                      {% endif %}
                    }
                  </style>
                {% endif %}
                {%- if block.settings.button2_label != blank -%}
                  <a 
                    {% if block.settings.button2_link %} 
                      href="{{ block.settings.button2_link }}"
                    {% else %} 
                      role="link" aria-disabled="true"
                    {% endif %} 
                    class="button 
                    button-{{block.id}}2
                    {% if block.settings.button2_style_secondary %}
                      button--secondary
                    {% else %}
                      button--primary
                    {% endif %}">
                      {{ block.settings.button2_label | escape }}
                  </a>
                  <style>
                    .buttons a.button-{{block.id}}2 {
                      {% if block.settings.button2_bg != blank %}
                        background-color: {{ block.settings.button2_bg }} !important;
                      {% endif %}
                      {% if block.settings.button2_color != blank %}
                        color: {{ block.settings.button2_color }} !important;
                      {% endif %}
                      {% if block.settings.button2_border != blank %}
                        border-color: {{ block.settings.button2_border }} !important;
                      {% endif %}
                    }
                  </style>
                {%- endif -%}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Loop Hero Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "page-width",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "checkbox",
      "id": "overlay_mobile",
      "label": "Overlay content on mobile"
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "label": "Center content"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.slideshow.blocks.slide.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "label": "Heading",
          "id": "heading"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Heading Max-width",
            "default": 100,
            "info":"unit in percentage"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "label": "Subheading",
          "id": "subheading"
        },
        {
            "type": "number",
            "id": "subheading_max_width",
            "label": "Subheading Max-width",
            "default": 80,
            "info": "unit in percentage"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading color",
          "default": "#252427"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button 1 link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "color",
          "id": "button_bg",
          "label": "Button 1 background"
        },
        {
          "type": "color",
          "id": "button_border",
          "label": "Button 1 border color"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button 1 text color"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button2_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button2_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "color",
          "id": "button2_bg",
          "label": "Button 2 background"
        },
        {
          "type": "color",
          "id": "button2_border",
          "label": "Button 2 border color"
        },
        {
          "type": "color",
          "id": "button2_color",
          "label": "Button 2 text color"
        }
      ]
    },
    {
      "type": "klaviyo_form",
      "name": "Klaviyo Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Form ID",
          "id": "form_id"
        }
      ]
    },
    {
      "type": "newsletter_form",
      "name": "Shopify Newsletter Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "custom_tags",
          "label": "Custom form tags"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text Style",
          "options": [
            {
              "label": "none",
              "value": "none"
            },
            {
              "label": "caption",
              "value": "caption"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loop Hero Banner"
    }
  ]
}
{% endschema %}
