{{ 'loop-hero-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  .loop-hero-banner--wrapper {
    --section-height: {{ section.settings.section_height | default: '40' | append: 'vw' }};
  }
  .loop-hero-banner--wrapper::before {
    padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
    %;
    content: '';
    display: block;
  }

  .loop-hero-banner--wrapper img {
    object-position: {{ section.settings.image.presentation.focal_point }}
    ;
  }

  @media screen and (max-width: 750px) {
    .loop-hero-banner--wrapper img {
      object-position: {{ section.settings.image_mobile.presentation.focal_point }}
      ;
    }
    .loop-hero-banner--wrapper::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}
      %;
      content: '';
      display: block;
    }
  }
{% endstyle %}

<div class="{{ section.settings.layout }} loop-hero-banner--wrapper">
  <div class="hero-banner--container {% if section.settings.center_content %}centered{% endif %} {% if section.settings.overlay_mobile %}hero-banner__overlay-mobile{% endif %}">
    {%- capture hero_banner_media -%}

        {%- if section.settings.image -%}
          <picture>
            <source
              media="(max-width:749px)"
              srcset="{%- if section.settings.image_mobile.width >= 375 -%}
              {{ section.settings.image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 550 -%}
              {{ section.settings.image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 750 -%}
              {{ section.settings.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1100 -%}
              {{ section.settings.image_mobile | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1500 -%}
              {{ section.settings.image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 1780 -%}
              {{ section.settings.image_mobile | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 2000 -%}
              {{ section.settings.image_mobile | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 3000 -%}
              {{ section.settings.image_mobile | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image_mobile.width >= 3840 -%}
              {{ section.settings.image_mobile | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image_mobile | image_url }} {{ section.settings.image_mobile.width }}w">
            <source
              media="(min-width: 750px)"
              srcset="{%- if section.settings.image.width >= 375 -%}
              {{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}
              {{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}
              {{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}
              {{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}
              {{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}
              {{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}
              {{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}
              {{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}
              {{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w">
            <img
              srcset="{%- if section.settings.image.width >= 375 -%}
              {{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 550 -%}
              {{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}
              {{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}
              {{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}
              {{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}
              {{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}
              {{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}
              {{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}
              {{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
            sizes="(min-width: 750px) 50vw, 100vw"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            loading="eager"
            fetchpriority="high"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round }}">
          </picture>
        {%- else -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}

    {%- endcapture -%}

    <div class="hero-media small-hide">
      {{ hero_banner_media }}
    </div>
    <div class="page-width">
      {% if section.settings.overlay_mobile %}
        <div class="hero-media hero-media--overlay-mobile loop-large-up-hide">
          {{ hero_banner_media }}
        </div>
      {% endif %}
      <style>
        .content {
          --padding-top: {{ section.settings.overlay_content_padding }}px;
        }
        @media screen and (max-width:750px) {
          .loop-hero-banner--wrapper .hero-banner__overlay-mobile .content {
            padding-top: var(--padding-top) !important;
          }
        }
      </style>
      <div class="content">
        {% for block in section.blocks %}
          {% case block.type %}
            {%- when 'caption' -%}
              <p class="custom-caption">
                {{ block.settings.content | escape }}
              </p>
            {% when 'heading' %}
              <h2 style="max-width: {{ block.settings.heading_max_width }}; color: {{ block.settings.heading_color }}">
                {{ block.settings.heading | newline_to_br }}
              </h2>
              {% if section.settings.overlay_mobile == false %}
                <div class="hero-media loop-large-up-hide">
                  {{ hero_banner_media }}
                </div>
              {% endif %}
            {% when 'subheading' %}
              <div class="subheading" style="color: {{ block.settings.subheading_color }}">
                {{ block.settings.subheading }}
              </div>
            {% when 'footnote' %}
              <div class="footnote" style="color: {{ block.settings.footnote_color }}">
                {% if block.settings.hero_banner_stars > 0 %}
                  {% for i in (1..block.settings.hero_banner_stars) -%}
                    {%- render 'icon-star' -%}
                  {%- endfor %}
                {% endif %}
                {{ block.settings.footnote }}
              </div>
            {% when 'klaviyo_form' %}
              <div class="block-form">
                <div class="klaviyo-form-{{block.settings.form_id}}" style="margin: 0 auto"></div>
              </div>
            {% when 'newsletter_form' %}
              <div class="block-form">
                {%- form 'customer', id: 'NewsletterHero', class: 'footer__newsletter newsletter-form' -%}
                  <input
                    type="hidden"
                    name="contact[tags]"
                    value="prospect,newsletter,{{ request.locale.iso_code }},{{block.settings.custom_tags}}"
                  >
                  <input
                    type="hidden"
                    name="contact[context]"
                    value="section"
                  >
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        style="padding-top: 2.2rem !important; padding-bottom: 0.8rem !important; padding-right: 5rem !important;"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="NewsletterHero-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="NewsletterHero-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label
                        class="field__label"
                        for="NewsletterForm--{{ section.id }}"
                        style="width: unset;"
                      >
                        Email address
                      </label>
                    </div>
                    <div class="field--submit">
                      <button
                        type="submit"
                        class="newsletter-form__button field__button"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                      >
                        Notify me
                      </button>
                    </div>
                    <small class="gdpr-disclaimer">
                      By submitting this form, you consent to receive email from us. We take good care of your data,
                      read how in our
                      <a
                        href="/policies/privacy-policy"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Privacy Policy</a
                      >.
                    </small>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="NewsletterHero-error">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- elsif form.posted_successfully? -%}
                      <small
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="NewsletterHero-success"
                        tabindex="-1"
                        autofocus
                      >
                        {% render 'icon-success' -%}
                        {% if block.settings.custom_success_message != blank %}
                          {{ block.settings.custom_success_message }}
                        {% else %}
                          {{- 'newsletter.success' | t }}
                        {% endif %}
                      </small>
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </div>
            {% when 'buttons' %}
              <div class="buttons">
                <style>
                  .loop-hero-banner--wrapper .content .buttons {
                    --button-1-color: {% if block.settings.button_color != blank %}{{ block.settings.button_color }}{% else %}#FFFFFF{% endif %};
                    --button-1-background-color: {% if block.settings.button_bg != blank %}{{ block.settings.button_bg }}{% else %}#252427{% endif %};
                    --button-1-border-color: {% if block.settings.button_border != blank %}{{ block.settings.button_border }}{% else %}#252427{% endif %};
                    --button-2-color: {% if block.settings.button_color != blank %}{{ block.settings.button2_color }}{% else %}#252427{% endif %};
                    --button-2-background-color: {% if block.settings.button2_bg != blank %}{{ block.settings.button2_bg }}{% else %}#FFFFFF{% endif %};
                    --button-2-border-color: {% if block.settings.button2_border != blank %}{{ block.settings.button2_border }}{% else %}#FFFFFF{% endif %};
                  }
                </style>
                {% if block.settings.button_label != blank %}
                  <a
                    {% if block.settings.button_link %}
                      href="{{ block.settings.button_link }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button-primary button-1"
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                {% endif %}
                {% if block.settings.button2_label != blank %}
                  <a
                    {% if block.settings.button2_link %}
                      href="{{ block.settings.button2_link }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button-secondary button-2"
                  >
                    {{ block.settings.button2_label | escape }}
                  </a>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Loop Hero Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "page-width",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "range",
      "id": "section_height",
      "label": "Section Height",
      "min": 25,
      "max": 100,
      "step": 5,
      "unit": "vw",
      "default": 40
    },
    {
      "type": "checkbox",
      "id": "overlay_mobile",
      "label": "Overlay content on mobile"
    },
    {
      "type": "range",
      "id": "overlay_content_padding",
      "label": "Overlay content padding",
      "info": "This padding is added to the top of the content only on mobile and when the content is overlayed.",
      "min": 0,
      "max": 300,
      "step": 12,
      "unit": "px",
      "default": 48
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "label": "Center content"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.slideshow.blocks.slide.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "label": "Heading",
          "id": "heading"
        },
        {
          "type": "number",
          "id": "heading_max_width",
          "label": "Heading Max-width",
          "default": 100,
          "info": "unit in percentage"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "label": "Subheading",
          "id": "subheading"
        },
        {
          "type": "number",
          "id": "subheading_max_width",
          "label": "Subheading Max-width",
          "default": 80,
          "info": "unit in percentage"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading color",
          "default": "#252427"
        }
      ]
    },
    {
      "type": "footnote",
      "name": "Footnote",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "label": "Footnote",
          "id": "footnote"
        },
        {
          "type": "number",
          "id": "footnote_max_width",
          "label": "Footnote Max-width",
          "default": 80,
          "info": "unit in percentage"
        },
        {
          "type": "color",
          "id": "footnote_color",
          "label": "Footnote color",
          "default": "#252427"
        },
        {
          "type": "range",
          "id": "hero_banner_stars",
          "label": "Stars",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button 1 link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button 1 text color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button_bg",
          "label": "Button 1 background",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_border",
          "label": "Button 1 border color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button2_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button2_color",
          "label": "Button 2 text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button2_bg",
          "label": "Button 2 background",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button2_border",
          "label": "Button 2 border color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "klaviyo_form",
      "name": "Klaviyo Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Form ID",
          "id": "form_id"
        }
      ]
    },
    {
      "type": "newsletter_form",
      "name": "Shopify Newsletter Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "custom_tags",
          "label": "Custom form tags"
        },
        {
          "type": "text",
          "id": "custom_success_message",
          "label": "Custom success message"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text Style",
          "options": [
            {
              "label": "none",
              "value": "none"
            },
            {
              "label": "caption",
              "value": "caption"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loop Hero Banner"
    }
  ]
}
{% endschema %}
