<style>
  .gallery--wrapper {
    padding: 60px 0;
  }
  .gallery--wrapper h2 {
    text-align: center;
  }
  {% comment %} Gallery Grid {% endcomment %}
  .gallery--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  {% comment %} Grid item {% endcomment %}
  .gallery--grid-item {
    cursor: pointer;
    text-decoration: none;
  }
  .gallery--grid-item .image {
    position: relative;
  }
  .gallery--grid-item .image svg {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #919191;
  }
  .gallery--grid-item img {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .gallery--grid-item h3 {
    margin: 20px 0 0;
  }
  {% comment %} Mobile styles {% endcomment %}
  @media screen and (max-width: 700px) {
    .gallery--wrapper {
      padding: 30px 0;
    }
    .gallery--grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .gallery--grid-item h3 {
      font-size: 16px;
    }
  }
</style>

<div class="gallery--wrapper color-{{ section.settings.color_scheme }} ">
  <div class="page-width">
    <h2>{{ section.settings.heading }}</h2>
    <div class="gallery--grid">
      {% for block in section.blocks %}
        <a href="{{ block.settings.archive_link }}" download class="gallery--grid-item">
          <div class="image">
            <img src="{{ block.settings.featured_media | image_url }}" width="" height="" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
              <path fill="currentColor" d="M7 17h10v-2H7Zm5-3 4-4-1.4-1.4-1.6 1.55V6h-2v4.15L9.4 8.6 8 10Zm0 8q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175 1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138 1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"/>
            </svg>
          </div>
          <h3>{{ block.settings.heading }}</h3>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Downloadable gallery",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "blocks": [
    {
      "type": "gallery_category",
      "name": "Gallery Category",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "featured_media",
          "label": "Featured Media"
        },
        {
          "type": "url",
          "id": "archive_link",
          "label": "Link to ZIP file"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Downloadable Gallery"
    }
  ]
}
{% endschema %}
