<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"
  integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  defer
></script>

{% style %}
  #shopify-section-{{section.id}} {
    min-height: 1409px;
  }

  iframe#gorgias-{{section.id}} {
    width: 1px;
    min-width: 100%;
    border: none;
  }
{% endstyle %}

{% if section.settings.link_to_page != blank %}
  <div class="page-width">
    <iframe
      sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
      onload="scroll(0,0);"
      scrolling="no"
      id="gorgias-{{section.id}}"
      src="{{ section.settings.link_to_page }}"
      title="description"
    ></iframe>
  </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    iFrameResize({ log: false }, '#gorgias-{{section.id}}');
  });
</script>

{% schema %}
{
  "name": "Gorgias FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "url",
      "label": "Link to page",
      "id": "link_to_page"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Gorgias FAQ"
    }
  ]
}
{% endschema %}
