{{ 'loop-faq.css' | asset_url | stylesheet_tag }}
<style></style>

<!-- SEARCHBAR STARTS -->
<div class="page-width page-width--narrow">
  <h1 class="helpcenter-title"> {{ section.settings.helpcenter_title }} </h1>
  <div class="search-wrapper">
    <input
      type="text"
      id="searchInput-{{ section.id }}"
      class="searchInput"
      onkeyup="searchFunction()"
      placeholder="Start typing..."
      title="Type in a name"
      autocomplete="off"
    >

    <ul id="searchListWrapper-{{ section.id }}" class="searchListWrapper">
      {%- for block in section.blocks -%}
        <li>
          <a
            href="#{{ block.settings.faq_question_1 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_1 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_1 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_2 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_2 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_2 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_3 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_3 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_3 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_4 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_4 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_4 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_5 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_5 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_5 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_6 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_6 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_6 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_7 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_7 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_7 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_8 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_8 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_8 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_9 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_9 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_9 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_10 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_10 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_10 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_11 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_11 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_11 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_12 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_12 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_12 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_13 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_13 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_13 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_14 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_14 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_14 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_15 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_15 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_15 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_16 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_16 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_16 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_17 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_17 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_17 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_18 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_18 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_18 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_19 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_19 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_19 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_20 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_20 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_20 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_21 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_21 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_21 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_22 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_22 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_22 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_23 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_23 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_23 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_24 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_24 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_24 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_25 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_25 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_25 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_26 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_26 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_26 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_27 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_27 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_27 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_28 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_28 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_28 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_29 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_29 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_29 -}}
          </a>
        </li>
        <li>
          <a
            href="#{{ block.settings.faq_question_30 | handleize | strip_html }}"
            class="hyper_link"
            data-content="{{ block.settings.faq_answer_30 | strip_html }}"
            data-tab="tab-{{ block.settings.faq_heading | downcase }}"
          >
            {{- block.settings.faq_question_30 -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<!-- SEARCHBAR ENDS -->
<!-- ICONS AND TEXT STARTS -->
<div class="hc-container">
  <ul class="categories-list">
    {%- for block in section.blocks -%}
      {%- if block.settings.faq_heading != blank -%}
        <li
          class="categories-list-item{% if forloop.first %} highlight{% endif %} tab-{{ block.settings.faq_heading | downcase }}"
          data-filter_heading="{{ block.settings.faq_heading | downcase }}"
        >
          <h2 class="hccategory">
            <a
              class="nav-link"
              data-toggle="tab"
              data-target="#hccategory379314"
            >
              <span class="category-icon">
                {{ block.settings.icon_with_text }}
              </span>
              <span class="category-title">{{ block.settings.faq_heading }}</span>
            </a>
          </h2>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
<!-- ICONS AND TEXT ENDS -->

<!-- ACCORDIAN STARTS -->
{%- for block in section.blocks -%}
  <div class="accordian-wrapper">
    <div
      class="filter_wrap filter_{{ block.settings.faq_heading | downcase }}{% if forloop.first %} first_filter {% endif %}"
      data-filter_heading="{{ block.settings.faq_heading | downcase }}"
    >
      {%- if block.settings.faq_heading != blank -%}
        <div class="panel-heading" role="tab" id="heading628332">
          <h3 class="panel-title">
            <div
              id="628332"
              class="hcsection"
              role="button"
              data-toggle="collapse"
              data-parent=""
              href=""
              data-target="#collapse628332"
              aria-controls="collapse628332"
            >
              <span id="fa-sec-628332" class="panel-title-arrow">
                <svg
                  width="24"
                  height="15"
                  viewBox="0 0 24 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22 13L12 3L2 13"
                    stroke="#3E3E3E"
                    stroke-width="3"
                  ></path>
                </svg>
              </span>
              <span class="panel-title-title">{{ block.settings.faq_heading }}</span>
            </div>
          </h3>
        </div>
      {%- endif -%}

      <div class="accordian-item ">
        {%- if block.settings.faq_question_1 != blank and block.settings.faq_answer_1 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_1 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_1 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_1 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_1 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_2 != blank and block.settings.faq_answer_2 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_2 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_2 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_2 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_2 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_3 != blank and block.settings.faq_answer_3 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_3 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_3 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_3 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_3 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_4 != blank and block.settings.faq_answer_4 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_4 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_4 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_4 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_4 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_5 != blank and block.settings.faq_answer_5 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_5 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_5 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_5 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_5 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_6 != blank and block.settings.faq_answer_6 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_6 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_6 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_6 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_6 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_7 != blank and block.settings.faq_answer_7 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_7 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_7 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_7 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_7 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_8 != blank and block.settings.faq_answer_8 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_8 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_8 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_8 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_8 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_9 != blank and block.settings.faq_answer_9 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_9 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_9 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_9 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_9 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_10 != blank and block.settings.faq_answer_10 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_10 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_10 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_10 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_10 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_11 != blank and block.settings.faq_answer_11 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_11 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_11 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_11 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_11 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_12 != blank and block.settings.faq_answer_12 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_12 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_12 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_12 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_12 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_13 != blank and block.settings.faq_answer_13 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_13 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_13 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_13 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_13 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_14 != blank and block.settings.faq_answer_14 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_14 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_14 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_14 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_14 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_15 != blank and block.settings.faq_answer_15 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_15 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_15 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_15 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_15 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_16 != blank and block.settings.faq_answer_16 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_16 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_16 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_16 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_16 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_17 != blank and block.settings.faq_answer_17 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_17 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_17 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_17 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_17 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_18 != blank and block.settings.faq_answer_18 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_18 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_18 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_18 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_18 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_19 != blank and block.settings.faq_answer_19 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_19 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_19 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_19 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_19 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_20 != blank and block.settings.faq_answer_20 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_20 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_20 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_20 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_20 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_21 != blank and block.settings.faq_answer_21 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_21 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_21 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_21 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_21 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_22 != blank and block.settings.faq_answer_22 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_22 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_22 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_22 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_22 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_23 != blank and block.settings.faq_answer_23 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_23 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_23 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_23 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_23 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_24 != blank and block.settings.faq_answer_24 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_24 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_24 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_24 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_24 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_25 != blank and block.settings.faq_answer_25 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_25 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_25 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_25 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_25 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_26 != blank and block.settings.faq_answer_26 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_26 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_26 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_26 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_26 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_27 != blank and block.settings.faq_answer_27 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_27 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_27 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_27 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_27 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_28 != blank and block.settings.faq_answer_28 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_28 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_28 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_28 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_28 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_29 != blank and block.settings.faq_answer_29 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_29 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_29 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_29 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_29 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_30 != blank and block.settings.faq_answer_30 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_30 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_30 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_30 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_30 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_31 != blank and block.settings.faq_answer_31 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_31 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_31 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_31 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_31 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_32 != blank and block.settings.faq_answer_32 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_32 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_32 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_32 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_32 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_33 != blank and block.settings.faq_answer_33 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_33 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_33 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_33 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_33 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_34 != blank and block.settings.faq_answer_34 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_34 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_34 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_34 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_34 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_35 != blank and block.settings.faq_answer_35 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_35 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_35 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_35 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_35 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_36 != blank and block.settings.faq_answer_36 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_36 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_36 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_36 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_36 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_37 != blank and block.settings.faq_answer_37 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_37 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_37 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_37 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_37 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_38 != blank and block.settings.faq_answer_38 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_38 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_38 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_38 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_38 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_39 != blank and block.settings.faq_answer_39 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_39 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_39 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_39 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_39 -}}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if block.settings.faq_question_40 != blank and block.settings.faq_answer_40 != blank -%}
          <div class="wrapper-class">
            <button
              id="{{ block.settings.faq_question_40 | handleize | strip_html }}"
              class="accordion searchable_text"
              data-tab="tab-{{ block.settings.faq_heading | downcase }}"
            >
              {{ block.settings.faq_question_40 }}
            </button>
            <div class="panel">
              <p>
                {{- block.settings.faq_answer_40 -}}
              </p>
              <div class="video-wrapper">
                {{- block.settings.faq_video_40 -}}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endfor -%}
{% comment %} 
  <script>
    var acc = document.getElementsByClassName('accordion');
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.add('activate');
        var panel = this.nextElementSibling;
        console.log({panel})
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px';
        }
      });
    }
</script> 
{% endcomment %}

<!-- ACCORDIAN ENDS -->
<script>
  {% render 'loop-faq-scripts' %}
</script>
{% schema %}
{
  "name": "Loops FAQ",
  "settings": [
    {
      "type": "text",
      "id": "helpcenter_title",
      "label": "Heading",
      "default": "FAQ"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "FAQ Category",
      "settings": [
        {
          "type": "html",
          "id": "icon_with_text",
          "label": "SVG Icons",
          "info": "Upload your svg code here only."
        },
        {
          "type": "text",
          "id": "faq_heading",
          "default": "Shipping",
          "label": "FAQ Heading"
        },
        {
          "type": "header",
          "content": "Questions & Answers 1"
        },
        {
          "type": "text",
          "id": "faq_question_1",
          "default": "Question",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_1",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_1",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 2"
        },
        {
          "type": "text",
          "id": "faq_question_2",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_2",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_2",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 3"
        },
        {
          "type": "text",
          "id": "faq_question_3",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_3",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_3",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 4"
        },
        {
          "type": "text",
          "id": "faq_question_4",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_4",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_4",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 5"
        },
        {
          "type": "text",
          "id": "faq_question_5",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_5",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_5",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 6"
        },
        {
          "type": "text",
          "id": "faq_question_6",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_6",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_6",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 7"
        },
        {
          "type": "text",
          "id": "faq_question_7",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_7",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_7",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 8"
        },
        {
          "type": "text",
          "id": "faq_question_8",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_8",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_8",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 9"
        },
        {
          "type": "text",
          "id": "faq_question_9",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_9",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_9",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 10"
        },
        {
          "type": "text",
          "id": "faq_question_10",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_10",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_10",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 11"
        },
        {
          "type": "text",
          "id": "faq_question_11",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_11",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_11",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 12"
        },
        {
          "type": "text",
          "id": "faq_question_12",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_12",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_12",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 13"
        },
        {
          "type": "text",
          "id": "faq_question_13",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_13",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_13",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 14"
        },
        {
          "type": "text",
          "id": "faq_question_14",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_14",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_14",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 15"
        },
        {
          "type": "text",
          "id": "faq_question_15",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_15",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_15",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 16"
        },
        {
          "type": "text",
          "id": "faq_question_16",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_16",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_16",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 17"
        },
        {
          "type": "text",
          "id": "faq_question_17",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_17",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_17",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 18"
        },
        {
          "type": "text",
          "id": "faq_question_18",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_18",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_18",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 19"
        },
        {
          "type": "text",
          "id": "faq_question_19",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_19",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_19",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 20"
        },
        {
          "type": "text",
          "id": "faq_question_20",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_20",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_20",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 21"
        },
        {
          "type": "text",
          "id": "faq_question_21",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_21",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_21",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 22"
        },
        {
          "type": "text",
          "id": "faq_question_22",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_22",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_22",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 23"
        },
        {
          "type": "text",
          "id": "faq_question_23",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_23",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_23",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 24"
        },
        {
          "type": "text",
          "id": "faq_question_24",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_24",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_24",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 25"
        },
        {
          "type": "text",
          "id": "faq_question_25",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_25",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_25",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 26"
        },
        {
          "type": "text",
          "id": "faq_question_26",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_26",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_26",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 27"
        },
        {
          "type": "text",
          "id": "faq_question_27",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_27",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_27",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 28"
        },
        {
          "type": "text",
          "id": "faq_question_28",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_28",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_28",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 29"
        },
        {
          "type": "text",
          "id": "faq_question_29",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_29",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_29",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 30"
        },
        {
          "type": "text",
          "id": "faq_question_30",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_30",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_30",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 31"
        },
        {
          "type": "text",
          "id": "faq_question_31",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_31",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_31",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 32"
        },
        {
          "type": "text",
          "id": "faq_question_32",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_32",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_32",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 33"
        },
        {
          "type": "text",
          "id": "faq_question_33",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_33",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_33",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 34"
        },
        {
          "type": "text",
          "id": "faq_question_34",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_34",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_34",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 35"
        },
        {
          "type": "text",
          "id": "faq_question_35",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_35",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_35",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 36"
        },
        {
          "type": "text",
          "id": "faq_question_36",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_36",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_36",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 37"
        },
        {
          "type": "text",
          "id": "faq_question_37",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_37",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_37",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 38"
        },
        {
          "type": "text",
          "id": "faq_question_38",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_38",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_38",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 39"
        },
        {
          "type": "text",
          "id": "faq_question_39",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_39",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_39",
          "label": "Video iframe tag"
        },
        {
          "type": "header",
          "content": "Questions & Answers 40"
        },
        {
          "type": "text",
          "id": "faq_question_40",
          "label": "Enter Question"
        },
        {
          "type": "richtext",
          "id": "faq_answer_40",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "faq_video_40",
          "label": "Video iframe tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loops FAQ",
      "blocks": [
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
