<style>
  .comparison {
    width: 100vw;
    position: relative;
  }
  .comparison--grid .icon-arrow {
    width: 1rem;
  }
  .comparison--grid .price {
    margin: 16px 0;
  }
  .comparison--grid .price__sale {
    display: none;
  }
  .comparison--grid variant-radios fieldset {
    margin: 0 auto;
  }
  .comparison--grid {
    padding: 60px 1rem;
    font-size: 28px;
    color: #1D1D1F;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
  }
  .comparison--grid--item section {
    text-align: center;
    padding: 54px 32px;
  }
  .comparison--grid--item section > div{
    padding: 32px 0;
  }
  .comparison--grid--item section > div:first-child{
    padding-top: 0;
  }
  .comparison--grid--item section > div:last-child{
    padding-bottom: 0;
  }
  .comparison--grid--item section * {
    margin: 0;
  }
  .comparison--grid--item .price {
    font-size: 32px;
  }
  .comparison--grid--item section h3,
  .comparison--grid--item section p {
    margin: 8px 0;
  }

  .comparison--grid--item section h3 {
    font-size: 32px;
  }
  .comparison--grid--item section:not(:last-child) {
    border-bottom: 1px solid black;
  }
  {% comment %} Product block {% endcomment %}
  .comparison--grid--item .product img {
    width: 100%;
    max-width: 220px;
    margin: 16px auto 0;
  }
  .comparison--grid--item .product variant-radios {
    margin: 1rem 0 0;
    display: block;
  }
  .comparison--grid--item .product .price {
    padding: 0;
    padding-bottom: 1rem;
  }
  .comparison--grid--item .product--tagline {
    padding: 0 1rem 8px;
  }
  {% comment %} Reduction block {% endcomment %}
  .comparison--grid--item .reduction .reduction--header {
    border-bottom: 1px solid black;
  }
  .comparison--grid--item .reduction .reduction--header * {
    margin: 0;
  }
  {% comment %} Use cases block {% endcomment %}
  .comparison--grid--item .use-cases .use-case img {
    width: 50px;
    height: auto;
  }
  .comparison--grid--item .use-cases .use-case p {
  }
  .comparison--grid--item .use-cases .use-case p:not(:last-child) {
    margin-bottom: 48px;
  }
  {% comment %} Included block {% endcomment %}
  .comparison--grid--item .included .included--extras {
    border-top: 1px solid black;
  }
  .comparison--grid--item .included a {
    color: #C35E66;
  }
  {% comment %} Details block {% endcomment %}
  .comparison--grid--item .details img {
    width: 100%;
    max-width: 320px;
    margin: 16px auto 0;
  }
  {% comment %} Buy now block {% endcomment %}
  .comparison--grid--item .buy img {
    width: 100%;
    max-width: 220px;
    margin: 16px auto 0;
  }
  .comparison--grid--item variant-radios {
    margin: 1rem 0 0;
    display: block;
  }
  .comparison--grid--item .price {
    padding: 0;
    padding-bottom: 1rem;
  }

  {% comment %} Mobile styles {% endcomment %}
  @media screen and (max-width: 795px) {
    .comparison--grid {
      font-size: 16px;
      padding: 16px 1rem;
      width: 100%;
    }
    .comparison--grid--item {
      width: 45vw;
    }
    .comparison--grid--item section h3,
    .comparison--grid--item section h2,
    .comparison--grid--item .price {
      font-size: 20px;
    }
    .comparison--grid--item section {
      padding: 32px 8px;
    }
    .comparison--grid--item .product img,
    .comparison--grid--item .details img {
      max-width: 120px;
    }
    .comparison--grid--item section .button {
      width: 80%;
      min-height: 40px;
    }
  }
</style>

<section class="comparison">
  <div class="comparison--grid">
    {% for block in section.blocks %}
      <div class="comparison--grid--item">
        <section class="product">
          <h3>{{ block.settings.product.title }}</h3>
          <img
            src="{{ block.settings.product.featured_image | image_url: width: 750 }}"
            alt="{{ block.settings.product.title }}"
          >
          {% render 'variant-swatch', product: block.settings.product %}
          {% render 'price', product: block.settings.product %}
          {% if block.settings.tagline %}
            <div class="product--tagline">{{ block.settings.tagline }}</div>
          {% endif %}
          <a class="button" href="">Buy now</a>
        </section>
        <section class="reduction">
          {% if block.settings.product.metafields.custom.product_filter %}
            <div class="reduction--header">
              <p>up to</p>
              <h3>-{{ block.settings.product.metafields.custom.product_filter }}</h3>
              <p>noise reduction</p>
            </div>
          {% endif %}
          {% if block.settings.noise_content != blank %}
            <div class="reduction--info">{{ block.settings.noise_content }}</div>
          {% endif %}
        </section>
        <section class="use-cases">
          {% if block.settings.use_cases_title != blank %}
            <h2>{{ block.settings.use_cases_title }}</h2>
            {% if block.settings.use_case_1_image != blank %}
              <div class="use-case">
                <img
                  src="{{ block.settings.use_case_1_image | image_url: width: 200 }}"
                  loading="lazy"
                  width="500"
                  height="500"
                  alt=""
                >
                <p>{{ block.settings.use_case_1_title }}</p>
              </div>
            {% endif %}
            {% if block.settings.use_case_2_image != blank %}
              <div class="use-case">
                <img
                  src="{{ block.settings.use_case_2_image | image_url: width: 500 }}"
                  loading="lazy"
                  width="500"
                  height="500"
                  alt=""
                >
                <p>{{ block.settings.use_case_2_title }}</p>
              </div>
            {% endif %}
            {% if block.settings.use_case_3_image != blank %}
              <div class="use-case">
                <img
                  src="{{ block.settings.use_case_3_image | image_url: width: 500 }}"
                  loading="lazy"
                  width="500"
                  height="500"
                  alt=""
                >
                <p>{{ block.settings.use_case_3_title }}</p>
              </div>
            {% endif %}
            {% if block.settings.use_case_4_image != blank %}
              <div class="use-case">
                <img
                  src="{{ block.settings.use_case_4_image | image_url: width: 500 }}"
                  loading="lazy"
                  width="500"
                  height="500"
                  alt=""
                >
                <p>{{ block.settings.use_case_4_title }}</p>
              </div>
            {% endif %}
          {% endif %}
        </section>
        <section class="included">
          <div class="included--content">
            {% if block.settings.included_title != blank %}
              <h3>{{ block.settings.included_title }}</h3>
            {% endif %}
            {% if block.settings.included_body != blank %}
              <div class="included--body">{{ block.settings.included_body }}</div>
            {% endif %}
          </div>
          <div class="included--extras">
            {{ block.settings.included_extras }}
          </div>
          {% if block.settings.included_extras_link %}
            <a href="{{ block.settings.included_extras_link }}">
              {{- block.settings.included_extras_label }}
              <span>{% render 'icon-arrow' %}</span>
            </a>
          {% endif %}
        </section>
        <section class="details">
          <h3>{{ block.settings.image_title }}</h3>
          <img
            src="{{ block.settings.image_image | image_url: width: 750 }}"
            alt="image"
            width="750"
            height=""
            loading="eager"
          >
        </section>
        <section class="buy">
          <h3>{{ block.settings.product.title }}</h3>
          <img
            src="{{ block.settings.product.featured_image | image_url: width: 750 }}"
            alt="{{ block.settings.product.title }}"
          >
          {% render 'variant-swatch', product: block.settings.product %}
          {% render 'price', product: block.settings.product %}
          <a class="button" href="">Buy now</a>
        </section>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  const sections = document.querySelectorAll(
    '.comparison--grid--item section:not(.product):not(.buy):not(.details), .comparison--grid--item .product--tagline'
  );
  let highestSections = {};

  function adaptHeight() {
    sections.forEach((section) => {
      const className = section.classList.item(0);
      const height = section.scrollHeight;

      if (!highestSections[className] || highestSections[className] < height) {
        highestSections[className] = height;
      }
    });

    sections.forEach((section) => {
      const className = section.classList.item(0);
      const height = section.scrollHeight;
      if (highestSections[className] && highestSections[className] >= height) {
        section.style.height = `${highestSections[className]}px`;
      }
    });
  }

  adaptHeight();

  document.querySelectorAll('main .details img').forEach((image) => {
    image.addEventListener('load', (e) => {
      const parentHeight = image.parentNode.offsetHeight;
      const allDetailsBlocks = document.querySelectorAll('main .details');
      const maxHeight = [...allDetailsBlocks].sort((a, b) => a - b)[0];
      if (parentHeight > maxHeight.offsetHeight) {
        allDetailsBlocks.forEach((block) => {
          block.style.height = `${parentHeight}px`;
        });
      }
    });
  });
</script>

{% schema %}
{
  "name": "Products comparison",
  "tag": "section",
  "blocks": [
    {
      "type": "comparison_product",
      "name": "Comparison Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "richtext",
          "id": "tagline",
          "label": "Tagline"
        },
        {
          "type": "header",
          "content": "Noise reduction block"
        },
        {
          "type": "richtext",
          "id": "noise_content",
          "label": "Info"
        },
        {
          "type": "header",
          "content": "Use cases block"
        },
        {
          "type": "text",
          "id": "use_cases_title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "use_case_1_image",
          "label": "Use case 1: Image"
        },
        {
          "type": "text",
          "id": "use_case_1_title",
          "label": "Use case 1: Title"
        },
        {
          "type": "image_picker",
          "id": "use_case_2_image",
          "label": "Use case 2: Image"
        },
        {
          "type": "text",
          "id": "use_case_2_title",
          "label": "Use case 2: Title"
        },
        {
          "type": "image_picker",
          "id": "use_case_3_image",
          "label": "Use case 3: Image"
        },
        {
          "type": "text",
          "id": "use_case_3_title",
          "label": "Use case 3: Title"
        },
        {
          "type": "image_picker",
          "id": "use_case_4_image",
          "label": "Use case 4: Image"
        },
        {
          "type": "text",
          "id": "use_case_4_title",
          "label": "Use case 4: Title"
        },
        {
          "type": "header",
          "content": "Included block"
        },
        {
          "type": "text",
          "id": "included_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "included_body",
          "label": "Included body"
        },
        {
          "type": "richtext",
          "id": "included_extras",
          "label": "Extras"
        },
        {
          "type": "url",
          "id": "included_extras_link",
          "label": "Extras link"
        },
        {
          "type": "text",
          "id": "included_extras_label",
          "label": "Extras link label"
        },
        {
          "type": "header",
          "content": "Image block"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image_image",
          "label": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products comparison"
    }
  ]
}
{% endschema %}
