{% if section.settings.form_id != blank %}
  <style>
    .klaviyo-form-{{section.settings.form_id}} {
      width: 100% !important;
      max-width: 563px !important;
    }
    .klaviyo-form-{{section.settings.form_id}} * {
      font-family: inherit !important;
    }
    .klaviyo-form-{{section.settings.form_id}} button.go3894874857, .klaviyo-form-{{section.settings.form_id}} button.go3894874857 {
      font-size: 20px!important;
      line-height: 21px!important;
      letter-spacing: -.02em!important;
      font-family: Avantt Regular!important;
      padding: 11.5px 35px!important;
      background: rgb(37, 36, 39) !important;
      border-radius: 41px !important;
    }
  </style>

  <div class="rich-text__wrapper rte" style="margin: 0 auto;">
    <div class="klaviyo-form-{{section.settings.form_id}}"></div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Loops FAQ",
  "settings": [
    {
      "type": "text",
      "id": "form_id",
      "label": "Form ID"
    }
  ],
  "presets": [
    {
      "name": "Klaviyo form"
    }
  ]
}
{% endschema %}
