{%- style -%}
  .main-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 10dvw;
    gap: 200px;
  }

  .main-collection-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 25px;
  }

  .main-collection-title {
    font-size: 40px;
    font-weight: 700;
    color: var(--onyx);
    text-align: center;
  }

  .main-collection-description {
    max-width: 700px;
    color: var(--onyx);
    font-size: 20px;
    text-align: center;
  }

  .main-collection-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1130px;
    max-height: 220px;
    padding: 30px 50px;
    border-radius: 24px;
    gap: 30px;
    background: var(--dark-vanilla);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5) inset, 0px -2px 8px rgba(0, 0, 0, 0.15) inset,
      0px 10px 20px rgba(0, 0, 0, 0.25);
    flex-wrap: nowrap;
  }

  .main-collection-product__image {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }

  .main-collection-product__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
  }

  .main-collection-product__title {
    color: var(--onyx);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
  }

  .main-collection-product__description {
    max-width: 550px;
    color: #383838;
    font-size: 16px;
    text-decoration: none;
  }

  .main-collection-product__cta {
    display: flex;
    width: 65px;
    height: 65px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--onyx);
    text-decoration: none;
    color: var(--onyx);
    background-color: var(--dark-vanilla);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .main-collection-product__cta:hover,
  .main-collection-product__cta:focus {
    background-color: var(--snow);
    border: none;
    color: var(--dark-vanilla);
    transform: rotate(45deg);
  }

  @media (max-width: 1280px) {
    .main-collection-product {
      max-width: 1130px;
      max-height: 350px;
    }
  }

  @media (max-width: 1024px) {
    .main-collection-product {
      flex-direction: column;
      text-align: center;
      padding: 0 30px 40px 30px;
      max-height: 550px;
    }

    .main-collection-product__image {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
    }

    .main-collection-product__details {
      align-items: center;
      text-align: center;
      margin-top: 200px;
      gap: 20px;
    }

    .main-collection-product__title {
      font-size: 32px;
    }

    .main-collection-product__description {
      max-width: 90%;
      font-size: 18px;
    }

    .main-collection-product__cta {
      width: 65px;
      height: 65px;
    }
  }

  /* MOBILES */
  @media (max-width: 768px) {
    .main-collection-container {
      padding: 100px 5dvw;
      gap: 100px;
    }

    .main-collection-product__title {
      font-size: 26px;
    }

    .main-collection-product__image {
      top: 50px;
      max-width: 250px;
    }
  }
{%- endstyle -%}

{% assign collection_image = product.images | where: 'alt', 'collection-only' | first %}

<section class="main-collection-container">
  <div class="main-collection-titles">
    <h1 class="main-collection-title">Our Cookies</h1>
    <p class="main-collection-description">{{ collection.description | strip_html }}</p>
  </div>
  {% for product in collection.products %}
    <div class="main-collection-product">
      <img
        src="{{ collection_image | image_url: 'medium' }}"
        alt="{{ product.title }}"
        class="main-collection-product__image"
        width="300"
        height="300"
      >
      <div class="main-collection-product__details">
        <h1 class="main-collection-product__title">{{ product.title }}</h1>
        <p class="main-collection-product__description">
          {{ product.description | strip_html | truncatewords: 25 }}
        </p>
      </div>
      <a href="{{ product.url }}" class="main-collection-product__cta" aria-label="View {{ product.title }}">
        <i data-lucide="move-up-right"></i>
      </a>
    </div>
  {% endfor %}
</section>
