<link href="{{ 'main-single.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ 'main-general.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ 'owl.carousel.min.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

<article class="general-product">
  <div class="general-product-info">
      <h3>{{ product.type }}</h3>
      <div class="socials">
                        <a target="_blank" href="https://twitter.com/share?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;text=I%20made%20my%20own%20blend%20on%20@whisky_blender.%20Check%20it%20out!">
                            <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/x.svg?v=29714418032980685791718559188" width="24" height="24">
                        </a>
                        
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey">
                            <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/facebook-black.svg?v=47337817337639884031718559197" width="24" height="24">
                        </a>
                        <a target="_blank" href="https://reddit.com/submit?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;title=I%20made%20my%20own%20blend%20on%20whiskyblender.com">
                            <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/reddit-black.svg?v=2490704564677326621718559204" width="24" height="24">
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;title=My%20own%20whisky&amp;summary=I%20made%20my%20own%20blend%20on%20whiskyblender.com&amp;source=whiskyblender.com">
                            <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/linkedin-black.svg?v=167288677250598986921718559211" width="24" height="24">
                        </a>
                        
                        <a target="_blank" href="mailto:?subject=My own whisky&amp;body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey">
                            <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/email-black.svg?v=66991327770306542181718559235" width="24" height="24">
                        </a>
      </div>
  </div>

  <h3 class="title">{{ product.title }}</h3>

  <div class="mobile-socials">
    <div class="socials">
      <a target="_blank" href="https://twitter.com/share?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;text=I%20made%20my%20own%20blend%20on%20@whisky_blender.%20Check%20it%20out!">
          <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/x.svg?v=29714418032980685791718559188" width="24" height="24">
      </a>
      
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey">
          <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/facebook-black.svg?v=47337817337639884031718559197" width="24" height="24">
      </a>
      <a target="_blank" href="https://reddit.com/submit?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;title=I%20made%20my%20own%20blend%20on%20whiskyblender.com">
          <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/reddit-black.svg?v=2490704564677326621718559204" width="24" height="24">
      </a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?url=whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey&amp;title=My%20own%20whisky&amp;summary=I%20made%20my%20own%20blend%20on%20whiskyblender.com&amp;source=whiskyblender.com">
          <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/linkedin-black.svg?v=167288677250598986921718559211" width="24" height="24">
      </a>
      
      <a target="_blank" href="mailto:?subject=My own whisky&amp;body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com%2Fproducts%2Fwhiskey-uncover-whiskey">
          <img src="//whiskyblenderaob.myshopify.com/cdn/shop/t/4/assets/email-black.svg?v=66991327770306542181718559235" width="24" height="24">
      </a>
</div>
  </div>

</article>

<div class="owl-carousel gallery">
  {% for image in product.images %}
    <div class="item">
      <img src="{{ image.src | img_url: '904x542' }}" alt="{{ image.alt | escape }}">
    </div>
  {% endfor %}
</div>

{% render 'product-selector' %}
{% render 'find-blend' %}

<script src="{{ 'main-general.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.min.js' | asset_url }}"></script>
<script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>



<script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop:true,
                margin:20,
                nav:true,
                items:1,
                center:true
            });
        });
</script>
