{{ 'smshrs-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'color-picker.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign products_per_page = 24

  assign product_count = collection.products_count

  if collection.results_count
    assign product_count = collection.results_count
  elsif collection.products_count == collection.all_products_count
    assign product_count = collection.products_count
  else
    assign product_count = collection.products_count
  endif

  assign sort_by = collection.sort_by | default: collection.default_sort_by
%}

<div class="lg:px-large mx-auto max-w-[1920px] lg:mt-large">
  {%- paginate collection.products by products_per_page -%}
    <div class="sticky top-14 bg-white py-2.5 px-base lg:px-0 lg:py-[6px] flex justify-between items-center border-b border-b-grey100 lg:border-b-0 lg:pt-[14px] lg:-mt-small">
      <div class="text-t-sm">
        {{ collection.title }} (<span id="ProductCount">{{ product_count }}</span>)
      </div>

      <facet-filters-form class="facets facets-vertical-sort page-width hidden lg:block">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field bg-white relative w-[180px]">
              <span class="left-0 absolute top-1/2 -translate-y-1/2 text-body-xs">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </span>

              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <select
                name="sort_by"
                class="select__select truncate appearance-none bg-transparent border-0 pl-[100px] pr-5 text-body-xs w-[180px] relative z-10"
                id="SortBy"
                aria-describedby="a11y-refresh-page-message"
              >
                {{ 'products.facets.sort_by_label' | t -}}
                :
                {%- for option in collection.sort_options -%}
                  <option
                    class="text-body-xs"
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>

              <span class="absolute right-0 top-1/2 -translate-y-[42%] peer-focus:rotate-180">
                {% render 'icon-chevron-down', class: 'w-4 h-4 icon-caret' %}
              </span>
            </div>
          </div>
        </form>
      </facet-filters-form>

      {% render 'smshr-menu-drawer', collection: collection, section_id: section.id %}
    </div>

    <div class="flex gap-8 mt-small">
      <div class="self-stretch w-[19.5%] shrink-0  hidden lg:block">
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper facets-wrapper--no-filters w-full sticky top-[108px] self-baseline"
          id="main-collection-filters"
        >
          {% render 'smshr-facets',
            results: collection,
            paginate: paginate,
            enable_filtering: true,
            enable_sorting: true,
            filter_type: 'vertical'
          %}
        </aside>
      </div>

      <div class="product-grid-container flex-1" id="ProductGridContainer">
        <div class="collection">
          <div class="loading-overlay gradient"></div>

          <pagination-block>
            <ul
              id="product-grid"
              data-next-url="{{ paginate.next.url }}"
              data-per-page="{{ paginate.page_size }}"
              data-id="{{ section.id }}"
              class="pagination-wrapper mx-auto flex flex-wrap justify-center xl:justify-start flex-grow products-wrapper"
            >
              {%- for product in collection.products -%}
                <li
                  class="min-[380px]:w-[190px] min-[396px]:w-[198px] lg:basis-[320px] shrink-0 product-item"
                >
                  {% render 'product-card', product: product %}
                </li>
              {%- endfor -%}
            </ul>

            {% unless paginate.items == 0 %}
              <div class="pt-8 pb-12 flex flex-col items-center w-full gap-small">
                <p id="PaginationCount" class="text-body-xs text-grey500">
                  {{ 'general.pagination.showing' | t }}

                  <span id="item_count"> </span>
                  {{ 'general.pagination.of' | t }}

                  <span id="total_item_count">
                    {{ paginate.items }}
                  </span>
                  {{ 'general.pagination.results' | t }}
                </p>
                {% if paginate.pages > 1 %}
                  <div class="flex self-stretch relative justify-center">
                    {% render 'button',
                      variant: 'secondary',
                      size: 'lg',
                      text: 'Mehr laden',
                      classes: 'flex-grow load-more max-w-[360px]'
                    %}
                    {% render 'loading-spinner', class: 'stroke-grey500 load-more-spinner hidden' %}
                  </div>
                {% endif %}
              </div>
            {% endunless %}
          </pagination-block>
        </div>
      </div>
    </div>
  {% endpaginate %}
</div>

<script src="{{ 'pagination.js' | asset_url }}" defer="defer"></script>
