{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% assign categories = collection.metafields.custom.pickup_categories %}
{% assign series = collection.metafields.custom.pickup_series %}

{%- style -%}
  @media screen and (max-width: 749px) {
  .collection-hero--with-image .collection-hero__inner {
  padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
  }
  }
{%- endstyle -%}

<div class="cpb-header page-width">
  <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-py-4 tw-px-0">
    <li class="tw-items-center tw-inline-flex tw-text-sm">
      <a href="/" class="tw-text-black">TOP</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">
      <a href="{{ collection.url }}" class="tw-text-gray-400">{{ collection.title }}</a>
    </li>
    {%- if current_tags  -%}
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">
      {{ current_tags }}
    </li>
    {%- endif -%}
  </ul>
  <h1 class="brand-logo tw-m-0">
    <a href="/collections/cle-de-peau-beaute"><img
          class="tw-mx-auto"
          src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/cle-de-peau-beaute_0571a30f-ac95-4e82-b2c7-4a22892b9a17.svg?v=1733190850"
          alt="クレ・ド・ポー ボーテ | Perfumerie Sukiya" width="300" height="90"></a>
  </h1>
  {% render 'header-navigation-cpb' %}
</div>

{% schema %}
{
  "name": "コレクションバナーCPB",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
