{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% assign categories = collection.metafields.custom.pickup_categories %}
{% assign series = collection.metafields.custom.pickup_series %}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.products_to_show
  assign more_in_collection = true

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  assign show_mobile_slider = true

  assign show_desktop_slider = false
  assign show_desktop_slider = true
-%}

<div class="page-width">
  <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-py-4 tw-px-0">
    <li class="tw-items-center tw-inline-flex tw-text-sm">
      <a href="/" class="tw-text-black">TOP</a>
    </li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">
      <a href="{{ collection.url }}" class="tw-text-gray-400">{{ collection.title }}</a>
    </li>
  </ul>
</div>

{% if collection.metafields.my_fields.main_banner %}
  <div class="brand-details">
    <h1 class="brand-logo">
      {% if collection.metafields.my_fields.brand_top_logo %}
        <img
          src="{{ collection.metafields.my_fields.brand_top_logo | image_url }}"
          alt="{{ collection.title }} | Perfumerie Sukiya"
          class="tw-mx-auto"
          width="300"
          height="90"
        >
      {% else %}
        <img
          src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/{{ collection.handle }}.svg"
          alt="{{ collection.title }} | Perfumerie Sukiya"
          class="tw-mx-auto"
          width="300"
          height="90"
        >
      {% endif %}
    </h1>
    <div class="brand-description">{{ collection.description }}</div>
    <div class="campaign">
      <div class="tw-flex tw-flex-wrap tw-max-w-[800px] tw-mx-auto">
        <div class="tw-w-full md:tw-w-3/4">
          <div class="main-campaign">
            {% if collection.metafields.my_fields.main_banner_link %}
              <a href="{{ collection.metafields.my_fields.main_banner_link }}">
            {%- endif %}
            <img
              src="{{ collection.metafields.my_fields.main_banner | image_url }}"
              alt="{{ collection.metafields.my_fields.main_banner.alt }}"
              width="700"
              height="500"
            >
            {% if collection.metafields.my_fields.main_banner_link %}</a>{% endif %}
          </div>
        </div>
        <div class="tw-w-full md:tw-w-1/4">
          <div class="sub-campaigns tw-flex tw-justify-between tw-flex-wrap md:tw-ml-4">
            <picture class="tw-w-[45px] md:tw-w-auto">
              <source
                srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/campaign-sp.svg"
                media="(max-width: 750px)"
              >
              <img
                src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/campaign.svg"
                alt="FEATURE"
                width="176"
                height="55"
              >
            </picture>
            <div
              class="tw-flex tw-justify-between tw-flex-auto max-md:tw-basis-0 max-md:tw-space-x-2.5 md:tw-flex-wrap"
            >
              <div class="md:tw-mb-4 tw-flex-grow tw-bg-white">
                {% if collection.metafields.my_fields.feature1_banner_link %}
                  <a href="{{ collection.metafields.my_fields.feature1_banner_link }}">
                {%- endif %}
                <img
                  src="{{ collection.metafields.my_fields.feature1_banner | image_url }}"
                  alt="{{ collection.metafields.my_fields.feature1_banner.alt }}"
                  width="178"
                  height="178"
                >
                {% if collection.metafields.my_fields.feature1_banner_link %}</a>{% endif %}
              </div>
              <div class="tw-flex-grow tw-bg-white">
                {% if collection.metafields.my_fields.feature2_banner_link %}
                  <a href="{{ collection.metafields.my_fields.feature2_banner_link }}">
                {%- endif %}
                <img
                  src="{{ collection.metafields.my_fields.feature2_banner | image_url }}"
                  alt="{{ collection.metafields.my_fields.feature2_banner.alt }}"
                  width="178"
                  height="178"
                >
                {% if collection.metafields.my_fields.feature2_banner_link %}</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div
    class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient"
  >
    <div
      class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    >
      <div class="collection-hero__text-wrapper">
        <h1 class="collection-hero__title">
          <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
          {{- collection.title | escape -}}
        </h1>

        {%- if section.settings.show_collection_description -%}
          <div class="collection-hero__description rte">{{ collection.description }}</div>
        {%- endif -%}
      </div>

      {%- if section.settings.show_collection_image and collection.image -%}
        <div class="collection-hero__image-container media gradient">
          <img
            srcset="
              {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ collection.image | image_url }} {{ collection.image.width }}w
            "
            src="{{ collection.image | image_url: width: 750 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt=""
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
          >
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% comment %} shiseido-top-connect.liquid を挿入 {% endcomment %}
{% render 'shiseido-top-connect' %}

<div class="top-contents-hidden">
  <div class="shiseido-items tw-mb-20 page-width tw-my-5">
    <h3 class="tw-text-2xl tw-font-bold" id="new-arrivals">
      NEW ARRIVALS
      <span
        class="tw-font-medium tw-text-sm tw-ml-2.5"
        >新着</span
      >
    </h3>
    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for product in collections['shiseido-top-new'].products -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.ranking %} ranking-item{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% if section.settings.ranking %}
              <span class="rank">{{ forloop.index }}</span>
            {% endif %}
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
  <div class="shiseido-items tw-mb-20 page-width tw-my-5">
    <h3 class="tw-text-2xl tw-font-bold">
      RECOMMEND
      <span
        class="tw-font-medium tw-text-sm tw-ml-2.5"
        >ブランドからのおすすめ</span
      >
    </h3>
    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for product in collections['shiseido-top-recommend'].products -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.ranking %} ranking-item{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% if section.settings.ranking %}
              <span class="rank">{{ forloop.index }}</span>
            {% endif %}
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>

  <div class="categories tw-mx-auto tw-max-w-7xl">
    <div class="categorie-skincare md:tw-flex tw-flex-row-reverse tw-mt-14 tw-m-2">
      <img
        class="skincare-img md:tw-w-1/2 max-md:tw-mx-auto"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/ASR_0206_Digital_ol_1080x1080_3fe9ec4f-d669-4705-9db7-16c05b369276.png?v=1744864495"
        width="512"
        height="512"
      >
      <div class="skincare-text md:tw-w-1/2 tw-px-8 max-md:tw-text-center max-md:tw-w-11/12 tw-mx-auto max-md:tw-mb-12">
        <h2 class="tw-font-black tw-text-5xl">SKINCARE</h2>
        <h3 class="tw-font-bold">美のめぐり3ステップ</h3>
        <h3 class="tw-font-bold">赤の循環で、ゆらがない強さを</h3>
        <p>
          ３つのめぐりが、透明感あふれる輝き、<br>
          なめらかさ、ハリ・弾力が備わった、<br>
          生命感あふれるつややかな肌へ導く。
        </p>
        <a
          href="/collections/shiseido/?filter.p.tag=スキンケア#Collection"
          class="tw-block tw-bg-black tw-text-white tw-no-underline tw-px-4 tw-py-4 tw-mt-4 tw-text-center "
          >詳しくはこちら＞</a
        >
      </div>
    </div>
    <div class="categorie-makeup md:tw-flex tw-mb-14">
      <img
        class="makeup-img md:tw-w-1/2 max-md:tw-mx-auto"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/1.png?v=1744864483"
        width="512"
        height="512"
      >
      <div class="makeup-text tw-px-8 max-md:tw-text-center max-md:tw-w-11/12 tw-mx-auto">
        <h2 class="tw-font-black tw-text-5xl">MAKE UP</h2>
        <p>
          なにもつけていないような軽さ、<br>
          大胆な発色、ハイクオリティーな仕上がり。<br>
          ふれるたび、思いがけない美しさが生まれる。
        </p>
        <a
          href="/collections/shiseido/?filter.p.tag=メイクアップ#Collection"
          class="tw-block tw-bg-black tw-text-white tw-no-underline tw-px-4 tw-py-4 tw-mt-4 tw-text-center"
          >詳しくはこちら＞</a
        >
      </div>
    </div>
  </div>
  <div class="counseling tw-items-center tw-mx-auto tw-mb-10">
    <a
      href="https://brand.shiseido.co.jp/online-counseling-top.html"
      target="_blank"
      class="tw-block tw-w-4/5 tw-items-center tw-mx-auto tw-max-w-7xl"
    >
      <img
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/counseling_d1_800_160.jpg?v=1719799156"
        alt="online-counceling"
        class="md:tw-hidden tw-object-cover tw-w-full tw-h-auto"
        width="800"
        height="160"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/counseling_d4_768_72.jpg?v=1719803532"
        width="768"
        height="72"
        alt="online-counceling"
        class="max-md:tw-hidden tw-object-cover tw-w-full tw-h-auto"
      >
    </a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('filter.p.tag')) {
      const divToHide = document.querySelector('.top-contents-hidden');
      if (divToHide) {
        divToHide.style.display = 'none';
      }
    }
  });
</script>

{% if categories %}
  {% comment %}TODO::カテゴリー選択をShopifyデフォルトのカテゴリー選択に仕様を合わせる{% endcomment %}
  <div class="page-width tw-my-5">
    <h3 class="tw-mb-2 tw-text-lg tw-underline">ITEM CATEGORY</h3>
    <div class="category-navigation">
      <ul class="category-navigation-list tw-p-0 tw-grid tw-grid-cols-4 md:tw-grid-cols-6 tw-gap-2 md:tw-gap-4">
        {% for category in categories.value %}
          <li class="tw-shadow-md">
            <a
              class="scroll_item_inr tw-no-underline"
              href="/collections/{{ collection.handle }}/?filter.p.tag={{ category.tag_name.value }}#Collection"
            >
              <img
                class="tw-mx-auto"
                src="{{ category.image.value.image | image_url }}"
                alt="{{ category.name.value }}"
                width="500"
                height="500"
              >
              <div class="tw-text-xs tw-text-center tw-my-2 tw-text-black">{{ category.name.value }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if series %}
  <div class="page-width tw-my-5">
    <h3 class="tw-mb-2 tw-text-lg tw-underline">SERIES - シリーズ</h3>
    <div class="category-navigation">
      <ul class="category-navigation-list tw-p-0 tw-grid tw-items-center tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-2 md:tw-gap-4">
        {% for s in series.value %}
          <li>
            <a
              class="scroll_item_inr tw-no-underline"
              href="/collections/{{ collection.handle }}/?filter.p.tag={{ s.tag_name.value }}#Collection"
            >
              <img
                class="tw-mx-auto"
                src="{{ s.image.value.image | image_url}}"
                alt="{{ s.name.value }}"
                width="244"
                height="100"
              >
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% else %}

{% endif %}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
