{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .template-search__search {
    margin: 0 auto;
    max-width: 29.5rem;
  }

  .template-search__search .search {
    margin-top: 3rem;
  }

  .template-search__results {
    margin-top: 6rem;
  }

  .template-search--empty {
    padding-bottom: 18rem;
  }

  .template-search .grid__item--small:not(:last-child) {
    padding-bottom: 0.5rem;
  }

  @media screen and (min-width: 750px) {
    .template-search__search {
      max-width: 47.8rem;
    }

    .template-search .grid__item--small:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  .search__button .icon {
    height: 1.8rem;
  }
</style>

<div class="template-search spaced-section{% unless search.performed and search.results.size > 0 %} template-search--empty{% endunless %}">
  <div class="page-width center">
    {%- if search.performed -%}
      <h1 class="h2">{{ 'templates.search.title' | t }}</h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}
    <div class="template-search__search">
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field">
          <input
            class="search__input field__input"
            id="Search-In-Template"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            {% if search.performed %}autofocus{% endif %}
            placeholder="{{ 'general.search.search' | t }}"
          >
          <label class="field__label" for="Search-In-Template" aria-hidden="true">{{ 'general.search.search' | t }}</label>
          <input name="options[prefix]" type="hidden" value="last">
          <button type="submit" class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search">
            </svg>
          </button>
        </div>
      </form>
    </div>
    {%- if search.performed -%}
      <p class="element-margin" role="status">
        {%- if search.results_count == 0 -%}
          {{ 'templates.search.no_results' | t: terms: search.terms }}
        {%- else -%}
          {{ 'templates.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {%- endif -%}
      </p>
    {%- endif -%}
  </div>
  {%- if search.performed and search.results.size > 0 -%}
    {% paginate search.results by 24 %}
      <div class="template-search__results page-width">
        <ul class="grid grid--4-col-desktop grid--3-col-tablet grid--2-col grid--one-third-max grid--quarter-max negative-margin product-grid" role="list">
          {%- for item in search.results -%}
            <li class="grid__item{% unless item.object_type == 'product' %} grid__item--small{% endunless %}">
              {%- case item.object_type -%}
                {%- when 'product' -%}
                  {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                  {% render 'product-card',
                    product_card_product: item,
                    media_size: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    add_image_padding: section.settings.add_image_padding,
                    show_vendor: section.settings.show_vendor
                  %}
                {%- when 'article' -%}
                  <a href="{{ item.url }}" class="card-wrapper">
                    <div class="card card--search card--soft{% unless item.image %} card--text-only{% endunless %}">
                      <div class="card__inner">
                        {%- if item.image -%}
                          <div class="media media--cropped">
                            <img
                              srcset="{%- if item.image.src.width >= 165 -%}{{ item.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                  {%- if item.image.src.width >= 360 -%}{{ item.image.src | img_url: '360x' }} 268w,{%- endif -%}
                                  {%- if item.image.src.width >= 533 -%}{{ item.image.src | img_url: '533x' }} 357w,{%- endif -%}
                                  {%- if item.image.src.width >= 720 -%}{{ item.image.src | img_url: '720x' }} 536w,{%- endif -%}
                                  {%- if item.image.src.width >= 940 -%}{{ item.image.src | img_url: '940x' }} 714w{%- endif -%}"
                              src="{{ item.image.src | img_url: '533x' }}"
                              loading="lazy"
                              sizes="(min-width: 1200px) 268px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                              width="{{ item.image.src.width }}"
                              height="{{ item.image.src.height }}"
                              alt="{{ item.image.src.alt | escape }}"
                          >
                          </div>
                        {%- endif -%}
                        <div class="card__content">
                          <h2 class="card__text h3">{{ item.title | truncate: 50 | escape }}</h2>
                          <div class="card-article-info caption-with-letter-spacing h5">
                            {%- if section.settings.article_show_date -%}
                              <span class="circle-divider">{{ item.published_at | time_tag: format: 'month_year' }}</span>
                            {%- endif -%}
                            {%- if section.settings.article_show_author -%}
                              <span>{{ item.author }}</span>
                            {%- endif -%}
                          </div>
                        </div>
                        <div class="card__badge">
                          <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
                        </div>
                      </div>
                    </div>
                  </a>
                {%- when 'page' -%}
                  <a href="{{ item.url }}" class="card-wrapper">
                    <div class="card card--search card--soft card--text-only">
                      <div class="card__inner">
                        <div class="card__content"><h2 class="card__text h3">{{ item.title | truncate: 50 | escape }}</h2></div>
                        <div class="card__badge">
                          <span class="badge color-background-1">{{ 'templates.search.page' | t }}</span>
                        </div>
                      </div>
                    </div>
                  </a>
              {%- endcase -%}
            </li>
          {%- endfor -%}
        </ul>
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate %}
        {%- endif -%}
      </div>
    {% endpaginate %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-search.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    }
  ]
}
{% endschema %}
