{%- style -%}
  .bdcart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 10dvw;
    gap: 40px;
  }

  .bdcart__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bdcart__title {
    font-size: 32px;
    font-weight: 500;
    color: var(--onyx);
  }

  .bdcart__table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 16px;
    font-family: var(--font-ltcushion), sans-serif;
  }

  .bdcart__table thead {
    background-color: var(--chocolate-cosmos);
    color: var(--snow);
  }

  .bdcart__table td,
  .bdcart__table th {
    //border-left: 1px solid var(--onyx);
    //border-right: 1px solid var(--onyx);
    //border-bottom: 1px solid var(--onyx);
  }

  .bdcart__table th {
    padding: 12px 16px;
    text-align: left;
  }

  .bdcart__table tr {
    //border-left: 1px solid var(--onyx);
    //border-right: 1px solid var(--onyx);
    //border-bottom: 1px solid var(--onyx);
  }

  .bdcart__table th:first-child {
    padding-left: 30px;
    border-top-left-radius: 16px;
  }

  .bdcart__table th:last-child {
    text-align: right;
    padding-right: 30px;
    border-top-right-radius: 16px;
  }

  .bdcart-item__productinfo {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
    text-align: left;
  }

  .bdcart-item__image {
    border-radius: 16px;
    object-fit: cover;
    border: 1px solid var(--onyx);
  }

  .bdcart-item__productinfo-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .bdcart-item__pricing {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .bdcart-item__price {
    font-size: 16px;
    font-weight: 300;
    color: var(--onyx);
  }

  .price--old {
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--onyx);
  }

  .bdcart-item_title {
    font-size: 16px;
    font-weight: 500;
    color: var(--onyx);
    text-decoration: none;
  }

  .bdcart__quantity-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .quantity-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid rgba(56, 56, 56, 0.5);
    padding: 10px;
    border-radius: 32px;
    font-size: 24px;
    cursor: pointer;
    color: var(--onyx);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--onyx);
      color: var(--snow);
    }
  }

  .bdcart__quantity-input::-webkit-outer-spin-button,
  .bdcart__quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .bdcart__quantity-input {
    -moz-appearance: textfield;
  }

  .bdcart__quantity-input {
    width: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    background: none;
    pointer-events: none;
    color: var(--onyx);
  }

  .semi-bold {
    font-weight: 500;
  }

  .bdcart__final-price {
    padding: 30px;
    text-align: right;
  }

  /* Responsive */
  @media screen and (max-width: 768px) {
    .bdcart__table,
    .bdcart__table thead,
    .bdcart__table tbody,
    .bdcart__table th,
    .bdcart__table td,
    .bdcart__table tr {
      display: block;
    }

    .bdcart__table thead {
      display: none;
    }

    .bdcart__table tr {
      margin-bottom: 15px;
      border: 1px solid var(--onyx);
      border-radius: 12px;
      padding: 10px;
    }

    .bdcart__table td {
      text-align: left;
      padding: 10px 5px;
    }

    .bdcart-item__productinfo {
      flex-direction: row;
      align-items: center;
    }
  }
{%- endstyle -%}

<section class="bdcart" id="cart-container">
  <div class="bdcart__titles">
    <h2 class="bdcart__title">Shopping Cart</h2>
    <a href="{{ routes.all_products_collection_url }}" class="underlined-link">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
  <table class="bdcart__table" role="table" aria-label="{{ 'sections.cart.title' | t }}" id="cart-table">
    <form action="{{ routes.cart_url }}" method="post" id="cart">
      <caption class="visually-hidden">
        {{ 'sections.cart.title' | t }}
      </caption>
      <thead>
        <tr>
          <th scope="col">
            {{ 'sections.cart.headings.product' | t }}
          </th>
          <th scope="col">
            {{ 'sections.cart.headings.quantity' | t }}
          </th>
          <th scope="col">
            {{ 'sections.cart.headings.total' | t }}
          </th>
        </tr>
      </thead>
      <tbody>
        {%- for item in cart.items -%}
          <tr
            data-line-price="{{ item.original_line_price | money_without_currency | replace: ',', '' }}"
            data-line-quantity="{{ item.quantity }}"
          >
            <td>
              <div class="bdcart-item__productinfo">
                <img
                  src="{{ item.image | image_url: width: 110 }}"
                  class="bdcart-item__image"
                  alt="{{ item.image.alt | escape }}"
                  loading="lazy"
                  width="110"
                  height="150"
                >
                <div class="bdcart-item__productinfo-text">
                  {% if item.product.compare_at_price > item.product.price %}
                    <div class="bdcart-item__pricing">
                      <h4 class="bdcart-item__price">{{ item.product.price | money }}</h4>
                      <h4 class="bdcart-item__price price--old">{{ item.product.compare_at_price | money }}</h4>
                    </div>
                  {% else %}
                    <h4 class="bdcart-item__price">{{ item.product.price | money }}</h4>
                  {% endif %}
                  <a href="{{ item.url }}" class="bdcart-item_title">{{ item.product.title | escape }}</a>
                  {%- if item.product.has_only_default_variant == false -%}
                    <p class="bdcart-item__variant">{{ item.variant.title }}</p>
                  {%- endif -%}
                </div>
              </div>
            </td>
            <td>
              <div class="bdcart__quantity-selector">
                <button type="button" name="minus" class="quantity-btn">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                  </span>
                  <i data-lucide="minus"></i>
                </button>
                <input type="hidden" name="id" value="{{ item.variant.id }}">
                <input
                  type="number"
                  id="Quantity-{{ item.index | plus: 1 }}"
                  data-index="{{ item.index | plus: 1 }}"
                  data-quantity-variant-id="{{ item.variant.id }}"
                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                  name="updates[]"
                  class="bdcart__quantity-input"
                  min="3"
                  step="1"
                  value="{{ item.quantity }}"
                  readonly
                >
                <button type="button" name="plus" class="quantity-btn">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                  </span>
                  <i data-lucide="plus"></i>
                </button>
                <cart-remove-button
                  id="Remove-{{ item.index | plus: 1 }}"
                  data-index="{{ item.index | plus: 1 }}"
                >
                  <a
                    href="{{ item.url_to_remove }}"
                    class="button button--tertiary"
                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-remove.svg' | inline_asset_content -}}
                    </span>
                  </a>
                </cart-remove-button>
              </div>
            </td>
            <td class="bdcart__final-price">
              {%- render 'loading-spinner' -%}
              {%- if item.original_line_price != item.final_line_price -%}
                <div class="bdcart-item__pricing">
                  <h4 class="bdcart-item__price semi-bold">{{ item.final_line_price | money }}</h4>
                  <h4 class="bdcart-item__price price--old semi-bold">{{ item.original_line_price | money }}</h4>
                </div>
              {% else %}
                <h4 class="bdcart-item__price semi-bold">{{ item.original_line_price | money }}</h4>
              {% endif %}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </form>
  </table>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    //const cartForm = document.getElementById('cart');
    document.querySelectorAll('.quantity-btn').forEach((btn) => {
      btn.addEventListener('click', async function () {
        const isIncrement = this.name === 'plus';
        const input = this.parentElement.querySelector("input[type='number']");
        const variantId = input.dataset.quantityVariantId;
        let currentQty = parseInt(input.value);
        if (!isIncrement & (currentQty == 3)) {
          return; /* TODO: Trigger a notification for informing min qty is 3. */
        }
        const newQty = isIncrement
          ? currentQty + 1
          : Math.max(3, currentQty - 1); /* TODO: Min Qty should be set in a theme setting. */

        input.value = newQty;

        await fetch('/cart/change', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            Accept: 'application/json',
          },
          body: JSON.stringify({
            id: variantId,
            quantity: newQty,
          }),
        })
          .then((res) => res.json())
          .then((data) => {
            location.reload();
          })
          .catch((err) => console.error('Error al actualizar carrito:', err));
      });
    });
  });
</script>
