{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

<div class="page-width">
  {%- assign collection_tree_value = shop.metafields.collection_tree.collection_tree.value -%}
  {%- assign nodes = collection_tree_value.nodes -%}
  {%- assign collection_id = collection.id | append: '' -%}

  {% assign subcollections_ids = collection_tree_value.parentChildren[collection_id] %}
  {%- for id in subcollections_ids -%}
    {%- assign subcollection_id = id | append: '' -%}
    {%- assign subcollection = nodes[subcollection_id] -%}
    <div class="collection-hero__child">
      {%- if subcollection.i -%}
        <img
          src="{{ subcollection.i }}"
          alt="{{ subcollection.t | escape }} image"
          class="motion-reduce"
          width="120"
          height="120"
        >
      {% endif %}
      <h2>{{ subcollection.t }}</h2>
      <p>{{ subcollection.h }}</p>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-tree.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-tree.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-tree.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-tree.settings.show_collection_image.label"
    }
  ]
}
{% endschema %}
