
{% if localization.language.iso_code == "fr" or localization.language.iso_code contains "fr-" %}
 {% capture buttonLabel %}Lire le post{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Recherchez dans notre blog...{% endcapture %}
 {% capture backHome %}Retour à l'accueil{% endcapture %}
 {% capture emptyTitle %}Le blog {{ blog.title }} est vide{% endcapture %}
{% elsif localization.language.iso_code == "en" or localization.language.iso_code contains "en-" %}
 {% capture buttonLabel %}Read post{% endcapture %}
  {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Search titles in our blog...{% endcapture %}
 {% capture backHome %}Go back home{% endcapture %}
 {% capture emptyTitle %}The blog {{ blog.title }} is empty{% endcapture %}
{% elsif localization.language.iso_code == "es" or localization.language.iso_code contains "es-" %}
 {% capture buttonLabel %}Leer publicación{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Buscar en nuestro blog...{% endcapture %}
 {% capture backHome %}Volver a casa{% endcapture %}
 {% capture emptyTitle %}El blog {{ blog.title }} está vacío{% endcapture %}
{% elsif localization.language.iso_code == "pt" or localization.language.iso_code contains "pt-"  %}
 {% capture buttonLabel %}Ler post{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Pesquise em nosso blog...{% endcapture %}
 {% capture backHome %}Voltar para casa{% endcapture %}
 {% capture emptyTitle %}O blog {{ blog.title }} está vazio{% endcapture %}
{% elsif localization.language.iso_code == "it" or localization.language.iso_code contains "it-"  %}
 {% capture buttonLabel %}Leggi post{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Cerca nel nostro blog...{% endcapture %}
 {% capture backHome %}Torna a casa{% endcapture %}
 {% capture emptyTitle %}Il blog {{ blog.title }} è vuoto{% endcapture %}
{% elsif localization.language.iso_code == "de" or localization.language.iso_code contains "de-"  %}
 {% capture buttonLabel %}Beitrag lesen{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Suche in unserem Blog...{% endcapture %}
 {% capture backHome %}Zurück nach Hause{% endcapture %}
 {% capture emptyTitle %}Der Blog {{ blog.title }} ist leer{% endcapture %}
{% elsif localization.language.iso_code == "sv" or localization.language.iso_code contains "sv-"  %}
 {% capture buttonLabel %}Läs inlägg{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Sök i vår blogg...{% endcapture %}
 {% capture backHome %}Gå tillbaka hem{% endcapture %}
 {% capture emptyTitle %}Bloggen {{ blog.title }} är tom{% endcapture %}
{% elsif localization.language.iso_code == "nl" or localization.language.iso_code contains "nl-"  %}
 {% capture buttonLabel %}Lees bericht{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Zoek in onze blog...{% endcapture %}
 {% capture backHome %}Ga terug naar huis{% endcapture %}
 {% capture emptyTitle %}De blog {{ blog.title }} is leeg{% endcapture %}
{% elsif localization.language.iso_code == "no" or localization.language.iso_code contains "no-"  %}
 {% capture buttonLabel %}Les innlegg{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Søk i bloggen vår...{% endcapture %}
 {% capture backHome %}Gå tilbake hjem{% endcapture %}
 {% capture emptyTitle %}Bloggen {{ blog.title }} er tom{% endcapture %}
{% elsif localization.language.iso_code == "zh" or localization.language.iso_code contains "zh-"  %}
 {% capture buttonLabel %}阅读文章{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}在我们的博客中搜索...{% endcapture %}
 {% capture backHome %}回到主页{% endcapture %}
 {% capture emptyTitle %}博客 {{ blog.title }} 是空的{% endcapture %}
{% elsif localization.language.iso_code == "ja" or localization.language.iso_code contains "ja-"  %}
 {% capture buttonLabel %}投稿を読む{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}私たちのブログで検索...{% endcapture %}
 {% capture backHome %}ホームに戻る{% endcapture %}
 {% capture emptyTitle %}ブログ {{ blog.title }} は空です{% endcapture %}
{% elsif localization.language.iso_code == "ar" or localization.language.iso_code contains "ar-"  %}
 {% capture buttonLabel %}اقرأ المنشور{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}ابحث في مدونتنا...{% endcapture %}
 {% capture backHome %}العودة إلى البيت{% endcapture %}
 {% capture emptyTitle %}المدونة {{ blog.title }} فارغة{% endcapture %}
{% elsif localization.language.iso_code == "pl" or localization.language.iso_code contains "pl-"  %}
 {% capture buttonLabel %}Czytaj post{% endcapture %}
 {% capture searchPlaceholder %}Szukaj w naszym blogu...{% endcapture %}
 {% capture backHome %}Wróć do domu{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture emptyTitle %}Blog {{ blog.title }} jest pusty{% endcapture %}
 {% elsif localization.language.iso_code == "da" or localization.language.iso_code contains "da-"  %}
 {% capture buttonLabel %}Læs indlægget{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}Søg i vores blog...{% endcapture %}
 {% capture backHome %}Gå tilbage til hjem{% endcapture %}
 {% capture emptyTitle %}Bloggen {{ blog.title }} er tom{% endcapture %}
 {% else %}
 {% capture buttonLabel %}{% endcapture %}
 {% capture description %}{% endcapture %}
 {% capture searchPlaceholder %}{% endcapture %}
 {% capture backHome %}{% endcapture %}
 {% capture emptyTitle %}{% endcapture %}
{% endif %}
  <script async src="https://d2xvgzwm836rzd.cloudfront.net/lazysizes-bloggle.min.js" defer></script>
  <link href="https://d2xvgzwm836rzd.cloudfront.net/blog_styles--dev-gridstart.min.css?v=1740825826409" type="text/css" rel="stylesheet">
  <link href="https://d2xvgzwm836rzd.cloudfront.net/blog-layout.min.css" type="text/css" rel="stylesheet">

<div id="bloggle--blog_layout"  class="{%if localization.language.iso_code == "ar" or localization.language.iso_code == "he" %} blggle-rtl{%endif%}">
{% if blog.articles_count == 0 %}
  <div class="bloggle--header bloggle--header-empty">
    <h1 id="bloggle--blog-title" class="text__center "></h1>
    <a style="max-width: 300px;margin-left: auto;margin-right: auto;margin-top: 20px;" class="button button--primary" href="/">{{backHome}}</a>
    <br /><br />
  </div>
{% else %}
  <div class="bloggle--header position_r_layout">

    
      <div class="text--container flex fd--column max-width jc--flex-start-layout">
        <div class="max-width" style="max-width: textpx !important;">
          <h1 class="bloggle--blog-title text__left-layout " style="color: #000">{{ blog.title }}</h1>
          
        </div>
      </div>
    

    

    
  </div>

  {% assign localizationParam = localization.language.root_url %}
  {% if localizationParam == "/" %}
    {% assign localizationParam = "" %}
  {% endif %}
  <div class="bloggle--sub-header bloggle--xs-flex-column margin_r__auto" >
    

    

    <div class="bloggle--search bloggle--search-input bloggle--search-xs-100" style="margin-left: 0px !important;">
      <input id="bloggle--input_search" class='bloggle--search-xs-100' type="search" placeholder="{{searchPlaceholder}}" style="width: 500px;" >
      <div id="bloggle--search_results"></div>
    </div>
    
  </div>
{% capture numberPerPage %}
  12
{% endcapture %}
{% paginate blog.articles by numberPerPage %}
    <div class="bloggle--blog-items blog-layout-v2 trois">
      {% for article in blog.articles %}
        <div class="bloggle--blog-item ai--flex-start-layout" style="border-radius: 0px;" >
          <a class="bloggle--blog-item-link" href="{{ article.url }}">
            {% if article.image %}
              <img class="bloggle--blog-item-img lazybloggle" data-src="{{ article.image | img_url:'700x' }}" alt="{{ article.image.alt }}">
            {% endif %}
            <div class="article-text-container responsive-div ai--flex-start-layout">
              <p class="bloggle--blog-item-title ">{{ article.title }}</p>
              <p class="bloggle--blog-item-date">{{ article.published_at | time_tag: format: 'date' }}</p>
              
               <p class="bloggle--blog-item-author">{{ article.author }}</p>
              
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      <div class="bloggle--pagination">
        {% if paginate.pages > 1 %}
          {% if paginate.previous %}
            {% if paginate.pages == 1 %}
              <a class="bloggle--pagination-item" rel="prev" href="{{ paginate.previous.url | remove: '?page=1' }}">
                <svg aria-hidden="true" focusable="false" role="presentation"
                     class="bloggle--paginate_icon bloggle--prev" viewBox="0 0 10 6">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                        fill="currentColor">
                  </path>
                </svg>
              </a>
            {% else %}
              <a class="bloggle--pagination-item" rel="prev" href="{{ paginate.previous.url }}">
                <svg aria-hidden="true" focusable="false" role="presentation"
                     class="bloggle--paginate_icon bloggle--prev" viewBox="0 0 10 6">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                        fill="currentColor">
                  </path>
                </svg>
              </a>
            {% endif %}
          {% endif %}

          {% for part in paginate.parts %}
            {% if part.is_link %}
              {% if paginate.pages == 1 %}
                <a class="bloggle--pagination-item" href="{{ part.url | remove: '?page=1' }}">{{ part.title }}</a>
              {% else %}
                <a class="bloggle--pagination-item" href="{{ part.url }}">{{ part.title }}</a>
              {% endif %}
            {% else %}
              <span class="bloggle--pagination-item {% if part.title == paginate.current_page %}bloggle--active{% endif %}">{{ part.title }}</span>
            {% endif %}
          {% endfor %}

          {% if paginate.next %}
            <a class="bloggle--pagination-item" rel="next" href="{{ paginate.next.url }}">
              <svg aria-hidden="true" focusable="false" role="presentation" class="bloggle--paginate_icon bloggle--next"
                   viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                      fill="currentColor">
                </path>
              </svg>
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endpaginate %}
{% endif %}
</div>

<script>
  var canonicalUrl = "{{ canonical_url }}";
  var searchBar = document.getElementById("bloggle--input_search_container");
  

  var navigationLinks = document.getElementsByClassName('bloggle--nav-item');
  if (navigationLinks.length > 0) {
    for (let i = 0; i < navigationLinks.length ; i++) {
        let href = navigationLinks[i].getAttribute("href");
        let isHrefInCanonical = canonicalUrl.indexOf(href) > -1;
        function isHrefLastSegment(string, target) {
            return string.substring(string.length - target.length) === target;
          }
      if (isHrefInCanonical && href && isHrefLastSegment(canonicalUrl, href)) {
        navigationLinks[i].classList.add("bloggle--active");
      } else {
        navigationLinks[i].classList.remove("bloggle--active");
      }
    }
  }

  window.addEventListener('input', function (e) {
    var id = e.target.getAttribute("id");
    var resultContainer = document.getElementById("bloggle--search_results");

    if (id && id == "bloggle--input_search") {
      var searchValue = e.target.value;
      if (searchValue.length > 1) {
        var request = new XMLHttpRequest();
        request.responseType = 'json'
        const suggestUrl = "https://" + window.location.hostname + (window.Shopify && window.Shopify.routes && window.Shopify.routes.root || "/" ) + "search/suggest.json?q=" + searchValue + "&resources[type]=article";
        request.open('GET', suggestUrl, true);
        request.onload = function (e) {
          if (this.status == 200) {
            var articles = this.response.resources.results.articles;
            if (articles.length > 0) {
              let resultsHtml = "";
              for (let i = 0; i < articles.length; i++) {
                resultsHtml = resultsHtml + '<div class="bloggle--search_result"><a class="bloggle--search_result_link" href="' + articles[i].url + '">' + articles[i].title + '</a></div>'
              }
              resultContainer.innerHTML = resultsHtml;
            } else {
              resultContainer.innerHTML = "";
            }
          }
        }
        request.send();
      } else {
        resultContainer.innerHTML = "";
      }
    }
  });
</script>

<style>
  
  .bloggle--blog-item-title, .bloggle--blog-item-date, .bloggle--blog-item-desc, .bloggle--blog-item-author {
    color: #000000;
  }
  .bloggle--blog-item {
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .bloggle--blog-item-link {
    text-decoration: unset;
  }
  .bloggle--blog-item-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  .bloggle--blog-item:hover .bloggle--blog-item-img {
    opacity: 0.5;
  }
  #bloggle--blog_layout {
    width: 1000px;
    max-width: 100%;
  }
  .bloggle--blog-items.trois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.unDeux .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxTrois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxDeux .bloggle--blog-item-link .responsive-div , .bloggle--blog-items.deux .bloggle--blog-item-link .responsive-div{
    height: calc(100% - 240px)
  }


  .bloggle--search-input #bloggle--search_results {
      left: auto !important;
      right: 0px !important;
      width: 500px !important;
    }

  @media screen and (max-width: 767px) {
      .bloggle--search-input #bloggle--search_results {
        width: 100% !important;
      }
    }

  @media screen and (max-width: 1024px) {
    .bloggle--blog-item-img{
      height: 200px !important;
    }
    .bloggle--blog-items.trois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.unDeux .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxTrois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxDeux .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deux .bloggle--blog-item-link .responsive-div{
      height: calc(100% - 200px) !important;
    }
    #bloggle--blog_layout {
      width: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
  .bloggle--blog-item-img{
      height: 150px !important;
    }
    .bloggle--blog-items.trois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.unDeux .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxTrois .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deuxDeux .bloggle--blog-item-link .responsive-div, .bloggle--blog-items.deux .bloggle--blog-item-link .responsive-div{
      height: fit-content;
    }
    .bloggle--blog-items {
      gap: 0px;
    }
    #bloggle--blog_layout {
      width: 100%;
      max-width: 100%;
    }
    .bloggle--blog-item {
      
      
    }
  }
</style>
<style>.bloggle--blog-item-date { 
font-size: 12px; 
margin-bottom: 10px; 
} 

.bloggle--blog-item-author {
 font-size: 13px;
 margin-top: 10px;
 }

 .bloggle--blog-item-button {
margin-top: 10px;
 }</style>

