{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-tree.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-tree__parent .collection-tree__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

<div class="page-width">
  {%- assign collection_tree_value = shop.metafields.collection_tree.collection_tree.value -%}
  {%- assign nodes = collection_tree_value.nodes -%}
  {%- assign collection_id = collection.id | append: '' -%}

  {%- if collection_tree_value.parentChildren[collection_id] -%}
    <h3 class="collection-tree__title center">
      {{ 'sections.collection_template.shop_upgrades_by_category' | t: collection_title: collection.title }}
    </h3>
  {%- endif -%}

  <div class="collection-tree__parent">
    {% assign subcollections_ids = collection_tree_value.parentChildren[collection_id] %}
    {%- for id in subcollections_ids -%}
      {%- assign subcollection_id = id | append: '' -%}
      {%- assign subcollection = nodes[subcollection_id] -%}
      <div class="collection-tree__child center">
        {%- if subcollection.i -%}
          <img
            src="{{ subcollection.i }}"
            alt="{{ subcollection.t | escape }} image"
            class="motion-reduce"
            width="120"
            height="120"
          >
        {%- endif -%}
        {%- unless collection_tree_value.parentChildren[subcollection_id] -%}
          <a
            href="{{ routes.collections_url }}/{{ collection.handle }}/{{ subcollection.h }}"
            class="full-unstyled-link font-body-bold"
          >
            {{- subcollection.t -}}
          </a>
        {%- else -%}
          <p class="subcollection__title font-body-bold">{{ subcollection.t }}</p>
          <div
            class="collection-tree__grandchildren center"
            style="--link-primary-color: {{ section.settings.link_primary_color }}"
          >
            {%- for child_id in collection_tree_value.parentChildren[subcollection_id] limit: 5 -%}
              {%- assign child_collection = nodes[child_id] -%}
              <a
                href="{{ routes.collections_url }}/{{ collection.handle }}/{{ subcollection.h }}/{{ child_collection.h }}"
                class="full-unstyled-link"
              >
                {{- child_collection.t -}}
              </a>
            {%- endfor -%}
          </div>
          <a
            href="{{ routes.collections_url }}/{{ collection.handle }}/{{ subcollection.h }}"
            class="full-unstyled-link font-body-bold"
            >Shop All</a
          >
        {%- endunless -%}
        {% comment %} {{ collection_tree_value.parentChildren[subcollection_id] }} {% endcomment %}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-tree.name",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "link_primary_color",
      "label": "t:sections.main-collection-tree.settings.link_primary_color.label",
      "default": "#000"
    }
  ]
}
{% endschema %}
