{% liquid
  if request.host == 'perfumerie-sukiya-online-test.myshopify.com'
    assign cpb_connect_url = 'https://development.cledepeau-beaute.com/jp/connect?token_data='
    assign cpb_api_base_url = 'https://dev-cpb-connect.sukiya.biz'
    assign cpb_api_site_serial = 'rLkZfRcSDL5xikrksvuxkcUqvFxrfwSsoI9Q8cWOENJaxttdPy'
  else
    assign cpb_connect_url = 'https://www.cledepeau-beaute.com/jp/connect?token_data='
    assign cpb_api_base_url = 'https://cpb-connect.sukiya.biz'
    assign cpb_api_site_serial = 'fBiPpaK2L6gqaXWIT87xnhc6RuOApD2XykJTl2jiyR4Ql2nlak'
  endif
%}

<script src="{{ 'cpb-connect.js' | asset_url }}" defer="defer"></script>

<div
  class="page-width cpb-connect-page tw-leading-7"
  cpb-api-base-url="{{ cpb_api_base_url }}"
  cpb-api-site-serial="{{ cpb_api_site_serial }}"
>
  <h3 class="tw-text-center tw-text-2xl tw-font-bold">
    SHISEIDO<br>
    メンバーシッププログラム会員との<br>
    ID連携について
  </h3>
  <p class="tw-text-center">
    Perfumerie Sukiya Online Store会員IDと<br class="sp-only">
    SHISEIDO メンバーシッププログラム会員ID<br class="sp-only">
    の情報を<br class="pc-only">
    連携いただくことでパーソナルなブランド体験をお楽しみいただけます。
  </p>
  <p class="tw-text-center">
    SHISEIDOの会員ポイントがPerfumerie Sukiya Online Storeでの購入で付与されますので、<br
      class="sp-only"
    >
    ぜひご登録ください。
  </p>
  <p class="cpb-connect-status tw-text-center danger tw-hidden">
    すでにPerfumerie Sukiya Online Storeと ID 連携済みです
  </p>
  <a href="{{ cpb_connect_url }}" class="cpb-connect-register tw-no-underline" target="_blank">登録する</a>
  <p class="tw-text-[11px] tw-leading-normal tw-mb-2 tw-text-center">
    ※SHISEIDO オフィシャルサイトへ遷移します。<br>
    ※SHISEIDO メンバーシッププログラムの会員登録（無料）が必要です。
  </p>
  <div class="cpb-connect-flow">
    <h3 class="tw-text-center">ID連携の流れ</h3>
    <dl>
      <dt>STEP1</dt>
      <dd>
        Perfumerie Sukiya Online Storeにログインいただき、SHISEIDO ブランドトップ（<a
          href="https://online.sukiya.biz/collections/shiseido"
          >https://online.sukiya.biz/collections/shiseido</a
        >） から「SHISEIDO ID連携」ボタンをクリックしてください。
      </dd>
    </dl>
    <img
      class="tw-my-8 tw-mx-auto"
      src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-1.jpg?v=1744075080"
      alt=""
      width="852"
      height="306"
    >
    <dl>
      <dt>STEP2</dt>
      <dd>
        ID連携の案内画面で「登録する」ボタンをクリックするとSHISEIDOオフィシャルサイトへ遷移します。<br>
        SHISEIDO マイアカウントへ未ログインの場合にはログインページが表示されますので<br>
        ログインまたはマイアカウントを作成してください。<br>
        ※SHISEIDO メンバーシッププログラムの会員登録（無料）が必要です。
      </dd>
    </dl>
    <img
      class="tw-my-8 tw-mx-auto"
      src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-2.jpg?v=1744075081"
      alt=""
      width="852"
      height="426"
    >
    <img
      class="tw-my-8 tw-w-[40px] tw-mx-auto"
      src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/arw_under.png?v=1677736081"
      alt=""
      width="40"
      height="49"
    >
    <img
      class="tw-my-8 tw-mx-auto"
      src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-3.jpg?v=1744075081"
      alt=""
      width="852"
      height="426"
    >
    <dl>
      <dt>STEP3</dt>
      <dd>
        SHISEIDO マイアカウントへログイン後、ID連携の説明ページが表示されますので<br>
        「登録する」ボタンをクリックしてください。
      </dd>
    </dl>
    <div class="tw-text-center">
      <img
        class="tw-my-8 tw-mx-auto"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-4.jpg?v=1744075081"
        alt=""
        width="850"
        height="426"
      >
    </div>
    <dl>
      <dt>STEP4</dt>
      <dd>「ID連携を実行する」ページへ遷移後、利用規約に同意の上、「登録する」ボタンをクリックしてください。</dd>
    </dl>
    <div class="tw-text-center">
      <img
        class="tw-my-8 tw-mx-auto"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-5.jpg?v=1744075081"
        alt=""
        width="852"
        height="676"
      >
    </div>
    <dl>
      <dt>STEP5</dt>
      <dd>登録完了ページが表示されます。</dd>
    </dl>
    <div class="tw-text-center">
      <img
        class="tw-my-8 tw-mx-auto"
        src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-connect-flow-6.jpg?v=1744075081"
        alt=""
        width="852"
        height="426"
      >
    </div>
  </div>
  <div class="cpb-connect-note">
    <h4>ID連携の注意事項</h4>
    <p>
      Perfumerie Sukiya Online Store会員登録およびSHISEIDO メンバーシッププログラムのどちらも会員登録が必要となります。
    </p>
    <p>
      Perfumerie ID連携はSukiya Online
      Storeの会員ページとSHISEIDOのマイアカウントへログインしている状態で進めていただく必要があります。
    </p>
    <p>ID連携前に利用規約へ同意が必要です。SHISEIDOのID連携利用規約は「ID連携を実行する」ページで確認してください。</p>
    <p>Perfumerie Sukiya Online StoreのID連携利用規約は下記よりご確認ください。</p>
  </div>
  <div class="tw-mb-12">
    <h4>SHISEIDO ID連携利用規約</h4>
    <p class="tw-text-sm">
      ・本ID連携のご利用により、Perfumerie Sukiya Online Storeでのお買い上げ情報が株式会社
      資生堂と共有されます。<br/>
      ・共有されるお買い上げ情報には、ご購入された商品情報、ご購入された際に利用したアカウントのIDが含まれます。住所や電話番号などの個人情報は含まれません。
    </p>
  </div>
  <div class="tw-text-center">
    <p class="cpb-connect-status tw-text-center danger tw-hidden">
      すでにPerfumerie Sukiya Online Storeと ID 連携済みです
    </p>
    <a href="{{ cpb_connect_url }}" class="cpb-connect-register" target="_blank">登録する</a>
    <p class="tw-text-[11px] tw-leading-normal tw-mb-2 tw-text-center">
      ※ SHISEIDO オフィシャルサイトへ遷移します。<br>
      ※ SHISEIDO メンバーシッププログラムの会員登録（無料）が必要です。
    </p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
