{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

<div class="w-full bg-grey50 py-large">
  <div class="flex items-center flex-wrap justify-center gap-small">
    {%- if collection.image -%}
      <div class="p-large w-[240px]">
        {% comment %}
          <img
            src="{{ collection.image | image_url: width: 576 }}"
            alt="{{ collection.image.alt | escape }}"
            width="{{ 192 }}"
            height="{{ 152 }}"
            class="object-contain object-center"
          >
        {% endcomment %}

        {{ collection.image | image_url: width: 576 | image_tag: class: 'w-full h-auto', alt: collection.image.alt }}
      </div>
    {%- endif -%}

    <h1 class="text-h-lg">
      <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
      {{- collection.title | escape -}}
    </h1>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    }
  ]
}
{% endschema %}
