<link rel="stylesheet" href="{{ 'quiz-landing-page.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'quiz-landing-page.css' | asset_url | stylesheet_tag }}</noscript>
<div>
  <div class="quizhero section" style="background-image: url('{{ 'herobg.png' | asset_img_url: '300x' }}'); background-repeat: no-repeat; background-size:cover;">
    <div class="page-width">
      <div class="quizhero__container">
      <div class="quizhero__image">
      <img src="{{ 'products.png' | asset_img_url: '400x' }}" />
    </div>
      <div class="quizhero__content">
        <h1>Find skincare that works</h1>
        <p>Get the perfect, clinically effective skincare based on your skin, life and environment</p>
      </div>
      <div class="quizhero__cta">
          <a href="/pages/quiz" class="button button--primary">Take the quiz</a>
      </div>
    </div>
    </div>
  </div>
  <div class="section page-width">
    <h1 class="analyze__title">We analyze you, and your habbits to craft the perfect skincare</h1>
    <div class="analyze">
      <div class="analyze__body">
        <div class="analyze__body__image">
          <img class="" src="{{ 'analyze1.png' | asset_img_url: '250x' }}"/>
        </div>
        <div class="analyze__body__content">
          <h4 class="analyze__body__content__name">Angela, 60</h4>
          <dl class="analyze__body__content__list">
            <dt class="analyze__body__content__list__title">Concern</dt>
            <dd class="analyze__body__content__list__description">wrinkles</dd>
            <dt class="analyze__body__content__list__title">Lifestyle</dt>
            <dd class="analyze__body__content__list__description">sleep deprived</dd>
            <dt class="analyze__body__content__list__title">Enviroment</dt>
            <dd class="analyze__body__content__list__description">hard-water</dd>
          </dl>
        </div>
      </div>
      <div class="analyze__ingredients">
        <h5 class="analyze__ingredients__title">Active Ingredients (37)</h5>
        <div class="analyze__ingredients__list">
          <ul>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/SheaButter.png"/>
              <span>Shea Butter</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/PeaExtract.png"/>
              <span>NaturePep Pea</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/GrapeSeedOil.png"/>
              <span>Grape Seed</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="analyze analyze--reverse">
      <div class="analyze__body">
        <div class="analyze__body__image">
          <img class="" src="{{ 'analyze2.png' | asset_img_url: '250x' }}"/>
        </div>
        <div class="analyze__body__content">
          <h4 class="analyze__body__content__name">Melissa, 35</h4>
          <dl class="analyze__body__content__list">
            <dt class="analyze__body__content__list__title">Concern</dt>
            <dd class="analyze__body__content__list__description">dark spots</dd>
            <dt class="analyze__body__content__list__title">Lifestyle</dt>
            <dd class="analyze__body__content__list__description">screen time</dd>
            <dt class="analyze__body__content__list__title">Enviroment</dt>
            <dd class="analyze__body__content__list__description">humidity</dd>
          </dl>
        </div>
      </div>
      <div class="analyze__ingredients">
        <h5 class="analyze__ingredients__title">Active Ingredients (27)</h5>
        <div class="analyze__ingredients__list">
          <ul>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/AvocadoOil.png"/>
              <span>Avocado</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/BergamotFruitOil.png"/>
              <span>Bergamot</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/CucumberFruitExtract.png"/>
              <span>Cucumber</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="analyze">
      <div class="analyze__body">
        <div class="analyze__body__image">
          <img class="" src="{{ 'analyze3.png' | asset_img_url: '250x' }}"/>
        </div>
        <div class="analyze__body__content">
          <h4 class="analyze__body__content__name">Chris, 41</h4>
          <dl class="analyze__body__content__list">
            <dt class="analyze__body__content__list__title">Concern</dt>
            <dd class="analyze__body__content__list__description">sensitivity</dd>
            <dt class="analyze__body__content__list__title">Lifestyle</dt>
            <dd class="analyze__body__content__list__description">stress</dd>
            <dt class="analyze__body__content__list__title">Enviroment</dt>
            <dd class="analyze__body__content__list__description">pollution</dd>
          </dl>
        </div>
      </div>
      <div class="analyze__ingredients">
        <h5 class="analyze__ingredients__title">Active Ingredients (35)</h5>
        <div class="analyze__ingredients__list">
          <ul>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/ThymeLeafExtract.png"/>
              <span>Thyme</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/MandarinOrangeFruitExtract.png"/>
              <span>Mandarin</span>
            </li>
            <li>
              <img src="//d201v9s59ezpea.cloudfront.net/icons/Slimagine.png"/>
              <span>Slimagine</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lp-cta">
      <a href="/pages/quiz" class="button button--primary">Find Out Which Ingredients Work For Me</a>
    </div>
  </div>
  <div class="section how">
    <div class="page-width">
      <h1 class="how__title">How does it work?</h1>
      <div class="how__container">
        <div class="how__image">
          <img src="{{ 'phone-quiz.png' | asset_img_url: '300x' }}"/>
        </div>
        <div class="how__body">
          <h1 class="how__body__number">01</h1>
          <h2 class="how__body__title">It's Quick</h2>
          <p class="how__body__description">Take our quick 3 minute quiz, and we will find the perfect ingredients for your skin and lifestyle. </p>
        </div>
      </div>
      <div class="how__container how__container--reverse">
        <div class="how__image">
          <img src="{{ 'girlbottle.png' | asset_img_url: '300x' }}"/>
        </div>
        <div class="how__body">
          <h1 class="how__body__number">02</h1>
          <h2 class="how__body__title">It works</h2>
          <p class="how__body__description">We started Evyana because skincare should deliver on the results promised, your skincare system is scientifically proven to work usinging only the cleanest ingredients</p>
        </div>
      </div>
      <div class="how__container how__container">
        <div class="how__image">
          <img src="{{ 'cleanserquiz.png' | asset_img_url: '300x' }}"/>
        </div>
        <div class="how__body">
          <h1 class="how__body__number">03</h1>
          <h2 class="how__body__title">Simple</h2>
          <p class="how__body__description">Your quiz results will show you exactly what you need to get healthy and glowing skin.  That's it get ready to enjoy a simple yet effective skincare system.</p>
        </div>
      </div>
      <div class="lp-cta">
      <a href="/pages/quiz" class="button button--primary">Get My 4 Step Routine Now</a>
    </div>
    </div>
  </div>
  <div class="section every-ingredient">
    <div class="page-width">
      <div class="every-ingredient__container">
      <div class="every-ingredient__body">
        <h1 class="every-ingredient__body__title">Every ingredient is backed by science to work for you</h1>
        <p class="every-ingredient__body__description">Every ingredient in the Evyana system has been hand selected to produce the best results, our ingredients are clean and effective in prolonging the health of your skin.</p>
      </div>
      <div class="every-ingredient__image">
        <ul class="every-ingredient__image__list">
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/Phytotonine.png" />
            <span>Phytotonine</span>
          </li>
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/Q10plus.png" />
            <span>Coenzyme Q10</span>
          </li>
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/VitaminsE.png" />
            <span>Vitamin E</span>
          </li>
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/StayC50.png" />
            <span>Stay C 50</span>
          </li>
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/ThistleExtract.png" />
            <span>Thistle Extract</span>
          </li>
          <li class="every-ingredient__image__list__item">
            <img src="//d201v9s59ezpea.cloudfront.net/icons/TonkaBeanExtract.png" />
            <span>Tonka Bean</span>
          </li>

        </ul>
      </div>

    </div>
    </div>
  </div>
  <div class="proven section" style="background-image: url('{{ 'herobg.png' | asset_img_url: '300x' }}'); background-repeat: no-repeat; background-size:cover;">
    <div class="page-width">
      <h1 class="proven__title">Clinically Proven for Smoother, Softer & Brighter Skin</h1>
      <div class="proven__container">
        <div class="proven__item">
          <svg class="proven__item__image" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.254 19.567c.307-.982.77-2.364 1.391-4.362 2.707-.429 3.827.341 5.546-2.729-1.395.427-3.077-.792-2.987-1.321.091-.528 3.913.381 6.416-3.173-3.155.696-4.164-.836-3.757-1.067.939-.534 3.726-.222 5.212-1.669.766-.745 1.125-2.556.813-3.202-.374-.781-2.656-1.946-3.914-1.836-1.258.109-3.231 4.79-3.817 4.754-.584-.037-.703-2.098.319-4.013-1.077.477-3.051 1.959-3.67 3.226-1.153 2.357.108 7.766-.296 7.958-.405.193-1.766-2.481-2.172-3.694-.555 1.859-.568 3.721 1.053 6.194-.611 1.623-.945 3.491-.996 4.441-.024.759.724.922.859.493z"></path></svg>
          <h3 class="proven__item__title">Softer Skin</h3>
          <p class="proven__item__body">92% of our customers agree that using our products make their skin soft and supple.</p>
        </div>
        <div class="proven__item">
          <svg class="proven__item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M17 16.99c-1.35 0-2.2.42-2.95.8-.65.33-1.18.6-2.05.6-.9 0-1.4-.25-2.05-.6-.75-.38-1.57-.8-2.95-.8s-2.2.42-2.95.8c-.65.33-1.17.6-2.05.6v1.95c1.35 0 2.2-.42 2.95-.8.65-.33 1.17-.6 2.05-.6s1.4.25 2.05.6c.75.38 1.57.8 2.95.8s2.2-.42 2.95-.8c.65-.33 1.18-.6 2.05-.6.9 0 1.4.25 2.05.6.75.38 1.58.8 2.95.8v-1.95c-.9 0-1.4-.25-2.05-.6-.75-.38-1.6-.8-2.95-.8zm0-4.45c-1.35 0-2.2.43-2.95.8-.65.32-1.18.6-2.05.6-.9 0-1.4-.25-2.05-.6-.75-.38-1.57-.8-2.95-.8s-2.2.43-2.95.8c-.65.32-1.17.6-2.05.6v1.95c1.35 0 2.2-.43 2.95-.8.65-.35 1.15-.6 2.05-.6s1.4.25 2.05.6c.75.38 1.57.8 2.95.8s2.2-.43 2.95-.8c.65-.35 1.15-.6 2.05-.6s1.4.25 2.05.6c.75.38 1.58.8 2.95.8v-1.95c-.9 0-1.4-.25-2.05-.6-.75-.38-1.6-.8-2.95-.8zm2.95-8.08c-.75-.38-1.58-.8-2.95-.8s-2.2.42-2.95.8c-.65.32-1.18.6-2.05.6-.9 0-1.4-.25-2.05-.6-.75-.37-1.57-.8-2.95-.8s-2.2.42-2.95.8c-.65.33-1.17.6-2.05.6v1.93c1.35 0 2.2-.43 2.95-.8.65-.33 1.17-.6 2.05-.6s1.4.25 2.05.6c.75.38 1.57.8 2.95.8s2.2-.43 2.95-.8c.65-.32 1.18-.6 2.05-.6.9 0 1.4.25 2.05.6.75.38 1.58.8 2.95.8V5.04c-.9 0-1.4-.25-2.05-.58zM17 8.09c-1.35 0-2.2.43-2.95.8-.65.35-1.15.6-2.05.6s-1.4-.25-2.05-.6c-.75-.38-1.57-.8-2.95-.8s-2.2.43-2.95.8c-.65.35-1.15.6-2.05.6v1.95c1.35 0 2.2-.43 2.95-.8.65-.32 1.18-.6 2.05-.6s1.4.25 2.05.6c.75.38 1.57.8 2.95.8s2.2-.43 2.95-.8c.65-.32 1.18-.6 2.05-.6.9 0 1.4.25 2.05.6.75.38 1.58.8 2.95.8V9.49c-.9 0-1.4-.25-2.05-.6-.75-.38-1.6-.8-2.95-.8z"></path></svg>
          <h3 class="proven__item__title">Smoother Skin</h3>
          <p class="proven__item__body">95% of our customers agreed this system make this skin smoother</p>
        </div>
        <div class="proven__item">
          <svg class="proven__item__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"><defs></defs><rect x="15" y="2" width="2" height="5"></rect><rect x="21.6675" y="6.8536" width="4.958" height="1.9998" transform="translate(1.5191 19.3744) rotate(-45)"></rect><rect x="25" y="15" width="5" height="2"></rect><rect x="23.1466" y="21.6675" width="1.9998" height="4.958" transform="translate(-10.0018 24.1465) rotate(-45)"></rect><rect x="15" y="25" width="2" height="5"></rect><rect x="5.3745" y="23.1466" width="4.958" height="1.9998" transform="translate(-14.7739 12.6256) rotate(-45)"></rect><rect x="2" y="15" width="5" height="2"></rect><rect x="6.8536" y="5.3745" width="1.9998" height="4.958" transform="translate(-3.253 7.8535) rotate(-45)"></rect><path d="M16,12a4,4,0,1,1-4,4,4.0045,4.0045,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6Z"></path><rect id="_Transparent_Rectangle_" data-name="<Transparent Rectangle>" class="cls-1" width="32" height="32" style="fill: none"></rect></svg>
          <h3 class="proven__item__title">Brighter Skin</h3>
          <p class="proven__item__body">84% of our customers agreed their complexion looked bright and radient</p>
        </div>
        <div class="proven__item">
          <svg class="proven__item__image" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5883 2.36575L12.5166 2.44429C12.4102 2.5604 12.3177 2.65963 12.2363 2.7445C12.1783 2.6674 12.131 2.60442 12.1069 2.57222C12.0962 2.55804 12.0901 2.54982 12.0895 2.54901C11.781 2.14919 11.521 1.85543 11.2421 1.61995C10.8599 1.29718 10.4625 1.10176 10 1.10176C9.75073 1.10176 9.51343 1.16296 9.29033 1.27123C8.80211 1.50815 8.44017 1.90299 7.95721 2.57792C7.93063 2.61506 7.88552 2.67912 7.83669 2.74871C7.74548 2.6579 7.64046 2.55003 7.51765 2.42149L7.44953 2.35008C6.89581 1.76866 6.74857 1.6202 6.50141 1.4188C6.26666 1.22751 6.05621 1.09922 5.79569 1.03537C5.22149 0.894639 4.64828 1.18504 4.43938 1.76057C4.1503 2.55696 4 3.41174 4 4.28812C4 8.2285 6.21172 11 10 11C13.7883 11 16 8.2285 16 4.28812C16 3.41174 15.8497 2.55696 15.5606 1.76057C15.3529 1.18826 14.7801 0.89035 14.2009 1.03736C13.938 1.10408 13.7302 1.23584 13.4994 1.43184C13.2609 1.63445 13.1249 1.77767 12.5883 2.36575ZM10 9.00002C7.42805 9.00002 6 7.21053 6 4.28812C6 4.10858 6.00853 3.93059 6.02539 3.75471L6.07157 3.80311C6.48039 4.23101 6.73147 4.4747 6.99228 4.67463C7.63975 5.17099 8.29621 5.36404 8.89641 4.67838C9.00414 4.55531 9.10967 4.4156 9.25158 4.21495C9.26057 4.20223 9.28945 4.16095 9.32704 4.10719C9.41015 3.98837 9.53586 3.80861 9.58368 3.74178C9.75942 3.4962 9.90624 3.31505 10.0126 3.20218C10.1467 3.32743 10.3081 3.51428 10.5059 3.77068C10.4612 3.71264 11.0562 4.50836 11.2051 4.67838C11.8078 5.36697 12.4722 5.16831 13.1048 4.66706C13.3559 4.46807 13.5972 4.22516 13.9795 3.80818C13.9931 3.96663 14 4.12675 14 4.28812C14 7.21053 12.572 9.00002 10 9.00002Z" fill="currentColor"></path><path d="M9 11C9 10.4477 9.44772 10 10 10C10.5523 10 11 10.4477 11 11V17.5C11 18.0523 10.5523 18.5 10 18.5C9.44772 18.5 9 18.0523 9 17.5V11Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.7672 13.015C9.58159 14.8489 8.14539 17.1796 9.32942 18.5906C10.4954 19.9802 13.7081 19.2188 15.6239 17.6112C17.4921 16.0436 18.344 13.7765 17.18 12.3893C16.016 11.0021 13.6354 11.4474 11.7672 13.015ZM10.9199 17.3432C10.9062 17.3379 10.8943 17.3318 10.8841 17.325L10.9024 17.3544C10.9103 17.3611 10.915 17.3586 10.9199 17.3432ZM14.3383 16.0792C13.2305 17.0087 11.3237 17.5007 10.9199 17.3432C10.9221 17.3361 10.9244 17.3262 10.927 17.3132C10.9648 17.1241 11.0828 16.8557 11.2748 16.5442C11.6794 15.8876 12.3519 15.1352 13.0528 14.5471C14.1872 13.5951 15.3919 13.3698 15.6479 13.6749C15.9039 13.98 15.4728 15.1272 14.3383 16.0792Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.93234 13.015C10.1179 14.8489 11.5541 17.1796 10.3701 18.5906C9.20411 19.9802 5.99142 19.2188 4.07561 17.6112C2.20741 16.0436 1.35552 13.7765 2.51954 12.3893C3.68355 11.0021 6.06414 11.4474 7.93234 13.015ZM8.77963 17.3432C8.79329 17.3379 8.80524 17.3318 8.81537 17.325L8.79712 17.3544C8.78924 17.3611 8.78449 17.3586 8.77963 17.3432ZM5.36119 16.0792C6.46901 17.0087 8.37582 17.5007 8.77963 17.3432C8.77738 17.3361 8.77511 17.3262 8.7725 17.3132C8.73467 17.1241 8.61671 16.8557 8.42471 16.5442C8.02015 15.8876 7.34762 15.1352 6.64676 14.5471C5.5123 13.5951 4.30762 13.3698 4.05162 13.6749C3.79563 13.98 4.22673 15.1272 5.36119 16.0792Z" fill="currentColor"></path></svg>
          <h3 class="proven__item__title">Clean</h3>
          <p class="proven__item__body">Our ingredients have been hand-picked by our scientists to provide clean yet effective skin care</p>
        </div>
        <div class="proven__item">
          <svg class="proven__item__image" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="currentColor"><rect fill="none" height="24" width="24"></rect><path d="M17,14c-0.24-0.24-0.44-0.49-0.65-0.75C17.51,11.5,19,8.56,19,5c0-1.95-0.74-3-2-3c-1.54,0-3.96,2.06-5,5.97 C10.96,4.06,8.54,2,7,2C5.74,2,5,3.05,5,5c0,3.56,1.49,6.5,2.65,8.25C7.44,13.51,7.24,13.76,7,14c-0.25,0.25-2,1.39-2,3.5 C5,19.98,7.02,22,9.5,22c1.5,0,2.5-0.5,2.5-0.5s1,0.5,2.5,0.5c2.48,0,4.5-2.02,4.5-4.5C19,15.39,17.25,14.25,17,14z M16.88,4.03 C16.94,4.2,17,4.51,17,5c0,2.84-1.11,5.24-2.07,6.78c-0.38-0.26-0.83-0.48-1.4-0.62C13.77,6.64,15.97,4.33,16.88,4.03z M7,5 c0-0.49,0.06-0.8,0.12-0.97c0.91,0.3,3.11,2.61,3.36,7.13c-0.58,0.14-1.03,0.35-1.4,0.62C8.11,10.24,7,7.84,7,5z M14.5,20 c-1,0-1.8-0.33-2.22-0.56C12.7,19.26,13,18.73,13,18.5c0-0.28-0.45-0.5-1-0.5s-1,0.22-1,0.5c0,0.23,0.3,0.76,0.72,0.94 C11.3,19.67,10.5,20,9.5,20C8.12,20,7,18.88,7,17.5c0-0.7,0.43-1.24,1-1.73c0.44-0.36,0.61-0.52,1.3-1.37 c0.76-0.95,1.09-1.4,2.7-1.4s1.94,0.45,2.7,1.4c0.69,0.85,0.86,1.01,1.3,1.37c0.57,0.49,1,1.03,1,1.73C17,18.88,15.88,20,14.5,20z M14,16c0,0.41-0.22,0.75-0.5,0.75S13,16.41,13,16c0-0.41,0.22-0.75,0.5-0.75S14,15.59,14,16z M11,16c0,0.41-0.22,0.75-0.5,0.75 S10,16.41,10,16c0-0.41,0.22-0.75,0.5-0.75S11,15.59,11,16z"></path></svg>
          <h3 class="proven__item__title">Cruelty Free</h3>
          <p class="proven__item__body">Cruelty-free, made with only the best ingredients & are never tested on animals.</p>
        </div>
        <div class="proven__item">
          <svg class="proven__item__image" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 30c-1.967 0-3.84-0.407-5.538-1.139l7.286-8.197c0.163-0.183 0.253-0.419 0.253-0.664v-3c0-0.552-0.448-1-1-1-3.531 0-7.256-3.671-7.293-3.707-0.188-0.188-0.442-0.293-0.707-0.293h-4c-0.552 0-1 0.448-1 1v6c0 0.379 0.214 0.725 0.553 0.894l3.447 1.724v5.871c-3.627-2.53-6-6.732-6-11.489 0-2.147 0.484-4.181 1.348-6h3.652c0.265 0 0.52-0.105 0.707-0.293l4-4c0.188-0.188 0.293-0.442 0.293-0.707v-2.419c1.268-0.377 2.61-0.581 4-0.581 2.2 0 4.281 0.508 6.134 1.412-0.13 0.109-0.256 0.224-0.376 0.345-1.133 1.133-1.757 2.64-1.757 4.243s0.624 3.109 1.757 4.243c1.139 1.139 2.663 1.758 4.239 1.758 0.099 0 0.198-0.002 0.297-0.007 0.432 1.619 1.211 5.833-0.263 11.635-0.014 0.055-0.022 0.109-0.026 0.163-2.541 2.596-6.084 4.208-10.004 4.208z"></path>
          </svg>
          <h3 class="proven__item__title">Sustainably Sourced</h3>
          <p class="proven__item__body">Our ingredients are all sourced from sustainable farms in the US, France, and New Zealand.</p>
        </div>
      </div>
      <div class="lp-cta">
      <a href="/pages/quiz" class="button button--primary">Take My Quiz</a>
    </div>
    </div>
  </div>
  <div class="allabout section page-width">
    <div class="allabout__image">
      <img src="{{ 'showproduct.png' | asset_img_url: '300x' }}" />
    </div>
    <div class="allabout__content page-width">
      <h1 class="proven__title">Clinically Proven for Smoother, Softer & Brighter Skin</h1>
      <p>Experience Evyana and the powerful ingredients to help get your skin on the right track, 4 simple yet effective steps to take control of your skin.</p>
      <div class="lp-cta">
        <a href="/pages/quiz" class="button button--primary">Find The Perfect Skincare System</a>
      </div>
    </div>
  </div>
</div>
{%  schema %}
{
  "name": "Quiz Landing Page",
  "tag": "section",
  "class": "quiz-landing-page"
}
{% endschema %}
