{%- style -%}
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
    color: var(--onyx);
  }

  .bdbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 10px, 15px) clamp(10px, 20px, 30px);
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
    text-decoration: none;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    color: var(--onyx);

    &.bdbutton__primary {
      background-color: var(--chocolate-cosmos);
      color: var(--snow);
      transition: transform 0.3s ease;
      border: 3px solid var(--chocolate-cosmos);
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    &.bdbutton__primary:hover {
      color: var(--chocolate-cosmos);
      background-color: var(--old-lace);
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .bdcart-footer {
    display: flex;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    padding: 0 10dvw 100px 10dvw;
    text-align: right;
  }

  .estimated {
    font-size: 20px;
    font-weight: 300;
  }

  .bdcart_etotal {
    font-size: 24px;
    font-weight: 500;
  }

  @media screen and (max-width: 768px) {
    .bdcart-footer {
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    .bdbutton {
      width: 100%;
    }
  }
{%- endstyle -%}

<section
  class="bdcart-footer {% if cart == empty %}is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
>
  {% if cart == empty %}
    <p class="empty-message">Your cart is currently empty.</p>
  {% else %}
    <h3 class="estimated">{{ 'sections.cart.estimated_total' | t }}</h3>
    <h3 class="bdcart_etotal">{{ cart.total_price | money_with_currency }}</h3>
    <p>
      {%- if cart.duties_included and cart.taxes_included -%}
        {%- if shop.shipping_policy.body == blank -%}
          {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
        {%- else -%}
          {{
            'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
          }}
        {%- endif -%}
      {%- elsif cart.duties_included == false and cart.taxes_included -%}
        {%- if shop.shipping_policy.body == blank -%}
          {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
        {%- else -%}
          {{ 'sections.cart.taxes_included_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      {%- elsif cart.duties_included and cart.taxes_included == false -%}
        {%- if shop.shipping_policy.body == blank -%}
          {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
        {%- else -%}
          {{
            'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
          }}
        {%- endif -%}
      {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
        {%- if shop.shipping_policy.body == blank -%}
          {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
        {%- else -%}
          {{
            'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
            | t: link: shop.shipping_policy.url
          }}
        {%- endif -%}
      {%- endif -%}
    </p>
    <button
      type="submit"
      id="checkout"
      class="bdbutton bdbutton__primary"
      name="checkout"
      {% if cart == empty or cart.item_count < 3 %}
        disabled
      {% endif %}
      form="cart"
    >
      {% if cart == empty or cart.item_count < 3 %}
        Minimum order is 3
      {% else %}
        {{ 'sections.cart.checkout' | t }}
      {% endif %}
      <i data-lucide="cookie"></i>
    </button>
    {% comment %}
      Note: Deprecated code for additional checkout buttons
      {%- if additional_checkout_buttons -%}
        <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
      {%- endif -%}
    {% endcomment %}
    <div id="cart-errors"></div>
  {% endif %}
</section>
