{%- style -%}
  .template-404_top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .template-404_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .template-404_body {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .template-404_title{
    font-size: 15rem;
    margin: 0rem;
  }

  .template-404_extra{
    font-size: 2rem;
    text-align: center;
  }

  .popular-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
  }

  .popular-searches-links a{
    padding:1rem;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="error-section color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="template-404_top-block">
      <div class="template-404_img">
        <img
          src="{{ section.settings.image | img_url: '550x'  }}"
          alt="{{ section.setting.image.alt }}"
          loading="lazy"
          height="400"
          width="400"
        >
      </div>

      <div class="template-404_body">
        <h1 class="template-404_title">{{ 'templates.404.subtext' | t }}</h1>
        <h2>{{ 'templates.404.title' | t }}</h2>
        <p class="template-404_extra">{{ section.settings.additional }}</p>
        <div><a href="/" class="button"> Back To Home </a></div>
      </div>
    </div>

    {%- comment -%} Links {%- endcomment -%}
    <div class="popular-searches">
      <h2>Popular Searches</h2>

      <div class="popular-searches-links">
        {%- for block in section.blocks -%}
          <a href="{{ block.settings.button_link }}" class="link">{{ block.settings.button_label }}</a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "main-404",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "text",
      "id": "additional",
      "default": "Oops! It seems our magic trick hasn’t worked this time.",
      "label": "Additional Info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Popular Searches",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Popular Search Title",
          "info": "Popular Search Title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Popular Search URL"
        }
      ]
    }
  ]
}
{% endschema %}
