{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

<div class="w-full bg-grey50 py-large">
  <div class="flex items-center flex-wrap justify-center gap-small">
    {%- if collection.image -%}
      <div class="w-[240px] h-[200px] p-large">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.image.alt | escape }}"
          width="{{ 240 }}"
          height="{{ 200 }}"
          class="object-contain object-center"
        >
      </div>
    {%- endif -%}

    <h1 class="text-h-lg">
      <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
      {{- collection.title | escape -}}
    </h1>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    }
  ]
}
{% endschema %}
