{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-spinner.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{% assign counseling_url = 'https://www.cledepeau-beaute.com/jp/skin-diagnosis/guest' %}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.products_to_show
  assign more_in_collection = true

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  assign show_mobile_slider = true

  assign show_desktop_slider = false
  assign show_desktop_slider = true
-%}

<script>
  const img = new Image();
  img.src = 'https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/category/{{ current_tags }}.jpg';
  img.onload = function () {
    // Image exists and is loaded
    document.getElementById('imageContainer').appendChild(img);
  };
  img.onerror = function () {
    // Image doesn't exist or failed to load
    console.log('Image not found');
  };
</script>

{% if current_tags %}
  <div class="cpb-category-header page-width tw-my-5">
    <div id="imageContainer" class="tw-hidden md:tw-block"></div>
    <h3 class="tw-text-2xl tw-font-bold tw-my-2">{{ current_tags }}</h3>
  </div>
  <div class="section-{{ section.id }}-padding">
    {%- paginate collection.products by section.settings.products_per_page -%}
      {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
      {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
        <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
          <form class="facets-vertical-form" id="FacetSortForm">
            <div class="facet-filters sorting caption">
              <div class="facet-filters__field">
                <h2 class="facet-filters__label caption-large text-body">
                  <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </h2>
                <div class="select">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <select
                    name="sort_by"
                    class="facet-filters__sort select__select caption-large"
                    id="SortBy"
                    aria-describedby="a11y-refresh-page-message"
                  >
                    {%- for option in collection.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
              <noscript>
                <button type="submit" class="facets__button-no-js button button--secondary">
                  {{ 'products.facets.sort_button' | t }}
                </button>
              </noscript>
            </div>

            <div class="product-count-vertical light" role="status">
              <h2 class="product-count__text text-body">
                <span id="ProductCountDesktop">
                  {%- if collection.results_count -%}
                    {{
                      'templates.search.results_with_count'
                      | t: terms: collection.terms, count: collection.results_count
                    }}
                  {%- elsif collection.products_count == collection.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: collection.products_count, count: collection.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </h2>
              <div class="loading__spinner">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>
          </form>
        </facet-filters-form>
      {%- endif -%}

      <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
        {{ 'component-facets.css' | asset_url | stylesheet_tag }}
        <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
          <aside
            aria-labelledby="verticalTitle"
            class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {% render 'facets',
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              paginate: paginate
            %}
          </aside>
        {%- endif -%}

        <div
          class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          id="ProductGridContainer"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper center">
                <h2 class="title title--primary">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
              <div class="loading-overlay gradient"></div>

              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="
                  grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                  grid--{{ section.settings.columns_desktop }}-col-desktop
                "
              >
                {%- for product in collection.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      show_quick_add: section.settings.enable_quick_add,
                      section_id: section.id
                    %}
                  </li>
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endpaginate -%}
    {% if section.settings.image_shape == 'arch' %}
      {% render 'mask-arch' %}
    {%- endif -%}

    {% render 'sp-navigation-cpb' %}
  </div>
{% else %}
  <div class="page-width mt-4">
    <div class="cpb-detail">
      <div class="cpb-featured ">
        <div class="explanation">
          <picture>
            <source
              media="(max-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_lacreme_23ss_sp.jpg?v=1719213334"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_lacreme_23ss_pc.jpg?v=1718775541"
              alt=""
              width="2480"
              height="1200"
            >
          </picture>
          <div class="textarea">
            <div class="text_inner ">
              <div class="text tw-mb-4 ">
                <p>
                  肌には知性があるという発見。<br class>
                  独自の最新の肌サイエンス研究から生まれた<br>
                  スキンケアとメイクアップブランド。
                </p>
                <p>
                  これまでの化粧品の次元を超え、<br>
                  肌の一生を上手にサポートして、<br>
                  内側から輝くような美しさを放つ肌へと。
                </p>
                <p>
                  年齢にかかわらず、今よりも次の美しさを<br>
                  目指す女性たちに、最高のときめきを届けます。
                </p>
              </div>
              <a href="/pages/cle-de-peau-beaute-story">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% render 'cpb-top-connect' %}
    <div class="cpb-contents-nav tw-mb-9">
      <div class="pc-only">
        <ul class="tw-tracking-wide tw-grid tw-grid-cols-2 tw-gap-4">
          <li class="tw-relative">
            <a href="/collections/cle-de-peau-beaute/スキンケア">
              <img
                src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/bg_pageheading_20ss_skincare_lotion.jpg?v=1733189755"
                alt=""
                width="1400"
                height="350"
              >
              <p class="tw-m-0 tw-text-center tw-text-black tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-left-12">
                スキンケア<br>
                商品
              </p>
            </a>
          </li>
          <li class="tw-relative">
            <a href="/collections/cle-de-peau-beaute/メイクアップ">
              <img
                src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/bg_pageheading_20ss_makeup_lip.jpg?v=1733189979"
                alt=""
                width="1400"
                height="350"
              >
              <p class="tw-m-0 tw-text-center tw-text-black tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-left-12">
                メイクアップ<br>
                商品
              </p>
            </a>
          </li>
          <li class="tw-bg-black tw-p-6 tw-text-center">
            <a
              href="/collections/all?filter.v.price.gte=&filter.v.price.lte=&filter.p.vendor=%E3%82%AF%E3%83%AC%E3%83%BB%E3%83%89%E3%83%BB%E3%83%9D%E3%83%BC+%E3%83%9C%E3%83%BC%E3%83%86&sort_by=created-descending"
              class="tw-no-underline"
            >
              <p class="tw-text-white">このブランドの商品はこちら</p>
            </a>
          </li>
          <li class="tw-bg-black tw-p-6 tw-text-center">
            <a target="_blank" href="{{ counseling_url }}" class="tw-no-underline">
              <p class="tw-text-white">トータルカウンセリング</p>
            </a>
          </li>
        </ul>
      </div>
      {% render 'sp-navigation-cpb' %}
    </div>

    <div class="cpb-items tw-mb-20">
      <h3 class="tw-text-2xl tw-font-bold" id="new-arrivals">
        NEW ARRIVALS
        <span
          class="tw-font-medium tw-text-sm tw-ml-2.5"
          >新着</span
        >
      </h3>
      <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
          id="Slider-{{ section.id }}"
          class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
        >
          {%- for product in collections['cpb-top-new-arrival'].products -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.ranking %} ranking-item{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if section.settings.ranking %}
                <span class="rank">{{ forloop.index }}</span>
              {% endif %}
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </li>
          {%- endfor -%}
        </ul>
        {%- if show_mobile_slider or show_desktop_slider -%}
          <div class="slider-buttons no-js-hidden">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>
    </div>
    <div class="cpb-items tw-mb-20">
      <h3 class="tw-text-2xl tw-font-bold">
        RECOMMEND
        <span
          class="tw-font-medium tw-text-sm tw-ml-2.5"
          >ブランドからのおすすめ</span
        >
      </h3>
      <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
          id="Slider-{{ section.id }}"
          class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
        >
          {%- for product in collections['cpb-top-recommend'].products -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.ranking %} ranking-item{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if section.settings.ranking %}
                <span class="rank">{{ forloop.index }}</span>
              {% endif %}
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </li>
          {%- endfor -%}
        </ul>
        {%- if show_mobile_slider or show_desktop_slider -%}
          <div class="slider-buttons no-js-hidden">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>
    </div>
    <div class="cpb-closeup tw-mb-12">
      <h3 class="tw-text-2xl tw-font-bold">
        CLOSE UP
        <span
          class="tw-font-medium tw-text-sm tw-ml-2.5"
          >クローズアップ</span
        >
      </h3>
      {% comment %}
        <div class="cpb-featured cpb-closeup-item">
          <picture>
            <source
              media="(max-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_holiday2024_sp.jpg?v=1723512914"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_holiday2024_sp.jpg?v=1723512914"
              alt=""
              width="1242"
              height="932"
            >
          </picture>
          <div class="textarea area-right">
            <div class="text_inner">
              <div class="text tw-mb-5">
                <h5 class="tw-font-bold tw-mb-4">クレ・ド・ポー ボーテ</h5>
                <p>
                  ホリデーコレクション<br>
                  どこまでも自由に、想像の翼をひろげて。<br>
                  思い出の地へ旅立ち、未来に思いをはせる彼女。<br>
                  心の鍵を開け、イマジネーションを解き放つと、<br>
                  魔法の光が街を幻想的な光景に変えてゆく…。<br>
                  美しいペガサスに誘われ翼を大きくひろげれば、<br>
                  秘められていた無限の可能性が目覚める。<br>
                  「私はもっと自由に、どこまでも羽ばたいて行けるはず」<br>
                  運命を切り拓く勇気が、彼女の未来を照らし続ける。<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endcomment %}
      <div class="cpb-featured cpb-closeup-item">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_the-serum-2_24aw_sp.jpg?v=1723512885"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_the-serum-2_24aw_sp.jpg?v=1723512885"
            alt=""
            width="1242"
            height="932"
          >
        </picture>
        <div class="textarea area-right">
          <div class="text_inner">
            <div class="text tw-mb-5">
              <h5 class="tw-font-bold tw-mb-4">本物を知る肌に。</h5>
              <p>
                輝きは無限に生まれ続ける。<br>
                プランプ美容の時代へ。新ル・セラム誕生。<br>
                うるおいとハリに満ち、まるで生まれ変わったような輝き。<br>
                世界中から探求しこだわり抜いた<br>
                独自成分ラディアントリリーコンセントレート*配合。<br>
                輝きがプランプして感動あふれる、新たな美容へ。<br>
                <span class="cpb-caption"> ＊マドンナリリー花エキス、グリセリン<br></span>
              </p>
              <a href="/products/cle-de-peau-beautel-serum-ii-2024-9-1">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cpb-featured cpb-closeup-item">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_teint-pudre-eclat-2_24aw_sp_9782240f-6ce5-4c70-86f3-32410641559b.jpg?v=1723512860"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_teint-pudre-eclat-2_24aw_sp_9782240f-6ce5-4c70-86f3-32410641559b.jpg?v=1723512860"
            alt=""
            width="1242"
            height="932"
          >
        </picture>
        <div class="textarea area-right">
          <div class="text_inner">
            <div class="text tw-mb-5">
              <h5 class="tw-font-bold tw-mb-4">パウダーの常識は、くつがえされた。</h5>
              <p>
                スキンケア成分をまとったパウダーがうるおいを引き寄せ、<br>
                肌にとどまり続けるから、素肌までも美しく。<br>
                内側からふんわり輝くような透明感のシルキーマットな仕上がり。<br>
                パウダーでは成し得なかった、<br>
                信じられないほどのうるおい、続く。<br>
              </p>
              <a href="/products/cle-de-peau-beaute-tan-poudre-eclat-ii-refill-2024-7-21">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cpb-featured cpb-closeup-item">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_precious_lipstick_24ss_sp.jpg?v=1719215899"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_precious_lipstick_24ss_sp.jpg?v=1719215899"
            alt=""
            width="1242"
            height="932"
          >
        </picture>
        <div class="textarea area-right">
          <div class="text_inner">
            <div class="text tw-mb-5">
              <h5 class="tw-font-bold tw-mb-4">そのルージュは、運命を騒がせる。</h5>
              <p>
                たったひと塗りで、なにもかもが変わっていく。<br>
                とろけるようなつけ心地。宝石のように贅沢な色と質感。<br>
                時間を経ても美しいまま、ふっくらした豊かなハリの余韻。<br>
                クレ・ド・ポーボーテが7年以上の歳月を費やして完成させた至高のルージュ。<br>
                ダイヤモンドクラスの輝きと自信が、心を揺さぶり、運命を塗り替えていく。<br>
              </p>
              <a href="/products/cle-de-peau-beautel-rouge-precieux-2024-4-21">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cpb-featured cpb-closeup-item">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/main_eye-color-solo_sp.jpg?v=1719217877"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/main_eye-color-solo_sp.jpg?v=1719217877"
            alt=""
            width="1242"
            height="932"
          >
        </picture>
        <div class="textarea area-right">
          <div class="text_inner">
            <div class="text tw-mb-5">
              <h5 class="tw-font-bold tw-mb-4">透きとおる艶、光を宿すまなざし。</h5>
              <p>
                指先で描き出す、内側から発光するように繊細なつや、<br class="sp-only">
                透明感あふれる発色が長時間*持続。<br>
                まぶたそのものまで美しく導く<br class="sp-only">
                トリートメントアイシャドウ。<br>
                自在なバリエーションで、光を宿した洗練のまなざしへ。<br>
                <span class="cpb-caption">
                  *12時間化粧持ち <br class="sp-only">
                  （つや・色持ちの良さ・ヨレ・色くすみ・粉っぽさのなさ）<br>
                  データ取得済み
                </span>
              </p>
              <a href="/products/cle-de-peau-beaute-ombre-rueur-solo-refill-2024-4-21">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cpb-featured cpb-closeup-item">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_refining-pressed-powder_24ss_sp.jpg?v=1719218449"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/offer_refining-pressed-powder_24ss_sp.jpg?v=1719218449"
            alt=""
            width="1242"
            height="932"
          >
        </picture>
        <div class="textarea area-right">
          <div class="text_inner">
            <div class="text tw-mb-5">
              <h5 class="tw-font-bold tw-mb-4">思いのままの輝きへ。</h5>
              <p>
                光を操るセンシングパウダー。<br>
                まるでパウダーそのものが考えているかのように、<br class="sp-only">
                環境や肌の状態を感知して 最適な肌環境に整える<br class="sp-only">
                テクノロジーを搭載。<br>
                肌に溶け込むようになめらかにフィットして<br class="sp-only">
                朝の仕上がりを瞬時にリメイクし、<br class="sp-only">
                長時間化粧崩れを防ぎます*。<br>
                いつでも、ふんわり光をまとったような輝きのある美しさへ。<br>
                <span class="cpb-caption">
                  *12時間化粧もち（テカり・くすみ・ヨレのなさ）<br>
                  データ取得済み。
                </span>
              </p>
              <a href="/products/cle-de-peau-beaute-poodle-compact-esenciel-n-2024-3-21">
                <div class="btn">詳細はこちらから</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "商品グリッドCPB",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    }
  ]
}
{% endschema %}
