{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% assign categories = collection.metafields.custom.pickup_categories %}
{% assign series = collection.metafields.custom.pickup_series %}

{%- style -%}
  @media screen and (max-width: 749px) {
  .collection-hero--with-image .collection-hero__inner {
  padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
  }
  }
{%- endstyle -%}

<div class="page-width">
  <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-py-4 tw-px-0">
    <li class="tw-items-center tw-inline-flex tw-text-sm">
      <a href="/" class="tw-text-black">TOP</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">
      <a href="{{ collection.url }}" class="tw-text-gray-400">{{ collection.title }}</a>
    </li>
  </ul>
</div>

{% if collection.metafields.my_fields.main_banner %}
  <div class="brand-details">
    <h1 class="brand-logo">
      {% if collection.metafields.my_fields.brand_top_logo %}
        <img
            src="{{ collection.metafields.my_fields.brand_top_logo | image_url }}"
            alt="{{ collection.title }} | Perfumerie Sukiya"
            class="tw-mx-auto"
            width="300"
            height="90"
        >
      {% else %}
      <img
          src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/{{ collection.handle }}.svg"
          alt="{{ collection.title }} | Perfumerie Sukiya"
          class="tw-mx-auto"
          width="300"
          height="90"
      >
      {% endif %}
    </h1>
    <div class="brand-description">{{ collection.description }}</div>
    <div class="campaign">
      <div class="tw-flex tw-flex-wrap tw-max-w-[800px] tw-mx-auto">
        <div class="tw-w-full md:tw-w-3/4">
          <div class="main-campaign">
          {% if collection.metafields.my_fields.main_banner_link %}
            <a href="{{ collection.metafields.my_fields.main_banner_link }}">{% endif %}
              <img
                  src="{{ collection.metafields.my_fields.main_banner | image_url }}"
                  alt="{{ collection.metafields.my_fields.main_banner.alt }}"
                  width="700" height="500"
              >
              {% if collection.metafields.my_fields.main_banner_link %}</a>{% endif %}
          </div>
        </div>
        <div class="tw-w-full md:tw-w-1/4">
          <div class="sub-campaigns tw-flex tw-justify-between tw-flex-wrap md:tw-ml-4">
            <picture class="tw-w-[45px] md:tw-w-auto">
              <source
                  srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/campaign-sp.svg"
                  media="(max-width: 750px)">
              <img
                  src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/campaign.svg"
                  alt="FEATURE"
                  width="176"
                  height="55"
              >
            </picture>
            <div
                class="tw-flex tw-justify-between tw-flex-auto max-md:tw-basis-0 max-md:tw-space-x-2.5 md:tw-flex-wrap">
              <div class="md:tw-mb-4 tw-flex-grow tw-bg-white">
              {% if collection.metafields.my_fields.feature1_banner_link %}
                <a href="{{ collection.metafields.my_fields.feature1_banner_link }}">{% endif %}
                  <img
                      src="{{ collection.metafields.my_fields.feature1_banner | image_url }}"
                      alt="{{ collection.metafields.my_fields.feature1_banner.alt }}"
                      width="178" height="178"
                  >
                  {% if collection.metafields.my_fields.feature1_banner_link %}</a>{% endif %}
              </div>
              <div class="tw-flex-grow tw-bg-white">
              {% if collection.metafields.my_fields.feature2_banner_link %}
                <a href="{{ collection.metafields.my_fields.feature2_banner_link }}">{% endif %}
                  <img
                      src="{{ collection.metafields.my_fields.feature2_banner | image_url }}"
                      alt="{{ collection.metafields.my_fields.feature2_banner.alt }}"
                      width="178" height="178"
                  >
                  {% if collection.metafields.my_fields.feature2_banner_link %}</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div
      class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
    <div
        class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <div class="collection-hero__text-wrapper">
        <h1 class="collection-hero__title">
          <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
          {{- collection.title | escape -}}
        </h1>

        {%- if section.settings.show_collection_description -%}
          <div class="collection-hero__description rte">{{ collection.description }}</div>
        {%- endif -%}
      </div>

      {%- if section.settings.show_collection_image and collection.image -%}
        <div class="collection-hero__image-container media gradient">
          <img
              srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
              src="{{ collection.image | image_url: width: 750 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
              alt=""
              width="{{ collection.image.width }}"
              height="{{ collection.image.height }}"
          >
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% if categories %}
  {% comment %}TODO::カテゴリー選択をShopifyデフォルトのカテゴリー選択に仕様を合わせる{% endcomment %}
  <div class="page-width tw-my-5">
    <h3 class="tw-mb-2 tw-text-lg tw-underline">ITEM CATEGORY</h3>
    <div class="category-navigation">
      <ul class="category-navigation-list tw-p-0 tw-grid tw-grid-cols-4 md:tw-grid-cols-6 tw-gap-2 md:tw-gap-4">
        {% for category in categories.value %}
          <li class="tw-shadow-md">
            <a class="scroll_item_inr tw-no-underline"
               href="/collections/{{ collection.handle }}/?filter.p.tag={{ category.tag_name.value }}#Collection">
              <img class="tw-mx-auto" src="{{ category.image.value.image | image_url: width: 500, height: 500 }}"
                   alt="{{ category.name.value }}" width="500" height="500"/>
              <div class="tw-text-xs tw-text-center tw-my-2 tw-text-black">{{ category.name.value }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if series %}
  <div class="page-width tw-my-5">
    <h3 class="tw-mb-2 tw-text-lg tw-underline">SERIES - シリーズ</h3>
    <div class="category-navigation">
      <ul class="category-navigation-list tw-p-0 tw-grid tw-grid-cols-4 md:tw-grid-cols-6 tw-gap-2 md:tw-gap-4">
        {% for s in series.value %}
          <li class="tw-shadow-md">
            <a class="scroll_item_inr tw-no-underline"
               href="/collections/{{ collection.handle }}/?filter.p.tag={{ s.tag_name.value }}#Collection">
              <img class="tw-mx-auto" src="{{ s.image.value.image | image_url: width: 500, height: 500 }}"
                   alt="{{ s.name.value }}" width="500" height="500"/>
              <div class="tw-text-xs tw-text-center tw-my-2 tw-text-black">{{ s.name.value }}</div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if collection.handle == 'kanebo' %}
  <div class="counseling-banner">
    <a href="https://www.kanebo-global.com/counseling/jp/ja/?cid=_sukiya" target="_blank">
      <img class="tw-mx-auto" src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/kanebo/banner/0428_KANEBO_770_110.jpg"
           alt="KANEBO オンラインカウンセリング" width="770" height="110">
    </a>
  </div>
{% endif %}

{% if collection.handle == 'benefique' %}
  <div class="counseling-banner">
    <a href="https://www.shiseido.co.jp/richair/ec_haircarecheck/" target="_blank">
      <img class="tw-mx-auto" src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/benefique/bqrc_hbcb_d2.jpg"
           alt="BENEFIQUE オンラインカウンセリング" width="468" height="60">
    </a>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
