{%- style -%}
  /* Pricing */
  .product-price {
    font-family: var(--font-unbounded), sans-serif;
    font-size: clamp(12px, 20px, 20px);
    font-weight: 500;
  }
  .price--old {
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--onyx);
  }
  .price--sale {
    color: var(--onyx);
  }

  /* Rating */
  .product-rating {
    display: flex;
    gap: 5px;
    color: var(--onyx);
    margin-bottom: 5px;
    max-width: 120px;
  }
  .product-rating .rated {
    color: var(--onyx);
    fill: var(--onyx);
  }
  .product-rating .unrated {
    opacity: 0.3;
  }

  /* Main Product Styling */
  .main-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 200px 10dvw;
    justify-items: center;
    //align-items: center;
  }

  .product-image__container {
    position: relative;
    width: 100%;
    height: fit-content;
  }

  .product-thumbnails {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .product-thumbnails img {
    width: 85px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }

  .product-thumbnails img.active {
    border-color: var(--chocolate-cosmos);
  }

  .product-info__content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-info__pricing {
    display: flex;
    gap: 20px;
    text-align: left;
  }

  .product-info__title {
    font-size: 32px;
    font-weight: 500;
    color: var(--onyx);
  }

  .product-info__description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h3 {
      font-size: 20px;
      font-weight: 500;
      color: var(--onyx);
    }

    & p {
      font-size: 16px;
      color: var(--onyx);
    }
  }

  .product-info__allergens {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-info__allergens h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--onyx);
  }

  .product-info__allergens-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;

    & li {
      font-family: var(--font-ltcushion), sans-serif;
      font-size: 16px;
      color: var(--onyx);
    }
  }

  .product-info__xcontamination {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h3 {
      font-size: 20px;
      font-weight: 500;
      color: var(--onyx);
    }

    & p {
      font-family: var(--font-ltcushion), sans-serif;
      font-size: 16px;
      color: var(--onyx);
    }
  }

  .product-info__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .product-info__pickup {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #e3f0e3;
    padding: 10px 30px;
    border-radius: 24px;
    font-family: var(--font-ltcushion), sans-serif;
    font-size: 16px;
    color: var(--onyx);
    width: fit-content;
    border: 1px solid 383838;
  }

  .pickup-availability__dot {
    width: 10px;
    height: 10px;
    background-color: #4caf50; /* verde */
    border-radius: 50%;
  }

  .product-form {
    display: flex;
    gap: 20px;
    border-top: 1px solid #353535;
    padding-top: 40px;
  }

  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid var(--dark-vanilla);
    border-radius: 24px;
  }

  .quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 32px;
    font-size: 24px;
    cursor: pointer;
    color: var(--onyx);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .quantity-input {
    width: 35px;
    text-align: center;
    font-size: 18px;
    border: none;
    background: none;
    pointer-events: none;
    color: var(--onyx);
    font-family: var(--font-unbounded), sans-serif;
  }

  .bdbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 10px, 15px) clamp(10px, 20px, 30px);
    font-weight: 500;
    text-decoration: none;
    border-radius: 24px;
    gap: 10px;
    border: 2px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
    text-decoration: none;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    width: 100%;

    &.bdbutton__primary {
      background-color: var(--chocolate-cosmos);
      color: var(--snow);
      transition: transform 0.3s ease;
      border: 3px solid var(--chocolate-cosmos);
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    &.bdbutton__primary:hover,
    .bdbutton__primary:focus {
      color: var(--chocolate-cosmos);
      background-color: var(--old-lace);
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .bdbutton__primary.sold-out {
    background-color: var(--chocolate-cosmos);
    color: var(--snow);
    transition: transform 0.3s ease;
    border: 3px solid var(--chocolate-cosmos);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .bdbutton__outline {
    background-color: transparent;
    color: var(--onyx);
    border: 3px solid var(--dark-vanilla);
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover,
    &:focus {
      color: var(--snow);
      background-color: var(--dark-vanilla);
    }
  }

  .bdbutton__productshare {
    width: fit-content;
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .quantity-input::-webkit-outer-spin-button,
  .quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .quantity-input {
    -moz-appearance: textfield;
  }

  .product-info__variants {
    display: flex;
    align-content: center;
    gap: 20px;
  }

  .product-info__variant {
    display: flex;
    align-content: center;
    background-color: transparent;
    border: 3px solid var(--dark-vanilla);
    color: var(--dark-vanilla);
    padding: 10px 30px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      background-color: var(--dark-vanilla);
      color: var(--snow);
    }

    &.active {
      background-color: var(--dark-vanilla);
      color: var(--snow);
    }
  }

  .shipping-info__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  .bakedreams-dialog {
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: none !important;
    border-radius: 24px;
    background-color: var(--snow);
    animation: dialogFadeIn 0.3s ease-out forwards;
    overflow: hidden;
  }

  .share-url-input {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 10px;
    border: 1px solid var(--onyx);
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: var(--onyx);
    background-color: none;
    margin-top: 20px;
  }

  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--onyx);
    font-size: 24px;
  }

  .socials-share-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    & a {
      color: var(--onyx);
      font-size: 24px;
      text-decoration: none;
    }
  }

  @media (max-width: 1024px) {
    .main-product {
      grid-template-columns: 1fr;
      padding: 100px 10dvw;
      gap: 40px;
    }

    .product-image__container {
      max-width: none;
    }

    .main-product-image {
      max-width: none;
      height: auto;
    }

    .product-info__content {
      width: 100%;
    }

    .product-form {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .bdbutton {
      width: 100%; /* Botones más anchos en móviles */
    }

    .bdbutton__primary {
      padding: clamp(8px, 12px, 16px) clamp(15px, 20px, 25px);
      font-size: clamp(14px, 16px, 18px);
    }

    .product-info__allergens-list {
      flex-wrap: wrap;
      gap: 30px;
    }

    .product-info__pickup {
      justify-content: center;
      padding: 8px 20px;
      font-size: 14px;
      width: 100%;
      max-width: none;
    }

    .shipping-info__container {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .bakedreams-dialog {
      max-width: 90dvw;
    }

    .bdbutton__productshare {
      width: 100%;
      justify-content: center;
    }
  }

  @keyframes dialogFadeIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
{%- endstyle -%}

<dialog class="bakedreams-dialog" id="share-dialog">
  <div class="dialog-content">
    <h2>Share this product</h2>
    <input
      type="text"
      id="share-url"
      class="share-url-input"
      value="{{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
      readonly
    >
    <div class="socials-share-container">
      <a href="https://twitter.com/share?text=&url={{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
        ><i data-lucide="twitter"></i></a
      ><a href="https://www.facebook.com/sharer.php?u={{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
        ><i data-lucide="facebook"></i
      ></a>
    </div>
    <button class="close-dialog" onclick="this.closest('dialog').close()"><i data-lucide="x"></i></button>
  </div>
</dialog>
<product-info
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  {% assign first_real_image = product.images | where: 'alt', 'collection-only' | negate %}
  {% assign first_real_image = product.images[1] %} {# fallback in case filtering fails #}
  <section class="main-product">
    <div class="product-image__container">
      <img
        id="main-product-image"
        src="{{ product.images.first | image_url: width: '1024' , height: '1024' }}"
        alt="{{ product.title }}"
        {% if section.settings.image_zoom == 'hover' %}
          data-zoom-image="{{ product.images.first | image_url: width: '1024' , height: '1024' }}"
        {% endif %}
        width="100%"
        height="100%"
        loading="lazy"
        style="border-radius: 16px; background-size: cover; background-position: center; object-fit: cover;"
      >
      <!-- Miniaturas debajo -->
      <div class="product-thumbnails">
        {% for image in product.images %}
          {% unless image.alt == 'collection-only' %}
            <img
              src="{{ image | image_url: width: '85', height: '100' }}"
              alt="{{ image.alt | escape }}"
              class="thumbnail {% if forloop.index == 1 %}active{% endif %}"
              data-full="{{ image | image_url: width: '2048', height: '2048' }}"
              width="100%"
              height="100%"
            >
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    <div class="product-info__content">
      {% if product.available == true %}
        <div class="product-info__pickup">
          <span class="pickup-availability__dot"></span>
          {% assign pickup_location = shop.locations | where: 'pickup', true | first %}
          {% if pickup_location %}
            Available for pickup at {{ pickup_location.address1 }}
          {% else %}
            Available for pickup at 9202 Jamaica Ave
          {% endif %}
        </div>
      {% endif %}
      <h2 class="product-info__title">{{ product.title | strip_html }}</h2>
      <div class="product-rating">
        {% assign rating = product.metafields.custom.rating | plus: 0 %}
        {% for i in (1..5) %}
          {% if i <= rating %}
            <i data-lucide="star" class="rated"></i>
          {% else %}
            <i data-lucide="star" class="unrated"></i>
          {% endif %}
        {% endfor %}
      </div>
      <div class="product-info__pricing">
        {% if product.compare_at_price > product.price %}
          <span class="product-price price--sale">{{ product.price | money }}</span>
          <span class="product-price price--old">{{ product.compare_at_price | money }}</span>
        {% else %}
          <span class="product-price price--sale">{{ product.price | money }}</span>
        {% endif %}
      </div>
      {% if product.description %}
        <div class="product-info__description">
          <h3>Description</h3>
          <p>{{ product.description | strip_html }}</p>
        </div>
      {% endif %}
      {% if product.selected_variant.weight %}
        <div class="product-info__description">
          <h3>Weight Information</h3>
          <p>
            {{ product.selected_variant.weight | weight_with_unit: product.selected_variant.weight_unit | strip_html }}
            — each cookie
          </p>
        </div>
      {% endif %}
      <div class="product-info__allergens">
        <h3>Allergens</h3>
        <ul class="product-info__allergens-list">
          {% if product.metafields.shopify['allergen-information'].value != blank %}
            {% for allergen in product.metafields.shopify['allergen-information'].value %}
              <li>{{ allergen.label }}</li>
            {% endfor %}
          {% else %}
            <li>No allergens listed</li>
          {% endif %}
        </ul>
      </div>
      <div class="product-info__xcontamination">
        <h3>Cross-Contamination</h3>
        <p>Although we apply strict measures to prevent cross-contamination, we cannot guarantee its total absence.</p>
      </div>
      {% comment %}
        TODO: Add title and funcionality to variants mini-section
      {% endcomment %}
      {% if product.variants.size > 1 %}
        <div class="product-info__variants">
          {% for variant in product.variants %}
            <button
              type="button"
              class="product-info__variant {% if variant == product.selected_or_first_available_variant %}active{% endif %}"
              data-variant-id="{{ variant.id }}"
            >
              {{ variant.title }}
            </button>
          {% endfor %}
        </div>
      {% endif %}
      <div class="product-info__actions">
        <form method="post" action="/cart/add" id="product-form">
          <div class="product-form">
            {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
            {% if product.available == true %}
              <div class="quantity-selector">
                <button type="button" class="quantity-btn" onclick="decreaseQuantity()">
                  <i data-lucide="minus"></i>
                </button>
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <input
                  type="number"
                  id="Quantity-{{ section.id }}"
                  name="quantity"
                  class="quantity-input"
                  data-cart-quantity="{{ cart_qty }}"
                  min="1"
                  value="1"
                  readonly
                >
                <button type="button" class="quantity-btn" onclick="increaseQuantity()">
                  <i data-lucide="plus"></i>
                </button>
              </div>
              <button type="submit" name="add" class="bdbutton bdbutton__primary">
                add to cart <i data-lucide="cookie"></i>
              </button>
            {% else %}
              <div class="quantity-selector">
                <button type="button" class="quantity-btn" onclick="decreaseQuantity()">
                  <i data-lucide="minus"></i>
                </button>
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <input
                  type="number"
                  id="Quantity-{{ section.id }}"
                  name="quantity"
                  class="quantity-input"
                  data-cart-quantity="{{ cart_qty }}"
                  min="1"
                  value="1"
                  readonly
                >
                <button type="button" class="quantity-btn" onclick="increaseQuantity()">
                  <i data-lucide="plus"></i>
                </button>
              </div>
              <button
                class="bdbutton bdbutton__primary sold-out"
                type="button"
                disabled
              >
                sold out <i data-lucide="frown"></i>
              </button>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="shipping-info__container">
        <i data-lucide="package"></i>
        <p>Orders over <strong>63.99$</strong> ships free nationwide</p>
      </div>
      <button type="button" onclick="openShareDialog()" class="bdbutton__productshare">
        <i data-lucide="circle-arrow-out-up-right"></i>
        <p>Share</p>
      </button>
    </div>
    <script type="application/ld+json">
      {{ product | structured_data }}
    </script>
  </section>
</product-info>
{%- javascript -%}
  function openShareDialog() {
    const dialog = document.getElementById('share-dialog');
    dialog.showModal();
  }

  function buyNow() {
    const form = document.getElementById('product-form');
    const formData = new FormData(form);

    fetch('/cart/add.js', {
      method: 'POST',
      body: formData,
    })
      .then(function (response) {
        if (!response.ok) {
          throw new Error('An error occurred when we tried to add the item to the cart');
        }
        return response.json();
      })
      .then(function (data) {
        window.location.href = '/checkout';
      })
      .catch(function (error) {
        console.error('Error:', error);
      });
  }

  function increaseQuantity() {
    let quantityInput = document.getElementById('Quantity-{{ section.id }}');
    quantityInput.value = parseInt(quantityInput.value) + 1;
  }

  function decreaseQuantity() {
    let quantityInput = document.getElementById('Quantity-{{ section.id }}');
    if (parseInt(quantityInput.value) > 1) {
      quantityInput.value = parseInt(quantityInput.value) - 1;
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const mainImage = document.getElementById('main-product-image');
    const thumbnails = document.querySelectorAll('.product-thumbnails img');

    thumbnails.forEach((thumbnail) => {
      thumbnail.addEventListener('click', function () {
        mainImage.src = this.dataset.full;
        thumbnails.forEach((t) => t.classList.remove('active'));
        this.classList.add('active');
      });
    });
  });
{%- endjavascript -%}
