{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<script src="{{ 'line-login.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {% assign slug = product.metafields.my_fields.isLinelogin %}

    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <div class="section-header text-center">
            <h1>{{ page.title }}
            </h1>
          </div>

          <div class="main-article">

            <section>
              <p>予約期間：11月16日〜12月27日<br/>
                1月3日以降順次発送
              </p>
              <h3 class="page-sub-title">ご注意事項</h3>
              <p>
                ※予約販売のみとなります。<br/>
                ※初売り景品は除外とさせていただきます。<br/>
                ※繁忙期のため発送が遅れる場合がございます。ご了承ください。<br/>
                ※対象外のブランドもございます。<br/>
              </p>
            </section>

            <section>
              <h2 class="danger">一部の福袋のご購入にはLINE ID連携およびLINEログインが必要です。</h2>
              <h2 class="line-login-success tw-hidden">LINEログインが完了しました。</h2>
              <div class="line-login-required tw-hidden">
                <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1653973522&redirect_uri={{ request.origin }}/pages/new-year-2024&state=12345abcde&scope=profile%20openid&nonce=09876xyz">
                  LINEログイン
                </a>
                <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1653973522&redirect_uri=http://127.0.0.1:9292/pages/new-year-2024&state=12345abcde&scope=profile%20openid&nonce=09876xyz">
                  LINEログイン2
                </a>
              </div>
              <h2>Sukiya LINE ID連携</h2>
              <div>
                <p>Sukiya会員証をお持ちの方でSukiya LINE
                  ID連携(ブランドコネクト)がお済みでない方は、こちらのリンクから手順を確認のうえご登録ください。</p>
                <p class="tac">
                  <a href="https://www.sukiya.biz/line-official" class="underline">Sukiya LINE ID連携について</a>
                </p>
              </div>
            </section>

            <a class="back-to-top mb-5" href="/collections/sukiya-hukubukuro-2024">2024 Sukiya 特選福袋一覧</a>
            <a class="back-to-top" href="/">Sukiya Online Store<br/>トップページへ戻る
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
