<link href="{{ 'main-single.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />


<article>

    <div class="product-title mobile-titles">
        <div style="display: flex; justify-content: space-between;">
            <h3>{{ product.vendor | remove: "'s" }}'s</h3>
        </div>
        
        <h1>{{ product.title | split: '-' | last}}</h1>
        <div class="socials">
            <a href="https://twitter.com/share?url=whiskyblender.com{{ product.url |  url_encode}}&text=I%20made%20my%20own%20blend%20on%20@whisky_blender.%20Check%20it%20out!">
                <img src="{{ 'x.svg' | asset_url }}" width="24" height="24" />
            </a>
            
            <a href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com{{ product.url |  url_encode}}">
                <img src="{{ 'facebook-black.svg' | asset_url }}" width="24" height="24" />
            </a>
            <a href="https://reddit.com/submit?url=whiskyblender.com{{ product.url |  url_encode}}&title=I%20made%20my%20own%20blend%20on%20whiskyblender.com">
                <img src="{{ 'reddit-black.svg' | asset_url }}" width="24" height="24" />
            </a>
            <a href="https://www.linkedin.com/shareArticle?url=whiskyblender.com{{ product.url |  url_encode}}&title=My%20own%20whisky&summary=I%20made%20my%20own%20blend%20on%20whiskyblender.com&source=whiskyblender.com">
                <img src="{{ 'linkedin-black.svg' | asset_url }}" width="24" height="24" />
            </a>
            
            <a href="mailto:?subject=My own whisky&amp;body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com{{ product.url |  url_encode}}">
                <img src="{{ 'email-black.svg' | asset_url }}" width="24" height="24" />
            </a>
        </div>
    </div>
    
    <div class="gallery-details">
        <div class="gallery-details__image bottle" style="background-image: url('');">
            <div class="bottle-blend">
                <div class="bottle-shape"></div>
                <span class="decorative"></span>
            </div>
        </div>

        <div class="product-details">
            <div class="product-title desktop-titles">
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <h3>{{ product.vendor | remove: "'s" }}'s</h3>
                    <div class="socials">
                        <a target="_blank" href="https://twitter.com/share?url=whiskyblender.com{{ product.url |  url_encode}}&text=I%20made%20my%20own%20blend%20on%20@whisky_blender.%20Check%20it%20out!">
                            <img src="{{ 'x.svg' | asset_url }}" width="24" height="24" />
                        </a>
                        
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com{{ product.url |  url_encode}}">
                            <img src="{{ 'facebook-black.svg' | asset_url }}" width="24" height="24" />
                        </a>
                        <a target="_blank" href="https://reddit.com/submit?url=whiskyblender.com{{ product.url |  url_encode}}&title=I%20made%20my%20own%20blend%20on%20whiskyblender.com">
                            <img src="{{ 'reddit-black.svg' | asset_url }}" width="24" height="24" />
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?url=whiskyblender.com{{ product.url |  url_encode}}&title=My%20own%20whisky&summary=I%20made%20my%20own%20blend%20on%20whiskyblender.com&source=whiskyblender.com">
                            <img src="{{ 'linkedin-black.svg' | asset_url }}" width="24" height="24" />
                        </a>
                        
                        <a target="_blank" href="mailto:?subject=My own whisky&amp;body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com{{ product.url |  url_encode}}">
                            <img src="{{ 'email-black.svg' | asset_url }}" width="24" height="24" />
                        </a>
                    </div>
                </div>
                <h1>{{ product.title | split: '-' | last}}</h1>
            </div>


            <div class="product-choices">
                {% assign product_description_array = product.description | split: "<p>" %}
                {% assign total_possible = 20 %}
                {% assign descriptions = "" %}
                {% assign values = "" %}

                {% for description in product_description_array %}
                {% if description != blank %}
                    {% assign description_parts = description | split: ":" %}
                    {% assign text = description_parts[0] | strip %}
                    {% assign numeric_value = description_parts[1] | strip | remove: "cl" | plus: 0 %}
                    
                    {% assign descriptions = descriptions | append: text | append: "," %}
                    {% assign values = values | append: numeric_value | append: "," %}
                {% endif %}
                {% endfor %}

                {% assign descriptions_array = descriptions | split: "," | slice: 0, descriptions.size | reverse %}
                {% assign values_array = values | split: "," | slice: 0, values.size | reverse %}

                <style>
                .progress-bar {
                    width: 100%;
                    background-color: #f3f3f3;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    color:black;
                     margin: 8px 0;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    
                }
                .progress-bar-inner {
                    height: 44px;
                    border-radius: 5px;
                    text-align: left;
                    padding-right: 5px;
                    line-height: 20px;
                    color: white;
                    background-color: #f3f3f3;
                    transition: background-color 0.8s ease-in-out;
                }
                </style>

                {% for value in values_array %}
                    {% assign percentage = value | times: 100 | divided_by: total_possible %}

                    
                    <div class="progress-bar">
                        <div class="progress-bar-inner" 
                            data-name="{{descriptions_array[forloop.index0] | strip_html}}" 
                            style="width: {{ percentage }}%;">
                        {{ descriptions_array[forloop.index0] }}
                        </div>
                    </div>
                {% endfor %}

            </div>  
        </div>

    </div>

</article>


{% render 'product-selector' %}

<style id="bar-colors">

</style>

<script src="{{ 'main-single.js' | asset_url }}" defer="defer"></script>