<script src="{{ 'pagination.js' | asset_url }}" defer="defer"></script>

<div class="py-huge px-base lg:px-0 w-full mx-auto max-w-[960px] flex flex-col gap-mega">
  <div class="text-center">
    <h1 class="text-h-lg overflow-clip">
      {{ section.settings.title }}
    </h1>

    <p class="text-body-sm mt-base">
      {{ section.settings.headline }}
    </p>

    {% if section.settings.video != blank %}
      {% assign aspect_ratio = 16 | divided_by: 9 %}
      <img
        srcset="
          {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
        "
        sizes="100vw"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: aspect_ratio }}"
        class="object-contain aspect-video"
      >
    {% endif %}
  </div>

  {% liquid
    assign items_per_page = 50
  %}

  <pagination-block>
    {%- paginate collections by items_per_page -%}
      <ul
        class="collection-list pagination-wrapper grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4"
        data-next-url="{{ paginate.next.url }}"
        data-per-page="{{ paginate.page_size }}"
        role="list"
      >
        {%- for collection in collections -%}
          {% if collection.metafields.custom.clubs_collection.value %}
            <li
              class=""
            >
              {% render 'collection-card', card_collection: collection %}
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>

      {% unless paginate.items == 0 %}
        <div class="pt-8 pb-12 flex flex-col items-center w-full gap-small">
          <p class="text-body-xs text-grey500">
            <span id="item_count"> </span>
            von
            <span id="total_item_count">
              {{ paginate.items }}
            </span>
            Ergebnissen
          </p>
          {% if paginate.pages > 1 %}
            <div class="flex self-stretch relative justify-center">
              {% render 'button',
                variant: 'secondary',
                size: 'lg',
                text: 'Mehr laden',
                classes: 'flex-grow load-more max-w-[360px]'
              %}
              {% render 'loading-spinner', class: 'stroke-grey500 load-more-spinner hidden' %}
            </div>
          {% endif %}
        </div>
      {% endunless %}
    {%- endpaginate -%}
  </pagination-block>
</div>

{% schema %}
{
  "name": "t:sections.main-collections-list.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-collections-list.settings.title.label",
      "default": "Listenseite für Kollektionen"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "t:sections.main-collections-list.settings.headline.label",
      "default": "Hier findest du Euren vereinseigenen Teamshop"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.main-collections-list.settings.video.label"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-collections-list.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-collections-list.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-collections-list.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-collections-list.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-collections-list.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-collections-list.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-collections-list.settings.sort.label"
    }
  ]
}
{% endschema %}
