{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width">
  <div class="loading-overlay gradient"></div>
  <ul class="
    grid grid--2-col negative-margin product-grid
    grid--4-col-desktop grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max"
    grid-wishlist>
    <p class="wishlist__loader full-width text-center">Loading...</p>
  </ul>
</div>

{% schema %}
  {
    "class": "spaced-section collection-grid-section",
    "templates": ["page.wishlist"]
  }
{% endschema %}