{%- style -%}
  .bdcart__quantity-input::-webkit-outer-spin-button,
  .bdcart__quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .bdcart__quantity-input {
    -moz-appearance: textfield;
  }

  .bdcart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10dvw 40px 10dvw;
    gap: 40px;
  }

  .bdcart__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bdcart__title {
    font-size: 32px;
    font-weight: 500;
    color: var(--onyx);
  }

  .bdcart-item__productinfo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
  }

  .bdcart-item__image {
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid var(--onyx);
  }

  .bdcart-item__productinfo-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .bdcart-item__pricing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .bdcart-item__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  .bdcart-item__price {
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 300;
    color: var(--onyx);
  }

  .price--old {
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--onyx);
  }

  .bdcart-item_title {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 500;
    color: var(--onyx);
    text-decoration: none;
  }

  .bdcart-item__variant {
    padding: 5px 10px;
    background-color: var(--dark-vanilla);
    color: var(--onyx);
    width: fit-content;
    border-radius: 4px;
  }

  .bdcart__quantity-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .quantity-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid var(--dark-vanilla);
    padding: 10px;
    border-radius: 32px;
    font-size: 24px;
    cursor: pointer;
    color: var(--dark-vanilla);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--dark-vanilla);
      color: var(--snow);
    }
  }

  .bdcart__quantity-input {
    width: 35px;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-unbounded), sans-serif;
    border: none;
    background: none;
    pointer-events: none;
    color: var(--onyx);
  }

  .bdcart__final-price {
    text-align: right;
  }

  .bdcart__grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bdcart__grid-mobile {
    display: none;
  }

  .bdcart__grid-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-weight: 300;
    padding: 20px 30px;
    color: var(--snow);
    background-color: var(--chocolate-cosmos);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .bdcart__grid-header p {
    color: var(--snow);
    font-size: 20px;
  }

  .bdcart__grid-header p:last-child {
    text-align: right;
  }

  .bdcart__grid-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    border-left: 1px solid var(--dark-vanilla);
    border-right: 1px solid var(--dark-vanilla);
    padding: 30px;
    gap: 20px;
  }

  .bdcart__grid-row:not(:last-child) {
    border-bottom: 1px solid var(--dark-vanilla);
  }

  .bdcart__grid-row:last-child {
    border-bottom: 1px solid var(--dark-vanilla);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .semi-bold {
    font-weight: 500;
  }

  /* Responsive grid */
  @media screen and (max-width: 768px) {
    .bdcart__grid {
      display: none;
    }

    .bdcart__grid-header {
      grid-template-columns: 1fr;
    }

    .bdcart__grid-header p {
      text-align: center;
    }

    .bdcart__grid-header p:last-child {
      text-align: center;
    }

    .bdcart__grid-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .bdcart-item__image {
      width: 95px;
      border-radius: 6px;
    }

    .bdcart__grid-row {
      padding: 10px;
    }

    .quantity-btn {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }
{%- endstyle -%}

<cart-items class="bdcart" id="cart-container">
  <div class="bdcart__titles">
    <h2 class="bdcart__title">{{ 'sections.cart.title' | t }}</h2>
    <a href="{{ routes.all_products_collection_url }}" class="underlined-link">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
  <form action="{{ routes.cart_url }}" method="post" id="cart" class="bdcart__grid-mobile">
    <div class="bdcart__grid-header">
      <p>{{ 'sections.cart.headings.product' | t }}s</p>
    </div>

    {%- for item in cart.items -%}
      <div
        class="bdcart__grid-row"
        data-line-price="{{ item.original_line_price | money_without_currency | replace: ',', '' }}"
        data-line-quantity="{{ item.quantity }}"
      >
        <!-- Product Info -->
        <div class="bdcart-item__productinfo">
          <img
            src="{{ item.image | image_url: width: 110 }}"
            class="bdcart-item__image"
            alt="{{ item.image.alt | escape }}"
            loading="lazy"
            width="110"
            height="150"
          >
          <div class="bdcart-item__productinfo-text">
            <div class="bdcart-item__pricing">
              <h4 class="bdcart-item__price semi-bold">{{ item.final_line_price | money }}</h4>
              {% if item.original_line_price > item.final_line_price %}
                <h4 class="bdcart-item__price price--old semi-bold">{{ item.original_line_price | money }}</h4>
              {% endif %}
            </div>
            <a href="{{ item.url }}" class="bdcart-item_title">{{ item.product.title | escape }}</a>
            {%- if item.product.has_only_default_variant == false -%}
              <p class="bdcart-item__variant"><strong>Style:</strong> {{ item.variant.title }}</p>
            {%- endif -%}
            <div class="bdcart__quantity-selector">
              <button type="button" name="minus" class="quantity-btn">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                </span>
                <i data-lucide="minus"></i>
              </button>
              <input type="hidden" name="id" id="itemId" value="{{ item.variant.id }}">
              <input
                type="number"
                id="Quantity-{{ item.index | plus: 1 }}"
                data-index="{{ item.index | plus: 1 }}"
                data-quantity-variant-id="{{ item.variant.id }}"
                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                name="updates[]"
                class="bdcart__quantity-input"
                min="3"
                step="1"
                value="{{ item.quantity }}"
                readonly
              >
              <button type="button" name="plus" class="quantity-btn">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                </span>
                <i data-lucide="plus"></i>
              </button>
              <a
                href="{{ item.url_to_remove }}"
                class="bdbutton"
                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
              >
                <span class="svg-wrapper"><i data-lucide="trash"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </form>
  <form action="{{ routes.cart_url }}" method="post" id="cart" class="bdcart__grid">
    <div class="bdcart__grid-header">
      <p>{{ 'sections.cart.headings.product' | t }}</p>
      <p>{{ 'sections.cart.headings.quantity' | t }}</p>
      <p>{{ 'sections.cart.headings.total' | t }}</p>
    </div>

    {%- for item in cart.items -%}
      <div
        class="bdcart__grid-row"
        data-line-price="{{ item.original_line_price | money_without_currency | replace: ',', '' }}"
        data-line-quantity="{{ item.quantity }}"
      >
        <!-- Product Info -->
        <div class="bdcart-item__productinfo">
          <img
            src="{{ item.image | image_url: width: 110 }}"
            class="bdcart-item__image"
            alt="{{ item.image.alt | escape }}"
            loading="lazy"
            width="110"
            height="150"
          >
          <div class="bdcart-item__productinfo-text">
            {% if item.product.compare_at_price > item.product.price %}
              <div class="bdcart-item__pricing">
                <h4 class="bdcart-item__price">{{ item.product.compare_at_price | money }}</h4>
                <h4 class="bdcart-item__price price--old">{{ item.product.price | money }}</h4>
              </div>
            {% else %}
              <h4 class="bdcart-item__price">{{ item.price | money }}</h4>
            {% endif %}
            <a href="{{ item.url }}" class="bdcart-item_title">{{ item.product.title | escape }}</a>
            {%- if item.product.has_only_default_variant == false -%}
              <p class="bdcart-item__variant"><strong>Style:</strong> {{ item.variant.title }}</p>
            {%- endif -%}
          </div>
        </div>

        <!-- Quantity Selector -->
        <div class="bdcart__quantity-selector">
          <button type="button" name="minus" class="quantity-btn">
            <span class="visually-hidden">
              {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
            </span>
            <i data-lucide="minus"></i>
          </button>
          <input type="hidden" name="id" id="itemId" value="{{ item.variant.id }}">
          <input
            type="number"
            id="Quantity-{{ item.index | plus: 1 }}"
            data-index="{{ item.index | plus: 1 }}"
            data-quantity-variant-id="{{ item.variant.id }}"
            data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
            name="updates[]"
            class="bdcart__quantity-input"
            min="3"
            step="1"
            value="{{ item.quantity }}"
            readonly
          >
          <button type="button" name="plus" class="quantity-btn">
            <span class="visually-hidden">
              {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
            </span>
            <i data-lucide="plus"></i>
          </button>
          <cart-remove-button>
            <a
              href="{{ item.url_to_remove }}"
              class="button button--tertiary"
              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
              style="margin-left: 15px; text-decoration: underline; font-family: var(--font-ltcushion), sans-serif;"
            >
              Remove
            </a>
          </cart-remove-button>
        </div>

        <!-- Price Info -->
        <div class="bdcart__final-price">
          <i data-lucide="loader-circle" class="bdcart-loading-spinner" style="display: none;"></i>
          <div class="bdcart-item__total">
            <h4 class="bdcart-item__price semi-bold">{{ item.final_line_price | money }}</h4>
            {% if item.original_line_price > item.final_line_price %}
              <h4 class="bdcart-item__price price--old semi-bold">{{ item.original_line_price | money }}</h4>
            {% endif %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </form>
</cart-items>

<script>
  async function updateCartItem(id, quantity) {
    try {
      const response = await fetch('/cart/change', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: JSON.stringify({
          id: id,
          quantity: quantity,
        }),
      });
      if (!response.ok) throw new Error('There was an error updating your cart.');

      //const cartData = await response.json();
      //return cartData;
    } catch (error) {
      console.error('There was an error updating your cart.', error);
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.quantity-btn').forEach((btn) => {
      btn.addEventListener('click', async function () {
        btn.setAttribute('disabled', true);
        const cartGrid = document.querySelector('.bdcart__grid');

        const quantityInput = this.parentElement.querySelector("input[type='number']");
        let currentQty = parseInt(quantityInput.value);
        const isIncrement = this.name === 'plus';
        const variantId = quantityInput.dataset.quantityVariantId;

        if (isIncrement & (currentQty < 3)) {
          currentQty = 3;
        }
        if (!isIncrement & (currentQty == 3)) {
          return; /* TODO: Trigger a notification for informing min qty is 3. */
        }

        cartGrid.style.opacity = '0.2';

        const newQty = isIncrement
          ? currentQty + 1
          : Math.max(3, currentQty - 1); /* TODO: Min Qty should be set in a theme setting. */

        quantityInput.value = newQty;
        await updateCartItem(variantId, newQty);

        cartGrid.style.opacity = '1';
        btn.removeAttribute('disabled');
        location.reload();
      });
    });
  });
</script>
