
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'app.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'app.css' | asset_url | stylesheet_tag }}</noscript>

<div id="vueapp" class="quiz-container">
  <results email="{% if customer %}'{{ customer[email]}}'{% else %}jaren82@yahoo.com{% endif %}"></results>
</div>

<script src="{{ 'app.js' | asset_url }}"></script>
{%  schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "quiz-section"
}
{% endschema %}
