{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dialog-polyfill.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'basic-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'line-login.js' | asset_url }}" defer="defer"></script>

<basic-modal id="basic-modal" class="line-login-modal">
  <dialog class="tw-w-[600px] tw-max-w-[90%]">
    <div class="close-button tw-cursor-pointer tw-absolute tw-top-2 tw-right-2 tw-z-10">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           class="tw-w-6 tw-h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </div>
    <section>
      <h2 class="danger">一部の商品のご購入にはLINE ID連携およびLINEログインが必要です。</h2>
      <h2 class="line-login-success tw-hidden">LINEログインが完了しました。</h2>
      <div class="line-login-required tw-text-center tw-text-lg tw-hidden">
        <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1653973522&redirect_uri={{ request.origin }}/collections/sukiya-hukubukuro-2025&state=12345abcde&scope=profile%20openid&nonce=09876xyz">
          LINEログイン
        </a>
      </div>
      <h2 class="line-connect-success tw-hidden">ID連携済みです。</h2>
      <div class="line-connect-required tw-hidden">
        <h2>Sukiya LINE ID連携がお済みではありません。</h2>
        <div>
          <p>Sukiya会員証をお持ちの方でSukiya LINE
            ID連携(ブランドコネクト)がお済みでない方は、こちらのリンクから手順を確認のうえご登録ください。</p>
          <p class="tw-text-center">
            <a href="https://www.sukiya.biz/line-official">Sukiya LINE ID連携について</a>
          </p>
        </div>
      </div>
      <button class="close-button tw-mt-5 tw-py-2 tw-px-6 tw-bg-black tw-text-white tw-text-center tw-cursor-pointer tw-block tw-w-full tw-border-none" tabindex="0">閉じる</button>
    </section>
  </dialog>
</basic-modal>

<div id="open-modal" class="tw-bg-gray-700 tw-text-white tw-text-center tw-p-1">LINEログインはこちらから</div>

{% schema %}
{
  "name": "福袋用LINEログインモーダル",
  "class": "section",
  "settings": []
}
{% endschema %}
