{% schema %}
{
  "name": "Mission Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Mission"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "column_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "column_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "column_subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mission Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{{ 'mission.css' | asset_url | stylesheet_tag }}

<section class="mission-section">
  <div class="container">
    <h2 class="mission-title">{{ section.settings.title }}</h2>
    <div class="mission-indent"></div>
    <div class="mission-content">
      <img
        class="mission-image"
        src="{{ section.settings.image | img_url: 'original' }}"
        alt="Mission Image"
      >
      <p class="mission-text">{{ section.settings.description }}</p>
    </div>

    <div class="mission-info-cards">
      {% for block in section.blocks %}
        <div class="mission-info-card">
          <img
            width="100px"
            height="100px"
            class="mission-info-image"
            src="{{ block.settings.column_image | img_url }}"
            alt="{{ block.settings.column_title }}"
          >
          <p class="mission-info-title">{{ block.settings.column_title }}</p>
          <p class="mission-info-subtitle">{{ block.settings.column_subtitle }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
