{%- if section.blocks.size > 0 -%}

	{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
	{{ 'section-multicolumn-ugc.css' | asset_url | stylesheet_tag }}
	{{ 'component-slider.css' | asset_url | stylesheet_tag }}

	{%- style -%}
		.section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
			padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
		}

		@media screen and (min-width: 750px) {
			.section-{{ section.id }}-padding {
				padding-top: {{ section.settings.padding_top }}px;
				padding-bottom: {{ section.settings.padding_bottom }}px;
			}
		}
	{%- endstyle -%}

	{%- liquid
		assign columns_mobile_int = section.settings.columns_mobile | plus: 0
		assign show_mobile_slider = false
		if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
			assign show_mobile_slider = true
		endif
	-%}

	{%- if show_mobile_slider -%}
    {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
		<script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'multicolumn-ugc.js' | asset_url -}}" defer="defer"></script>
	{%- endif -%}

{%- endif -%}

	<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
