{% schema %}
{
  "name": "News Section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "News"
    }
  ],
  "blocks": [
    {
      "type": "news_column",
      "name": "News Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "column_main_image",
          "label": "Column Main Image"
        },
        {
          "type": "image_picker",
          "id": "column_title_image",
          "label": "Column Title Image"
        },
        {
          "type": "text",
          "id": "column_description",
          "label": "Column Description"
        },
        {
          "type": "text",
          "id": "column_text_date",
          "label": "Column Text Date"
        },
        {
          "type": "image_picker",
          "id": "column_image_arrow",
          "label": "Column Image Arrow"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "News Columns"
    }
  ]
}
{% endschema %}

{{ 'news.css' | asset_url | stylesheet_tag }}

<section id="news" class="news-section">
  <div class="container">
    <h2 class="news-title">{{ section.settings.title }}</h2>
    <div class="news-indent"></div>

    <div class="news-columns">
      {% for block in section.blocks %}
        <div class="news-column" {{ block.shopify_attributes }}>
          <img
            class="news-main-image"
            src="{{block.settings.column_main_image | image_url}}"
            alt="news-main-image"
          >

          <img
            class="news-second-image"
            src="{{block.settings.column_title_image | image_url}}"
            alt="news-second-image"
          >

          <p class="news-title-image">{{ block.settings.column_title }}</p>
          <p class="news-description">{{ block.settings.column_description }}</p>

          <div class="news-bottom-part">
            <p class="news-date">{{ block.settings.column_text_date }}</p>
            <img
              class="news-arrow"
              src="{{block.settings.column_image_arrow | image_url}}"
              alt="news-right"
            >
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
