{{ 'nutrition.css' | asset_url | stylesheet_tag }}

{% capture Line_23 %}
{% liquid 
  if product.metafields.global.portionSize
    assign classGrid = 'nu-col-1-3'
  else
    assign classGrid = 'nu-col-1-2'
  endif
%}
<div class="nu-h-1px nu-h-md-038px nu-h-lg-06px nu-h-xl-1px nu-w-100p nu-bs-solid nu-bw-1px nu-bw-md-038px nu-bw-lg-06px nu-bw-xl-1px nu-my-10px {{ classGrid }}">
  &nbsp;
</div>
{% endcapture %}

{% capture nutritiontable %}
<div class="nu-grid nu-col-1 nu-col-lg-2-4 {% if product.metafields.global.portionSize %}nu-3col-4-2-2{% else %}nu-2col-4-2{% endif %} nu-mb-25px nu-ff-body">
  {% comment %} Table Headline {% endcomment %}
  <div class="nu-fs-2 nu-fw-300 nu-lh-26px nu-ls-p024">
    {{ section.settings.titleNutritionTable | escape }}
  </div>
  <div class="nu-fs-2 nu-fw-300 nu-lh-26px nu-ls-p024 nu-ta-c">
    {{ product.metafields.global.referenceAmount | escape }}
  </div>
  {% if product.metafields.global.portionSize %}
    <div class="nu-fs-2 nu-fw-300 nu-lh-26px nu-ls-p024 nu-ta-r">
      {{ product.metafields.global.portionSize }} Portion
    </div>
  {% endif %}
  {% liquid 
    echo Line_23
    render 'nutrition-table-row', description: 'Energie', hundred: product.metafields.global.refEnergyKcal, portion: product.metafields.global.porEnergyKcal, unit: 'kcal'
    render 'nutrition-table-row', description: '', hundred: product.metafields.global.refEnergyKj, portion: product.metafields.global.porEnergyKj, unit: 'kJ'
    echo Line_23
    render 'nutrition-table-row', description: 'Fett', hundred: product.metafields.global.refFat, portion: product.metafields.global.porFat, unit: 'g'
    render 'nutrition-table-row', description: '(davon gesättigte Fettsäuren)', hundred: product.metafields.global.refFatSaturated, portion: product.metafields.global.porFatSaturated, unit: 'g'
    echo Line_23
    render 'nutrition-table-row', description: 'Kohlenhydrate', hundred: product.metafields.global.refCarbs, portion: product.metafields.global.porCarbs, unit: 'g'
    render 'nutrition-table-row', description: '(davon Zucker)', hundred: product.metafields.global.refSugar, portion: product.metafields.global.porSugar, unit: 'g'
    echo Line_23
    render 'nutrition-table-row', description: 'Ballaststoffe', hundred: product.metafields.global.refFiber, portion: product.metafields.global.porFiber, unit: 'g'
    echo Line_23
    render 'nutrition-table-row', description: 'Protein', hundred: product.metafields.global.refProtein, portion: product.metafields.global.porProtein, unit: 'g'
    echo Line_23
    render 'nutrition-table-row', description: 'Salz', hundred: product.metafields.global.refSalt, portion: product.metafields.global.porSalt, unit: 'g' 
  %}
</div>
{% endcapture %}



<div class="nu-SectionGrid color-{{ section.settings.color_scheme }} nu-my-25px nu-w-90p nu-w-lg-unset nu-mx-auto">
  {% liquid 
    assign decider = 0
    if product.metafields.global.toggleIngredientList
      assign decider = decider | plus: 1
    endif
    if product.metafields.global.toggleNutritionTable
      assign decider = decider | plus: 2
    endif
    if product.metafields.global.toggleActiveList
      assign decider = decider | plus: 4
    endif
    if product.metafields.global.toggleActiveTable
      assign decider = decider | plus: 8
    endif
  %}
  <div class="nu-SectionGrid-Narrow">
    <div class="nu-grid nu-1col nu-lg-2col-3-4 nu-gap-20px">
      {% case decider %}
        {% when 1 %}
          <section class="nu-col-1 nu-col-lg-1-2">
            <h3 class="nu-ff-heading nu-fs-3 nu-fw-300 nu-lh-26px nu-uppercase">
              {{ section.settings.titleIngredientList | escape }}
            </h3>
            <div class="nu-w-100p nu-mxw-100p nu-ff-body nu-fs-1 nu-fw-400 nu-fw-lg-300 nu-lh-150">
              {{ product.metafields.global.ingredients }}
            </div>
          </section>
        {% when 3 %}
          <section class="nu-col-1">
            <h3 class="nu-ff-heading nu-fs-3 nu-fw-300 nu-lh-26px nu-uppercase">
              {{ section.settings.titleIngredientList | escape }}
            </h3>
            <div class="nu-w-100p nu-mxw-100p nu-ff-body nu-fs-1 nu-fw-400 nu-fw-lg-300 nu-lh-150">
              {{ product.metafields.global.ingredients }}
            </div>
          </section>
          {{ nutritiontable }}
      {% endcase %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Zutaten- und Nährstoffe",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
      {
        "type": "text",
        "id": "titleIngredientList",
        "label": "Überschrift der Zutatenliste",
        "default": "Zutatenliste"
      },
      {
        "type": "text",
        "id": "titleNutritionTable",
        "label": "Überschrift der Nährwerttabelle",
        "default": "Nährwerte je"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.footer.settings.color_scheme.options__1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.footer.settings.color_scheme.options__2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.footer.settings.color_scheme.options__3.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.footer.settings.color_scheme.options__4.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.footer.settings.color_scheme.options__5.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.footer.settings.color_scheme.label"
      }
  ],
  "presets": [
    {
      "name": "Zutaten und Nährstoffe",
      "settings": {
        "titleIngredientList": "Zutatenliste",
        "titleNutritionTable": "Nährwerte je",
        "color_scheme": "background-1"
      }
    }
  ]
}
{% endschema %}