{% if customer.metafields['app--1576377--loyalty'].vip_tier_name == blank %}

<div class="container mx-auto">
  <div class="text-center py-8">
    <h1 class="text-xl mb-0">{{ section.settings.row_heading }}</h1>
    <div class="mt-16 flex flex-col gap-20 sm:gap-8 sm:flex-row sm:justify-center">
      <div class="w-full">
        <div class="text-lg font-bold bg-black rounded-full mx-auto size-25 text-white flex justify-center items-center">1</div>
        <p class="mt-10 text-lg text-black font-bold uppercase">{{ section.settings.column_1_heading }}</p>
        <p class="mt-10 w-60 mx-auto text-sm text-black">{{ section.settings.column_1_paragraph }}</p>
      </div>
      <div class="w-full">
        <div class="text-lg font-bold bg-black rounded-full mx-auto size-25 text-white flex justify-center items-center">2</div>
        <p class="mt-10 text-lg text-black font-bold uppercase">{{ section.settings.column_2_heading }}</p>
        <p class="mt-10 w-60 mx-auto text-sm text-black">{{ section.settings.column_2_paragraph }}</p>
      </div>
      <div class="w-full">
        <div class="text-lg font-bold bg-black rounded-full mx-auto size-25 text-white flex justify-center items-center">3</div>
        <p class="mt-10 text-lg text-black font-bold uppercase">{{ section.settings.column_3_heading }}</p>
        <p class="mt-10 w-60 mx-auto text-sm text-black">{{ section.settings.column_3_paragraph }}</p>
      </div>
    </div>    
  </div>
</div>

{% endif %}

{% schema %}
{
  "name": "Loyalty How it Works",
  "settings": [
    {
      "type": "text",
      "label": "Row Heading",
      "id": "row_heading",
      "default": "How it Works"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
        "type": "header",
        "content": "Column 1 Settings:"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "column_1_heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "label": "Paragraph",
      "id": "column_1_paragraph",
      "default": "Paragraph"
    },
    {
      "type": "header",
      "content": "Column 2 Settings:"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "column_2_heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "label": "Paragraph",
      "id": "column_2_paragraph",
      "default": "Paragraph"
    },
    {
      "type": "header",
      "content": "Column 3 Settings:"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "column_3_heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "label": "Paragraph",
      "id": "column_3_paragraph",
      "default": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "Loyalty How it Works"
    }
  ]
}
{% endschema %}
