{% schema %}
{
  "name": "Loyalty Earn",
  "settings": [
    {
      "type": "text",
      "label": "Row Heading",
      "id": "row_heading",
      "default": "Ways To Earn Points"
    }
  ],
  "presets": [
    {
      "name": "Loyalty Earn"
    }
  ]
}
{% endschema %}

<div class="container mx-auto px-10">
  <h1 class="text-xl text-center">{{ section.settings.row_heading }}</h1>
  <div class="mt-12" data-oke-loyalty-earn></div>
</div>

<style>
  #oke-loyalty-earn {
    .c-actionCard:nth-child(1) {
      background-image: url('{{ '1.jpg' | asset_url }}');
    }

    .c-actionCard:nth-child(2) {
      background-image: url('{{ '2.jpg' | asset_url }}');
    }

    .c-actionCard:nth-child(3) {
      background-image: url('{{ '3.jpg' | asset_url }}');
    }

    .c-actionCard:nth-child(4) {
      background-image: url('{{ '4.jpg' | asset_url }}');
    }

    .c-actionCard:nth-child(5) {
      background-image: url('{{ '5.jpg' | asset_url }}');
    }

    .c-actionCard:nth-child(6) {
      background-image: url('{{ '6.jpg' | asset_url }}');
    }
  }
</style>