{{ 'open-graph-product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}


<div class="open-graph color-background-1">
  <div class="open-graph__featured-image">
    <img src="{{ product.featured_image | img_url: '580x580' }}">
  </div>
  <div class="open-graph__meta">
    <h1 class="open-graph__title">{{ product.title }}</h1>
    <div class="open-graph__price">
      {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
      {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
      <div class="product__tax caption rte">
        {%- if shop.taxes_included -%}
          {{ 'products.product.include_taxes' | t }}
        {%- endif -%}
      </div>
    {%- endif -%}
    </div>

    {%- unless product.has_only_default_variant -%}
      {%- for option in product.options_with_values -%}
        <span class="open-graph__variant-label">{{option.name}}</span>
        <ul class="open-graph__variants">
          {%- for value in option.values -%}
            <li class="open-graph__variant-item {% if variant.available == false %} open-graph__variant-item--unavailable{% endif %}">
              {{ value }}
            </li>
          {%- endfor -%}
        </ul>
        {%- endfor -%}
      </ul>
    {%- endunless -%}

    <ul class="open-graph__image-list">
      {% for image in product.images %}
        {% if image.src != product.featured_image %}
          <li class="open-graph__image-item">
            <img src="{{ image.src | img_url: '170x170' }}">
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.open-graph-product.name",
  "tag": "section",
  "class": "open-graph-product",
  "settings": []
}
{% endschema %}
