{{ 'section-our-history.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="our-history">
    <div class="container">
      <div class="our-history__inner">
        <div class="our-history__media-grid">
          {% if section.settings.image_1 != blank %}
            <img
              height="100%"
              width="100%"
              src="{{ section.settings.image_1 | image_url: width: 300 }}"
              alt="Top Right Image"
              class="media-grid__item media-grid__item--1"
            >
          {% endif %}
          {% if section.settings.image_2 != blank %}
            <div class="media-grid__item media-grid__item--2">
              <img
                height="100%"
                width="100%"
                src="{{ section.settings.image_2 | image_url: width: 300 }}"
                alt="Middle Image"
                id="parallax-image"
              >
            </div>
          {% endif %}
          {% if section.settings.image_3 != blank %}
            <img
              height="100%"
              width="100%"
              src="{{ section.settings.image_3 | image_url: width: 300 }}"
              alt="Bottom Left Image"
              class="media-grid__item media-grid__item--3"
            >
          {% endif %}
        </div>

        <div class="our-history__content">
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.description }}</p>
          <a href="{{ section.settings.cta_link }}" class="btn btn--primary"></a>
          {{ section.settings.cta_text }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our History",
  "tag": "section",
  "class": "shopify-section our-history",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Top Right Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Middle Image"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Bottom Left Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our History"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet consectetur. Feugiat egestas sit sapien in. Quisque..."
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to Action Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Call to Action Link"
    }
  ],
  "presets": [
    {
      "name": "Our History"
    }
  ]
}
{% endschema %}
