{{ 'section-our-history.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="our-history">
    <div class="container">
      <div class="our-history__inner">
        <div class="our-history__media-grid">
          <img
            height="100%"
            width="100%"
            {% if section.settings.image_1 != blank %}
              src="{{ section.settings.image_1 | image_url: width: 300 }}"
            {% else %}
              src="https://cdn.shopify.com/s/files/1/0894/0280/2509/files/no-image.webp?v=1748514174"
            {% endif %}
            alt="Top Right Image"
            class="media-grid__item media-grid__item--1"
          >
          <div class="media-grid__item media-grid__item--2">
            <img
              height="100%"
              width="100%"
              {% if section.settings.image_2 != blank %}
                src="{{ section.settings.image_2 | image_url: width: 300 }}"
              {% else %}
                src="https://cdn.shopify.com/s/files/1/0894/0280/2509/files/no-image.webp?v=1748514174"
              {% endif %}
              alt="Middle Image"
              id="parallax-image"
            >
          </div>
          <img
            height="100%"
            width="100%"
            {% if section.settings.image_3 != blank %}
              src="{{ section.settings.image_3 | image_url: width: 300 }}"
            {% else %}
              src="https://cdn.shopify.com/s/files/1/0894/0280/2509/files/no-image.webp?v=1748514174"
            {% endif %}
            alt="Bottom Left Image"
            class="media-grid__item media-grid__item--3"
          >
        </div>

        <div class="our-history__content">
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.description }}</p>
          <a href="{{ section.settings.cta_link }}" class="btn btn--primary"></a>
          {{ section.settings.cta_text }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our History",
  "tag": "section",
  "class": "shopify-section our-history",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Top Right Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Middle Image"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Bottom Left Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our History"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet consectetur. Feugiat egestas sit sapien in. Quisque..."
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to Action Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Call to Action Link"
    }
  ],
  "presets": [
    {
      "name": "Image Text Stack",
      "category": "Custom"
    }
  ]
}
{% endschema %}
