{{ 'category-page.css' | asset_url | stylesheet_tag }}
{%- assign metaValue = page.metafields.custom.category_page.value -%}

<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
  class="category-page"
>
  <div class="category-page-key-visual">
    <div class="category-page-key-visual-body">
      <h1 class="category-page-key-visual-title">{{ metaValue.title.value }}</h1>
      <p class="category-page-key-visual-intro">{{ metaValue.intro.value }}</p>
      <div class="category-page-key-visual-image">
        <img src="{{ metaValue.key_visual.value | img_url: '1000x500' }}" alt="" />
      </div>
    </div>
  </div>
  <div class="category-page-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Category Page Detail",
    "settings": []
  }
{% endschema %}