{{ 'interest-detail.css' | asset_url | stylesheet_tag }}

{% assign features = metaobject.features.value %}
{% assign products = metaobject.products.value %}
{% assign makers = metaobject.makers.value %}

<script>
  {% comment %}console.log('features', {{ features | json }}){% endcomment %}
  {% comment %}console.log('products', {{ products | json }}){% endcomment %}
  {% comment %}console.log('makers', {{ makers | json }}){% endcomment %}
</script>

<div class="interest-detail">
  <div class="breadcrumb">
    <ul>
      <li><a href="/pages/wagashipedia/">Wagashipedia</a></li>
      <li>{{ metaobject.name }}</li>
    </ul>
  </div>
  <div class="interest-detail-kv">
    <div class="interest-detail-kv-image-box">
      <picture>
        {% if metaobject.key_visual_mobile != blank %}
          <source srcset="{{ metaobject.key_visual_mobile | img_url: '780x908' }}" media="(max-width: 768px)" />
        {% endif %}
        <img src="{{ metaobject.key_visual | img_url: '1920x1200' }}" alt="" class="interest-detail-kv-image {% if metaobject.key_visual_mobile != blank %}has-mobile{% endif %}" />
      </picture>
    </div>
    <div class="page-width">
      <div class="interest-detail-kv-body">
        <hgroup>
          <p class="interest-detail-kv-title" style="color: {{ metaobject.primary_color }}">{{ metaobject.name_ja }}</p>
          <p class="interest-detail-kv-title-en">{{ metaobject.name }}</p>
        </hgroup>
      </div>
    </div>
  </div>

  <section class="interest-detail-info">
{% comment %}    <header class="wagashi-header-02">
      <h1 class="wagashi-header-02-text">What is {{ metaobject.name }}</h1>
    </header>{% endcomment %}
    <div class="page-width">
      <div class="interest-detail-info-items">
        <div>
          <p class="interest-detail-info-description">{{ metaobject.description }}</p>
        </div>
        <div>
          <img src="{{ metaobject.thumbnail | image_url: width: 527 }}" alt="" class="interest-detail-info-image">
        </div>
      </div>
    </div>
  </section>

  {% if features != blank %}
  <section class="interest-detail-features">
    <header class="wagashi-header-02">
      <h1 class="wagashi-header-02-text">{{ metaobject.interest_header }}</h1>
    </header>
    <div class="page-width">
      {%- for feature in features -%}
      <div class="interest-detail-features-items">
        <div class="interest-detail-features-body">
          <h3 class="interest-detail-features-subtitle" style="color: {{ metaobject.accent_color }}">{{ feature.subtitle }}</h3>
          <h3 class="interest-detail-features-title">{{ feature.title }}</h3>
          <h3 class="interest-detail-features-description">{{ feature.description }}</h3>
        </div>
        <div>
          <img src="{{ feature.thumbnail | image_url: width: 520 }}" width="520" alt="" class="interest-detail-features-image">
        </div>
      </div>
      {%- endfor -%}
    </div>
  </section>
  {% endif %}

  {% if products != blank %}
  <section class="wagashi-product-list">
    <header class="wagashi-header-03">
      <h1 class="wagashi-header-03-text">Famous Products</h1>
    </header>
    <div class="page-width">
      {% render "wagashi-product-list", products: products %}
    </div>
  </section>
  {% endif %}

  {% if makers != blank %}
  <section class="wagashi-maker-list">
    <header class="wagashi-header-03">
      <h1 class="wagashi-header-03-text">Famous Maker</h1>
    </header>
    <div class="wagashi-maker-list">
      <div class="page-width">
        {% render "wagashi-maker-list", makers: makers %}
      </div>
    </div>
  </section>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Interest detail",
    "settings": [
      {
        "type": "text",
        "id": "id_name",
        "label": "ID名"
      }
    ]
  }
{% endschema %}