<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
  class="page-width past-box-list"
>
  {% if section.settings.title != blank %}
    <h2 class="past-box-list-title">{{ section.settings.title }}</h2>
  {% endif %}
  <div class="past-box-list-items">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'page' -%}
          {%- assign page_obj = pages[block.settings.page] -%}
          {%- assign metaValue = page_obj.metafields.custom.past_box.value -%}
          <div class="past-box-list-item">
            {% if block.settings.has_detail_page %}
            <a href="{{ page_obj.url }}" class="past-box-list-item-link">
            {% else %}
            <div class="past-box-list-item-link">
            {% endif %}
              <img src="{{ metaValue.thumbnail.value | img_url: '730x730' }}" alt="" class="past-box-list-item-image">
              <div class="past-box-list-item-body">
                <div class="past-box-list-item-info">
                  <p class="past-box-list-item-date">{{ metaValue.date.value | date: "%B" }}</p>
                  <p class="past-box-list-item-vol">VOL.{{ metaValue.vol.value }}</p>
                </div>
                <h2 class="past-box-list-item-title">{{ metaValue.title.value }}</h2>
              </div>
            {% if block.settings.has_detail_page %}
            </a>
            {% else %}
            </div>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Past box List",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "Page",
        "type": "page",
        "settings": [
          {
            "id": "page",
            "type": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "has_detail_page",
            "default": false,
            "label": "Has detail page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Past box List"
      }
    ]
  }
{% endschema %}