{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    {% liquid
      if section.settings.page.title != blank
        assign title = section.settings.page.title | escape
      else
        assign title = 'sections.page.title' | t
      endif
    %}
    {% unless section.settings.heading_element_custom %}
      <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ title }}
      </h2>
    {% else %}
      {% liquid
        assign class = 'page-title '
        if settings.animations_reveal_on_scroll
          assign class = class | append: ' scroll-trigger animate--slide-in'
        endif
      %}
      {%
        render 'headings',
        heading_size: section.settings.heading_size,
        heading_element: section.settings.heading_element,
        title: title,
        class: class,
        animation: settings.animations_reveal_on_scroll,
      %}
    {% endunless %}
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <div class="page-placeholder-wrapper placeholder">
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__0.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_mobile_padding_heading"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:sections.all.heading_element_header.content"
    },
    {
      "type": "checkbox",
      "id": "heading_element_custom",
      "label": "t:sections.all.heading_element_custom.label",
      "info": "t:sections.all.heading_element_custom.info",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_element",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_element.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_element.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_element.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_element.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_element.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_element.options__6.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_element.label",
      "info": "t:sections.all.heading_element.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
