<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
>
  {% if section.settings.title != blank %}
    <header class="page-media-text-header">
      <h2 class="page-media-text-header-text">{{ section.settings.title }}</h2>
    </header>
  {% endif %}
  <div
    class="page-width"
  >
    <div
      class="page-media-text image-position-{{ section.settings.image_position }}"
    >
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: '1200x1200' }}" alt="" class="page-media-text-image"/>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="page-media-text-text">{{ section.settings.text }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Media & Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "見出し"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "画像"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "テキスト"
      },
      {
        "type": "radio",
        "id": "image_position",
        "label": "画像の位置",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "text",
        "id": "id_name",
        "label": "id名"
      }
    ],
    "presets": [
      {
        "name": "Media & Text",
        "category": "Custom"
      }
    ]
  }
{% endschema %}