<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
  class="section-{{ section.id }}-padding"
>
  <section class="splide splide-key-visual-index">
    <div class="splide__track">
      <ul class="splide__list">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'page' -%}
            {% assign page_obj = pages[block.settings.page] %}
            <li class="splide__slide page-key-visual -index">
              <img src="{{ page_obj.metafields.custom.past_box.value.key_visual.value | img_url: '1920x1200' }}" alt="" class="page-key-visual-image" />
              <div class="page-width">
                <div class="page-key-visual-body">
                  <hgroup class="page-key-visual-hgroup">
                    <p class="page-key-visual-subtitle">VOL.{{ page_obj.metafields.custom.past_box.value.vol.value }}</p>
                    <p class="page-key-visual-title">{{ page_obj.metafields.custom.past_box.value.date.value | date: "%B %Y" }}</p>
                  </hgroup>
                </div>
                <div class="page-key-visual-button">
                  <a href="{{ page_obj.url }}">View Past box now<svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M31.4902 20.2399V6.03536C31.4902 5.92964 31.4848 5.81011 31.4682 5.68759C31.454 5.58672 31.3675 5.49269 31.3095 5.40194C31.2237 5.19296 31.0306 5.02594 30.8111 4.94227C30.5049 4.73726 30.1718 4.60672 30.0926 4.58404L14.7113 0.0390788C14.4717 -0.0302008 14.2159 -0.00659144 13.9948 0.103747L8.12207 3.02051L8.02472 2.98961L7.99076 3.08518L1.84897 6.1362C0.86748 6.62405 0.414835 6.97059 0.268126 7.21057C0.145413 7.34968 0 7.52685 0 7.72048V23.6372C0 23.9948 0.311369 24.3071 0.670154 24.4143L19.6436 30.076C19.7269 30.1002 19.8301 30.1125 19.9169 30.1125C20.1305 30.1125 20.3439 30.0376 20.5031 29.9019L31.1231 20.8439C31.3032 20.6894 31.4902 20.4697 31.4902 20.2399ZM14.4455 1.04114L29.303 5.43253L24.5726 8.26081L9.54663 3.47467L14.4455 1.04114ZM8.2137 4.13659L23.3867 8.96989L19.2749 11.4283C17.833 11.1006 8.74517 8.82617 2.13501 7.16373C2.21192 7.12143 2.28654 7.08127 2.35255 7.04847L8.2137 4.13659ZM1.08596 8.00004C14.1161 11.1987 17.6274 12.1184 18.7761 12.3831L19.174 28.8759L1.08596 23.4796V8.00004ZM30.4042 20.1437L20.4386 28.6427L20.0488 12.255L30.4042 6.08747V20.1437ZM13.4095 16.9315C13.34 17.1561 13.1232 17.3013 12.8884 17.3013C12.8381 17.3013 12.7865 17.2949 12.7356 17.2808L4.95208 15.1164C4.66406 15.0363 4.49947 14.7501 4.58369 14.4771C4.66794 14.204 4.9687 14.0487 5.25769 14.1278L13.0412 16.2922C13.3288 16.3722 13.4938 16.6584 13.4095 16.9315Z" fill="white"/>
                  </svg>
                  </a>
                </div>
              </div>
            </li>
        {%- endcase -%}
      {%- endfor -%}
      </ul>
    </div>
  </section>
  <section class="page-title-section -index">
    <div class="page-width">
      {% if section.settings.title != blank %}
        <h2 class="page-title-section-title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <p class="page-title-section-description">{{ section.settings.description }}</p>
      {% endif %}
    </div>
  </section>
</div>

<script>
  new Splide('.splide.splide-key-visual-index', {
    type: 'fade',
    rewind: true,
    autoplay: true,
    pagination: false
  }).mount();
</script>

{% schema %}
  {
    "name": "Past box Detail",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "id_name",
        "label": "ID名"
      }
    ],
    "blocks": [
      {
        "name": "Page",
        "type": "page",
        "settings": [
          {
            "id": "page",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ]
  }
{% endschema %}