{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}::before, #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_font_dark 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_font_dark
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_font_light
      assign tagForeground = settings.colors_font_dark
    else
      assign tagBackground = settings.colors_font_dark
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Full">
    <div class="ndesktop w-100p">
      <div class="ngrid onecol onerow">
      {% if section.settings.video != blank and section.settings.video != "" %}
        <video
          muted
          autoplay
          loop
          poster="{{ section.settings.posterImage | img_url: '2000x' }}"
          src="{{ section.settings.video | escape }}"
          class="w-100p cover lazy col-1 row-1"
          height="700"
        >
          Sorry, your browser doesn't support embedded videos!
        </video>
        {% else %}
        <img src="{{ section.settings.imageMobile | img_url: '1200x' }}" alt="{{ section.settings.image.alt | escape }}" class="w-100p cover col-1 row-1" width="1000" height="700" loading="lazy">
      {% endif %}
      <div class="w-100p col-1 row-1 pt-510px pb-30px px-md-30px">
        <h1 class="ta-c ta-md-l {% if section.settings.uppercaseTitle %}uppercase {% endif %}my-0 py-0 lh-116 ls-m220">
          {{ section.settings.title | escape }}
        </h1>
        <p class="ff-body fs-3 lh-133 mt-3 mb-5 ta-c ta-md-l">
          {{ section.settings.text | escape }}
        </p>
        <div class="ta-c ta-md-l w-100p mt-4 mb-8">
          {% if section.settings.buttonDesign == "filled" %}
            <a href="{{ section.settings.url }}" class="py-3 px-8 mxh-60px inlblock ta-c ff-heading uppercase z-1000 nodec button" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
              {{ section.settings.buttonText | escape }}
            </a>
          {% else %}
            <a href="{{ section.settings.url }}" class="py-3 px-8 mxh-60px inlblock ta-c ff-heading uppercase z-1000 nodec button" style="background-color: transparent; border-color: {{ tagBackground }}; border-width: 2px; border-style: solid; color: {{ tagBackground }};">
              {{ section.settings.buttonText | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
      <div class="w-100p flex column jc-fe">
        <p class="w-100p ta-c uppercase mb-7">
          {{ section.settings.introText | escape }}
        </p>
        <div class="flex row jc-spb ai-fs wrap h-20px ofh">
          {% for logo in section.blocks %}
            {% if logo.settings.showMobile %}
              <img src="{{ logo.settings.image | img_url: 'x50' }}" alt="{{ logo.settings.image.alt | escape }}" loading="lazy" width="100" height="20" class="h-20px w-auto mx-5 grow-0 shrink-0">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="w-100p SectionGrid desktopgrid onerow">
      {% if section.settings.video != blank and section.settings.video != "" %}
        <video
          muted
          autoplay
          loop
          src="{{ section.settings.video | escape }}"
          poster="{{ section.settings.posterImage | img_url: '2000x' }}"
          class="w-100p col-1-5 row-1 mxh-700px cover lazy"
          height="700"
        >
          Sorry, your browser doesn't support embedded videos!
        </video>
      {% else %}
        <img src="{{ section.settings.imageDesktop | img_url: '2000x' }}" alt="{{ section.settings.image.alt | escape }}" class="col-1-5 row-1 w-100p cover" width="1500" height="700" loading="lazy">
      {% endif %}
      <div class="col-2-4 row-1 grid twocol z-5">
        <div class="col-1 flex column jc-c ai-fs mxh-700px ml-5">
          <h1 class="mb-8 mt-0 z-5 ff-heading fs-62px fw-500 lh-100 ta-l{% if section.settings.uppercaseTitle %} uppercase{% endif %}" style="max-width: 450px;">
            {% liquid 
              assign titleSections = section.settings.title | split: ' '
              assign titlePartA = titleSections[0] | append: ' ' | append: titleSections[1]
              assign titlePartB = titleSections[2] | append: ' ' | append: titleSections[3] | append: ' ' | append: titleSections[4]
            %}
            {{ titlePartA | escape }}<br>
            {{ titlePartB | escape }}
          </h1>
          <p class="ff-body fs-4 lh-145 ls-p024 fw-300 z-5 mt-0 mb-8 ta-l" style="color: {{ tagBackground }};">
            {{ section.settings.text | escape }}
          </p>
          <div class="ta-l w-100p mt-4 mb-5">
            {% if section.settings.buttonDesign == "filled" %}
              <a href="{{ section.settings.url }}" class="py-5 px-7 ta-c ff-heading uppercase fs-1 lh-100 fw-300 nodec button" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                {{ section.settings.buttonText | escape }}
              </a>
            {% else %}
              <a href="{{ section.settings.url }}" class="py-5 px-7 ta-c ff-heading uppercase fs-1 lh-100 fw-300 nodec button" style="background-color: transparent; border-color: {{ tagBackground }}; border-width: 2px; border-style: solid; color: {{ tagBackground }};">
                {{ section.settings.buttonText | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
        {% if section.blocks.size > 0 %}
          <div class="col-2-4 row-1 uppercase pt-600px h-620px ofh flex row jc-spb ai-fs wrap w-100p">
            <p class="uppercase mr-4" style="color: {{ tagBackground}};">{{ section.settings.introText | escape }}</p>
            {% for logo in section.blocks %}
              {% if logo.settings.showDesktop %}
                <img src="{{ logo.settings.image | img_url: 'x50' }}" alt="{{ logo.settings.image.alt | escape }}" width="100" height="20" class="h-20px w-auto mx-5 grow-0 shrink-0" loading="lazy">
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pageheader",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "Farbschema"
    },
    {
      "type": "image_picker",
      "id": "imageDesktop",
      "label": "Hintergrundbild für Desktop"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "Hintergrundbild für Mobil/Tablet"
    },
    {
      "type": "text",
      "id": "video",
      "label": "URL des Hintergrundvideos"
    },
    {
      "type": "image_picker",
      "id": "posterImage",
      "label": "Platzhalterbild während des Ladens des Videos"
    },
    {
      "type": "text",
      "id": "title",
      "default": "All you need is sleep.",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "uppercaseTitle",
      "default": true,
      "label": "Überschrift in Großbuchstaben?"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Mehr als 75.000 zufriedene Kunden.",
      "label": "Subline"
    },
    {
      "type": "url",
      "id": "url",
      "default": "/collections/all",
      "label": "URL hinter dem Button"
    },
    {
      "type": "select",
      "id": "buttonDesign",
      "default": "outlined",
      "label": "Layout des Buttons",
      "options": [
        {
          "value": "outlined",
          "label": "nur Kontur"
        },
        {
          "value": "filled",
          "label": "ausgefüllt"
        }
      ]
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "Jetzt einkaufen",
      "label": "Aufschrift des Buttons"
    },
    {
      "type": "text",
      "id": "introText",
      "default": "sleep.ink ist bekannt aus:",
      "label": "einleitender Text für Presselogos"
    }
  ],
  "blocks": [
    {
      "name": "Presselogo",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "showDesktop",
          "label": "show on desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Hero",
      "settings": {
        "color_scheme": "background-1",
        "title": "All you need is sleep.",
        "uppercaseTitle": true,
        "text": "Ihre Experten für Premium-Schlafprodukte",
        "url": "/collections/all",
        "buttonDesign": "outlined",
        "buttonText": "Mehr erfahren",
        "introText": "sleep.ink ist bekannt aus:"
      }
    }
  ]
}
{% endschema %}
