{{ 'season-detail.css' | asset_url | stylesheet_tag }}

{% assign features = metaobject.features.value %}
{% assign categories = metaobject.categories.value %}
{% assign products = metaobject.products.value %}
{% assign article_season = article.metafields.custom.season.value %}

<script>
  {% comment %}console.log('features', {{ features | json }}){% endcomment %}
  {% comment %}console.log('categories', {{ categories | json }}){% endcomment %}
</script>

<div class="season-detail">
  <div class="breadcrumb">
    <ul>
      <li><a href="/pages/wagashipedia/">Wagashipedia</a></li>
      <li>{{ metaobject.name }}</li>
    </ul>
  </div>
  <div class="season-detail-kv">
    <div class="season-detail-kv-image-box">
      <picture>
        {% if metaobject.key_visual_mobile != blank %}
          <source srcset="{{ metaobject.key_visual_mobile | img_url: '780x908' }}" media="(max-width: 768px)" />
        {% endif %}
        <img src="{{ metaobject.key_visual | img_url: '1920x1200' }}" alt="" class="season-detail-kv-image {% if metaobject.key_visual_mobile != blank %}has-mobile{% endif %}" />
      </picture>
    </div>
    <div class="page-width">
      <div class="season-detail-kv-body">
        <hgroup>
          <p class="season-detail-kv-subtitle">{{ metaobject.name }}</p>
          <p class="season-detail-kv-title" style="color: {{ metaobject.primary_color }}">{{ metaobject.title }}</p>
          <p class="season-detail-kv-description">{{ metaobject.description | newline_to_br }}</p>
        </hgroup>
      </div>
    </div>
  </div>

  {% if features != blank %}
  <section class="season-detail-features">
    <header class="wagashi-header-02">
      <h1 class="wagashi-header-02-text" style="color: {{ metaobject.accent_color }}">{{ metaobject.feature_title }}</h1>
    </header>
    <div class="page-width">
      {%- for feature in features -%}
      <div class="season-detail-features-items">
        <div class="season-detail-features-body">
          {% if features != blank %}
          <h3 class="season-detail-features-title">{{ feature.title }}</h3>
          {% endif %}
          <p class="season-detail-features-description">{{ feature.description | newline_to_br }}</p>
        </div>
        <div>
          <img src="{{ feature.thumbnail | image_url: width: 520 }}" width="520" alt="" class="season-detail-features-image">
        </div>
      </div>
      {%- endfor -%}
    </div>
  </section>
  {% endif %}

  {% if categories != blank %}
  <div class="wagashi-category-list">
    <div class="page-width">
      <header class="wagashi-header-04">
        <h2 class="wagashi-header-04-text">Often eat in {{ metaobject.name }}</h2>
      </header>
      {% render "wagashi-category-list-first", categories: categories %}
    </div>
  </div>
  {% endif %}

  <div class="wagashi-product-list">
    <div class="page-width">
      <header class="wagashi-header-04">
        <h2 class="wagashi-header-04-text">Famous products in {{ metaobject.name }}</h2>
      </header>
      {% if products != blank %}
        <section class="wagashi-product-list">
            {% render "wagashi-product-list", products: products %}
        </section>
      {% endif %}
    </div>
  </div>

  {% if article_season != blank %}
    <div class="blog-list">
      <div class="page-width">
        <header class="wagashi-header-04">
          <h2 class="wagashi-header-04-text">Inspiring Articles of {{ metaobject.name }}</h2>
        </header>
        {% render "blog-list", season: handle %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Maker detail",
    "settings": [
      {
        "type": "text",
        "id": "id_name",
        "label": "ID名"
      }
    ]
  }
{% endschema %}