{{ 'section-page-banner-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--page-banner" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% if section.settings.bg_image != blank or section.settings.bg_color != blank %}
        style="{% unless section.settings.bg_image == blank %}background-image: url('{{section.settings.bg_image | image_url}}');{% endunless %}
            {% unless section.settings.bg_color == blank %}background-color: {{ section.settings.bg_color }};{% endunless %}
            {% if section.settings.bg_blendmode %}background-blend-mode: screen;{% endif %}"
        {% endif %}>
        
        <div class="page-width">
            <div class="custom-section--page-banner__content-wrapper">
                {% if section.settings.title != blank or section.settings.subtitle != blank%}
                <div class="custom-section__header center">
                    <h1 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ page.title | escape }}</h1>

                    {% if section.settings.subtitle != blank and section.settings.show_subtitle == true %}
                    <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Page Banner",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "checkbox",
                "id": "show_subtitle",
                "label": "Show Subtitle",
                "default": true
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "bg_blendmode",
                "label": "Enable Blending",
                "default": false
            }
        ],
        "presets":[
            {
                "name": "🔰 Page Banner",
                "category": "Custom Section"
            } 
        ]
    }
{% endschema %}