<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
  class="section-{{ section.id }}-padding"
>
  <div class="page-detail-key-visual">
    {% comment %}<img src="{{ page.metafields.custom.past_box.value.key_visual.value | img_url: '1920x1200' }}" alt="" class="page-detail-key-visual-image" />{% endcomment %}
    <picture>
      <source srcset="{{ page.metafields.custom.past_box.value.key_visual.value | img_url: '1920x1200' }}" media="(min-width: 769px)">
      <source srcset="{{ page.metafields.custom.past_box.value.key_visual_mobile.value | img_url: '780x1350' }}" media="(max-width: 768px)">
      <img src="{{ page.metafields.custom.past_box.value.key_visual.value | img_url: '1920x1200' }}" alt="" class="page-detail-key-visual-image">
    </picture>
    <div class="page-width">
      <div class="page-detail-key-visual-body">
        <hgroup class="page-detail-key-visual-hgroup">
          <p class="page-detail-key-visual-subtitle">VOL.{{ page.metafields.custom.past_box.value.vol.value }}</p>
          <p class="page-detail-key-visual-title">{{ page.metafields.custom.past_box.value.date.value | date: "%B %Y" }}</p>
          <h2 class="page-title-section-title">{{ page.metafields.custom.past_box.value.title.value }}</h2>
          {% if section.settings.description != blank %}
            <p class="page-title-section-description">{{ section.settings.description }}</p>
          {% endif %}
        </hgroup>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Past box Detail",
    "settings": [
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "id_name",
        "label": "ID名"
      }
    ]
  }
{% endschema %}