{{ 'section-paragraph-usps.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="paragraph-usp-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    <hr class="paragraph-usp-divider">
    <div class="paragraph-usp-inner">
      <div class="paragraph-usp-list">
        {% for block in section.blocks %}
          <div class="paragraph-usp-item">
            <h3 class="paragraph-usp-title">{{ block.settings.title }}</h3>
            <p class="paragraph-usp-description">{{ block.settings.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Paragraph USPs",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "USP",
      "name": "USP",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "USP Title",
          "default": "Paragraph USP"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "USP Description",
          "default": "Lorem ipsum dolor sit amet consectetur. Risus eu dignissim purus et amet fermentum sed egestas. At fringilla placerat vestibulum ornare imperdiet aliquet. Volutpat morbi semper gravida ut."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Paragraph USPs",
      "category": "Custom",
      "blocks": [
        {
          "type": "USP"
        },
        {
          "type": "USP"
        },
        {
          "type": "USP"
        },
        {
          "type": "USP"
        }
      ]
    }
  ]
}
{% endschema %}
