<div class="my-mega">
  <product-recommendations
    class="related-products block"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div
        id="related-products-carousel"
        class="splide"
        aria-label="related products carousel"
      >
        <div class="relative flex justify-between items-center carousel-heading">
          <h1 class="text-t-md">{{ 'sections.related_products.title' | t }}</h1>

          <div class="splide__arrows flex gap-base">
            {% render 'prev', class: 'splide__arrow splide__arrow--prev' %}
            {% render 'next', class: 'splide__arrow splide__arrow--next' %}
          </div>
        </div>

        <div class="relative">
          <div class="splide__track">
            <ul class="splide__list">
              {% for product in recommendations.products %}
                <li class="splide__slide">
                  {% liquid
                    if forloop.first
                      assign card_class = ' lg:!pl-0'
                    else
                      assign card_class = ' '
                    endif
                  %}
                  {% render 'product-card', product: product, class: card_class %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </product-recommendations>
</div>

<script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'splide-related.js' | asset_url }}" defer="defer"></script>
