{{ 'custom.css' | asset_url | stylesheet_tag }}
{%- if section.settings.hidden != "true" -%}
    <div class="color-{{ section.settings.color_scheme }}" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ section.shopify_attributes }}>
        <div class="page-width pre-header">
            {%- for block in section.blocks -%}
                <div class="pre-head-wrapper">
                    {%- case block.type -%}
                    {%- when 'pre-header' -%}    
                        <div class="pre-head-combo">
                            <div class="pre-head-img">
                                <img
                                src="{{ block.settings.image | img_url: '44x' }}"
                                alt="{{ block.settings.title }}"
                                width="22"
                                height="22"
                                loading="lazy"
                                >
                            </div>  
                            <div class="pre-head-txt">
                                {%- if block.settings.text != blank -%}
                                {%- if block.settings.link != blank -%}
                                    <a href="{{ block.settings.link }}" class="pre-header__link link link--text focus-inset animate-arrow">
                                {%- endif -%}
                                    <p class="pre-header__message h5">
                                        {{ block.settings.text | escape }}
                                        {%- if block.settings.link != blank -%}
                                        {% render 'icon-arrow' %}
                                        {%- endif -%}
                                    </p>
                                {%- if block.settings.link != blank -%}
                                    </a>
                                {%- endif -%}
                                {%- endif -%}   
                            </div>       
                        </div>
                    {%- endcase -%}
                </div>
            {%- endfor -%}
        </div>
    </div> 
{%- endif -%}


{% schema %}
{
  "name": "Pre-Header",
  "max_blocks": 12,
  "tag": "section",
  "settings": [
    {
        "type": "select",
        "id": "color_scheme",
        "options": [
        {
            "value": "background-1",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
        },
        {
            "value": "background-2",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
        },
        {
            "value": "inverse",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
        },
        {
            "value": "accent-1",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
        },
        {
            "value": "accent-2",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
        }
        ],
        "default": "accent-1",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
    },
    {
        "type": "select",
        "id": "hidden",
        "label": "visible", 
        "options": [
            {
                "value": "true",
                "label": "Hidden"
            },
            {
                "value": "false", 
                "label": "Visible"
            }
        ],
        "default": "false"
    }
  ],
  "blocks": [
    {
      "type": "pre-header",
      "name": "Pre-Header",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "This is custom shit",
          "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "PreHeader",
    "blocks": [
      {
        "type": "pre-header"
      }, 
      {
        "type": "pre-header"
      },
      {
        "type": "pre-header"
      }
    ]
    }]
}
{% endschema %}