<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="SectionGrid ofh pos-rel w-100p bgcol-bg pt-9 pt-md-7 pt-lg-10 pb-11 pb-md-12 pb-lg-10 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Narrow bgcol-bg">
    <h3 class="ff-heading col-fg fs-7 fs-lg-38px lh-107 lh-lg-116 ls-m124 fw-500 fw-lg-400 mx-auto mb-8 pt-0 ta-c w-84p w-md-74p w-lg-auto">{{ section.settings.title }}</h3>
    <div>
      {% comment %} Mobile Slider {% endcomment %}
      <div class="w-100p h-100p noborder nooutline mobile">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign articles = section.blocks | where: 'type', 'image' %}
          <press-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
              {%- for article in articles -%}
                <li class="slider__slide w-100p">
                  <div class="flex column jc-spb ai-c w-90vw mxh-230px px-38px py-8 mx-auto ta-c">
                    <h4 class="ff-heading fs-0 fw-300 lh-130 mb-5 col-fg">
                      {{ article.settings.text }}
                    </h4>
                    <div class="mxh-30px mxw-80p mnw-50p mt-8 mr-0">
                      <img 
                        src="{{ article.settings.image | img_url: 'x30' }}" 
                        alt="{{ article.settings.image.alt }}" 
                        width="150"
                        height="30"
                        class="contain w-100p h-100p"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
            {%- if articles.size > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden">
                <button type="button" class="slider-button slider-button--prev press-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ articles.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next press-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </press-slider>
        </div>
      </div>
      {% comment %} End of Mobile Slider {% endcomment %}
      {% comment %} Tablet and Desktop Slider {% endcomment %}
      <div class="nmobile w-100p h-100p noborder nooutline">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign articles = section.blocks | where: 'type', 'image' %}
          <press-slider class="slider-mobile-gutter" id="pressslider-desktop">
            <ul class="grid slider slider--desktop slider--tablet grid--peek negative-margin negative-margin--small" role="list">
              {%- for article in articles -%}
                <li class="slider__slide w-100p">
                  <div class="flex column jc-spb ai-c w-85p mxh-230px mnh-230px px-11 py-13 mx-auto ta-c">
                    <h4 class="ff-heading fs-4 fs-lg-2 fw-300 lh-130 lh-lg-140 mb-15px mb-lg-18px">
                      {{ article.settings.text }}
                    </h4>
                    <div class="mxh-30px mxw-80p mnw-50p mt-8 mr-0">
                      <img 
                        src="{{ article.settings.image | img_url: 'x30' }}" 
                        alt="{{ article.settings.image.alt }}" 
                        class="contain w-100p h-100p"
                        width="150"
                        height="30"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
            {%- if articles.size > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden">
                <button type="button" class="slider-button slider-button--prev press-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ articles.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next press-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </press-slider>
        </div>
      </div>
      {% comment %} End of Tablet and Desktop Slider {% endcomment %}
    </div>
  </div>
  <div id="prevSlide" class="desktopflex col-1-2 row-1 mxh-230px ofh pos-rel t-76px py-13 column jc-c ai-c">&nbsp;</div>
  <div id="nextSlide" class="desktopflex col-4-5 row-1 mxh-230px ofh pos-rel t-76px py-13 column jc-c ai-c">&nbsp;</div>
</div>


{% schema %}
{
  "name": "Presseslider",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Die Presse schwebt auf Wolke 7",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo der Quelle"
        },
        {
          "id": "text",
          "label": "Pressetext",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presseslider",
      "settings": {
        "title": "Die Presse schwebt auf Wolke 7",
        "swipe_on_mobile": true
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
