{{ 'presseslider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="ps-SectionGrid ps-ofl-hidden ps-pos-rel ps-w-100p ps-bgcol-bg ps-px-2p ps-px-md-3p ps-pt-9 ps-pt-md-7 ps-pt-lg-10 ps-pb-11 ps-pb-md-12 ps-pb-lg-10 color-{{ section.settings.color_scheme }}">
  <div class="ps-SectionGrid-Narrow ps-bgcol-bg">
    <h3 class="ps-ff-heading ps-col-fg ps-fs-7 ps-fs-lg-38px ps-lh-30px ps-lh-lg-44px ps-ls-m124 ps-fw-500 ps-fw-lg-400 ps-mx-auto ps-mb-8 ps-pt-0 ps-ta-c ps-w-84p ps-w-md-74p ps-w-lg-auto">{{ section.settings.title }}</h3>
    <div>
      {% comment %} Mobile Slider {% endcomment %}
      <div class="ps-w-100p ps-h-100p ps-noborder ps-nooutline ps-mobile">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign articles = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
              {%- for article in articles -%}
                <li class="slider__slide w-100p">
                  <div class="ps-flex ps-column ps-jc-spb ps-ai-c ps-w-90vw ps-w-md-85p ps-mxh-230px ps-mnh-md-230px ps-px-38px ps-px-md-11 ps-py-8 ps-py-md-13 ps-mx-auto ps-ta-c">
                    <h4 class="ps-ff-heading ps-fs-0 ps-fs-md-4 ps-fs-lg-2 ps-fw-300 ps-lh-130 ps-lh-lg-140 ps-mb-5 ps-mb-md-15px ps-mb-lg-18px ps-col-fg">
                      {{ article.settings.text }}
                    </h4>
                    <div class="ps-mxh-30px ps-mxw-80p ps-mnw-50p ps-mt-8 ps-mr-0">
                      <img 
                        src="{{ article.settings.image | img_url: 'x30' }}" 
                        alt="{{ article.settings.image.alt }}" 
                        width="150"
                        height="30"
                        class="ps-contain ps-w-100p ps-h-100p"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
            {%- if articles.size > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden">
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ articles.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </sleepink-slider>
        </div>
      </div>
      {% comment %} End of Mobile Slider {% endcomment %}
      {% comment %} Tablet and Desktop Slider {% endcomment %}
      <div class="ps-nmobile ps-w-100p ps-h-100p ps-noborder ps-nooutline">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          {% assign articles = section.blocks | where: 'type', 'image' %}
          <sleepink-slider class="slider-mobile-gutter">
            <ul class="grid slider slider--desktop slider--tablet grid--peek negative-margin negative-margin--small" role="list">
              {%- for article in articles -%}
                <li class="slider__slide ps-mxw-100p">
                  <div class="ps-flex ps-column ps-jc-spb ps-ai-c ps-w-90vw ps-w-md-85p ps-mxh-230px ps-mnh-md-230px ps-px-38px ps-px-md-11 ps-py-8 ps-py-md-13 ps-mx-auto ps-ta-c">
                    <h4 class="ps-ff-heading ps-fs-0 ps-fs-md-4 ps-fs-lg-2 ps-fw-300 ps-lh-130 ps-lh-lg-140 ps-mb-5 ps-mb-md-15px ps-mb-lg-18px">
                      {{ article.settings.text }}
                    </h4>
                    <div class="ps-mxh-30px ps-mxw-80p ps-mnw-50p ps-mt-8 ps-mr-0">
                      <img 
                        src="{{ article.settings.image | img_url: 'x30' }}" 
                        alt="{{ article.settings.image.alt }}" 
                        class="ps-contain ps-w-100p ps-h-100p"
                        width="150"
                        height="30"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
            {%- if articles.size > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden">
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ articles.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </sleepink-slider>
        </div>
      </div>
      {% comment %} End of Tablet and Desktop Slider {% endcomment %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Presseslider",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Die Presse schwebt auf Wolke 7",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo der Quelle"
        },
        {
          "id": "text",
          "label": "Pressetext",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presseslider",
      "settings": {
        "title": "Die Presse schwebt auf Wolke 7",
        "swipe_on_mobile": true
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
