{{ 'presse-logos.css' | asset_url | stylesheet_tag }}

<div class="bg py-7 py-md-9">
  <div class="SectionGrid ndesktop pt-0 pt-md-7 pb-0 pb-md-10">
    <div class="anthracite flex row jc-spa ai-c">
      <p class="ff-heading fw-500 fs-1 fs-md-4 lh-136 mb-7">
        {{ section.settings.introText }}
      </p>
    </div>
    <div class="flex row jc-spa ai-c h-18 wrap">
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showMobile %}
        <img src="{{ bSettings.image | img_url }}" alt="{{ bSettings.image.alt | escape }}" loading="lazy" height="18px" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="SectionGrid desktopgrid">
    <div class="SectionGrid-Wide flex row jc-spa ai-c py-4 h-70 wrap">
      <p class="ff-heading fw-400 fs-4 lh-100">
        {{ section.settings.introText }}
      </p> 
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showDesktop %}
        <img src="{{ bSettings.image | img_url }}" alt="{{ bSettings.image.alt | escape }}" loading="lazy" height="41px" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Presselogos",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "introText",
      "label": "Presselogos"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "showDesktop",
          "label": "show on desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presselogos",
      "settings": {
        "introText": "Bekannt aus"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}