{{ 'presse-logos.css' | asset_url | stylesheet_tag }}

<div class="py-7 py-md-9 bg-{{ section.settings.backgroundColor}}">
  <div class="SectionGrid ndesktop pt-0 pt-md-7 pb-0 pb-md-10">
    <div class="anthracite flex row jc-spa ai-c">
      <p class="ff-heading fw-500 fs-1 fs-md-4 lh-136 mb-7 fc-{{ section.settings.fontColor }}">
        {{ section.settings.introText }}
      </p>
    </div>
    <div class="flex row jc-spa ai-c h-18 wrap">
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showMobile %}
        <img src="{{ bSettings.image | img_url }}" alt="{{ bSettings.image.alt | escape }}" loading="lazy" height="18px" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="SectionGrid desktopgrid">
    <div class="SectionGrid-Wide flex row jc-spa ai-c py-4 h-70 wrap">
      <p class="ff-heading fw-400 fs-4 lh-100 fc-{{ section.settings.fontColor }}">
        {{ section.settings.introText }}
      </p> 
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showDesktop %}
        <img src="{{ bSettings.image | img_url }}" alt="{{ bSettings.image.alt | escape }}" loading="lazy" height="41px" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Presselogos",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "introText",
      "label": "Presselogos"
    },
    {
      "type": "select",
      "id": "backgroundColor",
      "label": "Hintergrundfarbe",
      "options": [
            {
              "value": "background-1",
              "label": "Background 1"
            },
            {
              "value": "background-2",
              "label": "Background 2"
            },
            {
              "value": "inverse",
              "label": "Inverse"
            },
            {
              "value": "accent-1",
              "label": "Accent-1"
            },
            {
              "value": "accent-2",
              "label": "Accent-2"
            }
          ],
          "default": "accent-1"
    },
    {
      "type": "select",
      "id": "fontColor",
      "label": "Schriftfarbe",
      "options": [
            {
              "value": "background-1",
              "label": "Background 1"
            },
            {
              "value": "background-2",
              "label": "Background 2"
            },
            {
              "value": "inverse",
              "label": "Inverse"
            },
            {
              "value": "accent-1",
              "label": "Accent-1"
            },
            {
              "value": "accent-2",
              "label": "Accent-2"
            }
          ],
          "default": "accent-1"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "showDesktop",
          "label": "show on desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presselogos",
      "settings": {
        "introText": "Bekannt aus",
        "backgroundColor": "background-2",
        "fontColor": "accent-2"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}