<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'presseslider.css' | asset_url | stylesheet_tag }}

<div class="SectionGrid ofl-hidden pos-rel w-100p bgcol-bg px-2p px-md-3p pt-9 pt-md-7 pt-lg-10 pb-11 pb-md-12 pb-lg-10">
  <div class="SectionGrid-Narrow bgcol-bg">
    <h3 class="ff-heading col-fg fs-7 fs-lg-38px lh-30px lh-lg-44px ls-m124 fw-500 fw-lg-400 mx-auto mb-8 pt-0 ta-c w-84p w-md-74p w-lg-auto">Hier könnte Ihr Titel stehen</h3>
    <div>
      <div class="w-100p h-100p noborder nooutline">
        <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}">
          <div class="title-wrapper-with-link title-wrapper-with-link--no-heading title-wrapper--self-padded-tablet-down">
            <h2 class="title title--no-heading">{{ section.settings.title | escape }}</h2>
              {%- if section.settings.swipe_on_mobile -%}
                <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
              {%- endif -%}
          </div>
          {% assign articles = section.blocks | where: 'type', 'image' %}
          <slider-component class="slider-mobile-gutter">
            <ul class="grid slider slider--tablet grid--peek negative-margin negative-margin--small" role="list">
              {%- for article in articles -%}
                <li class="slider__slide">
                  <div class="flex column jc-spb ai-c w-90vw w-md-85p mxh-230px mnh-md-230px px-38px px-md-11 py-8 py-md-13 mx-auto ta-c">
                    <h4 class="ff-heading fs-0 fs-md-4 fs-lg-2 fw-300 lh-130 lh-lg-140 mb-5 mb-md-15px mb-lg-18px">
                      {{ article.settings.text }}
                    </h4>
                    <div class="mxh-30px mxw-80p mnw-50p mt-8 mr-0">
                      <img 
                        src="{{ article.settings.image | img_url }}" 
                        alt="{{ article.settings.image.alt }}" 
                        class="contain w-100p h-100p"
                        loading="lazy"
                      >
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
            {%- if articles.size > 1 and section.settings.swipe_on_mobile -%}
              <div class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                  <span class="slider-counter--total">{{ articles.size }}</span>
                </div>
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </slider-component>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Presseslider",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Die Presse schwebt auf Wolke 7",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "text",
          "label": "Pressetext",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presseslider",
      "settings": {
        "title": "Die Presse schwebt auf Wolke 7",
        "swipe_on_mobile": true
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
