<div class="py-7 py-md-9 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid ndesktop pt-0 pt-md-7 pb-0 pb-md-10">
    <div class="flex row jc-spa ai-c">
      <p class="ff-heading fw-500 fs-1 fs-md-4 lh-136 mb-7">
        {{ section.settings.introText }}
      </p>
    </div>
    <div class="flex row jc-spa ai-c h-18px wrap">
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showMobile %}
        <img 
          src="{{ bSettings.image | img_url: 'x36' }}" 
          alt="{{ bSettings.image.alt | escape }}" 
          loading="lazy" 
          height="18"
          width="90"
          class="h-18px w-auto"
        />
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="SectionGrid desktopgrid">
    {% if section.settings.positionIntro == "top" %}
      <div class="SectionGrid-Narrow mb-8">
        <p class="mx-auto ta-c ff-heading fs-38px lh-116 ls-m124">
          {{ section.settings.introText | escape }}
        </p>
      </div>
    {% endif %}
    <div class="SectionGrid-Wide flex row jc-spa ai-c py-4 h-70px wrap">
      {% if section.settings.positionIntro == "left" %}
        <p class="ff-heading fw-400 fs-4 lh-100">
          {{ section.settings.introText | escape }}
        </p> 
      {% endif %}
      {% for block in section.blocks %}
        {% assign bSettings = block.settings %}
        {% if bSettings.showDesktop %}
        <img 
          src="{{ bSettings.image | img_url: 'x82' }}" 
          alt="{{ bSettings.image.alt | escape }}" 
          loading="lazy" 
          height="41" 
          width="205"
          class="h-41px w-auto"
        />
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Presselogos",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "introText",
      "label": "Presselogos"
    },
    {
      "type": "select",
      "id": "positionIntro",
      "label": "Position des einleitenden Textes (Desktop)",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "über den Logos"
        },
        {
          "value": "left",
          "label": "links neben den Logos"
        }
      ]
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Farbschema",
      "options": [
            {
              "value": "background-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            }
      ],
      "default": "accent-1"
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "showDesktop",
          "label": "show on desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presselogos",
      "settings": {
        "introText": "Bekannt aus",
        "color_scheme": "accent-1"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}