{{ 'preview-slider.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}



<div class="pv-SectionGrid pv-py-5 color-{{ section.settings.color_scheme }}">
  <div class="pv-SectionGrid-Narrow">
    <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif%}">
      <animated-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small">
          {% assign products = section.blocks | where: 'type', 'product' %}
          {% for product in products %}
            <li class="grid__item slider__slide pv-w-100p">
              <div class="pv-flex pv-column pv-jc-c pv-w-100p">
                <div class="pv-grid pv-2col pv-lg-5sect">
                  <div class="pv-col-1-2 pv-lg-col-3 pv-grid pv-1col pv-lg-2col pv-row-1-4 pv-lg-row-1">
                    {% if product.settings.image %}
                      {% assign image = product.settings.image %}
                    {% else %}
                      {% assign image = product.settings.product.featured_image %}
                    {% endif %}
                    <img src="{{ image | img_url: '500x' }}" alt="{{ product.settings.image.alt | escape }}" width="300" height="400" loading="lazy" class="pv-h-400px pv-col-1 pv-lg-col-1 pv-row-2 pv-lg-row-1-2 pv-as-c pv-op-cc pv-contain pv-mx-auto">
                    <div class="pv-col-1 pv-lg-col-2 pv-row-1 pv-lg-row-unset pv-ta-c pv-ai-c pv-grid pv-mxh-150px">
                      <h4 class="pv-ff-heading pv-fs-4 pv-lg-fs-7 pv-fw-400 pv-lg-fw-500 pv-lh-26px pv-lg-lh-32px pv-lg-ls-m100 pv-my-2">
                        {% if product.settings.product.metafields.global.vendorName.value %}
                          {{ product.settings.product.metafields.global.vendorName.value | escape }}
                        {% else %}
                          sleep.ink
                        {% endif %}
                    </h4>
                      <h3 class="pv-ff-heading pv-fs-7 pv-lg-fs-38px pv-lh-30px pv-lg-lh-44px pv-ls-m124 pv-fw-500 pv-lg-fw-400 pv-mt-2 pv-mb-5">
                        {% if product.settings.product.metafields.global.productName.value %}
                          {{ product.settings.product.metafields.global.productName.value | escape }}
                        {% else %}
                          {{ product.settings.product.title | escape }}
                        {% endif %}
                      </h3>
                      <div class="pv-flex pv-js-c pv-ai-c">
                        {% if product.settings.product.metafields.global.reviewCount and product.settings.product.metafields.global.rating %}
                          <div>({{ product.settings.product.metafields.global.reviewCount }})</div>
                          <div class="pv-flex pv-row pv-ml-2 pv-mr-3 pv-ai-c">
                            {% liquid 
                              assign rating = product.settings.product.metafields.global.rating
                              assign wholeRating = rating | floor
                              assign missing_stars = 5 | minus: rating | floor
                              assign sum = wholeRating | plus: missing_stars
                              if sum != 5
                                assign halfStars = 1
                              else
                                assign halfStars = 0
                              endif
                            %}
                            {% if wholeRating > 0 %}
                              {% for i in (1..wholeRating) %}
                                <span class="pv-mt-2">
                                  {%- render 'icon-star', currentColor: '#ffd000' -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                            {% if halfStars == 1 %}
                              <span class="pv-mt-2">
                                {%- render 'icon-star-half' -%}
                              </span>
                            {% endif %}
                            {% for j in (1..missing_stars) %}
                              <span class="pv-mt-2">
                                {%- render 'icon-star', currentColor: '#dddddd' -%}
                              </span>
                            {% endfor %}
                          </div>
                          <a href="https://www.trustedshops.de/bewertung/bewerten_X171CC05C7CF0FBC03EB75B9E6E73D132.html" class="pv-nodec pv-mt-1 pv-ml-1" style="color: {{ tagBackground }};">Jetzt bewerten</a>
                        {% else %}
                          &nbsp;
                        {% endif %}
                      </div>
                    </div>
                    <div class="pv-col-1-2 pv-lg-col-2 pv-grid">
                      <div class="pv-flex pv-column pv-js-c pv-w-90p pv-mt-0 pv-mb-4">
                        <div class="pv-flex pv-row pv-ai-c pv-my-4">
                          <img src="{{ product.settings.reason1Image | img_url: '40x' }}" alt="{{ product.settings.reason1Image.alt | escape }}" width="22" height="22" loading="lazy" class="pv-w-22px pv-h-22px pv-contain">
                          <div class="pv-ml-3 pv-ff-body pv-fs-2 pv-lh-150 pv-fw-400">{{ product.settings.reason1Title | escape }}</div>
                        </div>
                        <div class="pv-flex pv-row pv-ai-c pv-my-4">
                          <img src="{{ product.settings.reason2Image | img_url: '40x' }}" alt="{{ product.settings.reason2Image.alt | escape }}" width="22" height="22" loading="lazy" class="pv-w-22px pv-h-22px pv-contain">
                          <div class="pv-ml-3 pv-ff-body pv-fs-2 pv-lh-150 pv-fw-400"">{{ product.settings.reason2Title | escape }}</div>
                        </div>
                        <div class="pv-flex pv-row pv-ai-c pv-my-4">
                          <img src="{{ product.settings.reason3Image | img_url: '40x' }}" alt="{{ product.settings.reason3Image.alt | escape }}" width="22" height="22" loading="lazy" class="pv-w-22px pv-h-22px pv-contain">
                          <div class="pv-ml-3 pv-ff-body pv-fs-2 pv-lh-150 pv-fw-400"">{{ product.settings.reason3Title | escape }}</div>
                        </div>
                      </div>
                      <a href="{{ product.settings.product.url }}" class="pv-py-5 pv-w-90p pv-mxh-60px pv-ta-c pv-ff-heading pv-uppercase pv-js-c pv-nodec" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">{{ section.settings.buttonText | escape }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {%- if products.size > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden">
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ products.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </animated-slider>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Produktvorschauslider",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "Mehr erfahren",
      "label": "Aufschrift des Buttons"
    }
  ],
  "blocks": [
    {
      "name": "product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Produktbild"
        },
        {
          "type": "image_picker",
          "id": "reason1Image",
          "label": "Icon für 1. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason1Title",
          "label": "Text für 1. Kaufgrund"
        },
        {
          "type": "image_picker",
          "id": "reason2Image",
          "label": "Icon für 2. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason2Title",
          "label": "Text für 2. Kaufgrund"
        },
        {
          "type": "image_picker",
          "id": "reason3Image",
          "label": "Icon für 3. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason3Title",
          "label": "Text für 3. Kaufgrund"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Produktvorschauslider",
      "settings": {
        "color_scheme": "background-1",
        "swipe_on_mobile": true,
        "buttonText": "Mehr erfahren"
      },
      "blocks": [
        {
          "type": "product",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
