<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}



<div class="SectionGrid py-11 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Narrow">
    <div class="collection page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif%}">
      <animated-slider class="slider-mobile-gutter">
        <ul class="grid slider slider--tablet slider--desktop grid--peek negative-margin negative-margin--small">
          {% assign products = section.blocks | where: 'type', 'product' %}
          {% for product in products %}
            <li class="grid__item slider__slide w-100p">
              <div class="flex column jc-c w-100p">
                <div class="ngrid twocol lg-5sect">
                  <div class="col-1-2 lg-col-3 ngrid onecol lg-2col row-1-4 lg-row-1">
                    {% if product.settings.image %}
                      {% assign image = product.settings.image %}
                    {% else %}
                      {% assign image = product.settings.product.featured_image %}
                    {% endif %}
                    <img src="{{ image | image_url: '500x' }}" alt="{{ product.settings.image.alt | escape }}" width="300" height="400" loading="lazy" class="h-400px col-1 row-2 lg-row-1-2 as-c op-cc contain mx-auto">
                    <div class="col-1 lg-col-2 row-1 lg-row-unset ta-c ai-c flex column">
                      <h4 class="ff-heading fs-4 fs-lg-7 fw-400 fw-lg-500 lh-116 ls-lg-m100 my-2">
                        {% if product.settings.product.metafields.global.vendorName.value %}
                          {{ product.settings.product.metafields.global.vendorName.value | escape }}
                        {% else %}
                          sleep.ink
                        {% endif %}
                      </h4>
                      <h3 class="ff-heading fs-7 fs-lg-38px lh-107 lh-lg-116 ls-m124 fw-500 fw-lg-400 mt-2 mb-5">
                        {% if product.settings.product.metafields.global.productName.value %}
                          {{ product.settings.product.metafields.global.productName.value | remove: 'sleep.ink' | remove: 'resleep' | escape }}
                        {% else %}
                          {{ product.settings.product.title | remove: 'sleep.ink' | remove: 'resleep' | escape }}
                        {% endif %}
                      </h3>
                      <div class="flex js-c ai-c">
                        {% if product.settings.product.metafields.global.reviewCount and product.settings.product.metafields.global.rating %}
                          <div>({{ product.settings.product.metafields.global.reviewCount }})</div>
                          <div class="flex row ml-2 mr-3 ai-c">
                            {% liquid 
                              assign rating = product.settings.product.metafields.global.rating
                              assign wholeRating = rating | floor
                              assign missing_stars = 5 | minus: rating | floor
                              assign sum = wholeRating | plus: missing_stars
                              if sum != 5
                                assign halfStars = 1
                              else
                                assign halfStars = 0
                              endif
                            %}
                            {% if wholeRating > 0 %}
                              {% for i in (1..wholeRating) %}
                                <span class="mt-2">
                                  {%- render 'icon-star', currentColor: '#ffd000' -%}
                                </span>
                              {% endfor %}
                            {% endif %}
                            {% if halfStars == 1 %}
                              <span class="mt-2">
                                {%- render 'icon-star-half' -%}
                              </span>
                            {% endif %}
                            {% for j in (1..missing_stars) %}
                              <span class="mt-2">
                                {%- render 'icon-star', currentColor: '#dddddd' -%}
                              </span>
                            {% endfor %}
                          </div>
                          <a href="https://www.trustedshops.de/bewertung/bewerten_X171CC05C7CF0FBC03EB75B9E6E73D132.html" class="nodec mt-1 ml-1" style="color: {{ tagBackground }};">Jetzt bewerten</a>
                        {% else %}
                          &nbsp;
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-1-2 lg-col-2 grid">
                      <div class="flex column js-c w-90p mt-0 mb-4 mx-auto">
                        <div class="flex row ai-c my-4">
                          <img src="{{ product.settings.reason1Image | image_url: '40x' }}" alt="{{ product.settings.reason1Image.alt | escape }}" width="22" height="22" loading="lazy" class="w-22px h-22px contain">
                          <div class="ml-3 ff-body fs-2 lh-150 fw-400 ls-normal">{{ product.settings.reason1Title | escape }}</div>
                        </div>
                        <div class="flex row ai-c my-4">
                          <img src="{{ product.settings.reason2Image | image_url: '40x' }}" alt="{{ product.settings.reason2Image.alt | escape }}" width="22" height="22" loading="lazy" class="w-22px h-22px contain">
                          <div class="ml-3 ff-body fs-2 lh-150 fw-400">{{ product.settings.reason2Title | escape }}</div>
                        </div>
                        <div class="flex row ai-c my-4">
                          <img src="{{ product.settings.reason3Image | image_url: '40x' }}" alt="{{ product.settings.reason3Image.alt | escape }}" width="22" height="22" loading="lazy" class="w-22px h-22px contain">
                          <div class="ml-3 ff-body fs-2 lh-150 fw-400">{{ product.settings.reason3Title | escape }}</div>
                        </div>
                      </div>
                      <div class="w-90p mx-auto">
                        <a href="{{ product.settings.product.url }}" class="inlblock py-5 w-100p mxh-60px ta-c ff-heading uppercase js-c nodec" style="background-color: {{ tagBackground }}; color: {{ tagForeground }}">{{ section.settings.buttonText | escape }}</a>
                      </div>
                      <div class="previewslider-attributes flex row js-c my-7 wrap jc-c ai-c">
                        {%- if product.settings.product.metafields.global.attributes.value -%}
                          {%- for attribute in product.settings.product.metafields.global.attributes.value -%}
                            <div class="flex row ai-b mx-3">
                              {%- render 'icon-checkmark'-%}
                              <div class="ml-2 uppercase fs-0">{{ attribute | escape }}</div>
                            </div>
                          {%- endfor -%}
                        {%- endif-%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {%- if products.size > 1 and section.settings.swipe_on_mobile -%}
          <div class="slider-buttons no-js-hidden w-100p flex row jc-spb ai-c">
            <button type="button" class="slider-button slider-button--prev produktpreview-button" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">{{ products.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next produktpreview-button" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </animated-slider>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Produktvorschauslider",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "Swipen auf Mobilgeräten erlaubt"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "Mehr erfahren",
      "label": "Aufschrift des Buttons"
    }
  ],
  "blocks": [
    {
      "name": "product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Produktbild"
        },
        {
          "type": "image_picker",
          "id": "reason1Image",
          "label": "Icon für 1. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason1Title",
          "label": "Text für 1. Kaufgrund"
        },
        {
          "type": "image_picker",
          "id": "reason2Image",
          "label": "Icon für 2. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason2Title",
          "label": "Text für 2. Kaufgrund"
        },
        {
          "type": "image_picker",
          "id": "reason3Image",
          "label": "Icon für 3. Kaufgrund"
        },
        {
          "type": "text",
          "id": "reason3Title",
          "label": "Text für 3. Kaufgrund"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Produktvorschauslider",
      "settings": {
        "color_scheme": "background-1",
        "swipe_on_mobile": true,
        "buttonText": "Mehr erfahren"
      },
      "blocks": [
        {
          "type": "product",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
