<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media only screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
  {% if section.settings.bg_image != blank  %}
    #shopify-section-{{ section.id }} .page-width {
      background: url("{{ section.settings.bg_image | img_url: 'master' }}"); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: {{ section.settings.bg_image_position }};
    }
  {% endif %}
  {% if section.settings.bg_color != blank  %}
    @media only screen and (max-width: 768px) {
      #shopify-section-{{ section.id }} .page-width {
        background: {{ section.settings.bg_color }};
      }
    }
  {% endif %}
{%- endstyle -%}

<div 
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %} 
  class="{% if section.settings.class_name != blank %} {{ section.settings.class_name }}{% endif %}{% if template.suffix != blank %} template-{{  template.suffix }}{% endif %}">
  <div class="page-width section-{{ section.id }}-padding">
    {%- if section.settings.title != blank -%}
    <h2 class="title">
        {{ section.settings.title | escape }}
    </h2>
    {%- endif -%}
    
    <div class="product-information-container">
      <div class="information-content-left">
        {% if section.settings.item1_title != blank or section.settings.item1_content != blank %}
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item1_image != blank %}
                <img src="{{ section.settings.item1_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item1_title }}</h2>
              {% if section.settings.item1_content != blank %}<p>{{ section.settings.item1_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}  
  
        {% if section.settings.item2_title != blank or section.settings.item2_content != blank %}
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item2_image != blank %}
                <img src="{{ section.settings.item2_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item2_title }}</h2>
              {% if section.settings.item2_content != blank %}<p>{{ section.settings.item2_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}  
  
        {% if section.settings.item3_title != blank or section.settings.item3_content != blank %}  
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item3_image != blank %}
                <img src="{{ section.settings.item3_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item3_title }}</h2>
              {% if section.settings.item3_content != blank %}<p>{{ section.settings.item3_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}  
  
        {% if section.settings.item4_title != blank or section.settings.item4_content != blank %}  
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item4_image != blank %}
                <img src="{{ section.settings.item4_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item4_title }}</h2>
              {% if section.settings.item4_content != blank %}<p>{{ section.settings.item4_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}  
  
        {% if section.settings.item5_title != blank or section.settings.item5_content != blank %}  
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item5_image != blank %}
                <img src="{{ section.settings.item5_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item5_title }}</h2>
              {% if section.settings.item5_content != blank %}<p>{{ section.settings.item5_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}
  
        {% if section.settings.item6_title != blank or section.settings.item6_content != blank %}  
        <div class="information-item">
            <div class="information-item-image">
              {% if section.settings.item6_image != blank %}
                <img src="{{ section.settings.item6_image | img_url: 'thumb' }}">
              {% else %}
                <div style="display:block; width:30px"></div>
              {% endif %}
            </div>
            <div class="information-item-content">
              <h2>{{ section.settings.item6_title }}</h2>
              {% if section.settings.item6_content != blank %}<p>{{ section.settings.item6_content }}</p>{% endif %}
            </div>
        </div>
        {% endif %}
      </div>

      {% if section.blocks != blank %}
        <div class="information-content-right">
          {% for block in section.blocks %}
            {% if block.settings.text != blank %}  
              <div class="information-item">
                  <div class="information-item-image">
                    {% if block.settings.image != blank %}
                      <img src="{{ block.settings.image | img_url: 'thumb' }}">
                    {% else %}
                      <div style="display:block; width:30px"></div>
                    {% endif %}
                  </div>
                  <div class="information-item-content">
                    <p>{{ block.settings.text }}</p>
                  </div>
              </div>
              {% endif %}
          {% endfor %}  
        </div>
      {% endif %}  
    </div>
  </div>



</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "section section-product-information",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し"
    },
    {
      "type": "header",
      "content": "Item 1"
    },
    {
        "type": "image_picker",
        "id": "item1_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item1_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item1_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "Item 2"
    },
    {
        "type": "image_picker",
        "id": "item2_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item2_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item2_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "Item 3"
    },
    {
        "type": "image_picker",
        "id": "item3_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item3_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item3_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "Item 4"
    },
    {
        "type": "image_picker",
        "id": "item4_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item4_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item4_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "Item 5"
    },
    {
        "type": "image_picker",
        "id": "item5_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item5_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item5_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "Item 6"
    },
    {
        "type": "image_picker",
        "id": "item6_image",
        "label": "画像"
    },
    {
      "type": "text",
      "id": "item6_title",
      "label": "タイトル"
    },
    {
      "type": "textarea",
      "id": "item6_content",
      "label": "テキスト"
    },
    {
      "type": "header",
      "content": "レイアウト（PC）"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "レイアウト（Mobile）"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "header",
        "content": "Custom"
    },
    {
      "type": "text",
      "id": "id_name",
      "label": "ID Name"
    },
    {
      "type": "text",
      "id": "class_name",
      "label": "Class Name"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Right Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "テキスト"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}
