 <div class="page-width cards4 product-section">
        <div class="container">
            <div class="col-12 text-center">
                <h3>{{ section.settings.heading }}</h3>
            </div>
            <div class="row slider-cont-4">
                <!-- CARD 1 -->
                <div class="col-lg-3">
                    <div class="cardCustom">
                        <div class="topS">
                            <div class="titleCard">
                                <h6>{{ section.settings.productTitle1 }}</h6>
                            </div>
                            <img src="{{ section.settings.image1 |  img_url: 'master'}}2"
                                alt="">
                            <div class="lg">
                                {{ section.settings.text1-1 }}
                            </div>
                            <div class="lg2">
                                {{ section.settings.text1-2 }}
                            </div>
                            <div class="lg">
                                {{ section.settings.text1-3 }}
                            </div>
                        </div>
                        <div class="bottS">
                            <div class="btnContainer "><a href="{{ section.settings.link1 }}" class="btnMore">{{ section.settings.price1}} 
                              <br>
                              Buy now </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BESTSELLERS -->
                <!-- CARD 2 -->
                <div class="col-lg-3">
                    <div class="cardCustom">
                        <div class="topS">
                            <div class="titleCard">
                                <h6>{{ section.settings.productTitle1 }}</h6>
                            </div>
                            <img src="{{ section.settings.image2 |  img_url: 'master'}}2"
                                alt="">
                            <div class="lg">
                                {{ section.settings.text2-1 }}
                            </div>
                            <div class="lg2">
                                {{ section.settings.text2-2 }}
                            </div>
                            <div class="lg">
                                {{ section.settings.text2-3 }}
                            </div>
                        </div>
                        <div class="bottS">
                            <div class="btnContainer "><a href="{{ section.settings.link2 }}" class="btnMore">{{ section.settings.price2}} 
                              <br>
                              Buy now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CARD -->
                <!-- CARD 3 -->
                <div class="col-lg-3">
                    <div class="cardCustom">
                        <div class="topS">
                            <div class="titleCard">
                                <h6>{{ section.settings.productTitle1 }}</h6>
                            </div>
                            <img src="{{ section.settings.image3 |  img_url: 'master'}}2"
                                alt="">
                            <div class="lg">
                                {{ section.settings.text3-1 }}
                            </div>
                            <div class="lg2">
                                {{ section.settings.text3-2 }}
                            </div>
                            <div class="lg">
                                {{ section.settings.text3-3 }}
                            </div>
                        </div>
                        <div class="bottS">
                            <div class="btnContainer "><a href="{{ section.settings.link3 }}" class="btnMore">{{ section.settings.price3}} 
                              <br>
                              Buy now </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END CARD -->
                <!-- BESTSELLERS -->
                <div class="col-lg-3">
                    <div class="cardCustom">
                        <div class="topS">
                            <div class="titleCard">
                                <h6>{{ section.settings.productTitle1 }}</h6>
                            </div>
                            <img src="{{ section.settings.image4 |  img_url: 'master'}}2"
                                alt="">
                            <div class="lg">
                                {{ section.settings.text4-1 }}
                            </div>
                            <div class="lg2">
                                {{ section.settings.text4-2 }}
                            </div>
                            <div class="lg">
                                {{ section.settings.text4-3 }}
                            </div>
                        </div>
                        <div class="bottS">
                            <div class="btnContainer "><a href="{{ section.settings.link4 }}" class="btnMore">{{ section.settings.price4}} 
                              <br>
                              Buy now </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CARD -->
            </div>
        </div>
    </div>

    
{% schema %}
  {
  "name": "Product Cards",
   "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
	{
        "id": "image1",
        "type": "image_picker",
        "label": "Image of Product 1"
      },
      {
        "id": "productTitle1",
        "type": "text",
        "label": "Product title 1"
      },
      {
        "id": "text1-1",
        "type": "richtext",
        "label": "Text (Product 1)"
      },
		{
        "id": "text1-2",
        "type": "richtext",
        "label": "Text (Product 1)"
      },
      {
        "id": "text1-3",
        "type": "richtext",
        "label": "Text (Product 1)"
      },
   
	{
        "id": "price1",
        "type": "text",
        "label": "Price (Product 1)"
      },	

{
        "id": "link1",
        "type": "text",
        "label": "Product link (Product 1)"
      },

     {
        "id": "image2",
        "type": "image_picker",
        "label": "Image of Product 2"
      },
      {
        "id": "productTitle2",
        "type": "text",
        "label": "Product title 2"
      },
	{
        "id": "subtitle2",
        "type": "text",
        "label": "Subtitle 2"
      },
      {
        "id": "text2-1",
        "type": "richtext",
        "label": "Text (Product 2)"
      },
		{
        "id": "text2-2",
        "type": "richtext",
        "label": "Text (Product 2)"
      },
      {
        "id": "text2-3",
        "type": "richtext",
        "label": "Text (Product 2)"
      },
	{
        "id": "text2-4",
        "type": "richtext",
        "label": "Blue box text (Product 2)"
      },
	{
        "id": "subPrice2",
        "type": "richtext",
        "label": "Text above the price (Product 2)"
      },
	{
        "id": "price2",
        "type": "text",
        "label": "Price (Product 2)"
      },

{
        "id": "link2",
        "type": "text",
        "label": "Product link (Product 2)"
      },

	{
        "id": "image3",
        "type": "image_picker",
        "label": "Image of Product 3"
      },
      {
        "id": "productTitle3",
        "type": "text",
        "label": "Product title 3"
      },
      {
        "id": "text3-1",
        "type": "richtext",
        "label": "Text (Product 3)"
      },
		{
        "id": "text3-2",
        "type": "richtext",
        "label": "Text (Product 3)"
      },
      {
        "id": "text3-3",
        "type": "richtext",
        "label": "Text (Product 3)"
      },
	{
        "id": "text3-4",
        "type": "richtext",
        "label": "Text (Product 3)"
      },
	{
        "id": "price3",
        "type": "text",
        "label": "Price (Product 3)"
      },
   {
        "id": "link3",
        "type": "text",
        "label": "Product link (Product 3)"
      },

	{
        "id": "image4",
        "type": "image_picker",
        "label": "Image of Product 4"
      },
      {
        "id": "productTitle4",
        "type": "text",
        "label": "Product title 4"
      },
	{
        "id": "subtitle4",
        "type": "text",
        "label": "Subtitle 4"
      },
      {
        "id": "text4-1",
        "type": "richtext",
        "label": "Text (Product 42)"
      },
		{
        "id": "text4-2",
        "type": "richtext",
        "label": "Text (Product 2)"
      },
      {
        "id": "text4-3",
        "type": "richtext",
        "label": "Text (Product 42)"
      },
{
        "id": "text4-4",
        "type": "richtext",
        "label": "Text (Product 4)"
      },
	{
        "id": "text4-5",
        "type": "richtext",
        "label": "Blue box text (Product 4)"
      },
	{
        "id": "subPrice4",
        "type": "richtext",
        "label": "Text above the price (Product 4)"
      },
	{
        "id": "price4",
        "type": "text",
        "label": "Price (Product 4)"
      },
   {
        "id": "link4",
        "type": "text",
        "label": "Product link (Product 4)"
      }
    ],
    // "blocks": [{
    //     "type": "product",
    //     "name": "Product",
    //     "settings": [
    // {
    //     "id": "image",
    //     "type": "image_picker",
    //     "label": "Image of Product"
    //   },
    //   {
    //     "id": "productTitle",
    //     "type": "text",
    //     "label": "Product title"
    //   },
    //   {
    //     "id": "text1-1",
    //     "type": "richtext",
    //     "label": "Text (Product)"
    //   },
	// 	{
    //     "id": "text1-2",
    //     "type": "richtext",
    //     "label": "Text (Product)"
    //   },
    //   {
    //     "id": "text1-3",
    //     "type": "richtext",
    //     "label": "Text (Product)"
    //   },
   
	// {
    //     "id": "price1",
    //     "type": "text",
    //     "label": "Price (Product)"
    //   },	

    // {
    //     "id": "link1",
    //     "type": "text",
    //     "label": "Product link (Product)"
    //   }
    //     ]
        
    // }],
	"presets": [{
      "name": "4 Product Cards",
      "category": "New template"
    }]
  }
{% endschema %}

{% stylesheet %}
.product-section img {
    padding: 25px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
