{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}::before, #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid color-{{ section.settings.color_scheme }}" id="produktberater">
  <div class="SectionGrid-Wide">
    <div class="w-100p py-8 px-3 px-md-45px">
      <h1 class="mb-2 mb-lg-6px mt-6 ff-heading fs-36px fs-lg-44px fw-600 lh-107 lh-lg-100 ta-l ls-m100" >{{ section.settings.title | escape }}</h1>
      <h6 class="mt-0 mb-11 ff-body fs-3 fw-300 ls-m024 lh-090">{{ section.settings.subline | escape }}</h6>
      <h3 class="produktberater-question">1 → Was möchtest du verbessern</h3>
      <h5 class="produktberater-hint">Du kannst mehrere Antworten auswählen</h5>
      <input type="checkbox" name="einschlafen" id="einschlafen" class="hidden-checkbox">
      <label for="einschlafen" class="hidden-checkbox-label">Einschlafen</label>
      <input type="checkbox" name="durchschlafen" id="durchschlafen" class="hidden-checkbox">
      <label for="durchschlafen" class="hidden-checkbox-label">Durchschlafen</label>
      <input type="checkbox" name="entspannen" id="entspannen" class="hidden-checkbox">
      <label for="entspannen" class="hidden-checkbox-label">Abends besser entspannen</label>
      <input type="checkbox" name="nichts-verbessern" id="nichts-verbessern" class="hidden-checkbox">
      <label for="nichts-verbessern" class="hidden-checkbox-label">Gar nichts</label>
      <h3 class="produktberater-question">2 → Was ist der Grund für dein Schlafproblem?</h3>
      <h5 class="produktberater-hint">Du kannst mehrere Antworten auswählen</h5>
      <input type="checkbox" name="stress" id="stress" class="hidden-checkbox">
      <label for="stress" class="hidden-checkbox-label">Stress</label>
      <input type="checkbox" name="krankheit" id="krankheit" class="hidden-checkbox">
      <label for="krankheit" class="hidden-checkbox-label">Krankheit</label>
      <input type="checkbox" name="schicht" id="schicht" class="hidden-checkbox">
      <label for="schicht" class="hidden-checkbox-label">Schichtarbeit</label>
      <input type="checkbox" name="altern" id="altern" class="hidden-checkbox"><label for="altern" class="hidden-checkbox-label">Älterwerden</label>
      <input type="checkbox" name="ursache-unbekannt" id="ursache-unbekannt" class="hidden-checkbox"><label for="ursache-unbekannt" class="hidden-checkbox-label">Ich weiß es nicht</label>
      <h3 class="produktberater-question">3 → Welche Produkteigenschaft ist dir wichtig?</h3>
      <h5 class="produktberater-hint">Du kannst mehrere Antworten auswählen</h5>
      <input type="checkbox" name="natuerlich" id="natuerlich" class="hidden-checkbox">
      <label for="natuerlich" class="hidden-checkbox-label">Natürliche Wirkung</label>
      <input type="checkbox" name="nebenwirkungen" id="nebenwirkungen" class="hidden-checkbox">
      <label for="nebenwirkungen" class="hidden-checkbox-label">Keine Nebenwirkungen</label>
      <input type="checkbox" name="gewoehnung" id="gewoehnung" class="hidden-checkbox">
      <label for="gewoehnung" class="hidden-checkbox-label">Kein Gewöhnungseffekt</label>
      <input type="checkbox" name="kater" id="kater" class="hidden-checkbox">
      <label for="kater" class="hidden-checkbox-label">Kein "Kater"-Gefühl</label>
      <input type="checkbox" name="keine-produkteigenschaft" id="keine-produkteigenschaft" class="hidden-checkbox">
      <label for="keine-produkteigenschaft" class="hidden-checkbox-label">Keine</label>
      <h3 class="produktberater-question">4 → Welche dieser Eigenschaften ist dir außerdem wichtig?</h3>
      <h5 class="produktberater-hint">Du kannst mehrere Antworten auswählen</h5>
      <input type="checkbox" name="zuckerfrei" id="zuckerfrei" class="hidden-checkbox">
      <label for="zuckerfrei" class="hidden-checkbox-label">zuckerfrei</label>
      <input type="checkbox" name="vegan" id="vegan" class="hidden-checkbox">
      <label for="vegan" class="hidden-checkbox-label">vegan</label>
      <input type="checkbox" name="glutenfrei" id="glutenfrei" class="hidden-checkbox">
      <label for="glutenfrei" class="hidden-checkbox-label">glutenfrei</label>
      <input type="checkbox" name="laktosefrei" id="laktosefrei" class="hidden-checkbox">
      <label for="laktosefrei" class="hidden-checkbox-label">laktosefrei</label>
      <input type="checkbox" name="keine-eigenschaft" id="keine-eigenschaft" class="hidden-checkbox">
      <label for="keine-eigenschaft" class="hidden-checkbox-label">Keine</label>
      <div class="w-100p ta-c mt-8">
        <button id="produkt-btn" class="py-5 px-7 ta-c ff-heading uppercase fs-1 lh-100 fw-300 nodec button" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
          {{ section.settings.buttonText | escape }}
        </button>
      </div>
      <div id="produktempfehlung" class="section-4 wf-section">
        <h2 id="probieraktion" class="h2-produkt-shop-berater">Unsere Empfehlungen für dich</h2>
        <div class="centered-all w-container">
          <div>
            <p class="paragraph-sub-shop-info">
              Nur solange der Vorrat reicht. Versandkostenfrei ab 29€<br>
            </p>
            <div class="social-proof-sub">
              <img class="proof-image" src="{{ section.settings.influencerImage | img_url: 'x60' }}" loading="lazy" alt="{{ section.settings.influencerImage.alt | escape }}" width="" height="">
              <div class="text-proof-sub"><strong>{{ section.settings.influencerName | escape }}</strong> und <strong>801 andere Personen</strong> lieben unsere Produkte</div>
            </div>
            <div class="cards-grid-container-all">
              {% for product in section.blocks %}
                {% for variant in product.settings.product.variants %}
                  <div id="{{ variant.metafields.global.produktberaterId.value | escape }}" class="product-all w-node-_0d0ae968-c17b-52ff-63f4-3c8a98dd07f2-94649a48">
                    {% if variant.featured_image != blank %}
                      <img src="{{ variant.featured_image | img_url: '400x' }}" alt="{{ variant.metafields.global.variantName.value | escape }}" class="product-all-image candle w-100p h-auto" width="200" height="" loading="lazy">
                    {% else %}
                      <img src="{{ product.settings.product.featured_image | img_url: '400x' }}" alt="{{ variant.metafields.global.variantName.value | escape }}" class="product-all-image candle w-100p h-auto" width="200" height="" loading="lazy">
                    {% endif %}
                    <div class="review-div">
                      {% liquid 
                        assign rating = product.settings.product.metafields.global.rating.value
                        assign wholeRating = rating | floor
                        assign missing_stars = 5 | minus: rating | floor
                        assign sum = wholeRating | plus: missing_stars
                        if sum != 5
                          assign halfStars = 1
                        else
                          assign halfStars = 0
                        endif
                      %}
                      {% if wholeRating > 0 %}
                        {% for i in (1..wholeRating) %}
                          <span>
                            {%- render 'icon-star', currentColor: "#ffd900" -%}
                          </span>
                        {% endfor %}
                      {% endif %}
                      {% if halfStars == 1 %}
                        <span>
                          {%- render 'icon-star-half' -%}
                        </span>
                      {% endif %}
                      {% if missing_stars > 0 %}
                        {% for j in (1..missing_stars) %}
                          <span>
                            {%- render 'icon-star', currentColor: "#dddddd" -%}
                          </span>
                        {% endfor %}
                      {% endif %}
                      <p class="bewertungen">
                        {% assign reviewCount = product.settings.product.metafields.global.reviewCount %}
                        ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
                        {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
                      </p>
                    </div>
                    <p class="product-title">
                      {{ variant.metafields.global.variantName.value | escape }}
                    </p>
                    <p class="product-subline">
                      {{ variant.metafields.global.description | escape }}
                    </p>
                    <h3 class="price-sale-all">
                      <span class="endpreis-all">
                        {{ variant.price | money_without_currency }} €
                      </span>
                      {% if variant.compare_at_price %}
                        <span class="streichpreis-all ml-2">
                          {{ variant.compare_at_price | money_without_currency }} €
                        </span>
                      {% endif %}
                    </h3>
                    <form class="cta-form" method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ variant.id | escape }}">
                      <input type="hidden" name="quantity" value="1">
                      <button type="submit" class="cta-button-product-drink-copy ghost-drink-copy w-button">
                        In den Warenkorb
                      </button>
                    </form>
                    <p class="versand-status">
                      <strong class="gr-n">
                        • Versandfertig in 1-2 Tagen
                      </strong>
                    </p>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
            <div class="container-6 w-container"><button id="back-btn" class="questionaire-button w-button">Zurück zum Schlafberater</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const questions = {
    einschlafen: "Einschlafen",
    durchschlafen: "Durchschlafen",
    entspannen: "Abends besser entspannen",
    "nichts-verbessern": "Gar nichts",
    stress: "Stress",
    krankheit: "Krankheit",
    schicht: "Schichtarbeit",
    altern: "Älterwerden",
    "ursache-unbekannt": "Ich weiß es nicht",
    natuerlich: "Natürliche Wirkung",
    nebenwirkungen: "Keine Nebenwirkungen",
    gewoehnung: "Keine Gewöhnungseffekte",
    kater: "Kein 'Kater'-Gefühl am Morgen",
    "keine-produkteigenschaft": "Keine (Produkteigenschaft)",
    zuckerfrei: "zuckerfrei",
    vegan: "vegan",
    glutenfrei: "glutenfrei",
    laktosefrei: "laktosefrei",
    "keine-eigenschaft": "Keine (Eigenschaft)"
  }
  const produkte = [
    "drink7",
    "drink14",
    "drink28",
    "essenz",
    "spray",
    "duo",
    "resleep",
    "gute-nacht",
    "relax",
    "kerze",
    "matte",
    "maske",
    "teeflasche",
    "allyouneed",
    "letstalk"
  ]
  function calcCongruence() {
    const answersGiven = Object.keys(questions).reduce((acc, currKey) => {
      const arr = [ ...acc ]
      if(document.getElementById(currKey).checked) {
        arr.push(questions[currKey])
      }
      return arr
    },[])
    const durchschlafen = ["duo"]
    const einschlafenZuckerfrei = ["spray", "resleep"]
    const einschlafen = ["drink7", "drink14", "drink28", "essenz", "spray", "resleep"]
    const entspannung = ["gute-nacht", "relax", "kerze", "matte"]
    const others = ["maske", "teeflasche", "allyouneed", "letstalk"]
    const empfehlung =
      answersGiven.includes("Durchschlafen")
        ? durchschlafen
        : answersGiven.includes("Einschlafen")
          ? answersGiven.includes("zuckerfrei")
            ? einschlafenZuckerfrei
            : einschlafen
          : answersGiven.includes("Abends besser entspannen")
            ? entspannung
            : others
    produkte.forEach((item) => {
      const element = document.getElementById(item)
      if ( empfehlung.includes(item) ) {
        if (element) {
          element.style.display = "block"
        } 
      } else {
        if (element) {
          element.style.display = "none"
        }
      }
    })
    document.getElementById("produktempfehlung").scrollIntoView({behavior: "smooth"})
  }
  function returnToQuestions() {
    Object.keys(questions).forEach((item) => {
      document.getElementById(item).checked = false
    })
    produkte.forEach((item) => {
      const element = document.getElementById(item)
      if (element) {
        element.style.display = "block"
      }
    })
    document.getElementById("produktberater").scrollIntoView({ behavior: "smooth" })
  }
  document.getElementById("produkt-btn").addEventListener("click", calcCongruence)
  document.getElementById("back-btn").addEventListener("click",returnToQuestions)
</script>

{% schema %}
{
  "name": "Produktberater",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "Farbschema"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Deine Online-Schlafberatung",
      "label": "Überschrift"
    },
    {
      "type": "text",
      "id": "subline",
      "default": "Finde dein passendes Schlafprodukt in weniger als 1 Minute",
      "label": "Subline"
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "Zur Produktempfehlung",
      "label": "Aufschrift des Buttons"
    },
    {
      "type": "image_picker",
      "id": "influencerImage",
      "label": "Bild des Influencers"
    },
    {
      "type": "text",
      "id": "influencerName",
      "label": "Name des Influencers",
      "default": "Sylvie Meis"
    }
  ],
  "blocks": [
    {
      "name": "Produkt",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Produktberater",
      "settings": {
        "color_scheme": "background-1",
        "title": "Deine Online-Schlafberatung",
        "subline": "Finde dein passendes Schlafprodukt in weniger als 1 Minute",
        "buttonText": "Zur Produktempfehlung"
      },
      "blocks": [
        {
          "type": "product",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
