{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="load_reviews_dynamically_here" class="page-width">
  <div id="div_reviews_wrapper" style="display: none">
</div>
<img class="lazyload" style="display: none" src="ve-reviews-loader" onerror="DYNAMICINSERT_PRODUCT_HANDLE='{%- if section.settings.handle != blank -%}{{ section.settings.handle }}{%- else -%}{{ handle }}{%- endif -%}';var scriptTag=document.createElement('script');scriptTag.src='{{ 've-reviews-dynamicinsert.js' | asset_url }}?v=' + (new Date()).getTime();document.body.appendChild(scriptTag); var cssId = 've-reviews-dynamicinsert-css'; if (!document.getElementById(cssId)) { var head  = document.getElementsByTagName('head')[0]; var link  = document.createElement('link'); link.id = cssId; link.rel = 'stylesheet'; link.type = 'text/css'; link.href = '{{ 've-reviews-dynamicinsert.css' | asset_url }}'; link.media = 'all'; head.appendChild(link); } this.remove();">

<!--document.querySelectorAll('img[data-src="ve-reviews-loader"]')[0].src = document.querySelectorAll('img[data-src="ve-reviews-loader"]')[0].getAttribute('data-src');-->

{% schema %}
{
  "name": "t:sections.product_reviews_widget.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "handle",
      "label": "t:sections.product_reviews_widget.settings.handle.label"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "t:sections.product_reviews_widget.presets.name",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
