{{ 'smshr-product.css' | asset_url | stylesheet_tag }}

<div class="desktopUp:w-[59.26%] px-base tabletUp:mt-meg flex flex-col gap-mega">
  <div>
    <h3 class="text-t-md mb-base">Description</h3>

    <div class="text-body-sm leading-5">
      {{ product.description }}
    </div>
  </div>

  {% comment %} Branded content {% endcomment %}
  <div>
    {% assign branded_content = product.metafields.custom.branded_content.value %}

    <div class="w-full mb-base">
      <img
        src="{{ branded_content.image | image_url: width: 640 }}"
        class="w-full h-full aspect-auto"
        width=""
        height=""
        loading="lazy"
      >
    </div>

    <p class="text-t-lg">
      {{ branded_content.content }}
    </p>
  </div>

  {% comment %} Tiktok reel {% endcomment %}

  <div class="flex flex-col gap-normal desktopUp:flex-row desktopUp:gap-huge items-center">
    {% assign product_reel = product.metafields.custom.product_reel.value %}

    <div class="w-full rounded-[54px] h-auto">
      {% if product_reel.media contains 'video' %}
        {{ product_reel.media }}
        {{
          product_reel.media
          | video_tag:
            image_size: '640x',
            autoplay: true,
            loop: true,
            controls: true,
            muted: true,
            class: 'w-full h-full rounded-[54px] aspect-[163_/_290]'
        }}
      {% else %}
        <img
          src="{{ product_reel.media | image_url: width: 640 }}"
          class="w-full h-full rounded-[54px] aspect-[163_/_290]"
          width=""
          height=""
          loading="lazy"
        >
      {% endif %}
    </div>

    <div class="w-full flex flex-col gap-base">
      <h2 class="text-h-md text-sky italic uppercase text-center">
        {{ product_reel.headline }}
      </h2>

      <p>
        {{ product_reel.author_quote }}
      </p>

      <a href="{{ product_reel.author.url  }}"> {{ product_reel.author.title }} </a>
    </div>
  </div>
</div>
