{{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'splide.min.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'splide-data.css' | asset_url | stylesheet_tag }}

{% assign options = 'small,medium,large' | split: ',' %}

<div class="flex flex-wrap gap-y-large justify-between">
  <div class="basis-[59.26%]">
    {% render 'product-image-carousel' %}
  </div>

  <div class="basis-[33.3%]">
    {% render 'title-price', product: product %}

    {% render 'variant-select',
      select_id: 'product-size',
      select_name: 'size',
      select_class: 'product-size-selector',
      select_options: options,
      select_selected: 'medium',
      label: 'Grip'
    %}
    {% render 'delivery-option', availability: 'in_stock' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.smshr-product-detail.name",
  "tag": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "t:sections.smshr-product-detail.presets.name"
    }
  ],
  "settings": []
}
{% endschema %}

{% if product.media.size > 0 %}
  <script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'splide-data.js' | asset_url }}" defer="defer"></script>
{% endif %}
