{{ 'product-innovation.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="product-innovation-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="product-innovation-header">
    <h2>{{ section.settings.product_innovation_title | escape }}</h2>
    <p>{{ section.settings.product_innovation_main_content | escape }}</p>
  </div>
  <div class="product-innovation-swiper">
    <div class="product-innovation swiper-wrapper">
      {% for block in section.blocks %}
        <div class="product-innovation-slide swiper-slide">
          <strong>{{ block.settings.product_innovation_date | escape }} </strong>
          <img
            height="290"
            width="580"
            {% if block.settings.product_innovation_image != blank %}
              src="{{ block.settings.product_innovation_image | image_url: width: 400 }}"
            {% else %}
              src="{{ 'no-image.webp' | asset_url }}"
            {% endif %}
            class=""
            alt="{{ block.settings.product_innovation_image.alt }}"
          >
          <p>{{ block.settings.product_innovation_content | escape }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="swiper-pagination"></div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carouselSlider = new Swiper('.product-innovation-swiper', {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 3,
      effect: 'slide',
      spaceBetween: 10,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      centeredSlides: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Product Innovation",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "product_innovation_title",
      "label": "Title",
      "default": "Product Innovation"
    },
    {
      "type": "text",
      "id": "product_innovation_main_content",
      "label": "Content",
      "default": "Lorem ipsum dolor sit amet consectetur. Duis mauris sed velit cursus. Donec iaculis vestibulum neque et viverra aliquam."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product_innovation",
      "name": "Product Innovation",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_innovation_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "product_innovation_content",
          "label": "Content",
          "default": "Lorem ipsum dolor sit amet consectetur. Turpis sed ornare mi pellentesque eu porta porta enim."
        },
        {
          "type": "text",
          "id": "product_innovation_date",
          "label": "Date",
          "default": "2002"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Product Innovation",
      "category": "Custom",
      "blocks": [
        { "type": "product_innovation" },
        { "type": "product_innovation" },
        { "type": "product_innovation" },
        { "type": "product_innovation" }
      ]
    }
  ]
}
{% endschema %}
