{% comment %}
  Renders product variant options

  Accepts:
  - availability: {String} Availability of product. Accepts ('in_stock', 'ordered', 'unavailable', 'soon')


  Usage:
  {% render 'delivery-option',
    availability: 'inStock',
  %}
{% endcomment %}

{% comment %}
  convert text to locale settings
{% endcomment %}

{%- liquid
  if product_variant.inventory_quantity > 0
    assign availability = 'in_stock'
  else
    assign availability = 'ordered'
  endif

  assign icon_class = ''
  assign status = ''
  assign text = ''
  assign text_class = ''

  if availability == 'in_stock'
    assign icon_class = ' fill-green'
    assign status = 'Auf Lager'
    assign text = 'Lieferung in 2-3 Tagen'
    assign text_class = 'text-green'

  elsif availability == 'ordered'
    assign icon_class = ' fill-green'
    assign status = 'Bestellt'
    assign text = 'Lieferung in 7-14 Tagen'
    assign text_class = 'text-green'

  elsif availability == 'soon'
    assign icon_class = ' fill-grey500'
    assign status = 'Bald verfügbar'
    assign text = 'Artikel ist ca. ab dem dd.mm.YYYY verfügbar'
    assign text_class = 'text-grey500'
  else
    assign icon_class = ' fill-red'
    assign status = 'Nicht verfügbar'
    assign text = 'Dieses Produkt ist nicht länger verfügbar'
    assign text_class = ' text-red'
  endif
-%}

<product-availability
  class="product__product-availabilities quick-add-hidden"
  {% if product_variant.product.selected_or_first_available_variant.available %}
    available
  {% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product_variant.product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product_variant.product.has_only_default_variant }}"
>
  <div class="flex gap-mini items-center py-micro">
    <div class="{{ icon_class }} w-base h-base">
      {% case availability %}
        {% when 'in_stock' %}
          {% render 'icon-truck-fast', svgClass: {{icon_class}} %}
        {% when 'ordered' %}
          {% render 'icon-clock', svgClass: {{icon_class}} %}
        {% when 'soon' %}
          {% render 'icon-clock', svgClass: {{icon_class}} %}
        {% when 'unavailable' %}
          {% render 'icon-circle-exclamation', svgClass: {{icon_class}} %}
      {% endcase %}
    </div>

    <h6 class="{{text_class}} text-t-xs !m-[0]">
      {{ status }}
    </h6>

    <p class="text-body-xs">
      {{ text }}
    </p>
  </div>
</product-availability>
