<div class="color-background-2">
  <div class="page-width promise">
      <h2 class="h1 center"> {{ section.settings.promise_headline }} </h2>
      <div class="promise-intro center"> {{ section.settings.paragraph }} 
      </div>
      <div class="promise-cards">
          {%- for block in section.blocks -%}
              <div class="promise-card">
                  <div class="promise-image">
                      <img
                      src="{{ block.settings.image | img_url: 'x200' }}"
                      alt="{{ block.settings.title }}"
                      height="100"
                      width="100"
                      loading="lazy"
                      >
                  </div>
                  <div class="promise-claim">
                      <h3 class="h2">{{ block.settings.text | escape }}</h3>
                  </div>
              </div>
          {%- endfor -%}
      </div>
  </div>
</div>



{% schema %}
{
"name": "Versprechen",
"max_blocks": 3,
"tag": "section",
"class": "spaced-section--full-width",
"settings": [
  {
      "type": "text",
      "id": "promise_headline",
      "label": "Überschrift", 
      "default": "Unser Versprechen"
  },
  {
      "type": "richtext",
      "id": "paragraph",
      "label": "Einleitung", 
      "default": "<p>So wichtig wie die Lebensqualität unserer Kunden ist uns die Qualität unserer Produkte. Hergestellt, geprüft und zertifiziert in Deutschland, bieten wir ausschließlich Schlafprodukte, die höchsten Standards entsprechen, an.</p>"
  }
],
"blocks": [
  {
    "type": "promise",
    "name": "Versprechen",
    "settings": [
      {
          "type": "text",
          "id": "text",
          "default": "Hergestellt in Deutschland",
          "label": "Text"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      }
    ]
  }
],
"presets": [{
  "name": "Versprechen",
  "blocks": [
    {
      "type": "promise"
    }, 
    {
      "type": "promise"
    },
    {
      "type": "promise"
    }
  ]
  }]
}
{% endschema %}