<div class="page-bg">
  <div class="page-width">
    <div class="bg-inner">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

{% include 'breadcrumbs' %}

<div class="page-width page--quiz">
  <h3 class="page-title text-center">Which Konnected products are right for you?</h3>

  <div class="quiz-section">
    <div id="quiz" class="quiz-wrap">
      <div class="question_item question_item-1">
        <div class="question"><h3>1. How many zones are on your existing alarm system?</h3></div>
        <p>A zone is a grouping of one or more sensors (i.e. Front Door, Kitchen windows). You can find this out by looking at the zone listing on your existing keypad or counting the number of zone inputs on the wired panel.</p>
        <input type="number" class="quiz-field quiz-value" placeholder="Type your number">
        <a class="btn btn-continue" data-value="continue">Continue</a>
      </div>

      <div class="question_item question_item-2">
        <div class="question"><h3>2. How many keypads are on your existing alarm system?</h3></div>
        <p>Traditional alarm systems have at least one keypad mounted by one of the main entry doors. Larger homes may have two or more keypads.</p>
        <input type="number" class="quiz-field" placeholder="Type your number">
        <a class="btn btn-continue" data-value="continue">Continue</a>
      </div>

      <div class="question_item question_item-3">
        <div class="question"><h3>3. Do you prefer to replace your old alarm system and convert it entirely to a smart home system, or do you want to keep using your traditional alarm system as-is and add home automation capabilities to it.</h3></div>
        <div class="answers btn-group">
          <a href="#update_1" class="answer_item active-link" data-value="update_1">Replace old system completely</a>
          <a href="#update_2" class="answer_item" data-value="update_2">Keep old system and add automation capabilities</a>
        </div>
      </div>

      <div class="question_item question_item-4a" id="update_1">
        <div class="question"><h3>4. Do you want to separate some of your grouped zones to individual sensors? If so, how many additional sensors will be separated to its own zone?</h3></div>
        <p>Konnected recommends that each door and motion sensor be monitored individually for best results with home automation. For example, if your existing system has Zone 1 including your Front Door and Garage Entrance Door grouped together, we recommend separating those and enter 1 here for one additional sensor.</p>
        <input type="number" class="quiz-field quiz-value" placeholder="Type your number">
        <a href="#recommendedProducts-1" class="btn btn-continue" data-value="compute">Continue</a>
      </div>

      <div class="question_item question_item-4b" id="update_2">
        <div class="question"><h3>4. If you want to be able to monitor your existing alarm system's alarm status remotely and/or arm and disarm the system remotely, you will need two programmable outputs on your existing alarm panel and one extra zone that can be configured as a keyswitch for arming/disarming.</h3></div>
        <div class="answers btn-group">
          <a href="#recommendedProducts-2" class="answer_item active-link" data-value="variant_1">Yes, I have programmable outputs and the ability to program a keyswitch on my panel</a>
          <a href="#recommendedProducts-2" class="answer_item" data-value="variant_2">No, I just want to monitor the zones for home automation purposes only</a>
        </div>
      </div>

      <div class="recommended-products question_item" id="recommendedProducts-1">
        <div class="grid product__grid">
          <div class="grid__item medium-up--one-third text-center">
            
             
            {%- assign product = all_products[section.settings.product-handle-1] -%}
              

            {% for variant in product.variants %}
            {%- assign featured_img_src = variant.featured_image.src -%}
            <div class="recommended-product__item recommended-product__item--{{ forloop.index }} hide">
              <a href="{{ product.url }}?variant={{variant.id}}">
                <img src="{{ featured_img_src | img_url: 'master' }}" alt="{{ featured_img_alt }}" class="product-featured-img">
                <h3 class="recommended-product_title">{{ product.title }}</h3>

                <div class="grid-view-item__meta">
                  <span class="product-price__price">{{ variant.price | money }}</span>
                  {% if variant.price < variant.compare_at_price %}
                  <s class="product-price_price">{{ variant.compare_at_price | money }}</s>
                  {% endif %}
                </div>
              </a>
              
              <div class="shop-quiz-btn">
              <a href="{{ product.url }}?variant={{variant.id}}" class="btn">Buy Now</a>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="grid__item medium-up--one-third text-center">
            {%- assign product_2 = all_products[section.settings.product-handle-2] -%}
            <div class="product__item">
              <div class="{% unless product_2.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
                <a href="{{ product_2.url }}">
                  <img src="{{ product_2.featured_image.src | img_url: 'master' }}" alt="{{ product_2.featured_image.alt }}">
                  <h3 class="recommended-product_title">{{ product_2.title }}</h3>
                  <div class="grid-view-item__meta">
                    <div class="grid-view-item__meta">
                      <span class="product-price__price">{{ product_2.price | money }}</span>
                      {% if product_2.price < product_2.compare_at_price %}
                      <s class="product-price_price">{{ product_2.compare_at_price | money }}</s>
                      {% endif %}
                    </div>
                  </div>
                </a>

                <div class="shop-quiz-btn">
                <a class="btn" href="{{ product_2.url }}" class="btn">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item medium-up--one-third text-center">
            {%- assign product_3 = all_products[section.settings.product-handle-3] -%}
            <div class="product__item">
              <div class="grid-view-item{% unless product_3.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
                <a href="{{ product_3.url }}">
                  <img src="{{ product_3.featured_image.src | img_url: 'master' }}" alt="{{ product_3.featured_image.alt }}">
                  <h3 class="recommended-product_title">{{ product_3.title }}</h3>
                  <div class="grid-view-item__meta">
                    <span class="product-price__price">{{ product_3.variants.first.price | money }}</span>
                  </div>
                </a>

                <div class="shop-quiz-btn">
                <a class="btn" href="{{ product_3.url }}" class="btn">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contact-btn text-center hide">
          <a href="/pages/contact" class="btn">Contact us for custom quote</a>
        </div>
      </div>

      <div class="recommended-products question_item" id="recommendedProducts-2">
        {%- assign product = all_products[section.settings.product-handle-4] -%}

        {% for variant in product.variants %}
        {%- assign featured_img_src = product.images.first -%}
        <div class="recommended-product__item recommended-product__item--{{ forloop.index }} hide text-center">
          <a href="{{ product.url }}?variant={{variant.id}}">
            <img src="{{ featured_img_src | img_url: 'master' }}" alt="{{ featured_img_alt }}" class="product-featured-img">
            <h3 class="recommended-product_title">{{ product.title }}</h3>

            <div class="grid-view-item__meta">
              <span class="product-price__price">{{ variant.price | money }}</span>
              {% if variant.price < variant.compare_at_price %}
              <s class="product-price_price">{{ variant.compare_at_price | money }}</s>
              {% endif %}
            </div>
          </a>
          
          <div class="shop-quiz-btn">
          <a href="{{ product.url }}?variant={{variant.id}}" class="btn">Buy Now</a>
          </div>
        </div>
        {% endfor %}

        <div class="contact-btn text-center hide">
          <a href="/pages/contact" class="btn">Contact us for custom quote</a>
        </div>
      </div>
      
    </div>

    <input type="hidden" class="quiz-field quiz-result" placeholder="Type your number">
  </div>
</div>




<script>
  if(window.history.pushState) {
    window.history.pushState('', '/', window.location.pathname)
  } else {
    window.location.hash = '';
  }
</script>


{% schema %}
  {
    "name": "Page Quiz",
    "settings": [
		{
        "type": "text",
        "id": "product-handle-1",
        "label": "Product handle 1",
        "default": "konnected-alarm-panel-wired-alarm-system-conversion-kit"
      },
	  {
        "type": "text",
        "id": "product-handle-2",
        "label": "Product handle 2",
        "default": "backup-battery"
      },
  	  {
        "type": "text",
        "id": "product-handle-3",
        "label": "Product handle 3",
        "default": "12v-to-5v-usb-power-converter"
      },
 	  {
        "type": "text",
        "id": "product-handle-4",
        "label": "Product handle 4",
        "default": "konnected-alarm-panel-interface-for-wired-security-systems"
      }
	],
    "blocks": [],
    "presets": []
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
