{{ 'quote-carousel.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

<section class="quote-carousel-section color-{{ section.settings.color_scheme }}">
  <div class="swiper">
    <div class="quote-carousel swiper-wrapper">
      {% for block in section.blocks %}
        <div class="quote-carousel-slide swiper-slide">
          <p>{{ block.settings.quote_content | escape }}</p>
          <cite>{{ block.settings.quote_by_text | escape }} </cite>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carouselSlider = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 1,
      effect: 'slide',
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      centeredSlides: false,
    });
  });
</script>

{% schema %}
{
  "name": "Quote Carousel",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "quote_text",
      "name": "Quote Text",
      "settings": [
        {
          "type": "text",
          "id": "quote_content",
          "label": "Quote Content",
          "default": "This is a sample quote text. It will be displayed in the carousel."
        },
        {
          "type": "text",
          "id": "quote_by_text",
          "label": "Quote By",
          "default": "Jane Doe"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Quote Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
