<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
    class="reasons-to-choose"
>
  <div class="page-width">
    <section>
      <h2 class="reasons-to-choose-title">{{ section.settings.title }}</h2>
      <div class="reasons-to-choose-sections">
        <div class="reasons-to-choose-section">
          <div class="reasons-to-choose-section-images">
            <div class="reasons-to-choose-section-image">
              {{ section.settings.thumbnail1 | image_url: width: 1000 | image_tag:
                loading: 'lazy'
              }}
            </div>
            <div class="reasons-to-choose-section-image">
              {{ section.settings.thumbnail2 | image_url: width: 1000 | image_tag:
                loading: 'lazy'
              }}
            </div>
          </div>
          <div class="reasons-to-choose-section-content">
            {{ section.settings.content }}
          </div>
        </div>
      </div>
      {% if section.settings.url != blank %}
        <a href="{{ section.settings.url }}" class="reasons-to-choose-button">Learn More</a>
      {% endif %}
    </section>
  </div>
</div>

{% schema %}
  {
    "name": "Reasons To Choose",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "id": "thumbnail1",
        "type": "image_picker",
        "label": "Thumbnail1"
      },
      {
        "id": "thumbnail2",
        "type": "image_picker",
        "label": "Thumbnail2"
      },
      {
        "id": "content",
        "type": "html",
        "label": "Content"
      },
      {
        "id": "url",
        "type": "url",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "id_name",
        "label": "ID名"
      }
    ],
    "presets": [
      {
        "name": "Reasons To Choose",
        "category": "Custom"
      }
    ]
  }
{% endschema %}