<div
  {% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
    class="review-auto-carousel"
>
  {% include 'sns-icons-header-01' %}
  <div class="review-auto-carousel-items">
    <section class="splide splide-review-auto-carousel">
      <div class="splide__track">
        <ul class="splide__list">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'review' -%}
            <li class="splide__slide">
              <div class="review-auto-carousel-item">
                {% if block.settings.url != blank %}
                <a href="{{ block.settings.url }}" target="_blank">
                {% endif %}
                  {{ block.settings.image | image_url: width: 500 | image_tag:
                    class: 'review-auto-carousel-image',
                    loading: 'lazy'
                  }}
                {% if block.settings.url != blank %}
                </a>
                {% endif %}
                <div class="review-auto-carousel-body">
                  {% if block.settings.url != blank %}
                  <a href="{{ block.settings.url }}" target="_blank">
                  {% endif %}
                    <div class="review-auto-carousel-user">
                      {{ block.settings.user_image | image_url: width: 100 | image_tag:
                        class: 'review-auto-carousel-user-image',
                        loading: 'lazy'
                      }}
                      <div class="review-auto-carousel-user-data">
                        <p class="review-auto-carousel-user-name">@{{ block.settings.user_name }}</p>
                        {{ block.settings.country_image | image_url: width: 50 | image_tag:
                          class: 'review-auto-carousel-user-country-image',
                          loading: 'lazy'
                        }}
                      </div>
                    </div>
                  {% if block.settings.url != blank %}
                  </a>
                  {% endif %}
                  <div class="review-auto-carousel-info">
                    <h3 class="review-auto-carousel-title">{{ block.settings.title }}</h3>
                    <p class="review-auto-carousel-text">{{ block.settings.text }}</p>
                  </div>
                </div>
              </div>
            </li>
          {%- endcase -%}
        {%- endfor -%}
        </ul>
      </div>
    </section>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const splide = new Splide('.splide.splide-review-auto-carousel', {
      type : 'loop',
      drag : 'free',
      focus : 'center',
      autoWidth: true,
      arrows: false,
      autoScroll: {
        speed: 0.5,
        pauseOnHover: false,
        pauseOnFocus: false
      }
    }).mount(window.splide.Extensions);
  })
</script>

{% schema %}
{
  "name": "Review Auto Carousel",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "user_image",
          "label": "User Image"
        },
        {
          "type": "image_picker",
          "id": "country_image",
          "label": "Country Image"
        },
        {
          "type": "text",
          "id": "user_name",
          "label": "User Name"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Auto Carousel",
      "blocks": [
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
