<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'loop-rich-text-dropdown.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .custom_rich-text__blocks-{{ section.id }} :is(h1,h2,h3,h4){
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.03em !important;
  }
  .custom_rich-text__blocks-{{ section.id }} p{
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin: 0 auto;
  }
  .custom_rich-text__blocks-{{ section.id }} a{
    font-size: 20px;
    line-height: 21px;
  }
  @media screen and (min-width: 750px) {
    .custom_rich-text__blocks-{{ section.id }} p{
      max-width: {{section.settings.decription_max_width}}%;
    }
  }
  @media screen and (max-width: 750px) {
    .custom_rich-text__blocks-{{ section.id }} :is(h1,h2,h3,h4){
      font-size: 40px;
      line-height: 38px;
    }
  }
</style>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }} custom_rich-text__blocks-{{ section.id }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="rich-text__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
              {%- when 'newsletter' -%}
                <style>
                  form#RichTextNewsletter {
                    margin-top: 28px;
                  }
                  form#RichTextNewsletter .gdpr-disclaimer , form#RichTextNewsletter .gdpr-disclaimer a {
                    font-size: 12px;
                  }
                  form#RichTextNewsletter .gdpr-disclaimer {
                    margin-top: 10px;
                    display: inline-block;
                  }
                  form#RichTextNewsletter .gdpr-disclaimer a {
                    color: #766294;
                    padding: 0 !important;
                  }
                
                  .text--body * {
                    font-size: 1.6rem !important;
                  }
                
                  form#RichTextNewsletter .field--submit {
                    margin-top: 12px;
                  }
                
                  form#RichTextNewsletter .field::before, form#RichTextNewsletter .field::after {
                    content: unset;
                  }
                
                  form#RichTextNewsletter input, form#RichTextNewsletter button {
                    font-size: 18px;
                    border-radius: 69px;
                    width: 100%;
                    border: 1px solid #252427;
                  }
                  
                  form#RichTextNewsletter input, form#RichTextNewsletter label {
                    color: #252427;
                  }
                
                  form#RichTextNewsletter button {
                    padding: 14px 28px;
                    background: #252427;
                    cursor: pointer;
                    color: #FBF9F8;
                    font-size: 20px;
                  }
                  @media screen and (max-width: 749px) {
                    form#RichTextNewsletter input.field__input {
                      background-color: #fff !important;
                    }
                  }

                  .rich-text:not(.color-background-1):not(.color-background-2) form#RichTextNewsletter input {
                    border-color: #fff;
                    color: white;
                  }
                  
                  .rich-text:not(.color-background-1):not(.color-background-2) form#RichTextNewsletter label {
                    color: white;
                  }
                  
                  .rich-text:not(.color-background-1):not(.color-background-2) form#RichTextNewsletter button {
                    border-color: #fff;
                    background-color: #fff;
                    color: #766294;
                  }

                  .rich-text:not(.color-background-1):not(.color-background-2) form#RichTextNewsletter .gdpr-disclaimer a {
                    color: #fff;
                  }
                </style>
                {%- form 'customer', id: 'RichTextNewsletter', class: 'image-text_newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="prospect,newsletter,{{ request.locale.iso_code }},bfcm-lead-gen">
                  <input type="hidden" name="contact[context]" value="section">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="HeroFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="HeroFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        Email address
                      </label>
                    </div>
                    <div class="field--submit">
                      <button type="submit">Notify me</button>
                    </div>
                    <small class="gdpr-disclaimer">
                      By submitting this form, you consent to receive email from us.
                      We take good care of your data, read how in our <a href="/policies/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
                    </small>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="HeroFooter-error">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="HeroFooter-success"
                      tabindex="-1"
                      autofocus
                    >
                      {% render 'icon-success' -%}
                      {{- 'newsletter.success' | t }}
                    </h3>
                  {%- endif -%}
                {%- endform -%}
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}"
                style="margin-top:{{ block.settings.caption_padding }}px;"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text rte"
                style="margin-top:{{ block.settings.description_padding }}px;"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}"
                style="margin-top:{{ block.settings.button_padding }}px;"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                    {% if block.settings.button_bgcolor_1 != blank %}
                      style="background-color: {{ block.settings.button_bgcolor_1 }};color: {{block.settings.button_txtcolor_1}};"
                    {% endif %}
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                    {% if block.settings.button_bgcolor_2 != blank %}
                      style="background-color: {{ block.settings.button_bgcolor_2 }};color: {{block.settings.button_txtcolor_2}};"
                    {% endif %}
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
            {% when 'accordian' %}
              <div class="accordian-item ">
                <div class="wrapper-class">
                  <button class="accordion">
                    {{ block.settings.faq_question_1 }}
                  </button>
                  <div class="panel">
                    <span>
                      {{ block.settings.faq_answer_1 }}
                    </span>
                    <div class="video_wrapper">
                      {{ block.settings.video_url_1 }}
                    </div>
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "Description settings"
    },
    {
      "type": "number",
      "id": "decription_max_width",
      "info": "unit in percentage",
      "label": "Description Max-width",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "html",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "range",
          "id": "caption_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 32
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "range",
          "id": "description_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 32
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "color",
          "id": "button_bgcolor_1",
          "label": "button background color"
        },
        {
          "type": "color",
          "id": "button_txtcolor_1",
          "label": "button Text color"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "color",
          "id": "button_bgcolor_2",
          "label": "button background color"
        },
        {
          "type": "color",
          "id": "button_txtcolor_2",
          "label": "button Text color"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "range",
          "id": "button_padding",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Padding Top",
          "default": 32
        }
      ]
    },
    {
      "type": "accordian",
      "name": "drop down",
      "settings": [
        {
          "type": "text",
          "id": "faq_question_1",
          "default": "Question",
          "label": "Enter Question"
        },
        {
          "type": "text",
          "id": "faq_answer_1",
          "default": "Answer",
          "label": "Enter Answer"
        },
        {
          "type": "html",
          "id": "video_url_1",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter form",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
