{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid py-7 py-md-11 py-lg-13 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Narrow">
    {% if section.settings.headingPosition == 'aboveAll' %}
      <h2 class="ff-heading fs-7 fs-lg-38px fw-500 fw-lg-400 lh-107 lh-lg-116 ls-m124 mb-4 ta-c">{{ section.settings.heading | escape }}</h2>
    {% endif %}
    <div class="flex ai-fs {% if section.settings.imagePosition == 'left' %}column md-row {% else %}column-reverse md-row-reverse {% endif %} wrap flex-1">
      <div class="mnw-220px flex-1 ofh">
        <div class="w-100p square-outer cover mx-5 mx-md-0 mt-md-5 ofh richtext-image-wrapper">
          <img src="{{ section.settings.image | img_url: '600x' }}" alt="{{ section.settings.image.alt | escape }}" class="richtext-image w-100p h-auto cover square" loading="lazy" width="600" height="600">
        </div>
      </div>
      <div class="mnw-250px flex-1 ml-5 {% if section.settings.imagePosition == 'left' %}ml-lg-7 mr-5 mr-lg-0{% else %}ml-lg-0 mr-0 mr-md-5 mr-lg-7{% endif %} mt-5 mt-md-0">
        {% if section.settings.headingPosition == 'aboveText' %}
          <h2 class="ff-heading fs-7 fs-lg-38px fw-500 fw-lg-400 lh-107 lh-lg-116 ls-m124 mb-4">{{ section.settings.heading | escape }}</h2>
        {% endif %}
        <div class="richtxt hyphen" lang="de">
          {{ section.settings.blockText }}
        </div>
        {% if section.settings.buttonText != blank and section.settings.buttonLink != blank %}
          <div>
            {% if section.settings.buttonDesign == 'outlined' %}
              <a href="{{ section.settings.buttonLink }}" class="nodec">
                <button class="linkbutton-to-product-page" style="border-width: 4px; border-style: solid; border-color: {{ tagBackground}}; background-color: {{ tagForeground }}; color: {{ tagBackground }};">
                  {{ section.settings.buttonText | escape }}
                </button>
              </a>
            {% else %}
            <a href="{{ section.settings.buttonLink }}" class="nodec">
              <button class="linkbutton-to-product-page" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
                {{ section.settings.buttonText | escape }}
              </button>
            </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Richtext mit Bild",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "Farbschema"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Bild"
    },
    {
      "type": "select",
      "id": "imagePosition",
      "options": [
        {
          "value": "left",
          "label": "links"
        },
        {
          "value": "right",
          "label": "rechts"
        }
      ],
      "default": "left",
      "label": "Position des Bildes"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift"
    },
    {
      "type": "select",
      "id": "headingPosition",
      "options": [
        {
          "value": "aboveAll",
          "label": "oben über Text und Bild"
        },
        {
          "value": "aboveText",
          "label": "direkt über dem Text"
        }
      ],
      "default": "aboveAll",
      "label": "Position der Überschrift"
    },
    {
      "type": "richtext",
      "id": "blockText",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "buttonDesign",
      "default": "outlined",
      "label": "Layout des Buttons",
      "options": [
        {
          "value": "outlined",
          "label": "nur Kontur"
        },
        {
          "value": "filled",
          "label": "ausgefüllt"
        }
      ]
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Aufschrift des Buttons"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Linkziel des Buttons"
    }
  ],
  "presets": [
    {
      "name": "Richtext mit Bild",
      "settings": {
        "color_scheme": "background-1",
        "imagePosition": "left",
        "buttonDesign": "outlined"
      }
    }
  ]
}
{% endschema %}
