<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-testimonial-single.css' | asset_url }}" media="print" onload="this.media='all'">


<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-testimonial-single.css' | asset_url | stylesheet_tag }}</noscript>

<div class="testimonial-single {% if section.settings.full_width %} rich-text--full-width{% endif %} color-{{ section.settings.color_scheme }}">
    <div class="testimonial-single__setup relative max-w-7xl mx-auto pt-20 pb-12 px-4 sm:px-6 lg:px-8 lg:py-20">

        <div class="page-width testimonial-single__blocks">
            {% render 'icon', icon: 'quote-left', class: '' %}
            <blockquote class="relative">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'testimonial' -%}
                            <div class="testimonial-single_text">
                                <p class="h1" {{ block.shopify_attributes }}>
                                    {{ block.settings.testimonial }}
                                </p>
                            </div>
                        {%- when 'name' -%}
                            <div class="">{{ block.settings.name }}</div>
                        {%- when 'position' -%}
                            <div class="">{{ block.settings.position }}</div>
                    {%- endcase -%}
                {%- endfor -%}
            </blockquote>
            {% render 'icon', icon: 'quote-right', class: '' %}
        </div>
    </div>
</div>

{% schema %}
{
"name": "Single Testimonial",
"tag": "section",
"class": "spaced-section spaced-section--full-width",
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.rich-text.settings.color_scheme.options__1.label"
},
{
"value": "accent-2",
"label": "t:sections.rich-text.settings.color_scheme.options__2.label"
},
{
"value": "background-1",
"label": "t:sections.rich-text.settings.color_scheme.options__3.label"
},
{
"value": "background-2",
"label": "t:sections.rich-text.settings.color_scheme.options__4.label"
},
{
"value": "inverse",
"label": "t:sections.rich-text.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.rich-text.settings.color_scheme.label"
},
{
"type": "checkbox",
"id": "full_width",
"default": true,
"label": "t:sections.rich-text.settings.full_width.label"
}
],
"blocks": [
{
"type": "heading",
"name": "t:sections.rich-text.blocks.heading.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "heading",
"default": "ALLURE",
"label": "t:sections.rich-text.blocks.heading.settings.heading.label"
},
{
"type": "select",
"id": "heading_size",
"options": [
{
"value": "h2",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
},
{
"value": "h1",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
},
{
"value": "h0",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
}
],
"default": "h1",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
}
]
},
{
"type": "subheading",
"name": "Sub Heading",
"limit": 1,
"settings": [
{
"type": "text",
"id": "subheading",
"default": "MAGAZINE",
"label": "Sub Heading"
},
{
"type": "select",
"id": "subheading_size",
"options": [
{
"value": "h2",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
},
{
"value": "h1",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
},
{
"value": "h0",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
}
],
"default": "h1",
"label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
}
]
},
{
"name": "testimonial",

"type": "testimonial",     "limit": 1,
"settings": [
{
"type": "text",
"id": "testimonial",
"default": "I'm OBSESSED with Evyana BTW! It is such a magical line! You've got such a wonderful wonderful line on your hands.\nI want to have everyone in America use it!",
"label": "User Testimonial"
}
]
},
{
"type": "name",
"name": "User Name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "name",
"default": "Rachel R.",
"label": "Name Of User"
}
]
},
{
"type": "position",
"name": "User Product/Position",
"limit": 1,
"settings": [
{
"type": "text",
"id": "position",
"default": "CEO Allure",
"label": "Name Of User"
}
]
}
],
"presets": [
{
"name": "Single Testimonial",
"blocks": [
{
"type": "heading"
},
{
"type": "subheading"
},
{
"type": "testimonial"
},
{
"type": "name"
},
{
"type": "position"
}
]
}
]
}
{% endschema %}
