<link rel="stylesheet" href="{{ 'sellingpoints-bar.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'sellingpoints-bar.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="announcement-bar sellingpoints-bar" role="region"
     aria-label="{{ 'sections.header.sellingpoints' }}" {{ block.shopify_attributes }}>
    <div class="page-width">
        <slider-component class="slider-mobile-gutter">

            <ul class="list-unstyled slider slider--mobile sellingpoints-slide m-0">
                {% for block in section.blocks %}
                    {% assign count = count | plus: 1 %}
                    <li class="slider__slide center">{% render 'icon', icon: 'checkmark', class: 'h-5 w-5' %}
                        {{ block.settings.point }}
                    </li>
                {% endfor %}
            </ul>
            <div class="slider-buttons slider-buttons--overlay hidden">
                <div class="slider-counter caption">
                    <span class="slider-option-autoplay"></span>
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
                    <span class="slider-counter--total">{{ count }}</span>
                </div>
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
            </div>
        </slider-component>
    </div>
</div>

{% schema %}
{
"name": "Selling Points",
"max_blocks": 4,
"blocks": [
{
"type": "text",
"name": "Selling Point",
"settings": [
{
"type": "text",
"id": "point",
"default": "Point #1",
"label": "Selling Point"
}
]
}
],
"default": {
"blocks": [
{
"type": "text"
}
]
}
}
{% endschema %}
