{{ 'service-guide.css' | asset_url | stylesheet_tag }}

{% unless section.blocks.size == 0 %}
  <div
    class="my-large px-base lg:px-0 w-full max-w-[720px] mx-auto flex flex-col gap-2 md:gap-base"
  >
    <table class="border-collapse w-full table-fixed  border-t border-t-grey100">
      {% for block in section.blocks %}
        {% assign item = block.settings %}
        <tr class="border-b py-large border-b-grey100 flex gap-base w-full">
          <td class="service-guide w-full">
            <h2 class="text-t-lg mb-base">
              {{ item.title }}
            </h2>

            <p class="text-body-sm richtext">
              {{ item.subline }}
            </p>
          </td>

          <td class="service-guide w-full flex flex-col gap-large">
            {% if item.phone != blank %}
              <div class="flex flex-wrap gap-1">
                <h6 class="text-t-sm">{{ 'sections.service_guide.phone' | t }}:</h6>
                <p class="text-body-sm">
                  {{ item.phone }}
                </p>
              </div>
            {% endif %}

            {% if item.service_times != blank %}
              <div class="flex flex-col gap-1">
                <h6 class="text-t-sm">{{ 'sections.service_guide.service_times' | t }}:</h6>

                <p class="text-body-sm richtext">
                  {{ item.service_times }}
                </p>
              </div>
            {% endif %}

            {% if item.email != blank %}
              <div class="flex flex-wrap gap-1">
                <h6 class="text-t-sm">{{ 'sections.service_guide.email' | t }}:</h6>
                <p class="text-body-sm">
                  {{ item.email }}
                </p>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.service-guide.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "blocks": [
    {
      "type": "service_block",
      "name": "t:sections.service-guide.blocks.service_block.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.service-guide.blocks.service_block.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "subline",
          "label": "t:sections.service-guide.blocks.service_block.settings.subline.label"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.service-guide.blocks.service_block.settings.phone.label"
        },
        {
          "type": "text",
          "id": "email",
          "label": "t:sections.service-guide.blocks.service_block.settings.email.label"
        },
        {
          "type": "richtext",
          "id": "service_times",
          "label": "t:sections.service-guide.blocks.service_block.settings.service_times.label"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "t:sections.service-guide.presets.name",
      "blocks": [
        {
          "type": "service_block"
        },
        {
          "type": "service_block"
        }
      ]
    }
  ]
}
{% endschema %}
