{% style %}
  .shape-{{ section.id }} svg {
    width: {{ section.settings.width }}px;
  }
  .shape-{{ section.id }} path {
    fill: url(`#myGradient-${{ section.id }}`);
  }
{% endstyle %}

<div class="shape-{{ section.id }}" style="{% if section.settings.gradient == blank %}color: {{ section.settings.color }}{% else %}--webkit-mask-image: {{ section.settings.gradient }}{% endif %}; transform: {{ section.settings.direction }}">
  {%- case section.settings.shape -%}
    {%- when 'wave' -%}
      {%- render 'icon-wave', variable: 'myGradient-{{ section.id }}' -%}
    {%- when 'wave-shade' -%}
      {%- render 'icon-wave-shade' -%}
    {%- when 'curve' -%}
      {%- render 'icon-curve' -%}
    {%- when 'triangle' -%}
      {%- render 'icon-triangle' -%}
  {%- endcase -%}
</div>

{% schema %}
{
  "name": "Shape",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "shape",
      "options": [
        {
          "value": "wave",
          "label": "Wave"
        },
        {
          "value": "wave-shade",
          "label": "Wave shade"
        },
        {
          "value": "curve",
          "label": "Curve"
        },
        {
          "value": "triangle",
          "label": "Triangle"
        }
      ],
      "default": "wave",
      "label": "Wave"
    },
    {
      "type": "color",
      "id": "color",
      "default": "#000000",
      "label": "Color"
    },
    {
      "type": "color_background",
      "id": "gradient",
      "label": "Gradient"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "rotate(0deg)",
          "label": "Up"
        },
        {
          "value": "rotate(180deg)",
          "label": "Down"
        }
      ],
      "default": "rotate(0deg)",
      "label": "Up"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Width",
      "min": 1200,
      "max": 3000,
      "step": 200,
      "unit": "px",
      "default": 1200
    }
  ],
  "presets": [
    {
      "name": "Shape"
    }
  ]
}
{% endschema %}