{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customer_inventables.css' | asset_url | stylesheet_tag }}

<div class="login-container">
  <div class="inventables__shopify-login__flash-message">
    <span class="inventables__shopify-login__flash-message__text"></span>
  </div>

  <div id="login" class="inventables__shopify-login">
    <iframe id="logout" src="{{ shop.metafields.development.local_address }}/logout" style="border: none; height: 0px; width: 0px;">
    </iframe>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    let loginDiv = document.getElementById("login");
    let loginForm = document.createElement("iframe");
    loginForm.style = "border: none;";
    loginForm.id="inventables";

    let searchParams = new URLSearchParams(window.location.search);
    let iframeSource = "{{ shop.metafields.development.local_address }}/shopify/login_form?" + searchParams.toString();
    loginForm.setAttribute("src", iframeSource);
    loginDiv.appendChild(loginForm);
  });

  window.addEventListener("message", (event) => {
    if (event.origin === "{{ shop.metafields.development.local_address }}") {
      var data = JSON.parse(event.data);
      if (data.authenticated) {
        window.location.href = data.target_url;
      } else if (data.error_message) {
        document.getElementsByClassName("inventables__shopify-login__flash-message__text")[0].innerHTML = data.error_message;
      }
    }
  });
</script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  background-color: #f5f5f5;
  }

  .inventables__shopify-login__flash-message {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login-frame {
    height: 200px;
    width: 50%;
    border: none;
  }
{%- endstyle -%}
