{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-frame {
    height: 200px;
    width: 50%;
    border: none;
  }

{%- endstyle -%}

<div>

  <script type="text/javascript">
    window.addEventListener("message", (event) => {
      if (event.origin === "{{ shop.metafields.development.local_address }}") {
        var data = JSON.parse(event.data);
        var token = data.multipass_token;
        window.location.href = "/account/login/multipass/" + token;
      }
    }, false);
  </script>

  <div class="login-container">
    <iframe class="login-frame" src="{{ shop.metafields.development.local_address }}/shopify_login">
    </iframe>
  </div>



</div>

