{{ 'blend-it.css' | asset_url | stylesheet_tag }}

<section class="standard">
  <article>
    <a id="single-cask"></a>
    <h3>{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    {% comment %} <p class="help">You should also check out the <a href="#subscriptions">Malt of the Month</a> subscription.</p> {% endcomment %}
    <ul class="product-list">
      {% assign single_cask_products = collections['single-cask'] %}

      {% for product in single_cask_products.products %}
        {% if product.variants.first.inventory_quantity > 0 %}
          <li>
            <a
              href="{{ product.url }}"
              style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
            >
              <div class="counter">
                <span class="no-bottles">{{ product.variants.first.inventory_quantity }}</span
                ><span class="out-of"
                  >/

                  {% assign starting_quantity = product.metafields.custom.product_starting_quantity.value %}
                  {{ starting_quantity }}
                </span>
                <span class="bottles-left">bottles left</span>
              </div>
              <img src="{{ product.featured_image | img_url: '100x100' }}">
              <span class="deetz">
                <h4>{{ product.title }}</h4>
                <div class="reveal">
                  <p>{{ product.product_type }}</p>
                  <sup class="buy pulse">{{ product.price | money }}</sup>
                </div>
              </span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
// for choosing products

{
  "name": "Shop Single Cask ",
  "presets": [{ "name": "Shop Single Cask" }],
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "product_list",
      "id": "single_cask_products",
      "label": "Single Cask Products",
      "limit": 3
    }
  ]
}
{% endschema %}
