<section class="header-image tight-header">
  <h2>{{ section.settings.title }}</h2>
  <ul class="features shop-options product-list">
    {% for block in section.blocks %}
      <li>
        <a href="{{ block.settings.url }}" class="button">{{ block.settings.text }}</a>
      </li>
    {% endfor %}
  </ul>
  <video autoplay="" muted="" loop="" playsinline="" poster="video/pour-bg.jpg">
    <source src=" {{ section.settings.video_url }} " type="video/mp4">
    <source src="{{ section.settings.webp_url }}" type="video/webm">
  </video>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop hero banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "max_blocks": 6
}
{% endschema %}
