{{ 'customer.css' | asset_url | stylesheet_tag }}
<div id="login" class="inventables__shopify-login" style="overflow: hidden; display: inline-block; display: table; margin-right: auto; margin-left: auto;">
  <iframe id="logout" scrolling="no" src="{{ shop.metafields.development.local_address }}/logout" style="border: none; height: 0px; width: 0px;"
          onload="showLogin();">
  </iframe>
  <iframe id="inventables" scrolling="no" src="{{ shop.metafields.development.local_address }}/shopify/login_form?return_to={{ routes.cart_url }}" style="border: none;">
  </iframe>
  <script type="text/javascript">
    window.addEventListener("message", (event) => {
      if (event.origin === "{{ shop.metafields.development.local_address }}") {

        var data = JSON.parse(event.data);
        var token = data.multipass_token;
        window.location.href = "/account/login/multipass/" + token;
      }

    }, false);
  </script>
</div>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-frame {
    height: 200px;
    width: 50%;
    border: none;
  }
{%- endstyle -%}
