<section class="banding">
  <article class="max">
    <a name="credit"></a>
    <h3>{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      
        {% assign clothes = collections['Claes-an-hings'] %}

      {% for product in clothes.products %}
        <li>
          <a
            href="{{ product.url }}"
            style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
          >
            <img src="{{ product.featured_image | img_url: '1000x1000' }}">
            <span class="deetz">
              <h4>{{ product.title }}</h4>
              <div class="reveal">
                <p>{{ product.product_type }}</p>
                <sup class="buy pulse">{{ product.price | money }}</sup>
              </div>
            </span>
          </a>

        {% endfor %}
      
        
    </ul>
  </article>
</section>

{% stylesheet %}
.clothes-products {
  background-color: #EAEAEA;
  padding: 20px;
}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Claes an hings",
  "presets": [{ "name": "Claes an hings" }],
  "tag": "div",
  "class" : "clothes-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "product_list",
      "id": "clothes_products",
      "label": "CLothes Products",
      "limit": 3
    }
  ]
}
{% endschema %}
