<section id="shop-gift" class="banding">
  <article class="max">
    <a id="credit"></a>
    <h3 class="section-tile-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      
        {% assign gift_credit = collections['gift-credit'] %}

      {% for product in gift_credit.products %}
        <li class="product-list-card">
          <a
            href="{{ product.url }}"
            style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
          >
            <img src="{{ product.featured_image | img_url: '1000x1000' }}">
             <span class="deetz single-casks-details">
              <h4>{{ product.title }}</h4>
              {{ product.description | truncate: 30}}
              <div class="reveal">
                <p>{{ product.product_type }}</p>
                <sup class="buy pulse">{{ product.price | money }}</sup>
              </div>
            </span>
       </a>

        {% endfor %}
      
        
    </ul>
  </article>
</section>

{% stylesheet %}
.gift-credit {
  background-color: #EAEAEA;
  padding: 20px;
}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Gift Credit ",
  "presets": [{ "name": "Shop Gift Credit" }],
  "tag": "div",
  "class" : "gift-credit",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
