<section id="shop-clothes" class="banding">
  <article class="max">
    <h3 class="section-title-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      {% assign clothes = collections['claes-an-hings'] %}

      {% for product in clothes.products %}
        <li class="product-list-card">
          <a
            href="{{ product.url }}"
            style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
          >
            <img src="{{ product.featured_image | img_url: '1000x1000' }}">
            <span class="deetz single-casks-details">
              <h4>{{ product.title }}</h4>
              <a>{{ product.description | truncate: 30}}</p>
              <div class="reveal">
                <p>{{ product.product_type }}</p>
                {% if product.available == false %}
                  <!-- Product is out of stock -->
                  <sup> Out of stock</sup>
                {% else %}
                  <sup class="buy pulse">{{ product.price | money }}</sup>
                {% endif %}

              </div>
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

{% stylesheet %}
  .clothes-products {
    background-color: #eaeaea;
    padding: 20px;
  }
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop - Claes an hings",
  "presets": [{ "name": "Shop - Claes an hings" }],
  "tag": "div",
  "class": "clothes-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
