<section id="shop-bottles" class="standard">
  <article>
    <a id="bottlings"></a>
    <h3 class="section-title-wb">{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="product-list">
      {% assign bottles = collections['oor-bottlings'] %}

      {% for product in bottles.products %}
        <li class="product-list-card">
          <a
            href="{{ product.url }}"
            style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
          >
            <img alt=" Prouct image of whisky bottle" src="{{ product.featured_image | img_url: '1000x1000' }}">
            <span class="deetz single-casks-details">
              <h4>{{ product.title }}</h4>
              <p>{{ product.description | truncate: 30 }}</p>
              <div class="reveal">
                <p>{{ product.product_type }}</p>
                <sup class="buy pulse">{{ product.price | money }}</sup>
              </div>
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Bottles",
  "presets": [{ "name": "Shop Bottles" }],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],

  "tag": "section"
}
{% endschema %}
