{{ 'blend-it.css' | asset_url | stylesheet_tag }}

<section class="header-image tight-header">
  <h2 class="page-title-wb">{{ section.settings.title }}</h2>
  <ul class="features shop-options product-list">
    {% for block in section.blocks %}
      <li>
        <a href="{{ block.settings.url }}" class="button-wb">{{ block.settings.text }}</a>
      </li>
    {% endfor %}
  </ul>
  <video autoplay="" muted="" loop="" playsinline="" poster="{{ section.settings.poster_url }}">
    <source src=" {{ section.settings.video_url }} " type="video/mp4">
    <source src="{{ section.settings.webp_url }}" type="video/webm">
  </video>
</section>

{% stylesheet %}
  ul.product-list {
    list-style: none;
    margin: 20px 0 40px 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
  }

  ul.product-list li {
    min-width: 100px;
    max-width: 100%;
    flex: 0 0 auto;
    background: #cccccc;
    overflow: hidden;
    border-radius: 12px;
    display: block;
  }

  ul.product-list li a {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: auto 100%;
    background-position: center;
    transition: background-size 1s, background-color 0.3s, border 0.3s, transform 0.3s;
    text-decoration: none;
    align-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
  }

  ul.product-list li a img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
  }

  ul.product-list li a span.deetz {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    padding: 20px;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  ul.product-list li a span.deetz h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 14px 0;
    width: 100%;
  }

  ul.product-list li a span.deetz p {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 14px 0;
  }

  ul.product-list li a span sup {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 14px;
    display: inline-block;
    background: #000000;
    vertical-align: top;
    border-radius: 12px;
    margin: 0 0 0 auto;
    color: #ffffff;
    float: right;
  }

  ul.product-list li a span.deetz sup.buy {
    background: #199776;
    transition: background 0.3s;
  }

  ul.product-list li a:hover span.deetz sup.buy {
    background: #237f5e;
  }
  /*Shop options links*/

  ul.shop-options {
    z-index: 2;
    position: relative;
    grid-gap: 10px;
    margin: 10px auto 20px auto;
  }

  ul.shop-options li {
    background: transparent;
    margin: 0;
    overflow: visible;
  }

  ul.shop-options li .button-wb {
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  ul.shop-options li:nth-of-type(1) .button-wb {
    background: #f4e6f2;
  }

  ul.shop-options li:nth-of-type(2) .button-wb {
    background: #ddd0bb;
  }

  ul.shop-options li:nth-of-type(3) .button-wb {
    background: #c9e1f2;
  }

  ul.shop-options li:nth-of-type(4) .button-wb {
    background: #9daecf;
  }

  ul.shop-options li:nth-of-type(5) .button-wb {
    background: #a2ccbb;
  }

  ul.shop-options li:nth-of-type(6) .button-wb {
    background: #f4e05f;
  }

  .counter {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 20px;
    background: #000000;
    color: rgba(255, 255, 255, 0.6);
    width: -webkit-fill-available;
    padding: 14px 10px 8px 10px;
    border-radius: 60px;
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    transition: background 0.3s;
    z-index: 2;
  }

  .counter:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 1;
    background: #000000;
    transform: rotate(45deg);
    left: calc(50% - 10px);
    bottom: -10px;
    transition: background 0.3s;
  }

  .counter.sold-out,
  .counter.sold-out:after {
    background: #666666;
  }

  span.no-bottles {
    color: #ffffff;
  }

  ul.product-list li a:hover .counter,
  ul.product-list li a:hover .counter:after {
    background: #199776;
  }

  ul.product-list li a:hover .counter.sold-out,
  ul.product-list li a:hover .counter.sold-out:after {
    background: #da5152;
  }

  .counter span.bottles-left {
    display: block;
    font-size: 12px;
  }

  @media only screen and (min-width: 600px) {
    ul.shop-options {
      grid-gap: 24px;
      margin: 30px auto 10px auto;
    }

    ul.product-list li a span.deetz h4 {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 14px 0;
    }

    ul.shop-options li .button-wb {
      text-align: center;
      display: block;
      font-size: 20px;
      line-height: 24px;
    }

    ul.shop-options li:nth-of-type(1) .button-wb {
      transform: rotate(-1deg);
    }

    ul.shop-options li:nth-of-type(2) .button-wb {
      transform: rotate(1deg);
    }

    ul.shop-options li:nth-of-type(3) .button-wb {
      transform: rotate(-3deg);
    }

    ul.shop-options li:nth-of-type(4) .button-wb {
      transform: rotate(-3deg);
    }

    ul.shop-options li:nth-of-type(5) .button-wb {
      transform: rotate(2deg);
    }

    ul.shop-options li:nth-of-type(6) .button-wb {
      transform: rotate(-1deg);
    }

    ul.shop-options li .button-wb:hover {
      background-color: rgba(255, 255, 255, 1);
      transform: rotate(0deg);
    }
  }

  @media only screen and (min-width: 768px) {
    ul.product-list li a:hover {
      background-size: auto 150%;
    }

    ul.shop-options {
      grid-gap: 20px;
    }

    ul.shop-options li .button-wb {
      font-size: 22px;
      line-height: 26px;
    }
  }

  @media only screen and (min-width: 1064px) {
    ul.product-list li a span.deetz {
      width: 84%;
      padding: 20px 8%;
      position: absolute;
      bottom: 0;
      max-height: 20px;
      transition: max-height 0.3s ease-out;
    }

    ul.product-list li a span.deetz h4 {
      white-space: nowrap;
      overflow: auto;
      text-overflow: ellipsis;
    }

    ul.product-list li a span.deetz .reveal {
      transition: opacity 0.3s;
      opacity: 0;
    }

    ul.product-list li a:hover span.deetz {
      max-height: 120px;
    }

    ul.product-list li a:hover span.deetz .reveal {
      opacity: 1;
      transition: opacity 0.3s;
    }

    ul.product-list li a img {
      margin: 40px 0;
    }

    ul.shop-options {
      grid-gap: 30px;
      margin: 30px auto 40px auto;
    }

    ul.shop-options li .button-wb {
      font-size: 24px;
      line-height: 28px;
    }
  }
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop hero banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    },
    {
      "type": "image_picker",
      "id": "poster_url",
      "label": "Video Static Poster"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "max_blocks": 6
}
{% endschema %}
