<div class="simple-banner">
  <a href="{{ section.settings.link_url }}" class="simple-banner-link">
    <p class="simple-banner-title">{{ section.settings.section_title }}</p>
    <img src="{{ 'icon-arrow-right-01.svg' | asset_url }}" alt="" class="simple-banner-icon-arrow" />
    {% if section.settings.icon_image != blank %}
      <img src="{{ section.settings.icon_image | img_url: '200x200' }}" alt="{{ section.settings.section_title }}" class="simple-banner-icon" />
    {% endif %}
  </a>
</div>

{% schema %}
  {
    "name": "Simple Banner",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Icon"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "URL"
      }
    ],
    "presets": [
      {
        "name": "Simple Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}