<div class='sl-brandstyle-9fe1c2dc-94c1-4306-9cfb-55bd0a83df2e'>
<div class='sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9{{ section.settings.pattern_select }} sl-pattern-{{ section.settings.pattern_select }}'>
{{ 'shoplift.css' | asset_url | stylesheet_tag }}
<style>
{% if section.settings.devices == 'desktop' %}
  @media (max-width: 767px) {
    #shoplift--{{ section.id }} {
      display: none;
    }
  }
{% elsif section.settings.devices == 'mobile' %}
  @media (min-width: 768px) {
    #shoplift--{{ section.id }} {
      display: none;
    }
  }
{% endif %}

#shoplift--{{ section.id }}.sl-section {
  {% if section.settings.section_border == 'bottom' %}
    border-bottom: 1px solid;
  {% endif %}

  {% if section.settings.section_border == 'all' %}
    border: 1px solid;
  {% endif %}

  {% if section.settings.section_border_color != 'rgba(0,0,0,0)' and section.settings.section_border_color != 'transparent' %}
    border-color: {{ section.settings.section_border_color }};
  {% endif %}

  {% if section.settings.section_background_color != 'rgba(0,0,0,0)' and section.settings.section_background_color != 'transparent' %}
    background-color: {{ section.settings.section_background_color }};
  {% endif %}
}

#shoplift--{{ section.id }} .collection-tabs__content {
  display: flex;
  padding: 30px;
}

#shoplift--{{ section.id }} .collection-tabs__container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  {% if section.settings.card_format == 'image' %}
    gap: 24px;
  {% else %}
    gap: 12px;
  {% endif %}
}

#shoplift--{{ section.id }} .tab-item .tab-item__inner {
  display: flex;
  align-items: center;
}

#shoplift--{{ section.id }} .tab-item.tab-item--image .tab-item__inner {
  flex-direction: column;
}

#shoplift--{{ section.id }} .tab-item {
  border: 1px solid transparent;
  overflow: hidden;

  {% if section.settings.image_rounding == 'semi_rounded' %}
    border-radius: 8px;
  {% endif %}
}

#shoplift--{{ section.id }} .tab-item--image {
  width: calc(100% / {{ section.blocks.size }} - 20px);

  {% if section.settings.image_rounding != 'round' %}
    border: 1px solid transparent;
  {% endif %}

  {% if section.settings.use_padding == true %}
    min-width: 108px;
    max-width: 158px;
    padding: 4px;
  {% else %}
    min-width: 100px;
    max-width: 150px;
  {% endif %}
}

#shoplift--{{ section.id }} .tab-item--thumbnail {
  width: auto;
  min-width: fit-content;
  padding: 8px;
}

#shoplift--{{ section.id }} .tab-item--no_image {
  width: auto;
  min-width: fit-content;
  padding: 3px;
}

{% if section.settings.card_format == 'image' %}
  {% if section.settings.image_rounding != 'round' %}
    #shoplift--{{ section.id }} .tab-item--fill {
      {% if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != 'transparent' %}
        background-color: {{ section.settings.background_color }};
      {% else %}
        background-color: transparent;
      {% endif %}
    }
  {% endif %}

  {% if section.settings.image_rounding != 'round' %}
    #shoplift--{{ section.id }} .tab-item--border {
      border-color: {{ section.settings.border_color }};
    }
  {% else %}
    #shoplift--{{ section.id }} .tab-item--border .tab-item__image {
      border-color: {{ section.settings.border_color }};
    }
  {% endif %}
{% else %}
  #shoplift--{{ section.id }} .tab-item--fill {
    {% if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != 'transparent' %}
      background-color: {{ section.settings.background_color }};
    {% else %}
      background-color: transparent;
    {% endif %}
  }

  #shoplift--{{ section.id }} .tab-item--border {
    border-color: {{ section.settings.border_color }};
  }
{% endif %}

#shoplift--{{ section.id }} .tab-item__image {
  position: relative;
  overflow: hidden;
  max-width: 100%;

  {% if section.settings.image_rounding == 'semi_rounded' %}
    {% if section.settings.show_card_border == true or section.settings.show_card_bg == true %}
      {% if section.settings.card_format == 'thumbnail' %}
        border-radius: 8px;
      {% else %}
        border-radius: 8px 8px 0 0;
      {% endif %}
    {% else %}
      border-radius: 8px;
    {% endif %}
  {% elsif section.settings.image_rounding == 'round' %}
    border-radius: 50%;
    border: 1px solid transparent;
  {% endif %}
}

#shoplift--{{ section.id }} .tab-item__image:before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

#shoplift--{{ section.id }} .tab-item__image img,
#shoplift--{{ section.id }} .tab-item__image svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#shoplift--{{ section.id }} .tab-item__image--square {
  --aspect-ratio: 1;
}

{% if section.settings.card_format == 'image' %}
  #shoplift--{{ section.id }} .tab-item__image {
    width: 100%;
  }
{% elsif section.settings.card_format == 'thumbnail' %}
  #shoplift--{{ section.id }} .tab-item__image {
    width: 30px;
    min-width: 30px;
  }
{% endif %}

{% if section.settings.image_rounding == 'round' %}
  #shoplift--{{ section.id }} .tab-item--thumbnail,
  #shoplift--{{ section.id }} .tab-item--no_image {
    border-radius: 100px;
  }
{% endif %}

#shoplift--{{ section.id }} .tab-item__text {
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  line-height: 140%;
  {% if section.settings.title_color != 'rgba(0,0,0,0)' and section.settings.title_color != 'transparent' %}
    color: {{ section.settings.title_color }};
  {% endif %}

  text-align: {{ section.settings.text_align }};
}

#shoplift--{{ section.id }} .tab-item__link {
  text-decoration: none;
}

{% if section.settings.image_rounding == 'round' and section.settings.card_format == 'image' %}
  #shoplift--{{ section.id }} .tab-item:hover .tab-item__image {
    {% assign hover_effect = section.settings.hover_effect | append: '' %}
    {% if hover_effect contains 'border' %}
      {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
        border-color: {{ section.settings.hover_color }};
      {% endif %}
    {% endif %}

    {% if hover_effect contains 'bg' %}
      {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
        background-color: {{ section.settings.hover_color }} !important;
      {% endif %}
    {% endif %}
  }

  #shoplift--{{ section.id }} .tab-item:focus .tab-item__image,
  #shoplift--{{ section.id }} .tab-item--active .tab-item__image {
    {% assign selected_state = section.settings.selected_state | append: '' %}
    {% if selected_state contains 'border' %}
      {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
        border-color: {{ section.settings.selected_color }};
      {% endif %}
    {% endif %}

    {% if selected_state contains 'bg' %}
      {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
        background-color: {{ section.settings.selected_color }};
      {% endif %}
    {% endif %}
  }
{% else %}
  #shoplift--{{ section.id }} .tab-item:hover {
    {% assign hover_effect = section.settings.hover_effect | append: '' %}
    {% if hover_effect contains 'border' %}
      {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
        border-color: {{ section.settings.hover_color }};
      {% endif %}
    {% endif %}

    {% if hover_effect contains 'bg' %}
      {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
        background-color: {{ section.settings.hover_color }};
      {% endif %}
    {% endif %}
  }

  #shoplift--{{ section.id }} .tab-item:focus,
  #shoplift--{{ section.id }} .tab-item--active {
    {% assign selected_state = section.settings.selected_state | append: '' %}
    {% if selected_state contains 'border' %}
      {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
        border-color: {{ section.settings.selected_color }};
      {% endif %}
    {% endif %}

    {% if selected_state contains 'bg' %}
      {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
        background-color: {{ section.settings.selected_color }};
      {% endif %}
    {% endif %}
  }
{% endif %}

@media (max-width: 1023px) {
  #shoplift--{{ section.id }} .tab-item__text {
    font-size: 14px;
  }
}

{% if section.settings.card_format == 'image' %}
  @media (max-width: {{ section.blocks.size | times: 124 }}px) {

    #shoplift--{{ section.id }} .collection-tabs__content {
      padding-left: 20px;
      padding-right: 0;
    }
    
    #shoplift--{{ section.id }} .collection-tabs__container {
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      justify-content: flex-start;
      align-items: stretch;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
{% else %}
  @media (max-width: {{ section.blocks.size | times: 180 }}px) {

    #shoplift--{{ section.id }} .collection-tabs__content {
      padding-left: 20px;
      padding-right: 0;
    }
    
    #shoplift--{{ section.id }} .collection-tabs__container {
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      justify-content: flex-start;
      align-items: stretch;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    #shoplift--{{ section.id }} .collection-tabs__container::-webkit-scrollbar {
      transform: translateY(10px);
    }
  }
{% endif %}

@media (max-width: 767px) {

  #shoplift--{{ section.id }} .collection-tabs__content {
    padding: 20px 0 0px 10px;
  }
  
  #shoplift--{{ section.id }} .collection-tabs__container {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: stretch;
    padding-right: 10px;
    padding-bottom: 10px;
    {% if section.settings.show_card_border == true or section.settings.show_card_bg %}
      gap: 12px;
    {% else %}
      {% assign mobile_format = section.settings.mobile_card_format | replace: 'match_desktop', section.settings.card_format %}
      {% if mobile_format == 'thumbnail' %}
        gap: 16px;
      {% else %}
        gap: 6px;
      {% endif %}
    {% endif %}
  }

  #shoplift--{{ section.id }} .tab-item.tab-item--mobile-image .tab-item__inner {
    flex-direction: column;
  }

  #shoplift--{{ section.id }} .tab-item.tab-item--mobile-thumbnail .tab-item__inner {
    flex-direction: row;
  }

  #shoplift--{{ section.id }} .tab-item.tab-item--mobile-no_image .tab-item__inner {
    flex-direction: row;
  }

  #shoplift--{{ section.id }} .tab-item--mobile-image {
    width: calc(100% / {{ section.blocks.size }} - 20px);

    {% if section.settings.image_rounding == 'round' %}
      border: 1px solid transparent;
    {% endif %}

    {% if section.settings.use_padding == true %}
      min-width: 73px;
      max-width: 73px;
      padding: 4px;
    {% else %}
      min-width: 65px;
      max-width: 65px;
    {% endif %}
  }

  {% if section.settings.image_rounding != 'round' %}
    #shoplift--{{ section.id }} .tab-item--mobile-image.tab-item--border .tab-item__image {
      border: 0;
    }
  {% endif %}

  #shoplift--{{ section.id }} .tab-item--mobile-image .tab-item__image {
    width: 100%;
    padding: 0;
  }

  #shoplift--{{ section.id }} .tab-item--image {
    min-width: 100px;
    max-width: 100px;
    padding: 0 5px;
    overflow: visible;
  }

  #shoplift--{{ section.id }} .tab-item__text {
    font-size: 12px;
  }

  {% if section.settings.mobile_card_format == 'thumbnail' %}
    #shoplift--{{ section.id }} .tab-item__image {
      width: 30px;
    }
  {% elsif section.settings.mobile_card_format == 'no_image' %}
    #shoplift--{{ section.id }} .tab-item__image {
      display: none;
    }
  {% endif %}

  #shoplift--{{ section.id }} .tab-item--mobile-thumbnail {
    width: auto;
    flex-direction: row;
    min-width: fit-content;
    padding: 6px;
  }

  #shoplift--{{ section.id }} .tab-item--mobile-no_image {
    width: auto;
    flex-direction: row;
    min-width: fit-content;
    padding: 3px;
  }

  {% if section.settings.mobile_card_format == 'image' %}
    {% if section.settings.image_rounding != 'round' %}
      #shoplift--{{ section.id }} .tab-item--fill {
        {% if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != 'transparent' %}
          background-color: {{ section.settings.background_color }};
        {% else %}
          background-color: transparent;
        {% endif %}
      }
    {% else %}
      #shoplift--{{ section.id }} .tab-item--fill {
        background-color: transparent;
      }
    {% endif %}
  
    {% if section.settings.image_rounding != 'round' %}
      #shoplift--{{ section.id }} .tab-item--border {
        {% if section.settings.border_color != 'rgba(0,0,0,0)' and section.settings.border_color != 'transparent' %}
          border-color: {{ section.settings.border_color }};
        {% endif %}
      }
    {% else %}
      #shoplift--{{ section.id }} .tab-item--border {
        border: 0;
      }

      #shoplift--{{ section.id }} .tab-item--border .tab-item__image {
        {% if section.settings.border_color != 'rgba(0,0,0,0)' and section.settings.border_color != 'transparent' %}
          border-color: {{ section.settings.border_color }};
        {% endif %}
      }
    {% endif %}
  {% elsif section.settings.mobile_card_format != 'match_desktop' %}
    #shoplift--{{ section.id }} .tab-item--fill {
      {% if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != 'transparent' %}
        background-color: {{ section.settings.background_color }};
      {% else %}
        background-color: transparent;
      {% endif %}
    }
  
    #shoplift--{{ section.id }} .tab-item--border {
      {% if section.settings.border_color != 'rgba(0,0,0,0)' and section.settings.border_color != 'transparent' %}
        border-color: {{ section.settings.border_color }};
      {% endif %}
    }

    #shoplift--{{ section.id }} .tab-item--border .tab-item__image {
      border: 0;
    }
  {% endif %}

  {% assign mobile_card_format = section.settings.mobile_card_format | replace: 'match_desktop', section.settings.card_format %}
  
  #shoplift--{{ section.id }} .tab-item__image {
    {% if section.settings.image_rounding == 'semi_rounded' %}
      {% if section.settings.show_card_border == true or section.settings.show_card_bg == true %}
        {% if mobile_card_format == 'thumbnail' %}
          border-radius: 8px;
        {% else %}
          border-radius: 8px 8px 0 0;
        {% endif %}
      {% else %}
        border-radius: 8px;
      {% endif %}
    {% elsif section.settings.image_rounding == 'round' %}
      border-radius: 50%;
    {% endif %}
  }
  
  {% if section.settings.image_rounding == 'round' and mobile_card_format == 'image' %}
    #shoplift--{{ section.id }} .tab-item:hover .tab-item__image {
      {% assign hover_effect = section.settings.hover_effect | append: '' %}
      {% if hover_effect contains 'border' %}
        {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
          border-color: {{ section.settings.hover_color }};
        {% endif %}
      {% endif %}

      {% if hover_effect contains 'bg' %}
        {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
          background-color: {{ section.settings.hover_color }} !important;
        {% endif %}
      {% endif %}
    }

    #shoplift--{{ section.id }} .tab-item:focus .tab-item__image,
    #shoplift--{{ section.id }} .tab-item--active .tab-item__image {
      {% assign selected_state = section.settings.selected_state | append: '' %}
      {% if selected_state contains 'border' %}
        {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
          border-color: {{ section.settings.selected_color }};
        {% endif %}
      {% endif %}

      {% if selected_state contains 'bg' %}
        {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
          background-color: {{ section.settings.selected_color }};
        {% endif %}
      {% endif %}
    }
  {% else %}
    #shoplift--{{ section.id }} .tab-item:hover {
      {% assign hover_effect = section.settings.hover_effect | append: '' %}
      {% if hover_effect contains 'border' %}
        {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
          border-color: {{ section.settings.hover_color }};
        {% endif %}
      {% endif %}

      {% if hover_effect contains 'bg' %}
        {% if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != 'transparent' %}
          background-color: {{ section.settings.hover_color }};
        {% else %}
          background-color: transparent;
        {% endif %}
      {% endif %}
    }

    #shoplift--{{ section.id }} .tab-item:focus,
    #shoplift--{{ section.id }} .tab-item--active {
      {% assign selected_state = section.settings.selected_state | append: '' %}
      {% if selected_state contains 'border' %}
        {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
          border-color: {{ section.settings.selected_color }};
        {% endif %}
      {% endif %}

      {% if selected_state contains 'bg' %}
        {% if section.settings.selected_color != 'rgba(0,0,0,0)' and section.settings.selected_color != 'transparent' %}
          background-color: {{ section.settings.selected_color }};
        {% endif %}
      {% endif %}
    }
  {% endif %}
  
  {% if section.settings.image_rounding == 'round' %}
    #shoplift--{{ section.id }} .tab-item--mobile-thumbnail,
    #shoplift--{{ section.id }} .tab-item--mobile-no_image {
      border-radius: 100px;
    }
  {% endif %}
}
</style>

<section id="shoplift--{{ section.id }}" class="shoplift-collection--tabs sl-section">
    <div class="collection-tabs__content">
        <div class="collection-tabs__container">
          {% for block in section.blocks %}

          {% assign collection = collections[block.settings.collection] %}
          {% assign image = collection.image | default: nil %}

          <div class="tab-item {% if collection.handle != '' and canonical_url contains collection.handle %}tab-item--active{% endif %} tab-item--{{ block.id }} 
              {% if section.settings.show_card_border == true %} tab-item--border{% endif %}{% if section.settings.show_card_bg == true %} tab-item--fill{% endif %}{% if section.settings.show_card_border == false and section.settings.show_card_bg == false %} tab-item--transparent{% endif %}
              tab-item--{{ section.settings.card_format }}
              tab-item--mobile-{{ section.settings.mobile_card_format | replace: 'match_desktop', section.settings.card_format }}" {{ block.shopify_attributes }}>

              {% if block.settings.image %}
                {% assign image = block.settings.image %}
              {% endif %}
              
              {% if collection.url != blank %}
                <a href="{{ collection.url }}" class="tab-item__link">
              {% endif %}

                  <div class="tab-item__inner">
                    {% if image %}
                      <div class="tab-item__image" style="--aspect-ratio: {% if section.settings.card_ratio == 'square' %}1{% else %}{{ image.aspect_ratio }}{% endif %}">
                        {{ image
                          | image_url:
                            width: 375
                          | image_tag:
                            class: '',
                            alt: image.alt,
                            tabindex: "-1",
                            loading: 'lazy',
                            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                          | escape
                        }}
                      </div>
                    {% else %}
                      <div class="tab-item__image" style="--aspect-ratio: 1;background-color: #DCDBDB;">
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                    
                    <div class="tab-item__text sl-font-style--{{ section.settings.title_font_style }}">
                      {% if block.settings.title != blank %}
                        {{ block.settings.title }}
                      {% elsif collection.title != blank %}
                        {{ collection.title }}
                      {% else %}
                        Collection
                      {% endif %}
                    </div>
                  </div>

              {% if collection.url != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "⚡ Quick nav 1.1",
    "class": "shoplift-collection-tabs-wrapper",
    "settings": [
        {
            "type": "select",
            "id": "devices",
            "label": "Show on",
            "options": [
                {
                    "value": "all",
                    "label": "All devices"
                },
                {
                    "value": "desktop",
                    "label": "Desktop only"
                },
                {
                    "value": "mobile",
                    "label": "Mobile only"
                }
            ],
            "default": "all"
        },
        {
            "type": "select",
            "id": "card_format",
            "label": "Card style",
            "options": [
                {
                    "value": "image",
                    "label": "Image"
                },
                {
                    "value": "thumbnail",
                    "label": "Thumbnail"
                },
                {
                    "value": "no_image",
                    "label": "Text"
                }
            ],
            "default": "image"
        },
        {
            "type": "checkbox",
            "id": "show_card_border",
            "label": "Show card border",
            "default": false,
            "info": "Set a border color below"
        },
        {
            "type": "checkbox",
            "id": "show_card_bg",
            "label": "Show card background",
            "default": false,
            "info": "Set a background color below"
        },
        {
            "type": "select",
            "id": "image_rounding",
            "label": "Card rounding",
            "options": [
                {
                    "value": "no_rounding",
                    "label": "None"
                },
                {
                    "value": "semi_rounded",
                    "label": "Semi round"
                },
                {
                    "value": "round",
                    "label": "Round"
                }
            ],
            "default": "semi_rounded"
        },
        {
            "type": "select",
            "id": "card_ratio",
            "label": "Card image ratio",
            "options": [
                {
                    "value": "adapt_to_image",
                    "label": "Adapt to image"
                },
                {
                    "value": "square",
                    "label": "Square"
                }
            ],
            "default": "adapt_to_image"
        },
        {
            "type": "checkbox",
            "id": "use_padding",
            "label": "Use padding on card images",
            "default": false
        },
        {
            "type": "select",
            "id": "hover_effect",
            "label": "Card hover behavior",
            "info": "Set a hover color below",
            "options": [
                {
                    "value": "bg",
                    "label": "Show as fill"
                },
                {
                    "value": "border",
                    "label": "Show as border"
                }
            ],
            "default": "border"
        },
        {
            "type": "select",
            "id": "selected_state",
            "label": "Card selected behavior",
            "info": "Set a selected color below",
            "options": [
                {
                    "value": "bg",
                    "label": "Show as fill"
                },
                {
                    "value": "border",
                    "label": "Show as border"
                }
            ],
            "default": "border"
        },
        {
            "type": "select",
            "id": "title_font_style",
            "label": "Card font style",
            "options": [
                {
                    "value": "title",
                    "label": "Title"
                },
                {
                    "value": "body",
                    "label": "Body"
                },
                {
                    "value": "button",
                    "label": "Button"
                },
                {
                    "value": "label",
                    "label": "Label"
                }
            ],
            "default": "body"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Card text alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "section_border",
            "label": "Section border",
            "options": [
                {
                    "value": "brand_style",
                    "label": "Brand style default"
                },
                {
                    "value": "none",
                    "label": "Dont't show"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "all",
                    "label": "All"
                }
            ],
            "default": "brand_style"
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "select",
            "id": "mobile_card_format",
            "label": "Card style",
            "options": [
                {
                    "value": "match_desktop",
                    "label": "Match Desktop"
                },
                {
                    "value": "image",
                    "label": "Image"
                },
                {
                    "value": "thumbnail",
                    "label": "Thumbnail"
                },
                {
                    "value": "no_image",
                    "label": "Text"
                }
            ],
            "default": "match_desktop"
        },
        {
            "type": "header",
            "content": "Colors",
            "info": "Use color settings to override Brand Style defaults. Remove color codes to return to Brand Style defaults."
        },
{
          "type": "select",
          "id": "pattern_select",
          "label": "Pattern",
          "info": "To edit your color schemes, visit your Brand Styles settings",
          "options": [
{
                "value":"062a0b83-8bde-4a82-9728-74463a4639a9",
                "label": "Content Pattern 1"
            },
{
                "value":"460bba36-6a45-4965-826f-6a9ab5bbdf9d",
                "label": "Product Pattern 2"
            },
{
                "value":"7c082461-7887-4e10-97b3-1c7a621284a5",
                "label": "Content Pattern 2"
            },
{
                "value":"b7fc2ce4-1631-417b-b468-bb1ced60e45f",
                "label": "Product Pattern 1"
            }
]},

        {
            "type": "color",
            "id": "title_color",
            "label": "Card title",
            "default": "transparent"
        },
        {
            "type": "color",
            "id": "border_color",
            "label": "Card border",
            "default": "#E7E7E7"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Card background",
            "default": "#E7E7E7"
        },
        {
            "type": "color",
            "id": "hover_color",
            "label": "Card hover",
            "default": "transparent"
        },
        {
            "type": "color",
            "id": "selected_color",
            "label": "Card selected",
            "default": "transparent"
        },
        {
            "type": "color",
            "id": "section_background_color",
            "label": "Section background",
            "default": "transparent"
        },
        {
            "type": "color",
            "id": "section_border_color",
            "label": "Section border",
            "default": "transparent"
        }
    ],
    "max_blocks": 8,
    "blocks": [
        {
            "name": "Collection",
            "type": "collection_block",
            "settings": [
                {
                    "type": "select",
                    "id": "show_on",
                    "label": "Show on",
                    "options": [
                        {
                            "value": "all_devices",
                            "label": "All devices"
                        },
                        {
                            "value": "desktop_only",
                            "label": "Desktop only"
                        },
                        {
                            "value": "mobile_only",
                            "label": "Mobile only"
                        }
                    ],
                    "default": "all_devices"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Featured collection"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Collection title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Custom collection image"
                },
                {
                    "type": "range",
                    "id": "overlay_opacity",
                    "min": 0,
                    "max": 100,
                    "step": 5,
                    "unit": "%",
                    "label": "Custom overlay opacity",
                    "default": 10,
                    "info": "Used when collection title position is \"On image\". Custom overlay setting above must be checked."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "⚡ Quick nav 1.1",
            "blocks": [
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection Long Title"
                    }
                },
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection"
                    }
                },
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection Long Title"
                    }
                },
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection"
                    }
                },
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection Long Title"
                    }
                },
                {
                    "type": "collection_block",
                    "settings": {
                        "title": "Collection"
                    }
                }
            ]
        }
    ]
}
{% endschema %}

</div>
</div>