<div class="cf-SectionGrid cf-pt-10 cf-pt-md-13 cf-pb-7 cf-pb-md-8 cf-px-5 cf-px-md-0 color-{{ section.settings.color_scheme }}">
 <div class="cf-SectionGrid-Narrow">
  <h2 class="cf-ff-heading cf-fs-30px cf-fs-md-38px cf-lh-32px cf-lh-md-44px cf-fw-400 cf-mb-5 cf-ls-m124">
    {{ section.settings.title | escape }}
  </h2>
  <div class="cf-mb-11">
    {{ section.settings.subline }}
  </div>
  {%- form 'contact' -%}
    {% for block in section.blocks %}
      {% assign itemName = block.settings.label | handleize | camelcase %}
      <label for="{{ itemName | escape }}" class="cf-block cf-fs-0 cf-fs-md-1 cf-lh-20px cf-fw-500 cf-mb-3">
        {{ block.settings.label | escape }}{% if block.settings.required %}*{% endif %}
      </label>
      {% capture inputText %}
      <input type="text" id="{{ itemName | escape }}" name="{{ itemName | escape }}" class="cf-block cf-noborder cf-nooutline cf-bg-f6 cf-col-33 cf-w-100p cf-h-50px cf-mb-6 cf-p-5 cf-fs-0 cf-ff-body cf-lh-142 cf-va-m"{% if block.settings.required %} required{% endif %}>
      {% endcapture %}
      {% capture inputMail %}
      <input type="email" id="{{ itemName | escape }}" name="{{ itemName | escape }}" class="cf-block cf-noborder cf-nooutline cf-bg-f6 cf-col-33 cf-w-100p cf-h-50px cf-mb-6 cf-p-5 cf-fs-0 cf-ff-body cf-lh-142 cf-va-m"{% if block.settings.required %} required{% endif %}>
      {% endcapture %}
      {% capture textArea %}
      <textarea name="{{ itemName | escape }}" id="{{ itemName | escape }}" class="cf-block cf-noborder cf-nooutline cf-bg-f6 cf-col-33 cf-w-100p cf-h-250px cf-mb-8 cf-p-5 cf-ff-body cf-fs-0 cf-lh-142 cf-va-m"></textarea>
      {% endcapture %}
      {% liquid
        case block.settings.inputType
          when 'inputText'
            echo inputText
          when 'inputEmail'
            echo inputMail
          when 'textarea'
            echo textArea
          else 
            echo inputText
        endcase
      %}
    {% endfor %}
  {%- endform -%}
 </div>
</div>

{% schema %}
{
  "name": "Kontaktformular",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Überschrift",
      "default": "Wir sind für Sie da!"
    },
    {
      "type": "richtext",
      "id": "subline",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "field",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Bezeichnung des Eingabefeldes (Label)"
        },
        {
          "type": "select",
          "id": "inputType",
          "label": "Art des Eingabefeldes",
          "options": [
            {
              "value": "inputText",
              "label": "einfaches Feld für Text"
            },
            {
              "value": "inputEmail",
              "label": "einfaches Feld für E-Mail-Adressen"
            },
            {
              "value": "textarea",
              "label": "größeres Feld zur Eingabe von Text"
            }
          ],
          "default": "inputText"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "notwendige Angabe",
          "default": false
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Kontaktformular",
    "blocks": [
      { "type": "text" }
    ],
    "settings": {
      "color_scheme": "background-1",
      "title": "Wir sind für Sie da!"
    }
  }
]
}
{% endschema %}