{{ 'sleepink-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer color-{{ section.settings.color_scheme }}">
  {%- if section.settings.newsletter_enable -%}
  <div class="SectionGrid px-5 py-8 px-lg-0 py-md-11">
    <div class="SectionGrid-Narrow">
      <div class="flex column ai-c">
        <div class="mb-7">
          <h2>
            {{ section.settings.newsletter_heading }}
          </h2>
        </div>
        <form action="https://www.getdrip.com/forms/475452065/submissions" method="post" data-drip-embedded-form="475452065" class="flex column md-row jc-spa jc-md-c ai-c w-100p">
          <input type="email" id="drip-email" name="fields[email]" placeholder="E-Mail-Adresse" required class="w-100p w-md-100p-150 mxw-md-450 mxw-lg-370 noborder mb-sm-3 mr-md-5 p-5 fs-0 ff-body lh-142 va-m nooutline">
          <button type="submit" class="ta-c ff-heading w-sm-100p fs-1 lh-100 fw-300 uppercase px-7 py-5 op-1 pointer tr-button">Anmelden</button>
        </form>
      </div>
    </div>
  </div>
  {%- endif -%}
  <div class="SectionGrid pt-12 pb-12 pb-lg-16">
    <div class="SectionGrid-Wide">
      <div class="flex column ai-stretch mx-6 mx-md-8">
        <div class="flex column lg-row wrap">
          <div class="flex column lg-row wrap w-100p w-lg-40p">
            {%- for block in section.blocks -%}
            {%- if block.type == "link_list" -%}
              <div class="flex-1 mnw-220 {%- if block.settings.linkList.showMobile == false -%}desktop{%- endif -%} mb-lg-4">
                <div class="flex column">
              {%- for link in block.settings.linkList.links -%}
                    <a href="{{ link.url }}" class="nodec ff-body fs-3 fs-lg-4 fw-300 lh-26px lh-lg-32px ls-16 ls-lg-24 col-fg">
                      {{ link.title }}
                    </a>
                {%- endfor -%}
                </div>
              </div>
              {%- endif -%}
              {%- endfor -%}
          </div>
          <div class="flex column lg-row wrap w-100p w-lg-60p">
            <div class="flex-1 mnw-220 mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-24 uppercase my-0">{{ section.settings.payment_heading }}</h3>
                {%- for block in section.blocks -%}
                  {%- if block.type == "image" -%}
                    {%- if block.settings.sections == "payment" -%}
                      <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlineblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34{% else %}h-18 h-lg-22 my-4{% endif %}">
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="flex-1 mnw-220 mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-24 uppercase my-0">{{ section.settings.shipping_heading }}</h3>
                {%- for block in section.blocks -%}
                  {%- if block.type == "image" -%}
                    {%- if block.settings.sections == "shipping" -%}
                      <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlineblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34{% else %}h-18 h-lg-22 my-4{% endif %}">
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="flex-1 mnw-220 mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-24 uppercase my-0">{{ section.settings.social_heading }}</h3>
                {%- for block in section.blocks -%}
                  {%- if block.type == "image" -%}
                    {%- if block.settings.sections == "social" -%}
                      <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlineblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34{% else %}h-18 h-lg-22 my-4{% endif %}">
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            <div class="flex-1 mnw-220 mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-24 uppercase my-0">{{ section.settings.quality_heading }}</h3>
                {%- for block in section.blocks -%}
                  {%- if block.type == "image" -%}
                    {%- if block.settings.sections == "quality" -%}
                      <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlineblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34{% else %}h-18 h-lg-22 my-4{% endif %}">
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
        <div class="h-0 bdw-1px bds-solid op-012 w-100p desktop">&nbsp;</div>
        <img src="{{ section.settings.corporate_logo | img_url: 'x80' }}" alt="{{ section.settings.corporate_logo.alt }}" class="h-39 h-lg-57 mt-lg-10 mb-lg-3 contain">
        <div class="ff-heading ta-c fs-3 fs-lg-6 mx-2">{{ section.settings.corporate_slogan }}</div>
      </div>
    </div>
  </div>
  <div class="SectionGrid h-44 h-lg-50">
    <div class="SectionGrid-Narrow">
      <div class="flex column jc-c">
        <div class="flex row jc-spb ai-c m-auto h-28 h-lg-50 w-100p">
          <div class="desktop fb-30p my-auto">
            <span class="ff-body fs-1 fw-300 lh-26px ls-24">© {{ 'now' | date: "%Y" }} Daizu GmbH</span>
          </div>
          <div class="flex row jc-spb fb-70p mx-5 mx-md-10 mx-lg-unset">
            {% for legalLink in section.settings.legalLinks.links %}
              <div class="mx-2 mx-md-5 mx-lg-10">
                <a href="{{ legalLink.url }}" class="ff-body fs-1 fw-300 lh-26px ls-24 nodec col-fg">
                  {{ legalLink.title }}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "Linkspalte",
      "settings": [
        {
          "type": "link_list",
          "id": "linkList",
          "label": "Linkliste"
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices"
        }
      ]
    },
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "checkbox",
          "id": "largeLogos",
          "label": "große Logos"
        },
        {
          "type": "select",
          "id": "sections",
          "label": "Abschnitte",
          "options": [
            {
              "value": "payment",
              "label": "Sicher einkaufen"
            },
            {
              "value": "shipping",
              "label": "Versand"
            },
            {
              "value": "social",
              "label": "Folge uns"
            },
            {
              "value": "quality",
              "label": "Qualitätsstandards"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "NewzZzletter abonnieren und 10% Gutschein sichern",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "text",
      "id": "payment_heading",
      "default": "Sicher bezahlen",
      "label": "Überschrift für Logos der Zahlmethoden"
    },
    {
      "type": "text",
      "id": "shipping_heading",
      "default": "Versand",
      "label": "Überschrift für Logos der Versandanbieter"
    },
    {
      "type": "text",
      "id": "social_heading",
      "default": "Folge uns",
      "label": "Überschrift für Logos der sozialen Netzwerke"
    },
    {
      "type": "text",
      "id": "quality_heading",
      "default": "Qualitätsstandards",
      "label": "Überschrift für Logos der Qualitätsstandards"
    },
    {
      "type": "image_picker",
      "id": "corporate_logo",
      "label": "Unternehmenslogo"
    },
    {
      "type": "text",
      "id": "corporate_slogan",
      "label": "Slogan des Unternehmens",
      "default": "#allyouneedissleep"
    },
    {
      "type": "link_list",
      "id": "legalLinks",
      "label": "Links in der Fußzeile"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "image"
      }
    ]
  }
}
{% endschema %}
