<footer class="footer color-{{ section.settings.color_scheme }}">
  {%- if section.settings.newsletter_enable -%}
  <div class="SectionGrid px-5 py-8 px-lg-0 py-md-11">
    <div class="SectionGrid-Narrow">
      <div class="flex column ai-c">
        <div class="mb-7">
          <h2 class="fs-7 fs-lg-38px lh-107 lh-lg-116 fw-500 fw-lg-400 w-380px w-lg-470px ta-c ls-m124">
            {{ section.settings.newsletter_heading }}
          </h2>
        </div>
        <form action="https://hook.integromat.com/8pf5t7kev3k931umilola6f25s44yvo7" method="post" class="flex column md-row jc-spa jc-md-c ai-c w-100p">
          <input type="hidden" name="g" value="WsHQ2g">
          <input type="hidden" name="$fields" value="$first_name,$source">
          <input type="hidden" name="$source" value="10% Gutschein Subscriber">
          <input type="text" name="$first_name" placeholder="Vorname" required class="w-100p w-md-100p-150px mxw-md-450px mxw-lg-370px noborder mb-3 mb-md-0 mr-0 mr-md-5 p-5 fs-0 ff-body lh-142 va-m nooutline">
          <input type="email" id="drip-email" name="fields[email]" placeholder="E-Mail-Adresse" required class="w-100p w-md-100p-150px mxw-md-450px mxw-lg-370px noborder mb-3 mb-md-0 mr-0 mr-md-5 p-5 fs-0 ff-body lh-142 va-m nooutline">
          <button type="submit" class="ta-c ff-heading w-100p w-md-unset fs-1 lh-100 fw-300 uppercase px-7 py-5 op-1 pointer tr-button bgcol-bg col-fg bds-solid bcol-fg bdw-2px bdw-md-3px">Anmelden</button>
        </form>
      </div>
    </div>
  </div>
  {%- endif -%}
  <div class="SectionGrid pt-12 pb-12 pb-lg-16">
    <div class="SectionGrid-Wide">
      <div class="flex column ai-stretch mx-6 mx-md-8">
        <div class="flex column lg-row wrap">
          <div class="flex column lg-row wrap w-100p w-lg-40p">
            {%- for block in section.blocks -%}
            {%- if block.type == "link_list" -%}
              <div class="flex-1 mnw-220px {%- if block.settings.linkList.showMobile == false -%}desktop{%- endif -%} mb-lg-4">
                <div class="flex column">
              {%- for link in block.settings.linkList.links -%}
                    <a href="{{ link.url }}" class="nodec ff-body fs-3 fs-lg-4 fw-300 lh-130 lh-lg-145 ls-p016 ls-lg-p024 col-fg">
                      {{ link.title }}
                    </a>
                {%- endfor -%}
                </div>
              </div>
              {%- endif -%}
              {%- endfor -%}
          </div>
          <div class="flex column lg-row wrap w-100p w-lg-60p">
            <div class="flex-1 mnw-220px mb-0 mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-p024 uppercase my-0">{{ section.settings.payment_heading }}</h3>
                <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                  {%- for block in section.blocks -%}
                    {%- if block.type == "image" -%}
                      {%- if block.settings.sections == "payment" -%}
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlblock mr-4 {% if block.settings.largeLogos %}h-30px h-lg-34px w-auto{% else %}h-18 h-lg-22 my-4 w-auto{% endif %}" loading="lazy" height="22" width="54">
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="flex-1 mnw-220px mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-p024 uppercase my-0">{{ section.settings.shipping_heading }}</h3>
                <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                  {%- for block in section.blocks -%}
                    {%- if block.type == "image" -%}
                      {%- if block.settings.sections == "shipping" -%}
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34 w-auto{% else %}h-18 h-lg-22 my-4 w-auto{% endif %}" loading="lazy" height="22" width="156">
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="flex-1 mnw-220px mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-p024 uppercase my-0">{{ section.settings.social_heading }}</h3>
                <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                  {%- if settings.social_instagram_link != "" -%}
                    <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link inlblock mr-4" aria-describedby="a11y-external-message">
                      {%- render 'icon-instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  {%- endif -%}
                  {%- if settings.social_facebook_link != "" -%}
                    <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link inlblock mr-4" aria-describedby="a11y-external-message">
                      {%- render 'icon-facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  {%- endif -%}
                  {%- if settings.social_youtube_link != "" -%}
                    <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link inlblock mr-4" aria-describedby="a11y-external-message">
                      {%- render 'icon-youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
            <div class="flex-1 mnw-220px mb-lg-4">
              <div class="flex row lg-column jc-spb ai-c ai-lg-fs wrap my-3">
                <h3 class="ff-body fs-1 fw-300 lh-26px ls-p024 uppercase my-0">{{ section.settings.quality_heading }}</h3>
                <div class="flex row wrap {% if block.settings.largeLogos %}mt-lg-4{% else %}mt-lg-3{% endif %}">
                  {%- for block in section.blocks -%}
                    {%- if block.type == "image" -%}
                      {%- if block.settings.sections == "quality" -%}
                        <a href="{{ block.settings.url}}">
                          <img src="{{ block.settings.image | img_url: 'x36' }}" alt="{{ block.settings.image.alt }}" class="inlblock mr-4 {% if block.settings.largeLogos %}h-30 h-lg-34 w-auto{% else %}h-18 h-lg-22 my-4 w-auto{% endif %}" loading="lazy" height="34" width="34">
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-0 bdw-1px bds-solid op-012 w-100p desktop">&nbsp;</div>
        <img src="{{ section.settings.corporate_logo | img_url: 'x80' }}" alt="{{ section.settings.corporate_logo.alt }}" class="h-39px h-lg-57px mt-lg-10 mb-lg-3 mx-auto contain" loading="lazy" height="57" width="260" >
        <div class="ff-heading ta-c fs-3 fs-lg-6 mx-2">{{ section.settings.corporate_slogan }}</div>
      </div>
    </div>
  </div>
  <div class="SectionGrid h-44px h-lg-50px">
    <div class="SectionGrid-Narrow">
      <div class="flex column jc-c">
        <div class="flex row jc-spb ai-c m-auto h-28px h-lg-50px w-100p">
          <div class="desktop fb-30p my-auto">
            <span class="ff-body fs-1 fw-300 lh-26px ls-p024">© {{ 'now' | date: "%Y" }} Daizu GmbH</span>
          </div>
          <div class="flex row jc-spb fb-70p mx-5 mx-md-10 mx-lg-unset">
            {% for legalLink in section.settings.legalLinks.links %}
              <div class="mx-2 mx-md-5 mx-lg-10">
                <a href="{{ legalLink.url }}" class="ff-body fs-1 fw-300 lh-26px ls-p024 nodec col-fg">
                  {{ legalLink.title }}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "Linkspalte",
      "settings": [
        {
          "type": "link_list",
          "id": "linkList",
          "label": "Linkliste"
        },
        {
          "type": "checkbox",
          "id": "showMobile",
          "label": "show on mobile devices"
        }
      ]
    },
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "checkbox",
          "id": "largeLogos",
          "label": "große Logos"
        },
        {
          "type": "select",
          "id": "sections",
          "label": "Abschnitte",
          "options": [
            {
              "value": "payment",
              "label": "Sicher einkaufen"
            },
            {
              "value": "shipping",
              "label": "Versand"
            },
            {
              "value": "quality",
              "label": "Qualitätsstandards"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "NewzZzletter abonnieren und 10% Gutschein sichern",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "text",
      "id": "payment_heading",
      "default": "Sicher bezahlen",
      "label": "Überschrift für Logos der Zahlmethoden"
    },
    {
      "type": "text",
      "id": "shipping_heading",
      "default": "Versand",
      "label": "Überschrift für Logos der Versandanbieter"
    },
    {
      "type": "text",
      "id": "social_heading",
      "default": "Folge uns",
      "label": "Überschrift für Logos der sozialen Netzwerke"
    },
    {
      "type": "text",
      "id": "quality_heading",
      "default": "Qualitätsstandards",
      "label": "Überschrift für Logos der Qualitätsstandards"
    },
    {
      "type": "image_picker",
      "id": "corporate_logo",
      "label": "Unternehmenslogo"
    },
    {
      "type": "text",
      "id": "corporate_slogan",
      "label": "Slogan des Unternehmens",
      "default": "#allyouneedissleep"
    },
    {
      "type": "link_list",
      "id": "legalLinks",
      "label": "Links in der Fußzeile"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "image"
      }
    ]
  }
}
{% endschema %}
