{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'sleepink-contact-form.css' | asset_url | stylesheet_tag }}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="cf-SectionGrid cf-pt-10 cf-pt-md-13 cf-pb-7 cf-pb-md-8 cf-px-5 cf-px-md-0">
<div class="contact cf-SectionGrid-Narrow">
  <h2 class="title cf-ff-heading cf-fs-30px cf-fs-md-38px cf-lh-32px cf-lh-md-44px cf-fw-400 cf-mb-5 cf-ls-m124">{{ section.settings.heading | escape }}</h2>
  <div class="cf-mb-11">{{ section.settings.subline }}</div>
  {%- form 'contact', id: 'ContactForm' -%}
    {%- if form.posted_successfully? -%}
      <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div class="contact__fields">
      <label class="field__label" for="ContactForm-name">Name*</label>
      <div class="field cf-noborder cf-nooutline">
        <input class="field__input cf-noborder cf-nooutline" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
      </div>
      <label class="field__label" for="ContactForm-email">E-Mail*</label>
      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
      </div>
    </div>
    {% comment %} <div class="field">
      <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
      <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
    </div> {% endcomment %}
    <label class="form__label field__label" for="ContactForm-body">Ihre Nachricht*</label>
    <div class="field cf-mb-8">
      <textarea
        rows="10"
        id="ContactForm-body"
        class="text-area field__input"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
      >
        {{- form.body -}}
      </textarea>
    </div>
    <div class="contact__button">
      <button type="submit" class="button cf-uppercase" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
        Absenden
      </button>
    </div>
  {%- endform -%}
</div>
</div>

{% schema %}
{
  "name": "Kontaktformular",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Wir sind für Sie da!",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subline",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Kontaktformular",
      "settings": {
        "heading": "Wir sind für Sie da!"
      }
    }
  ]
}
{% endschema %}
