{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid pt-10 pt-md-13 pb-7 pb-md-8 px-5 px-md-0">
<div class="contact SectionGrid-Narrow">
  <h2 class="title ff-heading fs-30px fs-md-38px lh-107 lh-md-116 fw-400 mb-5 ls-m124">{{ section.settings.heading | escape }}</h2>
  <div class="mb-11 fs-3 lh-130 fw-300 ff-body">{{ section.settings.subline }}</div>
  {%- form 'contact', id: 'ContactForm' -%}
    {%- if form.posted_successfully? -%}
      <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ section.settings.success_message | escape }}</div>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ section.settings.fail_message | escape }}</h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div class="contact__fields">
      <label class="field__label" for="ContactForm-name">{{ section.settings.name_label | escape }}*</label>
      <div class="field noborder nooutline">
        <input class="field__input noborder nooutline" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
      </div>
      <label class="field__label" for="ContactForm-email">{{ section.settings.email_label | escape }}*</label>
      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
      </div>
    </div>
    <label class="form__label field__label" for="ContactForm-body">{{ section.settings.message_label | escape }}*</label>
    <div class="field mb-8">
      <textarea
        rows="10"
        id="ContactForm-body"
        class="text-area field__input"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
      >
        {{- form.body -}}
      </textarea>
    </div>
    <div class="contact__button">
      <button type="submit" class="button cf-uppercase" style="background-color: {{ tagBackground }}; color: {{ tagForeground }};">
        Absenden
      </button>
    </div>
  {%- endform -%}
</div>
</div>

{% schema %}
{
  "name": "Kontaktformular",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Wir sind für Sie da!",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subline",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "name_label",
      "label": "Label für Name",
      "default": "Name"
    },
    {
      "type": "text",
      "id": "email_label",
      "label": "Label für E-Mail",
      "default": "E-Mail"
    },
    {
      "type": "text",
      "id": "message_label",
      "label": "Label für Nachricht",
      "default": "Ihre Nachricht"
    },
    {
      "type": "text",
      "id": "success_message",
      "label": "Statusmeldung bei erfolgreichem Versand",
      "default": "Vielen Dank für Ihre Nachricht! Wir melden uns bei Ihnen so bald wie möglich."
    },
    {
      "type": "text",
      "id": "fail_message",
      "label": "Statusmeldung bei fehlerhaftem Versand",
      "default": "Da ist etwas schiefgelaufen. Leider ist während der Verarbeitung Ihrer Nachricht ein Fehler aufgetreten. Versuchen Sie es bitte erneut."
    }
  ],
  "presets": [
    {
      "name": "Kontaktformular",
      "settings": {
        "heading": "Wir sind für Sie da!",
        "name_label": "Name",
        "email_label": "E-Mail",
        "message_label": "Ihre Nachricht",
        "success_message": "Vielen Dank für Ihre Nachricht! Wir melden uns bei Ihnen so bald wie möglich.",
        "fail_message": "Da ist etwas schiefgelaufen. Leider ist während der Verarbeitung Ihrer Nachricht ein Fehler aufgetreten. Versuchen Sie es bitte erneut."
      }
    }
  ]
}
{% endschema %}
