{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign total_slides = 0
  for block in section.blocks
    if block.settings.featured_product != blank
      assign product_image_size = block.settings.featured_product.images.size
      assign total_slides = total_slides | plus: product_image_size
    endif
  endfor
-%}

<slideshow-component
  class="slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}"
  role="region"
  aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
  aria-label="{{ section.settings.accessibility_info | escape }}"
>
  {%- if section.settings.auto_rotate and total_slides > 1 -%}
    <div class="slideshow__controls slideshow__controls--top slider-buttons">
      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
      <div class="slider-counter slider-counter--{{ section.settings.slider_visual }} caption">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
        <span class="slider-counter--total">{{ total_slides }}</span>
      </div>
      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>

      <button
        type="button"
        class="slideshow__autoplay slider-button"
        aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-pause.svg' | inline_asset_content -}}
        </span>
        <span class="svg-wrapper">
          {{- 'icon-play.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  {%- endif -%}

  <div
    class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider slider--everywhere"
    id="Slider-{{ section.id }}"
    aria-live="polite"
    aria-atomic="true"
    data-autoplay="{{ section.settings.auto_rotate }}"
    data-speed="{{ section.settings.change_slides_speed }}"
  >
    {%- for block in section.blocks -%}
      {%- if block.settings.featured_product != blank -%}
        {%- for image in block.settings.featured_product.images -%}
          {%- liquid
            assign height = image.width | divided_by: image.aspect_ratio | round
            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            assign fetch_priority = 'auto'
            if forloop.first and block.shopify_attributes contains 'aria-current="true"'
              assign fetch_priority = 'high'
            endif
          -%}
          <div
            class="slideshow__slide grid__item grid--1-col slider__slide"
            id="Slide-{{ section.id }}-{{ forloop.parentloop.index }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
            role="group"
            aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            tabindex="-1"
          >
            <div class="slideshow__media banner__media media">
              {{ image | image_url: width: 3840 | image_tag: loading: 'lazy', height: height, sizes: '100vw', widths: widths, fetchpriority: fetch_priority }}
            </div>
            <div class="slideshow__text-wrapper banner__content banner__content--middle-center page-width">
              <div class="slideshow__text banner__box content-container color-{{ block.settings.color_scheme }} gradient slideshow__text--center">
                <div class="banner__buttons">
                  <a
                    href="{{ block.settings.featured_product.url }}"
                    class="button button--primary"
                  >
                    Shop Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      {%- else -%}
        <div class="slideshow__slide grid__item grid--1-col slider__slide" id="Slide-{{ section.id }}-{{ forloop.index }}" role="group">
            <div class="slideshow__media banner__media media placeholder">
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="slideshow__text-wrapper banner__content banner__content--middle-center page-width">
              <div class="slideshow__text banner__box">
                <h2 class="banner__heading h1">Add a product to get started</h2>
                <div class="banner__text rte"><p>Select a product in the theme editor to display its images here.</p></div>
              </div>
            </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</slideshow-component>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "t:sections.slideshow.settings.accessibility.default"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Product Slide",
      "limit": 5,
      "settings": [
        {
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}