{% unless current_tags %}
<div class="page-width">
  <div class="cpb-main-visual tw-mb-12">
    <swiper-container
        space-between="30"
        effect="fade"
        loop="true"
        autoplay="true"
        init="false"
    >
      {% for block in section.blocks %}
        <swiper-slide class="!tw-h-auto tw-bg-white">
        {% if block.settings.link %}<a href="{{ block.settings.link }}" class="tw-text-current">{% endif %}
            <div class="cpb-main-visual__item">
              <picture>
                <source media="(max-width: 768px)"
                        srcset="{{ block.settings.image_sp | image_url: width: 1242, height: 932 }}">
                <img src="{{ block.settings.image | image_url: width: 1400, height: 500 }}"
                     alt="{{ block.settings.title }}" width="1400" height="500">
              </picture>
              <div class="textarea {% if block.settings.is_text_right %}area-right{% endif %}">
                <div class="text_inner">
                  <div class="text">
                    <p class="tw-whitespace-pre-wrap {% if block.settings.is_title_white %}md:tw-text-white{% endif %}">{{ block.settings.title }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% if block.settings.link %}</a>{% endif %}
        </swiper-slide>
      {% endfor %}
      <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
    </swiper-container>
  </div>
</div>
{% endunless %}

{% schema %}
{
  "name": "CPBスライダー",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 10,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "テキスト",
          "label": "テキスト"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_sp",
          "label": "SP画像"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "is_title_white",
          "default": false,
          "label": "タイトルを白色にする"
        },
        {
          "type": "checkbox",
          "id": "is_text_right",
          "default": false,
          "label": "テキストを右寄せにする"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CPBスライダー"
    }
  ]
}
{% endschema %}
