{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .swiper-slider-{{ section.id }} .swiper-pagination-bullet-active circle {
    fill: {{ section.settings.color_scheme.settings['button'] }};
  }
  .swiper-slider-{{ section.id }} .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: {{ section.settings.color_scheme.settings['button'] }};
  }
{%- endstyle -%}

{%- if section.settings.enable_custom_aspect_ratio -%}
  {% style %}
    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }} {
        aspect-ratio: {{ section.settings.custom_aspect_ratio }};
      }
    }

    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }} {% if section.settings.show_text_below %}.banner__media{% endif %} {
        aspect-ratio: {{ section.settings.custom_aspect_ratio }};
        position: relative;
      }
    }
  {% endstyle %}
{%- endif -%}

{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{% liquid
  assign is_collection = false
  if template.name == 'collection'
    assign is_collection = true
  endif

  for block in section.blocks
    assign without_image = false
    if block.settings.image == blank
      assign without_image = true
    endif
  endfor
%}

<slider-component
  class="swiper swiper-slider-{{ section.id }} {% if section.settings.show_text_below %} mobile-text-below{% endif %} banner--wrapper slideshow__wrapper"
  id="slider-{{ section.id }}"
  data-slider="true"
  data-direction="horizontal"
  data-loop="true"
  data-slides-per-view-desktop="1"
  data-slides-per-view-mobile="1"
  data-autoplay="{{ section.settings.auto_rotate }}"
  data-autoplay-speed="{{ section.settings.change_slides_speed }}000"
  data-pagination-type="{{ section.settings.pagination_type }}"
  data-space-between-mobile="16"
  data-space-between-desktop="20"
>
  <div
    class="swiper-wrapper slideshow {% unless section.settings.enable_custom_aspect_ratio %}banner--{{ section.settings.slide_height }}{% else %}banner--aspect-ratio{% endunless %} {% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if without_image and is_collection %}collection__empty_data{% endif %}"
    id="Slider-{{ section.id }}"
  >
    {%- for block in section.blocks -%}
      <style>
        #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
          opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
        }
        #Slide-{{ section.id }}-{{ forloop.index }} .banner::after,
        #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
          background-color: {{ block.settings.overlay_color }};
        }
      </style>
      <div
        class="swiper-slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
        {{ block.shopify_attributes }}
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
        aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        tabindex="-1"
      >
        <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
          {%- if block.settings.image -%}
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
              assign fetch_priority = 'auto'
              if section.index == 1
                assign fetch_priority = 'high'
              endif
              if block.settings.image_mobile != blank
                assign desktop_class = 'desktop_image'
              endif
            -%}
            {%- if forloop.first %}
              {{
                block.settings.image
                | image_url: width: 3840
                | image_tag:
                  height: height,
                  sizes: sizes,
                  widths: widths,
                  fetchpriority: fetch_priority,
                  class: desktop_class
              }}
              {% if block.settings.image_mobile != blank %}
                {{
                  block.settings.image_mobile
                  | image_url: width: 3840
                  | image_tag:
                    height: height,
                    sizes: sizes,
                    widths: widths,
                    fetchpriority: fetch_priority,
                    class: 'mobile_image'
                }}
              {% endif %}
            {%- else -%}
              {{
                block.settings.image
                | image_url: width: 3840
                | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: desktop_class
              }}
              {% if block.settings.image_mobile != blank %}
                {{
                  block.settings.image_mobile
                  | image_url: width: 3840
                  | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: 'mobile_image'
                }}
              {% endif %}
            {%- endif -%}
          {%- elsif is_collection -%}
          {%- else -%}
            {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
            {%- if placeholder_slide == 1 -%}
              {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          {%- endif -%}
        </div>
        <div class="slideshow__text-wrapper banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll and forloop.index == 1 %} scroll-trigger animate--slide-in{% endif %}">
          <div class="slideshow__text banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
            {%- if block.settings.subheading != blank -%}
              <div class="banner__text text-bold rte" {{ block.shopify_attributes }}>
                <p>{{ block.settings.subheading }}</p>
              </div>
            {% elsif is_collection and collection.description != blank %}
              <div class="banner__text text-bold rte" {{ block.shopify_attributes }}>
                <p>{{ collection.title }}</p>
              </div>
            {%- endif -%}
            {%- if block.settings.heading != blank -%}
              {% unless block.settings.heading_element_custom %}
                <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                  {{ block.settings.heading }}
                </h2>
              {% else %}
                {% render 'headings',
                  heading_size: block.settings.heading_size,
                  heading_element: block.settings.heading_element,
                  title: block.settings.heading,
                  class: 'banner__heading inline-richtext'
                %}
              {% endunless %}
            {% elsif is_collection %}
              {% unless block.settings.heading_element_custom %}
                <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                  {% if collection.description != blank %}
                    {{ collection.description | strip_html | truncatewords: 5 }}
                  {% else %}
                    {{ collection.title }}
                  {% endif %}
                </h2>
              {% else %}
                {% render 'headings',
                  heading_size: block.settings.heading_size,
                  heading_element: block.settings.heading_element,
                  title: collection.description,
                  class: 'banner__heading inline-richtext'
                %}
              {% endunless %}
            {%- endif -%}
            {%- if block.settings.button_label != blank -%}
              <div class="banner__buttons">
                <a
                  {% if block.settings.link %}
                    href="{{ block.settings.link }}"
                  {% else %}
                    role="link" aria-disabled="true"
                  {% endif %}
                  class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}"
                >
                  {{- block.settings.button_label | escape -}}
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>

  <div class="swiper-pagination__group">
    <div class="swiper-button swiper-button-prev swiper-prev-button-slider-{{ section.id }}">
      {% render 'icon-caret' %}
    </div>
    <div class="swiper-pagination swiper-pagination-slider-{{ section.id }}"></div>
    <div class="swiper-button swiper-button-next swiper-next-button-slider-{{ section.id }}">
      {% render 'icon-caret' %}
    </div>
  </div>
</slider-component>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_aspect_ratio",
      "label": "t:sections.slideshow.settings.slide_aspect_ratio.enable_custom_aspect_ratio.label",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_aspect_ratio",
      "label": "t:sections.slideshow.settings.slide_aspect_ratio.custom_aspect_ratio.label",
      "default": "2/1",
      "info": "t:sections.slideshow.settings.slide_aspect_ratio.custom_aspect_ratio.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.navigation_label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "bullets",
          "label": "t:sections.slideshow.settings.pagination_type.options__1.label"
        },
        {
          "value": "fraction",
          "label": "t:sections.slideshow.settings.pagination_type.options__2.label"
        }
      ],
      "default": "bullets",
      "label": "t:sections.slideshow.settings.pagination_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "t:sections.slideshow.settings.accessibility.default"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.slideshow.blocks.slide.settings.image_mobile.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__0.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.options__6.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
          "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_color.label",
          "default": "#000000"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.settings.mobile.content"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.heading_element_header.content"
        },
        {
          "type": "checkbox",
          "id": "heading_element_custom",
          "label": "t:sections.all.heading_element_custom.label",
          "info": "t:sections.all.heading_element_custom.info",
          "default": false
        },
        {
          "type": "select",
          "id": "heading_element",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_element.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_element.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_element.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_element.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_element.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_element.options__6.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_element.label",
          "info": "t:sections.all.heading_element.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
