{{ 'small-page-hero.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    #Banner-{{ section.id }}::before, #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase

  case section.settings.heroWidth
    when 'full'
      assign heroWidth = "sph-SectionGrid-Full"
    when 'wide'
      assign heroWidth = "sph-SectionGrid-Wide"
    when 'narrow'
      assign heroWidth = "sph-SectionGrid-Narrow"
    else
      assign heroWidth = "sph-SectionGrid-Full"
  endcase

  case section.settings.alignment
    when left
      assign justify = "sph-ta-l"
      assign column = "sph-col-2-4"
    when center
      assign justify = "sph-ta-c"
      assign column = "sph-col-3"
    else
      assign justify = "sph-ta-c"
      assign column = "sph-col-3"
  endcase
%}

<div class="sph-SectionGrid color-{{ section.settings.color_scheme }}">
  <div class="{{ heroWidth | escape }}">
    <div class="sph-desktopgrid {% if section.settings.height == 'high' %}sph-h-600px{% else %}sph-h-350px{% endif %} sph-grid-5col" style="background-color: {{ section.settings.backgroundColor }};">
      {% if section.settings.imageDesktop %}
        <img src="{{ section.settings.imageDesktop | img_url: '2000x' }}" alt="{{ section.settings.imageDesktop.alt }}" class="sph-col-1-5 sph-row-1 sph-w-100p" width="1200" height="600">
      {% endif %}
      <div class="sph-flex sph-row sph-ai-c {{ justify | escape }} {{ column | escape }} sph-row-1 sph-w-95p sph-my-7 sph-my-md-12">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pageheader",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "Farbschema"
    },
    {
      "type": "image_picker",
      "id": "imageDesktop",
      "label": "Hintergrundbild für Desktop"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "Hintergrundbild für Mobil/Tablet"
    },
    {
      "type": "text",
      "id": "title",
      "default": "All you need is sleep.",
      "label": "Überschrift"
    },
    {
      "type": "checkbox",
      "id": "uppercaseTitle",
      "default": true,
      "label": "Überschrift in Großbuchstaben?"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Ihre Experten für Premium-Schlafprodukte",
      "label": "Subline"
    },
    {
      "type": "url",
      "id": "url",
      "default": "/collections/all",
      "label": "URL hinter dem Button"
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "Mehr erfahren",
      "label": "Aufschrift des Buttons"
    }
  ],
  "presets": [
    {
      "name": "Page Hero",
      "settings": {
        "color_scheme": "background-1",
        "title": "All you need is sleep.",
        "uppercaseTitle": true,
        "text": "Ihre Experten für Premium-Schlafprodukte",
        "url": "/collections/all",
        "buttonText": "Mehr erfahren"
      }
    }
  ]
}
{% endschema %}
