{% comment %} {{ 'smshr-menu-drawer.css' | asset_url | stylesheet_tag }} {% endcomment %}

{{ 'smshrs-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'color-picker.css' | asset_url | stylesheet_tag }}

{% comment %}
  if collection.url
    assign results_url = collection.url
  else
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
{% endcomment %}

{% liquid
  assign products_per_page = 24

  assign product_count = collection.products_count

  if collection.results_count
    assign product_count = collection.results_count
  elsif collection.products_count == collection.all_products_count
    assign product_count = collection.products_count
  else
    assign product_count = collection.products_count
  endif

  assign filter_count = 3 | prepend: '(' | append: ')'
  assign filter_label = 'filter ' | append: filter_count

  assign sort_by = collection.sort_by | default: collection.default_sort_by
  assign default_presentation = 'text'

  assign swatch_colors = settings.swatch_colors | newline_to_br | split: '<br />'
%}

{%- paginate collection.products by products_per_page -%}
  <div class="sticky top-16 bg-white py-2.5 px-base lg:px-0 lg:py-[6px] flex justify-between items-center border-b border-b-grey100 lg:border-b-0">
    <div class="text-t-sm">
      Hölzer (<span id="ProductCount">{{ product_count }}</span>)
    </div>

    <facet-filters-form class="facets facets-vertical-sort page-width hidden lg:block">
      <form class="facets-vertical-form" id="FacetSortForm">
        <div class="facet-filters sorting caption">
          <div class="facet-filters__field bg-white relative w-[180px]">
            <span class="left-0 absolute top-1/2 -translate-y-1/2 text-body-xs">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </span>

            <div class="select relative z-10">
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <select
                name="sort_by"
                class="select__select truncate appearance-none bg-transparent border-0 pl-[100px] pr-5 text-body-xs w-[180px]"
                id="SortBy"
                aria-describedby="a11y-refresh-page-message"
              >
                {{ 'products.facets.sort_by_label' | t -}}
                :
                {%- for option in collection.sort_options -%}
                  <option
                    class="text-body-xs"
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>
            </div>

            <span class="absolute right-0 top-1/2 -translate-y-[42%]">
              {% render 'icon-chevron-down', class: 'w-4 h-4 ' %}
            </span>
          </div>
        </div>
      </form>
    </facet-filters-form>

    <menu-drawer
      class="mobile-facets__wrapper lg:hidden"
      data-breakpoint="mobile"
    >
      <details id="mobile_facet_smshrs" class="mobile-facets__disclosure disclosure-has-popup">
        <summary id="test2" class="mobile-facets__open-wrapper focus-offset">
          <span class="mobile-facets__open inline-flex justify-center items-center gap-[10px] rounded-4xl disabled:bg-grey300 disabled:text-grey500 bg-grey50 text-black hover:bg-btnGradient h-[28px] py-[10px] px-large btn-xs icon icon-filter">
            {{ filter_label }}
          </span>
        </summary>

        <facet-filters-form>
          <form id="FacetFiltersFormMobile" class="mobile-facets pointer-events-none">
            <div class="mobile-facets__inner gradient px-base pt-[26px]">
              <div class="mobile-facets__header">
                <div class="mobile-facets__header-inner py-2.5 w-full flex justify-between items-end border-b border-b-grey100">
                  <h2 class="mobile-facets__heading text-t-sm capitalize">filter</h2>

                  <span
                    id="mobile_facets_close"
                    class="inline-flex justify-center items-center gap-[10px] rounded-4xl disabled:bg-grey300 disabled:text-grey500 bg-black text-white hover:bg-sky hover:text-white h-[28px] btn-xs px-large py-2.5 w-[85px]"
                    type="button"
                    name=""
                  >
                    <span> close </span>
                  </span>
                </div>
              </div>

              <div
                id="FacetsWrapperMobile"
                class="mobile-facets__main border-b border-b-grey100 has-submenu gradient"
              >
                <div
                  id="Details-Mobile-SortBy-{{ section.id }}"
                  class="mobile-facets__details js-filter my-base"
                  data-index="mobile-"
                >
                  <div class="mobile-facets__summary">
                    <div class="mobile-facets__sort relative w-full">
                      <span class="left-0 absolute top-1/2 -translate-y-1/2 text-body-xs">
                        <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                      </span>

                      <div class="select">
                        <select
                          name="sort_by"
                          class="select__select truncate appearance-none bg-transparent border-0 pl-[100px] pr-5 text-body-xs w-full"
                          id="SortBy-mobile"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                              class="text-body-xs"
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>

                      <span class="absolute right-0 top-1/2 -translate-y-[42%]">
                        {% render 'icon-chevron-down', class: 'w-4 h-4 ' %}
                      </span>
                    </div>
                  </div>
                </div>

                {%- for filter in collection.filters -%}
                  {% liquid
                    assign presentation = filter.presentation | default: default_presentation
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                    assign filter_name = filter.label | downcase
                    assign show_more_number = 10
                  %}

                  {% case filter_name %}
                    {% when 'marke', 'vendor' %}
                      <details
                        id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="facets__disclosure-vertical js-filter border-t border-t-grey100 py-4"
                        data-index="{{ forloop.index }}"
                        {% if forloop.index == 1 %}
                          open
                        {% endif %}
                      >
                        <summary
                          class="facets__summary caption-large focus-offset"
                          aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                        >
                          <div class="flex justify-between gap-small items-center py-mini">
                            <span class="facets__summary-label">
                              Herstellar
                              <span class="facets__selected{% if filter.active_values.size == 0 %} hidden{% endif %}">
                                ({{ filter.active_values.size }})</span
                              >
                            </span>

                            {%- if filter.operator == 'AND' -%}
                              <span class="facets__and-helptext">
                                {{ 'products.facets.filter_and_operator_subtitle' | t }}
                              </span>
                            {%- endif -%}

                            {% render 'icon-chevron-down', class: 'w-4 h-4' %}
                          </div>
                        </summary>

                        <div
                          id="Facet-{{ forloop.index }}-{{ section.id }}"
                          class="parent-display mt-small facets__display-vertical"
                        >
                          <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                            <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                            {%- liquid
                              assign sorted_values = filter.values
                              # Keep the selected values grouped together when operator is AND
                              if filter.operator == 'AND'
                                assign active_filter_values = filter.values | where: 'active', true
                                assign inactive_filter_values = filter.values | where: 'active', false
                                assign sorted_values = active_filter_values | concat: inactive_filter_values
                              endif
                            -%}
                            <ul
                              class="{{ visual_layout_class }} facets__list--vertical list-unstyled"
                              role="list"
                            >
                              {%- for value in sorted_values -%}
                                {% liquid
                                  assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                  assign is_disabled = false
                                  if value.count == 0 and value.active == false
                                    assign is_disabled = true
                                  endif
                                %}
                                {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                                {%- capture text_value -%}
                          <span class="facet-checkbox__text leading-[18px]" aria-hidden="true">
                            <span class="facet-checkbox__text-label text-body-xs text-black">{{- value.label | escape }} ({{- value.count -}})</span> 
                          </span>

                          <span class="visually-hidden">
                            {{- value.label | escape }} (
                            {%- if value.count == 1 -%}
                              {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                            {%- else -%}
                              {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                            {%- endif -%}
                            )
                          </span>
                        {%- endcapture -%}
                                <li class="list-menu__item facets__item py-mini {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                  {% render 'multi-select',
                                    name: value.param_name,
                                    value: value.value,
                                    id: input_id,
                                    is_checked: value.active,
                                    is_disabled: is_disabled,
                                    label_class: label_class,
                                    text_value: text_value
                                  %}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </fieldset>
                          {%- if filter.values.size > show_more_number -%}
                            <show-more-button>
                              <button
                                class="button-show-more link underlined-link"
                                id="Show-More-{{ forloop.index }}-{{ section.id }}"
                                type="button"
                              >
                                <span class="label-show-more label-text"
                                  ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                                </span>
                                <span class="label-show-less label-text hidden"
                                  ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                                </span>
                              </button>
                            </show-more-button>
                          {%- endif %}
                        </div>
                      </details>
                    {% when 'größe', 'size' %}
                      <details
                        id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="facets__disclosure-vertical js-filter border-t border-t-grey100 py-4"
                        data-index="{{ forloop.index }}"
                        {% if forloop.index == 1 %}
                          open
                        {% endif %}
                      >
                        <summary
                          class="facets__summary caption-large focus-offset"
                          aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                        >
                          <div class="flex justify-between gap-small items-center py-mini">
                            <span class="facets__summary-label">
                              {{ filter.label }}
                              <span class="facets__selected{% if filter.active_values.size == 0 %} hidden{% endif %}">
                                ({{ filter.active_values.size }})</span
                              >
                            </span>

                            {%- if filter.operator == 'AND' -%}
                              <span class="facets__and-helptext">
                                {{ 'products.facets.filter_and_operator_subtitle' | t }}
                              </span>
                            {%- endif -%}

                            {% render 'icon-chevron-down', class: 'w-4 h-4' %}
                          </div>
                        </summary>

                        <div
                          id="Facet-{{ forloop.index }}-{{ section.id }}"
                          class="parent-display mt-small facets__display-vertical"
                        >
                          <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                            <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                            {%- liquid
                              assign sorted_values = filter.values
                              # Keep the selected values grouped together when operator is AND
                              if filter.operator == 'AND'
                                assign active_filter_values = filter.values | where: 'active', true
                                assign inactive_filter_values = filter.values | where: 'active', false
                                assign sorted_values = active_filter_values | concat: inactive_filter_values
                              endif
                            -%}
                            <ul
                              class="{{ visual_layout_class }} facets__list--vertical list-unstyled grid grid-cols-3 gap-mini"
                              role="list"
                            >
                              {%- for value in sorted_values -%}
                                {% liquid
                                  assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                  assign is_disabled = false
                                  if value.count == 0 and value.active == false
                                    assign is_disabled = true
                                  endif
                                %}
                                {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                                {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                                <li class="list-menu__item facets__item {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                  {% assign label = value.label | escape %}

                                  {% render 'multi-size-select',
                                    name: value.param_name,
                                    value: value.value,
                                    id: input_id,
                                    is_checked: value.active,
                                    is_disabled: is_disabled,
                                    label: label
                                  %}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </fieldset>
                          {%- if filter.values.size > show_more_number -%}
                            <show-more-button>
                              <button
                                class="button-show-more link underlined-link"
                                id="Show-More-{{ forloop.index }}-{{ section.id }}"
                                type="button"
                              >
                                <span class="label-show-more label-text"
                                  ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                                </span>
                                <span class="label-show-less label-text hidden"
                                  ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                                </span>
                              </button>
                            </show-more-button>
                          {%- endif %}
                        </div>
                      </details>
                    {% when 'farbe', 'color' %}
                      <details
                        id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="facets__disclosure-vertical js-filter border-t border-t-grey100 py-4"
                        data-index="{{ forloop.index }}"
                        {% if forloop.index == 1 %}
                          open
                        {% endif %}
                      >
                        <summary
                          class="facets__summary caption-large focus-offset"
                          aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                        >
                          <div class="flex justify-between gap-small items-center py-mini">
                            <span class="facets__summary-label">
                              {{ filter.label }}
                              <span class="facets__selected{% if filter.active_values.size == 0 %} hidden{% endif %}">
                                ({{ filter.active_values.size }})</span
                              >
                            </span>

                            {%- if filter.operator == 'AND' -%}
                              <span class="facets__and-helptext">
                                {{ 'products.facets.filter_and_operator_subtitle' | t }}
                              </span>
                            {%- endif -%}

                            {% render 'icon-chevron-down', class: 'w-4 h-4' %}
                          </div>
                        </summary>

                        <div
                          id="Facet-{{ forloop.index }}-{{ section.id }}"
                          class="parent-display mt-small facets__display-vertical"
                        >
                          <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                            <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                            {%- liquid
                              assign sorted_values = filter.values
                              # Keep the selected values grouped together when operator is AND
                              if filter.operator == 'AND'
                                assign active_filter_values = filter.values | where: 'active', true
                                assign inactive_filter_values = filter.values | where: 'active', false
                                assign sorted_values = active_filter_values | concat: inactive_filter_values
                              endif
                            -%}
                            <ul
                              class="{{ visual_layout_class }} facets__list--vertical list-unstyled flex flex-wrap gap-small"
                              role="list"
                            >
                              {%- for value in sorted_values -%}
                                {% liquid
                                  assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                                  assign is_disabled = false
                                  if value.count == 0 and value.active == false
                                    assign is_disabled = true
                                  endif
                                %}
                                {%- capture label_class -%}
                          facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                        {%- endcapture -%}

                                <li class="list-menu__item facets__item  {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                                  <input
                                    type="checkbox"
                                    class="color-swatch hide_input {% if is_disabled %} disabled{% endif %}"
                                    id="{{ input_id }}"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if is_disabled %}
                                      disabled
                                    {% endif %}
                                  >
                                  {%- liquid
                                    for color_data in swatch_colors
                                      assign color_data_arr = color_data | split: ':'
                                      assign rule_name = color_data_arr[0] | strip
                                      assign color_value = value.value | downcase
                                      if color_value == rule_name
                                        assign color_codes = color_data_arr[1] | strip | split: '#'
                                        assign color_number = 0 | plus: color_codes.size
                                        break
                                      endif
                                    endfor
                                  -%}

                                  <label
                                    data-{{ filter_name }}="{{value.value}}"
                                    style="
                                      {%- case color_number -%}
                                      {%- when 2 -%}
                                          background-color: #{{ color_codes[1] }}
                                      {%- when 3 -%}
                                          background: linear-gradient(135deg, #{{ color_codes[1] }} 50%, #{{ color_codes[2] }} 50%);
                                      {%- when 4 -%}
                                          background: linear-gradient(to right,#{{ color_codes[1] }} 33%,#{{ color_codes[2] }} 33%,#{{ color_codes[2] }} 66%, #{{ color_codes[3] }} 66%);
                                      {%- else -%}
                                          background-image:url({{ color_codes[0] | downcase | replace: ' ', '-' | file_img_url }})
                                      {%- endcase -%};
                                    "
                                    class="flex relative swatch-label round rounded-full w-8 h-8 bg-no-repeat bg-center bg-cover border border-grey100 {{ label_class }}"
                                    for="{{input_id}}"
                                  >
                                    <span class="visually-hidden">
                                      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
                                    </span>
                                  </label>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </fieldset>
                          {%- if filter.values.size > show_more_number -%}
                            <show-more-button>
                              <button
                                class="button-show-more link underlined-link"
                                id="Show-More-{{ forloop.index }}-{{ section.id }}"
                                type="button"
                              >
                                <span class="label-show-more label-text"
                                  ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                                </span>
                                <span class="label-show-less label-text hidden"
                                  ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                                </span>
                              </button>
                            </show-more-button>
                          {%- endif %}
                        </div>
                      </details>
                  {% endcase %}
                {%- endfor -%}
              </div>
            </div>
          </form>
        </facet-filters-form>
      </details>
    </menu-drawer>
  </div>

  <div class="flex gap-8 mt-small">
    <div class="self-stretch w-[19.5%] shrink-0  hidden lg:block">
      <aside
        aria-labelledby="verticalTitle"
        class="facets-wrapper facets-wrapper--no-filters w-full sticky top-[132px] self-baseline border-b border-b-grey100"
        id="main-collection-filters"
      >
        {% render 'smshr-facets',
          results: collection,
          paginate: paginate,
          enable_filtering: true,
          enable_sorting: true,
          filter_type: 'vertical'
        %}
      </aside>
    </div>

    <div class="product-grid-container" id="ProductGridContainer">
      <div class="collection">
        <div class="loading-overlay gradient"></div>

        <ul
          id="product-grid"
          data-next-url="{{ paginate.next.url }}"
          data-per-page="{{ paginate.page_size }}"
          data-id="{{ section.id }}"
          class="mx-auto flex flex-wrap justify-center xl:justify-start flex-grow products-wrapper"
        >
          {%- for product in collection.products -%}
            <li
              class="min-[380px]:w-[190px] min-[396px]:w-[198px] lg:basis-[320px] shrink-0 product-item"
            >
              {% render 'product-card', product: product %}
            </li>
          {%- endfor -%}
        </ul>

        {% unless paginate.items == 0 %}
          <div class="pt-8 pb-12 flex flex-col items-center w-full gap-small">
            <p id="ProductCountDesktop" class="text-body-xs text-grey500">
              Showing
              <span id="item_count"> </span>
              of
              <span id="total_item_count">
                {{ paginate.items }}
              </span>
              items
            </p>
            {% if paginate.pages > 1 %}
              <div class="flex self-stretch relative justify-center">
                {% render 'button',
                  variant: 'secondary',
                  size: 'sm',
                  text: 'load more',
                  classes: 'flex-grow load-more max-w-[360px]'
                %}
                {% render 'loading-spinner', class: 'stroke-grey500 load-more-spinner hidden' %}
              </div>
            {% endif %}
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
{% endpaginate %}

<script src="{{ 'paginate.js' | asset_url }}" defer="defer"></script>
