{%- style -%}
  #Spacer-{{ section.id }} {
    height: {{ section.settings.height | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #Spacer-{{ section.id }} {
      height: {{ section.settings.height }}px;
    }
  }
{%- endstyle -%}

<div
  id="Spacer-{{ section.id }}"
  class="color-{{ section.settings.color_scheme }} color-{{ section.settings.color_scheme }}"
></div>

{% schema %}
{
  "name": "Spacer",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "height",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Height",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Spacer"
    }
  ]
}
{% endschema %}
