{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap-rtl.css' | asset_url | stylesheet_tag }}

<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" type="text/css" media="all"/>
{%style%}
.page-cover {
background-position: center center;
		background-repeat: no-repeat;
		height: auto;
		background-size: cover;
		min-height: 500px;
	  padding-top: 80px;
	  padding-bottom: 80px;
	 box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
margin-bottom: 40px;
	}

	@media (max-width: 750px) { 
	.page-cover {

min-height: 0;
	}
	}


.inner {
padding-top: 40px;
padding-bottom: 40px;
}

.bottle {
  display: block;
  margin-right: auto;
  width: auto;
  height: 400px;
  margin-left: auto;
  
  }


  .logo {
  animation: border-flicker 2s linear infinite;
display: block;
  margin-right: auto;
  width: auto;
  height: 400px;
  margin-left: auto;
  }

@media (max-width: 750px) {
.logo {
 
  margin-right: auto;
  width: auto;
  height: 200px;
  margin-left: auto;
  
  }
}

.drink-grid {
  display: flex;
  flex-wrap: wrap;
		margin: 0px;
		list-style: none;
		justify-content: space-between;
  width: 100%;
}

.drink-grid div {
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
}
  


.drink-grid  div:last-child {
  flex-grow: 10;
}

.drink-grid div img {
	width: 100px;
	height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 30px;
}

.drink-grid div h4 {
font-weight: 500;
}

@media (max-width: 750px) {
	
.drink-grid div {
  flex-basis: calc(50% - 10px);
  margin-bottom: 35px;

	}

}


.drink-container h1, .tc-container h2, .how-container h2 {
text-transform: uppercase!important;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
font-weight: 900;
display: flex;
align-items: center;
  justify-content: center;
color: white!important;

}





.how-container > * {
color: black!important;
}





<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{%endstyle%}
<div class="page-cover vendor-cover d-flex h-100 flex-column justify-content-center align-items-center align-middle" style="background-image: url('https://cdn.shopify.com/s/files/1/2071/7563/files/wall-2059909_1280.png?v=1628176442');">

</div>

<div class="page-width inner">
  
  <div class="drink-container" id="open-drink" style="display:none">
    <h1><span style="background-color: black; padding: 3px;">Today's Drink</span></h1>
   <div class="row gx-5">
      <div class="col-md">
     
          <img src="{{ section.settings.image  | img_url: 'master' }}" class="img-fluid drink" loading="lazy">
      
      </div>

      <div class="col-md">
 
          <h2 class="text-left h1 mt-0">{{section.settings.drink_title}}</h2>
          <div class="d-flex justify-content-between">
            <p>{{section.settings.description}}</p>
       
  </div>
  
  </div>
  </div>
  </div>
  
  <div class="drink-container" id="closed-drink" style="display:none">
   <h1><span style="background-color: black; padding: 3px;">Today's Drink</span></h1>
    <p class="text-center">Sorry, come back Monday to claim your FREE drink!</p>
    <img class="bottle" src="https://cdn.shopify.com/s/files/1/2071/7563/files/broken_bottle_NOTblack_72dpi.jpg?v=1614359687">
  </div>

  

</div>
<hr>

<div class="page-width inner">
  <div class="how-container">
    <h2><span style="background-color: black; padding: 3px;">How It Works</span></h2>
    <div class="row">
      <div class="col-md text-center">
        <h3 class="h2">Wait For The Drop</h3>
        <i class="fas fa-hourglass-start fa-xl"></i>
        <p>Every Monday, we'll drop a new Happy Hour beer</p>
        
      </div>
      <div class="col-md text-center">
        <h3 class="h2">Start Shopping</h3>
        <i class="fas fa-shopping-cart fa-xl"></i>
        <p>Add the beer to your cart, and we'll automatically add the FREE one</p>
      </div>
      <div class="col-md text-center">
        <h3 class="h2">Claim FREE Drink</h3>
      <i class="fas fa-beer fa-xl"></i>
        <p>Wait for your FREE beer to arrive, and enjoy</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="page-width inner">
  <div class="tc-container" id="case">

<h2><span style="background-color: black; padding: 3px;">This Month's Case</span></h2>
  <p class="text-center">Here's what will be in {{ "now" | date: "%B" }}'s case</p>
	<div class="drink-grid text-center">
	<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/yes_e3584df1-c5ca-4a90-89ab-eb35fb66d189.png?v=1623007552" alt=""/>
		<h3>YES</h3>
      <h4>First Chop</h4>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/sanmiguel_0bc137b0-b26e-49f8-b7d4-2916392cc22f.png?v=1623007552" alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>San Miguel 0.0</strong></p>
		<p style="text-align: center; margin-top: 0px;">San Miguel</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/runwild_79058ab7-b8b4-4d20-8430-a3a1a7127fb6.png?v=1623007552"  alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>Run Wild</strong></p>
		<p style="text-align: center; margin-top: 0px;">Athletic Brewing</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/brunedmc_dfba9d5b-5fc0-48f2-b2bc-ff5a8fe2f1f3.png?v=1623007552"  alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>Brune-DMC</strong></p>
		<p style="text-align: center; margin-top: 0px;">Lowtide Brewing</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/pointfive_7493f97f-5b93-480f-af64-2ba98db5b53d.png?v=1623007552" alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>Point Five</strong></p>
		<p style="text-align: center; margin-top: 0px;">Funky Fluid</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/lazercrush_a7dc6843-e5dd-4fc7-96dc-49fa7e78eacc.png?v=1623007552" alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>Lazer Crush</strong></p>
		<p style="text-align: center; margin-top: 0px;">Beavertown</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/iamdeath_cbb1c25d-fe79-4645-909d-a41ed117e5bf.png?v=1623007552" alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>I Am Become Death Destroyer</strong></p>
		<p style="text-align: center; margin-top: 0px;">Mash Gang</p>
		</div>
		<div><img src="https://cdn.shopify.com/s/files/1/2071/7563/files/freepanda_f979dad7-d47f-42e3-86ff-d05cb5e8cef1.png?v=1623007552" alt=""/>
		<p style="text-align: center; margin-bottom: 0px;"><strong>Free PAN DA</strong></p>
		<p style="text-align: center; margin-top: 0px;">Browar Nepomucen</p>
		</div>
	</div>
	<a href="https://www.lightdrinks.co.uk/products/lo-no-alcohol-free-club-subscription" class="start-btn" style="margin-top: 30px;">Become a Member</a>
</div>
  </div>


{% schema %}
{
"name": "No\Lo Club",
"max_blocks": 8,
"settings": [

  {
    "type": "checkbox",
    "id": "enable_nolo_club",
    "label": "Enable No\Lo Club",
    "default": false
  }

],
"blocks": [
  {
  "type": "slide",
  "name": "Slide",
  "settings": [
        {
          "type": "text",
          "id": "drink_name",
          "label": "Drink Name"
        },
{
          "type": "text",
          "id": "brewery_name",
          "label": "Brewery Name"
        },

{
  "type": "color",
  "id": "icon_color",
  "label": "Icon Color"
}

      ]
    }
  ]
}
{% endschema %}