{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'section-tabbed-products.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tabbed-products.js' | asset_url }}" defer></script>

<div class="best-sellers-block page-width">
  <h2 class="best-sellers-intro__title">
    {{ section.settings['section-title'] }}
  </h2>

  <p class="best-sellers-intro__description">
    {{ section.settings['section-paragraph'] }}
  </p>

  <h3 class="best-sellers-subtitle">
    {{ section.settings.title }}
  </h3>

  <ul class="product-tabs">
    {% for block in section.blocks %}
      {% if block.type == 'collection_tab' and block.settings.collection %}
        {% assign collection = collections[block.settings.collection.handle] %}
        <li
          class="product-tab{% if forloop.first %} active{% endif %}"
          data-tab="{{ collection.handle }}"
        >
          {{ collection.title }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="product-tab-content">
    {% for block in section.blocks %}
      {% if block.type == 'collection_tab' and block.settings.collection %}
        {% assign tab_collection = collections[block.settings.collection.handle] %}
        <div
          class="product-grid{% unless forloop.first %} hidden{% endunless %}"
          data-tab="{{ tab_collection.handle }}"
        >
          {% for product in tab_collection.products limit: 4 %}
            {% render 'product-card', product: product %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="product-section__cta">
    <a href="">View All Amps</a>
  </div>
</div>

{% schema %}
{
  "name": "Tabbed Products",
  "settings": [
    {
      "type": "text",
      "id": "section-title",
      "label": "Main Heading",
      "default": "We're obsessed with good music"
    },
    {
      "type": "text",
      "id": "section-paragraph",
      "label": "Section Paragraph",
      "default": "Lorem ipsum dolor sit amet consectetur. Nunc quis felis bibendum magna lorem semper non sed. Euismod nibh arcu turpis ut montes adipiscing. Tristique leo sem lacus elementum nulla. Vestibulum dictum turpis donec neque."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best Sellers"
    }
  ],
  "blocks": [
    {
      "type": "collection_tab",
      "name": "Tab: Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed Products Block",
      "category": "Custom",
      "blocks": []
    }
  ]
}
{% endschema %}
