{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'tabs.css' | asset_url | stylesheet_tag }}

<div class="tabs{% if section.settings.secondary_background == 'none' %} color color-{{ section.settings.color_scheme }}{% endif %}">
  <div class="tabs-wrapper{% if section.settings.secondary_background == 'on_section' %} color color-{{ section.settings.color_scheme }}{% endif %}{% if section.settings.image == blank %} tabs-wrapper--narrow{% else %} page-width{% endif%}">
    <div style="text-align: {{ section.settings.heading_alignment }}">
      {%- if section.settings.caption != blank -%}
        <p class="caption-with-letter-spacing"> {{ section.settings.caption }}</p>
      {% endif %}
      {%- if section.settings.heading != blank -%}
        <h2 class="h1">{{ section.settings.heading }}</h2>
      {% endif %}
    </div>
    <div class="grid grid--1-col grid--2-col-tablet tabs__grid{% if section.settings.desktop_layout == 'image_first' %} tabs__grid--reverse{% endif %}">
      <div class="grid__item">
        {%- for block in section.blocks -%}
          <div class="accordion{% if section.settings.secondary_background == 'on_rows' %} color color-{{ section.settings.color_scheme }}{% endif %}" {{ block.shopify_attributes }}>
            <details id="Details-{{ block.id }}-{{ section.id }}"{% if section.settings.open_first_collapsible_tab and forloop.first %} open{% endif %}>
              <summary>
                <div class="summary__title">
                  {% render 'icon-accordion', icon: block.settings.icon %}
                  <h2 class="h4 accordion__title">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h2>
                </div>
                {% render 'icon-caret' %}
              </summary>
              <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                {{ block.settings.tab_content }}
                {{ block.settings.page.content }}
              </div>
            </details>
          </div>
        {%- endfor -%}
      </div>
      {%- if section.settings.image != blank -%}
        <div class="grid__item">
          <div class="tabs__media tabs__media--{{ section.settings.image_ratio }} media"
            {% if section.settings.image_ratio == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
          >
            <img
              srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
              src="{{ section.settings.image | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
          >
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.tabs.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.tabs.settings.caption.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.tabs.settings.heading.label",
      "default": "Tabs"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.tabs.settings.heading_alignment.label",
      "options": [
        {
          "value": "center",
          "label": "t:sections.tabs.settings.heading_alignment.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.tabs.settings.heading_alignment.options__2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "secondary_background",
      "label": "t:sections.tabs.settings.secondary_background.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.tabs.settings.secondary_background.options__1.label"
        },
        {
          "value": "on_rows",
          "label": "t:sections.tabs.settings.secondary_background.options__2.label"
        },
        {
          "value": "on_section",
          "label": "t:sections.tabs.settings.secondary_background.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.tabs.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.tabs.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.tabs.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.tabs.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.tabs.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.tabs.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_tab",
      "default": true,
      "label": "t:sections.tabs.settings.open_first_collapsible_tab.label"
    },
    {
      "type": "header",
      "content": "t:sections.tabs.settings.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.tabs.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.tabs.settings.image_ratio.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.tabs.settings.image_ratio.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.tabs.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.tabs.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "text_first",
          "label": "t:sections.tabs.settings.desktop_layout.options__1.label"
        },
        {
          "value": "image_first",
          "label": "t:sections.tabs.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "text_first",
      "label": "t:sections.tabs.settings.desktop_layout.label",
      "info": "t:sections.tabs.settings.desktop_layout.info"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_tab",
      "name": "t:sections.tabs.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "label": "t:sections.tabs.blocks.collapsible_tab.settings.heading.label",
          "info": "t:sections.tabs.blocks.collapsible_tab.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "t:sections.tabs.blocks.collapsible_tab.settings.tab_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.tabs.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.tabs.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tabs.presets.name",
      "blocks": [
        {
          "type": "collapsible_tab"
        },
        {
          "type": "collapsible_tab"
        },
        {
          "type": "collapsible_tab"
        },
        {
          "type": "collapsible_tab"
        }
      ]
    }
  ]
}
{% endschema %}
