{{ 'section-tabular-7923216.css' | asset_url | stylesheet_tag }}

<div class="custom-section custom-section--tabular" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header custom-section--tabular__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title {% if section.settings.title_uppercase%}uppercase{% endif %}">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <div class="custom-section--tabular__tab-buttons">
                <div class="custom-section--tabular__tab-buttons-wrapper">

                    {% for block in section.blocks %}
                        <h3 class="tab-button {% if forloop.first %}active{%endif%} tab-button-{{ section.id }}" 
                            data-tabbuttonclass='tab-button-{{ section.id }}'
                            data-tabfor='tabcontent-{{ forloop.index0 }}-{{ section.id }}'
                            data-tabcontentclass='tabcontent-{{ section.id }}'>{{ block.settings.tab_buton_label | escape }}</h3>
                    {% endfor %}

                </div>
            </div>

            <div class="custom-section--tabular__tab-contents">
                <div class="custom-section--tabular__tab-contents-wrapper">

                    {% for block in section.blocks %}
                    <div class="tabcontent fade-in tabcontent-{{ section.id }} tabcontent-{{ forloop.index0 }}-{{ section.id }}">
                    {% case block.type %}
                        {% when 'one-col'%}
                           <ul class="grid grid--1-col">
                                <li class="grid__item {% if block.settings.align_center %}center{% endif %}">{{ block.settings.one_col_first }}</li>
                            </ul>
                        {% when 'two-col'%}
                            <ul class="grid grid--1-col grid--2-col-desktop">
                                <li class="grid__item {% if block.settings.align_center_two_col_first %}center{% endif %}">{{ block.settings.two_col_first | strip_html }}</li>
                                <li class="grid__item {% if block.settings.align_center_two_col_second %}center{% endif %}">{{ block.settings.two_col_second | strip_html }}</li>
                            </ul>
                        {% when 'three-col'%}
                            <ul class="grid grid--1-col grid--3-col-desktop">
                                <li class="grid__item {% if block.settings.align_center_three_col_first %}center{% endif %}">{{ block.settings.three_col_first | strip_html }}</li>
                                <li class="grid__item {% if block.settings.align_center_three_col_second %}center{% endif %}">{{ block.settings.three_col_second | strip_html }}</li>
                                <li class="grid__item {% if block.settings.align_center_three_col_third %}center{% endif %}">{{ block.settings.three_col_third | strip_html }}</li>
                            </ul>
                    {% endcase %}
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Tabular",
        "tag": "section",
        "max_blocks": 4,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "What are you looking for?"
            },
            {
                "type": "checkbox",
                "id": "title_uppercase",
                "label": "Uppercase",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "one-col",
                "name": "One Column",
                "settings": [
                    {
                        "type": "text",
                        "id": "tab_buton_label",
                        "label": "Label",
                        "default": "One Column"
                    },
                    {
                        "type": "richtext",
                        "id": "one_col_first",
                        "label": "First Column Content",
                        "default": "<p>First column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center",
                        "label": "Center Text",
                        "default": false
                    }
                ]
            },
            {
                "type": "two-col",
                "name": "Two Columns",
                "settings": [
                    {
                        "type": "text",
                        "id": "tab_buton_label",
                        "label": "Label",
                        "default": "Two Columns"
                    },
                    {
                        "type": "richtext",
                        "id": "two_col_first",
                        "label": "First Column Content",
                        "default": "<p>First column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center_two_col_first",
                        "label": "Center Text",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "two_col_second",
                        "label": "Second Column Content",
                        "default": "<p>Second column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center_two_col_second",
                        "label": "Center Text",
                        "default": false
                    }
                ]
            },
            {
                "type": "three-col",
                "name": "Three Columns",
                "settings": [
                    {
                        "type": "text",
                        "id": "tab_buton_label",
                        "label": "Label",
                        "default": "Three Columns"
                    },
                    {
                        "type": "richtext",
                        "id": "three_col_first",
                        "label": "First Column Content",
                        "default": "<p>First column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center_three_col_first",
                        "label": "Center Text",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "three_col_second",
                        "label": "Second Column Content",
                        "default": "<p>Second column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center_three_col_second",
                        "label": "Center Text",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "three_col_third",
                        "label": "Third Column Content",
                        "default": "<p>Third column content.</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "align_center_three_col_third",
                        "label": "Center Text",
                        "default": false
                    }
                ]
            }
        ],
        "presets":[
            {
                "name": "🔰 Tabular",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "one-col"
                    },
                    {
                        "type": "two-col"
                    },
                    {
                        "type": "three-col"
                    }
                ]
            } 
        ]
    }
{% endschema %}