{% schema %}
{
  "name": "Team Section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Team"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "team_column",
      "name": "Team Column",
      "settings": [
        {
          "type": "text",
          "id": "column_name",
          "label": "Column Name",
          "default": "Katherine Ryzhaya"
        },
        {
          "type": "image_picker",
          "id": "column_image_arrow",
          "label": "Column Image Arrow"
        },
        {
          "type": "image_picker",
          "id": "column_image_main",
          "label": "Column Image Main"
        },
        {
          "type": "text",
          "id": "column_job_title",
          "label": "Column Job Title"
        },
        {
          "type": "text",
          "id": "column_description",
          "label": "Column Description"
        },
        {
          "type": "textarea",
          "id": "items_list_career",
          "label": "Items (one per line) Career",
          "default": "Renewable Natural Gas offi ales\nRIN, RTC, REC and LCFS brokerage\nRenewable PPA origination\nContract negotiations and structuring",
          "info": "Enter each item on a new line"
        },
        {
          "type": "textarea",
          "id": "items_list_education",
          "label": "Items (one per line) Education",
          "default": "Renewable Natural Gas offi ales\nRIN, RTC, REC and LCFS brokerage\nRenewable PPA origination\nContract negotiations and structuring",
          "info": "Enter each item on a new line"
        },
        {
          "type": "metaobject_list",
          "id": "column_images_social",
          "label": "Социальные иконки",
          "metaobject_type": "social_icons",
          "info": "Добавьте иконки с ссылками на соцсети"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team Columns"
    }
  ]
}
{% endschema %}

{{ 'team.css' | asset_url | stylesheet_tag }}

<section id="team" class="team-section">
  <div class="container">
    <h2 class="team-title">{{ section.settings.title }}</h2>
    <div class="team-indent"></div>

    <div class="team-columns">
      {% for block in section.blocks %}
        <div class="team-column" {{ block.shopify_attributes }}>
          <div class="team-column-wrapper">
            <div class="team-column-left-side">
              <div class="team-go-to">
                <h3 class="team-column-title">{{ block.settings.column_name }}</h3>
                <img
                  class="team-arrow"
                  src="{{block.settings.column_image_arrow | image_url}}"
                  alt="arrow-right"
                >
              </div>
              <h2 class="team-column-title">{{ block.settings.column_name }}</h2>
              <p class="team-job-title">{{ block.settings.column_job_title }}</p>
            </div>
            <img
              class="team-image-main"
              src="{{block.settings.column_image_main | image_url}}"
              alt="portfolio"
            >
          </div>
          <p class="team-description">{{ block.settings.column_description }}</p>

          <p class="team-career-history">Career History</p>
          <ul class="team-items-list">
            {% assign items = block.settings.items_list_career | newline_to_br | split: '<br />' %}
            {% for item in items %}
              <li class="team-item">{{ item | strip }}</li>
            {% endfor %}
          </ul>

          <p class="team-career-history">Education</p>
          <ul class="team-items-list education">
            {% assign items = block.settings.items_list_education | newline_to_br | split: '<br />' %}
            {% for item in items %}
              <li class="team-item">{{ item | strip }}</li>
            {% endfor %}
          </ul>

          <div class="team-social-images">
            {% for item in block.settings.column_images_social %}
              {% if item.image and item.link %}
                <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                  <img
                    src="{{ item.image | image_url: width: 40 }}"
                    alt="{{ item.alt_text | default: 'Social Icon' }}"
                    width="32"
                    height="32"
                    loading="lazy"
                  >
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
