<div id="{{ section.id }}">
  <div>
    {{ section.image.url }}
  </div>

  {{ section.headline }}
  {{ section.teaser_copy }}
  {{ section.price }}
</div>

{% schema %}
{
  "name": "t:sections.teaser.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "Highlights",
      "label": "t:sections.teaser.settings.headline.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.teaser.settings.image.label"
    },
    {
      "type": "inline_richtext",
      "id": "teaser_copy",
      "label": "t:sections.teaser.settings.teaser_copy.label"
    },
    {
      "type": "number",
      "id": "price",
      "label": "t:sections.teaser.settings.price.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.teaser.presets.name"
    }
  ]
}
{% endschema %}
