<div
  class="p-large sm:p-huge mt-8 mb-huge bg-sky w-full max-w-[720px] mx-auto"
>
  <div class="w-full flex flex-wrap gap-y-large">
    <div class="sm:basis-1/2 flex items-center">
      <h1 class="text-h-lg italic text-teal">
        {{ section.settings.title }}
      </h1>
    </div>

    <div class="sm:basis-1/2 flex flex-col gap-huge">
      <div class="flex flex-col gap-base">
        {% if section.settings.content_1 != blank %}
          <p class="text-t-sm text-teal">{{ section.settings.content_1 }}</p>
        {% endif %}

        {% if section.settings.content_2 != blank %}
          <p class="text-body-xs text-teal">{{ section.settings.content_2 }}</p>
        {% endif %}
      </div>

      <div>
        {%- if section.settings.cta_label != blank -%}
          {% assign btn_label = section.settings.cta_label | escape %}
          <a
            {% if section.settings.cta_url %}
              href="{{ section.settings.cta_url }}"
            {% else %}
              role="link" aria-disabled="true"
            {% endif %}

            class="
              inline-flex justify-center items-center gap-[10px]
              rounded-4xl disabled:bg-grey300 disabled:text-grey500
              bg-transparent border
              h-[54px] tabletUp:h-huge px-xl py-md btn-sm
              !border-teal !text-teal hover:bg-grey100 hover:bg-opacity-10 cursor-pointer
            "
          >
            {{ btn_label }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.text-teaser.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.text-teaser.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "content_1",
      "label": "t:sections.text-teaser.settings.content_1.label"
    },
    {
      "type": "textarea",
      "id": "content_2",
      "label": "t:sections.text-teaser.settings.content_2.label"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "t:sections.text-teaser.settings.cta_label.label"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "t:sections.text-teaser.settings.cta_url.label"
    }
  ],

  "presets": [
    {
      "name": "t:sections.text-teaser.presets.name"
    }
  ]
}
{% endschema %}
