{% liquid 
  case section.settings.font_color
    when 'text'
      assign color = settings.colors_font_dark
    when 'background_1'
      assign color = settings.colors_background_1
    when 'background_2'
      assign color = settings.colors_background_2
    else
      assign color = settings.colors_font_dark
    endcase
%}

<div class="SectionGrid pt-8 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Wide">
    <div class="ndesktopgrid onecol tworow w-100p">
      <div class="w-100p col-1 row-1-2">
        <img class="w-100p cover op-cc h-100p" src="{{ section.settings.imageMobile | img_url: '800x' }}" alt="{{ section.settings.imageMobile.alt | escape }}" width="768" height="1470" loading="lazy">
      </div>
      <div class="col-1 row-2 z-10">
        <h2 class="ff-heading ta-c fs-7 fw-500 lh-107 ls-m124 w-85p mx-auto mxw-320px mnw-300px mb-5" style="color: {{ color }};">{{ section.settings.heading | escape }}</h2>
        <div class="ff-body fs-2 fw-400 lh-145 ta-c mx-auto mb-5 w-300px" style="color: {{ color }}">
          {{ section.settings.text }}
        </div>
        <div class="ta-c">
          <img src="{{ section.settings.logo | img_url: '200x' }}" alt="{{ section.settings.logo.alt | escape }}" width="183" height="56" loading="lazy" class="w-183px">
        </div>
      </div>
    </div>
    <div class="desktopgrid w-100p onecol tworow-3-7">
      <div class="w-100p col-1 row-1-2 h-100p mxh-550px mxw-1300px">
        <img src="{{ section.settings.imageDesktop | img_url: '2000x' }}" alt="{{ section.settings.imageDesktop.alt | escape }}" width="1300" height="550" loading="lazy" class="cover mxw-1300px mxh-550px h-auto">
      </div>
      <div class="col-1 row-2 z-10 h-100p">
        <h2 class="ta-c ff-heading fs-38px fw-400 lh-116 ls-m124 w-45p mnw-400px mxw-506px mx-auto mb-5" style="color: {{ color }}">
          {{ section.settings.heading | escape }}
        </h2>
        <div class="ff-body fs-4 fw-300 lh-130 ta-c w-60p mx-auto mxw-675px mnw-415px mb-11" style="color: {{ color }}">
          {{ section.settings.text }}
        </div>
        <div class="ta-c">
          <img src="{{ section.settings.logo | img_url: '200x' }}" alt="{{ section.settings.logo.alt | escape }}" width="239" height="69" loading="lazy" class="w-269px">
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Text auf Bild",
  "settings": [
    {
      "type": "image_picker",
      "id": "imageDesktop",
      "label": "Hintergrundbild auf dem Desktop"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "Hintergrundbild mobil/Tablet"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logobild"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-with-text.settings.color_scheme.options__3.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-with-text.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "font_color",
      "default": "text",
      "label": "Schriftfarbe",
      "options": [
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "background_1",
          "label": "Background-1"
        },
        {
          "value": "background_2",
          "label": "Background-2"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift",
      "default": "Gut schlafen, Gutes tun!"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Text auf Bild",
      "settings": {
        "heading": "Gut schlafen, Gutes tun!",
        "color_scheme": "background-1"
      }
    }
  ]
}
{% endschema %}
