{% comment %} THE FALL – About - Tailwind Grid {% endcomment %}

<section class="min-h-screen w-full " style="margin-top: 130px;">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 px-[20px] md:px-[30px] lg:px-[50px] gap-[15px] md:gap-[20px] lg:gap-[40px] pb-[60px]">
        <div class="col-span-2 md:col-span-1 lg:col-span-2 xl:col-span-2 col-start-1">
            {% if section.settings.image %}
                {{ section.settings.image | image_url: width: 800 | image_tag: class: 'w-full h-auto object-cover' }}
            {% else %}
                <div class="w-full aspect-[3/4] bg-gray-200"></div>
            {% endif %}
        </div>

        <!-- About Text - Starts at column 4 (skipping column 3) -->
        <div class="col-span-2 md:col-span-2 md:col-start-3 lg:col-span-3 lg:col-start-4 xl:col-span-3 xl:col-start-5 font-sm leading-[1.4]">
            {{ section.settings.body | newline_to_br }}
        </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 px-[20px] md:px-[30px] lg:px-[50px] gap-[15px] md:gap-[20px] lg:gap-[40px] pb-[60px]">
        <div class="col-span-1 col-start-1 md:col-span-1  md:col-start-3 lg:col-span-1 lg:col-start-4 xl:col-span-1 xl:col-start-5 font-sm leading-[1.4]">
            <h3 class="uppercase m-0">Visit us</h3>
        </div>
        <div class="col-span-1 col-start-1 md:col-span-1 md:col-start-4 lg:col-span-2 lg:col-start-5 xl:col-span-2 xl:col-start-6 font-sm leading-[1.4]">
            <p class="m-0 mb-2">
                {{ section.settings.visit_us | newline_to_br }}
            </p>
            <p class="m-0 font-xs text-[#666]">
                {{ section.settings.visit_us_subtext | newline_to_br }}
            </p>
        </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 px-[20px] md:px-[30px] lg:px-[50px] gap-[15px] md:gap-[20px] lg:gap-[40px] pb-[60px]">
        <div class="col-span-1 col-start-1 md:col-span-1  md:col-start-3 lg:col-span-1 lg:col-start-4 xl:col-span-1 xl:col-start-5 font-sm leading-[1.4]">
            <h3 class="uppercase m-0">Hours</h3>
        </div>
        <div class="col-span-1 col-start-1 md:col-span-1 md:col-start-4 lg:col-span-2 lg:col-start-5 xl:col-span-2 xl:col-start-6 font-sm leading-[1.4]">
            <p class="m-0 mb-2">
                {{ section.settings.hours | newline_to_br }}
            </p>
            <p class="m-0 font-xs text-[#666]">
                {{ section.settings.hours_subtext }}
            </p>
        </div>
    </div>

</section>

{% schema %}
{
  "name": "TF • About",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "About Image"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Main body text",
      "default": "Founded in late 2019, The Fall was created with the contemporary, independent woman in mind..."
    },
    {
      "type": "textarea",
      "id": "visit_us",
      "label": "Visit Us Text",
      "default": "Dalston Works—Ground Floor\n9 Martel Place, London E8 2FR"
    },
    {
      "type": "textarea",
      "id": "visit_us_subtext",
      "label": "Visit Us Sub Text",
      "default": "We are near the corner of Martel Pl and Dalston Ln – input 'Dalston Works' into a maps app"
    },
    {
      "type": "textarea",
      "id": "hours",
      "label": "Opening Hours",
      "default": "Mon 4pm–7:30pm\nTue-Fri 10am–7:30pm\nSat-Sun 10am–6:30pm"
    },
    {
      "type": "textarea",
      "id": "hours_subtext",
      "label": "Opening Hours Sub Text",
      "default": "Please note we can by appointment only"
    }
  ],
  "presets": [
    {
      "name": "TF • About"
    }
  ]
}
{% endschema %}