{% comment %} THE FALL – About {% endcomment %}
{{ 'tf-about.css' | asset_url | stylesheet_tag }}

<section class="tf-about">
    <div class="tf-about__container">
        <div class="tf-about__left">
            <div class="tf-about__heading font-sm">
                About The Fall
            </div>
        </div>
        <div class="tf-about__right font-sm">
            <div class="tf-about__body">
                {{ section.settings.body | newline_to_br }}
            </div>
        </div>
    </div>
    <div class="tf-about__info">
        <div class="tf-about__info-block">
            <h3 class="tf-about__info-title font-sm">Visit Us</h3>
        </div>
        <div class="tf-about__info-block">
            <p class="tf-about__info-text font-base">
                {{ section.settings.visit_us | newline_to_br }}
            </p>
            <p class="tf-about__info-text font-xs">
                {{ section.settings.visit_us_subtext | newline_to_br }}
            </p>
        </div>
    </div>
    <div class="tf-about__info">
        <div class="tf-about__info-block">
            <h3 class="tf-about__info-title font-sm">Hours</h3>
        </div>
        <div class="tf-about__info-block">
            <p class="tf-about__info-text font-base">
                {{ section.settings.hours | newline_to_br }}
            </p>
            <p class="tf-about__info-text font-xs">
                {{ section.settings.hours_subtext }}
            </p>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "TF • About",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "About The Fall"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Main body text",
      "default": "about us..."
    },
    {
      "type": "textarea",
      "id": "visit_us",
      "label": "Visit Us Text",
      "default": "Dalston Works – Ground Floor\n9 Martel Place, London E8 2FR\n\n_We are near the corner of Martel Pl and Dalston Ln – input 'Dalston Works' into a maps app_"
    },
    {
      "type": "textarea",
      "id": "visit_us_subtext",
      "label": "Visit Us Sub Text",
      "default": "Visit Us Sub Text"
    },
    {
      "type": "textarea",
      "id": "hours",
      "label": "Opening Hours",
      "default": "Opening Hours"
    },
    {
      "type": "textarea",
      "id": "hours_subtext",
      "label": "Opening Hours Sub Text",
      "default": "Opening Hours Sub Text"
    }
  ],
  "presets": [
    {
      "name": "TF • About"
    }
  ]
}
{% endschema %}
