{% comment %} THE FALL – Appointment {% endcomment %}
{{ 'tf-appointment.css' | asset_url | stylesheet_tag }}

<section class="tf-appointment">
  <div class="tf-appointment__container">
    <div class="tf-appointment__heading font-sm">
      {{ section.settings.heading }}
    </div>

    <div class="tf-appointment__body">
      <ul class="tf-appointment__list">
        {% for block in section.blocks %}
          <li class="tf-appointment__item">
            <div class="tf-appointment__item-number font-xs">
              {{ forloop.index | prepend: '0' }}
            </div>
            <div class="tf-appointment__item-content">
              <div class="tf-appointment__item-title font-base">
                {{ block.settings.title }}
              </div>
              <p class="tf-appointment__item-subtext  font-sm">
                {{ block.settings.description }}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TF • Appointment",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Appointment Types"
    }
  ],
  "blocks": [
    {
      "type": "appointment",
      "name": "Appointment Type",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "First fitting"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "1hr appointment for your first visit to try dresses from our permanent collections."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TF • Appointment",
      "blocks": [
        { "type": "appointment", "settings": { "title": "First fitting", "description": "1hr appointment for your first visit to try dresses from our permanent collections." }},
        { "type": "appointment", "settings": { "title": "Follow up fitting", "description": "30min to retry favourites and take measurements." }},
        { "type": "appointment", "settings": { "title": "Accessories", "description": "30min styling appointment for hair accessories, veils, shoes and jewellery." }},
        { "type": "appointment", "settings": { "title": "Order pickup", "description": "30min appointment to collect your order." }},
        { "type": "appointment", "settings": { "title": "Order pickup and accessories", "description": "60min appointment to collect your order and tie it in with an accessories appointment." }},
        { "type": "appointment", "settings": { "title": "Trunk show", "description": "Specific to trunk show collections that are with us for select dates." }},
        { "type": "appointment", "settings": { "title": "Book appointment", "description": "All appointment types show live availability. We recommend reading our FAQs to answer any questions you may have about appointments, price range, the ordering process and more." }}
      ]
    }
  ]
}
{% endschema %}
