{% comment %} THE FALL – Designers {% endcomment %}
{{ 'tf-designers.css' | asset_url | stylesheet_tag }}

<section class="tf-designers">
    {% if section.settings.image != blank %}
        {{ section.settings.image | image_url: width: 2400 | image_tag: class: 'tf-hero__img', loading: 'eager' }}
    {% endif %}

    <div class="tf-designers__overlay">
        <h1 class="tf-designers__title font-xl">
            {{ section.settings.title | escape }}
        </h1>
        {% if section.settings.subtitle_label != blank %}
            <p class="tf-designers__sub font-{{ section.settings.font_size_variant_subtitle }}">{{ section.settings.subtitle_label}}</p>
        {% endif %}
        {% if section.settings.link_url != blank %}
            <a class="tf-designers__link font-{{ section.settings.font_size_variant_link }}" href="{{ section.settings.link_url }}">{{ section.settings.link_label }}</a>
        {% endif %}
    </div>
</section>

{% schema %}
{
  "name": "TF • Designers",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Background image" },
    { "type": "text", "id": "title", "label": "Title", "default": "THE—FALL" },
    { "type": "text", "id": "subtitle_label", "label": "Subtitle", "default": "Lorem ipsum" },
    {
      "type": "select",
      "id": "font_size_variant_subtitle",
      "label": "Font size subtitle",
      "default": "base",
      "options": [
        { "value": "xs",  "label": "Extra Small" },
        { "value": "sm",  "label": "Small" },
        { "value": "base","label": "Base" },
        { "value": "lg",  "label": "Large" },
        { "value": "xl",  "label": "Extra Large" },
        { "value": "xxl", "label": "XXL" }
      ]
    },
    { "type": "url", "id": "link_url", "label": "Button link" },
    { "type": "text", "id": "link_label", "label": "Button label", "default": "Shop" },
    {
      "type": "select",
      "id": "font_size_variant_link",
      "label": "Font size link",
      "default": "base",
      "options": [
        { "value": "xs",  "label": "Extra Small" },
        { "value": "sm",  "label": "Small" },
        { "value": "base","label": "Base" },
        { "value": "lg",  "label": "Large" },
        { "value": "xl",  "label": "Extra Large" },
        { "value": "xxl", "label": "XXL" }
      ]
    }
  ],
  "presets": [
    { "name": "TF • Designers" }
  ]
}
{% endschema %}

