{% comment %} THE FALL – Footer {% endcomment %}
{{ 'tf-footer.css' | asset_url | stylesheet_tag }}

<div class="footer-custom-wrapper">
    <div class="footer-custom-inner ">
        <a class="tf-topbar__logo" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
            {% if section.settings.logo != blank %}
                <img src="{{ section.settings.logo | image_url: width: 240 }}"
                     alt="{{ shop.name }}"
                     class="tf-topbar__logo-img">
            {% else %}
                <span class="tf-topbar__logo-text">{{ shop.name }}</span>
            {% endif %}
        </a>
        <nav>
            <ul class="footer-custom-menu" role="list">
                {% for link in section.settings.menu.links %}
                    <li><a class="font-xs" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

{% schema %}
{
  "name": "TF • Footer",
  "settings": [
    { "type": "image_picker", "id": "logo", "label": "Logo" },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer Menu",
      "default": "footer"
    }
  ],
  "presets": [{ "name": "TF • Footer" }]
}
{% endschema %}