{% comment %} THE FALL – Sustainability - Tailwind Grid {% endcomment %}

<section class="min-h-[92vh] w-full grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 px-[20px] md:px-[30px] lg:px-[50px] gap-[15px] md:gap-[20px] lg:gap-[40px] pt-[130px] pb-[60px] bg-[#CFCAC6]">

    <!-- Heading -->
    <div class="col-span-2 font-sm">
        <div class="uppercase mb-8">
            {{ section.settings.heading }}
        </div>
    </div>

    <!-- Sustainability Content -->
    <div class="col-span-2 col-start-1 md:col-span-2 md:col-start-3 lg:col-span-2 lg:col-start-4 xl:col-span-3 xl:col-start-5">
        <!-- Introduction -->
        {% if section.settings.intro_text != blank %}
            <div class="font-sm mb-20">
                {{ section.settings.intro_text }}
            </div>
        {% endif %}

        <!-- Sustainability Sections -->
        <ul class="list-none p-0 m-0">
            {% for block in section.blocks %}
                <li class="flex max-md:flex-col gap-6 mb-20" {{ block.shopify_attributes }}>
                    <div class="font-xs flex-shrink-0 pt-1">
                        {{ forloop.index | prepend: '0' }}
                    </div>
                    <div class="flex-1">
                        <div class="font-base mb-4">
                            {{ block.settings.title }}
                        </div>
                        <div class="font-sm">
                            {{ block.settings.description }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</section>

{% schema %}
{
  "name": "TF • Sustainability",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Sustainability"
    },
    {
      "type": "richtext",
      "id": "intro_text",
      "label": "Introduction Text",
      "default": "<p>The nature of made-to-order bridal wear is inherently sustainable in that it is not mass produced and therefore waste-free, however at The Fall we are committed to wider sustainable initiatives. We live with the awareness that everything is connected — all of our choices have an impact, and every action reverberates. As a company, we work to keep our imprint small and our practices circular, defined by the respectful use of both materials and human resources.</p><p>Below we've listed some of the ways that we are striving to reduce our environmental impact, if you have any suggestions we are more than open to hearing about them - please get in touch.</p>"
    }
  ],
  "blocks": [
    {
      "type": "sustainability_item",
      "name": "Sustainability Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Product"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<ul><li>All of our designers have been carefully selected not only for their creations, but also for their ethical and sustainable practices</li></ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TF • Sustainability",
      "settings": {
        "heading": "Sustainability",
        "intro_text": "<p>The nature of made-to-order bridal wear is inherently sustainable in that it is not mass produced and therefore waste-free, however at The Fall we are committed to wider sustainable initiatives. We live with the awareness that everything is connected — all of our choices have an impact, and every action reverberates. As a company, we work to keep our imprint small and our practices circular, defined by the respectful use of both materials and human resources.</p><p>Below we've listed some of the ways that we are striving to reduce our environmental impact, if you have any suggestions we are more than open to hearing about them - please get in touch.</p>"
      },
      "blocks": [
        {
          "type": "sustainability_item",
          "settings": {
            "title": "Product",
            "description": "<ul><li>All of our designers have been carefully selected not only for their creations, but also for their ethical and sustainable practices</li><li>Garments are produced local to each designer, promoting local manufacturing and communities, by hand and to order</li><li>Many of our designers use sustainable fabrics - please enquire for further information</li><li>Any ready-to-wear styles are ordered in low quantities to ensure that we sell what we buy in</li><li>Many of the designs we carry are created with the intention of the garment being re-worn outside of the wedding - for another part of the celebration, on honeymoon or incorporated into your daily wardrobe</li><li>We are a full circle company - you can bring your dress back to us after you've worn it to resell it to a new bride</li></ul>"
          }
        },
        {
          "type": "sustainability_item",
          "settings": {
            "title": "Packaging",
            "description": "<ul><li>Designers ship to us in minimal packaging and we reuse packaging where appropriate</li><li>Our protective dress bags are fabricated from recycled (and recyclable) non-woven polypropylene</li><li>Our 100% cotton drawstring accessories bags are reusable and compostable</li></ul>"
          }
        },
        {
          "type": "sustainability_item",
          "settings": {
            "title": "Waste",
            "description": "<ul><li>Our store has minimal waste output, however we recycle first, compost second and landfill last</li><li>We use compostable/recyclable products wherever possible - for example our compostable coffee pods</li></ul>"
          }
        }
      ]
    }
  ]
}
{% endschema %}