{{ 'section-top-navigation.css' | asset_url | stylesheet_tag }}

<div class="top-navigation color-{{ section.settings.color_scheme }} gradient">
  <nav class="top-navigation__nav page-width">
    <ul class="top-navigation__list list-unstyled" role="list">
      {%- for block in section.blocks -%}
        <li class="top-navigation__item" {{ block.shopify_attributes }}>
          <a
            href="{{ block.settings.link }}"
            class="top-navigation__link"
            {% if block.settings.link == request.path %}
              aria-current="page"
            {% endif %}
          >
            {{ block.settings.label }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>

{% schema %}
{
  "name": "Top Navigation",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Navigation Link",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Menu Item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Navigation",
      "blocks": [
        {
          "type": "link",
          "settings": {
            "label": "BRANDS"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "WOMEN"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "MEN"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "KIDS"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "SHOES"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "BAGS"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "ACCESSORIES"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "DEALS"
          }
        },
        {
          "type": "link",
          "settings": {
            "label": "JOURNAL"
          }
        }
      ]
    }
  ]
}
{% endschema %}
