<div class="blend-container uisge" style="margin-bottom: 40px; display:flex; flex-direction: column;">
  <section class="header-image tight-header mid-header">
    {% if section.settings.header_title != blank %}
      <h2>{{ section.settings.header_title }}</h2>
    {% endif %}

    <video autoplay="" muted="" loop="" playsinline="" poster="video/draining-bg.jpg">
      <source src="{{ 'draining-bg.mp4' |  asset_url  }}" type="video/mp4">
      <source src="{{ 'draining-bg.webm' |  asset_url  }}" type="video/webm">
    </video>
    <div class="lab-image1">
      <img src="{{ 'drips-white.svg' |  asset_url  }}" alt="Drops of whisky">
    </div>
  </section>

  <div class="upwards-content-grid">
    <article class="upwards">
      {% if section.settings.section_description != blank %}
        {{ section.settings.section_description }}
      {% endif %}

      {% if section.settings.small_footer_text != blank %}
        <p class="help">
          {{ section.settings.small_footer_text }}
        </p>
      {% endif %}
    </article>

    <div class="lab-image2">
      <img src="{{ 'drips-black.svg' |  asset_url  }}" alt="Drops of whisky">
    </div>
  </div>
</div>

{{ 'upwards.css' | asset_url | stylesheet_tag: preload: true }}

{% schema %}
{
  "name": "Upwards",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "header_title",
      "default": "Uisge beatha!",
      "label": "Header title"
    },
    {
      "type": "text",
      "id": "small_footer_text",
      "label": "small footer text",
      "default": "And in case you're wondering, uisge beatha is the original name for Scotch Whisky. It's pronounced 'oosh-keh—bae-ha' and means Water of Life in Scottish Gaelic (it's our version of aqua vitae, but better)."
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section title",
      "default": "<p> You've scrolled too far, head back up to complete your blend! If you need some help getting started, we have a few wee suggestions. </p>",
      "info": "Bullet points not available"
    }
  ],
  "presets": [
    {
      "name": "Uprawds"
    }
  ]
}
{% endschema %}
