{{ 'section-usp-7923216.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>


<style>
:root{
    --base-size-uspimage: {{ section.settings.image_base_size }};
}
</style>
<div class="custom-section custom-section--usp" style="background-color: {{section.settings.bg_color}}">

    <div class="custom-section__bg-container"
        {% unless section.settings.bg_image == blank %}style="background-image: url('{{section.settings.bg_image | image_url}}');" {% endunless %}>
        
        <div class="{% if section.settings.page_width %}page-width{% endif %}">

            {% if section.settings.title != blank or section.settings.subtitle != blank%}
            <div class="custom-section__header center">
                {% unless section.settings.title == blank %}
                {% if section.settings.title_top_line %}<div class="custom-section__header--top-line"></div>{% endif %}
                <h2 class="custom-section__header--title">{{ section.settings.title | escape }}</h2>
                {% endunless %}
                {% unless section.settings.subtitle == blank %}
                <p class="custom-section__header--subtitle">{{ section.settings.subtitle | escape }}</p>
                {% endunless%}
            </div>
            {% endif %}

            <ul class="custom-section--usp__grid grid {% unless section.settings.mobile_one_col %}grid--2-col{% else %}grid--1-col{% endunless %} grid--4-col-desktop"
                id="Slider-{{ section.id }}"
                role="list">

                {%- for block in section.blocks -%}
                    <li class="grid__item  custom-section--usp__list"
                        id="Slide-{{ section.id }}-{{ forloop.index }}">

                        <div class="custom-section--usp__card center">
                            {% unless block.settings.image == blank %}
                                <img
                                    src="{{ block.settings.image | img_url: '180x' }}"
                                    alt="{% unless block.settings.image.alt == blank %}{{ block.settings.image.alt }}{% else %}{{ block.settings.name }}{% endunless %}"
                                    loading="lazy"
                                >
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><polyline stroke="var(--color-primary-light)" points="21 15 16 10 5 21"></polyline><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle stroke="var(--color-primary)" cx="8.5" cy="8.5" r="1.5"></circle></svg>
                            {% endunless %}

                            <h3>{{ block.settings.name | escape }}</h3>
                            {% unless block.settings.description == blank %}
                                <p>{{ block.settings.description | strip_html }}</p>
                            {% endunless %}
                        </div>
                    
                    </li>
                {%- endfor -%}
            
            </ul>

            {% if section.settings.show_btn %}
            <div class="custom-section__button center">
                {% render 'button-7923216',
                    btn_label: section.settings.btn_label,
                    btn_link: section.settings.btn_link,
                    btn_size: section.settings.btn_size,
                    hover_effect: section.settings.hover_effect,
                    shadow_effect: section.settings.shadow_effect,
                    auto_width: section.settings.auto_width
                %}
            </div>
            {% endif %}

        </div>
    </div>
</div>


{% schema %}
    {
        "name": "🔰 USP",
        "tag": "section",
        "max_blocks": 6,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Why Choose Us"
            },
            {
                "type": "checkbox",
                "id": "title_top_line",
                "label": "Show Top line",
                "default": true
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Amet massa vitae tortor condimentum."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "range",
                "id": "image_base_size",
                "min": 0.5,
                "max": 2,
                "step": 0.1,
                "label": "Logo Base Size",
                "default": 1
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "swipe_on_mobile",
                "default": true,
                "label": "Swipe on mobile"
            },
            {
                "type": "checkbox",
                "id": "mobile_one_col",
                "label": "One Column for Mobile",
                "default": false,
                "info": "Default: 2 Column"
            },
            {
                "type": "header",
                "content": "Button Settings"
            },
            {
                "type": "checkbox",
                "id": "show_btn",
                "label": "Show Button",
                "default": true
            },
            {
                "type":"text",
                "id":"btn_label",
                "label":"Label",
                "default":"Shop Now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "btn_size",
                "label": "Button Size",
                "options": [
                    {
                    "value": "default",
                    "label": "Default"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    }
                ],
                "default": "default"
            },
            {
                "type": "select",
                "id": "hover_effect",
                "label": "Hover Effect",
                "options": [
                    {
                    "value": "lighten",
                    "label": "Lighten Effect"
                    },
                    {
                    "value": "color-switch",
                    "label": "Color Switch Effect"
                    },
                    {
                    "value": "slide",
                    "label": "Slide Effect"
                    },
                    {
                    "value": "shine",
                    "label": "Shine Effect"
                    }
                ],
                "default": "shine"
            },
            {
                "type": "checkbox",
                "id": "shadow_effect",
                "label": "Enable Shadow Effect",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "auto_width",
                "label": "Enable Auto Width",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "usp",
                "name": "USP Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image",
                        "info": "Recommended: 250px x 250px"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name",
                        "default": "FREE Shipping"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description",
                        "default": "<p>Sagittis nisl rhoncus mattis rhoncus urna neque viverra.</p>"
                    }
                ]
            }
        ],
        "presets":[
            {
                "name": "🔰 USP",
                "category": "Custom Section",
                "blocks":[
                    {
                        "type": "usp"
                    },
                    {
                        "type": "usp"
                    },
                    {
                        "type": "usp"
                    },
                    {
                        "type": "usp"
                    }
                ]
            } 
        ]
    }
{% endschema %}