{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'variant-list.css' | asset_url | stylesheet_tag }}

<script src="{{ 'variant-list.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<variant-list
  class="page-width section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient"
  id="variant-list"
  data-id="{{ section.id }}"
>
  <form class="variant-list__contents critical-hidden" method="post">
    <div class="variant-list__container" id="main-variant-items">
      <div class="js-contents">
        <table class="variant-list__table">
          <caption class="visually-hidden">
            {{ 'sections.cart.title' | t }}
          </caption>
          <thead>
            <tr>
              <th class="caption-with-letter-spacing" scope="col">
                {%- if product.has_only_default_variant -%}
                  {{ 'sections.variant_list.product' | t }}
                {%- else -%}
                  {{ 'sections.variant_list.variant' | t }}
                {%- endif -%}
              </th>
              <th class="medium-hide large-up-hide right caption-with-letter-spacing" scope="col">
                {%- if product.has_only_default_variant -%}
                  {{ 'sections.variant_list.product_total' | t }}
                {%- else -%}
                  {{ 'sections.variant_list.variant_total' | t }}
                {%- endif -%}
              </th>
              <th class="variant-list__table-heading--wide small-hide caption-with-letter-spacing" scope="col">
                {{ 'products.product.quantity.label' | t }}
              </th>
              <th class="variant-list__table-heading--wide small-hide caption-with-letter-spacing" scope="col">
                {{ 'sections.cart.headings.price' | t }}
              </th>
              <th class="small-hide right caption-with-letter-spacing" scope="col">
                {%- if product.has_only_default_variant -%}
                  {{ 'sections.variant_list.product_total' | t }}
                {%- else -%}
                  {{ 'sections.variant_list.variant_total' | t }}
                {%- endif -%}
              </th>
            </tr>
          </thead>

          <tbody>
            {%- if product.has_only_default_variant -%}
              {%- render 'variant-list-row',
                item: product,
                image: product.featured_media,
                sku: product.selected_or_first_available_variant.sku,
                variant: product.selected_or_first_available_variant
              -%}
            {%- else -%}
              {%- for variant in product.variants -%}
                {%- render 'variant-list-row',
                  item: variant,
                  image: variant.image,
                  sku: variant.sku,
                  variant: variant
                -%}
              {%- endfor -%}
            {%- endif -%}
          </tbody>
        </table>
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p
      class="visually-hidden"
      id="shopping-cart-variant-item-status"
      aria-live="polite"
      aria-hidden="true"
      role="status"
    >
      {{ 'accessibility.loading' | t }}
    </p>
  </form>

  {%- unless product.has_only_default_variant -%}
    <div class="variant-list__total" id="variant-list-total">
      <div class="small-hide">
        <a href="/cart" class="variant-list__button button button--secondary">
          {{- 'sections.variant_list.view_cart' | t -}}
        </a>
      </div>
      <div class="variant-remove-total">
        {%- render 'loading-overlay' -%}
        <variant-list-remove-all-button class="button button--tertiary">
          {% render 'icon-remove' %}
          {{ 'sections.variant_list.remove_all_items' | t }}
        </variant-list-remove-all-button>
      </div>
      <div class="variant-list__total-items">
        <h3>0</h3>
        <p class=" h5">{{ 'sections.variant_list.total_items' | t }}</p>
      </div>
      <div class="totals">
        <div class="totals__product-total">
          <h3 class="totals__subtotal-value">Placeholder</h3>
          <p class="totals__subtotal h5">{{ 'sections.variant_list.product_total' | t }}</p>
        </div>
        <small class="tax-note caption-large rte">
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- elsif cart.taxes_included -%}
            {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
          {%- elsif shop.shipping_policy.body != blank -%}
            {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
          {%- else -%}
            {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
          {%- endif -%}
        </small>
      </div>
      <div class="medium-hide large-up-hide">
        <a href="/cart" class="variant-list__button button button--secondary">
          {{- 'sections.variant_list.view_cart' | t -}}
        </a>
      </div>
    </div>
  {%- endunless -%}
  <div id="variant-list-errors"></div>
</variant-list>

{% schema %}
{
  "name": "Bulk Buying List",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
      "label": "t:sections.variant-list.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.variant-list.settings.show_sku.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.variant-list.presets.name"
    }
  ]
}
{% endschema %}
