{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="sliderContainer video-slider-header {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}
  <div class="page-width">
    <div class="video-slider">
      {% for block in section.blocks %}
        <div class="sliderItem">
          <a href="{{ block.settings.url }}" target="_blank">
            <div class="playIcon">
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="video cover"/></div>
          </a>
          <a href="{{ block.settings.url }}" target="_blank">{{
          block.settings.heading
        }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      }, {
        "id": "heading",
        "type": "text",
        "label": "Header",
        "default": "Title"
      }

    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Video Image"
          }, {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Title"
          }, {
            "id": "url",
            "type": "text",
            "label": "Video URL"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .video-slider-header .slick-track {
    margin-bottom: 30px;
  }
{% endstylesheet %}