<script>
  console.log('wagashi_season_list', {{ page.metafields.custom.wagashi_season_list.value | json }})
</script>

{% assign list_count = page.metafields.custom.wagashi_season_list.value.count %}

<div class="wagashi-season-list">
  <div class="page-width">
    <header class="wagashi-header-01">
      <h2 class="wagashi-header-01-text">Popular Snacks by <span>Season</span></h2>
    </header>
  </div>
  {% if list_count < 3 %}
  <div class="page-width">
  {% endif %}
    <div class="wagashi-season-list-items">
    <section class="splide splide-wagashi-season-list">
      <div class="splide__track">
        <ul class="splide__list">
          {%- for season in page.metafields.custom.wagashi_season_list.value -%}
          <li class="splide__slide">
            <a href="/pages/season/{{ season.system.handle }}" class="wagashi-season-list-item">
              <img src="{{ season.thumbnail | img_url: '580x936' }}" width="580" alt="" class="wagashi-season-list-item-thumbnail" />
              <div class="wagashi-season-list-item-body">
                <p class="wagashi-season-list-item-name">Wagashi<br>in {{ season.name }}</p>
              </div>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
  </div>
  {% if list_count < 3 %}
  </div>
  {% endif %}
</div>


<script>
  const wagashi_season_list = {{ page.metafields.custom.wagashi_season_list.value | json }}

  document.addEventListener('DOMContentLoaded', () => {
    const splide = new Splide('.splide.splide-wagashi-season-list', {
      type : 'loop',
      drag : 'free',
      // focus : 'center',
      perPage: 3,
      autoWidth: true,
      arrows: false,
      snap: true,
      speed: 1200
    }).mount();

    if (wagashi_season_list.length <= 3) {
      splide.destroy()
    }
  })
</script>

{% schema %}
  {
    "name": "Wagashi season list",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Wagashi season list",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}