<script>
  {% comment %}console.log('wagashi_kv_list', {{ page.metafields.custom.wagashi_kv_list.value | json }}){% endcomment %}
</script>

<div
{% if section.settings.id_name != blank %}id="{{ section.settings.id_name }}"{% endif %}
class="wagashi-kv"
>
  <h1 class="hidden-heading">Wagashipedia</h1>
  <section class="splide splide-key-visual-index">
    <div class="splide__track">
      <ul class="splide__list">
        {%- for wagashi in page.metafields.custom.wagashi_kv_list.value -%}
          {% assign url = '' %}
          {% if wagashi.system.type == 'wagashi_dictionary' %}
            {% assign url = '/pages/wagashipedia/' | append: wagashi.system.handle %}
          {% elsif wagashi.system.type == 'wagashi_area' %}
            {% assign url = '/pages/area/' | append: wagashi.system.handle %}
          {% elsif wagashi.system.type == 'wagashi_season' %}
            {% assign url = '/pages/season/' | append: wagashi.system.handle %}
          {% endif %}
          <li class="splide__slide wagashi-kv -index">
            <div class="wagashi-kv-image-box">
              <picture>
                {% if wagashi.key_visual_mobile != blank %}
                <source srcset="{{ wagashi.key_visual_mobile | img_url: '780x908' }}" media="(max-width: 768px)" />
                {% endif %}
                <img src="{{ wagashi.key_visual | img_url: '1920x1200' }}" alt="" class="wagashi-kv-image {% if wagashi.key_visual_mobile != blank %}has-mobile{% endif %}" />
              </picture>
            </div>
            <div class="page-width">
              <div class="wagashi-kv-body">
                <div>
                  <hgroup class="wagashi-kv-hgroup">
                    <p class="wagashi-kv-subtitle" {% if wagashi.english_title_color %}style="color: {{ wagashi.english_title_color }}"{% endif %}>{{ wagashi.title }}</p>
                    <p class="wagashi-kv-title" style="color: {{ wagashi.primary_color }}">{{ wagashi.title_en }}</p>
                  </hgroup>
                  <p class="wagashi-kv-description" {% if wagashi.english_title_color %}style="color: {{ wagashi.english_title_color }}"{% endif %}>{{ wagashi.description | newline_to_br }}</p>
                  <div class="wagashi-kv-button">
                    <a href="{{ url }}">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </section>
</div>

<script>
  new Splide('.splide.splide-key-visual-index', {
    type: 'fade',
    rewind: true,
    autoplay: true,
    pagination: false
  }).mount();
</script>

{% schema %}
{
  "name": "Wagashi kv slide",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Wagashi kv slide",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}