{% style %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.xc-comparison__container {
  max-width: 1200px;
  margin: 0 auto;
}

.xc-comparison__flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.xc-comparison-column__title {
  font-size: 40px;
  line-height: 1.2;
  font-size: "AlrightSans-Light";
}
 
.xc-comparison-column__img-title {
  text-align: center;
  font-size: 26px;
}

.xc-comparison-column__img {
  object-fit: cover;
  width: 227px;
  height: 227px;
  margin: 0 auto;
  display: block;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.xc-comparison-column {
  padding: 50px 30px;
  border-radius: 5px;
  min-width: 400px;
}

.xc-comparison-column__line-header.hide-desk {
  display: none;
}

.xc-comparison-column__line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.xc-comparison-column__btn-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.xc-comparison-column__btn-wrapper *:empty {
  display: block;
}

.xc-comparison-column__btn-wrapper .btn {
  text-decoration: none;
  color: black;
  background: lightgray;
  padding: 7px 20px;
}

.xc-comparison-column__btn-wrapper .btn-primary {
  color: black;
  font-weight: bold;
  background: var(--gradient-base-accent-2);
  border-radius: 5px;
}

.xc-comparison-column__btn-wrapper .btn-black {
  color: white;
  background: black;
  border-radius: 5px;
}

.xc-comparison-column__line-header {
  font-size: 12pt;
  font-weight: bold;
  padding-top: 20px;
}

.xc-comparison-column__line-content {
  font-size: 12pt;
  overflow-wrap: break-word;
}

{% for block in section.blocks %}
  #block-{{ block.id }} {
    max-width: calc((100% / {{ section.blocks | size }}) - 3%);
  }

  #block-{{ block.id }} .xc-comparison-column {
    background-color: {{ block.settings.bg_color }};
    color: {{ block.settings.color }};
  }

  #block-{{ block.id }} .xc-comparison-column__separator {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 1px solid {{ block.settings.line_sep_color }};
    height: 1px;
  }

  #block-{{ block.id }} .xc-comparison-column__line-header {
    text-align: {{ block.settings.header_text_align }};
  }
{% endfor %}

#section-{{ section.id }} .xc-comparison-column__line.line1 {
  min-height: {{ section.settings.line1_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line2 {
  min-height: {{ section.settings.line2_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line3 {
  min-height: {{ section.settings.line3_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line4 {
  min-height: {{ section.settings.line4_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line5 {
  min-height: {{ section.settings.line5_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line6 {
  min-height: {{ section.settings.line6_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line7 {
  min-height: {{ section.settings.line7_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line8 {
  min-height: {{ section.settings.line8_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line9 {
  min-height: {{ section.settings.line9_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line10 {
  min-height: {{ section.settings.line10_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line11 {
  min-height: {{ section.settings.line11_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line12 {
  min-height: {{ section.settings.line12_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line13 {
  min-height: {{ section.settings.line13_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line14 {
  min-height: {{ section.settings.line14_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line15 {
  min-height: {{ section.settings.line15_min_height }}px;
}

#section-{{ section.id }} .xc-comparison-column__line.line16 {
  min-height: {{ section.settings.line16_min_height }}px;
}

@media screen and (max-width: 1200px) {
  .xc-comparison .hide-mobile {
    display: none;
  }

  .xc-comparison-column {
    min-width: unset;
  }

  .xc-comparison-column__img {
    width: 100%;
    height: auto;
  }

  .xc-comparison-column__btn-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .xc-comparison-column__btn-wrapper .btn {
    margin-bottom: 10px;
  }

  .xc-comparison-column__line-header.hide-desk {
    display: block;
  }

  {% for block in section.blocks %}
    #block-{{ block.id }} {
      max-width: calc((100% / {{ section.blocks | size | minus: 1 }}) - 3%);
    }
  {% endfor %}

  .xc-comparison-column__line-content {
    text-align: center;
  }

  #section-{{ section.id }} .xc-comparison-column__line.line12 .xc-comparison-column__line-content {
    text-align: left;
  }

  #section-{{ section.id }} .xc-comparison-column__line.line1 {
    min-height: calc({{ section.settings.line1_min_height }}px - 105px);
  }

  #section-{{ section.id }} .xc-comparison-column__line.line3 {
    min-height: calc({{ section.settings.line1_min_height }}px - 48px);
  }

  #section-{{ section.id }} .xc-comparison-column__line.line4 {
    min-height: calc({{ section.settings.line1_min_height }}px - 77px);
  }

  #section-{{ section.id }} .xc-comparison-column__line.line8 {
    min-height: calc({{ section.settings.line1_min_height }}px - 135px);
  }

  #section-{{ section.id }} .xc-comparison-column__line.line11 {
    min-height: calc({{ section.settings.line1_min_height }}px - 135px);
  }
}
{% endstyle %}
<div id="section-{{ section.id }}" class="xc-comparison color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="xc-comparison__container">
    <div class="xc-comparison__flex-wrapper">
      {% for block in section.blocks %}
        {% assign hide_block_mobile_class = "" %}
        {% if block.settings.hide_block_mobile %}
          {% assign hide_block_mobile_class = "hide-mobile" %}
        {% endif %}
        <div id="block-{{ block.id }}" class="{{ hide_block_mobile_class }}">
          {% render "xc-comparison-column", settings: block.settings %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "X-Carve Comparison",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Lines Settings"
    },
    {
      "type": "range",
      "id": "line1_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 1 Min Height",
      "default": 335
    },
    {
      "type": "range",
      "id": "line2_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 2 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line3_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 3 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line4_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 4 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line5_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 5 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line6_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 6 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line7_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 7 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line8_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 8 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line9_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 9 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line10_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 10 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line11_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 11 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line12_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 12 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line13_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 13 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line14_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 14 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line15_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 15 Min Height",
      "default": 95
    },
    {
      "type": "range",
      "id": "line16_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 16 Min Height",
      "default": 95
    }
  ],
  "blocks": [
    {
      "type": "xc-comparison-column",
      "name": "Comparison Column",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "line_sep_color",
          "label": "Line Separator Color",
          "default": "#C5C5C5"
        },
        {
          "type": "checkbox",
          "id": "hide_line_title_desk",
          "label": "Hide Line Title on Desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_block_mobile",
          "label": "Hide Block Mobile",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_buttons",
          "label": "Show Buttons",
          "default": true
        },
        {
          "type": "url",
          "id": "orange_btn_url",
          "label": "Orange Button URL"
        },
        {
          "type": "text",
          "id": "orange_btn_label",
          "label": "Orange Button Label",
          "default": "Buy now"
        },
        {
          "type": "url",
          "id": "black_btn_url",
          "label": "Black Button URL"
        },
        {
          "type": "text",
          "id": "black_btn_label",
          "label": "Black Button Label",
          "default": "Learn more"
        },
        {
          "type": "select",
          "id": "header_text_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "justify",
              "label": "Justify"
            }
          ],
          "default": "left",
          "label": "Header Text Alignment"
        },
        {
          "type": "richtext",
          "id": "optmized_for_text",
          "label": "'Who is it optimized for?'"
        },
        {
          "type": "richtext",
          "id": "target_customers_text",
          "label": "'What types of products do people make with this?'"
        },
        {
          "type": "richtext",
          "id": "cutting_area_text",
          "label": "'Cutting Area'"
        },
        {
          "type": "richtext",
          "id": "weight_text",
          "label": "'Weight'"
        },
        {
          "type": "richtext",
          "id": "gantry_text",
          "label": "'Gantry'"
        },
        {
          "type": "richtext",
          "id": "spindle_text",
          "label": "'Spindle'"
        },
        {
          "type": "richtext",
          "id": "spindle_rpm_text",
          "label": "'Spindle RPM Range'"
        },
        {
          "type": "richtext",
          "id": "accuracy_text",
          "label": "'Accuracy'"
        },
        {
          "type": "richtext",
          "id": "assembley_time_text",
          "label": "'Assembly Time'"
        },
        {
          "type": "richtext",
          "id": "materials_text",
          "label": "'Materials it can cut'"
        },
        {
          "type": "richtext",
          "id": "support_text",
          "label": "'Support'"
        },
        {
          "type": "richtext",
          "id": "software_text",
          "label": "'Software'"
        },
        {
          "type": "richtext",
          "id": "warranty_text",
          "label": "'Warranty'"
        },
        {
          "type": "html",
          "id": "price_text",
          "label": "'Price'"
        }
      ]
    }
  ],
  "presets": [
    { "name": "X-Carve Comparison"}
  ]
}
{% endschema %}
