{% style %}
.xcp-image-floating-text {
  width: 100%;
  height: 590px;
}
.xcp-image-floating-text-background-image {
    width: 100%;
    height: auto;
    min-height: 590px;
    overflow: hidden;
    object-fit: cover;
}

.xcp-image-float-text__content-wrapper--abs {
  width: 100%;
  position: absolute;
}

.xcp-image-float-text__content-wrapper--rel {
  position: relative;
  height: 590px;
}
.xcp-image-float-text__content-wrapper--center {
  max-width: 1200px;
  margin: 0 auto;
}

.xcp-image-float-text__content-wrapper {
  color: black;
  width: 365px;
  float: right;
  margin-top: 84px;
}

.xcp-image-float-text__content__title {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
}
.xcp-image-floating-text .mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .xcp-image-floating-text .desktop {
    display: none;
  }

  .xcp-image-floating-text .mobile {
    display: block;
  }
  .xcp-image-floating-text-background-image {
    min-height: unset;
    margin: 0 auto;
  }
  .xcp-image-float-text__content-wrapper {
    color: white;
    margin-top: 0;
    float: unset;
    margin: 0 auto;
  }
  .xcp-image-float-text__content-wrapper--abs, .xcp-image-float-text__content-wrapper--rel {
    position: initial;
  }

  .xcp-image-float-text__content__title {
    text-align: center;
    font-size: 24px
  }
  .xcp-image-float-text__content__content {
    text-align: center;
  }
  .xcp-image-float-text__content__button {
    width: 100%;
    text-align: center;
  }
}
{% endstyle %}
<div class="xcp-image-floating-text">
  {{ section.settings.image | image_url: width: 500 | image_tag: class: 'xcp-image-floating-text-background-image mobile'}}
  <div class="xcp-image-float-text__content-wrapper--abs">
    <div class="xcp-image-float-text__content-wrapper--rel">
      <div class="xcp-image-float-text__content-wrapper--center">
        <div class="xcp-image-float-text__content-wrapper">
          {% for block in section.blocks %}
            {% case block.type%}
            {% when 'title' %}
              <p class="xcp-image-float-text__content__title">
                {{block.settings.content}}
              </p>
            {% when 'text' %}
              <div class="xcp-image-float-text__content__content">
                {{block.settings.content}}
              </div>
            {% when 'button' %}
              <a href="{{block.settings.url}}" class="xcp-image-float-text__content__button btn btn-primary">
                {{block.settings.label}}
              </a>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {{ section.settings.image | image_url: width: 2000 | image_tag: class: 'xcp-image-floating-text-background-image desktop'}}
</div>
{% schema %}
{
  "name": "XCPro Image Floating Text",
  "tag": "section",
  "class": "section",
  "settings": [
     {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
     }
  ],
  "blocks": [
     {
       "name": "Title",
       "type": "title",
       "settings": [
         {
           "type": "html",
           "id": "content",
           "label": "Content"
         }
       ]
     },
     {
       "name": "Text",
       "type": "text",
       "settings": [
         {
           "type": "richtext",
           "id": "content",
           "label": "Content"
         }
       ]
     },
     {
       "name": "Button",
       "type": "button",
       "settings": [
         {
           "type": "text",
           "id": "label",
           "label": "Label"
         },
         {
           "type": "url",
           "id": "url",
           "label": "URL"
         }
       ]
     }

   ],
   "presets": [
      {
        "name": "XCPro Image Floating Text"
      }
   ]
}
{% endschema %}
