{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.color }};
  }

  .xcp-financing-options__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .xcp-financing-options__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #section-{{ section.id }} .xcp-financing-option__header-wrapper {
    height: {{ section.settings.header_height }}px;
  }

  .xcp-financing-option__lines-wrapper {
    list-style: none;
    padding-inline-start: 0;
    padding: 0 20px;
  }

  .xcp-financing-option__line-title.hide-desk {
    display: none;
  }

  .xcp-financing-option__line-title {
    font-weight: bold;
    font-family: "AlrightSans-Light";
    font-size: 16px;
  }

  .xcp-financing-option__line-title p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .xcp-financing-option__line-body {
    text-align: center;
    font-family: "AlrightSans-Light";
    font-size: 14px;
  }

  .xcp-financing-option__line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .xcp-financing-option__img {
    width: auto;
    margin: 0 auto;
    height: 25px;
    display: block;
  }

  {% for block in section.blocks %}
    #block-{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
      color: {{ block.settings.color }};
      border-radius: 10px;
    }

    #block-{{ block.id }} .xcp-financing-option__header-wrapper {
      background-color: {{ block.settings.header_bg_color }};
      color: {{ block.settings.header_color }};
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 10px;
    }

    #block-{{ block.id }} .xcp-financing-option__line-separator {
      display: block;
      border: 1px solid {{ block.settings.line_sep_color }};
      border-radius: 2px;
      width: {{ block.settings.separator_width }}%;
      height: 1px;
      margin: 0 auto;
    }

    #block-{{ block.id }} .xcp-financing-option__btn-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
    }

    #block-{{ block.id }} .xcp-financing-option__btn {
      font-size: 8.5px;
      background-color: {{ block.settings.bottom_btn_bg_color }};
      color: {{ block.settings.bottom_btn_color }};
      padding: 12px 37px;
    }
  {% endfor %}


  .section-{{ section.id }} .xcp-financing-option:first-child {
    max-width: {{ section.settings.first_column_max_width }}%;
  }

  .section-{{ section.id }} .xcp-financing-option {
    max-width: {{ section.settings.columns_max_width }}%;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line1 {
    min-height: {{ section.settings.line1_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line2 {
    min-height: {{ section.settings.line2_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line3 {
    min-height: {{ section.settings.line3_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line4 {
    min-height: {{ section.settings.line4_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line5 {
    min-height: {{ section.settings.line5_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line6 {
    min-height: {{ section.settings.line6_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line7 {
    min-height: {{ section.settings.line7_min_height }}px;
  }

  .section-{{ section.id }} .xcp-financing-option__line.line8 {
    min-height: {{ section.settings.line8_min_height }}px;
  }

  .xcp-financing-options__bottom-text {
    width: 75%;
    margin-left: auto;
    font-family: "AlrightSans-Light";
    font-size: 10px;
  }

  @media screen and (max-width: 1200px) {
    .xcp-financing-option__line-title.hide-desk {
      display: block;
      text-align: center;
      font-size: 14px;
    }

    .xcp-financing-option.hide-mobile {
      display: none;
    }

    .section-{{ section.id }} .xcp-financing-option {
      {% liquid
        assign blocks_count = section.blocks | size | minus: 1 
        assign block_width = 100 | divided_by: blocks_count
      %}
      width: calc({{ block_width }}% - 3%);
      min-width: 300px;
      max-width: unset;
      margin-right: 10px;
    }

    .xcp-financing-options__bottom-text {
      width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 935px) {
    .section-{{ section.id }} .xcp-financing-option {
      width: 46vw;
      min-width: unset;
      max-width: unset;
      margin-right: 10px;
    }

    .xcp-financing-options__mobile-scroll {
      min-height: 787px;
      overflow-x: scroll;
      
    }

    .xcp-financing-options__flex-wrapper {
      width: 138vw;
      justify-content: start;
    }

    {% for block in section.blocks %}
      #block-{{ block.id }} .xcp-financing-option__btn {
        padding: 12px 20px;
      }
    {% endfor %}

    .xcp-financing-option__line {
      justify-content: space-between;
    }
 
    .section-{{ section.id }} .xcp-financing-option__line.line1 {
      min-height: calc({{ section.settings.line1_min_height }}px + 85px);
    }

    .section-{{ section.id }} .xcp-financing-option__line.line6 {
      min-height: calc({{ section.settings.line6_min_height }}px + 84px);
    }

    .section-{{ section.id }} .xcp-financing-option__line.line7 {
      min-height: calc({{ section.settings.line7_min_height }}px + 84px);
    }

    .section-{{ section.id }} .xcp-financing-option__line.line8 {
      min-height: calc({{ section.settings.line8_min_height }}px + 77px);
    }
  }

  @media screen and (max-width: 400px) {
    .xcp-financing-highlight__image {
      width: 90%;
      margin: 0 auto;
    }
  }
{%- endstyle -%}

<div id="section-{{ section.id }}" class="xcp-financing-options section-{{section.id}} section-{{ section.id }}-padding">
  <div class="xcp-financing-options__container">
    <div class="xcp-financing-options__mobile-scroll">
      <div class="xcp-financing-options__flex-wrapper">
        {% for block in section.blocks %}
          {% render 'xcp-financing-option', settings: block.settings, id: block.id %} 
        {% endfor %}
      </div>
    </div>
    <div class="xcp-financing-options__bottom-text">
      {{ section.settings.bottom_text }}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "XCP Financing Options",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "richtext",
      "id": "bottom_text",
      "label": "Bottom Text"
    },
    {
      "type": "header",
      "content": "Columns Settings"
    },
    {
      "type": "range",
      "id": "first_column_max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "First Column Max Width",
      "default": 20
    },
    {
      "type": "range",
      "id": "columns_max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Columns Max Width",
      "default": 21
    },
    {
      "type": "header",
      "content": "Lines Settings"
    },
    {
      "type": "range",
      "id": "header_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Header Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line1_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 1 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line2_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 2 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line3_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 3 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line4_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 4 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line5_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 5 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line6_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 6 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line7_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 7 Min Height",
      "default": 25
    },
    {
      "type": "range",
      "id": "line8_min_height",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Line 8 Min Height",
      "default": 25
    }
  ],
  "blocks": [
    {
      "type": "financing_option",
      "name": "Financing Option",
      "settings": [
        {
          "type": "color",
          "id": "header_bg_color",
          "label": "Header Background Color"
        },
        {
          "type": "color",
          "id": "header_color",
          "label": "Header Color"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#BFBFBF"
        },
        {
          "type": "color",
          "id": "line_sep_color",
          "label": "Line Separator Color",
          "default": "#C5C5C5"
        },
        {
          "type": "range",
          "id": "separator_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Separator Width",
          "default": 80
        },
        {
          "type": "checkbox",
          "id": "show_line_title_desk",
          "label": "Show Line Title on Desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_block_mobile",
          "label": "Hide Block Mobile",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "header_logo_img",
          "label": "Header Logo Image"
        },
        {
          "type": "html",
          "id": "header_text",
          "label": "Header text"
        },
        {
          "type": "header",
          "content": "Header padding"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 12
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 12
        },
        {
          "type": "header",
          "content": "Line 1"
        },
        {
          "type": "richtext",
          "id": "line1_title",
          "label": "line1 - Title",
          "default": "<p>Who is it for?</p>"
        },
        {
          "type": "richtext",
          "id": "line1_body",
          "label": "line1 - Body"
        },
        {
          "type": "header",
          "content": "Line 2"
        },
        {
          "type": "richtext",
          "id": "line2_title",
          "label": "line2 - Title",
          "default": "<p>Interest</p>"
        },
        {
          "type": "richtext",
          "id": "line2_body",
          "label": "line2 - Body"
        },
        {
          "type": "header",
          "content": "Line 3"
        },
        {
          "type": "richtext",
          "id": "line3_title",
          "label": "line3 - Title",
          "default": "<p>Max Term Length</p>"
        },
        {
          "type": "richtext",
          "id": "line3_body",
          "label": "line3 - Body"
        },
        {
          "type": "header",
          "content": "Line 4"
        },
        {
          "type": "richtext",
          "id": "line4_title",
          "label": "line4 - Title",
          "default": "<p>Lease Fees</p>"
        },
        {
          "type": "richtext",
          "id": "line4_body",
          "label": "line4 - Body"
        },
        {
          "type": "header",
          "content": "Line 5"
        },
        {
          "type": "richtext",
          "id": "line5_title",
          "label": "line5 - Title",
          "default": "<p>Monthly Payments</p>"
        },
        {
          "type": "richtext",
          "id": "line5_body",
          "label": "line5 - Body"
        },
        {
          "type": "header",
          "content": "Line 6"
        },
        {
          "type": "richtext",
          "id": "line6_title",
          "label": "line6 - Title",
          "default": "<p>Early Payoff Option Available</p>"
        },
        {
          "type": "richtext",
          "id": "line6_body",
          "label": "line6 - Body"
        },
        {
          "type": "header",
          "content": "Line 7"
        },
        {
          "type": "richtext",
          "id": "line7_title",
          "label": "line7 - Title",
          "default": "<p>Tax Deductible</p>"
        },
        {
          "type": "richtext",
          "id": "line7_body",
          "label": "line7 - Body"
        },
        {
          "type": "header",
          "content": "Line 8"
        },
        {
          "type": "richtext",
          "id": "line8_title",
          "label": "line8 - Title",
          "default": "<p>Credit Pull</p>"
        },
        {
          "type": "richtext",
          "id": "line8_body",
          "label": "line8 - Body"
        },
        {
          "type": "header",
          "content": "Bottom Button"
        },
        {
          "type": "color",
          "id": "bottom_btn_bg_color",
          "label": "Bottom Button Background Color"
        },
        {
          "type": "color",
          "id": "bottom_btn_color",
          "label": "Bottom Button Color"
        },
        {
          "type": "text",
          "id": "bottom_btn_label",
          "label": "Bottom Button Label"
        },
        {
          "type": "url",
          "id": "bottom_btn_url",
          "label": "Bottom Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCP Financing Options"
    }
  ]
}
{% endschema %}
