{% style %}

.xcp-spec-small-text .container {
  max-width: 1200px;
  margin: 0 auto;
}

.xcp-spec-small-text.section-{{section.id}} .xcp-xcp-small-text__content {
  text-align: {{section.settings.text_align}};
  padding: {{section.settings.padding}}px;
}


{% endstyle %}
<div class="xcp-spec-small-text section-{{section.id}}">
  <div class="container">
    <div class="xcp-xcp-small-text__content">
      {{section.settings.content}}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "XCP Spec Small Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ],
      "default": "left",
      "label": "Text Allignment"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "XCPro Spec Small Text"
    }
  ]
}
{% endschema %}
