{{ 'xcp-bundle.css' | asset_url | stylesheet_tag }}
<hr class="inv-hr" />

{{section.settings.title}}

<div class="xcp-complete__hw-sw-support">
  {% for block in section.blocks %}
    <div class="xcp-complete__section xcp-complete__hw" style="background-color: {{block.settings.background_color}};">
      <img alt="{{block.settings.image.alt}}" src="{{block.settings.image | img_url: 'master' }}" />
      <h3>{{block.settings.title}}</h3>
      {{block.settings.body}}
      {% unless forloop.last %}
        <h3 class="xcp-complete__plus">+</h3>
      {% endunless %}
    </div>

  {% endfor %}
</div>

<hr class="inv-hr" />
{% schema %}
{
  "name": "XCPro Bundle",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
     {
       "name": "Bundle Item",
       "type": "xcp-bundle-item",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "richtext",
           "id": "body",
           "label": "Body"
         },
         {
           "type": "color",
           "id": "background_color",
           "label": "Background Color"
         }
       ]
     }
   ],
   "presets": [
      {
        "name": "XCPro Bundle"
      }
   ]
}
{% endschema %}
