{% assign image_blocks = section.blocks | where: 'type', 'image' %}
{% assign bottom_text_block = section.blocks | where: 'type', 'desktop_bottom_text' | first %}

{% style %}
.xcp-grid-carousel {
  padding-top: {{section.settings.padding_top}}px;
  padding-bottom: {{section.settings.padding_bottom}}px;
}

.xcp-grid-carousel__bottom-desktop-text {
  {% if bottom_text_block %}
    padding-top: {{bottom_text_block.settings.padding_top}}px;
    padding-bottom: {{bottom_text_block.settings.padding_bottom}}px;
  {% endif %}

  text-align: center;
}

.xcp-grid-carousel__grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.xcp-grid-carousel__grid img {
  width: 32%;
  min-width: 347px;
  margin-bottom: {{section.settings.grid_img_margin_bottom}}px;
}

.xcp-grid-carousel__carousel-wrapper {
  display: none;
}

.xcp-grid-carousel__carousel__left-arrow, .xcp-grid-carousel__carousel__right-arrow {
  width: 80px;
  height: 80px;
  fill: var(--gradient-base-accent-2);
  z-index: 2;
  margin-top: 30%;
  padding: 0 5px;

}

.xcp-grid-carousel__carousel-carousel--wrapper {
  position: absolute;
}
.xcp-grid-carousel__carousel-carousel {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.xcp-grid-carousel__carousel__inner--wrapper {
  overflow: hidden;
}

.xcp-grid-carousel__carousel__inner {
  flex-wrap: nowrap;
  width: 2000px;
  max-height: 223px;
}

.xcp-grid-carousel__carousel__inner img {
  position: relative;
  bottom: 115px;
  width: 79vw;
}
.xcp-grid-carousel__carousel-indicators {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
}

.xcp-grid-carousel__carousel-indicators li {
  width: 10px;
  height: 10px;
  fill: white;
  margin-right: 5px;
}

@media (max-width: 750px) {
  .xcp-grid-carousel {
    width: 90%;
    margin: 0 auto;
  }
  .xcp-grid-carousel__grid {
    display: none;
  }
  .xcp-grid-carousel__bottom-desktop-text {
    display: none;
  }
  .xcp-grid-carousel__carousel-wrapper {
    display: block;
  }
}

{% endstyle %}

<div class="xcp-grid-carousel">
  <div class="xcp-grid-carousel__grid">
    {% for img_block in image_blocks %}
      {{ img_block.settings.image | image_url: width: 347, height: 232 | image_tag }}
    {% endfor %}
  </div>
  <div class="xcp-grid-carousel__carousel-wrapper">
    <div class="xcp-grid-carousel__carousel-carousel">
      <div class="xcp-grid-carousel__carousel__left-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
      </div>
      <div class="xcp-grid-carousel__carousel__inner--wrapper">
        <div class="xcp-grid-carousel__carousel__inner">
          {% for img_block in image_blocks %}
            {% assign image_class = "xcp-grid-carousel__carousel__image-" | append: forloop.index0 %}
            {{ img_block.settings.image | image_url: width: 280 | image_tag: class: image_class }}
          {% endfor %}
        </div>
      </div>
      <div class="xcp-grid-carousel__carousel__right-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
      </div>
    </div>
    <ul class="xcp-grid-carousel__carousel-indicators">
      {% for img_block in image_blocks %}
        {% assign indicator_class = "xcp-grid-carousel__carousel__indicator-" | append: forloop.index0 %}
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="{{indicator_class}}"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
        </li>
      {% endfor %}
    </ul>
    
  </div>
  <h2 class="xcp-grid-carousel__bottom-desktop-text">
    {{bottom_text_block.settings.text}}
  </h2>
</div>
{% schema %}
{
  "name": "XCPro Grid Carousel",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "grid_img_margin_bottom",
      "label": "Grid image Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Desktop bottom text",
      "type": "desktop_bottom_text",
      "limit": 1,
      "settings": [
        {
          "type": "html",
          "id": "text",
          "label": "text"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding Top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding Bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCPro Grid Carousel"
    }
  ]
}
{% endschema %}
