{% style %}
#section-{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
  color: {{ section.settings.color }};
}

.xcp-financing-highlight {
  min-height: 450px;
}

.xcp-financing-highlight__container {
  margin: 0 auto;
  max-width: 1200px;
}

#section-{{ section.id }} .xcp-financing-highlight__container {
  padding-top: {{ section.settings.content_padding_top }}px;
}

.xcp-financing-highlight__bg-circle {
  width: 266px;
  height: 266px;
  margin: 0 auto;
  display: block;
}

#section-{{ section.id }} .xcp-financing-highlight__bg-circle {
  fill: {{ section.settings.circle_color }};
}

.xcp-financing-highlight__content-wrapper {
  max-width: 383px;
  margin: 0 auto;
}

.xcp-financing-highlight__content__abs-wrapper {
  position: absolute;
}

.xcp-financing-highlight__content__rel-wrapper {
  position: relative;
  bottom: 280px;
}

#section-{{ section.id }} .xcp-financing-highlight__header {
  text-align: center;
  color: {{ section.settings.color }};
  font-size: 16px;
  font-weight: bold;
  margin-block-end: 10px;
}

#section-{{ section.id }} .xcp-financing-highlight__highlight-text {
  font-size: 25px;
  color: {{ section.settings.highlight_color }};
  font-weight: bold;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 10px;
}

#section-{{ section.id }} .xcp-financing-highlight__highlight-text span {
  font-size: 40px;
}

.xcp-financing-highlight__content__text-wrapper {
  max-width: 243px;
  margin: 0 auto;
  border: 3px solid black;
}

.xcp-financing-highlight__content__bottom-text {
  position: relative;
  bottom: 62px;
  text-align: center;
  font-size: 10px;
  font-family: "AlrightSans-Light";
}
{% endstyle %}
<div id="section-{{ section.id }}" class="xcp-financing-highlight">
  <div class="xcp-financing-highlight__container">
    <div class="xcp-financing-highlight__center-wrapper">
      <svg class="xcp-financing-highlight__bg-circle">
        <circle cx="133" cy="133" r="133"></circle>
      </svg>
    </div>
    <div class="xcp-financing-highlight__content-wrapper">
      <div class="xcp-financing-highlight__content__abs-wrapper">
        <div class="xcp-financing-highlight__content__rel-wrapper">
          <div class="xcp-financing-highlight__content__text-wrapper">
            <h3 class="xcp-financing-highlight__header">
              {{ section.settings.header }}
            </h3>
            <p class="xcp-financing-highlight__highlight-text">
              {{ section.settings.highlight_text }}
            </p>
          </div>
          {{ section.settings.image | image_url: width: 388 | image_tag: class: "xcp-financing-highlight__image" }}
          <p class="xcp-financing-highlight__content__bottom-text">{{ section.settings.bottom_text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "XCP Financing Highlight",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "circle_color",
      "label": "Circle Color",
      "default": "#FFEDD7"
    },
    {
      "type": "range",
      "id": "content_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Content Padding Top",
      "default": 50
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "YOUR MONTHLY PAYMENT"
    },
    {
      "type": "html",
      "id": "highlight_text",
      "label": "Highlight Text"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Color",
      "default": "#F8B34F"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom text",
      "default": "*for display only. actual credit terms may vary."
    }
  ],
  "presets": [
    { "name": "XCP Financing Highlight"}
  ]
}
{% endschema %}
