{% style %}
.xcp-pick-your-pro {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.xcp-pick-your-pro .xcp-pick-your-pro__product-card {
  width: 50%;
}

.xcp-pick-your-pro .xcp-pick-your-pro__product-card__title {
  font-size: 24px;
  text-align: center;
}

.xcp-pick-your-pro .xcp-pick-your-pro__product-card__price {
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.xcp-pick-your-pro__product-card__image {
  margin: 0 auto;
  display: block;
}

.xcp-pick-your-pro .btn {
  width: 212px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
}
{% endstyle %}
{% assign product_blocks = section.blocks | where: 'type', 'product-card' %}
<div class="xcp-pick-your-pro">
  {% for block in product_blocks %}
    <div class="xcp-pick-your-pro__product-card">
      {{block.settings.image | image_url: width: 300, height: 300 | image_tag: class: 'xcp-pick-your-pro__product-card__image' }}
      <h4 class="xcp-pick-your-pro__product-card__title">{{block.settings.product.title}}</h4>
      {% render 'xcp-affirm-overview', product: block.settings.product %}
      <p class="xcp-pick-your-pro__product-card__price">{{block.settings.product.price | money }}</p>
      <a href="{{block.settings.button_link}}" class="btn btn-primary">{{block.settings.button_text}}</a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "XCP Pick Your Pro",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "Product Card",
      "type": "product-card",
      "settings": [
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Button text",
          "id": "button_text"
        },
        {
          "type": "url",
          "label": "Button link",
          "id": "button_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCP Pick Your Pro"
    }
  ]
}
{% endschema %}
