{% style %}
.xcp-spec-deco-btn .container {
  max-width: 1200px;
  margin: 0 auto;
}

.xcp-spec-deco-btn.section-{{section.id}} .xcp-spec-deco-btn__inner {
  padding: {{section.settings.inner_padding}}px;
  background-color: {{section.settings.inner_background_color}};
}

.xcp-spec-deco-btn__content-wrapper {
  position: relative;
}

.xcp-spec-deco-btn__content-wrapper--abs {
  position: absolute;
  width: 100%;
  margin-top: 60px;
}

.xcp-spec-deco-btn__content__text {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
  line-height: 32px;
}

.xcp-spec-deco-btn__btn {
  width: 182px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 12px 30px;
}

.xcp-spec-deco-btn__image {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .xcp-spec-deco-btn__content-wrapper--abs {
    margin-top: 20px;
  }
}
{% endstyle %}
<div class="xcp-spec-deco-btn section-{{section.id}}">
  <div class="container"> 
    <div class="xcp-spec-deco-btn__inner"> 
      <div class="xcp-spec-deco-btn__content-wrapper"> 
        <div class="xcp-spec-deco-btn__content-wrapper--abs"> 
          <div class="xcp-spec-deco-btn__content__text"> 
            {{section.settings.text}}
          </div>
          <a href="{{section.settings.btn_url}}" class="btn btn-primary xcp-spec-deco-btn__btn">{{section.settings.btn_label}}</a>
        </div> 
      </div>
      {% if section.settings.image %}
        <div class="xcp-spec-deco-btn__image-wrapper"> 
          {{section.settings.image | image_url: width: 2000 | image_tag: class: "xcp-spec-deco-btn__image"}}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "XCP Spec Decorated Button",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "section_padding",
      "label": "Section Padding",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner Padding",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 30
    },
    {
      "type": "color",
      "id": "inner_background_color",
      "label": "Inner Background Color",
      "default": "#333636"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "XCP Spec Decorated Button"
    }
  ]
}
{% endschema %}
