{% assign image_blocks = section.blocks | where: 'type', 'image' %}
{% assign bottom_text_block = section.blocks | where: 'type', 'desktop_bottom_text' | first %}

{% style %}
.xcp-grid-carousel {
  padding-top: {{section.settings.padding_top}}
  padding-bottom: {{section.settings.padding_bottom}}
}

.xcp-grid-carousel__bottom-desktop-text {
  {% if bottom_text_block %}
    padding-top: {{bottom_text_block.settings.padding_top}};
    padding-bottom: {{bottom_text_block.settings.padding_bottom}};
  {% endif %}

  text-align: center;
}

.xcp-grid-carousel__grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.xcp-grid-carousel__grid img {
  width: 32%;
  min-width: 347px;
}

@media (max-width: 750px) {
}

{% endstyle %}

<div class="xcp-grid-carousel">
  <div class="xcp-grid-carousel__grid">
    {% for img_block in image_blocks %}
      {{ img_block.settings.image | image_url: width: 347, height: 232 | image_tag }}
    {% endfor %}
  </div>
  <div class="xcp-grid-carousel__carousel">
  </div>
  <h2 class="xcp-grid-carousel__bottom-desktop-text">
    {{bottom_text_block.settings.text}}
  </h2>
</div>
{% schema %}
{
  "name": "XCPro Grid Carousel",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Desktop bottom text",
      "type": "desktop_bottom_text",
      "limit": 1,
      "settings": [
        {
          "type": "html",
          "id": "text",
          "label": "text"
        },
        {
          "type": "range",
          "id": "top_padding",
          "label": "Top padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "bottom_padding",
          "label": "Bottom padding",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCPro Grid Carousel"
    }
  ]
}
{% endschema %}
