{% style %}
.section-{{ section.id }}--padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}--padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
.xcp-text-carousel .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.xcp-text-corousel__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.xcp-text-carousel__main-header {
  color: var(--gradient-base-accent-2);
  font-size: 44px;
  font-weight: 400;
  margin-block-start: 10px;
  margin-block-end: 0;
}

.xcp-text-corousel__text-side, .xcp-text-carousel__carousel-side {
  width: 50%;
}

.xcp-text-corousel__heading {
  font-size: 33px;
  line-height: 1;
  color: white;
}
.xcp-text-corousel__text {
  text-align: justify;
}

.xcp-text-corousel__carousel-side {
  width: 45%;
  margin: 0 auto;
}

.xcp-text-carousel__carousel-wrapper {
}

.xcp-text-carousel__carousel__inner--wrapper {
  height: 100%;
  width: 100%;
}

.xcp-text-carousel__carousel__inner {
  width: 100%;
  height: auto;
}
.xcp-text-carousel__image-position {
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: 340px;
}

.xcp-text-carousel__carousel__inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.xcp-text-carousel__carousel-indicators {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.xcp-text-carousel__carousel-indicators li {
  width: 10px;
  height: 10px;
  fill: white;
  margin-right: 5px;
  position: relative;
  bottom: 25px;
}

.xcp-text-carousel__carousel-indicators li .active {
  fill: var(--gradient-base-accent-2);
}

.xcp-text-carousel__carousel__left-arrow, .xcp-text-carousel__carousel__right-arrow {
  width: 30px;
  height: 30px;
  fill: var(--gradient-base-accent-2);
  z-index: 2;
  padding: 0 5px;
  margin-top: 14px;
}

.xcp-text-carousel__carousel__thumbnails {
  display: flex;
  margin: 20px auto;
}

.xcp-text-carousel__carousel__thumnail-frame {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.xcp-text-carousel__carousel__thumnail-frame img {
  height: 60px;
  width: auto;
  margin: 0 auto;
  margin-right: 10px;
}

.xcp-text-carousel__thumbnail__image.active {
  border: solid 2px white;
  border-radius: 2px;
}

.xcp-text-carousel .desktop {
  display: flex;
}

.xcp-text-carousel .mobile {
  display: none;

}

.xcp-text-carousel.section-{{section.id}} {
  background: {{section.settings.background_color}};
}

@media screen and (max-width: 750px) {
  .xcp-text-carousel .desktop {
    display: none;
  }

  .xcp-text-carousel .mobile {
    display: flex;
  }

  .xcp-text-corousel__flex-wrapper {
  }

  .xcp-text-corousel__text-side, .xcp-text-carousel__carousel-side {
    width: 100%;
  }
  .xcp-text-corousel__carousel-side {
    width: 100%;
  }

  .xcp-text-carousel__main-header {
    text-align: center;
  }

  .xcp-text-corousel__heading {
    font-size: 16px;
    text-align: center;
  }
}

{% endstyle %}
{%- assign image_blocks = section.blocks | where: 'type', 'image' -%}
<div class="xcp-text-carousel section-{{section.id}} section-{{ section.id }}--padding">
  <div class="page-width container">
    <h2 class="xcp-text-carousel__main-header">{{section.settings.main_header}}</h2>
    <div class="xcp-text-corousel__flex-wrapper">
      <div class="xcp-text-corousel__text-side">
        {% for block in section.blocks -%}
          {% case block.type %}
            {% when 'heading' %}
              <div class="xcp-text-corousel__heading">{{block.settings.content}}</div>
            {% when 'text' %}
              <div class="xcp-text-corousel__text">{{block.settings.content}}</div>
          {% endcase %}
        {% endfor -%}
      </div>
      <div class="xcp-text-corousel__carousel-side">
        <div class="xcp-text-carousel__carousel-wrapper">
          <div class="xcp-text-carousel__carousel-carousel">
            <div class="xcp-text-carousel__carousel__inner--wrapper">
              <div class="xcp-text-carousel__carousel__inner">
                <div class="xcp-text-carousel__image-position">
                  {% for img_block in image_blocks %}
                    {% assign image_class = "xcp-text-carousel__carousel__image" %}
                    {% if forloop.first %}
                      {% assign image_class = image_class | append: ' active' %}
                    {% endif %}
                    <img src="{{img_block.settings.image | image_url }}" class="{{image_class}}" width="347" data-item-index="{{forloop.index0}}"></img>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="xcp-text-carousel__carousel__thumbnails desktop">
            <div class="xcp-text-carousel__carousel__left-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>
            </div>
            <div class="xcp-text-carousel__carousel__thumnail-frame">
              {% for img_block in image_blocks %}
                {% assign image_class = "xcp-text-carousel__thumbnail__image" %}
                {% if forloop.first %}
                  {% assign image_class = image_class | append: ' active' %}
                {% endif %}
                <img src="{{img_block.settings.image | image_url }}" class="{{image_class}}" width="347" data-item-index="{{forloop.index0}}"></img>
              {% endfor %}
            </div>
            <div class="xcp-text-carousel__carousel__right-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
            </div>
          </div>
          <ul class="xcp-text-carousel__carousel-indicators mobile">
            {% for img_block in image_blocks %}
              {% assign indicator_class = "xcp-text-carousel__carousel__indicator" %}
              {% if forloop.first %}
                {% assign indicator_class = indicator_class | append: ' active' %}
              {% endif %}
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="{{indicator_class}}" data-item-index="{{forloop.index0}}"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
              </li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{'xcp-text-carousel.js' | asset_url }}"></script>
{% schema %}
{
  "name": "XCP Text Carousel",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "main_header",
      "label": "Main header"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#1d1d1d"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCP Text Carousel"
    }
  ]
}
{% endschema %}
