{% style %}
.xcp-spec .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.xcp-spec-section-{{section.id}} .inv-hr {
  width: 100%;
  background: {{section.settings.separator_color}};
}

.xcp-spec .xcp-spec__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.xcp-spec .xcp-spec__flex-wrapper h2 {
  font-size: 35px;
  font-weight: bold;
}

.xcp-spec-section-{{section.id}} .xcp-spec__header-wrapper {
  width: {{section.settings.header_wrapper_width}}%;
}

.xcp-spec__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.xcp-spec-section-{{section.id}} .xcp-spec__content-wrapper {
  width: calc(100% - {{section.settings.header_wrapper_width}}%);
}

.xcp-spec__card {
  max-width: 50%;
  margin-right: 9%;
  font-size: 18px;
}

.xcp-spec .xcp-spec__card__image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.xcp-spec__header-{{section.id}} {
  padding-top: {{section.settings.header_top_padding}}px;
}

.xcp-spec__flex-wrapper--section-{{section.id}} {
  padding-top: {{section.settings.section_top_padding}}px;
  padding-bottom: {{section.settings.section_bottom_padding}}px;
}

@media screen and (max-width: 1200px) {
  .xcp-spec__flex-wrapper {
    flex-direction: column;
  }
  .xcp-spec__header-{{section.id}} {
    padding-top: 20px;
  }

  .xcp-spec-section-{{section.id}} .xcp-spec__header-wrapper {
    width: 100%;
    text-align: center;
  }

  .xcp-spec-section-{{section.id}} .xcp-spec__content-wrapper {
    width: 100%;
  }

  .xcp-spec__card {
    width: 100%;
    max-width: unset !important;
    margin-right: 0;
    margin: 0 auto;
  }
}

{% endstyle %}
<div class="xcp-spec xcp-spec-section-{{section.id}}">
  <div class="container">
    {% if section.settings.show_top_separator %}
      <hr class="inv-hr" />
    {% endif %}
    <div class="xcp-spec__flex-wrapper xcp-spec__flex-wrapper--section-{{section.id}}">
      <div class="xcp-spec__header-wrapper">
        <h2 class="xcp-spec__header xcp-spec__header-{{section.id}}">{{section.settings.header}}</h2>
      </div>
      <div class="xcp-spec__content-wrapper">
        {% for block in section.blocks %}
          <div class="xcp-spec__card xcp-spec__card-{{block.id}}">
            {% if block.settings.image %}
              <img src="{{block.settings.image | image_url: width: 600}}" width="600" class="xcp-spec__card__image" style="width: {{block.settings.image_width | default: 600}}px; height: auto;"/>
            {% endif %}
            {% if block.settings.content %}
              <div class="xcp-spec__card__content">
                {{block.settings.content}}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% if section.settings.show_bottom_separator %}
      <hr class="inv-hr" />
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "XCP Spec",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFB256"
    },
    {
      "type": "color",
      "id": "separator_color",
      "label": "Separator color",
      "default": "#a2a2a2"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#FFB256"
    },
    {
      "type": "checkbox",
      "id": "show_top_separator",
      "label": "Show Top Separator",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_separator",
      "label": "Show Bottom Separator",
      "default": false
    },
    {
      "type": "html",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "range",
      "id": "header_top_padding",
      "label": "Header Top Padding",
      "min": 0,
      "max": 370,
      "unit": "px",
      "step": 5,
      "default": 180
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "Section Top Padding",
      "min": 0,
      "max": 500,
      "unit": "px",
      "step": 5,
      "default": 80
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "Section Bottom Padding",
      "min": 0,
      "max": 500,
      "unit": "px",
      "step": 5,
      "default": 80
    },
    {
      "type": "range",
      "id": "header_wrapper_width",
      "label": "Header Wrapper Width",
      "min": 0,
      "max": 100,
      "unit": "%",
      "step": 1,
      "default": 35
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image Width",
          "min": 0,
          "max": 1000,
          "unit": "px",
          "step": 10,
          "default": 300
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCPro Spec"
    }
  ]
}
{% endschema %}
