{{ 'xcp-bundle.css' | asset_url | stylesheet_tag }}
<hr class="inv-hr" />

<div class="xcp-complete__title">
<h2>You will get a <em>complete</em> CNC solution</h2>
</div>

<div class="xcp-complete__hw-sw-support">
  {% for block in section.blocks %}
    <div class="xcp-complete__section xcp-complete__hw">
      <img alt="{{block.settings.image.alt}}" src="{{block.settings.image.src}}" />
      <h3>{{block.settings.title}}</h3>
      {{block.settings.body}}
      <h3 class="xcp-complete__plus">+</h3>
    </div>

  {% endfor %}
  <!--
  <div class="xcp-complete__section xcp-complete__hw">
    <img src="https://cdn.shopify.com/s/files/1/0604/2982/8153/files/xcp_hardware.jpg?v=1684340948" />
    <h3>Hardware</h3>
    <ul>
      <li>X-Carve Pro 4x4 CNC Machine</li>
      <li>
        Dust Control System
        <ul>
          <li>Dust Collection Hose</li>
          <li>Dust Deputy Cyclone</li>
          <li>Fein Vacuum</li>
        </ul>
      </li>
      <li>Clamps To Hold Down Material</li>
      <li>Assembly Tools</li>
      <li>Bits For Planing, Cutting And 3d Carving</li>
    </ul>
    <h3 class="xcp-complete__plus">+</h3>
  </div>
  <div class="xcp-complete__section xcp-complete__sw">
    <img src="https://cdn.shopify.com/s/files/1/0604/2982/8153/files/xcp_software.png?v=1684340948" />
    <h3>Software</h3>
    <ul>
      <li>3 Years of Easel Pro CNC Software</li>
        <ul>
          <li>Includes 3D Carving</li>
        </ul>
      </li>
    </ul>
    <h3 class="xcp-complete__plus">+</h3>
  </div>
  <div class="xcp-complete__section xcp-complete__support">
    <img src="https://cdn.shopify.com/s/files/1/0604/2982/8153/files/xcp_support.jpg?v=1684340947" />
    <h3>Support</h3>
    <ul>
      <li>Lifetime Phone/Email Support</li>
      <li>1-Year Limited Warranty</li>
      <li>3-Year Extended Warranty (Available for $500)</li>
    </ul>
  </div>
  -->
</div>

<hr class="inv-hr" />
{% schema %}
{
  "name": "xcp-bundle",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
     {
       "name": "Bundle Item",
       "type": "xcp-bundle-item",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "richtext",
           "id": "body",
           "label": "Body"
         }
       ]
     }
   ]
}
{% endschema %}
