{% style %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
.xcp-flag--wrapper {
  display: flex;
}

.xcp-flag--wrapper svg {
  width: 40%;
  height: 65px;
  fill: var(--gradient-base-accent-2);
  stroke: var(--gradient-base-accent-2);
}

.xcp-flag--detail svg {
  width: 50px;
  height: 65px;
  fill: var(--gradient-base-accent-2);
  stroke: var(--gradient-base-accent-2);
}

.xcp-flag--detail svg path {
  transform: rotate(90deg);
}

.xcp-flag__content-wrapper--abs {
  position: absolute;
  width: 40%;
}

.xcp-flag__content-wrapper--rel {
  position: relative;
}

.xcp-flag__content-wrapper {
  font-weight: bold;
  color: black;
  width: 100%;
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 7px;
}

.xcp-flag__content-wrapper span {
  color: white;
}

.xcp-flag__content {
  width: 193px;
  float: right;
  text-align: left;
}

@media screen and (max-width: 750px) {
  .xcp-flag__content-wrapper--abs {
    width: 90%;
  }

  .xcp-flag--wrapper svg {
    width: 100%;
  }

  .xcp-flag__content-wrapper {
    text-align: left;
    margin-left: 28px;
  }

  .xcp-flag__content {
    float: left;
  }
}
{% endstyle %}
<div class="xcp-flag--wrapper section-{{ section.id }}-padding">
  <svg class="xcp-flag--body">
    <rect width="100%" height="65"/>
  </svg>
  <svg class="xcp-flag--detail">
    <path d="M0 65 L65 65 L0 0 Z" />
    <path d="M0 0 L65 0 L0 65 Z" />
  </svg>
  <div class="xcp-flag__content-wrapper--abs">
    <div class="xcp-flag__content-wrapper--rel">
      <div class="xcp-flag__content-wrapper">
        <div class="xcp-flag__content">
          {{section.settings.content}}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "XCPro Flag",
  "tag": "section",
  "class": "section",
  "settings": [
     {
       "type": "html",
       "id": "content",
       "label": "Content"
     },
     {
       "type": "range",
       "id": "padding_top",
       "min": 0,
       "max": 100,
       "step": 4,
       "unit": "px",
       "label": "t:sections.all.padding.padding_top",
       "default": 36
     },
     {
       "type": "range",
       "id": "padding_bottom",
       "min": 0,
       "max": 100,
       "step": 4,
       "unit": "px",
       "label": "t:sections.all.padding.padding_bottom",
       "default": 36
     }
  ],
  "blocks": [
  ],
  "presets": [
     {
       "name": "XCPro Flag"
     }
  ]
}
{% endschema %}
