{{ 'xcp_navbar.css' | asset_url | stylesheet_tag }}
{% assign nav_items = section.blocks | where: 'type', 'xcp-nav-item' %}

<div class="xcp-navbar__container" data-target="xcp-navbar">
  <nav class="xcp-navbar xcp-navbar__desktop">
    <span class="xcp-navbar__xcp-logo">
      <a href="/technologies/x-carve-pro">
        <span class='xcp-navbar__xcp-logo--x-carve'>X-CARVE </span>Pro
      </a>
    </span>

    <div>
      <ul class="xcp-navbar__menu--desktop">
        {% for nav_item in nav_items %}
          <li class="xcp-navbar__menu-item--desktop">
            <a href="{{nav_item.settings.href}}">{{nav_item.settings.label}}</a>
          </li>
        {% endfor %}
        <li>
          <button name="button" type="submit" class="btn btn-primary xcp-navbar__schedule-demo xcp-modal" data-target="calendly-modal-trigger" data-modal-target="xcp-demo__modal" data-modal-target-closed="xcp-demo__modal--closed" data-modal-closer="xcp-demo__modal-close">Schedule A Call</button>
        </li>
        <li>
          <a class="btn btn-primary xcp-navbar__order-now" href="/cart/add?id={{ product.variants.first.id }}&quantity=1">Order Now</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="xcp-navbar xcp-navbar__mobile">
    <span class="xcp-navbar__xcp-logo">
      <a href="/technologies/x-carve-pro">
        <span class="xcp-navbar__xcp-logo--x-carve">X-CARVE </span>Pro
      </a>  </span>

      <span class="xcp-navbar__menu-button-and-cta">
        <span class="xcp-navbar__menu-button">
          <img src="https://d2rhdy377k7eul.cloudfront.net/assets/shared/chevron-thin-down-b23145d8ba5d6aa865fb1b83982b648ed16708190ebdd5704f1a18aa1f4606ce.svg">
        </span>
        <span class="xcp-navbar__menu-button hide">
          <img src="https://d2rhdy377k7eul.cloudfront.net/assets/shared/chevron-thin-up-49f9ae0663ff97639e6cd9cdcd2477220e5c81b70df5db6682f7ba86e41951b0.svg">
        </span>

        <a class="btn btn-primary xcp-navbar__order-now" href="/presales/choose-your-xcarve-pro">Order Now</a>
      </span>
  </nav>

  <ul class="xcp-navbar__menu hide">
    <li class="xcp-navbar__menu-item">
      <p>
      <a class="xcp-modal" data-target="calendly-modal-trigger" data-modal-target="xcp-demo__modal" data-modal-target-closed="xcp-demo__modal--closed" data-modal-closer="xcp-demo__modal-close">Schedule A Call</a>
      </p>
    </li>
    {% for nav_item in nav_items %}
      <li class="xcp-navbar__menu-item">
        <p>
        <a href="{{nav_item.settings.href}}">{{nav_item.settings.label}}</a>
        </p>
      </li>
    {% endfor %}
  </ul>

</div>

<div class="xcp-demo__modal xcp-demo__modal--closed">
  <div id="calendly-inline-widget" class="xcp-demo__modal-content">
    <div class="xcp-demo__modal-close">
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>

{% comment %}
Calendly Widget
{% endcomment %}
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<script type="text/javascript">
  Calendly.initInlineWidget({
    url: 'https://calendly.com/x-carve-pro-demo',
    parentElement: document.getElementById('calendly-inline-widget'),
    prefill: {},
    utm: {}
  });
</script>

{% comment %}
Custom Mobile Nav
{% endcomment %}
<script>
const menuButtons = document.querySelectorAll(".xcp-navbar__menu-button");
menuButtons.forEach(function(menuButton) {
  menuButton.addEventListener('click', function() {
    const menu = document.querySelector('.xcp-navbar__menu')
    menu.classList.toggle('hide');
  })
})

document.querySelectorAll('[data-target="calendly-modal-trigger"]').forEach(function(calendlyTrigger) {
  calendlyTrigger.addEventListener('click', function() {
    document.querySelector('.xcp-navbar__menu').classList.toggle('hide');
  });
});
</script>
{% schema %}
{
  "name": "xcp-navbar",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
     {
       "name": "Nav Item",
       "type": "xcp-nav-item",
       "settings": [
         {
           "type": "text",
           "id": "label",
           "label": "Label"
         },
         {
           "type": "url",
           "id": "href",
           "label": "HRef"
         }
       ]
     }
 ],
 "presets": [
    {
      "name": "XCPro Navbar"
    }
 ]
}
{% endschema %}
