{{ 'yas.css' | asset_url | stylesheet_tag }}

<section class="standard">
  <p>
    {{ section.settings.text }}

    <strong> {{ section.settings.text_bold }}</strong>
  </p>
  <p class="help">
    {{ section.settings.text_help }}
  </p>
  <div class="yaldy-image1">
    <img
      height="auto"
      width="auto"
      src="{{ section.settings.image_url | image_url: width: 750, height: 600}}"
      alt=" {{ section.settings.image_about.alt }}"
    >
  </div>
</section>
{% schema %}
{
  "name": "Yass! - About",
  "presets": [
    {
      "name": "Yass! - About",
      "category": "About"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Scotch whisky is a tremendous spirit made in Scotland. Andy and Drew—that's us two cask-heided fannies above—are also made in Scotland. Two pals with a fondness for drams and a whisky-inspired idea:"
    },
    {
      "type": "text",
      "id": "text_bold",
      "label": "Text Bold",
      "default": "anyone can have a bottle of Scotch they can truly call their own."
    },
    {
      "type": "text",
      "id": "text_help",
      "label": "Text Help",
      "default": "\"Twa Andras\" is just Scots for \"two Andrews\" by the way (because we're both called Andrew). As for why we're levitating with whisky casks for heads... well, your guess is as good as ours."
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image About"
    }
  ]
}
{% endschema %}
