<section class="standard">
  <article class="hang-right">
    <h3>{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.text }}
    </p>
    <div class="yaldy-image3">
      <img
        width="auto"
        height="auto"
        src="{{ section.settings.image_url | image_url: width: 400, height: 495 }}"
        alt="{{ section.settings.image_url.alt }}"
      >
    </div>
    <p>
      {{ section.settings.text_two }}
    </p>
    <p class="help">
      {{ section.settings.text_three }}
    </p>
  </article>
  <article>
    <div class="video-embed">
      <iframe
        src="{{ section.settings.video_url }}"
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
        frameborder="0"
        allow="fullscreen; picture-in-picture"
        allowfullscreen=""
        data-ready="true"
      ></iframe>
    </div>
    <script async src="https://player.vimeo.com/api/player.js"></script>
  </article>
</section>
{% schema %}
{
  "name": "Yass! - Story",
  "presets": [
    {
      "name": "Yass! - Story"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Story"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "The idea came one day after we'd enoyed a few drams at a whisky festival in Ayr (and perhaps enjoyed it slightly more than we should have). After some food and a snooze on the train back to Glasgow we went for a few pints — and thats when the idea came to us! This concept of allowing people to blend their own bottle of Scotch... through a website!"
    },
    {
      "type": "textarea",
      "id": "text_two",
      "label": "Text Two",
      "default": "We were so excited! We discussed it more, drew up sketches, concept mocks, the works. Slowly but surely life got in the way and this idea was put back in the whisky cabinet until such a time arose that we said to each other “lets do it”. And we did. Whisky Blender was officially established in 2011... and we've been having a dram guid time ever since!"
    },
    {
      "type": "textarea",
      "id": "text_three",
      "label": "Text Three",
      "default": "Interesting wee piece of trivia for you: see that photo of us asleep in a bus stop? Drew (in the Ardbeg baseball cap) is wearinga T-shirt depicting the acrospire of a barley grain. This is an important part of the germination process and it's when the endosperm has been modified into starch. Withoutthis, there is no whisky."
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image URL"
    }
  ]
}
{% endschema %}
