{{ 'yas.css' | asset_url | stylesheet_tag }}
{{ 'owl.css' | asset_url | stylesheet_tag }}
{{ 'owl.js' | asset_url | script_tag }}

<section class="banding">
  <article class="max">
    <h3>
      {{ section.settings.title -}}
      <br>
      {{ section.settings.subtitle }}
    </h3>
    <p>{{ section.settings.intro_text }}</p>
    <ul class="owl-carousel logos owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="transition: all 6s linear 0s; width: 8640px; transform: translate3d(-5098px, 0px, 0px);"
        >
          {% for block in section.blocks %}
            <div class="owl-item cloned" style="width: auto; margin-right: 60px;">
              <li class="greatdrams" style="height: 150px; background: url({{ block.settings.image_url }});">
                <a href="{{ block.settings.url }}" target="_blank">{{ block.settings.name }}</a>
              </li>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button
        ><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
      </div>
      <div class="owl-dots">
        <button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot active"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button
        ><button role="button" class="owl-dot"><span></span></button>
      </div>
    </ul>
  </article>
</section>

{% schema %}
{
  "name": "Yass! - Famous",
  "presets": [
    {
      "name": "Yass! - Famous"
    }
  ],
  "tag": "div",
  "class": "yaldy-famous",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Look, maw!"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "We're famous!"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "Some of the places we've been featured over the years."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .yaldy-famous {
    background-color: #f4f4f4;
  }
{% endstylesheet %}
