{{ 'yas.css' | asset_url | stylesheet_tag }}
{{ 'owl.css' | asset_url | stylesheet_tag }}

<section class="banding yas-famous-section">
  <article class="max container-wb">
    <h3 class="section-title-wb">
      {{ section.settings.title -}}
      <br>
      {{ section.settings.subtitle }}
    </h3>
    <p>{{ section.settings.intro_text }}</p>
  </article>
  <div id="featured-slider-wb" class="owl-carousel ">
    {% for block in section.blocks %}
      <img
        class="yaldy-image-{{ forloop.index }}"
        height="100"
        width="auto"
        style="
          object-fit: contain;
          object-position: center top;
        "
        src="{{ block.settings.image_url | image_url: width: 200, height: 100 }}"
        alt="{{ block.settings.image_url.alt }}"
      >
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Yass! - Famous",
  "presets": [
    {
      "name": "Yass! - Famous"
    }
  ],
  "tag": "div",
  "class": "yaldy-famous",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Look, maw!"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "We're famous!"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "Some of the places we've been featured over the years."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .yas-famous-section {
    position: relative;
    /* min-height: 400px;
    @media only screen and (min-width: 600px) {
      min-height: 670px;
    } */
  }
  .yaldy-famous {
    background-color: #f4f4f4;
  }
  #featured-slider-wb {
    width: 100%;
    padding: 8px 0 80px 0;
  }
  .yaldy-image-slide {
    display: block;
    margin: 0 auto;
  }
  .video-embed {
    padding: 56.25% 0 0 0;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: rotate(1deg);
    margin-bottom: 20px;
    transition: transform 0.6s;
    background: #333333;
  }

  .video-embed:hover {
    transform: rotate(0deg);
  }

  .yaldy-image1 img,
  .yaldy-image2 img,
  .yaldy-image3 img,
  .yaldy-image4 img {
    width: 100%;
    height: auto;
  }

  .yaldy-image1,
  .yaldy-image2,
  .yaldy-image3,
  .yaldy-image4 {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    transform: rotate(-2deg);
    transition: transform 0.6s;
  }

  .yaldy-image2 {
    transform: rotate(2deg);
  }

  .yaldy-image4 {
    position: absolute;
    z-index: 4;
    top: 45px;
    left: 4vw;
    width: 35vw;
  }

  @media only screen and (min-width: 600px) {
    .yaldy-image1 {
      position: absolute;
      width: 600px;
      top: -20%;
      left: 750px;
      z-index: 2;
      transform: rotate(6deg);
    }

    .yaldy-image2 {
      position: absolute;
      width: 400px;
      bottom: -30%;
      left: 750px;
      z-index: 3;
      transform: rotate(-4deg);
    }

    .yaldy-image3 {
      position: absolute;
      width: 300px;
      top: 20%;
      left: 770px;
      z-index: 4;
      transform: rotate(-12deg);
    }

    .yaldy-image4 {
      left: 20px;
      width: 140px;
      transform: rotate(-10deg);
    }

    .logos li {
      width: 200px;
      height: 100px;
    }
  }

  @media only screen and (min-width: 1064px) {
    .yaldy-image1 {
      width: 750px;
      top: -30%;
      right: -60%;
      left: auto;
      transform: rotate(6deg);
    }

    .yaldy-image1:hover {
      transform: rotate(5deg);
    }

    .yaldy-image2 {
      width: 440px;
      bottom: -35%;
      right: -34%;
      left: auto;
      transform: rotate(-4deg);
    }

    .yaldy-image2:hover {
      transform: rotate(-5deg);
    }

    .yaldy-image3 {
      width: 400px;
      top: 10%;
      right: auto;
      left: -85%;
      transform: rotate(-12deg);
    }

    .yaldy-image3:hover {
      transform: rotate(-11deg);
    }

    .yaldy-image4 {
      left: 20px;
      width: 240px;
      transform: rotate(-15deg);
    }

    .logos li {
      width: 300px;
      height: 150px;
    }
  }
{% endstylesheet %}

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>

<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 60,
      nav: false,
      autoplay: true,
      mouseDrag: false,
      autoplayHoverPause: false,
      autoWidth: true,
      slideTransition: 'linear',
      autoplaySpeed: 6000,
      smartSpeed: 6000,
      center: true,
    });
  });
  console.log('Yass! - Famous');
</script>
