{{ 'yas.css' | asset_url | stylesheet_tag }}

<section class="banding">
  <article class="padding-40-all">
          <h3 class="section-title-wb">
{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.text }}
    </p>
    <p>
      {{ section.settings.text_two }}
    </p>
    <div class="yaldy-image2">
      <img
        height=""
        width=""
        src="{{ section.settings.image_url | image_url: width: 440, height: 300 }}"
        alt="{{ section.settings.image_url.alt }}"
      >
    </div>
  </article>
</section>

{% schema %}
{
  "name": "Yass! - How WB",
  "presets": [{ "name": "Yass! - How WB" }],
  "tag": "div",
  "class": "yaldy-how",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "How but?"
    },
    {
      "type": "text",
      "id": "text_two",
      "label": "Text Two",
      "default": "Head to the blending lab and fill your bottle with the whiskies that sound good to you. Once your bottle is full you can name it and declare yourself as the blender. Just have fun and trust your instincts!"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image URL"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .yaldy-how {
    background-color: #eaeaea;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
