{{ 'blend-it.css' | asset_url | stylesheet_tag }}

<section class="header-image tight-header">
  <h2 class="page-title-wb">
    {{ section.settings.title }}
    <br>
    {{ section.settings.subtitle }}
  </h2>
  <video autoplay="" muted="" loop="" playsinline="" poster="{{ section.settings.poster }}">
    <source src="{{ section.settings.video_url }}" type="video/mp4">
    <source src="{{ section.settings.video_webm_url }}" type="video/webm">
  </video>
</section>
{% schema %}
{
  "name": "Yass! - Hero banner WB",
  "presets": [
    {
      "name": "Yass! - Hero banner WB",
      "category": "Hero banner"
    }
  ],

  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Twa"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Andras"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Poster",
      "info": "The image that will be displayed before the video loads."
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL",
      "info": "The video file in MP4 format."
    },
    {
      "type": "url",
      "id": "video_webm_url",
      "label": "Video WebM URL",
      "info": "The video file in WebM format."
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
