{% if section.settings.product != blank %}
{%- assign product = section.settings.product -%}
<div class="page-width">
  <div class="shopify-block shopify-app-block">
    <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title }}" data-url="{{ product.url }}" data-image-url="{{ product.featured_image | img_url: 'master' }}" data-description="{{ product.title }}" data-yotpo-element-id="1"> 
  </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Yotpo reviews",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Select product"
      }
    ],
    "presets": [
      {
        "name": "Yotpo reviews"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
