{{ 'template-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{% comment %} {{ 'component-facets.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %}
  {%- if section.settings.quick_add == 'standard' -%}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{% endcomment %}

{% comment %}
  {%- if section.settings.quick_add == 'bulk' -%}
    <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{% endcomment %}

{% layout 'smshr-theme' %}

{% comment %} <div class="lg:px-large mx-auto max-w-[1920px] w-full xl:w-[1280px] min-[1600px]:w-[1600px] min-[1920px]:w-[1920px] "> {% endcomment %}
<div class="lg:px-large mx-auto max-w-[1920px] mt-large">
  {% section 'smshr-product-grid' %}
</div>
