<style>
  .egift_page {
    text-align: center;
    /* 自社サイトのデザインに応じたフォントを指定します */
    font-family: 游明朝, YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
  .egift_page--top {
    position: relative;
  }
  .egift_page--top--text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 6vw;
    color: #fff;
    font-weight: bold;
    font-size: 3.6vw;
  }
  .egift_page--section1 {
    padding: 60px 20px 20px;
  }
  .egift_page--section1--title {
    font-size: 28px;
    font-weight: bold;
  }
  .egift_page--section1--content {
    padding: 15px 0;
    font-size: 16px;
  }
  .egift_page--section1--text {
    font-size: 18px;
  }
  .egift_page--section1--explanation {
    padding: 20px 0
  }
  .egift_page--section2 {
    padding: 50px 0;
  }
  .egift_page--section2--title {
    font-size: 30px;
    font-weight: bold;
  }
  .egift_page--section2--content {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .egift_page--section2--content--1,
  .egift_page--section2--content--2,
  .egift_page--section2--content--3 {
    padding: 0 15px;
    width: 370px;
  }
  .egift_page--section2--content--1--text,
  .egift_page--section2--content--2--text,
  .egift_page--section2--content--3--text {
    font-size: 14px;
    padding: 10px 20px 20px;
  }
  .egift_page--section3 {
    padding-bottom: 50px;
  }
  .egift_page--section3--title {
    font-size: 28px;
    font-weight: bold;
  }
  .egift_page--section3--content {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .egift_page--section3--content--1,
  .egift_page--section3--content--2,
  .egift_page--section3--content--3 {
    padding: 0 15px;
    width: 370px;
  }
  .egift_page--section3--content--1--text,
  .egift_page--section3--content--2--text,
  .egift_page--section3--content--3--text {
    font-size: 14px;
    padding: 10px 0 20px;
    min-height:107.5px;
  }
  .visible-xs {
    display: none;
  }
  .invisible-xs {
    display: inline;
  }
  @media screen and (max-width: 768px) {
    .egift_page--top--text {
      bottom: 0.4vw;
      font-size: 6.2vw;
    }
    .egift_page--note {
      font-size: 20px;
    }
    .egift_page--section1--content {
      font-size: 14px;
    }
    .egift_page--section1--text {
      font-size: 16px;
    }
    .egift_page--section1--explanation {
      padding: 10px 0
    }
    .egift_page--section2--content {
      padding: 20px 0 0;
      font-size: 14px;
      display: block;
    }
    .egift_page--section2--content--1,
    .egift_page--section2--content--2,
    .egift_page--section2--content--3 {
      padding: 20px 0;
      margin: 0 auto;
    }
    .egift_page--section2--content img {
      padding-bottom: 18px;
    }
    .egift_page--section3--content {
      padding: 20px 0 0;
      font-size: 14px;
      display: block;
    }
    .egift_page--section3--content--1,
    .egift_page--section3--content--2,
    .egift_page--section3--content--3 {
      padding: 20px 0;
      margin: 0 auto;
    }
    .egift_page--section3--content img {
      padding-bottom: 18px;
    }
    .visible-xs {
      display: inline;
    }
    .invisible-xs {
      display: none;
    }
  }
</style>

<div class="egift_page">

  <div class="egift_page--section1">
    <div class="egift_page--section1--explanation">
    /* 追加した画像のファイル名を指定します */
    <img width="900" src="{{ 'egift_about-pc.png' | asset_url }}" alt="" class="invisible-xs">
    <img width="100%" src="{{ 'egift_about-sp.png' | asset_url }}" alt="" class="visible-xs">
    </div>    
  </div>

  <div class="egift_page--section2">
    <div class="egift_page--section2--title">
      eギフトの贈り方
    </div>
    <div class="egift_page--section2--content">
      <div class="egift_page--section2--content--1">
        <div class="egift_page--section2--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoSend_01.jpg' | asset_url }}" alt="">
        </div>
      </div>
      <div class="egift_page--section2--content--2">
        <div class="egift_page--section2--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoSend_02.jpg' | asset_url }}" alt="">
        </div>
      </div>
      <div class="egift_page--section2--content--3">
        <div class="egift_page--section2--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoSend_03.jpg' | asset_url }}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="egift_page--section3">
    <div class="egift_page--section3--title">
      eギフトの受け取り方
    </div>
    <div class="egift_page--section3--content">
      <div class="egift_page--section3--content--1">
        <div class="egift_page--section3--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoReceive_01.jpg' | asset_url }}" alt="">
        </div>
      </div>
      <div class="egift_page--section3--content--2">
        <div class="egift_page--section3--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoReceive_02.jpg' | asset_url }}" alt="">
        </div>
      </div>
      <div class="egift_page--section3--content--3">
        <div class="egift_page--section3--content--1--image">
	        /* 追加した画像のファイル名を指定します */
          <img width="240" src="{{ 'egift_HowtoReceive_03.jpg' | asset_url }}" alt="">
        </div>
      </div>      
    </div>
  </div>
</div>